<template>
  <div class="modal fade" id="modalAssign" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="">Modal</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          <form-loader :view="loading"></form-loader>
          <center>
            <h2 v-if="preparing">Preparing Data ..</h2>
          </center>
          <div class="table-responsive">
            <table v-if="loading === false" id="tableAssign" :class="tableClass">
              <thead>
                <tr>
                  <th>Menu</th>
                  <th v-for="act, index in action">{{act.action_name}}</th>
                </tr>
              </thead>
              <tbody>
                <td style="background-color: #eeeeee;"> <b>Pilih Semua</b> </td>
                <td style="background-color: #eeeeee;" v-for="act, index in action"> <input :disabled="!access.U" type="checkbox" v-model="tempDt.selectAll[act.id]" @click="selectAll({action_id: act.id }, $event)" true-value="Y" false-value="N" />  </td>
                <template v-for="per, index in permission">
                  <tr>
                    <td style="background: #fafbfc;cursor: pointer;" @click="toggle(per.id)" :class="{ opened: opened.includes(per.id) }">
                      <span v-if="opened.includes(per.id)" class="buttonCollapse fa fa-minus"></span>
                      <span v-else class="buttonCollapse fa fa-plus"></span>
                      &nbsp; {{per.name}}
                    </td>
                    <td style="background: #fafbfc;" v-for="act, index in action">
                      <input :disabled="!access.U" @click="selectParent({parent_id: per.id, action_id: act.id}, $event); toggleInput(per.id)"
                      type="checkbox" :value="per.id+';'+act.id" v-model="tempDt.parent['parent_' + per.id + '_' + act.id]" true-value="Y" false-value="N" />
                      <!-- {{ per.id }} -->
                    </td>
                  </tr>
                  <template v-if="opened.includes(per.id)" v-for="child, cindex in per.menu_childs">
                    <tr>
                      <td style="padding-left: 50px;">{{ child.name }}</td>
                      <td v-for="act, index in action">
                        <input :disabled="!access.U" type="checkbox" @click="unselectParent(child.parent_id, act.id)" :value="child.id+';'+act.id" v-model="tempDt.child['child_' + child.id + '_' + act.id + '_' + child.parent_id]" true-value="Y" false-value="N" />
                        <!-- {{ child.id }} -->
                      </td>
                    </tr>
                  </template>
                </template>
              </tbody>
            </table>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">{{$ml.get("global.filter.modal.form.labelClose")}}</button>
          <button v-if="access.U" type="button" :disabled="loading" @click="save" class="btn btn-primary square">Simpan</button>
        </div>
      </div>
    </div>
  </div>

</template>

<script>
import { EventBus } from '../../../event-bus.js';
import FormLoader from '../../main/FormLoader';

export default {
  props: ['roleId', 'access'],
  data: function(){
    return {
      tableClass: 'table table-hover',
      loading: false,
      preparing: false,
      all: [],
      permission : [],
      action : [],
      arrData : [],
      opened: [],
      tempDt: {
        child: {},
        parent: {},
        selectAll: {},
        cLength: [],
        pLength: [],
      },
      sendDt: []
    }
  },
  components: {
    FormLoader,
  },
  mounted() {
    var app = this;
    $("#modalAssign").modal("show");
    $('#modalAssign').on('hidden.bs.modal', function () {
      app.closeModal();
    });
    app.getMenuPermission();
  },
  methods: {
    setCollapseShow(){
      this.preparing = true;
      this.tableClass = 'table table-hover hidden-table';
      this.permission.map((data) => {
        this.opened.push(data.id)
      })
    },
    toggle(id) {
    	const index = this.opened.indexOf(id);
      if (index > -1) {
      	this.opened.splice(index, 1)
      } else {
      	this.opened.push(id)
      }
    },
    toggleInput(id) {
    	const index = this.opened.indexOf(id);
      if (index > -1) {
      	// this.opened.splice(index, 1)
      } else {
      	this.opened.push(id)
      }
    },
    selectAll(data) {
      var app = this;
      var objParent = {};
      var objChild = {};
      app.loading = true;
      app.permission.map((per, index) => { 
        app.toggleInput(per.id);
        if(event.target.checked){
            app.tempDt.parent['parent_'+ per.id + '_' + data.action_id] = 'Y';
            per.menu_childs.map((child, cindex) => { app.tempDt.child['child_'+ child.id + '_' + data.action_id + '_' + child.parent_id] = 'Y'; })
        } else {
            app.tempDt.parent['parent_'+ per.id + '_' + data.action_id] = 'N';
            per.menu_childs.map((child, cindex) => { app.tempDt.child['child_'+ child.id + '_' + data.action_id + '_' + child.parent_id] = 'N'; })
        } 
      })
      setTimeout(() => {
        app.loading = false;
      }, 500)
    },
    closeModal() {
      this.$emit("trigger");
    },
    selectParent(data){
      var app = this;
      var objParent = {};
      var objChild = {};
      app.loading = true;
      app.permission.map((per, index) => { 
        if(event.target.checked){
            per.menu_childs.map((child, cindex) => { app.tempDt.child['child_'+ child.id + '_' + data.action_id + '_' + data.parent_id] = 'Y'; })
        } else {
            per.menu_childs.map((child, cindex) => { app.tempDt.child['child_'+ child.id + '_' + data.action_id + '_' + data.parent_id] = 'N'; })
        } 
      })
      setTimeout(() => {
        app.loading = false;
      }, 200)
    },
    unselectParent(id, act){
      var app = this;
      app.loading = true;
      app.tempDt.parent['parent_' + id + '_' + act] = 'Y';
      app.tempDt.selectAll[act] = 'N';
      setTimeout(() => {
        app.loading = false;
      }, 100)
    },
    prepareDataPermission(data){
      // console.log(this.tempDt);
      // if (event.target.checked) {
      //   this.arrData.push(data);
      // } else {
      //   for (var i = 0; i < this.arrData.length; i++){
      //   	if ((this.arrData[i].menu_id && this.arrData[i].menu_id === data.menu_id) && (this.arrData[i].action_id && this.arrData[i].action_id === data.action_id)) {
      //       this.arrData.splice(i, 1);
      //       break;
      //     }
      //   }
      // }
    },
    removeA(arr) {
        var what, a = arguments, L = a.length, ax;
        while (L > 1 && arr.length) {
            what = a[--L];
            while ((ax= arr.indexOf(what)) !== -1) {
                arr.splice(ax, 1);
            }
        }
        return arr;
    },
    remove(array, key, value) {
        const index = array.findIndex(obj => obj[key] === value);
        return index >= 0 ? [
            ...this.slice(0, index),
            ...this.slice(index + 1)
        ] : this;
    },
    save(){
      // this.arrData = [];
      this.setCollapseShow();
      setTimeout(() => {
        this.loading = true;
        this.preparing = false;
        this.sendDt = this.prepareDt();
        this.axios({
          method: 'post',
          url: 'menu/setpermission/'+this.roleId,
          data: this.sendDt,
          config: { headers: {'Content-Type': 'multipart/form-data' }}
        })
        .then((resp) => {
          this.loading = false;
          this.tableClass = 'table table-hover';
          EventBus.$emit("refresh-menu", true);
          toastr.success('Data has been save', 'Success');
          $("#modalAssign").modal("hide");
        })
        .catch((resp) => {
          // alert(resp.data)
          if(typeof resp.response.data.message === 'object'){
            var errors_msg="<ul>"; var err_msg=false;
            $.each(resp.response.data.message,function(index,value){
                err_msg=true;
                errors_msg+="<li>"+value[0]+"</li>";
            });
            errors_msg+="</ul>";

            if(err_msg)
            {
              toastr.error(errors_msg);
            }
          }
          toastr.error('Failed save data', 'Gagal')
          this.tableClass = 'table table-hover';
          this.loading = false;
        })
      }, 500)
    },
    prepareDt(){
      // var objParent = {}
      // var objChild = {}
      // var arrDt = [];
      // Object.entries(this.tempDt.parent).forEach(([key, val]) => { 
      //   var menuId = key.split("_")[1];
      //   var actionId = key.split("_")[2];
        
      //   objParent = {
      //     role_id: this.roleId,
      //     menu_id: parseInt(menuId),
      //     action_id: actionId
      //   }
      //   if(val === 'Y'){
      //     arrDt.push(objParent)
      //   }
      // })
      // Object.entries(this.tempDt.child).forEach(([key, val]) => { 
      //   var menuId = key.split("_")[1];
      //   var actionId = key.split("_")[2];
        
      //   objChild = {
      //     role_id: this.roleId,
      //     menu_id: parseInt(menuId),
      //     action_id: actionId
      //   }
      //   if(val === 'Y'){
      //     arrDt.push(objChild)
      //   }
      // })
      // return arrDt;
      var app = this;
      var objParent = {}
      var objChild = {}
      var arrDt = [];
      $('#tableAssign :checked').each(function() {
        var data = $(this).val();
        let menuId = data.split(";")[0];
        let actionId = data.split(";")[1];

        objChild = {
          role_id: app.roleId,
          menu_id: menuId,
          action_id: actionId
        }
        if (objChild['menu_id'] === "on") { 
          delete objChild['role_id'];
          delete objChild['menu_id'];
          delete objChild['action_id'];
        };
        // delete objChild[NaN];
        if (Object.keys(objChild).length === 0 && objChild.constructor === Object) {
          // console.log("obj is empty!");
        } else {
          arrDt.push(objChild)
        }
      });
      // this.removeA(arrDt, 'on');
      const index = arrDt.indexOf("on");
      if (index < -1) {
      	arrDt.splice(index, 1)
      } 
      // console.log(arrDt);
      return arrDt;
    },
    getMenuPermission() {
      var app = this;
      var objParent = {};
      var objChild = {};
      app.loading=true;
      app.axios.get('menu/permissions/'+app.roleId)
      .then((resp) => {
        app.permission = resp.data.data;
        let arrCpy = [...resp.data.dataAction]
        let acts = arrCpy.map((data) => {
          let arr = {}
          let actid = data.id.replace(/\s/g, '');
          arr = { action_name: data.action_name, id: actid }
          return arr;
        });
        app.action = acts;
        app.permission.map((per, index) => {
          app.action.map((act) => {
            var valParent = Object.assign(objParent, {['parent_'+ per.id + '_' + act.id]: per[act.id] });
            app.tempDt.parent = valParent;
          })
          per.menu_childs.map((child, cindex) => {
            app.action.map((act) => {
              var valChild = Object.assign(objChild, {['child_'+ child.id + '_' + act.id + '_' + child.parent_id]: child[act.id] });
              app.tempDt.child = valChild;
            })
          })
        })
        app.loading=false;
      })
      .catch((resp) => {
        alert("error load permission");
      })
    }
  }
}
</script>

<style lang="css" scoped>
.hidden-table {
  display: none;
}
</style>
