<template>
  <div class="modal fade" id="ModalAssignRouter" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Perizinan Route API</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Route</th>
                <th v-for="act, index in action">{{act.action_name}}</th>
              </tr>
            </thead>
            <tbody>
              <td style="background-color: #eeeeee;"> <b>Pilih Semua</b> </td>
              <td style="background-color: #eeeeee;" v-for="act, index in action"> <input type="checkbox" @click="selectAll({role_id: roleId, route_id: permission.length, action_id: act.id, route_name: permission.name }, $event)" />  </td>
              <tr v-for="per, index in permission">
                <td>{{per.name}}</td>
                <td v-for="act, index in action">
                  <input @click="prepareDataPermission({role_id: roleId, route_id: per.id, action_id: act.id, route_name: per.name }, $event)"
                   type="checkbox" :checked="(per[act.id] === 'Y') ? true : false">
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" :disabled="loading" class="btn btn-outline-secondary" data-dismiss="modal">{{$ml.get("global.filter.modal.form.labelClose")}}</button>
          <button type="button" :disabled="loading" @click="save" class="btn btn-primary square">Simpan</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['roleId'],
  data: function() {
    return {
      loading: false,
      permission : [],
      action : [],
      arrData : []
    }
  },
  components: {

  },
  created() {

  },
  mounted() {
    var app = this;
    $("#ModalAssignRouter").modal("show");
    $('#ModalAssignRouter').on('hidden.bs.modal', function () {
      app.closeModal();
    });
    app.getMenuPermission();
  },
  methods: {
    selectAll(data) {
      // console.log(event.target.checked);
      this.permission.map(per => {
        this.action.map(act => {
          if(event.target.checked){
            per[data.action_id] = 'Y';
            const found = this.arrData.some(el => el.route_id === per.id && el.action_id === data.action_id);
            if (!found) this.arrData.push({role_id: this.roleId, route_id: per.id, action_id: data.action_id, route_name: per.name });
          } else {
            per[data.action_id] = 'N';
            for (var i = 0; i < this.arrData.length; i++){
              if ((this.arrData[i].route_id && this.arrData[i].route_id === per.id) && (this.arrData[i].action_id && this.arrData[i].action_id === data.action_id)) {
                this.arrData.splice(i, 1);
                break;
              }
            }
          }
        })
      })
    },
    closeModal() {
      this.$emit("trigger");
    },
    prepareDataPermission(data){
      console.log(data);
      if (event.target.checked) {
        this.arrData.push(data);
      } else {
        for (var i = 0; i < this.arrData.length; i++){
        	if ((this.arrData[i].route_id && this.arrData[i].route_id === data.route_id) && (this.arrData[i].action_id && this.arrData[i].action_id === data.action_id)) {
            this.arrData.splice(i, 1);
            break;
          }
        }
      }
    },
    remove(array, key, value) {
        const index = array.findIndex(obj => obj[key] === value);
        return index >= 0 ? [
            ...this.slice(0, index),
            ...this.slice(index + 1)
        ] : this;
    },
    save(){
      this.loading = true;
      var data = {data: this.arrData};
      var bodyFormData = new FormData();
      bodyFormData.set('data', JSON.stringify(this.arrData));
      this.axios({
        method: 'post',
        url: 'route/setpermission/'+this.roleId,
        data: bodyFormData,
        config: { headers: {'Content-Type': 'multipart/form-data' }}
      })
      .then((resp) => {
        toastr.success(resp.data.message);
        $("#ModalAssignRouter").modal("hide");
        this.loading = false;
      })
      .catch((resp) => {
        this.loading = false;
        toastr.error(resp.response.data.message);
      })
    },
    getMenuPermission() {
      var app = this;
      app.loading=true;
      app.axios.get('route/permission/'+app.roleId)
      .then((resp) => {
        app.permission = resp.data.data;
        app.action = resp.data.dataAction;
        app.permission.map((per) => {
          app.action.map((act) => {
            if (per[act.id] === 'Y') {
              app.arrData.push({role_id: app.roleId, route_id: per.id, action_id: act.id, route_name: per.name });
            }
          })
        })
        app.loading=false;
      })
      .catch((resp) => {
        alert("error load permission");
      })
    }
  }


}
</script>

<style lang="css" scoped>
</style>
