<template lang="html">
	<div style="overflow-x:auto;">
		<table id="tableSuratJalanDetail" class="table table-xs table-bordered display nowrap">
			<thead>
				<tr>
					<th rowspan="2" style="padding-bottom: 20px;">#</th>
					<th rowspan="2" style="padding-bottom: 20px;">Sales Order</th>
					<th rowspan="2" style="padding-bottom: 20px;">No PKP</th>
					<th rowspan="2" style="padding-bottom: 20px;">Kecamatan</th>
					<th rowspan="2" style="padding-bottom: 20px;">Nama Pengecer</th>
					<th rowspan="2" style="padding-bottom: 20px;">Kode Pengecer</th>
          <th>Urea</th>
					<th>SP-36</th>
					<th>ZA</th>
					<th>NPK</th>
					<th>NPK Kakao</th>
					<th>Organik Granul</th>
					<th>POC</th>
					<th rowspan="2" style="padding-bottom: 20px;">Aksi</th>
				</tr>
        <tr>
					<th style="text-align: center;" colspan="6">Ton</th>
					<th style="text-align: center;" colspan="1">Liter</th>
        </tr>
			</thead>
			<tbody>
				<template v-for="(item, i) in dataSJ.data">
					<tr>
						<td>
								<input type="checkbox" id="form-check-input-detail" :value="item.uuid">
						</td>
						<td>{{ item.so_number }}</td>
						<td>{{ item.number }}</td>
						<td>{{ item.sales_unit_name }}</td>
						<td>{{ item.retail_name }}</td>
						<td>{{ item.retail_code }}</td>
						<td>{{ numberFormat(item.P01) }}</td>
						<td>{{ numberFormat(item.P02) }}</td>
						<td>{{ numberFormat(item.P03) }}</td>
						<td>{{ numberFormat(item.P04) }}</td>
						<td>{{ numberFormat(item.P05) }}</td>
						<td>{{ numberFormat(item.P51) }}</td>
						<td>{{ numberFormat(item.P54) }}</td>
						<td>
							<button type="button" @click="deleteItem(item.uuid)" class="btn btn-danger btn-sm ml-1" :disabled="loadingButton"><i class="fa fa-times"></i></button>
						</td>
					</tr>
				</template>
			</tbody>
		</table>
	</div>
</template>

<script>

export default {
  props: ['dataSJ', 'loadingButton'],
  data: function() {
    return {
      access: {}
    }
  },
  components: {
    
  },
  created() {
		
  },
  mounted() {


  },
  methods: {
		deleteItem(uuid){
			if (confirm('Anda yakin menghapus data ini?')) {
				this.$emit("delete-item", uuid);
			}
		},
		numberFormat(value) {
			if(isNaN(parseFloat(value))){
				return parseFloat(0).toFixed(3).toString();
			} else {
				if(value < 0) {
					return value.toFixed(3).toString();
				} else {
					value = parseFloat(value).toFixed(3).toString();
					return this.numberEngine(value)
				}
			}
    },
    numberEngine(angka, prefix){
			var number_string = angka.replace(/[^,\d]/g, ','),
			split   		= number_string.split(','),
			sisa     		= split[0].length % 3,
			numb     	  = split[0].substr(0, sisa),
			ribuan     	= split[0].substr(sisa).match(/\d{3}/gi);
 
			// tambahkan titik jika yang di input sudah menjadi angka ribuan
			if(ribuan){
				var separator = sisa ? '.' : '';
				numb += separator + ribuan.join('.');
			}
 
			numb = split[1] != undefined ? numb + ',' + split[1] : numb;
			return prefix == undefined ? numb : (numb ? 'Rp. ' + numb : '');
		}
  }
}
</script>

<style lang="css" scoped>
.th-costum {
	padding-bottom: 20px;
}
</style>
