<template>
  <div class="modal fade" id="pricingForm" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Entry Pricing</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group row">
                <label class="col-md-3 label-control" for="userinput1">Tipe Kondisi</label>
                <div class="col-md-9">
                  <input type="text"
                  :class="{'is-invalid' : error && errors.condition_type}"
                  readonly class="form-control" v-model="pricing.condition_type">
                  <p class="text-danger" v-if="error && errors.condition_type">{{errors.condition_type[0]}}</p>
                </div>
              </div>
              <div v-if="combineData.SalesOrg" class="form-group row">
                <label class="col-md-3 label-control" for="userinput1">Produsen</label>
                <div class="col-md-9">
                  <div :class="{'error' : error && errors.sales_org_id}">
                    <multiselect
                      v-model="temp.sales_org_id"
                      :options="produsen"
                      track-by="id"
                      :custom-label="produsenNameWithId"
                      :searchable="true"
                      :close-on-select="true"
                      :show-labels="false"
                      :placeholder="(selectLoading.produsen === false) ? 'Pilih Produsen..' : 'Memuat ..'">
                    </multiselect>
                    <p class="text-danger" v-if="error && errors.sales_org_id">{{errors.sales_org_id[0]}}</p>
                  </div>
                </div>
              </div>
              <div v-if="combineData.SalesDivision" class="form-group row">
                <label class="col-md-3 label-control" for="userinput1">Sales Division</label>
                <div class="col-md-9">
                  <div :class="{'error' : error && errors.sales_division_id}">
                    <multiselect
                      v-model="temp.sales_division_id"
                      :options="SalesDivision"
                      track-by="id"
                      :custom-label="SalesDivisionNameWithId"
                      :searchable="true"
                      :close-on-select="true"
                      :show-labels="false"
                      :placeholder="(selectLoading.SalesDivision === false) ? 'Pilih Distrib Sales Division..' : 'Memuat ..'">
                    </multiselect>
                    <p class="text-danger" v-if="error && errors.sales_division_id">{{errors.sales_division_id[0]}}</p>
                  </div>
                </div>
              </div>
              <div v-if="combineData.SalesOffice" class="form-group row">
                <label class="col-md-3 label-control" for="userinput1">Provisi</label>
                <div class="col-md-9">
                  <div :class="{'error' : error && errors.sales_office_id}">
                    <multiselect
                      v-model="temp.sales_office_id"
                      :options="region.provinsi"
                      track-by="id"
                      :custom-label="provinsiNameWithId"
                      :searchable="true"
                      :close-on-select="true"
                      :show-labels="false"
                      :placeholder="(selectLoading.provinsi === false) ? 'Pilih Provinsi..' : 'Memuat ..'">
                    </multiselect>
                    <p class="text-danger" v-if="error && errors.sales_office_id">{{errors.sales_office_id[0]}}</p>
                  </div>
                </div>
              </div>
              <div v-if="combineData.SalesGroup" class="form-group row">
                <label class="col-md-3 label-control" for="userinput1">Kabupaten</label>
                <div class="col-md-9">
                  <div :class="{'error' : error && errors.sales_group_id}">
                    <multiselect
                      @input="getKecamatan"
                      v-model="temp.sales_group_id"
                      :options="region.kabupaten"
                      track-by="id"
                      :custom-label="kabupatenNameWithId"
                      :searchable="true"
                      :close-on-select="true"
                      :show-labels="false"
                      :placeholder="(selectLoading.kabupaten === false) ? 'Pilih Kabupaten..' : 'Memuat ..'">
                    </multiselect>
                    <p class="text-danger" v-if="error && errors.sales_group_id">{{errors.sales_group_id[0]}}</p>
                  </div>
                </div>
              </div>
              <div v-if="combineData.District" class="form-group row">
                <label class="col-md-3 label-control" for="userinput1">Kecamatan</label>
                <div class="col-md-9">
                  <div :class="{'error' : error && errors.sales_unit_id}">
                    <multiselect
                      v-model="temp.sales_unit_id"
                      :options="region.kecamatan"
                      track-by="id"
                      :custom-label="kecamatanNameWithId"
                      :searchable="true"
                      :close-on-select="true"
                      :show-labels="false"
                      :placeholder="(selectLoading.kecamatan === false) ? 'Pilih Kecamatan..' : 'Memuat ..'">
                    </multiselect>
                    <p class="text-danger" v-if="error && errors.sales_unit_id">{{errors.sales_unit_id[0]}}</p>
                  </div>
                </div>
              </div>
              <div v-if="combineData.Material" class="form-group row">
                <label class="col-md-3 label-control" for="userinput1">Produk</label>
                <div class="col-md-9">
                  <div :class="{'error' : error && errors.product_id}">
                    <multiselect
                      @input="getUom"
                      v-model="temp.product_id"
                      :options="product"
                      track-by="id"
                      :custom-label="productNameWithId"
                      :searchable="true"
                      :close-on-select="true"
                      :show-labels="false"
                      :placeholder="(selectLoading.product === false) ? 'Pilih Product..' : 'Memuat ..'">
                    </multiselect>
                    <p class="text-danger" v-if="error && errors.product_id">{{errors.product_id[0]}}</p>
                  </div>
                </div>
              </div>
              <div v-if="combineData.Inconterm" class="form-group row">
                <label class="col-md-3 label-control" for="userinput1">Incoterm</label>
                <div class="col-md-9">
                  <div :class="{'error' : error && errors.delivery_method_id}">
                    <multiselect
                    v-model="temp.delivery_method_id"
                    :options="inco"
                    track-by="id"
                    :custom-label="incoNameWithId"
                    :searchable="true"
                    :close-on-select="true"
                    :show-labels="false"
                    :placeholder="(selectLoading.inco === false) ? 'Pilih Distrib Chanel..' : 'Memuat ..'">
                  </multiselect>
                  <p class="text-danger" v-if="error && errors.delivery_method_id">{{errors.delivery_method_id[0]}}</p>
                  </div>
                </div>
              </div>
              <div v-if="combineData.distribChanel" class="form-group row">
                <label class="col-md-3 label-control" for="userinput1">Distrib Channel</label>
                <div class="col-md-9">
                  <div :class="{'error' : error && errors.distrib_channel_id}">
                    <multiselect
                      v-model="temp.distrib_channel_id"
                      :options="distrib"
                      track-by="id"
                      :custom-label="distribNameWithId"
                      :searchable="true"
                      :close-on-select="true"
                      :show-labels="false"
                      :disabled="disable.distrib_channel_id"
                      :placeholder="(selectLoading.distrib === false) ? 'Pilih Distrib Channel..' : 'Memuat ..'">
                    </multiselect>
                    <p class="text-danger" v-if="error && errors.distrib_channel_id">{{errors.distrib_channel_id[0]}}</p>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 label-control" for="userinput1">Amount</label>
                <div class="col-md-9">
                  <input type="text" class="form-control" @keyup="moneyFormat"
                  :class="{'is-invalid' : error && errors.amount}"
                   v-model="temp.amount">
                   <p class="text-danger" v-if="error && errors.amount">{{errors.amount[0]}}</p>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 label-control" >Currency</label>
                <div class="col-md-9">
                  <multiselect
                    v-model="temp.current"
                    :options="current"
                    track-by="id"
                    label="name"
                    :searchable="true"
                    :close-on-select="true"
                    :show-labels="false"
                    :disabled="disable.current"
                    :placeholder="'Pilih Currency..'">
                  </multiselect>
                   <p class="text-danger" v-if="error && errors.current">{{errors.current[0]}}</p>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 label-control" for="userinput1">UOM</label>
                <div class="col-md-9">
                  <input type="text" class="form-control"
                  :class="{'is-invalid' : error && errors.uom}"
                  readonly
                   v-model="pricing.uom">
                   <p class="text-danger" v-if="error && errors.uom">{{errors.uom[0]}}</p>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 label-control" for="userinput1" >Per UOM</label>
                <div class="col-md-9">
                  <input type="text" class="form-control"
                  :class="{'is-invalid' : error && errors.per_uom}"
                   v-model="pricing.per_uom">
                   <p class="text-danger" v-if="error && errors.per_uom">{{errors.per_uom[0]}}</p>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 label-control" for="userinput1" >Valid From</label>
                <div class="col-md-9">
                  <!-- <input type="date" class="form-control"
                  @change="validateDateRange"
                  :class="{'is-invalid' : error && errors.valid_from}"
                  v-model="pricing.valid_from"> -->
                  <inputdate 
                    @change="validateDateRange"
                    :type="'valid_from'" 
                    @get-date="valid_from"
                    v-model="pricing.valid_from"
                    :getDated="pricing.valid_from"
                    :class="{'is-invalid' : error && errors.valid_from}" 
                    :isReadonly="isReadOnly"
                    :disabled="isDisabled" />
                  <p class="text-danger" v-if="error && errors.valid_from">{{errors.valid_from[0]}}</p>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 label-control" for="userinput1" >Valid To</label>
                <div class="col-md-9">
                  <!-- <input type="date" class="form-control"
                  @change="validateDateRange"
                  :class="{'is-invalid' : error && errors.valid_to}"
                  v-model="pricing.valid_to"> -->
                  <inputdate 
                    @change="validateDateRange"
                    :type="'valid_to'" 
                    @get-date="valid_to"
                    v-model="pricing.valid_to"
                    :getDated="pricing.valid_to"
                    :class="{'is-invalid' : error && errors.valid_to}" 
                    :isReadonly="isReadOnly"
                    :disabled="isDisabled" />
                  <p class="text-danger" v-if="error && errors.valid_to">{{errors.valid_to[0]}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" :disabled="loading" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
          <button type="button" :disabled="loading" class="btn btn-primary" @click="submitPricing">
            <i v-if="loading" class="fa fa-spinner fa-spin"></i>
            Submit</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Multiselect from 'vue-multiselect';
import Inputdate from '../../../global/InputDate';

export default {
  props: ['combination'],
  data: function(){
    return{
      loading: false,
      error: false,
      errors: {},
      combineData: {},
      produsen: [],
      product: [],
      distrib: [],
      current: [{id:'IDR', name: 'IDR'}],
      inco:[],
      isDisabled: false,
      isReadOnly: false,
      SalesDivision:[],
      disable: { 
        distrib_channel_id: false,
        current: false,
      },
      region: {
        provinsi: [],
        kabupaten: [],
        kecamatan: []
      },
      temp: {
        sales_org_id : null,
        sales_office_id : null,
        sales_group_id : null,
        sales_unit_id : null,
        product_id : null,
        delivery_method_id : null,
        sales_division_id : null,
        distrib_channel_id : null,
        amount : null,
        current: null
      },
      pricing: {
        sales_org_id: null,
        sales_office_id: null,
        sales_group_id: null,
        sales_unit_id: null,
        product_id: null,
        delivery_method_id: null,
        sales_division_id: null,
        condition_type: null,
        calculate_type: null,
        amount: null,
        uom: '',
        per_uom: null,
        valid_from: null,
        valid_to: null,
        level: null,
        product_desc: null,
        current: null,
        sap_tax_classification: null,
        status: null,
        distrib_channel_id: null,
        current: null
      },
      selectLoading:{
        produsen: false,
        provinsi: false,
        kabupaten: false,
        kecamatan: false,
        divisi: false,
        produk: false,
        incoterm: false,
        product: false,
        distrib: false,
        inco: false,
        SalesDivision: false
      }
    }
  },
  components: {
    Multiselect,
    Inputdate
  },
  created() {
    this.propsToState();
    this.getProdusen();
    this.getProvinsi();
    this.getKabupaten();
    this.getProduct();
    this.getDistrib();
    this.getInco();
    this.getSalesDivision();
  },
  mounted(){
    var app = this;
    $("#pricingForm").modal("show");
    $('#pricingForm').on('hidden.bs.modal', function () {
      app.closeModal();
    })
    // if(app.combination.combinePick.level === 10 && app.combination.conTypePick === 'ZHET') {
    // }
    app.temp.current = {id: 'IDR', name: 'IDR'}
    app.disable.current = true;
  },
  methods:{
    valid_from(date = ''){
      if (date != '') {
        if (date != '') {
          this.pricing.valid_from = date;
        } else {
          this.pricing.valid_from = ''
        }
      }
    },
    valid_to(date = ''){
      if (date != '') {
        if (date != '') {
          this.pricing.valid_to = date;
        } else {
          this.pricing.valid_to = ''
        }
      }
    },
    closeModal(){
      this.$emit("trigger-modal");
    },

    validateDateRange() {
      this.error = false;
      const {valid_from, valid_to} = this.pricing
      if((valid_from != null) && (valid_to != null)) {
        const DateFrom = new Date(valid_from).getTime();
        const DateTo = new Date(valid_to).getTime();
        if(DateFrom > DateTo) {
          toastr.warning('valid from tidak boleh lebih maju dari valid to' ,'Entry data salah')
          this.error = true;
          this.errors = {
            valid_from: ['valid from lebih besar dari valid to'],
            valid_to: ['sesuaikan kembali masukan date']
          }
          this.pricing.valid_from = null
          this.pricing.valid_to = null
        }
      }
    },

    propsToState() {
      var app = this;
      const comArray = app.combination.combinePick.name.split("/");
      comArray.map((data) => {
        var dataValue = data.replace("-", "");
        app.combineData[dataValue] = true
      });
      app.pricing.condition_type =  app.combination.conTypePick;
      app.pricing.level =  app.combination.combinePick.level;
      if(app.combineData.material) {
        app.combineData.Material = true;
        app.combineData.SalesOrg = true;
        app.combineData.distribChanel = true;
      }
    },

    //produsen
    produsenNameWithId ({id, name}) {
      return `${id} — ${name}`
    },
    getProdusen() {
      this.selectLoading.produsen = true;
      this.axios.get("company/produsen")
      .then((resp) => {
        toastr.success('success load produsen');
        this.produsen = resp.data.data
        this.selectLoading.produsen = false
      })
      .catch((resp) => {
        toastr.error(resp.data.message);
        console.log(resp.data);
        this.selectLoading.produsen = false
      })
    },

    // provinsi
    provinsiNameWithId ({id, name}) {
      return `${id} — ${name}`
    },
    getProvinsi() {
      if (this.combineData.SalesOffice) {
        this.selectLoading.provinsi = true
        this.axios.get('region/provinsi')
        .then((resp) => {
          toastr.success('success load provinsi');
          this.region.provinsi = resp.data.data;
          this.selectLoading.provinsi = false
        })
        .catch((resp) => {
          toastr.error(resp.data.message);
          console.log(resp.data);
          this.selectLoading.provinsi = false
        })
      }
    },

    //kabupaten
    kabupatenNameWithId ({id, name}) {
      return `${id} — ${name}`
    },
    getKabupaten() {
      if (this.combineData.SalesGroup) {
        this.selectLoading.kabupaten = true
        this.axios.get("region/kabupaten")
        .then((resp) => {
          toastr.success('success load kabupaten');
          this.region.kabupaten = resp.data.data;
          this.selectLoading.kabupaten = false
        })
        .catch((resp) => {
          toastr.error(resp.data.message);
          console.log(resp.data);
          this.selectLoading.kabupaten = false
        })
      }
    },

    // kecamatan
    kecamatanNameWithId ({id, name}) {
      return `${id} — ${name}`
    },
    getKecamatan() {
      if (this.combineData.District) {
        this.temp.sales_unit_id = null
        this.selectLoading.kecamatan = true
        this.axios.get("region/kecamatan", {
          params: {
            kabupaten: this.temp.sales_group_id.id
          }
        })
        .then((resp) => {
          toastr.success('success load kecamatan');
          this.region.kecamatan = resp.data.data;
          this.selectLoading.kecamatan = false
        })
        .catch((resp) => {
          toastr.error(resp.data.message);
          console.log(resp.data);
          this.selectLoading.kecamatan = false
        });
      }
    },

    //product
    productNameWithId ({id, name}) {
      return `${id} — ${name}`
    },
    getProduct() {
      if (this.combineData.Material) {
        this.selectLoading.product = true
        this.axios.get('product')
        .then((resp) => {
          toastr.success('success load Product');
          this.product = resp.data.data;
          this.selectLoading.product = false
        })
        .catch((resp) => {
          toastr.error(resp.data.message);
          console.log(resp.data);
          this.selectLoading.product = false
        })
      }
    },

    // distrib channel
    distribNameWithId ({id, name}) {
      return `${id} — ${name}`
    },
    getDistrib() {
      if (this.combineData.distribChanel) {
        if(this.combination.combinePick.level === 10 && this.combination.conTypePick === 'ZHET') {
          this.temp.distrib_channel_id = {id: '00', name: 'Common Distr.Channel'}
          this.disable.distrib_channel_id = true;
        } else {
          this.selectLoading.distrib = true
          this.disable.distrib_channel_id = false
          this.axios.get('distribchannel')
          .then((resp) => {
            toastr.success('success load Distrib Chanel');
            this.distrib = resp.data.data;
            this.selectLoading.distrib = false
          })
          .catch((resp) => {
            toastr.error(resp.data.message);
            console.log(resp.data);
            this.selectLoading.distrib = false
          })
        }
      }

    },

    //  incoterm
    incoNameWithId ({id, name}) {
      return `${id} — ${name}`
    },
    getInco() {
      if (this.combineData.Inconterm) {
        this.selectLoading.inco = true
        this.axios.get('deliverymethod')
        .then((resp) => {
          toastr.success('success load Incoterm');
          this.inco = resp.data.data;
          this.selectLoading.inco = false
        })
        .catch((resp) => {
          toastr.error(resp.data.message);
          console.log(resp.data);
          this.selectLoading.inco = false
        })
      }

    },

    //  sales divison
    SalesDivisionNameWithId ({id, name}) {
      return `${id} — ${name}`
    },
    getSalesDivision() {
      if (this.combineData.SalesDivision) {
        this.selectLoading.SalesDivision = true
        this.axios.get('salesdivision')
        .then((resp) => {
          toastr.success('success load sales division');
          this.SalesDivision = resp.data.data;
          this.selectLoading.SalesDivision = false
        })
        .catch((resp) => {
          toastr.error(resp.data.message);
          console.log(resp.data);
          this.selectLoading.SalesDivision = false
        })
      }

    },


    getUom() {
      if (this.temp.product_id) {
        if(this.temp.product_id.id === 'P51'){
          this.pricing.uom = 'LITER';
        } else {
          this.pricing.uom = 'TON';
        }
      } else {
        this.pricing.uom = '';
      }
    },

    configSelectComponent() {
      this.pricing.sales_org_id = (this.temp.sales_org_id != null) ? this.temp.sales_org_id.id : null;
      this.pricing.sales_office_id = (this.temp.sales_office_id != null) ? this.temp.sales_office_id.id : null;
      this.pricing.sales_group_id = (this.temp.sales_group_id != null) ? this.temp.sales_group_id.id : null;
      this.pricing.sales_unit_id = (this.temp.sales_unit_id != null) ? this.temp.sales_unit_id.id : null;
      this.pricing.product_id = (this.temp.product_id != null) ? this.temp.product_id.id : null;
      this.pricing.delivery_method_id = (this.temp.delivery_method_id != null) ? this.temp.delivery_method_id.id : null;
      this.pricing.sales_division_id = (this.temp.sales_division_id != null) ? this.temp.sales_division_id.id : null;
      this.pricing.distrib_channel_id = (this.temp.distrib_channel_id != null) ? this.temp.distrib_channel_id.id : null;
      this.pricing.current = (this.temp.current != null) ? this.temp.current.id : null;
    },

    submitPricing() {
      event.preventDefault();
      this.pricing.status = 'y';
      this.configSelectComponent();
      this.onValidateForm();
      
      var dateFrom = Date.parse(this.pricing.valid_from)
      var dateTo = Date.parse(this.pricing.valid_to)
      var checkDate = (dateFrom < dateTo) ? true : false;
      if(!checkDate){
        toastr.warning('valid from tidak boleh lebih maju dari valid to' ,'Entry data salah')
        this.error = true;
        this.errors.valid_from = ["Tanggal Tidak Valid"]
        this.errors.valid_to = ["Tanggal Tidak Valid"]
      } else {
        this.error = false;
        delete this.errors.valid_from
        delete this.errors.valid_to
      }

      if(Object.keys(this.errors).length === 0){
        this.sendXhr();
      }
    },

    moneyFormat() {
      this.pricing.amount = event.target.value;
      this.temp.amount = this.formatRupiah(this.temp.amount)
    },

    formatRupiah(angka, prefix) {

      var separator;
      var number_string = angka.replace(/[^,\d]/g, '').toString(),
      split   		= number_string.split(','),
      sisa     		= split[0].length % 3,
      rupiah     		= split[0].substr(0, sisa),
      ribuan     		= split[0].substr(sisa).match(/\d{3}/gi);
      if(ribuan){
        separator = sisa ? '.' : '';
        rupiah += separator + ribuan.join('.');
      }
      rupiah = split[1] != undefined ? rupiah + ',' + split[1] : rupiah;
      return prefix == undefined ? rupiah : (rupiah ? 'Rp. ' + rupiah : '');
    },

    setAmount(){
      let newPricing;
      if(this.pricing.amount.indexOf('.') !== -1){
        newPricing = this.pricing.amount.split('.').join("");;
        if(newPricing.indexOf(',') !== -1){
          newPricing = newPricing.split(',').join(".");;
        }
      }
      this.pricing.amount = newPricing;
    },

    onValidateForm(){
      if(this.combineData.SalesOrg) { 
        if (this.temp.sales_org_id === null) { this.error = true; this.errors.sales_org_id = ["Field sales_org_id dibutuhkan"]; } else { this.error = false; delete this.errors.sales_org_id; }
      }

      if(this.combineData.SalesDivision) { 
        if(this.temp.sales_division_id === null) { this.error = true; this.errors.sales_division_id = ["FIeld sales_division_id dibutuhkan"]; } else { this.error = false; delete this.errors.sales_division_id}
      }
      
      if(this.combineData.SalesOffice) { 
        if(this.temp.sales_office_id === null) { this.error = true; this.errors.sales_office_id = ["FIeld sales_office_id dibutuhkan"]; } else { this.error = false; delete this.errors.sales_office_id}
      }
      
      if(this.combineData.SalesGroup) { 
        if(this.temp.sales_group_id === null) { this.error = true; this.errors.sales_group_id = ["FIeld sales_group_id dibutuhkan"]; } else { this.error = false; delete this.errors.sales_group_id}
      }
      
      if(this.combineData.District) { 
        if(this.temp.sales_unit_id === null) { this.error = true; this.errors.sales_unit_id = ["FIeld sales_unit_id dibutuhkan"]; } else { this.error = false; delete this.errors.sales_unit_id}
      }
      
      if(this.combineData.Material) { 
        if (this.temp.product_id === null) { this.error = true; this.errors.product_id = ["Field product_id dibutuhkan"]; } else { this.error = false; delete this.errors.product_id; }
      }
      
      if(this.combineData.Inconterm) { 
        if(this.temp.delivery_method_id === null) { this.error = true; this.errors.delivery_method_id = ["FIeld delivery_method_id dibutuhkan"]; } else { this.error = false; delete this.errors.delivery_method_id}
      }
      
      if (this.combineData.distribChanel) {
        if (this.temp.distrib_channel_id === null) { this.error = true; this.errors.distrib_channel_id = ["Field distrib_channel_id dibutuhkan"]; } else { this.error = false; delete this.errors.distrib_channel_id; }
      }
      
      if (this.pricing.amount === null) { this.error = true; this.errors.amount = ["Field amount dibutuhkan"]; } else { this.error = false; delete this.errors.amount; }
      if (this.temp.current === null) { this.error = true; this.errors.current = ["Field current dibutuhkan"]; } else { this.error = false; delete this.errors.current; }
      if (this.temp.uom === null) { this.error = true; this.errors.uom = ["Field uom dibutuhkan"]; } else { this.error = false; delete this.errors.uom; }
      if (this.pricing.per_uom === null) { this.error = true; this.errors.per_uom = ["Field per_uom dibutuhkan"]; } else { this.error = false; delete this.errors.per_uom; }
    },

    sendXhr() {
      this.setAmount()
      this.loading = true;
      this.axios.post('pricing', this.pricing)
      .then((resp) => {
        this.loading = false;
        toastr.success('Pricing tersimpan', 'sukses');
        $("#pricingForm").modal("hide");
      })
      .catch((resp) => {
        this.loading = false;
        this.error = true;
        this.errors = resp.response.data.message;
        toastr.error(resp.response.data.status_txt);
        toastr.error(resp.response.data.exception);
        console.log(resp.data);
      })
    }

  }
}
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style lang="css">
  .error .multiselect__tags {
    border: 1px solid red !important;
  }
  .multiselect__tags {
    border: 1px solid #BABFC7 !important;
    border-radius: 0.25rem !important;
  }

  .multiselect__select:before {
    color: #4E5154;
  }

  .multiselect__placeholder {
    color: #4E5154;
  }
</style>
