<template>
  <div>
    <div class="modal fade" id="KeyCombination" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Pilih Kategori</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group row">
                  <label class="col-md-3 label-control" for="userinput1">Tipe Kondisi</label>
                  <div class="col-md-9">
                    <select class="form-control" @change="changeContype" v-model="dataSending.conTypePick">
                      <option value=null>Pilih</option>
                      <option v-for="con, index in conditionType" :value="con">{{ con }}</option>
                    </select>
                  </div>
                </div>
                <div class="form-group row" v-if="combine.length > 0">
                  <label class="col-md-3 label-control">Key Combination</label>
                  <div class="col-md-9">
                    <fieldset v-for="com, index  in combine">
                      <label class="custom-control custom-radio">
                        <input type="radio" :value="{level: com.level, name: com.name}" :disabled="com.disabled" v-model="dataSending.combinePick" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">{{ com.name }}</span>
                      </label>
                    </fieldset>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
            <!-- <button type="button" class="btn btn-success">Save</button> -->
            <button type="button" class="btn btn-primary" @click="setKeyCombiation">Submit</button>
          </div>
        </div>
      </div>
    </div>
    <form-pricing v-if="modalForm" :combination="dataSending" @trigger-modal="triggerModal"></form-pricing>
    <upload-pricing v-if="modalUpload" :combination="dataSending" @trigger-modal="triggerModal"></upload-pricing>
  </div>
</template>

<script>
import Form from './Form';
import Upload from './Upload';
export default {
  props: ['dataButtonClick'],
  data: function(){
    return{
      combine : [],
      conditionType: ['ZHET', 'ZBKI', 'ZBDI'],
      dataSending: {
        combinePick: null,
        conTypePick: null
      },
      modalForm: false,
      modalUpload: false
    }
  },
  components: {
    FormPricing: Form,
    UploadPricing: Upload
  },
  mounted(){
    var app = this;
    $("#KeyCombination").modal("show");
    $('#KeyCombination').on('hidden.bs.modal', function () {
      app.closeModal();
    })
  },
  methods:{
    closeModal(){
      this.$emit("trigger-modal", true);
    },
    setKeyCombiation() {
      if(this.dataSending.conTypePick == null || this.dataSending.combinePick == null) {
        toastr.warning('Mohon Lengkapi field yang kosong', 'Gagal');
      } else {
        var app = this;
         $('#KeyCombination').hide();
         $('body').removeClass('modal-open');
         $('.modal-backdrop').remove();
         if(this.dataButtonClick === 'entry') {
           app.modalForm = true;
         } else if(this.dataButtonClick === 'upload') {
           app.modalUpload = true;
         }
      }
    },
    changeContype() {
      event.preventDefault();
      if(this.dataSending.conTypePick === 'ZHET') {
        this.combine = [{level: 10, name: 'material'}];
      } else {
        this.combine = [
          {
            level: 1,
            name: 'Sales-Org/Sales-Group/District/Material/Inconterm',
            disabled: false
          },
          {
            level: 2,
            name: 'Sales-Org/Sales-Group/Material/Inconterm',
            disabled: false
          },
          {
            level: 3,
            name: 'Sales-Org/Sales-Group/Material',
            disabled: (this.dataButtonClick === 'upload' || this.dataButtonClick === 'entry') ? true : false
          },
          {
            level: 4,
            name: 'Sales-Org/Sales-Group',
            disabled: (this.dataButtonClick === 'upload' || this.dataButtonClick === 'entry') ? true : false
          },
          {
            level: 5,
            name: 'Sales-Org/Sales-Office/Material/Inconterm',
            disabled: (this.dataButtonClick === 'upload' || this.dataButtonClick === 'entry') ? true : false
          },
          {
            level: 6,
            name: 'Sales-Org/Sales-Office/Material',
            disabled: (this.dataButtonClick === 'upload' || this.dataButtonClick === 'entry') ? true : false
          },
          {
            level: 7,
            name: 'Sales-Org/Sales-Office',
            disabled: (this.dataButtonClick === 'upload' || this.dataButtonClick === 'entry') ? true : false
          },
          {
            level: 8,
            name: 'Sales-Org/Sales-Division',
            disabled: (this.dataButtonClick === 'upload' || this.dataButtonClick === 'entry') ? true : false
          },
          {
            level: 9,
            name: 'Sales-Org',
            disabled: (this.dataButtonClick === 'upload' || this.dataButtonClick === 'entry') ? true : false
          },
        ];
      }
    },
    triggerModal() {
      this.closeModal();
      this.modalForm = false;
      this.modalUpload = false;
    }
  }
}
</script>

<style lang="css">
  .custom-control {
    margin-right: 0px !important;
  }
</style>
