<template>
  <div class="modal fade" id="pengecerUpload" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Upload data</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          <table class="table table-xs table-striped display nowrap">
            <thead>
              <tr>
                <th>Condition Type</th>
                <td>  {{ combination.conTypePick }}</td>
              </tr>
              <tr>
                <th>Combination Type Level</th>
                <td>  {{ combination.combinePick.level }}</td>
              </tr>
            </thead>
          </table>
          <hr>
          <div class="form-group">
            <label for="">Upload Data Pricing</label>
            <input type="file" @change="handleFileUpload()"
            ref="file"
            accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
            class="form-control">
            <p class="help-block">File harus berformat xlsx</p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Tutup</button>
          <button type="button" :disabled="isDisabled" @click="upload()" class="btn btn-outline-primary">Upload</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['combination'],
  data: function() {
    return {
      excelFile: '',
      loading: false,
      file: '',
      isDisabled : false
    }
  },
  mounted(){
    var app = this;
    $("#pengecerUpload").modal("show");
    $('#pengecerUpload').on('hidden.bs.modal', function () {
      app.closeModal();
    })
  },
  methods:{
    closeModal(){
      this.$emit("trigger-modal");
    },
    upload() {
      event.preventDefault();
      let app = this;
      app.isDisabled=true;
      let formData = new FormData();
      formData.append('file', this.excelFile);
      formData.append('level', this.combination.combinePick.level);
      formData.append('condition_type', this.combination.conTypePick);
      axios.post("pricing/upload", formData, {headers : {'Content-Type' : 'multipart/form-data'}})
      .then((resp) => {
        app.isDisabled=false;
        toastr.success('Succes Uploaded', 'Import excel');
        $("#pengecerUpload").modal("hide");
      })
      .catch((resp) => {
        app.isDisabled=false;
        let msg = resp.response.data.message;
        let data = resp.response.data.data;
        let showErrorMessage = '';
        let showErrorList  = '';
        showErrorMessage += msg;
        console.log(data);
        if(data){
          var distrib_channel_id = '';
          var product_id = '';
          var sales_group_id = '';
          var sales_org_id = '';
          var sales_unit_id = '';
          var valid_from = '';
          var valid_to = '';
          var pesan = '';
          var uom='';
          if(data[0].validate.message){
            distrib_channel_id = (data[0].validate.message.hasOwnProperty('distrib_channel_id')) ? '<li>'+data[0].validate.message.distrib_channel_id[0]+' pada distrib channel id'+'</li>' : '';
            product_id = (data[0].validate.message.hasOwnProperty('product_id')) ? '<li>'+data[0].validate.message.product_id[0]+' pada product id'+'</li>' : '';
            sales_group_id = (data[0].validate.message.hasOwnProperty('sales_group_id')) ? '<li>'+data[0].validate.message.sales_group_id[0]+' pada sales group id'+'</li>' : '';
            sales_org_id = (data[0].validate.message.hasOwnProperty('sales_org_id')) ? '<li>'+data[0].validate.message.sales_org_id[0]+' pada sales org id'+'</li>' : '';
            sales_unit_id = (data[0].validate.message.hasOwnProperty('sales_unit_id')) ? '<li>'+data[0].validate.message.sales_unit_id[0]+' pada sales unit id'+'</li>' : '';
            valid_from = (data[0].validate.message.hasOwnProperty('valid_from')) ? '<li>'+data[0].validate.message.valid_from[0]+' pada sales valid from'+'</li>' : '';
            valid_to = (data[0].validate.message.hasOwnProperty('valid_to')) ? '<li>'+data[0].validate.message.valid_to[0]+' pada sales valid to'+'</li>' : '';
            uom = (data[0].validate.message.hasOwnProperty('uom')) ? '<li>'+data[0].validate.message.uom[0]+' pada sales uom to'+'</li>' : '';
          }
          if(typeof data[0].validate.message === "string"){
            pesan = (data[0].validate.message) ? '<li>'+data[0].validate.message+'</li>' : '';
          }
          toastr.error(
            '<ul>'+
              distrib_channel_id+
              product_id+
              sales_group_id+
              sales_org_id+
              sales_unit_id+
              valid_from+
              valid_to+
              uom+
              pesan+
            '</ul>',
            msg
          )
        }
        toastr.error(showErrorMessage, "Gagal");
      })
    },
    handleFileUpload(){
      this.excelFile = this.$refs.file.files[0];
      this.file = this;
    }
  }
}
</script>

<style lang="css">
</style>
