<template>
    <div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Role</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form @submit="saveRole"  class="form form-horizontal form-bordered" id="form">
            <div class="modal-body">            
                <div class="form-group row">
                    <label class="label-control">Role Name</label>
                    <div class="col-lg-12">
                        <input v-model="role.name" class="form-control" id="namerole">
                        <p class="text-danger" v-if="error && errors.name">{{errors.name[0]}}</p>
                    </div>
                    
                </div>
                <div class="form-group row">
                  <label class="label-control" >Produsen</label>
                  <div class="col-lg-12">
                    <multiselect
                      @input=""
                      v-model="role.sales_org_id"
                      :options="m_produsen"
                      track-by="id" :custom-label="ProdnameWithId"
                      :searchable="true" :close-on-select="true"
                      :show-labels="false" placeholder="Pilih .."
                      :disabled="isDisabled"
                    >
                    </multiselect>
                    <p class="text-danger" v-if="error && errors.sales_org_id">{{errors.sales_org_id[0]}}</p>
                </div>
                </div>
                <input type="hidden" id="update" value=false/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-close"></i> {{$ml.get("roleMasterPage.closeButton")}}</button>
                <button type="submit" class="btn btn-primary" :disabled="disabled"><i class="fa fa-save"></i> {{$ml.get("roleMasterPage.saveBotton")}}</button>
            </div>
            </form>
            </div>
        </div>
    </div>
</template>


<script>
import Multiselect from 'vue-multiselect';
    export default {
        props: ['getid'],
        data: function() {
            return {
                role:{
                    name: '',
                    sales_org_id: '',
                },
                sendDt: {},
                m_produsen:[],
                disabled:false,
                updated:false,
                hiddenU:true,
                hiddenS:false,
                id:'',
                isDisabled:false,
                errors:[],
                error:false,
            }
        },
        components: {
            Multiselect,
            // FormLoader
        },
        mounted() {
            var app = this;
            app.getProdusen();
            $("#addUserModal").modal("show");
            $("#addUserModal").on("hidden.bs.modal", function(){
                app.closeModal()
            })
            if(app.getid !== null){
                app.getRoleId(app.getid)
            }
        },
        methods:{
            getRoleId(idx){
                this.disabled=true;
                this.axios.get("role/id/"+idx)
                .then((resp) => {
                    this.disabled=false;
                    this.role.name = resp.data.data.name;
                    if(resp.data.data.sales_org_id !== null){
                        this.role.sales_org_id = { id: resp.data.data.sales_org_id, name: resp.data.data.sales_org_name }
                    }
                })
                .catch((e) => {
                    this.disabled=false;
                    console.log("failed load data role");
                })
            },
            getProdusen(id_distributor){
              this.axios.get('company/produsen',{
                params:{roles:'roles'}
              })
              .then((resp) => {
                this.m_produsen = resp.data.data;
              })
              .catch((resp) => {
                toastr.error("Failed Load Data", "Load data");
              })
              .then((resp) => {  })
            },
            ProdnameWithId ({ id, name }){ return `${id} — ${name}` },
            saveRole(){
                event.preventDefault();
                // var u=$('#update').val();
                if(this.getid !== null){
                    this.updateRole();
                }else{
                    this.storeRole();
                }
            },
            storeRole(){
                // console.log('Store')
                event.preventDefault();
                var app=this;
                app.disabled=true;
                app.sendDt.name = app.role.name;
                app.sendDt.sales_org_id = app.role.sales_org_id.id;
                // console.log(newRole)
                app.axios.post("role", app.sendDt)
                .then((resp)=>{
                    app.disabled=false;
                    toastr.success("Success", "Berhasil Simpan Data");
                    $('#addUserModal').modal('hide');
                })
                .catch((resp)=>{
                    app.disabled=false;
                    this.error = true;
                    this.errors = resp.response.data.message;
                })
            },
            updateRole(){
                var app=this;
                app.disabled=true;
                app.sendDt.name = app.role.name;
                app.sendDt.sales_org_id = app.role.sales_org_id.id;

                app.axios.put("role/"+app.getid,app.sendDt)
                .then((resp)=>{
                    app.disabled=false;
                    toastr.success("Success", "Berhasil Simpan Data");
                    $('#addUserModal').modal('hide');
                })
                .catch((resp)=>{
                    app.disabled=false;
                    this.error = true;
                    this.errors = resp.response.data.message;
                })
            },
            closeModal() {
                this.$emit("load-table");
                this.role.name = ''
                this.role.sales_org_id = ''
                this.sendDt = {}
            }
        }
    };

</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style lang="css">
    
</style>
