<template lang="html">
  <transition name="custom-classes-transition" enter-active-class="animated fadeIn">
    <div class="content-wrapper">
      <div class="content-header row">
        <div class="content-header-left col-md-6 col-12 mb-1">
          <h3 class="content-header-title">Supply Point</h3>
        </div>
        <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-12">
          <div class="breadcrumb-wrapper col-12">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">{{ $ml.get("petaniMasterPage.breadcrumbFirst") }}</a>
              </li>
              <li class="breadcrumb-item active">Supply Point
              </li>
            </ol>
          </div>
        </div>
      </div>
      <supply-point-table>
    </supply-point-table>
    </div>
  </transition>
</template>

<script>
import SupplyPointTable from './SupplyPointTable.vue';
export default {
  components: {
    SupplyPointTable
  }
}
</script>

<style lang="css">
</style>
