<template>
  <div class="modal fade" id="iconModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id=""></h4>
        </div>
        <div class="modal-body">

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">{{$ml.get("global.filter.modal.form.labelClose")}}</button>
          <button type="submit"  class="btn btn-outline-primary">{{$ml.get("global.filter.modal.form.labelSearch")}}</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data: function(){
    return {
      icon: ''
    }
  },
  mounted() {
    var app = this;
    $("#iconModal").modal("show");
    $('#iconModal').on('hidden.bs.modal', function () {
      app.closeModal();
    })
  },
  methods: {
    closeModal() {
      this.$emit("trigger");
    }
  }
}
</script>

<style lang="css">
</style>
