<template>
  <transition name="custom-classes-transition" enter-active-class="animated fadeIn">
    <div class="content-wrapper">
      <div class="content-header row">
        <div class="content-header-left col-md-6 col-12 mb-1">
          <h3 class="content-header-title">{{ $ml.get("menuFormPage.cardtTitle") }}</h3>
        </div>
        <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-12">
          <div class="breadcrumb-wrapper col-12">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">{{ $ml.get("menuFormPage.breadcrumbFirst") }}</a>
              </li>
              <li class="breadcrumb-item"><a href="#">{{ $ml.get("menuFormPage.breadcrumbSec") }}</a>
              </li>
              <li class="breadcrumb-item active">{{ $ml.get("menuFormPage.breadcrumbTrd") }}
              </li>
            </ol>
          </div>
        </div>
      </div>
      <div class="content-body">
        <section class="row">
          <div class="col-sm-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">{{ $ml.get("menuFormPage.cardtTitle") }}</h4>
                <a class="heading-elements-toggle"></a>
                <div class="heading-elements">
                  <ul class="list-inline mb-0">
                    <li> </li>
                  </ul>
                </div>
              </div>
              <div class="card-content collapse show">
                <div class="card-body">
                  <form @submit="saveMenu" class="form form-horizontal striped-rows form-bordered">
                    <div class="form-body">
                      <h4 class="form-section"><i class="fa fa-pencil"></i>{{ $ml.get('menuFormPage.form.titleAdd') }}</h4>
                      <div class="form-group row">
                        <label class="col-md-3 label-control" for="projectinput1" :class="{'text-danger' : error && errors.name_EN}">
                          {{ $ml.get('menuFormPage.form.one') }}
                        </label>
                        <div class="col-md-9">
                          <input type="text" v-model="menu.name_EN" class="form-control" :class="{'is-invalid' : error && errors.name_EN}">
                          <p class="text-danger" v-if="error && errors.name_EN">{{errors.name_EN[0]}}</p>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-md-3 label-control" for="projectinput1" :class="{'text-danger' : error && errors.name_ID}">
                          {{ $ml.get('menuFormPage.form.two') }}
                        </label>
                        <div class="col-md-9">
                          <input type="text" v-model="menu.name_ID" class="form-control" :class="{'is-invalid' : error && errors.name_ID}">
                          <p class="text-danger" v-if="error && errors.name_ID">{{errors.name_ID[0]}}</p>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-md-3 label-control" for="projectinput1" :class="{'text-danger' : error && errors.url}">
                          {{ $ml.get('menuFormPage.form.three') }}
                        </label>
                        <div class="col-md-9">
                          <input type="text" v-model="menu.url" class="form-control" :class="{'is-invalid' : error && errors.url}">
                          <p class="text-danger" v-if="error && errors.url">{{errors.url[0]}}</p>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-md-3 label-control" for="projectinput1" :class="{'text-danger' : error && errors.order_no}">
                          {{ $ml.get('menuFormPage.form.four') }}
                        </label>
                        <div class="col-md-9">
                          <input type="text" v-model="menu.order_no" class="form-control" :class="{'is-invalid' : error && errors.order_no}">
                          <p class="text-danger" v-if="error && errors.order_no">{{errors.order_no[0]}}</p>
                        </div>
                      </div>
                      <div class="form-group row" style="display:none;">
                        <label class="col-md-3 label-control" for="projectinput1" :class="{'text-danger' : error && errors.icon}">
                          {{ $ml.get('menuFormPage.form.five') }}
                        </label>
                        <div class="col-md-9">
                          <input type="text" @click="showModal" v-model="menu.icon" class="form-control" :class="{'is-invalid' : error && errors.icon}" readonly>
                          <p class="text-danger" v-if="error && errors.icon">{{errors.icon[0]}}</p>
                        </div>
                        <icon v-if="!hide" @trigger="trigger"></icon>
                      </div>
                      <div class="form-group row">
                        <label class="col-md-3 label-control" for="projectinput1" :class="{'text-danger' : error && errors.parent_id}">
                          {{ $ml.get('menuFormPage.form.six') }}
                        </label>
                        <div class="col-md-9">
                          <select class="form-control" v-model="menu.parent_id" :class="{'is-invalid' : error && errors.parent_id}">
                            <option value="0">Is Parent</option>
                            <option v-for="data, index in menuParent" :value="data.id">
                              {{ ($ml.get("language") == 'en') ? data.name_EN : data.name_ID }}
                            </option>
                          </select>
                          <p class="text-danger" v-if="error && errors.parent_id">{{errors.parent_id[0]}}</p>
                        </div>
                      </div>
                      <div class="form-actions pull-right">
                        <button type="button" @click="$router.go(-1)" class="btn btn-warning mr-1">
                          <i class="ft-x"></i> {{ $ml.get("userAllFormPage.form.labelCancel") }}
                        </button>
                        <button type="submit" class="btn btn-primary">
                          <i class="fa fa-check-square-o"></i> {{ $ml.get("userAllFormPage.form.labelSave") }}
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </transition>
</template>

<script>
import icon from './icon';

export default {
  data: function(){
    return{
      error: false,
      errors: {},
      id: null,
      hide: true,
      menuParent: [],
      access: {},
      language: localStorage.getItem("app-lang"),
      menu: {
        name_ID : '',
        name_EN : '',
        url : '',
        order_no : '',
        icon : 0,
        parent_id : '0'
      }
    }
  },
  components: {
    icon
  },
  created() {
    const encodeAccess = decodeURIComponent(this.$route.params.access);
    const decodeAccess = this.toText(this.decrypt(encodeAccess));
    const arrAccess = decodeAccess.split(",");
    if(arrAccess) {
      arrAccess.map((data) => {
        if(data === 'C' || data === 'R' || data === 'U' || data === 'D' || data === 'A') {
          this.access[data] = true
        } else {
          this.$router.push({path: '/home'});
          toastr.error('Permission can not open this page', 'Error');
        }
      })
    } else {
      this.$router.push({path: '/home'});
      toastr.error('Permission can not open this page', 'Error');
    }
  },
  mounted() {
    this.getParentMenu();
    var app = this;
    let id = app.$route.params.id;
    if(id != undefined){
      app.id = id;
      app.axios.get("menu/id/"+id)
      .then((resp) => {
        app.menu = resp.data.data
      })
      .catch((e) => {
        alert("failed load");
        app.$router.go(-1);
      })
    }
  },
  methods: {
    showModal(){
      // this.hide = false;
    },
    trigger(){
      this.hide = true;
    },
    getParentMenu(){
      var app = this;
      app.axios.get("menu")
      .then((resp) => {
        var menuParent = resp.data.data;

        menuParent.map((data) =>{
          if(data.parent_name_EN === null || data.parent_name_ID === null){
            app.menuParent.push({
              id: data.id,
              name_EN: data.name_EN,
              name_ID: data.name_ID
            })
          }
        })
      })
      .catch((resp) => {
        alert("Failed load parent menu");
        console.log(resp);
        // app.$router.push({path: '/master-menu'});
      })
    },
    saveMenu() {
      var app = this;
      if(app.id === null) {
        app.insertMenu();
      } else {
        app.updateUser();
      }
    },
    insertMenu() {
      event.preventDefault();
      var app = this;
      var arr = [];
      var newMenu = app.menu;
      app.axios.post("menu", newMenu)
      .then((resp) => {
        // app.$router.push({path: '/master-menu'});
        app.$router.go(-1)
        app.error = false;
        toastr.success(resp.data.message)
      })
      .catch((resp) => {
        app.error = true;

        app.errors = resp.response.data.message;
        toastr.error(resp.response.data.errors)
      })
    },
    updateUser() {
      event.preventDefault();
      var app = this;
      app.axios.put("menu/"+app.id, app.menu)
      .then((resp) => {
        // app.$router.push({path: '/master-menu'});
        app.$router.go(-1)
        app.error = false;
        toastr.success(resp.data.message)
      })
      .catch((resp) => {
        app.error = true;
        console.log(resp.response.data.errors);
        app.errors = err.response.data.message;
        toastr.error(resp.response.data.errors)
      });
    }
  }
}
</script>

<style lang="css">
</style>
