<template>
  <tr class="filter">
    <th>
      <input type="text" class="form-control form-control-sm"
      v-model="name_EN"
      v-on:keyup="search()"
      v-bind:placeholder="$ml.get('menuMasterPage.table.one')"
      >
    </th>
    <th>
      <input type="text" class="form-control form-control-sm"
      v-model="name_ID"
      v-on:keyup="search()"
      v-bind:placeholder="$ml.get('menuMasterPage.table.two')"
      >
    </th>
    <th>
      <input type="text" class="form-control form-control-sm"
      v-model="urlState"
      v-on:keyup="search()"
      v-bind:placeholder="$ml.get('menuMasterPage.table.three')"
      >
    </th>
    <th>
      <input type="text" class="form-control form-control-sm"
      v-model="order_no"
      v-on:keyup="search()"
      v-bind:placeholder="$ml.get('menuMasterPage.table.four')"
      >
    </th>
    <th>
      <input type="text" class="form-control form-control-sm"
      v-model="fParenen"
      v-on:keyup="search()"
      v-bind:placeholder="$ml.get('menuMasterPage.table.six')"
      >
    <th>
      <input type="text" class="form-control form-control-sm"
      v-model="fParentid"
      v-on:keyup="search()"
      v-bind:placeholder="$ml.get('menuMasterPage.table.seven')"
      >
    </th>
    <th></th>
  </tr>
</template>

<script>
export default {
  props: ['enname','idname','url','orderno','icon', 'parenten', 'parentid', 'reset'],
  data: function() {
    return {
      uriName: this.$auth.user().id+'_'+'search_'+this.$route.name,
      name_EN : this.enname,
      name_ID : this.idname,
      urlState : this.url,
      order_no: this.orderno,
      fParenen: this.parenten,
      fParentid: this.parentid
    }
  },
  watch: {
		reset: function(val){
			if(val === true) {
				this.resetFilter();
			}
		}
  },
  mounted() {
    var app = this;
    $(document).ready(function() {
      const getLocalSearch = JSON.parse(localStorage.getItem(app.uriName));
      setTimeout(() => {
          if (getLocalSearch !== null) {
              // app.distributor = getLocalSearch;  
              var send = {}
              console.log(getLocalSearch.name_ID);
              app.name_EN = getLocalSearch.name_EN;
              app.name_ID = getLocalSearch.name_ID;
              app.urlState = getLocalSearch.url;
              app.order_no = getLocalSearch.order_no;
              app.fParenen = getLocalSearch.parenten;
              app.fParentid = getLocalSearch.parentid;
              // var send = {}
              send['name_EN'] = app.name_EN;
              send['name_ID'] = app.name_ID;
              send['url'] = app.urlState;
              send['order_no'] = app.order_no;
              send['parenten'] = app.fParenen;
              send['parentid'] = app.fParentid;
              app.$emit("search-table", send);
          }
      },1000)
    });
  },
  methods: {
    search() {
      event.preventDefault();
      var send = {}
      send['name_EN'] = this.name_EN;
      send['name_ID'] = this.name_ID;
      send['url'] = this.urlState;
      send['order_no'] = this.order_no;
      send['parenten'] = this.fParenen;
      send['parentid'] = this.fParentid;
      localStorage.setItem(this.uriName, JSON.stringify(send));
      this.$emit("search-table", send);
    },
    resetFilter(){
      this.name_EN = '';
      this.name_ID = '';
      this.urlState = '';
      this.order_no = '';
      this.fParenen = '';
      this.fParentid = '';
      localStorage.removeItem(this.$route.name);
      this.search();
    }
  }
}
</script>

<style lang="css">
</style>
