<template>
  <transition name="custom-classes-transition" enter-active-class="animated fadeInDown" leave-active-class="animated fadeOutUp">
    <tr >
      <th>
        <i @click="setCollapse(prov.id)" class="buttonCollapse fa" :class="(icon) ? 'fa-minus' : 'fa-plus' "></i>
      </th>
      <th colspan="14" class="pinned head">
        {{ prov.name }}
      </th>
    </tr>
  </transition>
</template>

<script>
export default {
  props: ['prov', 'icon'],
  data: function() {
    return {

    }
  },
  methods: {
    setCollapse(id) {
      this.$emit('toggle-collapse-prod', id);
    }
  }
}
</script>

<style lang="css" scoped>
  td.head {
    padding-left: 2rem !important;
  }

  .buttonCollapse{
    cursor: pointer;
  }
</style>
