<template lang="html">
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title" id="horz-layout-colored-controls">Item Penebusan </h4>
      </div>
      <form-loader :view="loaderAnimate"></form-loader>
      <div v-if="pageloder" class="card-content collpase show">
        <form class="form form-horizontal">
          <div class="card-body">
              <div class="form-body">
                <!-- <h1>STEP 2 {{ paramId }}</h1> -->
              </div>
              <form class="form form-horizontal">
                <div class="form-body">
                  <table-penebusan :disable_all="disable_all" @trigger-item="triggerItem" :order_id="m_order_id" :headerDt="m_header" ref="form" :data_item="m_item_penebusan" :loading_plant="loading_plant" :data_product="m_item_prod" :status="sendDt.status" :data_gudang="m_gudang_plant"></table-penebusan>
                </div>
              </form>
              <div class="form-actions top clearfix">
                <div class="buttons-group float-left">
                  <button type="button" class="btn btn-danger mr-1" @click="toCancel" :disabled="loading">
                    <i class="ft-x"></i> Sebelumnya
                  </button>
                </div>
                <div v-if="access.C === true || access.U === true" class="buttons-group float-right">
                  <button v-if="tempDt.status !== 'y'" type="button" class="btn btn-primary mr-1" :disabled="loading" @click="toDraft">
                    <i v-if="loading" class="fa fa-spin fa-refresh"></i>
                    Simpan
                  </button>
                  <button v-if="tempDt.status !== 'y'" type="button" class="btn btn-success" :disabled="loading" @click="toDraft('next')">
                    <i v-if="loading" class="fa fa-spin fa-refresh"></i>
                    Selanjutnya
                  </button>
                </div>
              </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import FormLoader from '../../../main/FormLoader';
import TablePenebusan from './TablePenebusan';

export default {
  data: function(){
    return {
      errors: {},
      error: false,
      next_step: false,
      loading_plant: false,
      loaderAnimate: false,
      loading: false,
      pageloder:true,
      paramId: (this.$route.params.id === 'null') ? null : this.$route.params.id,
      order_id: null,
      customer_id: null,
      sales_org_id: null,
      sales_group_id: null,
      sendDt: [],
      tempDt: {},
      access: {},
      disable_all: false,
      m_item_penebusan: [],
      m_item_prod: [],
      m_gudang: [],
      m_gudang_plant: [],
      m_order_id: null,
      m_header: {},
    }
  },
  components: {
    FormLoader,
    TablePenebusan
  },
  created() {
    const encodeAccess = decodeURIComponent(this.$route.params.access);
    const decodeAccess = this.toText(this.decrypt(encodeAccess));
    const arrAccess = decodeAccess.split(",");
    if(arrAccess) {
      arrAccess.map((data) => {
        if(data === 'C' || data === 'R' || data === 'U' || data === 'D' || data === 'A') {
          this.access[data] = true
        } else {
          this.$router.push({path: '/home'});
          toastr.error('Permission can not open this page', 'Error');
        }
      })
    } else {
      this.$router.push({path: '/home'});
      toastr.error('Permission can not open this page', 'Error');
    }
  },
  mounted() {
    if (this.paramId !== null) {
      this.getDatabyuuid(this.paramId);
    } else {
      var access = this.$route.params.access;
      this.$router.push({path: '/'+encodeURIComponent(access)+'/transaksi/order/'});
    }
    this.$watch(vm => [vm.order_id, vm.customer_id, vm.sales_org_id, vm.sales_group_id], val => {
      if (this.order_id !== null ) {
        this.getItemPenebusan(this.order_id);
      }
      if (this.sales_org_id !== null && this.sales_group_id !== null) {
        this.getGudangPlant(this.sales_org_id, this.sales_group_id);
      }
    })
  },
  methods: {
    getDatabyuuid(uuid){
      this.loading = true;
      this.axios.get("order/id/"+uuid)
      .then((resp)=>{
        this.order_id = resp.data.data.id;
        this.customer_id = resp.data.data.customer_id;
        this.sales_org_id = resp.data.data.sales_org_id;
        this.sales_group_id = resp.data.data.sales_group_id;
        this.sendDt.status = resp.data.data.status;
        this.m_header = resp.data.data;
        this.loading = false;
      })
      .catch((resp) => { toastr.error('failed to get data item', 'error'); })
      .then((resp) => {
        var app = this;
        if(this.sendDt.status === 's' || this.sendDt.status === 'y'){
          this.disable_all = true;
        }
      })
    },
    getItemPenebusan(dt_orderId){
      if (dt_orderId !== null) {
        this.loading = true;
        this.loaderAnimate = true;
        this.pageloder = false;
        this.axios.get('order/item/spjb', {
          params: {
            order_id: dt_orderId
          }
        })
        .then((resp)=>{
          this.m_item_penebusan = resp.data;
          this.m_item_prod = resp.data.kecamatan[0].products;
          this.m_order_id = dt_orderId;
          this.loading = false;
        })
        .catch((resp) => { console.log(resp) })
        .then((resp) => {
          this.loaderAnimate = false;
          this.pageloder = true;
        })
      }
    },
    getGudangPlant(sales_org_id, sales_group_id){
      if (sales_org_id !== null && sales_group_id !== null) {
        this.loading_plant = true;
        this.axios.get("plant/supply", {
          params: {
            sales_org_id: sales_org_id,
            sales_group_id: sales_group_id,
          }
        })
        .then((resp)=>{
          this.m_gudang_plant = resp.data.data;
          this.loading_plant = false;
        })
        .catch((resp) => { console.log(resp); this.loading_plant = false; })
        .then((resp) => {
          // console.log(resp)
        })
      }
    },
    toDraft(val = false) {
      var app = this;
      var check_plant = true;
      var check_sisa = true;
      // var check_rdkk = true;
      var check_perbup = true;
      this.$refs.form.setSendData()
      console.log(this)

      if (this.sendDt.length > 0) {
        if(Object.keys(this.tempDt.shipto_err).length > 0) { 
          Object.entries(this.tempDt.shipto_err).forEach(([key, val]) => { 
            check_plant = (val) ? false : true
          })
        } 
        if(Object.values(this.tempDt.classObj).includes("danger")) { check_sisa = false; } else { check_sisa = true; }
        // if(Object.values(this.tempDt.classObjRdkk).includes("danger")) { check_rdkk = false; } else { check_rdkk = true; }
        if(Object.values(this.tempDt.classObjPerbup).includes("danger")) { check_perbup = false; } else { check_perbup = true; }
        // console.log(check_rdkk);
        // if(check_rdkk !== true){
        //   // this.loaderAnimate = false;
        //   // this.pageloder = true;
        //   toastr.warning('RDKK Tidak Tersedia', 'Informasi');
        // }

        if(check_perbup !== true){
            toastr.warning('SK DINAS KAB Tidak Tersedia', 'Informasi');
        }

        if (check_plant !== true) {
          // this.loaderAnimate = false;
          // this.pageloder = true;
          toastr.warning('Data Gudang Pemilik Kosong, Lengkapi Data Gudang Pemilik');
          // alert("Data Gudang Pemilik Kosong, Lengkapi Data Gudang Pemilik")
        } else if (check_sisa !== true) {
          // this.loaderAnimate = false;
          // this.pageloder = true;
          toastr.error('Total sisa melebihi jumlah maksimum', 'Entry data item Order gagal');
        } 
        // else if(check_perbup !== true){
        //   // this.loaderAnimate = false;
        //   // this.pageloder = true;
        //   toastr.error('SK DINAS KAB Tidak Tersedia', 'Informasi');
        // } 
        else {
          // console.log(this.sendDt);
          app.insert(val)
          // console.log("oke");
        }
      } else {
        // alert("Data Kosong, Lengkapi Data Item Penebusan")
        // this.loaderAnimate = false;
        // this.pageloder = true;
        toastr.warning('Data Kosong, Lengkapi Data Item Penebusan');
      }
    },
    insert(val){
      event.preventDefault();
      this.loading = true;
      // this.pageloder = false;
      this.axios.post('order/item', this.sendDt)
      .then((resp) => {
        toastr.success("Entry data Order berhasil", "Sukses");
        this.loading = false;
        // this.loaderAnimate = false;
        // this.pageloder = true;
        var access = this.$route.params.access;
        var id = this.paramId;
        if (val === 'next') {
          this.$router.push({path: '/'+encodeURIComponent(access)+'/transaksi/order/detail/'+id+'/step-3'});
        } else {
          window.location.reload(true);
        }
      })
      .catch((resp) => {
        this.error = true;
        this.errors = resp.response.data.message;
        const msg = resp.response.data.message;
        const pph22 = (msg.pph22) ? '<li>'+msg.pph22[0]+'</li>' : '';
        const ppn = (msg.ppn) ? '<li>'+msg.ppn[0]+'</li>' : '';
        const total_price = (msg.total_price) ? '<li>'+msg.total_price[0]+'</li>' : '';
        const total_price_before_ppn = (msg.total_price_before_ppn) ? '<li>'+msg.total_price_before_ppn[0]+'</li>' : '';
        const status = (msg.status) ? '<li>'+msg.status[0]+'</li>' : '';
        const plant_id = (msg.plant_id) ? '<li>'+msg.plant_id[0]+'</li>' : '';
        var html = total_price_before_ppn+total_price+pph22+ppn+status+plant_id;
        toastr.error('<ul>'+html+'</ul>', 'Entry data item Order gagal ');
        if (resp.response.data.status == 0) {
          toastr.error(resp.response.data.errors, resp.response.data.message);
        }
        this.loading = false;
        // this.loaderAnimate = false;
        // this.pageloder = true;
      })
    },
    toCancel(){
      var id = this.paramId;
      var access = this.$route.params.access;
      this.$router.push({path: '/'+encodeURIComponent(access)+'/transaksi/order/detail/'+id});
    },
    triggerItem(params, params2){
      this.sendDt = params;
      this.tempDt = params2;
      // console.log(params);
    },
  }
}
</script>

<style lang="css">
</style>
