<template lang="html">
  <div class="table-responsive">
    <table class="fixed-tb">
      <thead>
        <tr>
          <th></th>
          <th>Kec/Pengecer</th>
          <th>Gudang Pemilik</th>
          <th>Urea (Ton)</th>
          <th>NPK (Ton)</th>
          <th>ORGANIK (Ton)</th>
          <th>ZA (Ton)</th>
          <th>SP 36 (Ton)</th>
          <th>Organik Cair (Liter)</th>
          <th>NPK Kakao (Ton)</th>
        </tr>
      </thead>
      <tbody>
        <!-- get kecamatan -->
        <template v-if="data_item!=null" v-for="(data, index1) in data_item.kecamatan">
          <tr>
            <td  @click="toggle(data.sales_unit_id)" :class="{ opened: opened.includes(data.sales_unit_id) }">
              <span v-if="opened.includes(data.sales_unit_id)" class="buttonCollapse fa fa-minus"></span>
              <span v-else class="buttonCollapse fa fa-plus"></span>
            </td>
            <td >{{ data.sales_unit_name }}</td>
            <td>
              <small class="gudang-penebusan">
                <multiselect
                  style="width:250px;"
                  @input="setOptShipto(data.sales_unit_id)"
                  v-model="tempDt.shipto_id[data.sales_unit_id]"
                  :options="data_gudang"
                  track-by="code" :custom-label="shiptoNameWithId"
                  :searchable="true" :close-on-select="true"
                  :show-labels="false" :placeholder="(loading_plant) ? 'Memuat..' : 'Pilih Plant..'"
                  open-direction="below"
                  :disabled="disable_plant" >
                </multiselect>
                <p class="text-danger" style="padding-top: 38px;" v-if="tempDt.shipto_err[data.sales_unit_id]">* Lengkapi Data Gudang Pemilik</p>
              </small>
            </td>
            <!-- get head by product -->
            <template v-for="(data_prod, index2) in data.products">
            <td class="td-16">
            <div class="row" :style="{
              width: widthProdSubDistrict['width_subdistrict_' + index1 + '_' + data.sales_unit_id + '_' + index2 + '_' + data_prod.id] + 'px',
              paddingLeft: '10px', 
              paddingRight: paddingRightProdSubDistrict['paddingRight_subdistrict_' + index1 + '_' + data.sales_unit_id + '_' + index2 + '_' + data_prod.id] + 'px', 
              whiteSpace: 'nowrap' }">
              <div class="col-sm-8">
                <p class="list-group-item-text mb-0">
                  <span><small>RDKK</small></span>
                  <span class="ml-0" style="padding-left: 73px;"><small> : {{ isNaN(data_prod.rdkk) === false ? numberFormat(data_prod.rdkk) : 0  }}</small></span>
                </p>
                <p class="list-group-item-text mb-0">
                  <span><small>SK DINAS KAB</small></span>
                  <span class="ml-0" style="padding-left: 26px;"><small> : {{ isNaN(data_prod.perbup) === false ? numberFormat(data_prod.perbup) : 0  }}</small></span>
                </p>
                <p class="list-group-item-text mb-0">
                  <span><small>Alokasi SPJB s.d {{ currentTriwulan() }}</small></span>
                  <span class="ml-0" style="padding-left: 0px;"><small> : {{ isNaN(data_prod.alokasi) === false ? numberFormat(data_prod.alokasi) : 0  }}</small></span>
                </p>
              </div>
              <div class="col-sm-4">
                <p class="list-group-item-text mb-0">
                  <span><small>Sisa : </small></span>
                  <span class="ml-0">
                    <small v-if="type === 'checkout'">
                      {{ isNaN(data_prod.rdkk) === false ? numberFormat(data_prod.rdkk) : 0  }}
                    </small>
                    <small v-if="type !== 'checkout'" :class="tempDt.classObjRdkk['rdkk_' + index1 + '_' + data.sales_unit_id + '_' + index2 + '_' + data_prod.id]">
                      {{ numberFormat(tempDt.rdkkSisa['rdkk_' + index1 + '_' + data.sales_unit_id + '_' + index2 + '_' + data_prod.id]) }}
                    </small>
                  </span>
                </p>
                <p class="list-group-item-text mb-0">
                  <span><small>Sisa : </small></span>
                  <span class="ml-0">
                    <small v-if="type === 'checkout'">
                      {{ isNaN(data_prod.perbup) === false ? numberFormat(data_prod.perbup) : 0  }}
                    </small>
                    <small v-if="type !== 'checkout'" :class="tempDt.classObjPerbup['perbup_' + index1 + '_' + data.sales_unit_id + '_' + index2 + '_' + data_prod.id]">
                      {{ numberFormat(tempDt.perbupSisa['perbup_' + index1 + '_' + data.sales_unit_id + '_' + index2 + '_' + data_prod.id]) }}
                    </small>
                  </span>
                </p>
                <p class="list-group-item-text mb-0">
                  <span><small>Sisa : </small></span>
                  <span class="ml-0">
                    <small v-if="type === 'checkout'">
                      {{ isNaN(data_prod.alokasi) === false ? numberFormat(data_prod.alokasi) : 0  }}
                    </small>
                    <small v-if="type !== 'checkout'" :class="tempDt.classObj['alokasi_' + index1 + '_' + data.sales_unit_id + '_' + index2 + '_' + data_prod.id]">
                      {{ numberFormat(tempDt.alokasiSisa['alokasi_' + index1 + '_' + data.sales_unit_id + '_' + index2 + '_' + data_prod.id]) }}
                    </small>
                  </span>
                </p>
              </div>
            </div>
            
            </td>
          </template>
          </tr>
          <!-- get retail -->
          <template v-if="opened.includes(data.sales_unit_id)" v-for="(data_retail, index3) in data.retail">
            <transition name="custom-classes-transition" enter-active-class="animated fadeInDown" leave-active-class="animated fadeOutUp">
            <tr v-if="data_retail !== null">
              <td>{{  }}</td>
              <td> <small> {{ data_retail.name }} </small> </td>
              <td> <small>{{ data_retail.address }} </small> </td>
              <!-- get item by product -->
              <td v-for="(itemByprod, index4) in data.products">
                <div class="row">
                  <div class="col-sm-5" style="padding: 0px;">
                    <div class="input-group" v-if="itemByprod.status === 'y'">
                      <input 
                      type="text"
                      @input="setHasil([index1 + '_' + data.sales_unit_id + '_' + index4 + '_' + itemByprod.id], [index3 + '_' + data_retail.id + '_' + index1 + '_' + data.sales_unit_id + '_' + index4 + '_' + itemByprod.id], [itemByprod.id], data.sales_unit_id)"
                      v-model="tempDt.prodItem[index3 + '_' + data_retail.id + '_' + index1 + '_' + data.sales_unit_id + '_' + index4 + '_' + itemByprod.id]"
                      class="form-control qty-input"
                      :disabled="disable_all"
                      v-restrict.number.decimal
                      @blur="validateNumber([index1 + '_' + data.sales_unit_id + '_' + index4 + '_' + itemByprod.id], [index3 + '_' + data_retail.id + '_' + index1 + '_' + data.sales_unit_id + '_' + index4 + '_' + itemByprod.id], [itemByprod.id])"
                      >
                    </div>
                    <div class="input-group" v-else>
                      <input type="text" v-restrict.number.decimal v-model="tempDt.prodItem[index3 + '_' + data_retail.id + '_' + index1 + '_' + data.sales_unit_id + '_' + index4 + '_' + itemByprod.id]" class="form-control qty-input" disabled>
                    </div>
                  </div>
                  <div class="col-sm-7 text-right" style="padding-right: 20px;">
                    <small  :class="tempDt.classObj[index3 + '_' + data_retail.id + '_' + index1 + '_' + data.sales_unit_id + '_' + index4 + '_' + itemByprod.id]">
                      <b>
                       Rp. {{ numberFormat(tempDt.ZHTRsisa[index3 + '_' + data_retail.id + '_' + index1 + '_' + data.sales_unit_id + '_' + index4 + '_' + itemByprod.id]) }}
                      </b>
                    </small>
                  </div>
                </div>
              </td>
            </tr>
           </transition>
          </template>
        </template>
      </tbody>
      <tfoot>
        <tr>
          <!-- <td colspan="2">  </td> -->
          <td style="padding: 15px;" colspan="3"> <center> <b>TOTAL HARGA </b> (Sebelum Pajak) </center> </td>
          <td style="padding: 7px; border-right: 1px solid #dddddd;" v-for="(itemprod, index5) in data_product">
            <div class="row">
              <div class="col-sm-4 text-left"><b> &nbsp; {{ tempDt.qtyTotal[itemprod.id] }}</b></div>
              <div class="col-sm-8 text-right"><b :class="tempDt.classObj[itemprod.id]">Rp. {{ numberFormat(tempDt.ZHTRtotal[itemprod.id]) }}</b></div>
            </div>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</template>

<script>
import Multiselect from 'vue-multiselect';
import Vue from 'vue';

export default {
  props: ["data_item", "data_gudang", "loading_plant", "data_product", "order_id", "disable_plant", "disable_all", "status", "headerDt", "type"],
  data: function(){
    return {
      errors: {},
      error: false,
      loaderAnimate: false,
      pageloder:true,
      loadingPlant: this.loading_plant,
      opened: [],
      sendDt: [],
      sendDtChangeCheckout: [],
      getItem: this.data_item.kecamatan,
      getOrder_id: this.order_id,
      getHeader: this.headerDt,
      afterGetItem: null,
      parentType: this.type,
      existingItem: {},
      widthProdSubDistrict: {},
      paddingRightProdSubDistrict: {},
      tempDt: {
        prodItem: {},
        prodLimit: {},
        classObj: {},
        classObjRdkk: {},
        classObjPerbup: {},
        shipto_id: {},
        shipto_old: {},
        shipto_err: {},
        rdkkMaster: [],
        rdkkSisa: [],
        perbupSisa: [],
        alokasiMaster: [],
        alokasiSisa: [],
        limit: [],
        ZHETmaster: [],
        ZHETsisa: [],
        ZBKImaster: [],
        ZBKIsisa: [],
        ZBDImaster: [],
        ZBDIsisa: [],
        ZHTKsisa: [],
        ZHPNsisa: [],
        YMWSsisa: [],
        ZHTRsisa: [],
        ZHTNsisa: [],
        PPH22sisa: [],
        ZHTRtotal: [],
        ZHTR_grand_total: [],
        YMWS_grand_total: [],
        ZHTN_grand_total: [],
        sendItemDt: [],
        status: this.status,
        deduction: {},
        penebusan: {},
        // checkRdkk: {},
        ZHETmasterUOM: [],
        ZBKImasterUOM: [],
        ZBDImasterUOM: [],
        qtyTotal: [],
      }
    }
  },
  components: {
    Multiselect
  },
  mounted() {
    var app = this;
    if (typeof this.getItem !== 'undefined') {
      this.setDefaultData();
      // this.setCollapseShow();
      var $table = $('.table-pinned');
      var $fixedColumn = $table.clone().insertBefore($table).addClass('fixed-column');

      $fixedColumn.find('th,td').not('.pinned').remove();

      $fixedColumn.find('tr').each(function (i, elem) {
          $(this).height($table.find('tr:eq(' + i + ')').height());
      });
    }
  },
  methods: {
    setCollapseShow(){
      this.data_item.kecamatan.map((data) => {
        this.opened.push(data.sales_unit_id)
      })
    },
    toggle(id) {
    	const index = this.opened.indexOf(id);
      if (index > -1) {
      	this.opened.splice(index, 1)
      } else {
      	this.opened.push(id)
      }
    },
    shiptoNameWithId ({code, name}) {
      return `${code} — ${name}`
    },
    numberFormat(value) {
      if(value < 0) {
        return value.toFixed(2).toString();
      } else {
        value = parseFloat(value).toFixed(2).toString();
        return this.numberEngine(value)
      }
    },
    numberEngine(angka, prefix){
			var number_string = angka.replace(/[^,\d]/g, ','),
			split   		= number_string.split(','),
			sisa     		= split[0].length % 3,
			numb     	  = split[0].substr(0, sisa),
			ribuan     	= split[0].substr(sisa).match(/\d{3}/gi);
 
			// tambahkan titik jika yang di input sudah menjadi angka ribuan
			if(ribuan){
				var separator = sisa ? '.' : '';
				numb += separator + ribuan.join('.');
			}
 
			numb = split[1] != undefined ? numb + ',' + split[1] : numb;
			return prefix == undefined ? numb : (numb ? 'Rp. ' + numb : '');
		},
    setDefaultData(dt){
      var obj = {};
      var objOld = {};
      var objSet = {};
      var objPenebusan = {};
      var objRdkkMaster = {};
      // var objCheckRdkk = {};
      var objRdkkSisa = {};
      var objPerbupMaster = {};
      var objPerbupSisa = {};
      var objAlokasiMaster = {};
      var objAlokasiSisa = {};

      var objZHETmaster = {};
      var objZHETsisa = {};
      var objZBKImaster = {};
      var objZBKIsisa = {};
      var objZHTKmaster = {};
      var objZHTKsisa = {};
      var objZBDImaster = {};
      var objZBDIsisa = {};
      var objZHPNmaster = {};
      var objZHPNsisa = {};
      var objYMWSmaster = {};
      var objYMWSsisa = {};
      var objZHTRmaster = {};
      var objZHTRsisa = {};
      var objZHTNmaster = {};
      var objZHTNsisa = {};
      var objPPH22master = {};
      var objPPH22sisa = {};
      var objGudang = {};
      var objGudangOld = {};
      var objDeduction = {};
      var objLimit = {};
      var objZHETuom = {};
      var objZBKIuom = {};
      var objZBDIuom = {};
      // get kecamatan
      this.getItem.map((datax, key1) => {
        if(datax.plant_id){
          var objOfgudang = Object.assign(objGudang, {[datax.sales_unit_id]: { id: datax.plant_id, name: datax.plant_name, code: datax.plant_code } });
          var objOfgudangOld = Object.assign(objGudangOld, {[datax.sales_unit_id]: { id: datax.plant_id, name: datax.plant_name, code: datax.plant_code } });
          this.tempDt.shipto_id = objOfgudang;
          this.tempDt.shipto_old = objOfgudangOld;
          // this.setOptShiptoPlant(datax.sales_unit_id);
          // this.setOptShiptoPlant(datax.sales_unit_id);
        }
        
        // get head by product
        datax.products.map((data_prod, key2) => {
          var rdkk_item_total = isNaN(data_prod.rdkk) === false ? parseFloat(data_prod.rdkk) : 0;
          var rdkkVal = data_prod.rdkk;
          var perbup_item_total = isNaN(data_prod.perbup) === false ? parseFloat(data_prod.perbup) : 0;
          var alokasi_item_total = isNaN(data_prod.alokasi) === false ? parseFloat(data_prod.alokasi) : 0;
          var deduction_ammount = isNaN(data_prod.deduction_amount) === false ? parseFloat(data_prod.deduction_amount) : 0;
          var penebusan = data_prod.penebusan;
          var sisa_alokasi = parseFloat(alokasi_item_total)-parseFloat(deduction_ammount);

          // SET STYLE
          this.tempDt.classObj['alokasi_' + key1 + '_' + datax.sales_unit_id + '_' + key2 + '_' + data_prod.id] = sisa_alokasi < 0 ? "danger" : "";
          this.widthProdSubDistrict['width_subdistrict_' + key1 + '_' + datax.sales_unit_id + '_' + key2 + '_' + data_prod.id] = 350;
          this.paddingRightProdSubDistrict['paddingRight_subdistrict_' + key1 + '_' + datax.sales_unit_id + '_' + key2 + '_' + data_prod.id] = 10;

          // ambil nilai rdkk
          var objrdkk = Object.assign(objRdkkMaster, {['rdkk_' + key1 + '_' + datax.sales_unit_id + '_' + key2 + '_' + data_prod.id]: rdkk_item_total });
          this.tempDt.rdkkMaster = objrdkk;
          // ambil nilai rdkk
          // var objCheckrdkk = Object.assign(objCheckRdkk, {['checkRdkk_' + key1 + '_' + datax.sales_unit_id + '_' + key2 + '_' + data_prod.id]: rdkkVal });
          // this.tempDt.checkRdkk = objCheckrdkk;
          // ambil nilai perbup
          var objperbup = Object.assign(objPerbupMaster, {['perbup_' + key1 + '_' + datax.sales_unit_id + '_' + key2 + '_' + data_prod.id]: perbup_item_total });
          this.tempDt.perbupMaster = objperbup;
          // deduction ammount
          var objdeduction = Object.assign(objDeduction, {['deduction_' + key1 + '_' + datax.sales_unit_id + '_' + key2 + '_' + data_prod.id]: deduction_ammount });
          this.tempDt.deduction = objdeduction;
          // penebusan ammount
          var objpenebusan = Object.assign(objPenebusan, {['penebusan_' + key1 + '_' + datax.sales_unit_id + '_' + key2 + '_' + data_prod.id]: penebusan });
          this.tempDt.penebusan = objpenebusan;
          // set Nilai 0 sisa Rdkk
          var objOfRdkk = Object.assign(objRdkkSisa, {['rdkk_' + key1 + '_' + datax.sales_unit_id + '_' + key2 + '_' + data_prod.id]: 0});
          this.tempDt.rdkkSisa = objOfRdkk;
          // set Nilai 0 sisa Perbup
          var objOfPerbup = Object.assign(objPerbupSisa, {['perbup_' + key1 + '_' + datax.sales_unit_id + '_' + key2 + '_' + data_prod.id]: 0});
          this.tempDt.perbupSisa = objOfPerbup;
          // ambil nilai alokasi
          var objalokasi = Object.assign(objAlokasiMaster, {['alokasi_' + key1 + '_' + datax.sales_unit_id + '_' + key2 + '_' + data_prod.id]: alokasi_item_total });
          this.tempDt.alokasiMaster = objalokasi;
          // set Nilai 0 sisa Alokasi
          var objOfAlokasi = Object.assign(objAlokasiSisa, {['alokasi_' + key1 + '_' + datax.sales_unit_id + '_' + key2 + '_' + data_prod.id]: sisa_alokasi});
          this.tempDt.alokasiSisa = objOfAlokasi;
          // get limit product
          // var objOfLimit = Object.assign(objLimit, {['limit_' + key1 + '_' + datax.sales_unit_id + '_' + key2 + '_' + data_prod.id]: parseFloat(data_prod.limit)});
          // this.tempDt.limit = objOfLimit;

        })
        // get retail
        datax.retail.map((data_retail, key3) => {
          // get item by product
          datax.products.map((itemByprod, key4) => {
            // if (itemByprod.status === 'y') {
            //   var objOfSet = Object.assign(objSet, {[key3 + '_' + data_retail.id + '_' + key1 + '_' + datax.sales_unit_id + '_' + key4 + '_' + itemByprod.id]: parseFloat(0)});
            //   this.tempDt.prodItem = objOfSet;
            // }
            // this.setHasil([key1 + '_' + datax.sales_unit_id + '_' + key5 + '_' + itemByprod.product_id], [key3 + '_' + data_retail.id + '_' + key1 + '_' + datax.sales_unit_id + '_' + key5 + '_' + itemByprod.product_id], [itemByprod.product_id])

            // set master ZHET,ZZBKI,ZBDI
            const zhet_harga = (itemByprod.ZHET !== null ? itemByprod.ZHET.amount : 0);
            const zbki_harga = (itemByprod.ZBKI !== null ? itemByprod.ZBKI.amount : 0);
            const zbdi_harga = (itemByprod.ZBDI !== null ? itemByprod.ZBDI.amount : 0);
            const zhet_uom = (itemByprod.ZHET !== null ? itemByprod.ZHET.per_uom : 0);
            const zbki_uom = (itemByprod.ZBKI !== null ? itemByprod.ZBKI.per_uom : 0);
            const zbdi_uom = (itemByprod.ZBDI !== null ? itemByprod.ZBDI.per_uom : 0);

            
            // ZHET
            var valZHET = Object.assign(objZHETmaster, {[key3 + '_' + data_retail.id + '_' + key1 + '_' + datax.sales_unit_id + '_' + key4 + '_' + itemByprod.id]: parseFloat(zhet_harga) });
            this.tempDt.ZHETmaster = valZHET;
            var valZHET0 = Object.assign(objZHETsisa, {[key3 + '_' + data_retail.id + '_' + key1 + '_' + datax.sales_unit_id + '_' + key4 + '_' + itemByprod.id]: 0});
            this.tempDt.ZHETsisa = valZHET0;
            // ZBKI
            var valZBKI = Object.assign(objZBKImaster, {[key3 + '_' + data_retail.id + '_' + key1 + '_' + datax.sales_unit_id + '_' + key4 + '_' + itemByprod.id]: parseFloat(zbki_harga)});
            this.tempDt.ZBKImaster = valZBKI;
            var valZBKI0 = Object.assign(objZBKIsisa, {[key3 + '_' + data_retail.id + '_' + key1 + '_' + datax.sales_unit_id + '_' + key4 + '_' + itemByprod.id]: 0});
            this.tempDt.ZBKIsisa = valZBKI0;
            // ZBDI
            var valZBDI = Object.assign(objZBDImaster, {[key3 + '_' + data_retail.id + '_' + key1 + '_' + datax.sales_unit_id + '_' + key4 + '_' + itemByprod.id]: parseFloat(zbdi_harga)});
            this.tempDt.ZBDImaster = valZBDI;
            var valZBDI0 = Object.assign(objZBDIsisa, {[key3 + '_' + data_retail.id + '_' + key1 + '_' + datax.sales_unit_id + '_' + key4 + '_' + itemByprod.id]: 0});
            this.tempDt.ZBDIsisa = valZBDI0;

            // set uom zbdi,zbki,zhet
            var uomZHET = Object.assign(objZHETuom, {[key3 + '_' + data_retail.id + '_' + key1 + '_' + datax.sales_unit_id + '_' + key4 + '_' + itemByprod.id]: parseFloat(zhet_uom) });
            this.tempDt.ZHETmasterUOM = uomZHET;
            var uomZBKI = Object.assign(objZBKIuom, {[key3 + '_' + data_retail.id + '_' + key1 + '_' + datax.sales_unit_id + '_' + key4 + '_' + itemByprod.id]: parseFloat(zbki_uom) });
            this.tempDt.ZBKImasterUOM = uomZBKI;
            var uomZBDI = Object.assign(objZBDIuom, {[key3 + '_' + data_retail.id + '_' + key1 + '_' + datax.sales_unit_id + '_' + key4 + '_' + itemByprod.id]: parseFloat(zbdi_uom) });
            this.tempDt.ZBDImasterUOM = uomZBDI;

            // set nilai 0 Lain2
            var valZHTK = Object.assign(objZHTKsisa, {[key3 + '_' + data_retail.id + '_' + key1 + '_' + datax.sales_unit_id + '_' + key4 + '_' + itemByprod.id]: 0});
            this.tempDt.ZHTKsisa = valZHTK;
            var valZHPN = Object.assign(objZHPNsisa, {[key3 + '_' + data_retail.id + '_' + key1 + '_' + datax.sales_unit_id + '_' + key4 + '_' + itemByprod.id]: 0});
            this.tempDt.ZHPNsisa = valZHPN;
            var valYMWS = Object.assign(objYMWSsisa, {[key3 + '_' + data_retail.id + '_' + key1 + '_' + datax.sales_unit_id + '_' + key4 + '_' + itemByprod.id]: 0});
            this.tempDt.YMWSsisa = valYMWS;
            var valZHTR = Object.assign(objZHTRsisa, {[key3 + '_' + data_retail.id + '_' + key1 + '_' + datax.sales_unit_id + '_' + key4 + '_' + itemByprod.id]: 0});
            this.tempDt.ZHTRsisa = valZHTR;
            var valZHTN = Object.assign(objZHTNsisa, {[key3 + '_' + data_retail.id + '_' + key1 + '_' + datax.sales_unit_id + '_' + key4 + '_' + itemByprod.id]: 0});
            this.tempDt.ZHTNsisa = valZHTN;
            var valPPH22 = Object.assign(objPPH22sisa, {[key3 + '_' + data_retail.id + '_' + key1 + '_' + datax.sales_unit_id + '_' + key4 + '_' + itemByprod.id]: 0});
            this.tempDt.PPH22sisa = valPPH22;

            // console.log(data_retail.item.length );
            if (data_retail.items.length > 0) {
              data_retail.items.map((data_item, key5) => {
                // LIMIT PRODUK
                var valLimit = Object.assign(objLimit, {[key3 + '_' + data_retail.id + '_' + key1 + '_' + datax.sales_unit_id + '_' + key5 + '_' + data_item.id]: data_item.name+'_'+datax.products[key5].limit_qty });
                this.tempDt.prodLimit = valLimit;
                
                if (data_item.qty !== null) {
                  var objOf = Object.assign(obj, {[key3 + '_' + data_retail.id + '_' + key1 + '_' + datax.sales_unit_id + '_' + key5 + '_' + data_item.id]: parseFloat(data_item.qty)});
                  this.tempDt.prodItem = objOf;
                  var objOldval = Object.assign(objOld, {['oldval_' + key3 + '_' + data_retail.id + '_' + key1 + '_' + datax.sales_unit_id + '_' + key5 + '_' + data_item.id]: parseFloat(data_item.qty)});
                  this.existingItem = objOldval;
                  // console.log(this.tempDt.prodItem);
                  if (this.tempDt.prodItem) {
                    this.setHasil([key1 + '_' + datax.sales_unit_id + '_' + key5 + '_' + data_item.id], [key3 + '_' + data_retail.id + '_' + key1 + '_' + datax.sales_unit_id + '_' + key5 + '_' + data_item.id], [data_item.id])

                    if (this.parentType === 'checkout') { this.$emit("trigger-checkout", this.tempDt) }
                  }
                }
              })
            }
          })
        })
      })
    },
    setItemData(){
      var obj = {};
      var arrDt = [];
      this.tempDt.shipto_err = {};
      Object.entries(this.tempDt.prodItem).forEach(([key, val]) => {
        var getKeyproduct_id = key.split("_")[5];
        var getKeyretail_id = key.split("_")[1];
        var getKeysales_unit_id = key.split("_")[3];
        var plantId = this.setOptShiptoPlant(getKeysales_unit_id);
        var status = (typeof this.tempDt.status === 'undefined') ? 'y' : this.tempDt.status;
        
        obj = {
          "order_id": this.getOrder_id,
          "product_id": getKeyproduct_id,
          "plant_id": plantId,
          "retail_id": getKeyretail_id,
          "qty": parseFloat(val),
          "sales_unit_id": getKeysales_unit_id,
          "sales_org_id": this.getHeader.sales_org_id,
          "status": status,
          "pph22": this.tempDt.PPH22sisa[key],
          "ppn": this.tempDt.YMWSsisa[key],
          "zhet": this.tempDt.ZHETmaster[key],
          "zbki": this.tempDt.ZBKImaster[key],
          "zbdi": this.tempDt.ZBDImaster[key],
          "total_price": this.tempDt.ZHTNsisa[key],
          "total_price_before_ppn": this.tempDt.ZHTRsisa[key],
          "uom_zhet": this.tempDt.ZHETmasterUOM[key],
          "uom_zbdi": this.tempDt.ZBDImasterUOM[key],
          "uom_zbki": this.tempDt.ZBKImasterUOM[key],
        };

        if (key) {
          if (parseFloat(this.existingItem["oldval_"+key]) > 0) {
            // console.log(this.existingItem["oldval_"+key]);
            // if(obj['qty'] > 0){ }
            arrDt.push(obj)
            if(val !== 0){
              this.tempDt.shipto_err[getKeysales_unit_id] = (plantId === '') ?  true : false;
            }
          } else {
            if (parseFloat(val) !== 0 || parseFloat(val) < 0) { 
              arrDt.push(obj) 
              if(val !== 0){
                this.tempDt.shipto_err[getKeysales_unit_id] = (plantId === '') ?  true : false;
              }
            }
          }
        } 
      });
      return arrDt;
    },
    setItemChangeCheckout(){
      var obj = {};
      var arrDt = [];

      Object.entries(this.tempDt.prodItem).forEach(([key, val]) => {
        var getKeyproduct_id = key.split("_")[5];
        var getKeyretail_id = key.split("_")[1];
        var getKeysales_unit_id = key.split("_")[3];
        var plantId = this.setOptShiptoPlant(getKeysales_unit_id);
        var plantIdOld = this.setOptShiptoPlant(getKeysales_unit_id);
        var status = (typeof this.tempDt.status === 'undefined') ? 'y' : this.tempDt.status;
        obj = {
          "retail_id": getKeyretail_id,
          "plant_id": plantIdOld,
          "product_id": getKeyproduct_id,
          "new_plant_id": plantId,
          "qty": parseFloat(val),
        };
        if (key) {
          // if(obj['qty'] === 0){
          //   delete ["retail_id"];
          //   delete ["plant_id"];
          //   delete ["product_id"];
          //   delete ["new_plant_id"];
          //   delete ["qty"];
          // }
          if (parseFloat(this.existingItem["oldval_"+key]) > 0) {
            // if(obj['qty'] > 0){ }
            arrDt.push(obj)
          } else {
            if (parseFloat(val) !== 0 || parseFloat(val) < 0) { arrDt.push(obj) }
          }
          
        } 
      });
      return arrDt;
    },
    setSendData(){
      this.sendDt = this.setItemData();
      this.$emit("trigger-item", this.sendDt, this.tempDt);
    },
    setSendChangeCheckout(){
      this.sendDtChangeCheckout = this.setItemChangeCheckout();
      this.$emit("trigger-item-change-checkout", this.sendDtChangeCheckout, this.tempDt);
    },
    setHasil(dt, key2, key3, sales_unit_id){
      let item_length = (isNaN(this.tempDt.prodItem[key2].length) === false) ? this.tempDt.prodItem[key2].length : 1;
      // STYLING SISA PER PRODUCT
      this.widthProdSubDistrict['width_subdistrict_' + dt] = 300 + item_length * 10;
      let validatePaddingRight = (item_length < 12) ? item_length + 10 : item_length + 45;
      this.paddingRightProdSubDistrict['paddingRight_subdistrict_' + dt] = 10 + validatePaddingRight;
      // console.log(this.tempDt.prodItem[key2]);
      // console.log(this.tempDt.prodLimit[key2]);
      let prod_name = this.tempDt.prodLimit[key2].split("_")[0];
      let limit_product = this.tempDt.prodLimit[key2].split("_")[1];
      let modulo_limit = (parseFloat(this.tempDt.prodItem[key2]) * 1000) % (parseFloat(limit_product) * 1000);
      if(parseFloat(this.tempDt.prodItem[key2]) !== 0 && modulo_limit !== 0 ){
        this.tempDt.prodItem[key2] = 0;
				const uom_limit = (prod_name === 'ORGANIK CAIR') ? 'LITER' : 'TON';
				const prod_limit = (prod_name === 'ORGANIK CAIR') ? parseInt(limit_product) : parseFloat(limit_product).toFixed(2);
        toastr.warning(`Kuantiti harus kelipatan ${prod_limit} ${uom_limit}`);
      }
      // this.setOptShipto(sales_unit_id)
      // console.log(sales_unit_id);
      // if(parseFloat(this.tempDt.prodItem[key2]) !== 0 && parseFloat(this.tempDt.prodItem[key2]) < parseFloat(limit_product) ){
      //   delete this.tempDt.prodItem[key2];
      //   toastr.warning("Minimum Limit Produk "+prod_name+" adalah "+parseFloat(limit_product).toFixed(2)+" Ton");
      // }
      var key_rdkk = 'rdkk_'+dt;
      var key_perbup = 'perbup_'+dt;
      var key_alokasi = 'alokasi_'+dt;
      var key_deduction = 'deduction_'+dt;
      var sum_val = this.getTotalTaxes(dt);
      let sisa_deduction = parseFloat(this.tempDt.deduction[key_deduction]);
      let sisa_rdkk = parseFloat(this.tempDt.rdkkMaster[key_rdkk])-parseFloat(sum_val);
      let sisa_perbup = parseFloat(this.tempDt.perbupMaster[key_perbup])-parseFloat(sum_val);
      let sisa_alokasi = parseFloat(this.tempDt.alokasiMaster[key_alokasi])-parseFloat(sum_val)-sisa_deduction;

      let zhet_per_uom = parseFloat(this.tempDt.ZHETmaster[key2]) / parseFloat(this.tempDt.ZHETmasterUOM[key2]);
      let zbki_per_uom = parseFloat(this.tempDt.ZBKImaster[key2]) / parseFloat(this.tempDt.ZBKImasterUOM[key2]);
      let zbdi_per_uom = parseFloat(this.tempDt.ZBDImaster[key2]) / parseFloat(this.tempDt.ZBDImasterUOM[key2]);

      this.tempDt.rdkkSisa[key_rdkk] = isNaN(sisa_rdkk) === false ? sisa_rdkk : 0;
      this.tempDt.classObjRdkk[key_rdkk] = this.tempDt.rdkkSisa[key_rdkk] < 0 ? "danger" : "";
      this.tempDt.perbupSisa[key_perbup] = isNaN(sisa_perbup) === false ? sisa_perbup : 0;
      this.tempDt.classObjPerbup[key_perbup] = this.tempDt.perbupSisa[key_perbup] < 0 ? "danger" : "";
      this.tempDt.alokasiSisa[key_alokasi] = isNaN(sisa_alokasi) === false ? sisa_alokasi : 0;
      this.tempDt.classObj[key_alokasi] = this.tempDt.alokasiSisa[key_alokasi] < 0 ? "danger" : "";

      // PERHITUNGAN RUWET
      this.tempDt.ZHETsisa[key2] = Math.round(zhet_per_uom*parseFloat(this.tempDt.prodItem[key2])) ;
      this.tempDt.ZBKIsisa[key2] = Math.round(zbki_per_uom*parseFloat(this.tempDt.prodItem[key2])) ;
      this.tempDt.ZBDIsisa[key2] = Math.round(zbdi_per_uom*parseFloat(this.tempDt.prodItem[key2])) ;

      this.tempDt.ZHTKsisa[key2] = parseFloat(this.tempDt.ZHETsisa[key2])-parseFloat(this.tempDt.ZBKIsisa[key2]);
      this.tempDt.ZHPNsisa[key2] = Math.round(parseFloat(this.tempDt.ZHETsisa[key2]) / 1.1);
      this.tempDt.YMWSsisa[key2] = Math.round(0.1 * parseFloat(this.tempDt.ZHPNsisa[key2]));
      this.tempDt.ZHTRsisa[key2] = Math.round(parseFloat(this.tempDt.ZHTKsisa[key2]) - parseFloat(this.tempDt.YMWSsisa[key2]) - parseFloat(this.tempDt.ZBDIsisa[key2]));
      this.tempDt.ZHTNsisa[key2] = Math.round(this.tempDt.ZHTRsisa[key2] + this.tempDt.YMWSsisa[key2]);
      this.tempDt.classObj[key2] = this.tempDt.ZHTNsisa[key2] < 0 ? "danger" : "";
      this.tempDt.PPH22sisa[key2] = Math.round(parseFloat(this.tempDt.ZHTRsisa[key2]) * 0.015);

      var sum_totalZHTN = this.getTotalZHTR(key3);
      var sum_totalQty = this.getTotalQty(key3);
      this.tempDt.qtyTotal[key3] = sum_totalQty;
      this.tempDt.ZHTRtotal[key3] = sum_totalZHTN;
      this.tempDt.ZHTRtotal.splice(key3, sum_totalZHTN);
      this.tempDt.classObj[key3] = this.tempDt.ZHTRtotal[key3] < 0 ? "danger" : "";
      this.tempDt.ZHTR_grand_total = this.grandTotalZHTR();
      this.tempDt.YMWS_grand_total = this.grandTotalYMWS();
      this.tempDt.ZHTN_grand_total = this.grandTotalZHTN();
      // console.log(this.tempDt);
    },
    setOptShipto(getKeysales_unit_id){
      var plantId = '';
      // this.loadingPlant = true;
      var objErrShipto = {};
      this.tempDt.shipto_err = {};
      if (typeof this.tempDt.shipto_id[getKeysales_unit_id] === 'undefined' || typeof this.tempDt.shipto_id[getKeysales_unit_id] === null || this.tempDt.shipto_id[getKeysales_unit_id] === null || this.tempDt.shipto_id[getKeysales_unit_id] === undefined) {
        this.error = true;
        plantId = '';
        // this.loadingPlant = false;
        // var objOfErrGudang = Object.assign(objErrShipto, {[getKeysales_unit_id]: { id: getKeysales_unit_id } });
        // this.tempDt.shipto_err[getKeysales_unit_id] = true;
      } else {
        plantId = this.tempDt.shipto_id[getKeysales_unit_id].id;
        // this.loadingPlant = false;
      }
      return plantId;
    },
    setOptShiptoPlant(getKeysales_unit_id){
      var plantId = '';
      if (typeof this.tempDt.shipto_id[getKeysales_unit_id] === 'undefined' || typeof this.tempDt.shipto_id[getKeysales_unit_id] === null || this.tempDt.shipto_id[getKeysales_unit_id] === null || this.tempDt.shipto_id[getKeysales_unit_id] === 'undefined') {
        this.error = true;
        plantId = '';
      } else {
        plantId = this.tempDt.shipto_id[getKeysales_unit_id].id;
      }
      return plantId;
    },
    setObjtoArr(objArr){
      var temp = {};
      var obj = 0;
      for(var i=0; i < objArr.length; i++) {
         obj=objArr[i];

         if(!temp[obj.key]) {
             temp[obj.key] = obj;
         } else {
             temp[obj.key].val += obj.val;
         }
      }
      var result = [];
      for (var prop in temp)
        return result.push(temp[prop]);
    },
    getTotalTaxes(index) {
      let total = [];
      Object.entries(this.tempDt.prodItem).forEach(([key, val]) => {
        var getKey = key.split("_").splice(2).join("_");
        if (index != getKey) {

        } else {
          total.push(parseFloat(val)) // the value of the current key.
        }
      });
      return total.reduce(function(total, num){ return parseFloat(total) + parseFloat(num) }, 0);
    },
    getTotalQty(index) {
      let total = [];
      Object.entries(this.tempDt.prodItem).forEach(([key, val]) => {
        var getKey = key.split("_").splice(5).join("_");
        // console.log(getKey);
        if (index != getKey) {

        } else {
          // console.log(val);
          let qtyVal = (val === '' || isNaN(val)) ? 0 : val;
          total.push(parseFloat(qtyVal)) // the value of the current key.
        }
      });
      return total.reduce(function(total, num){ return parseFloat(total) + parseFloat(num) }, 0);
    },
    getTotalZHTR(index) {
      let total = [];
      Object.entries(this.tempDt.ZHTRsisa).forEach(([key, val]) => {
        var getKey = key.split("_").splice(5).join("_");
        // console.log(getKey);
        if (index != getKey) {

        } else {
          total.push(parseFloat(val)) // the value of the current key.
        }
      });
      return total.reduce(function(total, num){ return parseFloat(total) + parseFloat(num) }, 0);
    },
    grandTotalZHTR(index) {
      let total = [];
      Object.entries(this.tempDt.ZHTRsisa).forEach(([key, val]) => {
        let qtyVal = (val === '' || isNaN(val)) ? 0 : val;
        total.push(parseFloat(qtyVal)) // the value of the current key.
      });
      return total.reduce(function(total, num){ return parseFloat(total) + parseFloat(num) }, 0);
    },
    grandTotalYMWS(index) {
      let total = [];
      Object.entries(this.tempDt.YMWSsisa).forEach(([key, val]) => {
        let qtyVal = (val === '' || isNaN(val)) ? 0 : val;
        total.push(parseFloat(qtyVal)) // the value of the current key.
      });
      return total.reduce(function(total, num){ return parseFloat(total) + parseFloat(num) }, 0);
    },
    grandTotalZHTN(index) {
      let total = [];
      Object.entries(this.tempDt.ZHTNsisa).forEach(([key, val]) => {
        let qtyVal = (val === '' || isNaN(val)) ? 0 : val;
        total.push(parseFloat(qtyVal)) // the value of the current key.
      });
      return total.reduce(function(total, num){ return parseFloat(total) + parseFloat(num) }, 0);
    },
    formatPrice(value) {
      if (isNaN(value) === false) {
        let val = (value/1).toFixed(2).replace('.', ',')
        return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
      } else {
        return 0;
      }
    },
    validateNumber(i, key, index) {
      let val = this.tempDt.prodItem[key];
      let limit = this.tempDt.prodLimit[key];
      // let penebusan = this.tempDt.checkRdkk['checkRdkk_'+i];

      if (typeof val !== 'undefined') {
        if (val.length <= 0) {
          this.tempDt.prodItem[key] = 0;
          this.setHasil(i, key, index);
        }
        
        if(val.indexOf('.') !== -1){
          let arrNumber = val.split('.');
          if(arrNumber.length > 2 || val === '') {
            this.tempDt.prodItem[key] = 0;
            this.setHasil(i, key, index);
          }
        }

        if (parseFloat(val) < limit) {
          toastr.warning("Total kurang dari limit !", "Total produk tidak sesuai");
          this.tempDt.prodItem[key] = 0;
          this.setHasil(i, key, index);
        }

        // if(penebusan === 'undefined'){
        //   toastr.warning("Tidak ada RDKK pada Kecamatan ini!", "Nilai tidak sesuai");
        //   this.tempDt.prodItem[key] = 0;
        //   this.setHasil(i, key, index);
        //   delete this.tempDt.prodItem[key];
        //   this.widthProdSubDistrict['width_subdistrict_' + i] = 300;
        //   this.paddingRightProdSubDistrict['paddingRight_subdistrict_' + i] = 10;
        // }
      }
    },
    setEmptyItem(){
      var objSet = {};
      Object.entries(this.tempDt.prodItem).forEach(([key, val]) => {
        var getKeysales_unit_id = key.split("_")[3];
        this.getItem.map((datax, key1) => {
          if (getKeysales_unit_id === datax.sales_unit_id) {
            datax.retail.map((data_retail, key3) => {
              datax.products.map((itemByprod, key4) => {
                var keyItem = key3 + '_' + data_retail.id + '_' + key1 + '_' + datax.sales_unit_id + '_' + key4 + '_' + itemByprod.id;
                if (key === keyItem) {
                  var objOfSet = Object.assign(objSet, {[keyItem]: parseFloat(val)});
                  this.tempDt.prodItem = objOfSet;
                } else {
                  if (itemByprod.status === 'y') {
                    var objOfSet = Object.assign(objSet, {[keyItem]: parseFloat(0)});
                    this.tempDt.prodItem = objOfSet;
                  }
                }
              })
            })
          }

        })
      })
    },
    currentTriwulan(){
      var today = new Date();
      var quarter = 'T'+Math.floor((today.getMonth() + 3) / 3);
      return quarter;
    }
  }
}
Vue.directive('restrict', {
  bind (el, binding) {
    el.addEventListener('keydown', (e) => {
      // delete, backpsace, tab, escape, enter,
      let special = [46, 8, 9, 27, 13, 188]
      if (binding.modifiers['decimal']) {
        // decimal(numpad), period
        special.push(110)
      }
      // special from above
      if (special.indexOf(e.keyCode) !== -1 ||
        // Ctrl+A
        (e.keyCode === 65 && e.ctrlKey === true) ||
        // Ctrl+C
        (e.keyCode === 67 && e.ctrlKey === true) ||
        // Ctrl+X
        (e.keyCode === 88 && e.ctrlKey === true) ||
        // home, end, left, right
        (e.keyCode >= 35 && e.keyCode <= 39)) {
        return // allow
      }
      if ((binding.modifiers['alpha']) &&
        // a-z/A-Z
        (e.keyCode >= 65 && e.keyCode <= 90)) {
        return // allow
      }
      if ((binding.modifiers['number']) &&
        // number keys without shift
        ((!e.shiftKey && (e.keyCode >= 48 && e.keyCode <= 57)) ||
        // numpad number keys
        (e.keyCode >= 96 && e.keyCode <= 105))) {
        return // allow
      }
      // otherwise stop the keystroke
      e.preventDefault() // prevent
    }) // end addEventListener
  } // end bind
}) // end directive
</script>

<style src="./TablePenebusan.css"></style>
<style lang="css">

</style>
