/* Awal Costum CSS vue-multiselect */
fieldset[disabled] .multiselect {
	pointer-events: none
}

.multiselect__spinner {
	position: absolute;
	right: 1px;
	top: 1px;
	width: 48px;
	height: 35px;
	background: #fff;
	display: block
}

.multiselect__spinner:after,
.multiselect__spinner:before {
	position: absolute;
	content: "";
	top: 50%;
	left: 50%;
	margin: -8px 0 0 -8px;
	width: 16px;
	height: 16px;
	border-radius: 100%;
	border-color: #41b883 transparent transparent;
	border-style: solid;
	border-width: 2px;
	box-shadow: 0 0 0 1px transparent
}

.multiselect__spinner:before {
	animation: a 2.4s cubic-bezier(.41, .26, .2, .62);
	animation-iteration-count: infinite
}

.multiselect__spinner:after {
	animation: a 2.4s cubic-bezier(.51, .09, .21, .8);
	animation-iteration-count: infinite
}

.multiselect__loading-enter-active,
.multiselect__loading-leave-active {
	transition: opacity .4s ease-in-out;
	opacity: 1
}

.multiselect__loading-enter,
.multiselect__loading-leave-active {
	opacity: 0
}

.gudang-penebusan .multiselect,
.gudang-penebusan .multiselect__input,
.gudang-penebusan .multiselect__single {
	font-family: inherit;
	font-size: 9px !important;;
	-ms-touch-action: manipulation;
	touch-action: manipulation
}

/* .gudang-penebusan .multiselect {
	box-sizing: content-box;
	display: block;
	position: relative;
	width: 100%;
	min-height: 40px;
	text-align: left;
	color: #35495e
} */

.gudang-penebusan .multiselect {
	box-sizing: content-box;
	display: -webkit-box;
	position: absolute;
	/* width: 100%; */
	min-height: 53px;
	text-align: left;
	top: 1px;
	left: -1px;
	color: #35495e;
	min-width: 250px;
	min-height: 0px !important;
}

.multiselect * {
	box-sizing: border-box
}

.multiselect:focus {
	outline: none
}

.multiselect--disabled {
	opacity: .6
}

.multiselect--active {
	z-index: 1
}

.multiselect--active:not(.multiselect--above) .multiselect__current,
.multiselect--active:not(.multiselect--above) .multiselect__input,
.multiselect--active:not(.multiselect--above) .multiselect__tags {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0
}

.multiselect--active .multiselect__select {
	transform: rotate(180deg)
}

.multiselect--above.multiselect--active .multiselect__current,
.multiselect--above.multiselect--active .multiselect__input,
.multiselect--above.multiselect--active .multiselect__tags {
	border-top-left-radius: 0;
	border-top-right-radius: 0
}

.multiselect__input,
.multiselect__single {
	position: relative;
	display: inline-block;
	min-height: 20px;
	line-height: 20px;
	border: none;
	border-radius: 5px;
	background: #fff;
	padding: 0 0 0 5px;
	width: 100%;
	transition: border .1s ease;
	box-sizing: border-box;
	margin-bottom: 8px;
	vertical-align: top
}

.multiselect__input:-ms-input-placeholder {
	color: #35495e
}

.multiselect__input::placeholder {
	color: #35495e
}

.multiselect__tag~.multiselect__input,
.multiselect__tag~.multiselect__single {
	width: auto
}

.multiselect__input:hover,
.multiselect__single:hover {
	border-color: #cfcfcf
}

.multiselect__input:focus,
.multiselect__single:focus {
	border-color: #a8a8a8;
	outline: none
}

.multiselect__single {
	padding-left: 5px;
	margin-bottom: 8px
}

.multiselect__tags-wrap {
	display: inline-grid
}

.multiselect__tags {
	min-height: 40px;
	display: block;
	padding: 8px 40px 0 8px;
	border-radius: 5px;
	border: 1px solid #e8e8e8;
	background: #fff;
	font-size: 14px;
	min-width: 250px;
}

.multiselect__tag {
	position: relative;
	display: inline-block;
	padding: 4px 26px 4px 10px;
	border-radius: 5px;
	margin-right: 10px;
	color: #fff;
	line-height: 1;
	background: #41b883;
	margin-bottom: 5px;
	white-space: nowrap;
	overflow: hidden;
	max-width: 100%;
	text-overflow: ellipsis
}

.multiselect__tag-icon {
	cursor: pointer;
	margin-left: 7px;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	font-weight: 700;
	font-style: normal;
	width: 22px;
	text-align: center;
	line-height: 22px;
	transition: all .2s ease;
	border-radius: 5px
}

.multiselect__tag-icon:after {
	content: "\D7";
	color: #266d4d;
	font-size: 14px
}

.multiselect__tag-icon:focus,
.multiselect__tag-icon:hover {
	background: #369a6e
}

.multiselect__tag-icon:focus:after,
.multiselect__tag-icon:hover:after {
	color: #fff
}

.multiselect__current {
	min-height: 40px;
	overflow: hidden;
	padding: 8px 12px 0;
	padding-right: 30px;
	white-space: nowrap;
	border-radius: 5px;
	border: 1px solid #e8e8e8
}

.multiselect__current,
.multiselect__select {
	line-height: 16px;
	box-sizing: border-box;
	display: block;
	margin: 0;
	text-decoration: none;
	cursor: pointer
}

.multiselect__select {
	position: absolute;
	width: 40px;
	height: 38px;
	right: 1px;
	top: 1px;
	padding: 4px 8px;
	text-align: center;
	transition: transform .2s ease
}

.multiselect__select:before {
	position: relative;
	right: 0;
	top: 65%;
	color: #999;
	margin-top: 4px;
	border-style: solid;
	border-width: 5px 5px 0;
	border-color: #999 transparent transparent;
	content: ""
}

.multiselect__placeholder {
	color: #adadad;
	display: inline-block;
	margin-bottom: 10px;
	padding-top: 2px
}

.multiselect--active .multiselect__placeholder {
	display: none
}

.gudang-penebusan .multiselect__content-wrapper {
	position: relative;
	display: block;
	background: #fff;
	width: 100%;
	max-height: 240px;
	overflow: auto;
	border: 1px solid #e8e8e8;
	border-top: none;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	z-index: 4;
	-webkit-overflow-scrolling: touch
}

.gudang-penebusan .multiselect__content {
	list-style: none;
	display: inline-block;
	padding: 0;
	margin: 0;
	min-width: 100%;
	vertical-align: top;
	font-size: 9px;
}

.multiselect--above .multiselect__content-wrapper {
	bottom: 100%;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom: none;
	border-top: 1px solid #e8e8e8
}

.multiselect__content::webkit-scrollbar {
	display: none
}

.multiselect__element {
	display: block
}

.multiselect__option {
	display: block;
	padding: 12px;
	min-height: 40px;
	line-height: 16px;
	text-decoration: none;
	text-transform: none;
	vertical-align: middle;
	position: relative;
	cursor: pointer;
	white-space: nowrap
}

.multiselect__option:after {
	top: 0;
	right: 0;
	position: absolute;
	line-height: 40px;
	padding-right: 12px;
	padding-left: 20px;
	font-size: 13px
}

.multiselect__option--highlight {
	background: #41b883;
	outline: none;
	color: #fff
}

.multiselect__option--highlight:after {
	content: attr(data-select);
	background: #41b883;
	color: #fff
}

.multiselect__option--selected {
	background: #f3f3f3;
	color: #35495e;
	font-weight: 700
}

.multiselect__option--selected:after {
	content: attr(data-selected);
	color: silver
}

.multiselect__option--selected.multiselect__option--highlight {
	background: #ff6a6a;
	color: #fff
}

.multiselect__option--selected.multiselect__option--highlight:after {
	background: #ff6a6a;
	content: attr(data-deselect);
	color: #fff
}

.multiselect--disabled {
	background: #ededed;
	pointer-events: none
}

.multiselect--disabled .multiselect__current,
.multiselect--disabled .multiselect__select {
	background: #ededed;
	color: #a6a6a6
}

.multiselect__option--disabled {
	background: #ededed!important;
	color: #a6a6a6!important;
	cursor: text;
	pointer-events: none
}

.multiselect__option--group {
	background: #ededed;
	color: #35495e
}

.multiselect__option--group.multiselect__option--highlight {
	background: #35495e;
	color: #fff
}

.multiselect__option--group.multiselect__option--highlight:after {
	background: #35495e
}

.multiselect__option--disabled.multiselect__option--highlight {
	background: #dedede
}

.multiselect__option--group-selected.multiselect__option--highlight {
	background: #ff6a6a;
	color: #fff
}

.multiselect__option--group-selected.multiselect__option--highlight:after {
	background: #ff6a6a;
	content: attr(data-deselect);
	color: #fff
}

.multiselect-enter-active,
.multiselect-leave-active {
	transition: all .15s ease
}

.multiselect-enter,
.multiselect-leave-active {
	opacity: 0
}

.multiselect__strong {
	margin-bottom: 8px;
	line-height: 20px;
	display: inline-block;
	vertical-align: top
}

[dir=rtl] .multiselect {
	text-align: right
}

[dir=rtl] .multiselect__select {
	right: auto;
	left: 1px
}

[dir=rtl] .multiselect__tags {
	padding: 8px 8px 0 40px
}

[dir=rtl] .multiselect__content {
	text-align: right
}

[dir=rtl] .multiselect__option:after {
	right: auto;
	left: 0
}

[dir=rtl] .multiselect__clear {
	right: auto;
	left: 12px
}

[dir=rtl] .multiselect__spinner {
	right: auto;
	left: 1px
}

@keyframes a {
	0% {
			transform: rotate(0)
	}
	to {
			transform: rotate(2turn)
	}
}
/* Akhir Costum CSS vue-multiselect */

/* Awal Costum CSS Table Penebusan */
.buttonCollapse{
  cursor: pointer;
}

table.fixed-tb tbody td, table.fixed-tb thead th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 5px;
  /* padding: 10px; */
  /* font-size: 10px; */
}

table.fixed-tb thead th,
table.fixed-tb thead th:first-child,
table.fixed-tb thead th:nth-child(2),
table.fixed-tb thead th:nth-child(3){
  background: #f3f3f3;
  color:black;
  padding: 5px;
}

table.fixed-tb thead th:first-child, table.fixed-tb tbody td:first-child{
  position:sticky;
  position: -webkit-sticky;
  left:0px;
  z-index: 3;
  padding: 5px;
}

table.fixed-tb thead th:nth-child(2), table.fixed-tb tbody td:nth-child(2) {
    position:sticky;
    position: -webkit-sticky;
    left:20px;
    z-index: 3;
    /* background:  white; */
}

table.fixed-tb thead th:nth-child(3), table.fixed-tb tbody td:nth-child(3) {
    position:sticky;
    position: -webkit-sticky;	
    left:119px;
		z-index: 3;
		min-width: 250px;
}

table.fixed-tb tbody td:first-child{
  background-color: #fafafa;
}
table.fixed-tb tbody td:nth-child(2){
  background-color: #fafafa;
}
table.fixed-tb tbody td:nth-child(3){
  background-color: #fafafa;
}

table.fixed-tb tfoot td:first-child{
  position:sticky;
  position: -webkit-sticky;
  left:-5px;
  z-index: 3;
}
table.fixed-tb tfoot td:first-child{
  background-color: #f3f3f3;
}
.header-total {
  display:inline-block; 
  width:500px; 
  padding-left:5px; 
  padding-right:0px;
}
.header-sisa {
  display:inline-block;
  width:500px;
  padding-left:0px;
  padding-right:5px;
}
.qty-input {
  font-size: 8px;
  font-weight: bold;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 20px;
  margin-left: 20px;
}
/* .multiselect__content {
  font-size: 9px;
  font-weight: bold;
}
.multiselect, .multiselect__input, .multiselect__single {
  font-size: 9px !important;
  font-weight: bold;
} */
.product-sub-district {
  padding-left: 10px; padding-right: 10px; white-space: nowrap;
}

/* @media screen and (max-width: 300px) {
  .product-sub-district {
		width: 300px;
	}
} */
/* Akhir Costum CSS TablePenebusan */