<template lang="html">

    <div class="modal fade" id="ListDataDistribChannel" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">List Data Distrib Channel</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body">
            <table class="table table-xs table-bordered table-striped display nowrap" id="tableListDataDistribChannel">
              <thead>
                <tr>
                  <th>Kode</th>
                  <th>Deskripsi</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary square" data-dismiss="modal">Tutup</button>
          </div>
        </div>
      </div>
    </div>

</template>

<script>
export default {
  props: [],
  data: function() {
    return {
      dt: null
    }
  },
  components: {

  },
  created() {

  },
  mounted() {
    let app = this;
    $("#ListDataDistribChannel").modal("show")
    $("#ListDataDistribChannel").on("hidden.bs.modal", function(){
      app.closeModal();
    })
    app.tableListDataDistribChannel();
  },
  methods: {
    closeModal() {
      this.$emit("trigger-modal-list");
    },

    tableListDataDistribChannel() {
      let app = this;
      app.dt = $("#tableListDataDistribChannel").DataTable({
        processing: true,
        serverSide: true,
        lengthMenu: [
          [ 20, 50, 100, -1 ],
          [ '20 baris', '50 baris', '100 baris', 'Lihat Semua' ]
        ],
        ajax: {
          'url': 'api/syncronize/sales_distribution',
          'type': 'GET',
          'data': function(d){},
          'beforeSend': function (request) {
              var token = localStorage.getItem("default_auth_token");
              request.setRequestHeader("Authorization", "Bearer "+token);
              request.setRequestHeader("lang",  localStorage.getItem('app-lang'));
          }
        },
        columns: [
          {data: 'id', name: 'id'},
          {data: 'name', name: 'name'}
        ]
      })
    }
  }
}
</script>

<style lang="css" scoped>
</style>
