<template lang="html">

    <div class="modal fade" id="ListDataPlant" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">List Data Plant</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-12">
                <div class="pull-right">
                  <button v-if="access.U" @click="updateStatus('n')" :disabled="loading" class="btn btn-primary square">
                    <i v-if="loading" class="fa fa-spin fa-refresh"></i>
                    Deaktif
                  </button>
                  <button v-if="access.U" @click="updateStatus('y')" :disabled="loading" class="btn btn-primary square">
                    <i v-if="loading" class="fa fa-spin fa-refresh"></i>
                    Aktif
                  </button>
                </div>
              </div>  
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="table-responsive">
                  <table class="table table-xs table-bordered table-striped display nowrap" id="tableListDataPlant">
                    <thead>
                      <tr>
                        <th> Pilih </th>
                        <th>Kode Plant</th>
                        <th>Nama Plant</th>
                        <th>Alamat</th>
                        <th>Kabupaten</th>
                        <th>Provinsi</th>
                        <th>Produsen</th>
                        <th>Status</th>
                      </tr>
                    </thead>
                    <tbody>
                    </tbody>
                  </table>
                </div>
              </div>  
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary square" data-dismiss="modal">Tutup</button>
          </div>
        </div>
      </div>
    </div>

</template>

<script>
export default {
  props: [],
  data: function() {
    return {
      dt: null,
      checks: [],
      loading: false,
      access: {}
    }
  },
  components: {

  },
  created() {
    const encodeAccess = decodeURIComponent(this.$route.params.access);
    const decodeAccess = this.toText(this.decrypt(encodeAccess));
    const arrAccess = decodeAccess.split(",");
    if(arrAccess) {
      arrAccess.map((data) => {
        console.log(data);
        if(data === 'C' || data === 'R' || data === 'U' || data === 'D' || data === 'A') {
          this.access[data] = true
          this.isAccess = true;
        } else {
          // this.$router.push({path: '/home'});
          toastr.error('Permission can not open this page', 'Error');
        }
      })
    } else {
      // this.$router.push({path: '/home'});
      toastr.error('Permission can not open this page', 'Error');
    }
  },
  mounted() {
    let app = this;
    $("#ListDataPlant").modal("show")
    $("#ListDataPlant").on("hidden.bs.modal", function(){
      app.closeModal();
    })
    app.tableListDataPlant();
    $(document).on("click", "#check_plant", function(e){
      const value = $(this).val();
      const status = $(this).data('status')
      const check = {value, status}
      
      if(this.checked){
        const searchTwice = app.checks.find(data => data.status !== check.status)
        if(searchTwice === undefined) {
          app.checks.push(check);
        } else {
          toastr.warning('Mohon untuk tidak memilih status yang ber-beda', 'Gagal Memilih')
          $(this).prop('checked', false); 
        }
      } else {
        const newChecks = app.checks.filter(data => data.value !== check.value)
        app.checks = newChecks;
      }

    })
  },
  methods: {
    closeModal() {
      this.$emit("trigger-modal-list");
    },

    tableListDataPlant() {
      let app = this;
      app.dt = $("#tableListDataPlant").DataTable({
        processing: true,
        serverSide: true,
        lengthMenu: [
          [ 20, 50, 100, -1 ],
          [ '20 baris', '50 baris', '100 baris', 'Lihat Semua' ]
        ],
        ajax: {
          'url': 'api/syncronize/plant',
          'type': 'GET',
          'data': function(d){},
          'beforeSend': function (request) {
              var token = localStorage.getItem("default_auth_token");
              request.setRequestHeader("Authorization", "Bearer "+token);
              request.setRequestHeader("lang",  localStorage.getItem('app-lang'));
          }
        },
        columns: [
          {data: 'uuid', name: 'uuid', render: (d,t,f) => {
            let check = `<fieldset>
                            <label class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input check_plant" id="check_plant" data-status="${f.status}" value="${d}">
                              <span class="custom-control-indicator"></span>
                            </label>
                        </fieldset>`;
            return check;
          }},
          {data: 'code', name: 'code'},
          {data: 'name', name: 'name'},
          {data: 'address', name: 'address'},
          {data: 'sales_group_name', name: 'sales_group_name'},
          {data: 'sales_office_name', name: 'sales_office_name'},
          {data: 'sales_org_name', name: 'sales_org_name'},
          {data: 'status_name', name: 'status_name'}
        ]
      })
    },

    updateStatus(status) {
      const params = this.checks.map(data => {
        return {id: data.value, status}
      })
      this.loading = true
      this.axios.post('syncronizes/plant/updatesbulk', params)
      .then(res => {
        toastr.success(res.data.message)
        this.dt.draw();
        this.loading = false
        this.checks = []
      })
      .catch(res => {
        toastr.success(res.response.data.message)
        this.loading = false
      })
    }

  }
}
</script>

<style lang="css" scoped>
</style>
