<template>
  <div class="modal fade" id="certainCreated" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <form @submit="searchCertain">
          <div class="modal-header">
            <h4 class="modal-title" id="">{{$ml.get("global.filter.modal.date.titleTwo")}}</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="">{{$ml.get("global.filter.modal.date.titleTwo")}}</label>
                  <input type="date" class="form-control" v-model="from"  placeholder="">
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">{{$ml.get("global.filter.modal.form.labelClose")}}</button>
            <button type="submit"  class="btn btn-outline-primary">{{$ml.get("global.filter.modal.form.labelSearch")}}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data: function(){
    return {
      from: ''
    }
  },
  mounted() {
    var app = this;
    $("#certainCreated").modal("show");
    $('#certainCreated').on('hidden.bs.modal', function () {
      app.closeModal();
    })
  },
  methods: {
    searchCertain() {
      event.preventDefault();
      $("#certainCreated").modal("hide");
      const send = {
        dateType : 'certain',
        data: {
          from: this.from
        }
      }
      this.$emit("search", send);
    },
    closeModal() {
      this.$emit("trigger");
    }
  }
}
</script>

<style lang="css">
</style>
