<template lang="html">
  <transition name="custom-classes-transition" enter-active-class="animated fadeIn">
    <div class="content-wrapper">
      <div class="content-header row">
        <div class="content-header-left col-md-6 col-12 mb-1">
          <h3 class="content-header-title">Detail Surat Jalan</h3>
        </div>
        <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-12">
          <div class="breadcrumb-wrapper col-12">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Laporan</a>
              </li>
              <li class="breadcrumb-item">Surat Jalan
              </li>
              <li class="breadcrumb-item active">Detail Surat Jalan
              </li>
            </ol>
          </div>
        </div>
      </div>
      <div class="content-body">
        <section class="row">
          <div class="col-sm-12">
            <div class="card">
              <div class="card-content collapse show">
                <div class="card-body">
                  <detail-surat-jalan-component :access="access" @go-back="goBack()"></detail-surat-jalan-component>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
     </div>
  </transition>
</template>

<script>
import DetailSuratJalanComponent from './DetailSuratJalanComponent';
export default {
  props: [],
  data: function() {
    return {
      access: {}
    }
  },
  components: {
    DetailSuratJalanComponent
  },
  created() {
    const encodeAccess = decodeURIComponent(this.$route.params.access);
    const decodeAccess = this.toText(this.decrypt(encodeAccess));
    const arrAccess = decodeAccess.split(",");
    if(arrAccess) {
      arrAccess.map((data) => {
        if(data === 'C' || data === 'R' || data === 'U' || data === 'D' || data === 'A') {
          this.access[data] = true
        } else {
          this.$router.push({path: '/home'});
          toastr.error('Permission can not open this page', 'Error');
        }
      })
    } else {
      this.$router.push({path: '/home'});
      toastr.error('Permission can not open this page', 'Error');
    }
  },
  mounted() {
    $(".modal-backdrop").remove();
    $("body").removeClass('modal-open');
  },
  methods: {
    goBack() {
      let access = encodeURIComponent(this.$route.params.access);
      this.$router.push({path: '/'+access+'/laporan/surat-jalan'});
    }
  }
}
</script>

<style lang="css" scoped>
</style>
