<template lang="html">
  <div>
    <form-loader :view="loadingComponent"></form-loader>
    <div v-if="!loadingComponent">
      <div class="row">
        <div class="col-md-10">
          <center class="ml-1"><u><h4>SURAT JALAN</h4></u></center>
          <center class="ml-1"><h4>No. {{ surat_jalan.header.number }}</h4></center>
          <center class="ml-1">
						<h4 v-if="toggle_created_at === false">Tanggal {{ surat_jalan.header.created_at }} <button :disabled="loadingButton" type="button" class="btn btn-sm btn-primary" v-if="toggle_created_at === false" @click="toggle_created_at = true"><i class="fa fa-pencil"></i></button></h4>
						</center>
						<div class="form-row align-items-center" style="justify-content: center;" v-if="toggle_created_at === true">
							<div class="col-auto">
								<input type="date" class="form-control mb-2" id="inlineFormInput" placeholder="Tanggal Dibuat" v-model="created_at" :disabled="loadingButton">
							</div>
							<div class="col-auto">
								<div class="form-check mb-2">
									<button :disabled="loadingButton" type="button" class="btn btn-sm btn-success" @click="updateCreatedAt()"><i class="fa fa-check"></i></button>
								</div>
							</div>
							<div class="col-auto">
									<button :disabled="loadingButton" type="button" class="btn btn-sm btn-danger mb-2" @click="toggle_created_at = false"><i class="fa fa-times"></i></button>
							</div>
						</div>
        </div>
				<div class="col-md-2">
					<div class="pull-right">
						<button type="button" :disabled="loadingButton" class="btn btn-success btn-square" @click="download()">
              {{ loadingButton ? 'Loading..' : 'Download' }}
            </button>
					</div>
        </div>
				<div class="col-md-8 mb-2 mt-2">
					<div class="container">
						<div class="row">
							<div class="col">Nama Distributor</div>
							<div class="col">: {{ surat_jalan.header.customer_name }}</div>
							<div class="w-100"></div>
							<div class="col">Kabupaten</div>
							<div class="col">: {{ surat_jalan.header.sales_group_name }} </div>
						</div>
					<p class="mt-2">Bersama surat ini kami mengirimkan barang kepada pengecer sebagai berikut :</p>
					</div>
				</div>
				<div class="col-md-12 mb-2">
					<table-detail 
					:loadingButton="loadingButton"
					:dataSJ="surat_jalan"
					@delete-item="deleteItemSJ">
					</table-detail>
					<p class="mt-2">Demikian surat jalan kami diperbuat dengan sebenarnya dan diberikan kepada pengecer bersangkuran untuk dapat dipergunakan sebagaimana mestinya.</p>
					<div class="pull-right">
						<center><h6>{{ surat_jalan.header.sales_group_name }}, {{ surat_jalan.header.created_at }} </h6></center>
						<center class="mb-3"><h6>Distributor</h6></center>
						<center><h6>{{ surat_jalan.header.customer_name }}</h6></center>
          </div>
				</div>
      </div>

			
      
      <div class="row">
        <div class="col-md-12">
          <div class="pull-left">
            <button type="button" @click="goBack()" :disabled="loadingButton" class="btn btn-secondary btn-square"> Kembali </button>
          </div>
          <div v-if="access.C" class="form-actions pull-right">
            <button type="button" :disabled="loadingButton" class="btn btn-danger btn-square mr-1" @click="action()">
              {{ loadingButton ? 'Loading..' : 'Hapus' }}
            </button>
            <button type="button" :disabled="loadingButton" class="btn btn-primary btn-square" @click="create()">
              {{ loadingButton ? 'Loading..' : 'Entry Baru' }}
            </button>
          </div>
        </div>
      </div>
    </div>
	<surat-jalan-modal-form v-if="modalForm" :uuid="uuid" @trigger-modal="triggerModal"></surat-jalan-modal-form>
  </div>
</template>

<script>
import FormLoader from '../../../main/FormLoader';
import TableDetail from './table/DetailSuratJalanTable';
import SuratJalanModalForm from '../modal/Form';
export default {
  props: ['access'],
  data: function() {
    return {
			uuid: this.$route.params.uuid,
			loadingComponent: false,
			loadingButton: false,
			modalForm: false,
			surat_jalan: [],
			nowDate: null,
			created_at: '',
			toggle_created_at: false,
    }
  },
  components: {
    FormLoader, TableDetail, SuratJalanModalForm
  },
  created() {
    this.getDetailSuratJalan()
  },
  mounted() {

  },
  methods: {

    goBack() {
      // window.history.back();
			this.$emit('go-back');
    },

		getToday() {
      this.axios.get('today')
      .then((resp) => {
        const today = resp.data.data.today;
        const todayz = resp.data.data.today.split("-").reverse().join("-");
        // this.nowDate = today;
				const monthNames = ["January", "February", "March", "April", "May", "June",
        "July", "August", "September", "October", "November", "December"];
				const dateObj = new Date(today);
				const month = monthNames[dateObj.getMonth()];
				const day = String(dateObj.getDate()).padStart(2, '0');
				const year = dateObj.getFullYear();
				const output = `${day} ${month} ${year}`;
				this.nowDate = output;
      })
      .catch((resp) => {
        // this.sendDt.order_date = new Date().toISOString().substring(0, 10);
      })
    },

		toggleCreatedAt(){
			this.toggle_created_at = true;
		},

		updateCreatedAt(){
			this.loadingButton = true;
			
			this.axios.put(`certificate_release/created_at/${this.uuid}`, { created_at: this.created_at })
      .then((resp) => {
        this.loadingButton = false;
				this.toggle_created_at = false;
				this.created_at = "";
        toastr.success(resp.data.message);
				this.getDetailSuratJalan()
      })
      .catch((resp) => {
        this.error = true;
        if(typeof resp.response.data.message === 'object') {
          this.errors = resp.response.data.message;
					const err_items = (resp.response.data.message.data !== undefined) ? `<li>${resp.response.data.message.data[0]}</li>` : '';
					const err_created = (resp.response.data.message.created_at !== undefined) ? `<li>${resp.response.data.message.created_at[0]}</li>` : '';
					const msg = `<ul>${err_created}${err_items}</ul>`
          toastr.error(msg);
        } else {
          toastr.error("Gagal Mengubah Data")
				}
        this.loadingButton = false;
      })
		},
		
    getDetailSuratJalan() {
      this.loadingComponent = true;
      this.loadingButton = true;
      let uuid = this.$route.params.uuid;
      this.axios.get(`certificate_release/${uuid}`)
      .then((resp) => {
				this.surat_jalan = resp.data.data
				this.created_at = resp.data.data.header.created_at;
				this.loadingComponent = false;
				this.loadingButton = false;
      })
      .catch((resp) => {
				this.loadingComponent = false;
				this.loadingButton = false;
        toastr.error(resp.response.message);
        toastr.error(resp.response.error);
        this.$emit('go-back');
      })
    },

		create(){
			this.modalForm = true;
		},

		triggerModal(params = false) {
      if(params === 'RefreshTable'){
        this.getDetailSuratJalan()
      }
      this.modalForm = false;
    },

		delete(sendData){
			this.loadingButton = true;
			this.axios.delete(`certificate_release/item/${this.uuid}`, { data: sendData })
      .then((resp) => {
        this.loadingButton = false;
        toastr.success(resp.data.message);
				this.getDetailSuratJalan()
      })
      .catch((resp) => {
        this.error = true;
        if(typeof resp.response.data.message === 'object') {
          this.errors = resp.response.data.message;
        } else {
          toastr.error(resp.response.data.message)
        }
        this.loadingButton = false;
      })
		},

		deleteItemSJ(id){
			const arr = [];
			arr.push(id)
			this.loadingButton = true;
			this.axios.delete(`certificate_release/item/${this.uuid}`, { data: { data: id } })
      .then((resp) => {
        this.loadingButton = false;
        toastr.success(resp.data.message);
				this.getDetailSuratJalan()
      })
      .catch((resp) => {
        this.error = true;
        if(typeof resp.response.data.message === 'object') {
          this.errors = resp.response.data.message;
        } else {
          toastr.error(resp.response.data.message)
        }
        this.loadingButton = false;
      })
		},

		action(){
			const sendData = {
				data: []
			}
			$('#form-check-input-detail:checked').map(function() { sendData.data.push(this.value); })
			if (confirm('Anda yakin menghapus item terpilih?')) {
				if(sendData.data.length > 0){
					this.delete(sendData);
				} else {
					toastr.error('Item terpilih tidak boleh kosong!', 'error');
				}
			}
		},

		download() {
      this.loadingButton = true;
        this.axios({
          url: `certificate_release/export/${this.uuid}`,
          method: 'GET',
          responseType: 'blob', // important
        }).then((response) => {
           const url = window.URL.createObjectURL(new Blob([response.data]));
           const link = document.createElement('a');
           link.href = url;
           link.setAttribute('download', `Surat Jalan ${this.surat_jalan.header.number}.pdf`); //or any other extension
           document.body.appendChild(link);
           link.click();
           this.loadingButton = false;
        })
        .catch((resp) => {
          toastr.error("Gagal Download File", "Gagal") ;
          this.loadingButton = false;      
        })
    },
	
	}
}
</script>

<style lang="css" scoped>
</style>
