<template>
  <input type="text" class="form-control"
		v-bind:id="type"
		v-model="getVal"
		:readonly="readOnly" />
</template>

<script>
export default {
  props: ['type', 'getDated', 'isReadonly'],
  data: function(){
    return {
			readOnly: true,
			getVal: null,
		}
  },
  components:{
		
  },
  created() {
    
  },
  mounted(){
		var app = this;
		(typeof this.isReadonly === "undefined") ? this.readOnly = true : this.readOnly = this.isReadonly;
		app.getVal = app.convertDate(app.getDated);
		$("#"+app.type).datepicker({
				format: "dd M yyyy",
				autoclose: true,
				onSelect: function(dateText) {
						// console.log("Selected date: " + dateText + "; input's current value: " + this.value);
				}
		}).on('change', function(){
			app.setVal($(this).val());
    });
  },
  methods:{
		setVal(val){
			event.preventDefault();
			this.getVal = val;
      this.$emit("get-date", this.getVal)
		},
	}
}
</script>
<style lang="css">
</style>
