<template>
  <div class="modal fade" id="showDownloadx" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
        </div>
        <div class="modal-body">
          {{ text }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['uuid', 'text'],
  data: function() {
    return {

    }
  },
  components: {

  },
  created() {

  },
  mounted() {
    var app = this;
    $(document).ready(function(){
      $("#showDownloadx").modal("show");
      setTimeout(() => {
        app.downloadData();
      }, 1000)
    })
  },
  methods: {
    closeModal() {
      this.$emit("trigger-modal-download");
    },
    downloadData() {
      // console.log(this.uuid);
      this.$emit("is-download");
      $("#showDownloadx").modal("hide");
      $('.modal-backdrop').remove();
    }
  }
}
</script>

<style lang="css" scoped>
</style>
