<template>
    <div class="modal fade" id="ModalPlavon" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Info Plafon</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                </div>
                <div class="modal-body">
                    <form-loader :view="plavon === null ? true : false" ></form-loader>
                    <form v-if="plavon !== null" class="form form-horizontal">
                        <div class="form-body">
                            <h4 class="form-section"> Informasi Akun</h4>
                            <div class="form-group row">
                                <label class="col-md-4 label-control">Nama Distributor</label>
                                <div class="col-md-8">
                                <input type="text" class="form-control text-left" :disabled="true" v-model="plavon.customer_name">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-4 label-control">Produsen</label>
                                <div class="col-md-8">
                                <input type="text" class="form-control text-left" :disabled="true" v-model="plavon.sales_org_name">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-4 label-control">Nama Bank</label>
                                <div class="col-md-8">
                                <input type="text" class="form-control text-left" :disabled="true" v-model="plavon.bank_name">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-4 label-control">Expired Date</label>
                                <div class="col-md-8">
                                <input type="text" class="form-control text-left" :disabled="true" v-model="plavon.expired_date">
                                </div>
                            </div>
                            <h4 class="form-section"> Bank Limit</h4>
                            <div class="form-group row">
                                <label class="col-md-4 label-control">Kredit Limit</label>
                                <div class="col-md-8">
                                <input type="text" class="form-control text-right" :disabled="true" v-model="plavon.credit_limit">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-4 label-control">Outstanding DF</label>
                                <div class="col-md-8">
                                <input type="text" class="form-control text-right" :disabled="true" v-model="plavon.outstanding_df">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-4 label-control">Available Amount</label>
                                <div class="col-md-8">
                                <input type="text" class="form-control text-right" :disabled="true" v-model="plavon.available_amount">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-4 label-control">Hold Amount</label>
                                <div class="col-md-8">
                                <input type="text" class="form-control text-right" :disabled="true" v-model="plavon.hold_amount">
                                </div>
                            </div>
                            <h4 class="form-section"> Outstanding Sales Order</h4>
                            <div class="form-group row">
                                <label class="col-md-4 label-control">Outstanding SO Numbers</label>
                                <div class="col-md-8">
                                <textarea class="form-control" :readonly="true" v-model="plavon.outstanding_so_number_string">
                                    {{plavon.outstanding_so_number_string}}
                                </textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-4 label-control">Outstanding SO</label>
                                <div class="col-md-8">
                                <input type="text" class="form-control text-right" :disabled="true" v-model="plavon.outstanding_so">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-4 label-control">Amount</label>
                                <div class="col-md-8">
                                <input type="text" class="form-control text-right" :disabled="true" v-model="plavon.amount">
                                </div>
                            </div>
                            <h4 class="form-section"> Current Limit</h4>
                            <div class="form-group row">
                                <label class="col-md-4 label-control">Available</label>
                                <div class="col-md-8">
                                <input type="text" class="form-control text-right" :disabled="true" v-model="plavon.available">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary square" data-dismiss="modal">Tutup</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

import FormLoader from '../main/FormLoader';
import axiosh2h from 'axios';
import { wcmBaseUrl } from '../../config/environment';

export default {

    props: ['customer_id', 'sales_org_id', 'bank_id'],
    data: function() {
        return {
            plavon: null,
            loading: true   
        }
    },
    components: {
        FormLoader  
    },
    created() {
        
    },
    mounted() {
        const app = this;
        $("#ModalPlavon").modal('show');
        $("#ModalPlavon").on("hidden.bs.modal", function() {
            app.closeModal()
        })
        this.getPlavon()
    },
    methods: {
        formatPrice(value) {
            if (isNaN(value) === false) {
                let val = (value/1).toFixed(2).replace('.', ',')
                return 'Rp. '+val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
            } else {
                return 'Rp. '+0;
            }
        },
        getUri() {
            switch (this.bank_id) {
                case 'BBNI':  
                    return 'payment_gateway/bni/check-limit';
                case 'BBRI': 
                    return 'payment_gateway/bri/check-limit';
                case 'BMRI': 
                    return 'payment_gateway/mandiri/check-limit';
                default: 
                    return '';
            }
        },
        getBankName() {
          switch (this.bank_id) {
              case 'BBNI':  
                  return 'bni';
              case 'BBRI': 
                  return 'bri';
              case 'BMRI': 
                  return 'mandiri';
              default: 
                  return '';
          }
        },
        closeModal() {
            this.$emit('trigger-modal')
        },
        getPlavon() {
            let uri = this.getUri();
            let bankName = this.getBankName();
            const baseUrl = wcmBaseUrl();
            const accessToken = localStorage.getItem('access-control');
            var baseURL = `${baseUrl}/check-plafon/${bankName}`;
            // let params = new URLSearchParams();
            // params.append('bank_id', this.bank_id );
            // params.append('customer_id', this.customer_id );
            // params.append('sales_org_id', this.sales_org_id );

            // const params  = `?bank_id=${this.bank_id}&customer_id=${this.customer_id}&sales_org_id=${this.sales_org_id}`
            
            // const instance = axiosh2h.create({
            //     baseURL: 'http://36.89.154.94:8010/api/',
            //     headers: {
            //         'Access-Control-Allow-Origin': '*',
            //         // 'Access-Control-Allow-Methods': 'DELETE, GET, OPTIONS, PATCH, POST, PUT', 
            //         // 'Access-Control-Allow-Headers': 'Authorization',
            //         'Content-Type': 'application/x-www-form-urlencoded',
            //         // 'Authorization': 'Bearer ' + accessToken
            //     },
            //     // dataType: 'json',
            //     // crossDomain: true,
            //     // withCredentials: true
            // });
            
            // var baseURL = 'http://36.89.154.94:8010/api/'+uri;
            $.ajax({
                type: "POST", // define the type of HTTP verb we want to use (POST for our form)
                url: baseURL, // the url where we want to POST
                data: {
                    customer_id: this.customer_id,
                    sales_org_id: this.sales_org_id
                },
                beforeSend: function(request) {
                    var token = localStorage.getItem("default_auth_token");
                    request.setRequestHeader("Authorization", "Bearer "+token);
                    request.setRequestHeader("lang",  localStorage.getItem('app-lang'));
                },
                dataType: 'json',
            }).done(resp => {
                this.plavon = resp;
                this.plavon.credit_limit = this.formatPrice(resp.credit_limit);
                this.plavon.outstanding_df = this.formatPrice(resp.outstanding_df);
                this.plavon.available_amount = this.formatPrice(resp.available_amount);
                this.plavon.hold_amount = this.formatPrice(resp.hold_amount);
                this.plavon.outstanding_so = resp.outstanding_so;
                this.plavon.amount = this.formatPrice(resp.amount);
                this.plavon.available = this.formatPrice(resp.available);
                this.plavon.outstanding_so_number_string = resp.outstanding_so_number.join(",")
                // toastr.success(data.responseJSON.message)
            }).fail(resp => {
                console.log("FAIL TO LOAD PLAFON");
                // toastr.error(data.responseJSON.error_msg)
            });

            // instance.post(uri+params)
            // .then(resp => {
            //     let {data} = resp;
            //     let plavon = {
            //                     ...data, 
            //                     outstanding_so_number_string: data.outstanding_so_number.join(',')
            //                  }
            //     this.plavon = plavon
            // })
            // .catch(resp => {
            //     $("#ModalPlavon").modal('hide');
            //     toastr.error(resp.response.data.error_msg, `Error code ${resp.response.data.error_code}`)
            // })
        }
    }
}
</script>
