<template>
  <div>
    <div class="modal fade" id="uploadExcelModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Upload data</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="">Upload Data RDKK</label>
              <input type="file" ref="file" class="form-control" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" @change="handleFileUpload()">
              <p class="help-block">File harus berformat xlsx</p>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Tutup</button>
            <button type="button" v-if="checktype == true" class="btn btn-outline-primary" :disabled="loading" @click="uploadSave()">
              <i v-if="loading" class="fa fa-spin fa-refresh"></i>
              Start Upload
            </button>
           </div>
         </div>
       </div>
     </div>
  </div>
</template>

<script>
export default {
  data: function(){
    return {
      showFormUpload: false,
      excelFile: '',
      file: '',
      loading: false,
      checktype: true,
      dataUpload: [],
      error: false,
      errors: {},
      modalType: null
    }
  },
  created() {
    axios.interceptors.request.use((config) => {
      this.loading = true;
      return config;
    }, (error) => {
      this.loading = false;
      return Promise.reject(error);
    });

    axios.interceptors.response.use((response) => {
      this.loading = false;
      return response;
    }, (error) => {
      this.loading = false;
      return Promise.reject(error);
    });
  },
  mounted(){
    var app = this;
    $("#uploadExcelModal").modal("show");
    $('#uploadExcelModal').on('hidden.bs.modal', function () {
      app.closeModal();
    })
  },
  components:{
    // formUpload
  },
  methods:{
    closeModal() {
      this.$emit("trigger-modal", 'RefreshTable');
    },
    uploadSave() {
      event.preventDefault();
      let app = this;
      let formData = new FormData();
      formData.append('file', this.excelFile);
      // console.log(formData);
      axios.post("rdkk/upload", formData, {headers : {'Content-Type' : 'multipart/form-data'}})
      .then((resp) => {
        toastr.success('Succes Uploaded', 'Import excel');
        $("#uploadExcelModal").modal("hide");
        this.error = false;
      })
      .catch((resp) => {
        if (resp.response.data.data) {
          var dataErr = resp.response.data.data;
          var html = '';
          if (dataErr.length > 0){
            dataErr.map(dt => {
              html += '<li>Line : '+dt.line+' '+dt.message+'</li>';
            })
          }
          
          const msg_error = (resp.response.data.errors) ? resp.response.data.errors : 'Not Valid Template File';
          toastr.error('<ul>'+html+'</ul>', msg_error);
        }

        if (resp.response.data.message) {
          const msg = resp.response.data.message;
          const sales_org_id = (msg.sales_org_id) ? '<li>'+msg.sales_org_id[0]+'</li>' : '';
          const sales_unit_id = (msg.sales_unit_id) ? '<li>'+msg.sales_unit_id[0]+'</li>' : '';
          const planting_period_id = (msg.planting_period_id) ? '<li>'+msg.planting_period_id[0]+'</li>' : '';
          const retail_id = (msg.retail_id) ? '<li>'+msg.retail_id[0]+'</li>' : '';
          const customer_id = (msg.customer_id) ? '<li>'+msg.customer_id[0]+'</li>' : '';
          const file = (msg.file) ? '<li>'+msg.file[0]+'</li>' : '';
          const retail_in_sales_unit_spjb = (msg.retail_in_sales_unit_spjb) ? '<li>'+msg.retail_in_sales_unit_spjb[0]+'</li>' : '';
          const customer_retail_relation = (msg.customer_retail_relation) ? '<li>'+msg.customer_retail_relation[0]+'</li>' : '';
          var  rqty='';
          
          if(msg.hasOwnProperty('required_qty.0') || msg.hasOwnProperty('required_qty.1') || msg.hasOwnProperty('required_qty.2') || msg.hasOwnProperty('required_qty.3') || msg.hasOwnProperty('required_qty.4')){
             rqty ='<li>QTY tidak boleh Minus</li>';
          }

          var html = file+sales_org_id+sales_unit_id+planting_period_id+customer_id+retail_id+rqty+retail_in_sales_unit_spjb+customer_retail_relation;
          toastr.error('<ul>'+html+'</ul>', resp.response.data.message);
        }

        this.dataUpload = resp.response.data.data;
        this.showFormUpload = true;
        this.error = true;
        this.errors = resp.response.data.message;
        // toastr.error('Error Uploaded', 'Import excel');
      })
      .then((resp) => {  })
    },
    triggerModal() {
      this.showFormUpload = false;
      $("#uploadExcelModal").modal("hide");
    },
    handleFileUpload(){
      if (this.$refs.file.files[0] != '') {
        this.checkfile(this.$refs.file.files[0]);
        // console.log(this.$refs.file.files[0]);
        this.excelFile = this.$refs.file.files[0];
        this.file = this;
      }
    },
    checkfile(sender) {
        var validExts = new Array(".xlsx", ".xls");
        var fileExt = sender.name;
        fileExt = fileExt.substring(fileExt.lastIndexOf('.'));
        if (validExts.indexOf(fileExt) < 0) {
          alert("Invalid file selected, valid files are of " +
                   validExts.toString() + " types.");
          this.checktype = false;
        }
        else this.checktype = true;
    }
  }
}
</script>

<style lang="css">
</style>
