<template>
  <div class="content-wrapper" id="home">
  </div>
</template>
<script>
  export default {
  //tes
  }
</script>
<style media="screen">
  #home {
    background-color: #fff;
    min-height: 90vh;
    background-image: url(/images/bg-dashboard.png);
    background-repeat: no-repeat;
    background-size: 52%;
    background-position: center;
  }
</style>
