<template>
<div class="content-body">
  <section class="flexbox-container">
    <div class="col-12 d-flex align-items-center justify-content-center">
      <div class="col-md-4 col-10 box-shadow-2 p-0">
        <div class="ard border-grey border-lighten-3 m-0">
          <div class="card-header border-0">
            <div class="card-title text-center">
              <div class="p-1">
                <img src="/images/logo/pihc-logo.png" class="login-logo-pi" alt="branding logo">
                <img src="http://siaga.pupuk-indonesia.com/siaga/assets/images/pi_group.png" class="sub-logo" alt="">
              </div>
            </div>
          </div>
          <div class="card-content card-header">
            <p class="card-subtitle line-on-side text-muted text-center font-small-3 mx-2">
              <span>Verification Email</span>
            </p>
            <div class="card-body pt-0" style="padding-bottom: 38px;">
              <div class="form-horizontal error">
                <fieldset class="form-group position-relative has-icon-left error">
                  <input type="email" class="form-control form-control-lg input-lg" id="user-email" placeholder="Your Email Address" aria-invalid="true" v-model="email" :disabled="loading">
                  <div class="form-control-position">
                    <i class="ft-mail"></i>
                  </div>
                </fieldset>
                <button type="button" @click="sendMail" class="btn btn-outline-primary btn-lg btn-block" :disabled="loading">
                  <div v-if="loading">
                    <i class="fa fa-spin fa-refresh"> </i> Please Wait ...
                  </div>
                  <div v-else>
                    <i class="ft-unlock"> </i> Recover Password
                  </div>
                </button>
              </div>
            </div>
          </div>
          <div class="card-footer border-0">
            <router-link v-if="!loading" :to="{ name: 'login' }" class="card-link"><< Kembali Ke Halaman Login</router-link>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
</template>

<script>
export default {
    name: 'Login',
    data() {
      return {
        email: null,
        error: false,
        loading: false,
        message: []
      }
    },
    created() {
      axios.interceptors.request.use((config) => {
        this.loading = true;
        return config;
      }, (error) => {
        this.loading = false;
        return Promise.reject(error);
      });
      axios.interceptors.response.use((response) => {
        this.loading = false;
        return response;
      }, (error) => {
        this.loading = false;
        return Promise.reject(error);
      });
    },
    mounted() {
      $("body").css("background-image", "url('/images/bg-login.jpg')");
      $("body").css("background-repeat", "repeat");
      $("body").css("background-size", "cover");
      $("body").css("background-blend-mode", "hard-light");
    },
    methods: {
      sendMail(){
        this.loading = true;
        this.axios.post('forgetpassword', {
          email : this.email
        })
        .then((res) => {
          this.loading = false;
          toastr.success("Email berhasil dikirim", "Sukses");
          this.$router.push({path: '/login'});
        })
        .catch((resp) => {
          this.loading = false;
          // console.log(resp.response.data.message.email[0]);
          if (typeof resp.response.data.message.email !== 'undefined') { toastr.error(resp.response.data.message.email[0].toUpperCase()+" !"); }
          if (typeof resp.response.data.messages !== 'undefined') { toastr.error(resp.response.data.messages.toUpperCase()+" !"); }
        })

      }
    }
}
</script>

<style scoped>
    #login {
        width: 500px;
        border: 1px solid #CCCCCC;
        background-color: #FFFFFF;
        margin: auto;
        margin-top: 200px;
        padding: 20px;
    }

    div.error label {
      color: red;
    }
    div.error input {
      border: 1px solid red ;
    }
    .language {
      padding-bottom: 20px;
    }

    .card-header {
        padding: 1.2rem 1.5rem;
        margin-bottom: 0;
        background-color: #fff;
        border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    }

    .p-1 {
        padding: 0rem !important;
    }

    .login-logo-pi {
      width: auto;
      height: 75px;
      margin-bottom: 14px;
    }
</style>
