<template>
  <div class="content-body">
    <section class="flexbox-container">
      <div class="col-12 d-flex align-items-center justify-content-center">
        <div class="col-md-4 col-10 box-shadow-2 p-0">
          <div class="card border-grey border-lighten-3 m-0">
            <div class="card-header border-0">
              <div class="card-title text-center">
                <div class="p-1">
                  <img src="/images/logo/pihc-logo.png" class="login-logo-pi" alt="branding logo">
                  <img src="http://siaga.pupuk-indonesia.com/siaga/assets/images/pi_group.png" class="sub-logo" alt="">
                </div>
              </div>
            </div>
            
            <div class="card-content">
              <div class="loading-bar" v-if="loading">
                <div class="loading-glob">
                  <div class="rect1"></div>
                  <div class="rect2"></div>
                  <div class="rect3"></div>
                  <div class="rect4"></div>
                  <div class="rect5"></div>
                </div>
              </div>
              <p class="card-subtitle line-on-side text-muted text-center font-small-3 mx-2">
                <span>{{ $ml.get("loginPage.title") }}</span>
              </p>
              <div class="card-body pt-0" style="padding-bottom: 38px;">
                <!-- <div v-if="error" class="alert bg-danger alert-dismissible mb-2" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                  </button>
                  {{ message }}
                </div> -->
                <form class="form-horizontal" @submit.prevent="login" method="post">
                  <br>
                  <div class="form-group floating-label-form-group">
                    <label for="user-name">{{ $ml.get("loginPage.usernameLabel") }}</label>
                    <input type="text" class="form-control error" id="username" v-model="username" placeholder="Your Username" >
                    <p v-if="error && errors.username" class="text-danger">{{ errors.username[0] }}</p>
                  </div>
                  <div class="form-group floating-label-form-group mb-1">
                    <label for="user-password">{{ $ml.get("loginPage.passwordLabel") }}</label>
                    <input type="password" class="form-control" id="password" v-model="password" placeholder="Enter Password" >
                    <p v-if="error && errors.password" class="text-danger">{{ errors.password[0] }}</p>
                  </div>
                  <div class="form-group row">
                    <div class="col-md-6 col-12 text-center text-sm-left">
                      <div>
                        <div class="icheckbox_square-blue" style="position: relative;">
                          <input type="checkbox" id="remember-me" class="chk-remember" style="position: absolute; opacity: 0;">
                          <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
                        </div>
                        <!-- <label for="remember-me" class=""> {{ $ml.get("loginPage.rememberLabel") }} </label> -->
                      </div>
                    </div>
                    <div class="col-md-6 col-12 float-sm-left text-center text-sm-right">
                      <router-link :to="{ name: 'forget_password' }" class="card-link">{{ $ml.get("loginPage.forgetLabel") }}</router-link>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-outline-primary btn-block"><i class="ft-unlock"></i> {{ $ml.get("loginPage.loginButton") }}</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>

    export default {
        name: 'Login',
        data() {
          return {
            username: null,
            password: null,
            error: false,
            errors: {},
            loading: false,
            message: []
          }
        },
        created() {
          axios.interceptors.request.use((config) => {
            this.loading = true;
            return config;
          }, (error) => {
            this.loading = false;
            return Promise.reject(error);
          });
          axios.interceptors.response.use((response) => {
            this.loading = false;
            return response;
          }, (error) => {
            this.loading = false;
            return Promise.reject(error);
          });
        },
        mounted() {
          // $("body").css("background-image", "linear-gradient(to right, #1980F0 0%, #001B8D 100%)");
          $("body").css("background-image", "url('/images/bg-login.jpg')");
          $("body").css("background-repeat", "repeat");
          $("body").css("background-size", "cover");
          $("body").css("background-blend-mode", "hard-light");

        },
        methods: {
          login() {
            var app = this;
            this.$auth.login({
              params: {
                username: app.username,
                password: app.password
              },
              success: function (resp) {
                var role = this.encrypt(resp.data.data.role_id+';'+resp.data.data.role_name);
                // console.log(role);
                localStorage.setItem('access-control', role);
                window.location.reload(true)
              },
              error: function (resp) {
                // app.message = resp.data.message
              },
              rememberMe: false,
              redirect: '/home',
              fetchUser: true
            }).catch(error => {
              const response = error.response.data;
              const message = "";
                app.message = response.message
                app.error = true;
                app.errors = error.response.data.message;
                toastr.error(error.response.data.message)
            });
          },
          changeLang(lang) {
            this.$ml.change(lang);
            localStorage.setItem('app-lang', lang);
          }
        }
    }
</script>

<style scoped>
    .box-shadow-2 {
          box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.48), 0 6px 20px 0 rgba(0, 0, 0, 0.28) !important;
    }
    #login {
        width: 500px;
        border: 1px solid #CCCCCC;
        background-color: #FFFFFF;
        margin: auto;
        margin-top: 200px;
        padding: 20px;
    }

    div.error label {
      color: red;
    }
    div.error input {
      border: 1px solid red ;
    }
    .language {
      padding-bottom: 20px;
    }

    .card-header {
        padding: 1.2rem 1.5rem;
        margin-bottom: 0;
        background-color: #fff;
        border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    }

    .p-1 {
        padding: 0rem !important;
    }

    .login-logo-pi {
      width: auto;
      height: 75px;
      margin-bottom: 14px;
    }
</style>
