<template>
  <div>
    <div class="row">
      <div class="col-md-12">
        <index-filter :type="'outstanding'" @search-form="searchForm"></index-filter>
      </div>
    </div>
    <div :style="isHide ? 'display:none;' : ''" class="row">
      <div class="col-md-12">
        <div class="pull-right">
          <button type="button" @click="download()" :disabled="loadingButton" class="btn btn-primary square" name="button">
            <i class="fa fa-download"></i> Download
          </button>
        </div>
      </div>
    </div>
    <div :style="isHide ? 'display:none;' : ''" class="row">
      <div class="col-md-12">
        <table id="DataTableOutstandingSo" class="table table-xs table-bordered table-striped display nowrap">
          <thead>
            <outstanding-so-filter :reset="resetStatus" @search-table="searchTable"></outstanding-so-filter>
            <outstanding-so-columns></outstanding-so-columns>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import OutstandingSoColumns from './OutstandingSoColumns';
import OutstandingSoFilter from './OutstandingSoFilter';
import IndexFilter from '../global-filter/IndexFilter';
import {columns} from './columns';

export default {
  props: ['access'],
  data: function() {
    return {
      isHide: true,
      resetStatus: false,
      dt: null,
      outstandingSoFilter: {},
      loadingButton:false,
    }
  },
  components: {
    OutstandingSoFilter, IndexFilter, OutstandingSoColumns
  },
  created() {

  },
  mounted() {
    var app = this;
    app.DataTableOutstandingSo();
    $("div.dataTables_length").append(' <button id="resetFilterOutstandingSo" class="btn btn-sm btn-danger square"><i class="fa fa-times"></i> Reset Filter</button>');

    $(document).on("click", "#resetFilterOutstandingSo", function(e){
      e.preventDefault()
      app.resetStatus = true;
      $('#resetFilterOutstandingSo').prop('disabled', true);

      setTimeout(() => {
        app.resetStatus = false;
        $('#resetFilterOutstandingSo').prop('disabled', false);
      }, 1000)
    })
    $(document).on("click", "#number_pkp", function(e){
      e.preventDefault();
      let uuid = $(this).data("uuid");
      let access = encodeURIComponent(app.$route.params.access);
      app.$router.push({path: '/'+access+'/laporan/penyaluran-do/detail/'+uuid});
    })
  },
  methods: {
    searchForm(params) {
      this.isHide = false
      this.outstandingSoFilter = {
        sales_org_id : params.transaksi.produsen,
        customer_id : params.transaksi.customer,
        order_date : params.transaksi.tanggal_so,
        sales_group_id : params.wilayah.kabupaten,
        sales_office_id : params.wilayah.provinsi,
        product_id : params.produk.produk,
      };
      this.dt.draw();
    },
    download() {
      // $(".DownloadItemPenyaluran").trigger('click');
      this.loadingButton = true;
        this.axios({
          url: 'reportso/outstand/export',
          params: {
            sales_org_id : this.outstandingSoFilter.sales_org_id,
            asal_qty : this.outstandingSoFilter.asal_qty,
            billing_date : this.outstandingSoFilter.billing_date,
            contract_number : this.outstandingSoFilter.contract_number,
            created_name : this.outstandingSoFilter.created_name,
            currency : this.outstandingSoFilter.currency,
            customer_id : this.outstandingSoFilter.customer_id,
            customer_name : this.outstandingSoFilter.customer_name,
            customer_owner : this.outstandingSoFilter.customer_owner,
            customer_sales_group_name : this.outstandingSoFilter.customer_sales_group_name,
            customer_sales_office_name : this.outstandingSoFilter.customer_sales_office_name,
            delivery_date : this.outstandingSoFilter.delivery_date,
            delivery_method_name : this.outstandingSoFilter.delivery_method_name,
            delivery_number : this.outstandingSoFilter.delivery_number,
            delivery_qty : this.outstandingSoFilter.delivery_qty,
            distrib_channel_id : this.outstandingSoFilter.distrib_channel_id,
            good_redemption_due_date : this.outstandingSoFilter.good_redemption_due_date,
            harga_jual : this.outstandingSoFilter.harga_jual,
            harga_ton : this.outstandingSoFilter.harga_ton,
            id : this.outstandingSoFilter.id,
            mat_desc : this.outstandingSoFilter.mat_desc,
            material_no : this.outstandingSoFilter.material_no,
            oprasional_qty : this.outstandingSoFilter.oprasional_qty,
            order_date : this.outstandingSoFilter.order_date,
            order_number : this.outstandingSoFilter.order_number,
            payment_method : this.outstandingSoFilter.payment_method,
            payment_method_code : this.outstandingSoFilter.payment_method_code,
            payment_term : this.outstandingSoFilter.payment_term,
            plant_code : this.outstandingSoFilter.plant_code,
            plant_name : this.outstandingSoFilter.plant_name,
            plant_sales_group_name : this.outstandingSoFilter.plant_sales_group_name,
            plant_sales_office_name : this.outstandingSoFilter.plant_sales_office_name,
            ppn : this.outstandingSoFilter.ppn,
            product_name : this.outstandingSoFilter.product_name,
            qty : this.outstandingSoFilter.qty,
            retail_name : this.outstandingSoFilter.retail_name,
            sales_division_id : this.outstandingSoFilter.sales_division_id,
            sales_group_id : this.outstandingSoFilter.sales_group_id,
            sales_group_name : this.outstandingSoFilter.sales_group_name,
            sales_office_id : this.outstandingSoFilter.sales_office_id,
            sales_office_name : this.outstandingSoFilter.sales_office_name,
            sales_unit_id : this.outstandingSoFilter.sales_unit_id,
            sales_unit_name : this.outstandingSoFilter.sales_unit_name,
            sap_billing_dp_doc : this.outstandingSoFilter.sap_billing_dp_doc,
            sector : this.outstandingSoFilter.sector,
            so_number : this.outstandingSoFilter.so_number,
            so_type : this.outstandingSoFilter.so_type,
            so_type_desc : this.outstandingSoFilter.so_type_desc,
            sodo_qty : this.outstandingSoFilter.sodo_qty,
            status_name : this.outstandingSoFilter.status_name,
            term_of_payment : this.outstandingSoFilter.term_of_payment,
            total_price : this.outstandingSoFilter.total_price,
            total_price_before_ppn : this.outstandingSoFilter.total_price_before_ppn,
            unit : this.outstandingSoFilter.unit
          },
          method: 'GET',
          responseType: 'blob', // important
        }).then((response) => {
           const url = window.URL.createObjectURL(new Blob([response.data]));
           const link = document.createElement('a');
           link.href = url;
           link.setAttribute('download', 'Download Out Standing SO.xls'); //or any other extension
           document.body.appendChild(link);
           link.click();
           this.loadingButton = false;
        })
        .catch((resp) => {
          toastr.error("Gagal Download File", "Gagal") ;
          this.loadingButton = false;      
        })
    },
    searchTable(obj) {
      this.outstandingSoFilter = obj;
      this.dt.draw();
    },
    DataTableOutstandingSo() {
      var app = this;
      app.dt = $("#DataTableOutstandingSo").DataTable({
        processing: true,
        serverSide: true,
        searching: false,
        scrollX: "99.99%",
        "ordering": true,
        lengthMenu: [
          [ 20, 50, 100, -1 ],
          [ '20 baris', '50 baris', '100 baris', 'Lihat Semua' ]
        ],
        "dom": 'Bltrip',
        "buttons": [
          {
            extend: 'excel',
            className: 'btn-danger square mb-1 DownloadItemPenyaluran',
            text: "Download"
          }
        ],
        ajax: {
          'url': '/api/reportso/outstand',
          'type': 'POST',
          'data': function(d) {
            d.sales_org_id = app.outstandingSoFilter.sales_org_id,
            d.asal_qty = app.outstandingSoFilter.asal_qty,
            d.billing_date = app.outstandingSoFilter.billing_date,
            d.contract_number = app.outstandingSoFilter.contract_number,
            d.created_name = app.outstandingSoFilter.created_name,
            d.currency = app.outstandingSoFilter.currency,
            d.customer_id = app.outstandingSoFilter.customer_id,
            d.customer_name = app.outstandingSoFilter.customer_name,
            d.customer_owner = app.outstandingSoFilter.customer_owner,
            d.customer_sales_group_name = app.outstandingSoFilter.customer_sales_group_name,
            d.customer_sales_office_name = app.outstandingSoFilter.customer_sales_office_name,
            d.delivery_date = app.outstandingSoFilter.delivery_date,
            d.delivery_method_name = app.outstandingSoFilter.delivery_method_name,
            d.delivery_number = app.outstandingSoFilter.delivery_number,
            d.delivery_qty = app.outstandingSoFilter.delivery_qty,
            d.distrib_channel_id = app.outstandingSoFilter.distrib_channel_id,
            d.good_redemption_due_date = app.outstandingSoFilter.good_redemption_due_date,
            d.harga_jual = app.outstandingSoFilter.harga_jual,
            d.harga_ton = app.outstandingSoFilter.harga_ton,
            d.id = app.outstandingSoFilter.id,
            d.mat_desc = app.outstandingSoFilter.mat_desc,
            d.material_no = app.outstandingSoFilter.material_no,
            d.oprasional_qty = app.outstandingSoFilter.oprasional_qty,
            d.order_date = app.outstandingSoFilter.order_date,
            d.order_number = app.outstandingSoFilter.order_number,
            d.payment_method = app.outstandingSoFilter.payment_method,
            d.payment_method_code = app.outstandingSoFilter.payment_method_code,
            d.payment_term = app.outstandingSoFilter.payment_term,
            d.plant_code = app.outstandingSoFilter.plant_code,
            d.plant_name = app.outstandingSoFilter.plant_name,
            d.plant_sales_group_name = app.outstandingSoFilter.plant_sales_group_name,
            d.plant_sales_office_name = app.outstandingSoFilter.plant_sales_office_name,
            d.ppn = app.outstandingSoFilter.ppn,
            d.product_name = app.outstandingSoFilter.product_name,
            d.qty = app.outstandingSoFilter.qty,
            d.retail_name = app.outstandingSoFilter.retail_name,
            d.sales_division_id = app.outstandingSoFilter.sales_division_id,
            d.sales_group_id = app.outstandingSoFilter.sales_group_id,
            d.sales_group_name = app.outstandingSoFilter.sales_group_name,
            d.sales_office_id = app.outstandingSoFilter.sales_office_id,
            d.sales_office_name = app.outstandingSoFilter.sales_office_name,
            d.sales_unit_id = app.outstandingSoFilter.sales_unit_id,
            d.sales_unit_name = app.outstandingSoFilter.sales_unit_name,
            d.sap_billing_dp_doc = app.outstandingSoFilter.sap_billing_dp_doc,
            d.sector = app.outstandingSoFilter.sector,
            d.so_number = app.outstandingSoFilter.so_number,
            d.so_type = app.outstandingSoFilter.so_type,
            d.so_type_desc = app.outstandingSoFilter.so_type_desc,
            d.sodo_qty = app.outstandingSoFilter.sodo_qty,
            d.status_name = app.outstandingSoFilter.status_name,
            d.term_of_payment = app.outstandingSoFilter.term_of_payment,
            d.total_price = app.outstandingSoFilter.total_price,
            d.total_price_before_ppn = app.outstandingSoFilter.total_price_before_ppn,
            d.unit = app.outstandingSoFilter.unit
          },
          'beforeSend': function (request) {
              var token = localStorage.getItem("default_auth_token");
              request.setRequestHeader("Authorization", "Bearer "+token);
              request.setRequestHeader("lang",  localStorage.getItem('app-lang'));
          }
        },
        columns: columns
      })
      new $.fn.dataTable.FixedColumns(app.dt, {
          leftColumns: 1
      })
    },
  }
}
</script>

<style media="screen">
  .DownloadItemPenyaluran {
    display: none !important;
  }
</style>
