<template>
  <tr class="filter">
    <th class="outstandingSo-sales-org-id"> <input type="text" class="form-control form-control-sm outstandingSo_sales_org_idVal"> </th>
    <th> </th>
    <th> </th>
    <th> </th>
    <th> <input type="text" class="form-control form-control-sm" v-model="outstandingSoFilter.sales_office_name" v-on:keyup="search()"> </th>
    <th> </th>
    <th> <input type="text" class="form-control form-control-sm" v-model="outstandingSoFilter.sales_group_name" v-on:keyup="search()"> </th>
    <th> </th>
    <th> </th>
    <th> </th>
    <th> </th>
    <th> </th>
    <th> <input type="text" class="form-control form-control-sm" v-model="outstandingSoFilter.customer_id" v-on:keyup="search()"> </th>
    <th> </th>
    <th> </th>
    <th> </th>
    <th> </th>
    <th> </th>
    <th> </th>
    <th> </th>
    <th> </th>
    <th> </th>
    <th> <input type="text" class="form-control form-control-sm" v-model="outstandingSoFilter.so_number" v-on:keyup="search()"> </th>
    <th> </th>
    <th> </th>
    <th> </th>
    <th> </th>
    <th> </th>
    <th> </th>
    <th> </th>
    <th> </th>
    <th> </th>
    <th> </th>
    <th> </th>
    <th> </th>
    <th> </th>
    <th> </th>
    <th> </th>
    <th> </th>
    <th> </th>
    <th> </th>
    <th> <input type="text" class="form-control form-control-sm" v-model="outstandingSoFilter.delivery_number" v-on:keyup="search()"> </th>
    <th> </th>
    <th> </th>
    <th> </th>
    <th> </th>
    <th> </th>
    <th> </th>
    <th> </th>
    <th> </th>
    <th> </th>
    <th> </th>
    <th> </th>
    <th> </th>
    <th> </th>
    <th> </th>
    <th> </th>
    <th> </th>
    <th> </th>
    <th> </th>
    <th> </th>
    <th> </th>
    <th> </th>
    <th> </th>
    <th> </th>
    <th> </th>
    <th> </th>
    <th> </th>
    <th> </th>
    <th> </th>
    <th> </th>
    <th> </th>
    <th> </th>
    <th> </th>
    <th> </th>
    <th> </th>
    <th> <input type="text" class="form-control form-control-sm" v-model="outstandingSoFilter.delivery_method_name" v-on:keyup="search()"> </th>
    <th> </th>
    <th> </th>
    <th> </th>
    <th> </th>
    <th> </th>
    <th> </th>
    <th> </th>
    <th> </th>
    <th> </th>
  </tr>
</template>

<script>
import Checklist from '../../filter/Checklist';
export default {
  props: ['reset'],
  data: function() {
    return {
      uriName: this.$auth.user().id+'_'+'search_'+this.$route.name,
      statusOutstandingSo : [
        {name: 'Approve / Active', value: 'y'},
        {name: 'Submited', value: 's'},
        {name: 'Draft', value: 'd'}
      ],
      outstandingSoFilter : { }
    }
  },
  components: {
    Checklist
  },
  watch: {
		reset: function(val){
			if(val === true) {
				this.resetFilter();
			}
		}
	},
  created() {

  },
  mounted() {
    var app = this;
    const getLocalSearch = JSON.parse(localStorage.getItem(app.uriName));
    setTimeout(() => {
        if (getLocalSearch !== null) {
            app.outstandingSoFilter = getLocalSearch;
            $(".outstandingSo_sales_org_idVal").val(app.outstandingSoFilter.sales_org_id);
            app.$emit("search-table", app.outstandingSoFilter);
        }
    },1000)
    $(document).on("keyup", ".outstandingSo_sales_org_idVal", function(){
      app.outstandingSoFilter.sales_org_id = $(this).val();
      app.search();
    })
  },
  methods: {
    searchStatus(obj) {
      var status = obj.join(';');
      this.outstandingSoFilter.status_name = status;
      this.search();
    },

    search() {
      event.preventDefault();
      localStorage.setItem(this.uriName, JSON.stringify(this.outstandingSoFilter));
      this.$emit("search-table", this.outstandingSoFilter);
    },

    resetFilter(){
      this.clearFilter(this.$route.name, this.outstandingSoFilter);
      $( ".outstandingSo-sales-org-id" ).html( '<input type="text" class="form-control form-control-sm outstandingSo_sales_org_idVal" />' );
      $(".outstandingSo_sales_org_idVal").val(this.outstandingSoFilter.sales_org_id);
      this.search();
    }
  }
}
</script>

<style lang="css" scoped>
</style>
