<template lang="html">
  <transition name="custom-classes-transition" enter-active-class="animated fadeIn">
    <div class="content-wrapper">
      <div class="content-header row">
        <div class="content-header-left col-md-6 col-12 mb-1">
          <h3 class="content-header-title">Form Pengguna</h3>
        </div>
        <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-12">
          <div class="breadcrumb-wrapper col-12">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">{{ $ml.get("userAllFormPage.breadcrumbFirst") }}</a>
              </li>
              <li class="breadcrumb-item"><a href="#">Form Pengguna</a>
              </li>
              <li class="breadcrumb-item active">Form Pengguna Baru
              </li>
            </ol>
          </div>
        </div>
      </div>
      <div class="content-body">
        <section class="row">
          <div class="col-sm-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Form Pengguna Baru </h4>
                <a class="heading-elements-toggle"></a>
                <div class="heading-elements">
                  <ul class="list-inline mb-0">
                    <li><a data-action="collapse"></a></li>
                    <li> </li>
                  </ul>
                </div>
              </div>
              <div class="card-content collapse show">
                <div class="card-body">
                  <form class="form form-horizontal striped-rows form-bordered">
                    <div class="form-body">         
                       <div class="form-group row">
                        <label class="col-md-3 label-control" for="projectinput1" :class="{'text-danger' : error && errors.name}">{{ $ml.get('userAllFormPage.form.one') }}</label>
                        <div class="col-md-9">
                          <input type="text" v-model="temp.name" class="form-control" :class="{'is-invalid' : error && errors.name}">
                          <p class="text-danger" v-if="error && errors.name">{{errors.name[0]}}</p>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-md-3 label-control" :class="{'text-danger' : error && errors.username}">{{ $ml.get('userAllFormPage.form.two') }}</label>
                        <div class="col-md-9">
                          <input type="text" v-model="temp.username" class="form-control" :class="{'is-invalid' : error && errors.username}">
                          <p class="text-danger" v-if="error && errors.username">{{errors.username[0]}}</p>
                        </div>
                      </div>
                      <div class="form-group row" v-if="hide.email">
                        <label class="col-md-3 label-control" :class="{'text-danger' : error && errors.email}">{{ $ml.get('userAllFormPage.form.three') }}</label>
                        <div class="col-md-9">
                          <input type="email" v-model="temp.email" class="form-control" :class="{'is-invalid' : error && errors.email}">
                          <p class="text-danger" v-if="error && errors.email">{{errors.email[0]}}</p>
                        </div>
                      </div>
                      <div class="form-group row" v-if="hide.password">
                        <label class="col-md-3 label-control" :class="{'text-danger' : error && errors.password}">{{ $ml.get('userAllFormPage.form.four') }}</label>
                        <div class="col-md-9">
                          <input type="password" v-model="temp.password" class="form-control" :class="{'is-invalid' : error && errors.password}">
                          <p class="text-danger" v-if="error && errors.password">{{errors.password[0]}}</p>
                        </div>
                      </div>
                      <div class="form-group row" v-if="hide.password">
                        <label class="col-md-3 label-control" :class="{'text-danger' : error && errors.repassword}">{{ $ml.get('userAllFormPage.form.five') }}</label>
                        <div class="col-md-9">
                          <input type="password" v-model="temp.repassword" class="form-control" :class="{'is-invalid' : error && errors.repassword}">
                          <p class="text-danger" v-if="error && errors.repassword">{{errors.repassword[0]}}</p>
                        </div>
                      </div>   

                      <div class="form-group row">
                        <label class="col-md-3 label-control" :class="{'text-danger' : error && errors.role_id}">{{ $ml.get('userAllFormPage.form.six') }}</label>
                        <div class="col-md-9">
                          <multiselect
                              v-model="temp.role_id"
                              :options="get.roles"
                              track-by="id"
                              :custom-label="nameWithIdBagian"
                              :searchable="true" :close-on-select="true"
                              :show-labels="false"     
                              placeholder="Pilih Bagian .."             
                              >
                            </multiselect>
                          <!-- <select class="form-control" v-model="temp.role_id"  name="" :class="{'is-invalid' : error && errors.role_id}">
                            <option value="">Pilih..</option>
                            <option v-for="data, index in get.roles" :value="data.id" :text="data.name" >{{ data.name }}</option>
                          </select> -->
                          <p class="text-danger" v-if="error && errors.role_id">{{errors.role_id[0]}}</p>
                        </div>
                      </div>

                      <div class="form-group row">
                        <label class="col-md-3 label-control" for="projectinput1" :class="{'text-danger' : error && errors.sales_org_id}">Sales Organization</label>
                        <div class="col-md-9">
                            <multiselect
                              @input="getProvinceAssg"
                              v-model="temp.sales_org_id"
                              :options="get.sales_org_id"
                              track-by="id"
                              :multiple="true"
                              :custom-label="nameWithId"
                              :searchable="true" :close-on-select="true"
                              :show-labels="false"
                              :disabled="hide.sales_org_id"
                              :placeholder="(loading.sales_org_id === false) ? 'Pilih Sales Organization ..' : 'Memuat ..'"                      
                              >
                            </multiselect>
                            <p v-if="error && errors.sales_org_id" class="text-danger">{{ errors.sales_org_id[0] }}</p>
                        </div>
                      </div> 

                      <div class="form-group row">
                        <label class="col-md-3 label-control" for="projectinput1" :class="{'text-danger' : error && errors.sales_office_id}">Provinsi</label>
                        <div class="col-md-9">
                          <i v-if="loading.province" class="fa fa-spin fa-refresh"></i>
                          <multiselect
                            v-else
                            @input="getKabupaten"
                            @remove="unSelectProv"
                            v-model="temp.province"
                            :options="get.province"
                            track-by='sales_office_id'
                            :multiple="true"
                            :custom-label="nameProvinceWithId"
                            :searchable="true" :close-on-select="true"
                            :show-labels="false"
                            :placeholder="(loading.province === false) ? 'Pilih Provinsi..' : 'Memuat ..'"                      
                            >
                            </multiselect>
                            <p v-if="error && errors.province" class="text-danger">{{ errors.sales_office_id[0] }}</p>
                        </div>
                      </div> 

                      <div class="form-group row">
                        <label class="col-md-3 label-control" for="projectinput1" :class="{'text-danger' : error && errors.sales_group_id}">Kabupaten</label>
                        <div class="col-md-9">
                          <i v-if="loading.kabupaten" class="fa fa-spin fa-refresh"></i>
                          <multiselect
                            v-else
                            @select="handleSelect"
                            @remove="unSelectKab"
                            v-model="temp.kabupaten"
                            :options="get.kabupaten"
                            track-by="id"
                            :multiple="true"
                            :custom-label="nameWithId"
                            :searchable="true" :close-on-select="true"
                            :show-labels="false"
                            :disabled="disabled.kabupaten"
                            :placeholder="(loading.kabupaten === false) ? 'Pilih Kabupaten..' : 'Memuat ..'"                      
                            >
                            </multiselect>
                            <p v-if="error && errors.kabupaten" class="text-danger">{{ errors.sales_group_id[0] }}</p>
                        </div>
                      </div> 

                      <user-password v-if="hide.userpassword" :id="id"></user-password>                
                    </div>
                    <div class="form-actions pull-right">
                      <button type="button" :disabled="loading.form" @click="$router.go(-1)" class="btn btn-warning mr-1">
                        <i class="ft-x"></i> {{ $ml.get("userAllFormPage.form.labelCancel") }}
                      </button>
                     <!--  <button type="submit" class="btn btn-primary" @click="save('d')">
                        <i class="fa fa-check-square-o"></i> {{ $ml.get("userAllFormPage.form.labelDraft") }}
                      </button> -->
                      <button type="button" :disabled="loading.form" class="btn btn-primary" @click="save('y')">
                        <i v-if="loading.form" class="fa fa-spin fa-refresh"></i>
                        <i v-else class="fa fa-check-square-o"></i> 
                        {{ $ml.get("userAllFormPage.form.labelSave") }}
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </transition>
</template>

<script>
import Vue from 'vue';
import Multiselect from 'vue-multiselect';
import UserPassword from './UserPassword';
export default {
  data: function(){
    return {
      accessControl: null,
      temp:{
          get: {
            id: null,
            name: null,
            parent: null,
          },
          sales_org_id:[],
          province:[],
          setProvince:[],
          setSalesOrg:[],
          kabupaten:[],
          all_kabupaten:[],
          name:'',  
          username:'',  
          email:'', 
          password:'', 
          repassword:'',
          status:'',
          role_id:''
      },
      get:{
          sales_org_id:[],
          province:[],
          kabupaten:[],
          roles :[]
      },
      loading :{
          sales_org_id:false,
          role_id:false,
          province:false,
          kabupaten:false,
          form: false,
      },
      id: null,
      isAllSorg: false,
      isAllProv: false,
      input :[],
      error: false,
      errors:{},
      arr:[],
      disabled: {
        kabupaten: false,
      },
      hide :{
        password:true,
        userpassword:false,
        email:true,
        sales_org_id: false
      },
      originalArr:{
        sales_org_id: [],
        sales_office_id: [],
        sales_group_id: [],
      },
      arr: {
        sales_org_id: [],
        sales_office_id: [],
        sales_group_id: [],
      },
      send: {
        sales_org_id: [],
        sales_office_id: [],
        sales_group_id: [],
      },
    }
  },
  components: {
    Multiselect,
    UserPassword
  },
  created(){
    const getLocalSearch = localStorage.getItem('access-control');
    const encodeAccess = decodeURIComponent(getLocalSearch);
    const decodeAccess = this.toText(this.decrypt(encodeAccess));
    const accessControl = decodeAccess.split(";")[0];
    this.accessControl = accessControl
  },
  mounted(){
    var app = this;
    let id = app.$route.params.id;
    this.axios.get('role?except=distributor&filter=filter')
    .then((resp) => {
      let getRole = resp.data.data;
      // if(this.accessControl !== '2'){
      //   var removeIndex = getRole.map((item) => { return item.id; }).indexOf('2');
      //   getRole.splice(removeIndex, 1);
      // }
      this.get.roles = getRole;
    })
    .catch((err) => {alert("Error to load role")})

    if(id != undefined){
      this.getAccessControl();
      app.id = id;
      app.hide.password=false;
      app.hide.userpassword=true;      
      app.axios.get("user/id/"+id)
      .then((resp) => {
        app.temp = resp.data.data;
        app.temp.role_id = { id: resp.data.data.rule[0].id, name: resp.data.data.rule[0].name }
        // console.log(resp.data.data.sales_prov_arr);
        app.temp.sales_org_id = resp.data.data.sales_org_arr;
        app.getProvinceAssg();
        if(resp.data.data.sales_prov_arr.length > 0){
          app.temp.province = resp.data.data.sales_prov_arr;
          app.getKabupaten();
        } else {
          app.temp.province = [{name: "Pilih Semua Provinsi", sales_office_id: ""}]
        }

        if(resp.data.data.sales_group_arr.length > 0) { 
          if(resp.data.data.sales_group_arr[0].id !== null && resp.data.data.sales_group_arr.name !== null && resp.data.data.sales_group_arr.sales_office_id !== null){
            app.temp.kabupaten = resp.data.data.sales_group_arr 
            this.disabled.kabupaten = false;
          } else {
            app.temp.kabupaten = [{name: "Pilih Semua Kabupaten", sales_office_id: "", id: ""}]
            this.disabled.kabupaten = true;
          }
        } else { 
          app.temp.kabupaten = [{name: "Pilih Semua Kabupaten", sales_office_id: "", id: ""}]
          this.disabled.kabupaten = true;
        }
      })
      .catch((e) => {
        alert("failed load");
        app.$router.go(-1);
      })      
    };
    this.getDataSalesOrg();
  },
  methods: {
    prepareData() {
      this.input.customer_id = (this.temp.distributor != null) ? this.temp.distributor.id : '';
      this.input.name = this.temp.name;
      this.input.username = this.temp.username;
      this.input.email = this.temp.email;
      this.input.password = this.temp.password;
      this.input.status = this.temp.status;
      this.input.role_id=this.temp.role_id;
      // this.input.sales_org_id=this.temp.sales_org_id;
      // this.input.kabupaten=this.temp.kabupaten;
    },
    nameWithId ({ id,  name}) {
        return `${id} — ${name}`
    },
    nameWithIdBagian ({ name}) {
        return `${name}`
    },
    nameProvinceWithId ({ sales_office_id,  name}) {
        return `${sales_office_id} — ${name}`
    },
    getDataSalesOrg() {
      this.loading.sales_org_id = true;
      this.axios.get('salesorg')
      .then((resp) => {
        this.loading.sales_org_id=false;
        this.originalArr.sales_org_id=resp.data.data; // Save Original Data Sales Organization
        this.get.sales_org_id = [{'id':'','name':'Pilih Semua Sales Organization'}].concat(resp.data.data);
      })
      .catch((resp) => {
        toastr.error('fail load distributor');
      })
    },

    save(type){
      var app= this;
      let name = (this.temp.name === "") ? true : false;
      let username = (this.temp.username === "") ? true : false;
      let email = (this.temp.email === "") ? true : false;
      let password = (this.temp.password === "") ? true : false;
      let repassword = (this.temp.repassword === "") ? true : false;
      let role_id = (this.temp.role_id === "") ? true : false;
      let errSalesOrg = (this.temp.sales_org_id.length === 0) ? true : false;
      let errSalesOff = (this.temp.province.length === 0) ? true : false;
      let errSalesGrp = (this.temp.kabupaten.length === 0) ? true : false;
      
      (name) ? this.errors.name = ["Field Nama Diperlukan"] : this.errors.name = false;
      (username) ? this.errors.username = ["Field Username Diperlukan"] : this.errors.username = false;
      (password) ? this.errors.password = ["Field Password Diperlukan"] : this.errors.password = false;
      (repassword) ? this.errors.repassword = ["Field Re-password Diperlukan"] : this.errors.repassword = false;
      (role_id) ? this.errors.role_id = ["Field Role Diperlukan"] : this.errors.role_id = false;
      (email) ? this.errors.email = ["Field Email Diperlukan"] : this.errors.email = false;
      (errSalesOrg) ? this.errors.sales_org_id = ["Field Sales Org Diperlukan"] : this.errors.sales_org_id = false;

      if(errSalesOff){
        this.errors.province = true;
        this.errors.sales_office_id = ["Field Sales Office Diperlukan"]
      } else {
        this.errors.province = false;
        this.errors.sales_office_id = []
      }

      if(errSalesGrp){
        this.errors.kabupaten = true;
        this.errors.sales_group_id = ["Field Sales Group Diperlukan"]
      } else {
        this.errors.kabupaten = false;
        this.errors.sales_group_id = []
      }

      if(errSalesOrg === false && errSalesOff === false && errSalesGrp === false && name === false && username === false && password === false && repassword === false && email === false && role_id === false){
        if(app.id == null){
          app.insertUser(type);
        } else {
          app.updateUser(type);
        }
      } else {
        this.error = true
      }
    },

    insertUser(type) {
      event.preventDefault();
      this.loading.form = true;
      this.prepareData();
      this.input.status= type;

      const arrKabupaten = this.temp.kabupaten.map(data => {
        let id= data.id;
        if(id.slice(0,2)!="00"){
          return data.id;
        }    
      });

      var selectSalesOrg = this.temp.sales_org_id.map(data=>{
        return data.id
      });

      if (selectSalesOrg.includes("")) selectSalesOrg = this.arr.sales_org_id;

      let arrKabupatenSend = arrKabupaten.join(";");
      
      var send = { 
        sales_org_id: selectSalesOrg.join(";"),
        sales_group_id : arrKabupatenSend,
        sales_office_id : this.arr.sales_office_id.join(";"),
        name: this.input.name,
        username: this.input.username,
        email: this.input.email,
        password: this.input.password,
        status: this.input.status,
        role_id : this.input.role_id.id,
      };
      // console.log(send);
      this.axios.post("user",send)
      .then((resp) => {
        this.loading.form = false;
        toastr.success(resp.data.message)
        this.$router.go(-1)
        this.error = false;
      })
      .catch((err) => {
        toastr.error(err.response.data.message)
        this.error = true;
        this.errors = err.response.data.message;
        this.loading.form = false;
      })
      
    },
    updateUser(type){
      event.preventDefault();
      this.prepareData();
      this.input.status= type;
      this.loading.form = true;
      
      const arrKabupaten = this.temp.kabupaten.map(data => {
        if(data.id.toString().slice(0,2)!="00"){
          return data.id;
        }    
      });

      var selectSalesOrg = this.temp.sales_org_id.map(data=>{
        return data.id
      });

      if (selectSalesOrg.includes("")) selectSalesOrg = this.arr.sales_org_id;
      
      let arrKabupatenSend = arrKabupaten.join(";");

      var send = { 
        sales_org_id: selectSalesOrg.join(";"),
        sales_group_id : arrKabupatenSend,
        sales_office_id : this.arr.sales_office_id.join(";"),
        name: this.input.name,
        username: this.input.username,
        email: this.input.email,
        password: this.input.password,
        status: this.input.status,
        role_id : this.input.role_id.id,
      };
      this.axios.put("user/"+this.$route.params.id,send)
      .then((resp) => {
        toastr.success(resp.data.message)
        this.$router.go(-1)
        this.error = false;
        this.loading.form = false;
      })
      .catch((err) => {
        toastr.error(err.response.data.message)
        this.error = true;
        this.errors = err.response.data.message;
        this.loading.form = false;
      })

     
    },
    getProvinceAssg(){
      this.loading.province = true;
      this.get.province = [];
      this.temp.province = [];
      this.get.kabupaten = [];
      this.temp.kabupaten = [];
      this.temp.all_kabupaten = [];
      this.isAllSorg = false;
      // let arr;
      // let isAll = false;
      this.arr.sales_org_id = this.temp.sales_org_id.map(data => {
        if(data.id === ''){
          this.isAllSorg = true;
        } else {
          this.isAllSorg = false;
        }
          return data.id
      })

      if(this.arr.sales_org_id.length > 0) {
        this.temp.setSalesOrg = this.temp.sales_org_id;
        this.arr.sales_org_id = this.originalArr.sales_org_id.map(data => {
          return data.id
        })
        if (this.isAllSorg) { 
          this.temp.sales_org_id = [] 
          this.temp.sales_org_id = [{'id':'','name':'Pilih Semua Sales Organization'}] 
        } else {
          let filterDt = this.temp.sales_org_id.filter(function( element ) {
            // console.log(element.sales_office_id);
            return element.id !== '';
          });
          this.temp.sales_org_id = filterDt;
        }
        this.axios.get('region/salesorg/provinsi/assg')
        .then((resp)=> {
          this.originalArr.sales_office_id = [];
          let arr = resp.data.data.map(dt => {
            var obj = {
              sales_office_id : dt.id,
              name : dt.name,
            };
            return obj;
          })
          this.originalArr.sales_office_id = arr;
          this.get.province = [{'sales_office_id' : '','name': 'Pilih Semua Provinsi'}].concat(arr);
          this.loading.province = false;
          })
        .catch((err) => {toastr.error("Failed Load Province", "Load data");})
      } else {
        this.get.province = [];
        this.loading.province = false
      }
    },
    getKabupaten(){
      
      this.loading.kabupaten = true;
      this.get.kabupaten = [];
      this.temp.kabupaten = [];
      this.temp.all_kabupaten = [];
      this.isAllProv = false;
      this.disabled.kabupaten = false;
      // let arr;
      // let isAll = false;
      this.arr.sales_office_id = this.temp.province.map(data => {
        if(data.sales_office_id === ''){
          this.isAllProv = true;
          this.disabled.kabupaten = true;
          this.temp.kabupaten = [{name: "Pilih Semua Kabupaten", sales_office_id: "", id: ""}]
        } else {
          this.temp.kabupaten = [];
          this.disabled.kabupaten = false;
          this.isAllProv = false;
        }
          return data.sales_office_id
      })
      if(this.arr.sales_office_id.length > 0) {
        this.temp.setProvince = this.temp.province;
        // this.temp.province=this.originalArr.sales_office_id;
        // this.temp.kabupaten=[{'id':'','name':'Semua kabupaten Terpilih'}];
        if (this.isAllProv) {
          this.arr.sales_office_id = this.originalArr.sales_office_id.map(data => {
            return data.sales_office_id
          })
          this.temp.province = [] 
          this.temp.province = [{'sales_office_id' : '','name': 'Pilih Semua Provinsi'}]
        } else {
          let filterDt = this.temp.province.filter(function( element ) {
            // console.log(element.sales_office_id);
            return element.sales_office_id !== '';
          });
          this.temp.province = filterDt;
          
        }
        this.axios.get('region/provinsi/salesgroup/assg',{
          params:{sales_office_id : this.arr.sales_office_id.join(";")}
        })
        .then((resp)=> {
          let arr = resp.data.data.map(dt => {
            var obj = {
              id : dt.id,
              name : dt.name,
              parent : '00'+dt.id.substring(0, 2),
              office_id : null,
            };
            return obj;
          })
          this.get.kabupaten = arr;
          // this.get.kabupaten.push(obj);
          (this.isAllProv) ? this.setAllKabByProv(this.originalArr.sales_office_id) : this.setAllKabByProv(this.temp.province);
          this.loading.kabupaten = false;
          })
        .catch((err) => {toastr.error("Failed Load Kabupaten", "Load data");})
      } else {
        this.get.kabupaten = [];
        this.loading.kabupaten = false
      }

    },
    handleSelect(event) {
      this.loading.kabupaten = true;
      setTimeout(rr => {
        this.loading.kabupaten = false;
        this.arr.sales_group_id = this.temp.kabupaten.map(data => {
          if (data.office_id !== null && data.parent === null){
            return data.office_id;
          } 
        })
        this.temp.all_kabupaten = this.arr.sales_group_id;
        const filterDt = this.temp.all_kabupaten.filter(element => {
          return element !== undefined;
        });
        
        if(filterDt.includes(event.office_id) === true){
          this.pushKabupaten(filterDt);
        }
      }, 1000)
    },
    setAllKabByProv(arr){
      arr.map(data => {
        this.get.kabupaten.unshift({
          id: data.sales_office_id,
          name: 'Semua Kabupaten di '+data.name,
          office_id: data.sales_office_id,
          parent: null
        })
        return data;
			})
    },
    unSelectKab(event){
      this.loading.kabupaten = true;
      setTimeout(rr => {
        this.loading.kabupaten = false;
        if(event.parent !== null && event.office_id === null){
          if(this.temp.all_kabupaten.includes(event.parent)){
            this.removeA(this.temp.kabupaten, event.parent);
          }
        }

        if(event.parent === null && event.office_id !== null){
          this.removeKabupaten(event.office_id)
        }
        this.arr.sales_group_id = this.temp.kabupaten.map(data => {
          if (data.office_id !== null && data.parent === null){
            return data.office_id;
          }
        })
        this.temp.all_kabupaten = this.arr.sales_group_id;
      }, 1000)
    },
    unSelectProv({office_id}){
      if(office_id){
        this.removeKabupaten(office_id);
      }
    },
    pushKabupaten(kabArr){
      if(kabArr.length > 0) {
        this.loading.kabupaten = true;
        kabArr.map(provinsi_id => {
          this.axios.get('region/kabupaten', {
            params: {
              provinsi: provinsi_id
            }
          })
          .then((resp) => {
            this.loading.kabupaten = false;
            resp.data.data.map(data => {
              var check = this.temp.kabupaten.map(function(e) { return e.id; }).indexOf(data.id);
              if(check === -1){
                this.temp.kabupaten.push({
                  id: data.id,
                  name: data.name,
                  parent : '00'+data.id.substring(0, 2),
                  office_id : null,
                })
                this.temp.kabupaten.sort(function (a, b) {
                  return a.id - b.id;
                });
              }
              
            })
          })
          .catch((resp) => {
            toastr.error("Gagal Memuat Data Kabupaten", "Load data");
          })
          .then((resp) => { this.loading.kabupaten = false; })
        })
      }
    },
    removeKabupaten(provinsi_id){
      this.loading.kabupaten = true;
      this.temp.kabupaten = [];
      this.axios.get('region/kabupaten', {
        params: {
          provinsi: provinsi_id
        }
      })
      .then((resp) => {
        this.loading.kabupaten = false;
        resp.data.data.map(data => {
          let filterDt = this.temp.kabupaten.filter( obj => {
            return obj.id !== data.id;
          });
          this.temp.kabupaten = filterDt;
        })
      })
      .catch((resp) => {
        toastr.error("Gagal Memuat Data Kabupaten", "Load data");
      })
      .then((resp) => { this.loading.kabupaten = false; })
    },
    removeA(array, id) {
      var index = array.map(x => {
        return x.id;
      }).indexOf(id);
      array.splice(index, 1);
    },
    getAccessControl(){
      const getLocalSearch = localStorage.getItem('access-control');
      const encodeAccess = decodeURIComponent(getLocalSearch);
      const decodeAccess = this.toText(this.decrypt(encodeAccess));
      const accessControl = decodeAccess.split(";")[0];
      if (accessControl == 2 || accessControl == 1 ){
        this.hide.sales_org_id = false;
      } else {
        this.hide.sales_org_id = true;
      }
    }
  }
}
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style lang="css">
</style>
