<template lang="html">
  <transition name="custom-classes-transition" enter-active-class="animated fadeIn">
    <div class="content-wrapper">
      <div class="content-header row">
        <div class="content-header-left col-md-6 col-12 mb-1">
          <h3 class="content-header-title">Form Pengguna Distributor</h3>
        </div>
        <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-12">
          <div class="breadcrumb-wrapper col-12">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">{{ $ml.get("userAllFormPage.breadcrumbFirst") }}</a>
              </li>
              <li class="breadcrumb-item"><a href="#">Form Pengguna</a>
              </li>
              <li class="breadcrumb-item active">Form Pengguna Distributor
              </li>
            </ol>
          </div>
        </div>
      </div>
      <div class="content-body">
        <section class="row">
          <div class="col-sm-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Form Pengguna Distributor </h4>
                <a class="heading-elements-toggle"></a>
                <div class="heading-elements">
                  <ul class="list-inline mb-0">
                    <li><a data-action="collapse"></a></li>
                    <li> </li>
                  </ul>
                </div>
              </div>
              <div class="card-content collapse show">
                <div class="card-body">
                  <form class="form form-horizontal striped-rows form-bordered">
                    <div class="form-body">         
                      <div class="form-group row">
                        <label class="col-md-3 label-control" for="projectinput1" :class="{'text-danger' : error && errors.name}">Distributor</label>
                        <div class="col-md-9">
                          <multiselect
                            v-model="temp.distributor"
                            :options="get.distributor"
                            track-by="id"
                            :custom-label="nameProdusenWithId"
                            :searchable="true" :close-on-select="true"
                            :show-labels="false"
                            :placeholder="(loading.distributor === false) ? 'Pilih Distributor..' : 'Memuat ..'"                      
                            >
                            </multiselect>
                            <p v-if="error && errors.sales_org_id" class="text-danger">{{ errors.sales_org_id[0] }}</p>
                        </div>
                      </div>

                       <div class="form-group row">
                        <label class="col-md-3 label-control" for="projectinput1" :class="{'text-danger' : error && errors.name}">{{ $ml.get('userAllFormPage.form.one') }}</label>
                        <div class="col-md-9">
                          <input type="text" v-model="temp.name" class="form-control" :class="{'is-invalid' : error && errors.name}">
                          <p class="text-danger" v-if="error && errors.name">{{errors.name[0]}}</p>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-md-3 label-control" :class="{'text-danger' : error && errors.username}">{{ $ml.get('userAllFormPage.form.two') }}</label>
                        <div class="col-md-9">
                          <input type="text" v-model="temp.username" class="form-control" :class="{'is-invalid' : error && errors.username}">
                          <p class="text-danger" v-if="error && errors.username">{{errors.username[0]}}</p>
                        </div>
                      </div>
                      <div class="form-group row" v-if="hide.email">
                        <label class="col-md-3 label-control" :class="{'text-danger' : error && errors.email}">{{ $ml.get('userAllFormPage.form.three') }}</label>
                        <div class="col-md-9">
                          <input type="email" v-model="temp.email" class="form-control" :class="{'is-invalid' : error && errors.email}">
                          <p class="text-danger" v-if="error && errors.email">{{errors.email[0]}}</p>
                        </div>
                      </div>
                      <div class="form-group row" v-if="hide.password">
                        <label class="col-md-3 label-control" :class="{'text-danger' : error && errors.password}">{{ $ml.get('userAllFormPage.form.four') }}</label>
                        <div class="col-md-9">
                          <input type="password" v-model="temp.password" class="form-control" :class="{'is-invalid' : error && errors.password}">
                          <p class="text-danger" v-if="error && errors.password">{{errors.password[0]}}</p>
                        </div>
                      </div>
                      <div class="form-group row" v-if="hide.password">
                        <label class="col-md-3 label-control" :class="{'text-danger' : error && errors.repassword}">{{ $ml.get('userAllFormPage.form.five') }}</label>
                        <div class="col-md-9">
                          <input type="password" v-model="temp.repassword" class="form-control" :class="{'is-invalid' : error && errors.repassword}">
                          <p class="text-danger" v-if="error && errors.repassword">{{errors.repassword[0]}}</p>
                        </div>
                      </div>    
                      <user-password v-if="hide.userpassword" :id="id"></user-password>                
                    </div>
                    <div class="form-actions pull-right">
                      <button type="button" @click="$router.go(-1)" class="btn btn-warning mr-1">
                        <i class="ft-x"></i> {{ $ml.get("userAllFormPage.form.labelCancel") }}
                      </button>
              <!--         <button type="submit" class="btn btn-primary" @click="save('d')">
                        <i class="fa fa-check-square-o"></i> {{ $ml.get("userAllFormPage.form.labelDraft") }}
                      </button> -->
                      <button type="submit" class="btn btn-primary" @click="save('y')">
                        <i class="fa fa-check-square-o"></i> {{ $ml.get("userAllFormPage.form.labelSave") }}
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </transition>
</template>

<script>
import Vue from 'vue';
import Multiselect from 'vue-multiselect';
import UserPassword from './UserPassword';
export default {
  data: function(){
    return {
      temp:{
          distributor:[],
          name:'',  
          username:'',  
          email:'', 
          password:'', 
          repassword:'',
          status:'',
          role_id:''
      },
      get:{
          distributor:[]
      },
      loading :{
          distributor:false
      },
      id: null,
      input :[],
      error: false,
      errors:{},
      user:{},
      hide :{
        password:true,
        userpassword:false,
        email:true,
      }
    }
  },
  components: {
    Multiselect,
    UserPassword
  },
  mounted(){
    var app = this;
    let id = app.$route.params.id;
    if(id != undefined){
      app.id = id;
      app.hide.password=false;
      app.hide.userpassword=true;
      app.axios.get("user/id/"+id)
      .then((resp) => {
        app.temp = resp.data.data;

        this.axios.get('company/distributor', {
          params: {id: app.temp.customer_id}
        })
        .then((resp) => {
          app.temp.distributor=resp.data.data[0];
          this.getDataDistributor();
        })
        .catch((e) => {
          alert("failed load");
          app.$router.go(-1);
        })
        
      })
      .catch((e) => {
        alert("failed load");
        app.$router.go(-1);
      })      
    };
    this.getDataDistributor();
  },
  methods: {
    prepareData() {
      this.input.customer_id = (this.temp.distributor != null) ? this.temp.distributor.id : '';
      this.input.name = this.temp.name;
      this.input.username = this.temp.username;
      this.input.email = this.temp.email;
      this.input.password = this.temp.password;
      this.input.status = this.temp.status;
      this.input.role_id=this.temp.role_id;
    },
    nameProdusenWithId ({ id,  full_name}) {
        return `${id} — ${full_name}`
    },
    getDataDistributor() {
      const customer_uuid = this.$route.params.id
      this.loading.distributor = true;
      this.axios.get('company/distributor')
      .then((resp) => {
        this.loading.distributor=false;
        this.get.distributor = resp.data.data
      })
      .catch((resp) => {
        toastr.error('fail load distributor');
        console.log(resp);
      })
    },
    save(type){
      var app= this;
      if(app.id == null){
        app.insertUser(type);
      } else {
        app.updateUser(type);
      }
    },
    insertUser(type) {
      event.preventDefault()
      var app = this;
      app.error = false;
      var arr = [];
      this.temp.status=type;
      if((app.temp.password != app.temp.repassword) || app.temp.repassword == '') {
        if(app.temp.password != app.temp.repassword){
          arr.push("The Re-password Must be Same");
        }
        if(app.temp.repassword == ''){
          arr.push("The Re-password Field is Required");
        }
        app.error = true;
        app.errors.repassword = arr;
        return;
      }else{
        this.prepareData();
        var send = { customer_id: this.input.customer_id,
                      name: this.input.name,
                      username: this.input.username,
                      email: this.input.email,
                      password: this.input.password,
                      status: this.input.status,
                      role_id : this.input.role_id ,
        };
        app.axios.post("userdistributor",send)
        .then((resp) => {
          toastr.success(resp.data.message)
          app.$router.go(-1)
          app.error = false;
        })
        .catch((err) => {
          toastr.error(err.response.data.message)
          app.error = true;
          app.errors = err.response.data.message;
        })
      }
    },
    updateUser(type){
      event.preventDefault();
      var app = this;
      this.temp.status=type;
      this.prepareData();
      var send = { customer_id: this.input.customer_id,
                      name: this.input.name,
                      username: this.input.username,
                      email: this.input.email,
                      password: this.input.password,
                      status: this.input.status,
                      role_id : this.input.role_id ,
      };
      app.axios.put("user/distributor/"+app.id, send)
      .then((resp) => {
        toastr.success(resp.data.message)
        app.$router.go(-1)
        app.error = false;
      })
      .catch((resp) => {
        toastr.error(resp.response.data.message)
        app.error = true;
        app.errors = resp.response.data.message;
      });
    }
  }
}
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style lang="css">
</style>
