<template>
  <div class="form-group row">
    <label class="col-md-3 label-control">{{ $ml.get("userAllFormPage.form.changePasswordLabel") }}</label>
    <div class="col-md-9">
      <button type="button" @click="openModal" class="btn btn-primary"> <i class="fa fa-key"></i> </button>
    </div>
    <div class="modal fade" id="modalPassword" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <form @submit="savePassword">
            <div class="modal-header">
              <h4 class="modal-title">{{$ml.get("userAllFormPage.password.titleLabel")}}</h4>
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
              <!-- <div class="form-group row">
                <label>{{$ml.get("userAllFormPage.password.input.one")}}</label>
                <input v-model="dataSend.password_old" type="password" class="form-control" required>
              </div> -->
              <div class="form-group row">
                <label>{{$ml.get("userAllFormPage.password.input.two")}}</label>
                <input v-model="dataSend.retype_password_new" type="password" class="form-control" required>
              </div>
              <div class="form-group row">
                <label>{{$ml.get("userAllFormPage.password.input.three")}}</label>
                <input v-model="dataSend.password_new" type="password" class="form-control" required>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">{{$ml.get("userAllFormPage.password.buttonLabelClose")}}</button>
              <button type="submit" class="btn btn-primary">{{$ml.get("userAllFormPage.password.buttonLabelChange")}}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['id'],
  data: function() {
    return {
      fId: this.id,
      dataSend: {
        id: this.id,
        // password_old: null,
        password_new: null,
        retype_password_new : null
      }
    }
  },
  mounted() {
    var app = this;
  },
  methods: {
    openModal() {
      var app = this;
      $("#modalPassword").modal("show");
    },
    savePassword() {
      event.preventDefault()
      if(this.dataSend.retype_password_new != this.dataSend.password_new) {
        toastr.warning('ulangi kata kunci baru tidak cocok')
      } else {
        this.axios.put('user/password/'+this.id, this.dataSend)
        .then((resp) => {
          toastr.success(resp.data.message);
          this.dataSend.retype_password_new="";
          this.dataSend.password_new="";
          this.dataSend.id="";
          $("#modalPassword").modal("hide");
        })
        .catch((resp) => {
          toastr.error(resp.response.data.message);
          console.log(resp.response);
        })
      }
    }
  }
}
</script>

<style lang="css">
</style>
