<template >
  <div>
    <form-loader :view="loadingComponent"></form-loader>
    <div v-if="!loadingComponent">
       <div class="row">
         <div class="col-md-12">
          <div class="box">
            <div class="row">
              <div class="col-md-6">
                <div class="pull-left">
                  <h3>Lap. Bulanan Pengecer - {{ dataF6.header.number }}</h3>
                </div>
              </div>
              <div class="col-md-6">
                <div class="pull-right">
                  <button :disabled="isLoad" type="button" @click="downloadPdf()" class="btn btn-primary square" name="button">
                    <i v-if="isLoad" class="fa fa-spinner"></i> Download F6
                  </button> -
                  <button type="button" @click="reload()" class="btn btn-primary square" name="button">
                    <i class="fa fa-refresh"></i>
                  </button> -
                  <div class="badge" :class="(dataF6.header.status === 'd') ? 'badge-danger' : 'badge-primary'">
      							<h4> {{ dataF6.header.status_name }} </h4>
      						</div>
                </div>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-5">
                <dl class="row">
                  <dt class="col-sm-5">Produsen</dt>
                  <dd class="col-sm-7">{{ dataF6.header.sales_org_name }}</dd>
                </dl>
                <dl class="row">
                  <dt class="col-sm-5">No. Laporan Bulanan</dt>
                  <dd class="col-sm-7">{{dataF6.header.number}}</dd>
                </dl>
                <dl class="row">
                  <dt class="col-sm-5">Pengecer</dt>
                  <dd class="col-sm-7"></dd>
                </dl>
                <dl class="row">
                  <dt class="col-sm-5">Distributor</dt>
                  <dd class="col-sm-7">{{ dataF6.header.customer_id }} - {{ dataF6.header.customer_name }}</dd>
                </dl>
              </div>
              <div class="col-md-6">
                <dl class="row">
                  <dt class="col-sm-4">Tujuan</dt>
                  <dd class="col-sm-8">{{ dataF6.header.sales_group_name }}</dd>
                </dl>
                <dl class="row">
                  <dt class="col-sm-4">Periode Pelaporan</dt>
                  <dd class="col-sm-8">{{ dataF6.header.month }} {{ dataF6.header.year }}</dd>
                </dl>
                <dl class="row">
                  <dt class="col-sm-4">No. SO</dt>
                  <dd class="col-sm-8"><a href="" @click="showNosoAct">Lihat Detail</a></dd>
                </dl>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div :style="'height: auto;'">
            <table id="tableHirarkiF6" class="table table-xss table-bordered display magic-table">
              <thead id="myhead">
                <tr>
                  <th class="side-left">Kecamatan/Pengecer</th>
                  <th :colspan="dataF6.produks.length">Persediaan Awal </th>
                  <th :colspan="dataF6.produks.length">Penebusan</th>
                  <th :colspan="dataF6.produks.length">Penyaluran</th>
                  <th :colspan="dataF6.produks.length">Persediaan Akhir</th>
                </tr>
                <tr>
                  <th class="side-left"></th>
                  <th v-for="(prod, i) in dataF6.produks">{{prod.name}}</th>
                  <th v-for="(prod, i) in dataF6.produks">{{prod.name}}</th>
                  <th v-for="(prod, i) in dataF6.produks" class="blue">{{prod.name}}</th>
                  <th v-for="(prod, i) in dataF6.produks">{{prod.name}}</th>
                </tr>
              </thead>
              <tbody id="mybody" v-on:scroll="fixscroll">
                <template v-for="(kec, i) in dataF6.data">
                  <row-kecamatan
                    :status="dataF6.header.status"
                    :kecamatan="kec"
                    :product="dataF6.produks"
                    @toggle-collapse-kecamatan="toggleCollapseKecamatan"
                    :icon="(collapse.kecamatan.includes(kec.id)) ? true : false"
                  >
                  </row-kecamatan>
                  <template v-if="collapse.kecamatan.includes(kec.id)"v-for="(pengecer, n) in kec.data">
                    <row-pengecer
                      :pengecer="pengecer"
                      :status="dataF6.header.status"
                      :product="dataF6.produks"
                      :access="access"
                      @toggle-collapse-pengecer="toggleCollapsePengecer"
                      @when-change="whenChange"
                    >
                    </row-pengecer>
                  </template>
                </template>
              </tbody>
              <tfoot id="myfoot">
                <tr>
                  <th class="side-left">Total Kabupaten</th>
                  <template v-for="(totalKabupaten, i) in dataF6.total.awal">
                    <template v-for="(prod, i) in dataF6.produks">
                      <th v-if="totalKabupaten.id === prod.id">{{ parseFloat(totalKabupaten.qty).toFixed(3) }}</th>
                    </template>
                  </template>
                  <template v-for="(totalKabupaten, i) in dataF6.total.penebusan">
                    <template v-for="(prod, i) in dataF6.produks">
                      <th v-if="totalKabupaten.id === prod.id">{{ parseFloat(totalKabupaten.qty).toFixed(3) }}</th>
                    </template>
                  </template>
                  <template v-for="(totalKabupaten, i) in dataF6.total.penyaluran">
                    <template v-for="(prod, i) in dataF6.produks">
                      <th v-if="totalKabupaten.id === prod.id" class="blue">{{ parseFloat(totalKabupaten.qty).toFixed(3) }}</th>
                    </template>
                  </template>
                  <template v-for="(totalKabupaten, i) in dataF6.total.akhir">
                    <template v-for="(prod, i) in dataF6.produks">
                      <th v-if="totalKabupaten.id === prod.id">{{ parseFloat(totalKabupaten.qty).toFixed(3) }}</th>
                    </template>
                  </template>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-12">
          <div class="pull-left">
            <button @click="$router.go(-1)" type="button" class="btn btn-secondary square">Kembali</button>
          </div>
          <div class="pull-right">
            <br>
            <template v-if="dataF6.header.status === 's'">
              <button v-if="access.C" type="button" @click="prepareData('d', false)" class="btn btn-danger square" data-dismiss="modal" :disabled="loadingButton">
                <i class="fa fa-spin fa-refresh" v-if="loadingButton"></i>
                {{ (loadingButton) ? 'Memuat..' : 'Unsubmit' }}
              </button>
              <button v-if="access.A" type="button" @click="prepareData('y')" class="btn btn-primary square" data-dismiss="modal" :disabled="loadingButton">
                <i class="fa fa-spin fa-refresh" v-if="loadingButton"></i>
                {{ (loadingButton) ? 'Memuat..' : 'Approve' }}
              </button>
            </template>
            <template v-if="access.A && dataF6.header.status === 'y'">
              <button type="button" @click="prepareData('s', false)" class="btn btn-danger square" data-dismiss="modal" :disabled="loadingButton">
                <i class="fa fa-spin fa-refresh" v-if="loadingButton"></i>
                {{ (loadingButton) ? 'Memuat..' : 'Unapprove' }}
              </button>
            </template>
            <template v-if="access.C && dataF6.header.status === 'd'">
              <button type="button" @click="prepareData('s')" class="btn btn-primary square" data-dismiss="modal" :disabled="loadingButton">
                <i class="fa fa-spin fa-refresh" v-if="loadingButton"></i>
                {{ (loadingButton) ? 'Memuat..' : 'Submit' }}
              </button>
              <button type="button" @click="prepareData('d')" class="btn btn-success square" data-dismiss="modal" :disabled="loadingButton">
                <i class="fa fa-spin fa-refresh" v-if="loadingButton"></i>
                {{ (loadingButton) ? 'Memuat..' : 'Simpan' }}
              </button>
            </template>
          </div>
          <!-- <div v-if="(access.C && access.U) || access.A && dataF6.header.status != 's'" class="pull-right">
            <button type="button" @click="prepareData('s')" class="btn btn-primary square">
              <i class="fa fa-refresh fa-spin" v-if="loadingButton"></i>
              {{ (loadingButton) ? "Memuat.." : "Submit" }}
            </button>
            <button type="button" @click="prepareData('d')" class="btn btn-success square">
              <i class="fa fa-refresh fa-spin" v-if="loadingButton"></i>
              {{ (loadingButton) ? "Memuat.." : "Save" }}
            </button>
          </div> -->
        </div>
      </div>
    </div>
    <no-so v-if="showNoso" :uuid="uuid" @trigger-modal="triggerModal"></no-so>
  </div>
</template>

<script>
import NoSo from './modal/NoSo.vue';
import FormLoader from '../../../main/FormLoader';
import RowKecamatan from './table/RowKecamatan.vue';
import RowPengecer from './table/RowPengecer.vue';
export default {
  props: ['access'],
  data: function() {
    return {
      heightCss: 50,
      loadingComponent: false,
      isLoad: false,
      collapse:{
        kecamatan : [],
        pengecer: []
      },
      dataF6 : {},
      showNoso: false,
      uuid: this.$route.params.uuid,
      dataSend: [],
      loadingButton: false
    }
  },
  components: {
    FormLoader, RowKecamatan, RowPengecer, NoSo
  },
  created() {
    this.getDataF6();
  },
  mounted() {
    var app = this;
    $("#mybody").scroll(function(event) {
      alert()
      app.fixscroll();
    });
  },
  methods: {
    numberFormat(value) {
      value = parseFloat(value).toFixed(3).toString();
      return this.numberEngine(value)
    },

    numberEngine(angka, prefix){
			var number_string = angka.replace(/[^,\d]/g, ','),
			split   		= number_string.split(','),
			sisa     		= split[0].length % 3,
			numb     	  = split[0].substr(0, sisa),
			ribuan     	= split[0].substr(sisa).match(/\d{3}/gi);
 
			// tambahkan titik jika yang di input sudah menjadi angka ribuan
			if(ribuan){
				var separator = sisa ? '.' : '';
				numb += separator + ribuan.join('.');
			}
 
			numb = split[1] != undefined ? numb + ',' + split[1] : numb;
			return prefix == undefined ? numb : (numb ? 'Rp. ' + numb : '');
    },
    
    showNosoAct() {
      event.preventDefault();
      this.showNoso = true;
    },

    prepareData(status, checkType) {
      let DataRetail = []
      this.dataF6.data.map(kecamatan => {
        kecamatan.data.map(retail => {
          // retail
          let produkArr = []
          this.dataF6.produks.map(produk => {
            // produks
            let awalFInal, penebusanFinal, penyaluranFinal, akhirFinal, uuidFinal
              retail.data.awal.map(awal => {
                //awal
                if(awal.id === produk.id) {
                  awalFInal = awal.qty
                }
              })
              retail.data.penebusan.map(penebusan => {
                //penebusan
                if(penebusan.id === produk.id) {
                  penebusanFinal = penebusan.qty
                }
              })
              retail.data.penyaluran.map(penyaluran => {
                //penyaluran
                if(penyaluran.id === produk.id) {
                  penyaluranFinal = penyaluran.qty
                }
              })
              retail.data.akhir.map(akhir => {
                //akhir + uuid
                if(akhir.id === produk.id) {
                  akhirFinal = akhir.qty
                  uuidFinal = akhir.uuid
                }
              })
            produkArr.push({product_id: produk.id, awal: awalFInal, penebusan: penebusanFinal, penyaluran: penyaluranFinal, akhir: akhirFinal, retail_id: retail.id, uuid: uuidFinal});
          })
          DataRetail.push({name: retail.name, data: produkArr})
        })
      })
      this.dataSend = {report_f6_id: this.dataF6.report_f6_id, status: status, data: DataRetail};
      this.sendData(checkType);
    },

    sendData(checkType) {
      let check = true;
      
      if(checkType === false) {
        check = true;
      } else {
        this.dataSend.data.map(pengecer => {
          pengecer.data.map(quantity => {
            let isMinus = Math.sign(quantity.akhir);
            // console.log(isMinus);
            if(isMinus === -1){
              check = false;
              return;
            }
            // if(quantity.akhir < 0) {
            //   check = false;
            //   return;
            // }
          })
        });
      }

      if (check) {
        this.loadingButton = true;
        this.axios.post('reportf6', this.dataSend)
        .then((resp) => {
          this.loadingButton = false;
          toastr.success(resp.data.message, "Berhasil")
          this.getDataF6();
        })
        .catch((resp) => {
          this.loadingButton = false;
          toastr.error(resp.response.data.message, "Gagal")
          toastr.error(resp.response.data.messages, "Gagal")
        })
      } else {
        toastr.warning("Data ketersediaan akhir minus, sesuaikan kembali");
      }
    },

    getDataF6() {
      this.loadingComponent = true;
      let uuid = this.$route.params.uuid;
      this.axios.get('reportf6/detail/'+uuid)
      .then((resp) => {
				const datas = resp.data.data;
				if(datas && datas.produks.length > 0){
					datas.produks.forEach((prod, index_prod) => {
						if(prod.id === 'P51'){ prod.name = 'POC'; }
						if(prod.id === 'P54'){ prod.name = 'KAKAO'; }
					})
				}
        this.dataF6 = datas;
        this.loadingComponent = false;
        this.setCollapseShow();
      })
      .catch((resp) => {
        this.loadingComponent = false;
      })
    },

    counterRetailEndInv(kecamatan, value, sales_unit_id, retail_id, product_id) {
      value = (value === '' || value === null || isNaN(value)) ? 0 : value;
      kecamatan.data.map(retail => {
        if(retail.id === retail_id) {
          let RetailInitInv = null;
          let Redemption = null;
          retail.data.awal.map(initInv => {
            if(initInv.id === product_id) {
              RetailInitInv = initInv.qty;
            }
          });
          retail.data.penebusan.map(redemp => {
            if(redemp.id === product_id) {
              Redemption = redemp.qty;
            }
          })
          retail.data.akhir.map(endinv => {
            if(endinv.id === product_id) {
              let total = ((RetailInitInv + Redemption) - value);
              // console.log(value);
              endinv.qty = parseFloat(total).toFixed(3);
            }
          })
        }
      });
    },

    counterTotalEachSalesUnit(kecamatan, value, sales_unit_id, retail_id, product_id) {
      value = (value === '' || value === null || isNaN(value)) ? 0 : value;
      kecamatan.total.akhir.map(totalAkhir => {
        if(totalAkhir.id === product_id) {
          let totalKecamatan = 0;
          if(!isNaN(value)) {
            kecamatan.data.map(pengecer => {
              pengecer.data.akhir.map(totalAkhirPengecer => {
                if(totalAkhirPengecer.id === product_id) {
                  totalKecamatan += (totalAkhirPengecer.qty === '' || totalAkhirPengecer.qty === null) ? 0 : parseFloat(totalAkhirPengecer.qty);
                }
              })
            })
          }
          totalAkhir.qty = parseFloat(totalKecamatan).toFixed(3);
        }
      })
    },

    whenChange(value, sales_unit_id, retail_id, product_id) {

      value = (value === '' || value === null) ? 0 : value;
      var newValue = 0;
      var objLimit = {}
      let getLimit = this.dataF6.header.product_limit.map((limit) => {
        objLimit[limit.product_id] = limit.qty
        return objLimit;
      })
      let limit_product = getLimit[0][product_id];

      this.dataF6.data.map((kecamatan) => {
        if(kecamatan.id === sales_unit_id) {
          this.counterRetailEndInv(kecamatan, value, sales_unit_id, retail_id, product_id);
          this.counterTotalEachSalesUnit(kecamatan, value, sales_unit_id, retail_id, product_id);
          kecamatan.total.penyaluran.map(totalPenyaluran => {
            if(totalPenyaluran.id === product_id) {
              let totalKecamatan = 0;
              if(!isNaN(value)) {
                kecamatan.data.map(pengecer => {
                  pengecer.data.penyaluran.map(totalPenebusanPengecer => {
                    if(totalPenebusanPengecer.id === product_id) {
                      // let tDO = parseFloat(totalPenebusanPengecer.qty);
                      // let tLM = parseFloat(limit_product);
                      // let modulus_limit = (tDO * 1000) % (tLM * 1000);
                      // if(tDO !== 0 && modulus_limit !== 0) {
                      //   toastr.warning("Kuantiti harus kelipatan "+limit_product+" Ton");
                      //   totalPenebusanPengecer.qty = 0;
                      // }
                      totalKecamatan += (totalPenebusanPengecer.qty === '' || totalPenebusanPengecer.qty === null) ? 0 : parseFloat(totalPenebusanPengecer.qty);
                    }
                  })
                })
              }
              totalPenyaluran.qty = parseFloat(totalKecamatan).toFixed(3);
            }
          })
        }
      });

      this.dataF6.total.penyaluran.map(totalHeaderPenyaluran => {
        if(totalHeaderPenyaluran.id === product_id) {
          let totalPenyaluranHeader = 0;
          this.dataF6.data.map(kecamatan => {
            kecamatan.total.penyaluran.map(totalPenyaluranKecamatan => {
              if(totalPenyaluranKecamatan.id === product_id) {
                totalPenyaluranHeader += parseFloat(totalPenyaluranKecamatan.qty);
              }
            })
          })
          if(!isNaN(totalPenyaluranHeader)) {
            totalHeaderPenyaluran.qty = (parseFloat(totalPenyaluranHeader).toFixed(3));
          }
        }
      })

      this.dataF6.total.akhir.map(totalHeaderAkhir => {
        if(totalHeaderAkhir.id === product_id) {
          let totalAkhirHeader = 0;
          this.dataF6.data.map(kecamatan => {
            kecamatan.total.akhir.map(totalAkhirKecamatan => {
              if(totalAkhirKecamatan.id === product_id) {
                totalAkhirHeader += parseFloat(totalAkhirKecamatan.qty);
              }
            })
          })
          if(!isNaN(totalAkhirHeader)) {
            totalHeaderAkhir.qty = (parseFloat(totalAkhirHeader).toFixed(3));
          }
        }
      })

    },

    setCollapseShow(){
      this.dataF6.data.map((kecamatan) => {
        this.collapse.kecamatan.push(kecamatan.id)
        // kecamatan.data.map((pengecer) => {
        //   this.collapse.pengecer.push(pengecer.id)
        // })
      })
    },

    toggleCollapseKecamatan(id) {
      const index = this.collapse.kecamatan.indexOf(id);
      if (index > -1) {
      	this.collapse.kecamatan.splice(index, 1)
      } else {
      	this.collapse.kecamatan.push(id)
      }
    },

    toggleCollapsePengecer() {
      const index = this.collapse.pengecer.indexOf(id);
      if (index > -1) {
      	this.collapse.pengecer.splice(index, 1)
      } else {
      	this.collapse.pengecer.push(id)
      }
    },

    downloadPdf(data){
      this.isLoad = true
      var number = this.dataF6.header.number
      this.axios({
        url: 'reportf6/download/'+this.uuid,
        method: 'GET',
        responseType: 'blob', // important
      }).then((response) => {
         const url = window.URL.createObjectURL(new Blob([response.data]));
         const link = document.createElement('a');
         link.href = url;
         link.setAttribute('download', number+'.pdf'); //or any other extension
         document.body.appendChild(link);
         link.click();
         this.isLoad = false
      })
      .catch((resp) => {
        toastr.error("Data tidak ditemukan" ,"File rusak");
        this.isLoad = false
      })
    },

    fixscroll() {
       const thead = document.getElementById("myhead");
       const tfoot = document.getElementById("myfoot");
       const tbodyScroll = document.getElementById("mybody").scrollLeft;
       thead.scrollLeft = tbodyScroll;
       tfoot.scrollLeft = tbodyScroll;
       //document.getElementById("frozen").scrollLeft = 0;
     },

     triggerModal() {
       this.showNoso = false
     },

    reload() {
      this.getDataF6();
    },

    isFloat(n){
        return Number(n) === n && n % 1 !== 0;
    }
  }
}
</script>

<style lang="css" scoped>
  .badge-primary {
      background-color: #1980F0 !important;
  }
  .box {
    border: 1px solid rgba(0, 0, 0, 0.1);
    flex: 1 1 auto;
    padding: 0.5rem;
    margin-bottom: 1rem;
  }

  .red {
    background-color: red;
  }

  ol, ul, dl {
    margin-bottom: 0px !important;
  }

  .blue {
    background-color: #d9edf7;
    color: #777 !important;
  }
</style>
