<template lang="html">
<div>
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title" id="horz-layout-colored-controls">Penebusan Baru</h4>
        </div>
        <form-loader :view="loaderAnimate"></form-loader>
        <div v-if="pageloder" class="card-content collpase show">
          <div class="card-body">
            <form class="form form-horizontal">
              <div class="form-body">
                <!-- <h4 class="form-section"><i class="icon-eye6"></i> About User</h4> -->
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group row">
                      <label class="col-sm-3 label-control">Produsen</label>
                      <div class="col-sm-9">
                        <multiselect
                          @input="getPembeli"
                          v-model="tempDt.sales_org_id"
                          :options="m_produsen"
                          track-by="id" :custom-label="produsenNameWithId"
                          :searchable="true" :close-on-select="true"
                          :show-labels="false" :placeholder="(loadingElement.produsen === false) ? 'Pilih ..' : 'Memuat ..'"
                          :disabled="tempFunct.isDisabledSalesorg">
                        </multiselect>
                        <p class="text-danger" v-if="error && errors.sales_org_id">{{errors.sales_org_id[0]}}</p>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-3 label-control">Pembeli</label>
                      <div class="col-sm-9">
                        <multiselect
                          @input="getSpjb"
                          v-model="tempDt.customer_id"
                          :options="m_customer"
                          track-by="id" :custom-label="distributorNameWithId"
                          :searchable="true" :close-on-select="true"
                          :show-labels="false" :placeholder="(loadingElement.pembeli === false) ? 'Pilih ..' : 'Memuat ..'"
                          :disabled="tempFunct.isDisabledCust">
                        </multiselect>
                        <p class="text-danger" v-if="error && errors.customer_id">{{errors.customer_id[0]}}</p>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-3 label-control" >Diterima Oleh</label>
                      <div class="col-sm-9">
                        <multiselect
                          v-model="tempDt.partner_id"
                          :options="m_partner"
                          track-by="customer_id" :custom-label="partnerNameWithId"
                          :searchable="true" :close-on-select="true"
                          :show-labels="false" :placeholder="(loadingElement.diterima_oleh === false) ? 'Pilih ..' : 'Memuat ..'"
                          :disabled="tempFunct.isDisabledPartner">
                        </multiselect>
                        <p class="text-danger" v-if="error && errors.partner_id">{{errors.partner_id[0]}}</p>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-3 label-control" >Tanggal</label>
                      <div class="col-sm-9">
                        <p style="background-color: #ECEFF1;" class="form-control border-primary">{{ convertDate(sendDt.order_date) }}</p>
                        <!-- <input type="hidden" v-model="sendDt.order_date" class="form-control border-primary" disabled> -->
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-3 label-control" >SPJB</label>
                      <div class="col-sm-9">
                        <multiselect
                          @input="getSalesOffice"
                          v-model="tempDt.spjb_id"
                          :options="m_spjb"
                          track-by="id" label="number"
                          :searchable="true" :close-on-select="true"
                          :show-labels="false" :placeholder="(loadingElement.spjb === false) ? 'Pilih ..' : 'Memuat ..'"
                          :disabled="tempFunct.isDisabledSpjb">
                        </multiselect>
                        <p class="text-danger" v-if="error && errors.contract_id">{{errors.contract_id[0]}}</p>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-3 label-control" >Sales Office</label>
                      <div class="col-sm-9">
                        <multiselect
                          @input="getSalesGroup"
                          v-model="tempDt.sales_office_id"
                          :options="m_sales_office"
                          track-by="id" :custom-label="salesofficeNameWithId"
                          :searchable="true" :close-on-select="true"
                          :show-labels="false" :placeholder="(loadingElement.sales_office === false) ? 'Pilih ..' : 'Memuat ..'"
                          :disabled="tempFunct.isDisabledSalesoffice">
                        </multiselect>
                        <p class="text-danger" v-if="error && errors.sales_office_id">{{errors.sales_office_id[0]}}</p>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-3 label-control" >Sales Group</label>
                      <div class="col-sm-9">
                        <multiselect
                          @input="getDeliveryMethod"
                          v-model="tempDt.sales_group_id"
                          :options="m_sales_group"
                          track-by="sales_group_id" :custom-label="salesgroupNameWithId"
                          :searchable="true" :close-on-select="true"
                          :show-labels="false" :placeholder="(loadingElement.sales_group === false) ? 'Pilih ..' : 'Memuat ..'"
                          :disabled="tempFunct.isDisabledSalesgroup">
                        </multiselect>
                        <p class="text-danger" v-if="error && errors.sales_group_id">{{errors.sales_group_id[0]}}</p>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-3 label-control" >Syarat Penebusan</label>
                      <div class="col-sm-9">
                        <multiselect
                          v-model="tempDt.delivery_method_id"
                          :options="m_deliverymethod"
                          track-by="id" label="name"
                          :searchable="true" :close-on-select="true"
                          :show-labels="false" :placeholder="(loadingElement.syarat_penebusan === false) ? 'Pilih ..' : 'Memuat ..'"
                          :disabled="tempFunct.isDisabledDelivery">
                        </multiselect>
                        <p class="text-danger" v-if="error && errors.delivery_method_id">{{errors.delivery_method_id[0]}}</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group row">
                      <label class="col-sm-3 label-control" for="userinput3">Tipe Pembayaran</label>
                      <div class="col-sm-9">
                        <multiselect
                          @input="AfterGetPaymentMethod"
                          v-model="tempDt.payment_method_id"
                          :options="m_payment_method"
                          track-by="ident_name" label="name"
                          :searchable="true" :close-on-select="true"
                          :show-labels="false" :placeholder="(loadingElement.tipe_pembayaran === false) ? 'Pilih ..' : 'Memuat ..'"
                          :disabled="tempFunct.isDisabledPayment">
                        </multiselect>
                        <p class="text-danger" v-if="error && errors.payment_method_id">{{errors.payment_method_id[0]}}</p>
                      </div>
                    </div>
                    <div v-if="tempFunct.isShowBank" class="form-group row">
                      <label class="col-sm-3 label-control">Bank</label>
                      <div class="col-sm-6">
                        <i v-if="loadingBank" class="fa fa-spinner fa-spin"></i>
                        <div v-else>
                          <fieldset v-for="(data, i) in m_bank">
                            <label v-if="data.id !== 'BBCA' && data.id !== 'BBSB'" class="custom-control custom-radio">
                              <input :disabled="tempFunct.isDisabledBank" type="radio" class="custom-control-input" @click="changeBank()" v-model="tempDt.bank_id" :value="data.id">
                              <span class="custom-control-indicator"></span>
                              <span class="custom-control-description">{{ data.name }}</span>
                            </label>
                          </fieldset>
                        </div>
                      </div>
                      <div class="col-sm-3 text-right">
                        <button type="button" class="btn btn-sm btn-success" :disabled="(tempFunct.isDisabledBank === true) && (modalPlavon.btnDisabled === true)" @click="openModalPlavon"> <i class="fa fa-check-square-o"></i> Cek Plafon </button>
                      </div>
                      <p class="text-danger" v-if="error && errors.bank_id">{{errors.bank_id[0]}}</p>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-3 label-control" for="userinput4">Jenis Kendaraan</label>
                      <div class="col-sm-9">
                        <multiselect
                          v-model="tempDt.jenis_truk_id"
                          :options="m_jenis_truk"
                          track-by="value" label="name"
                          :searchable="true" :close-on-select="true"
                          :show-labels="false" :placeholder="(loadingElement.jenis === false) ? 'Pilih ..' : 'Memuat ..'"
                          :disabled="tempFunct.isDisabledTruk">
                        </multiselect>
                        <p class="text-danger" v-if="error && errors.desc">{{errors.desc[0]}}</p>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-3 label-control" for="userinput4">Kode Referensi</label>
                      <div class="col-sm-9">
                        <input type="text" v-model="sendDt.reference_code" :disabled="tempFunct.isDisabledreference_code" class="form-control border-primary">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-actions top clearfix">
                <div class="buttons-group float-left">
                  <button :disabled="loadingSpin" type="button" class="btn btn-danger mr-1" @click="toCancel">
                    <i class="ft-x"></i>
                    Sebelumnya
                  </button>
                </div>
                <div v-if="access.C === true && access.U === true" class="buttons-group float-right">
                  <button :disabled="loading" v-if="sendDt.status !== 'y'" type="button" class="btn btn-primary mr-1" @click="toDraft">
                    <i v-if="loadingSpin" class="fa fa-spin fa-refresh"></i>
                    Simpan
                  </button>
                  <button :disabled="loading" v-if="sendDt.status !== 'y'" type="button" class="btn btn-success" @click="toDraft('next')">
                    <i v-if="loadingSpin" class="fa fa-spin fa-refresh"></i>
                    Selanjutnya
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
  </div>
  <modal-plavon v-if="modalPlavon.show" @trigger-modal="triggerModal" :customer_id="modalPlavon.customer_id" :sales_org_id="modalPlavon.sales_org_id" :bank_id="modalPlavon.bank_id"></modal-plavon>
</div>
</div>

</template>

<script>
import Multiselect from 'vue-multiselect';
import FormLoader from '../../../main/FormLoader';
import ModalPlavon from '../../../global/ModalPlavon';

export default {
  data: function() {
    return {
      today: '',
      modalPlavon: {
        show: false,
        customer_id: null,
        sales_org_id: null,
        bank_id: null,
        btnDisabled: true
      },
      errors: {},
      access: {},
      error: false,
      loading: true,
      loadingSpin: false,
      loaderAnimate: false,
      loadingBank: true,
      pageloder:true,
      m_produsen: [],
      m_customer: [],
      m_partner: [],
      m_bank: [],
      m_spjb: [],
      paramId: (this.$route.params.id === 'null') ? null : this.$route.params.id,
      m_deliverymethod: [],
      m_sales_office: [],
      m_sales_group: [],
      m_payment_method: [],
      m_jenis_truk: [
        {name: 'Truk', value: 'Truk'},
        {name: 'Kereta', value: 'Kereta'},
        {name: 'Kapal', value: 'Kapal'},
      ],
      loadingElement: {
        produsen: false,
        pembeli: false,
        diterima_oleh: false,
        spjb: false,
        sales_office: false,
        sales_group: false,
        syarat_penebusan: false,
        tipe_pembayaran: false,
        jenis: false,
      },
      tempFunct: {
        isShowBank: false,
        isDisabled: false,
        isDisabledSalesorg: false,
        isDisabledCust: true,
        isDisabledPartner: true,
        isDisabledSpjb: true,
        isDisabledSalesoffice: true,
        isDisabledSalesgroup: true,
        isDisabledDelivery: true,
        isDisabledPayment: true,
        isDisabledBank: false,
        isDisabledTruk: false,
        isDisabledreference_code: false,
      },
      sendDt: {
        sales_org_id: '',
        payment_method: '',
        contract_id: '',
        customer_id: '',
        partner_id: '',
        sales_office_id: '',
        sales_group_id: '',
        delivery_method_id: '',
        bank_id: '',
        desc: '',
        reference_code: '',
        status: 'd',
        order_date: '',
      },
      tempDt: {
        provinces: [],
        bank_id: null,
        sales_org_id: null,
        customer_id: null,
        partner_id: null,
        spjb_id: null,
        payment_method_id: null,
        delivery_method_id: null,
        jenis_truk_id: null,
        sales_office_id: null,
        sales_group_id: null,
        spjb_uuid: null,
        spjb_sales_group_id: null,
      },
    }
  },
  created() {
    const encodeAccess = decodeURIComponent(this.$route.params.access);
    const decodeAccess = this.toText(this.decrypt(encodeAccess));
    const arrAccess = decodeAccess.split(",");
    if(arrAccess) {
      arrAccess.map((data) => {
        if(data === 'C' || data === 'R' || data === 'U' || data === 'D' || data === 'A') {
          this.access[data] = true
        } else {
          this.$router.push({path: '/home'});
          toastr.error('Permission can not open this page', 'Error');
        }
      })
    } else {
      this.$router.push({path: '/home'});
      toastr.error('Permission can not open this page', 'Error');
    }
  },
  components: {
    Multiselect,
    FormLoader,
    ModalPlavon
  },
  mounted() {
    var app = this;
    this.getProdusen();

    if (typeof this.$route.params.id === 'undefined') {
      this.paramId = null;
      app.getToday();
    } else {
      if (this.paramId !== null) {
        this.getDatabyuuid(this.paramId);
        app.checkPendingRequest();
      }
    }

    this.$watch(vm => [vm.tempDt.customer_id, vm.sales_org_id], val => {
      if (this.tempDt.customer_id !== null && this.tempDt.sales_org_id !== null) {
        this.getPaymentMethod();
      } else {
        this.tempFunct.isDisabledPayment = true;
        this.tempDt.payment_method_id = null;
      }
    })
    this.$watch(vm => [vm.sendDt.status], val => {
      if (this.sendDt.status === 's') {
        this.disableAll();
      }
    })

    if (!this.access.C && !this.access.U) {
      this.disableAll();
    }
  },
  methods: {
    changeBank() {
      if(this.tempDt.bank_id !== null || this.tempDt.bank_id !== '') {
        this.modalPlavon.btnDisabled = true
      } else {
        this.modalPlavon.btnDisabled = false
      }
    },
    openModalPlavon() {
      if(this.tempDt.bank_id == null || this.tempDt.bank_id == '') {
        toastr.warning('Pilih Bank terlebih dahulu')
      } else {
        this.modalPlavon.show = true
        this.modalPlavon.customer_id = this.tempDt.customer_id.id
        this.modalPlavon.sales_org_id = this.tempDt.sales_org_id.id
        this.modalPlavon.bank_id = this.tempDt.bank_id
      }
    },
    triggerModal() {
      this.modalPlavon.show = false
      this.modalPlavon.customer_id = null
      this.modalPlavon.sales_org_id = null
      this.modalPlavon.bank_id = null
    },
    produsenNameWithId ({id, name}) {
      return `${id} — ${name}`
    },
    distributorNameWithId ({id, full_name}) {
      return `${id} — ${full_name}`
    },
    partnerNameWithId ({customer_id, customer_name}) {
      return `${customer_id} — ${customer_name}`
    },
    salesofficeNameWithId({id, name}){
      return `${id} — ${name}`
    },
    salesgroupNameWithId({sales_group_id, sales_group_name}){
      return `${sales_group_id} — ${sales_group_name}`
    },
    getToday() {
      this.axios.get('today')
      .then((resp) => {
        this.today = resp.data.data.today;
        this.sendDt.order_date = this.today;
      })
      .catch((resp) => {
        // this.sendDt.order_date = new Date().toISOString().substring(0, 10);
      })
    },
    getBank() {
      this.loadingBank = true
      this.axios.get('bank', {
        params: {
          customer_id: this.tempDt.customer_id.id,
          sales_org_id: this.tempDt.sales_org_id.id,
        }
      })
      .then((resp) => {
        this.m_bank = resp.data.data;
        this.loadingBank = false
      })
      .catch((resp) => {
        // toastr.error('Failed To Get Data Bank', 'Please Refresh The Page');
        this.loadingBank = false
        toastr.error('customer dan sales org tidak boleh kosong', 'Gagal');
      })
    },
    getProdusen() {
      this.loadingElement.produsen = true;
      this.axios.get('company/produsen')
      .then((resp) => {
        this.m_produsen = resp.data.data;
        this.loadingElement.produsen = false;
      })
      .catch((resp) => {
        // toastr.error(resp.response.exception, 'error');
        toastr.error('Failed To Get Data Produsen', 'Please Refresh The Page');
        this.loadingElement.produsen = false;
      })
    },
    getPembeli(dt) {
      if (dt !== null) {
        this.loadingElement.pembeli = true;
        this.tempDt.customer_id = null;
        this.tempDt.partner_id = '';
        this.tempDt.spjb_id = '';
        this.tempDt.sales_office_id = '';
        this.tempDt.sales_group_id = '';
        this.tempDt.delivery_method_id = '';
        this.tempDt.payment_method_id = null;
        this.tempFunct.isShowBank = false;
        this.tempDt.bank_id = null;

        this.axios.get('company/distributor', {
          params: {
            type: 'order',
            sales_org_id: dt.id
          }
        })
        .then((resp) => {
          this.loadingElement.pembeli = false;
          this.m_customer = resp.data.data;
          if (this.sendDt.status === 's') { this.disableAll(); } else { this.tempFunct.isDisabledCust = false; }
        })
        .catch((resp) => {
          this.loadingElement.pembeli = false;
          // toastr.error(resp.response.exception, 'error');
          toastr.error('Failed To Get Data Distributor', 'Please Refresh The Page');
          this.tempFunct.isDisabledPartner = true;
          this.tempFunct.isDisabledCust = true;
          this.tempFunct.isDisabledSpjb = true;
          this.tempFunct.isDisabledSalesoffice = true;
          this.tempFunct.isDisabledSalesgroup = true;
        })
      } else {
        this.setNullOpt();
        this.tempFunct.isDisabledPartner = true;
        this.tempFunct.isDisabledCust = true;
        this.tempFunct.isDisabledSpjb = true;
        this.tempFunct.isDisabledSalesoffice = true;
        this.tempFunct.isDisabledSalesgroup = true;
        this.loadingElement.pembeli = false;
      }
    },
    getPartner (dt) {
      if (dt !== null && this.tempDt.sales_org_id !== null) {
        this.loadingElement.pembeli = false;
        this.axios.get('gudang/shipto', {
          params: {
            customer_id: dt.id,
            sales_org_id: this.tempDt.sales_org_id.id,
          }
        })
        .then((resp) => {
          this.m_partner = resp.data.data;
          this.tempDt.partner_id = {customer_id: this.tempDt.customer_id.id, customer_name: this.tempDt.customer_id.full_name};
          if (this.sendDt.status === 's') { this.disableAll(); } else { this.tempFunct.isDisabledPartner = false; }
        })
        .catch((resp) => {
          // toastr.error(resp.response.exception, 'error');
          toastr.error('Failed To Get Data Partner', 'Please Refresh The Page');
          this.tempFunct.isDisabledPartner = true;
        })
      } else {
        this.tempFunct.isDisabledPartner = true;
      }
    },
    getSpjb(dt) {
      // get Diterima Oleh
      this.getPartner(dt);
      // spjb
      this.tempDt.spjb_id = '';
      this.tempDt.sales_office_id = '';
      this.tempDt.sales_group_id = '';
      this.tempDt.delivery_method_id = '';
      this.tempDt.payment_method_id = null;
      this.tempFunct.isShowBank = false;
      this.tempDt.bank_id = null;
      this.m_sales_office = [];
      this.m_sales_group = [];
      if (dt !== null) {
        this.loadingElement.spjb = true;
        this.loadingElement.sales_office = true;
        this.loadingElement.sales_group = true;
        this.axios.get('spjbopr', {
          params: {
            sales_org_id : this.tempDt.sales_org_id.id,
            customer_id: dt.id,
            status: 'y;z',
            year : (new Date()).getFullYear(),
            select2: true
          }
        })
        .then((resp) => {
          this.loadingElement.spjb = false;
          this.loadingElement.sales_office = false;
          this.loadingElement.sales_group = false;
          this.m_spjb = resp.data.data;
          if(this.paramId !== null){
            setTimeout(() => {
              this.getProv(resp.data.data, this.tempDt.spjb_id)
            }, 1000)  
          }

          if (this.sendDt.status === 's') {
            this.disableAll();
          } else {
            this.tempFunct.isDisabledSpjb = false;
            this.tempFunct.isDisabledSalesoffice = false;
            this.tempFunct.isDisabledSalesgroup = false;
          }
        })
        .catch((resp) => {
          // toastr.error(resp.response.exception, 'error');
          toastr.error('Failed To Get Data SPJB', 'Please Refresh The Page');
          this.loadingElement.spjb = false;
          this.loadingElement.sales_office = false;
          this.loadingElement.sales_group = false;
          this.tempFunct.isDisabledSpjb = true;
          this.tempFunct.isDisabledSalesoffice = true;
          this.tempFunct.isDisabledSalesgroup = true;
          this.tempFunct.isDisabledDelivery = true;
        })
      } else {
        this.tempDt.partner_id = null;
        this.tempFunct.isDisabledSpjb = true;
        this.tempFunct.isDisabledSalesoffice = true;
        this.tempFunct.isDisabledSalesgroup = true;
        this.tempFunct.isDisabledDelivery = true;
      }
      this.loading = false;
      this.loadingSpin = false;
    },
    getSalesOffice (dt) {
      this.tempDt.sales_group_id = '';
      this.tempDt.sales_office_id = '';
      this.m_sales_group = [];
      this.loadingElement.sales_office = true;
        this.loadingElement.sales_group = true;
      if (dt !== null) {
        // this.m_sales_office = [{id: this.tempDt.spjb_id.sales_office_id, name: this.tempDt.spjb_id.sales_office_name}];
        // this.m_sales_office = [{id: this.tempDt.spjb_id.sales_office_id, name: this.tempDt.spjb_id.sales_office_name}];
        this.tempFunct.isDisabledSalesgroup = false;
        this.tempFunct.isDisabledSalesoffice = false;
        const arr_sales_offices = [];
        if(dt.sales_offices.indexOf("|") !== -1){
          const sales_offices = dt.sales_offices.split("|");
          sales_offices.forEach((item, key) => {
            var obj = {
              id: item.split("-")[0],
              name: item.split("-")[1],
            }
            arr_sales_offices.push(obj);
          })
        } else {
          var obj = {
              id: dt.sales_offices.split("-")[0],
              name: dt.sales_offices.split("-")[1],
            }
          arr_sales_offices.push(obj);
        }
        this.m_sales_office = arr_sales_offices;
        this.loadingElement.sales_office = false;
        this.loadingElement.sales_group = false;
        this.tempDt.spjb_uuid = this.tempDt.spjb_id.uuid;
        this.tempDt.spjb_sales_office_id = this.tempDt.spjb_id.sales_office_id;
        // this.getSalesGroup(this.tempDt.spjb_uuid, this.tempDt.spjb_sales_office_id);
      } else {
        this.m_sales_office = []
        this.tempFunct.isDisabledSalesoffice = true;
        this.tempFunct.isDisabledSalesgroup = true;
        this.tempFunct.isDisabledDelivery = true;
        this.loadingElement.sales_office = false;
        this.loadingElement.sales_group = false;
      }
    },
    getProv(spjb, dt){
      // this.getSalesOffice(this.tempDt.spjb_id)
      const arr = [];
      if (spjb.length > 0 && dt !== null){
        spjb.forEach((item, key) => {
          if(item.uuid === dt.uuid){
            arr.push(item)
          }
        })
      }
      this.tempDt.provinces = arr;
      this.setGetData(this.tempDt.provinces)
    },
    setGetData(dt){
      if(dt[0] !== undefined && dt !== null){
        const arr_sales_offices = [];
        if(dt[0].sales_offices.indexOf("|") !== -1){
          const sales_offices = dt[0].sales_offices.split("|");
          sales_offices.forEach((item, key) => {
            var obj = {
              id: item.split("-")[0],
              name: item.split("-")[1],
            }
            arr_sales_offices.push(obj);
          })
        } else {
          var obj = {
              id: dt[0].sales_offices.split("-")[0],
              name: dt[0].sales_offices.split("-")[1],
            }
          arr_sales_offices.push(obj);
        }
        this.m_sales_office = arr_sales_offices;
      }
      this.getSalesGroup(this.tempDt.sales_office_id, false);
      this.getDeliveryMethod(this.tempDt.sales_group_id);
    },
    getSalesGroup(dt, type = null){
      if(type === null){
        this.tempDt.sales_group_id = '';
        this.tempDt.delivery_method_id = '';
      } 
      this.m_deliverymethod = [];
      if (dt !== null && this.tempDt.spjb_uuid !== null) {
        this.loadingElement.sales_group = true;
        this.tempFunct.isDisabledDelivery = false;
        this.tempFunct.isDisabledSalesgroup = false;
        this.axios.get('spjb/group', {
          params: {
            uuid: this.tempDt.spjb_uuid,
            sales_office_id: dt.id
          }
        })
        .then((resp) => {
          this.loadingElement.sales_group = false;
          this.m_sales_group = resp.data.data;
          // if(this.tempDt.sales_group_id === '' || this.tempDt.sales_group_id === null){
          //   this.tempDt.sales_group_id = {sales_group_id: resp.data.data[0].sales_group_id, sales_group_name: resp.data.data[0].sales_group_name};
          // } 
          // this.getDeliveryMethod(this.tempDt.sales_group_id);
        })
        .catch((resp) => {
          toastr.error('Failed To Get Data Detail Sales Group', 'Please Refresh The Page');
          // toastr.error(resp.response.exception, 'error');
        })
        // this.m_sales_group = [{id: this.tempDt.spjb_id.sales_group_id, name: this.tempDt.spjb_id.sales_group_name}];
        // this.tempDt.sales_group_id = [{id: this.tempDt.spjb_id.sales_group_id, name: this.tempDt.spjb_id.sales_group_name}];
      } else {
        this.loadingElement.sales_group = false;
        this.m_sales_group = []
        this.tempFunct.isDisabledSalesgroup = true;
        this.tempFunct.isDisabledDelivery = true;
      }
    },
    getDeliveryMethod(dt) {
      if (dt !== null) {
        this.loadingElement.syarat_penebusan = true;
        this.axios.get('deliverymethod/kabupaten/'+dt.sales_group_id)
        .then((resp) => {
          this.m_deliverymethod = resp.data.data;
          this.loadingElement.syarat_penebusan = false;
          if (this.sendDt.status === 's') { this.disableAll(); } else { this.tempFunct.isDisabledDelivery = false; }
        })
        .catch((resp) => {
          // toastr.error(resp.response.exception, 'error');
          toastr.error('Failed To Get Data deliverymethod', 'Please Refresh The Page');
        })
      } else {
        toastr.error('Tidak ada data Syarat Penebusan', 'error');
        this.tempFunct.isDisabledDelivery = true;
        this.loadingElement.syarat_penebusan = false;
        this.tempDt.delivery_method_id = null;
      }
    },
    getPaymentMethod(){
      this.axios.get('paymentmethod', {
        params: {
          customer_id: this.tempDt.customer_id.id,
          sales_org_id: this.tempDt.sales_org_id.id,
        }
      })
      .then((resp) => {
        this.m_payment_method = resp.data.data;
        if (this.sendDt.status === 's') { this.disableAll(); } else { this.tempFunct.isDisabledPayment = false; }
      })
      .catch((resp) => {
        toastr.error('Failed To Get Data paymentmethod', 'Please Refresh The Page');
        // toastr.error(resp.response.exception, 'error');
        this.tempFunct.isDisabledPayment = true;
      })
    },
    AfterGetPaymentMethod(dt){
      if (this.tempDt.payment_method_id !== null) {
        if (this.tempDt.payment_method_id.name === 'Distributor Financing') {
          this.getBank();
          this.tempFunct.isShowBank = true;
          if (this.sendDt.status === 's') { this.disableAll(); }
        } else {
          this.tempFunct.isShowBank = false;
          this.tempDt.bank_id = null;
        }
      } else {
        this.tempFunct.isShowBank = false;
        this.tempDt.bank_id = null;
      }
    },
    toDraft(val = false) {
      var app = this;
      var check_bank = true;
      if (this.tempDt.payment_method_id !== null) {
        if (this.tempDt.payment_method_id.name === 'Distributor Financing') {
          if (this.tempDt.bank_id === null) {
            check_bank = false;
          } else {
            check_bank = true;
          }
        }
        if (check_bank === true) {
          if (this.paramId !== null) {
            app.update(val);
          } else {
            app.insert(val);
          }
        } else {
          toastr.error("Tipe bank tidak boleh kosong", "Gagal");
        }
      } else {
        toastr.error("Tipe bank tidak boleh kosong", "Gagal");
      }

    },
    insert(val){
      event.preventDefault();
      var app = this;
      app.loaderAnimate = true;
      app.pageloder = false;
      app.setSelectOpt();
      app.axios.post('order', app.sendDt)
      .then((resp) => {
        app.loaderAnimate = false;
        app.pageloder = true;
        var access = app.$route.params.access;
        var id = resp.data.data.uuid;
        toastr.success("Entry data Order berhasil", "Sukses");
        if (val == 'next') {
          app.$router.push({path: '/'+encodeURIComponent(access)+'/transaksi/order/detail/'+id+'/step-2'});
        } else {
          app.$router.push({path: '/'+encodeURIComponent(access)+'/transaksi/order/detail/'+id});
        }
      })
      .catch((resp) => {
        toastr.error("Entry data Order gagal", "Gagal");
        this.error = true;
        this.errors = resp.response.data.message;
        this.loaderAnimate = false;
        this.pageloder = true;
        this.loading = false;
        this.loadingSpin = false;
      });
    },
    update(val){
      event.preventDefault();
      this.loaderAnimate = true;
      this.pageloder = false;
      this.setSelectOpt();
      this.axios.put('order/'+this.paramId, this.sendDt)
      .then((res) => {
        toastr.success("Update data Order berhasil", "Sukses");
        this.loaderAnimate = false;
        this.pageloder = true;
        var access = this.$route.params.access;
        var id = res.data.data.uuid;

        if (val == 'next') {
          this.$router.push({path: '/'+encodeURIComponent(access)+'/transaksi/order/detail/'+id+'/step-2'});
        } else {
          this.$router.push({path: '/'+encodeURIComponent(access)+'/transaksi/order/detail/'+id});
        }
      })
      .catch((resp) => {
        toastr.error("Update data Order gagal", "Gagal");
        this.errors = resp.response.data.message;
        this.error = true;
        this.loaderAnimate = false;
        this.pageloder = true;
        this.loading = false;
        this.loadingSpin = false;
      });
    },
    setSelectOpt(){
      this.sendDt.sales_org_id = (this.tempDt.sales_org_id === null) ? null : this.tempDt.sales_org_id.id;
      this.sendDt.payment_method = (this.tempDt.payment_method_id === null) ? null : this.tempDt.payment_method_id.name;
      this.sendDt.contract_id = (this.tempDt.spjb_id === null) ? null : this.tempDt.spjb_id.id;
      this.sendDt.customer_id = (this.tempDt.customer_id === null) ? null : this.tempDt.customer_id.id;
      this.sendDt.partner_id = (this.tempDt.partner_id === null) ? null : this.tempDt.partner_id.customer_id;
      this.sendDt.sales_office_id = (this.tempDt.sales_office_id === null) ? null : this.tempDt.sales_office_id.id;
      this.sendDt.sales_group_id = (this.tempDt.sales_group_id === null) ? null : this.tempDt.sales_group_id.sales_group_id;
      this.sendDt.delivery_method_id = (this.tempDt.delivery_method_id === null) ? null : this.tempDt.delivery_method_id.id;
      this.sendDt.bank_id = (this.tempDt.bank_id === null) ? null : this.tempDt.bank_id;
      this.sendDt.desc = (this.tempDt.jenis_truk_id === null) ? null : this.tempDt.jenis_truk_id.value;
    },
    getDatabyuuid(uuid){
      this.loaderAnimate = true;
      this.pageloder = false;
      this.axios.get("order/id/"+uuid)
      .then((resp)=>{
          this.getToday();
          this.tempDt.sales_org_id = {id: resp.data.data.sales_org_id, name: resp.data.data.sales_org_name};
          this.getPembeli(this.tempDt.sales_org_id);
          this.tempDt.customer_id = {id: resp.data.data.customer_id, full_name: resp.data.data.customer_name};
          this.getPartner(this.tempDt.customer_id);
          this.tempDt.partner_id = {customer_id: resp.data.data.customer_id, customer_name: resp.data.data.customer_name};
          this.getSpjb(this.tempDt.customer_id);
          this.tempDt.spjb_id = {id: ''+resp.data.data.contract_id+'', number: resp.data.data.contract_number, uuid: resp.data.data.contract_uuid};
          this.tempDt.spjb_uuid = resp.data.data.contract_uuid;
          this.tempDt.sales_office_id = {id: resp.data.data.sales_office_id, name: resp.data.data.sales_office_name};
          this.tempDt.sales_group_id = {sales_group_id: resp.data.data.sales_group_id, sales_group_name: resp.data.data.sales_group_name};
          this.tempDt.delivery_method_id = {id: resp.data.data.delivery_method_id, name: resp.data.data.delivery_method_name};
          this.tempDt.payment_method_id = {id: resp.data.data.payment_method, name: resp.data.data.payment_method};
          this.tempDt.jenis_truk_id = {value: resp.data.data.desc, name: resp.data.data.desc};
          this.sendDt.reference_code = resp.data.data.reference_code;
          
          // if(resp.data.data.status === 'd'){
          //   // this.sendDt.order_date = this.nowDate();
          //   this.getToday();
          // } else {
          //   this.sendDt.order_date = resp.data.data.order_date;
          // }
          
          this.sendDt.status = resp.data.data.status;
          if (resp.data.data.payment_method === 'Distributor Financing') {
            this.tempFunct.isShowBank = true;
            this.getBank();
            if (this.sendDt.status === 's') { this.disableAll(); }
          } else {
            this.tempFunct.isShowBank = false;
          }
          this.tempDt.bank_id = resp.data.data.bank_id;
      })
      .catch((resp) => { console.log("ok") })
      .then((resp) => {
        var app = this;
        if(this.sendDt.status === 's' || this.sendDt.status === 'y'){
          setTimeout(function(){ app.disableAll() }, 2500);
        }
        this.loaderAnimate = false;
        this.pageloder = true;
      })
    },
    setNullOpt(){
      this.tempDt.customer_id = null;
      this.tempDt.partner_id = null;
      this.tempDt.sales_office_id = null;
      this.tempDt.sales_group_id = null;
      this.tempDt.spjb_id = null;
      this.tempDt.payment_method_id = null;
    },
    disableAll(){
      this.tempFunct.isDisabled = true;
      this.tempFunct.isDisabledSalesorg = true;
      this.tempFunct.isDisabledCust = true;
      this.tempFunct.isDisabledPartner = true;
      this.tempFunct.isDisabledSpjb = true;
      this.tempFunct.isDisabledSalesoffice = true;
      this.tempFunct.isDisabledSalesgroup = true;
      this.tempFunct.isDisabledDelivery = true;
      this.tempFunct.isDisabledPayment = true;
      this.tempFunct.isDisabledBank = true;
      this.tempFunct.isDisabledTruk = true;
      this.tempFunct.isDisabledreference_code = true;
    },
    toCancel(){
      window.history.back();
      // var access = this.$route.params.access;
      // this.$router.push({path: '/'+encodeURIComponent(access)+'/transaksi/order'});
    },
    nowDate() {
        var d = new Date(),
            month = '' + (d.getMonth() + 1),
            day = '' + d.getDate(),
            year = d.getFullYear();

        if (month.length < 2) 
            month = '0' + month;
        if (day.length < 2) 
            day = '0' + day;

        return [year, month, day].join('-');
    },
    checkPendingRequest(){
      var app = this;
      var countPending = 0;
      // Add a request interceptor
      app.axios.interceptors.request.use((config) => {
          countPending++;
          // show loader
          return config;
      }, (error) => Promise.reject(error) );

      // Add a response interceptor
      app.axios.interceptors.response.use((response) => {
          countPending--;
          // console.log("------------  Ajax pending", countPending);
          if (countPending > 0 ) {
            app.loading = true;
            app.loadingSpin = true;
          } else {
            app.loading = false;
            app.loadingSpin = false;
          }
          // (countPending > 0 ? app.loading = true : app.loading = false)
          return response;
      }, (error) => Promise.reject(error));
    }
  }
}
</script>

<style lang="css">

</style>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
