<template>
  <div class="modal fade" id="formUploadFarmerGroup" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <form @submit="toSubmit()">
          <div class="modal-header">
            <h4 class="modal-title">Validasi data upload</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body">
            <table class="table table-xs table-bordered table-striped display nowrap">
              <thead>
                <tr>
                  <th>No</th>
                  <th>Pengecer</th>
                  <th>Produsen</th>
                  <th>Kelompok Tani</th>
                  <th>Alamat</th>
                  <th>Kode Kecamatan</th>
                  <th>Jml Anggota</th>
                  <th>Luas Lahan</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(data, i) in dataUpload" class="filter">
                  <td>{{ i+1 }}</td>
                  <td>
                    <input type="text" class="form-control form-control-sm form-upload" v-model="data.retail_code"
                    :class="{'is-invalid' : (data.validate.status === 0) && (data.validate.message.retail_code)}"
                    >
                    <p class="text-danger" v-if="(data.validate.status === 0) && (data.validate.message.retail_code)">{{data.validate.message.retail_code[0]}}</p>
                  </td>
                  <td>
                    <input type="text" class="form-control form-control-sm form-upload" v-model="data.sales_org_id"
                    :class="{'is-invalid' : (data.validate.status === 0) && (data.validate.message.sales_org_id)}"
                    >
                    <p class="text-danger" v-if="(data.validate.status === 0) && (data.validate.message.sales_org_id)">{{data.validate.message.sales_org_id[0]}}</p>
                  </td>
                  <td>
                    <input type="text" class="form-control form-control-sm form-upload" v-model="data.name"
                    :class="{'is-invalid' : (data.validate.status === 0) && (data.validate.message.name)}"
                    >
                    <p class="text-danger" v-if="(data.validate.status === 0) && (data.validate.message.name)">{{data.validate.message.name[0]}}</p>
                    <p class="text-danger" v-if="(data.validate.status === 0) && (data.validate.message.group_name)">{{data.validate.message.group_name[0]}}</p>
                  </td>
                  <td>
                    <input type="text" class="form-control form-control-sm form-upload" v-model="data.address"
                    :class="{'is-invalid' : (data.validate.status === 0) && (data.validate.message.address)}"
                    >
                    <p class="text-danger" v-if="(data.validate.status === 0) && (data.validate.message.address)">{{data.validate.message.address[0]}}</p>
                  </td>
                  <td>
                    <input type="text" class="form-control form-control-sm form-upload" v-model="data.sales_unit_id"
                    :class="{'is-invalid' : (data.validate.status === 0) && (data.validate.message.sales_unit_id)}"
                    >
                    <p class="text-danger" v-if="(data.validate.status === 0) && (data.validate.message.sales_unit_id)">{{data.validate.message.sales_unit_id[0]}}</p>
                    <p class="text-danger" v-if="(data.validate.status === 0) && (data.validate.message.sales_office)">{{data.validate.message.sales_office[0]}}</p>
                  </td>
                  <td>
                    <input type="text" class="form-control form-control-sm form-upload" v-model="data.qty_group"
                    :class="{'is-invalid' : (data.validate.status === 0) && (data.validate.message.qty_group)}"
                    >
                    <p class="text-danger" v-if="(data.validate.status === 0) && (data.validate.message.qty_group)">{{data.validate.message.qty_group[0]}}</p>
                  </td>
                  <td>
                    <input type="text" class="form-control form-control-sm form-upload" v-model="data.land_area"
                    :class="{'is-invalid' : (data.validate.status === 0) && (data.validate.message.land_area)}"
                    >
                    <p class="text-danger" v-if="(data.validate.status === 0) && (data.validate.message.land_area)">{{data.validate.message.land_area[0]}}</p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['fg'],
  data: function() {
    return {
      dataUpload: this.fg
    }
  },
  created() {
    this.setState()
  },
  mounted() {
    var app = this;
    $("#formUploadFarmerGroup").modal("show");
    $('#formUploadFarmerGroup').on('hidden.bs.modal', function () {
      app.closeModal();
    })
  },
  methods: {
    closeModal() {
      this.$emit("trigger-modal");
    },
    setState() {
      this.dataUpload.map((data, i) => {
        data['status'] = 'y';
        data['commodity_id'] = data.commodity.map(e => e.id).join(';');
        data['sub_sector_id'] = data.sub_sector.map(e => e.id).join(';');
      })
    },
    toSubmit() {
      event.preventDefault()
      this.axios.post('farmergroup/json/bulk', this.dataUpload)
      .then((resp) => {
        $("#formUploadFarmerGroup").modal("hide");
        toast.success('Data Kelompok Tani Disimpan', 'Berhasil');
      })
      .catch((resp) => {
        if(resp.response.data) {
          this.dataUpload = resp.response.data.data;
        }
      })
    }
  }
}
</script>

<style lang="css" scoped>
</style>
