<template>
  <div class="modal fade" id="SubSektorModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Lihat Sub Sektor</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          <form-loader :view="loading"></form-loader>
          <div v-if="!loading" class="row">
            <div class="col-md-12">
              <fieldset v-for="(item, index) in dataSubSektor" :key="index">
                <label class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" checked :disabled="true">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">{{ item.name }}</span>
                </label>
              </fieldset>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary square" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import FormLoader from '../../../main/FormLoader';
export default {
  props: ['id'],
  data: function() {
    return {
      dataSubSektor: [],
      loading: false
    }
  },
  components: {
    FormLoader
  },
  created() {
    this.getData();
  },
  mounted() {
    var app = this;
    $("#SubSektorModal").modal('show');
    $("#SubSektorModal").on("hidden.bs.modal", function(){
      app.closeModal();
    })
  },
  methods: {
    closeModal() {
      this.$emit('trigger-modal');
    },
    getData() {
      this.loading = true;
      this.axios.get('farmergroup/subsectors', {
        params: {
          subsectors: this.id
        }
      })
      .then((resp) => {
        this.dataSubSektor = resp.data.data
        this.loading = false;
      })
      .catch((resp) => {
        toastr(resp.response.data.message, "gagal");
        this.loading = false;
      })
    }
  }

}
</script>

<style lang="css" scoped>
</style>
