/*================================================================================
	Item Name: Stack - Responsive Admin Theme
	Version: 1.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
CUSTOMIZE BY : SYAHRIL ARDI
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */

@import url('https://fonts.googleapis.com/css?family=Roboto');

.margin-left {
  margin-left: 10px !important;
}

.btn-group .dropdown-filter {
  width: 400px;
  padding:10px;
}

.select2 {
  width:100%!important;
}

@media (max-width: 767px) {
  .btn-group .dropdown-filter {
    width: 0px;
    padding: 0px;
  }

  .btn-group .dropdown-filter.form {
    width: 0px;
    padding: 10px;
  }

  .dropdown-filter form input.form-control {
    height: 10px;
  }

  .dropdown-filter form button {
    height: 25px;
    font-size: 5px;
    margin-top: 8px;
    font-size: 10px;
    padding: 5px;
  }


  /* .dropdown-filter form select.form-control {
    height: 10px !important;
    width:100px !important;
  } */
}

.loading-bar {
  position:absolute;
  width:100%;
  height:350px;
  background-color:#fff;
  z-index:99;
  float:left;

}

.loading-glob {
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.loading-glob > div {
  background-color: rgba(0, 165, 166, 1);
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.loading-glob .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.loading-glob .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.loading-glob .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.loading-glob .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

@media (max-width: 991px) {

}

tr.filter th {
  padding: 5px !important;
}

tr.filter th input {
  border-radius: 0px !important;
}

table.table thead tr {
  background-color: #eee;
}

.dataTables_wrapper {
  padding-right: 0px;
  padding-left: 0px;
}

/* header navbar */

.bg-gradient-x-primary {
  background-image: linear-gradient(to right, #1980F0 0%, #001B8D 100%);
  background-repeat: repeat-x;
}

/* button primary */

.btn-primary {
    border-color: #1980F0 !important;
    background-color: #1980F0 !important;
    color: #FFFFFF;
}

.btn-primary:hover {
    border-color: #50a0f7 !important;
    background-color: #50a0f7 !important;
    color: #FFF !important;
}

/* anchor */

a {
    color: #1980F0;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

a:hover {
    color: #50a0f7;
    text-decoration: none;
}

/* paginate datatable */
.page-item.active .page-link {
    z-index: 2;
    color: #fff;
    background-color: #1980F0;
    border-color: #1980F0;
}

.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #1980F0;
    background-color: #fff;
    border: 1px solid #ddd;
}

/* //sidebar */
li a.exact-active {
  background-color: #1980F0 !important;
  font-weight: 500;
  color: #fff !important;
}

.main-menu.menu-light .navigation > li.active > a {
    background-color: #1980F0 !important;
    font-weight: 400;
    color: #fff !important;
}

.main-menu.menu-light .navigation > li.open {
    border-left: 4px solid #1980F0;
}

body.vertical-layout.vertical-menu.menu-collapsed .main-menu .main-menu-content > span.menu-title, body.vertical-layout.vertical-menu.menu-collapsed .main-menu .main-menu-content a.menu-title {
    right: -240px;
    width: 240px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    text-align: left;
    background-color: #1980F0;
    border-color: #1980F0;
    padding: 13px 20px;
}

hr.line-for-logo {
  margin-top: 2px !important;
  margin-bottom: 2px !important;
}

/* loading */

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    z-index: 1001;
}

#loader-wrapper .loader-section.section-left {
    left: 0;
}

#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #eceff1;
    z-index: 1000;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

#loader-wrapper .loader-section.section-right {
    right: 0;
}

#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #eceff1;
    z-index: 1000;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #e74c3c;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f9c922;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

.openloading #loader-wrapper {
  visibility: hidden;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: all 0.3s 1s ease-out;
  transition: all 0.3s 1s ease-out;
}

.openloading #loader-wrapper .loader-section.section-left {
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.openloading #loader-wrapper .loader-section.section-right {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.openloading #loader {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.btn-outline-primary {
    border-color: #1980F0 !important;
    background-color: transparent;
    color: #1980F0 !important;
}

.btn-outline-primary:hover {
    background-color: #1980F0;
    color: #FFF !important;
}

/* customize size template */

.header-navbar {
  height: 3.5rem !important;
  min-height: 3.5rem !important;
}

.main-menu.menu-fixed {
  top: 3.5rem !important;
}

body.vertical-layout.vertical-menu.menu-expanded .main-menu {
  width: 220px !important;
}

body.vertical-layout.vertical-menu.menu-expanded .content, body.vertical-layout.vertical-menu.menu-expanded .footer {
  margin-left: 220px !important;
}

h2, .h2 {
  font-size: 1.6rem;
}

.header-navbar .navbar-container ul.nav li a.menu-toggle i {
    font-size: 1.4rem;
}

body {
  font-size: 13px !important;
}

.main-menu.menu-light .navigation > li ul {
    font-size: 13px;
}

.navigation {
  font-size: 13px;
}

html body.fixed-navbar {
    padding-top: 3.5rem;
}

h3, .h3 {
  font-size: 1.3rem;
}

.breadcrumb {
  font-size: 0.85rem !important;
}

.btn {
  font-size: 13px;
}

select.form-control-sm:not([size]):not([multiple]), .input-group-sm > select.form-control:not([size]):not([multiple]), .input-group-sm > select.input-group-addon:not([size]):not([multiple]), .input-group-sm > .input-group-btn > select.btn:not([size]):not([multiple]) {
    height: calc(1.375rem + 6px);
}

.form-control-sm, .input-group-sm > .form-control, .input-group-sm > .input-group-addon, .input-group-sm > .input-group-btn > .btn {
    border-radius: 0 !important;
}

.modal-content .modal-header {
  background: #1980F0;
  color: #fff;
}

.multiselect, .multiselect__input, .multiselect__single {
  font-size: 13px !important;
}
.multiselect__tags {
  border-radius: 0.25rem !important;
  border: 1px solid #BABFC7;
}
