<template>
  <tr class="filter">
    <th></th>
    <th class="order-number">
      <input type="text" class="form-control form-control-md order_numberVal" >
    </th>
    <th class="order-reference-code">
      <input type="text" class="form-control form-control-md order_reference_codeVal" >
    </th>
    <th>
      <input type="text" class="form-control form-control-md" v-model="search.customer_name" v-on:keyup="searchMonitoringDo()">
    </th>
    <th>
      <input type="text" class="form-control form-control-md" v-model="search.sales_org_name" v-on:keyup="searchMonitoringDo()">
    </th>
    <th>
      <input type="text" class="form-control form-control-md" v-model="search.booking_code" v-on:keyup="searchMonitoringDo()">
    </th>
    <th>
      <date-batas-akhir :reset="reset" @get-date="getDateBatasAkhir" :type="'batas-akhir'"></date-batas-akhir>
    </th>
    <th>
      <date-tanggal-pengambilan :reset="reset" @get-date="getDateTanggalPengambilan" :type="'tanggal-pengambilan'"></date-tanggal-pengambilan>
    </th>
    <th>
      <date-tanggal-rencana :reset="reset" @get-date="getDateTanggalRencana" :type="'tanggal-rencana'"></date-tanggal-rencana>
    </th>
    <th>
      <date-tanggal-order :reset="reset" @get-date="getDateTglOrder" :type="'tanggal-order'"></date-tanggal-order>
    </th>
    <th>
      <status-filter :reset="reset" :checkedStatus="search.status" @get-check="searchStatus" :label="'Cari Status'" :list="statusSearch"></status-filter>
    </th>
    <th>
      <input type="text" class="form-control form-control-md" v-model="search.so_number" v-on:keyup="searchMonitoringDo()">
    </th>
    <th></th>
    <th></th>
    <th>
      <input type="text" class="form-control form-control-md" v-model="search.incoterm" v-on:keyup="searchMonitoringDo()">
    </th>
    <th>
      <provinsi :reset="reset" ref="filterProvComponent" @get-selected-prov="searchProv" />
    </th>
    <th>
      <kabupaten :sales_office="search.sales_office_id" :reset="reset" ref="filterKabComponent" @get-selected-kab="searchKab" />
    </th>
    <th>
      
    </th>
    <th>
      <input type="text" class="form-control form-control-md" v-model="search.payment_method" v-on:keyup="searchMonitoringDo()">
    </th>
    <th>
      <input type="text" class="form-control form-control-md" v-model="search.total_price_before_ppn" v-on:keyup="searchMonitoringDo()">
    </th>
    <th></th>
    <th></th>
    <th>
      <input type="text" class="form-control form-control-md" v-model="search.upfront_payment" v-on:keyup="searchMonitoringDo()">
    </th>
    <th>
      <batas-akhir-pengambilan :reset="reset" @get-date="getDateBatasAkhirPengambilan" :type="'tanggal-batas-pengambilan'"></batas-akhir-pengambilan>
    </th>
    <th></th>
    <th>
      <create-at :reset="reset" @get-date="getDateCreateAt" :type="'tanggal-createat'"></create-at>
    </th>
    <th></th>
  </tr>
</template>

<script>
import Date from '../../filter/Date';
import Checklist from '../../filter/Checklist';
import Provinsi from '../../filter/Provinsi';
import Kabupaten from '../../filter/Kabupaten';
export default {
  props: ['reset'],
  data: function() {
    return {
      uriName: this.$auth.user().id+'_'+'search_'+this.$route.name,
      statusSearch: [
        {name: 'Approve', value: 'y'},
        {name: 'Submitted', value: 's'},
        {name: 'Cancel So', value: 'o'},
        {name: 'Paid ', value: 'l'},
        {name: 'DP Paid ', value: 'u'},
        {name: 'Close', value: 'x'},
        {name: 'Reviewed', value: 'r'},
        {name: 'Complete', value: 'c'},
        {name: 'Good Issue', value: 'k'}
      ],
      search: {
        number: '',
        customer_name: '',
        reference_code: '',
        distributor_name: '',
        sales_org_name: '',
        booking_code: '',
        payment_due_date: '',
        pickup_date: '',
        due_date_plan: '',
        order_date: '',
        status: '',
        so_number: '',
        incoterm: '',
        sales_office_name: '',
        sales_office_id: '',
        sales_group_name: '',
        sales_group_id: '',
        payment_method: '',
        total_price: '',
        good_redemption_due_date: '',
        created_at: '',
        upfront_payment: '',
        order_item_qty: '',
      }
    }
  },
  components: {
    Provinsi, Kabupaten,
    DateBatasAkhir: Date,
    DateTanggalOrder: Date,
    DateTanggalPengambilan: Date,
    DateTanggalRencana: Date,
    BatasAkhirPengambilan: Date,
    CreateAt: Date,
    StatusFilter: Checklist
  },
  watch: {
		reset: function(val){
			if(val === true) {
				this.resetFilter();
			}
		}
	},
  mounted() {
    var app = this;
    const getLocalSearch = JSON.parse(localStorage.getItem(app.uriName));
      setTimeout(() => {
          if (getLocalSearch !== null) {
              app.search = getLocalSearch;
              $(".order_numberVal").val(app.search.number);
              $(".order_reference_codeVal").val(app.search.reference_code);
              app.$emit("search-table", app.search);
          }
      },1000)

    $(document).on("keyup", ".order_numberVal", function() {
      app.search.number = $(this).val();
      app.searchMonitoringDo();
    })
    $(document).on("keyup", ".order_reference_codeVal", function() {
      app.search.reference_code = $(this).val();
      app.searchMonitoringDo();
    })
  },
  methods: {
    searchProv(dataProv) {
      var arr = dataProv.map(data => {
        return data.id;
      })
      var sales_office = arr.join(";");
      this.search.sales_office_id = sales_office;
      this.searchMonitoringDo();
    },
    searchKab(dataKab) {
      var arr = dataKab.map(data => {
        return data.id;
      })
      var sales_group = arr.join(";");
      this.search.sales_group_id = sales_group;
      this.searchMonitoringDo();
    },
    getDateBatasAkhir(date = '') {
      if (date != '') {
        this.search.payment_due_date = {
          certain: (date.name === 'batas-akhir' && date.dateType === 'certain') && date.data.from,
          from: (date.name === 'batas-akhir' && date.dateType === 'range') && date.data.from,
          to: (date.name === 'batas-akhir' && date.dateType === 'range') && date.data.to
        }
      } else {
        this.search.payment_due_date = ''
      }
      this.searchMonitoringDo();
    },
    getDateBatasAkhirPengambilan(date = '') {
      if (date != '') {
        this.search.good_redemption_due_date = {
          certain: (date.name === 'tanggal-batas-pengambilan' && date.dateType === 'certain') && date.data.from,
          from: (date.name === 'tanggal-batas-pengambilan' && date.dateType === 'range') && date.data.from,
          to: (date.name === 'tanggal-batas-pengambilan' && date.dateType === 'range') && date.data.to
        }
      } else {
        this.search.good_redemption_due_date = ''
      }
      this.searchMonitoringDo();
    },
    getDateCreateAt(date = '') {
      if (date != '') {
        this.search.created_at = {
          certain: (date.name === 'tanggal-createat' && date.dateType === 'certain') && date.data.from,
          from: (date.name === 'tanggal-createat' && date.dateType === 'range') && date.data.from,
          to: (date.name === 'tanggal-createat' && date.dateType === 'range') && date.data.to
        }
      } else {
        this.search.created_at = ''
      }
      this.searchMonitoringDo();
    },
    getDateTanggalPengambilan(date = '') {
      if (date != '') {
        this.search.pickup_date = {
          certain: (date.name === 'tanggal-pengambilan' && date.dateType === 'certain') && date.data.from,
          from: (date.name === 'tanggal-pengambilan' && date.dateType === 'range') && date.data.from,
          to: (date.name === 'tanggal-pengambilan' && date.dateType === 'range') && date.data.to
        }
      } else {
        this.search.pickup_date = ''
      }
      this.searchMonitoringDo();
    },
    getDateTanggalRencana(date = '') {
      if (date != '') {
        this.search.due_date_plan = {
          certain: (date.name === 'tanggal-rencana' && date.dateType === 'certain') && date.data.from,
          from: (date.name === 'tanggal-rencana' && date.dateType === 'range') && date.data.from,
          to: (date.name === 'tanggal-rencana' && date.dateType === 'range') && date.data.to
        }
      } else {
        this.search.due_date_plan = ''
      }
      this.searchMonitoringDo();
    },
    getDateTglOrder(date = '') {
      if (date != '') {
        this.search.order_date = {
          certain: (date.name === 'tanggal-order' && date.dateType === 'certain') && date.data.from,
          from: (date.name === 'tanggal-order' && date.dateType === 'range') && date.data.from,
          to: (date.name === 'tanggal-order' && date.dateType === 'range') && date.data.to
        }
      } else {
        // this.search.order_date = ''
      }
      this.searchMonitoringDo();
    },
    searchStatus(obj){
      // var status = obj.join(';');
      this.search.status = obj.join(';');
      this.searchMonitoringDo();
    },
    searchMonitoringDo() {
      event.preventDefault();
      localStorage.setItem(this.uriName, JSON.stringify(this.search));
      this.$emit("search-table", this.search);
    },
    resetFilter(){
      this.clearFilter(this.$route.name, this.search);
      
      $( ".order-number" ).html( '<input type="text" class="form-control form-control-md order_numberVal" />' );
      $( ".order-reference-code" ).html( '<input type="text" class="form-control form-control-md order_reference_codeVal" />' );
      $(".order_numberVal").val(this.search.number);
      $(".order_reference_codeVal").val(this.search.reference_code);
      this.searchMonitoringDo();
    }
  }
}
</script>

<style lang="css" scoped>
</style>
