<template>
    <tr class="filter">
        <th class="sales-customer-id">
            <input type="text" v-on:keyup="search()"   v-model="datafilter.customer_id" class="form-control form-control-md sales_customer_idVal" v-bind:placeholder="$ml.get('salesAreaPage.table.one')" >
        </th>

        <th class="sales-customer-name">
            <input type="text" v-on:keyup="search()"   v-model="datafilter.customer_name" class="form-control form-control-md sales_customer_nameVal" v-bind:placeholder="$ml.get('salesAreaPage.table.two')" >
        </th>

        <th>
            <input type="text" v-on:keyup="search()"   v-model="datafilter.sales_group_id" class="form-control form-control-md" v-bind:placeholder="$ml.get('salesAreaPage.table.three')" >
        </th>

        <th>
            <input type="text" v-on:keyup="search()"   v-model="datafilter.sales_group_name" class="form-control form-control-md" v-bind:placeholder="$ml.get('salesAreaPage.table.four')" >
        </th>

        <th>
            <input type="text" v-on:keyup="search()"   v-model="datafilter.distrib_channel_id" class="form-control form-control-md" v-bind:placeholder="$ml.get('salesAreaPage.table.five')" >
        </th>

        <th>
            <input type="text" v-on:keyup="search()"   v-model="datafilter.distrib_channel_name" class="form-control form-control-md" v-bind:placeholder="$ml.get('salesAreaPage.table.six')" >
        </th>

        <th>
            <input type="text" v-on:keyup="search()"   v-model="datafilter.sales_division_id" class="form-control form-control-md" v-bind:placeholder="$ml.get('salesAreaPage.table.seven')" >
        </th>

        <th>
            <input type="text" v-on:keyup="search()"   v-model="datafilter.sales_division_name" class="form-control form-control-md" v-bind:placeholder="$ml.get('salesAreaPage.table.eight')" >
        </th>

        <th>
            <input type="text" v-on:keyup="search()"   v-model="datafilter.term_of_payment" class="form-control form-control-md" v-bind:placeholder="$ml.get('salesAreaPage.table.nine')" >
        </th>

        <th>
            <input type="text" v-on:keyup="search()"   v-model="datafilter.top_dp" class="form-control form-control-md" v-bind:placeholder="$ml.get('salesAreaPage.table.ten')" >
        </th>

        <th>
            <input type="text" v-on:keyup="search()"   v-model="datafilter.tax_classification" class="form-control form-control-md" v-bind:placeholder="$ml.get('salesAreaPage.table.eleven')" >
        </th>

        <th>
            <input type="text" v-on:keyup="search()"   v-model="datafilter.pph22" class="form-control form-control-md" v-bind:placeholder="$ml.get('salesAreaPage.table.twelve')" >
        </th>

        <th>
            <input type="text" v-on:keyup="search()"   v-model="datafilter.top_up_uom" class="form-control form-control-md" v-bind:placeholder="$ml.get('salesAreaPage.table.third')" >
        </th>

        <th>
            <filter-status :reset="reset" :checkedStatus="datafilter.status" @get-check="searchTable" :label="btnStatus" :list="statusSearch"></filter-status>
        </th>

    </tr>
</template>

<script>
import Checklist from '../../filter/Checklist';
export default {
    props: ['reset'],
    data: function (){
        return {
            btnStatus: 'Cari Status',
            statusSearch: [
                {name: 'Actived', value: 'y'},
                {name: 'Inactived ', value: 'n'},
            ],
            uriName: this.$auth.user().id+'_'+'search_'+this.$route.name,
            datafilter :{
                // customer_id : '',
                customer_name : '',
                sales_group_id : '',
                sales_group_name : '',
                distrib_channel_id : '',
                distrib_channel_name : '',
                sales_division_id : '',
                sales_division_name : '',
                term_of_payment : '',
                top_dp : '',
                tax_classification : '',
                pph22 : '',
                top_up_uom : '',
                status : ''
            }
        }
    },
    components: {
        FilterStatus: Checklist,
    },
    watch: {
		reset: function(val){
			if(val === true) {
				this.resetFilter();
			}
		}
	},
    mounted() {
        var app = this;
        const getLocalSearch = JSON.parse(localStorage.getItem(app.uriName));
        setTimeout(() => {
            if (getLocalSearch !== null) {
                app.datafilter = getLocalSearch;
                $(".sales_customer_idVal").val(app.datafilter.customer_id);
                $(".sales_customer_nameVal").val(app.datafilter.customer_name);
                app.$emit("search-filter", app.datafilter);
            }
        },1000)
        $(document).ready(function() {
            $(document).on('keyup','.sales_customer_idVal',function(){
                app.datafilter.customer_id=$(this).val();
                app.search();
            });

            $(document).on('keyup','.sales_customer_nameVal',function(){
                app.datafilter.customer_name=$(this).val();
                app.search();
            });

        });
    },
    methods: {
        searchTable(obj) {
            var status = obj.join(';');
            this.datafilter.status = status;
            this.search();
        },
        search(){
            event.preventDefault();
            localStorage.setItem(this.uriName, JSON.stringify(this.datafilter));
            this.$emit('search-filter', this.datafilter);
        },
        resetFilter(){
            this.clearFilter(this.$route.name, this.datafilter);
            $( ".sales-customer-id" ).html( '<input type="text" class="form-control form-control-md sales_customer_idVal" />' );
            $( ".sales-customer-name" ).html( '<input type="text" class="form-control form-control-md sales_customer_nameVal" />' );
            $(".sales_customer_idVal").val(this.datafilter.customer_id);
            $(".sales_customer_nameVal").val(this.datafilter.customer_name);
            this.search();
        }
    },
}
</script>

<style lang="css">
    
</style>