<template lang="html">

<div>
    <div class="row">
      <div class="col-md-12">
        <div class="pull-right">
          <button  type="button" @click="downloadSalesArea()" :disabled="loadBtnDownload" class="btn btn-primary"> <i class="fa fa-download"></i>
            Download
          </button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="table-responsive">
          <table id="salesAreaTable" class="table table-xs table-bordered table-striped display nowrap">
            <thead>
              <salesarea-filter :reset="resetStatus" ref="filterComponent" @search-filter="searchTable"> </salesarea-filter>
              <tr>
                <th>{{ $ml.get("salesAreaPage.table.one") }}</th>
                <th>{{ $ml.get("salesAreaPage.table.two") }}</th>
                <th>{{ $ml.get("salesAreaPage.table.three") }}</th>
                <th>{{ $ml.get("salesAreaPage.table.four") }}</th>
                <th>{{ $ml.get("salesAreaPage.table.five") }}</th>
                <th>{{ $ml.get("salesAreaPage.table.six") }}</th>
                <th>{{ $ml.get("salesAreaPage.table.seven") }}</th>
                <th>{{ $ml.get("salesAreaPage.table.eight") }}</th>
                <th>{{ $ml.get("salesAreaPage.table.nine") }}</th>
                <th>{{ $ml.get("salesAreaPage.table.ten") }}</th>
                <th>{{ $ml.get("salesAreaPage.table.eleven") }}</th>
                <th>{{ $ml.get("salesAreaPage.table.twelve") }}</th>
                <th>{{ $ml.get("salesAreaPage.table.third") }}</th>
                <th>{{ $ml.get("salesAreaPage.table.fourteen") }}</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
    </div>
</div>


</template>

<script>
import SalesareaFilter from './SalesareaFilter';
export default {
    props: ['access'],
    data : function (){
        return {
          loadBtnDownload: false,
          resetStatus: false,
          datafilter :{
                customer_id:'',
                uuid : '',
                customer_name : '',
                sales_group_id : '',
                sales_group_name : '',
                distrib_channel_id : '',
                distrib_channel_name : '',
                sales_division_id : '',
                sales_division_name : '',
                term_of_payment : '',
                top_dp : '',
                tax_classification : '',
                pph22 : '',
                top_up_uom : '',
                status : ''
          }
        }
    },
    components :{
        SalesareaFilter
    },
    mounted() {
      var app=this;
      // var idx = (app.$route.params.id != undefined) ? '/'+app.$route.params.id : '';

        $(document).ready(function(){

            app.table=$('#salesAreaTable').DataTable({
                destroy: true,
                processing: true,
                serverSide: true,
                searching: false,
                "scrollX" : true,
                "scrollY" : "50vh",
                scrollCollapse: true,
                "dom": 'Bltrip',
                order: [[ 0, 'desc' ]],
                lengthMenu: [
                  [ 20, 50, 100, -1 ],
                  [ '20 baris', '50 baris', '100 baris', 'Lihat Semua' ]
                ],
                "buttons": [
                  {
                    extend: 'excelHtml5',
                    className: 'btn-danger square mb-1 downloadSalesArea',
                    text: "Download Sales Area ke Excel",
                    title:"",
                    filename:"Download Sales Area ke Excel",
                  }
                ],
                ajax:{
                    'url': 'api/salesarea',
                    'type': 'GET',
                    'data':function(d){
                        d.uuid=(app.$route.params.id != undefined) ? app.$route.params.id : '',
                        d.customer_id=app.datafilter.customer_id,
                        // d.uuid=app.datafilter.uuid,
                        d.customer_name=app.datafilter.customer_name,
                        d.sales_org_id=app.datafilter.sales_group_id,
                        d.sales_org_name=app.datafilter.sales_group_name,
                        d.distrib_channel_id=app.datafilter.distrib_channel_id,
                        d.distrib_channel_name=app.datafilter.distrib_channel_name,
                        d.sales_division_id=app.datafilter.sales_division_id,
                        d.sales_division_name=app.datafilter.sales_division_name,
                        d.term_of_payment=app.datafilter.term_of_payment,
                        d.top_dp=app.datafilter.top_dp,
                        d.tax_classification=app.datafilter.tax_classification,
                        d.pph22=app.datafilter.pph22,
                        d.payment_method=app.datafilter.top_up_uom,
                        d.status=app.datafilter.status
                    },
                    'beforeSend': function (request) {
                        var token = localStorage.getItem("default_auth_token");
                        request.setRequestHeader("Authorization", "Bearer "+token);
                        request.setRequestHeader("lang",  localStorage.getItem('app-lang'));
                    },
                },
                columns :[
                    {data: 'customer_id', name:'customer_id'},
                    {data: 'customer_name', name:'customer_name'},
                    {data: 'sales_org_id', name:'sales_org_id'},
                    {data: 'sales_org_name', name:'sales_org_name'},
                    {data: 'distrib_channel_id', name:'distrib_channel_id'},
                    {data: 'distrib_channel_name' , name:'distrib_channel_name'},
                    {data: 'sales_division_id' , name:'sales_division_id'},
                    {data: 'sales_division_name' , name:'sales_division_name'},
                    {data: 'term_of_payment' , name:'term_of_payment'},
                    {data: 'top_dp' , name:'top_dp'},
                    {data: 'tax_classification' , name:'tax_classification'},
                    {data: 'pph22' , name:'pph22'},
                    {data: 'payment_method' , name:'top_dp_uom'},
                    {data: 'status' , name:'status'}
                ]
            });
           new $.fn.dataTable.FixedColumns(app.table, {
              leftColumns: 2,
              heightMatch: 'auto'
          });
          $("div.dataTables_length").append(' <button id="resetFilterSales" class="btn btn-sm btn-danger square"><i class="fa fa-times"></i> Reset Filter</button>');
          
          $(document).on("click", "#resetFilterSales", function(e){
            e.preventDefault()
            app.resetStatus = true;
            $('#resetFilterSales').prop('disabled', true);
            setTimeout(() => {
              app.resetStatus = false;
              $('#resetFilterSales').prop('disabled', false);
            }, 1000)
          })

        });
    },
    methods: {
      searchTable(obj){
        this.datafilter=obj;
        this.table.draw();
      },
      downloadSalesArea() {
        // $(".downloadSalesArea").trigger('click')
        this.loadBtnDownload = true;
        this.axios({
          url: 'salesarea/download',
          params: {
              customer_uuid: (this.$route.params.id != undefined) ? this.$route.params.id : '',
              customer_id: this.datafilter.customer_id,
              customer_name: this.datafilter.customer_name,
              sales_org_id: this.datafilter.sales_group_id,
              sales_org_name: this.datafilter.sales_group_name,
              distrib_channel_id: this.datafilter.distrib_channel_id,
              distrib_channel_name: this.datafilter.distrib_channel_name,
              sales_division_id: this.datafilter.sales_division_id,
              sales_division_name: this.datafilter.sales_division_name,
              term_of_payment: this.datafilter.term_of_payment,
              top_dp: this.datafilter.top_dp,
              tax_classification: this.datafilter.tax_classification,
              pph22: this.datafilter.pph22,
              payment_method: this.datafilter.top_up_uom,
              status: this.datafilter.status
          },
          method: 'GET',
          responseType: 'blob', // important
        }).then((response) => {
          const url = window.URL.createObjectURL(new Blob([response.data]));
          const link = document.createElement('a');
          link.href = url;
          link.setAttribute('download', 'Download Sales Area.xls'); //or any other extension
          document.body.appendChild(link);
          link.click();
          this.loadBtnDownload = false;
        })
        .catch((resp) => {
          toastr.error("Gagal Download File", "Gagal") ;
          this.loadBtnDownload = false;      
        })
      },
    },
}
</script>


<style lang="css">
.card-header {
  padding: 1rem 1rem;
}
.no-padding {
    padding-right: 0;
    padding-left: 0;
  }
  div.dt-buttons {
    float: right !important;
    display: none;
  }
</style>
