<template>
    <transition name="custom-classes-transition" enter-active-class="animated fadeIn">
      <div class="content-wrapper">
        <div class="content-header row">
          <div class="content-header-left col-md-6 col-12 mb-1">
            <h3 class="content-header-title">SALES AREA</h3>
          </div>
          <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-12">
            <div class="breadcrumb-wrapper col-12">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">{{ $ml.get("salesAreaPage.breadcrumbFirst") }}</a>
                </li>
                <li class="breadcrumb-item active">{{ $ml.get("salesAreaPage.breadcrumbSec") }}
                </li>
              </ol>
            </div>
          </div>
        </div>
        <div class="content-body">
         <section class="row">
            <div class="col-sm-12">
              <div id="kick-start" class="card">
                <div class="card-content collapse show">
                 <div class="card-body">
                  <salesarea-component :access="access">
                  </salesarea-component>
                  </div>
                  </div>
              </div>
            </div>
          </section>
        </div>
       </div>
    </transition>
</template>

<script>
import SalesareaComponent from './SalesareaComponent';
export default {
  data: function() {
    return {
      access: {}
    }
  },
  components: {
    SalesareaComponent
  },
  created() {
    const encodeAccess = decodeURIComponent(this.$route.params.access);
    const decodeAccess = this.toText(this.decrypt(encodeAccess));
    const arrAccess = decodeAccess.split(",");
    if(arrAccess) {
      arrAccess.map((data) => {
        if(data === 'C' || data === 'R' || data === 'U' || data === 'D' || data === 'A') {
          this.access[data] = true
        } else {
          this.$router.push({path: '/home'});
          toastr.error('Permission can not open this page', 'Error');
        }
      })
    } else {
      this.$router.push({path: '/home'});
      toastr.error('Permission can not open this page', 'Error');
    }
  }
}
</script>

<style lang="css">

</style>
