<template>
    <div class="content-body">
        <section class="row">
            <div class="col-sm-12">
                <div id="kick-start" class="card">
                    <div class="card-content collapse show">
                        <div class="card-body">
                            <index-filter :type="'item'" @search-form="searchForm"></index-filter>
                            <div :style="isHide ? 'display:none;' : ''" class="row">
                                <div class="col-md-12">
                                    <div class="pull-right">
                              <button class="btn btn-primary square" @click="download" :disabled="loadBtnDownload" > <i class="fa fa-download"></i> Download</button>
                                </div>
                                    <div class="table-responsive">
                                        <table id="LevelLaporanSo" class="table table-xs table-bordered table-striped display nowrap">
                                            <thead>
                                                <body-filter-table :reset="resetStatus" @search-table="searchTable"></body-filter-table>
                                                <column></column>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
import BodyButton from './card-body/BodyButton';
import BodyTable from './card-body/BodyTable';
import IndexFilter from '../global-filter/IndexFilter'
import Column from './card-body/table/Column';
import BodyFilterTable from './card-body/BodyFilterTable';
import {columns} from './card-body/table/columns';
export default {
    data: () => {
        return {
            dt: null,
            isHide: true,
            resetStatus: false,
            params: {},
            loadBtnDownload:false,
        }
    },
    components: {
        BodyButton, BodyTable, IndexFilter, Column, BodyFilterTable
    },
    mounted() {
        const app = this;
        app.tableLevelLaporanSo();
        $("div.dataTables_length").append(' <button id="resetFilterDistributor" class="btn btn-sm btn-danger square"><i class="fa fa-times"></i> Reset Filter</button>');

        $(document).on("click", "#resetFilterDistributor", function(e){
        e.preventDefault()
        app.resetStatus = true;
        $('#resetFilterDistributor').prop('disabled', true);

        setTimeout(() => {
            app.resetStatus = false;
            $('#resetFilterDistributor').prop('disabled', false);
        }, 1000)
        })
    },
    methods: {
        downloadTable() {
            $(".downloadLevelItemLaporanSo").trigger("click");
        },
        download() {
          // $(".downloadF5").trigger('click');
           this.loadBtnDownload = true;
            this.axios({
              url: 'reportso/detail/export',
              params: {
                    sales_organization : this.params.sales_organization,
                    nomor_sales_order : this.params.nomor_sales_order,
                    distributor : this.params.distributor,
                    tanggal_so_dibuat : this.params.tanggal_so_dibuat,
                    tanggal_pgi : this.params.tanggal_pgi,
                    kode_gudang : this.params.kode_gudang,
                    sales_group : this.params.sales_group,
                    sales_office : this.params.sales_office,
                    material_id : this.params.material_id,
              },
              method: 'GET',
              responseType: 'blob', // important
            }).then((response) => {
               const url = window.URL.createObjectURL(new Blob([response.data]));
               const link = document.createElement('a');
               link.href = url;
               link.setAttribute('download', 'Download Item Laporan SO.xls'); //or any other extension
               document.body.appendChild(link);
               link.click();
               this.loadBtnDownload = false;
            })
            .catch((resp) => {
              toastr.error("Gagal Download File", "Gagal") ;
              this.loadBtnDownload = false;      
            })
        },
        tableLevelLaporanSo() {
            const app = this
            this.dt = $("#LevelLaporanSo").DataTable({
                processing: true,
                serverSide: true,
                searching: false,
                scrollX: "99.99%",
                lengthMenu: [
                    [ 20, 50, 100, -1 ],
                    [ '20 baris', '50 baris', '100 baris', 'Lihat Semua' ]
                ],
                "dom": 'Bltrip',
                "buttons": [
                    {
                        extend: 'excel',
                        className: 'btn-danger square mb-1 downloadLevelItemLaporanSo',
                        text: "Download",
                        title:"",
                        filename:"Download-level-item-laporan-so"
                    }
                ],
                ajax: {
                    url: 'api/reportso/detail',
                    type: 'POST',
                    data: function(d){
                        d.sales_organization = app.params.sales_organization
                        d.nomor_sales_order = app.params.nomor_sales_order
                        d.distributor = app.params.distributor
                        d.tanggal_so_dibuat = app.params.tanggal_so_dibuat
                        d.tanggal_pgi = app.params.tanggal_pgi
                        d.kode_gudang = app.params.kode_gudang
                        d.sales_group = app.params.sales_group
                        d.sales_office = app.params.sales_office
                        d.material_id = app.params.material_id
                    },
                    beforeSend: function (request) {
                        var token = localStorage.getItem("default_auth_token");
                        request.setRequestHeader("Authorization", "Bearer "+token);
                        request.setRequestHeader("lang",  localStorage.getItem('app-lang'));
                    }
                },
                columns: columns
            })
            new $.fn.dataTable.FixedColumns(app.dt, {
                leftColumns: 2
            });
        },
        searchForm(params) {
            this.params = {
                sales_organization: params.transaksi.produsen,
                nomor_sales_order: params.transaksi.no_so,
                distributor: params.transaksi.customer,
                tanggal_so_dibuat: params.transaksi.tanggal_so,
                tanggal_pgi: params.transaksi.tanggal_pgi,
                kode_gudang: params.transaksi.kode_plant,
                sales_group: params.wilayah.kabupaten,
                sales_office: params.wilayah.provinsi,
                material_id: params.produk.produk
            };
            this.isHide = false
            this.dt.draw();
        },
        searchTable(obj) {
            this.params = obj;
            this.dt.draw();
        }
    }
}
</script>

<style>
.downloadLevelItemLaporanSo {
    display: none !important;
}
</style>
