<template>
    <div class="content-header row">
        <div class="content-header-left col-md-6 col-12 mb-1">
            <h3 class="content-header-title">Level Item Laporan SO</h3>
        </div>
        <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-12">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Laporan</a>
                </li>
                <li class="breadcrumb-item active">Level Item Laporan SO
                </li>
                </ol>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data: () => {
        return {}
    }
}
</script>
