<template>
    <transition name="custom-classes-transition" enter-active-class="animated fadeIn">
        <div class="content-wrapper">
            <level-laporan-so-header></level-laporan-so-header>
            <level-laporan-so-body></level-laporan-so-body>
        </div>
    </transition>
</template>

<script>
import LevelLaporanSoHeader from './LevelLaporanSoHeader';
import LevelLaporanSoBody from './LevelLaporanSoBody';
export default {
    data: () => {
        return {}
    },
    components: {
        LevelLaporanSoHeader, LevelLaporanSoBody
    }   
}
</script>

