<template>
    <tr class="filter">
        <th></th>
        <th class="subtitusi-one">
            <input type="text"  v-on:keyup="search()"   v-model="datafilter.sales_org_name" class="form-control form-control-md subtitusi_subtitusiVal" v-bind:placeholder="$ml.get('subtitutionPage.table.one')" >
        </th>

        <th>
            <date-filter :reset="reset" @get-date="searchDateValidFrom" :type="type1"></date-filter>
        </th>

        <th>
            <date-filter :reset="reset" @get-date="searchDateValidTo" :type="type2"></date-filter>
        </th>

        <th>
            <input type="text" v-on:keyup="search()"   v-model="datafilter.plant_name" class="form-control form-control-md" v-bind:placeholder="$ml.get('subtitutionPage.table.four')" >
        </th>

        <th>
            <input type="text" v-on:keyup="search()"   v-model="datafilter.material_name" class="form-control form-control-md" v-bind:placeholder="$ml.get('subtitutionPage.table.five')" >
        </th>

        <th>
            <input type="text" v-on:keyup="search()"   v-model="datafilter.product_name" class="form-control form-control-md" v-bind:placeholder="$ml.get('subtitutionPage.table.six')" >
        </th>

        <th>
            <input type="text" v-on:keyup="search()"   v-model="datafilter.material_name_subtitusi" class="form-control form-control-md" v-bind:placeholder="$ml.get('subtitutionPage.table.seven')" >
        </th>

        <th>
            <input type="text" v-on:keyup="search()"   v-model="datafilter.uom" class="form-control form-control-md" v-bind:placeholder="$ml.get('subtitutionPage.table.eight')" >
        </th>

        <th>
            <input type="text" v-on:keyup="search()"   v-model="datafilter.reason" class="form-control form-control-md" v-bind:placeholder="$ml.get('subtitutionPage.table.nine')" >
        </th>

        <th>
            <filter-status :reset="reset" :checkedStatus="datafilter.status" @get-check="searchTable" :label="btnStatus" :list="statusSearch"></filter-status>
        </th>
        <th>
        </th>

    </tr>
</template>

<script>
import Date from '../../filter/Date';
import Checklist from '../../filter/Checklist';
export default {
    props: ['reset'],
    data: function (){
        return {
          uriName: this.$auth.user().id+'_'+'search_'+this.$route.name,
          type1: 'validFrom',
          type2: 'validTo',
          btnStatus: 'Filter Status',
          statusSearch: [
            {name: 'Actived', value: 'y'},
            {name: 'Inactived ', value: 'n'},
          ],
          datafilter :{
              sales_org_name : '',
              valid_from : {},
              valid_to : {},
              plant_name : '',
              material_no : '',
              material_name : '',
              material_name_subtitusi : '',
              product_name : '',
              uom : '',
              reason : '',
              status : ''
          }
        }
    },
    components:{
      FilterStatus: Checklist,
      dateFilter: Date,
    },
    watch: {
      reset: function(val){
        if(val === true) {
          this.resetFilter();
        }
      }
    },
    mounted() {
        var app = this;

        const getLocalSearch = JSON.parse(localStorage.getItem(app.uriName));

        setTimeout(() => {
            if (getLocalSearch !== null) {
                app.datafilter = getLocalSearch;
                $(".subtitusi_oneVal").val(app.datafilter.sales_org_name)
                app.$emit("search-filter", app.datafilter);
            }
        },1000)

        $(document).ready(function() {
            $(document).on('keyup','.subtitusi_oneVal',function(){
                app.datafilter.sales_org_name=$(this).val();
                app.search();
            });

        });
    },
    methods: {
        search(){
            event.preventDefault();
            localStorage.setItem(this.uriName, JSON.stringify(this.datafilter));
            this.$emit('search-filter', this.datafilter);
        },
        searchTable(obj) {
          var status = obj.join(';');
          this.datafilter.status = status;
          this.search();
        },
        searchDateValidFrom(date = '') {
          if (date != '') {
            if (date != '') {
              this.datafilter.valid_from = {
                certain: (date.name === 'validFrom' && date.dateType === 'certain') && date.data.from,
                from: (date.name === 'validFrom' && date.dateType === 'range') && date.data.from,
                to: (date.name === 'validFrom' && date.dateType === 'range') && date.data.to
              }
            } else {
              this.datafilter.valid_from = ''
            }
            this.search()
          }
          console.log(this.datafilter.valid_from);
        },
        searchDateValidTo(date = '') {
          if (date != '') {
            if (date != '') {
              this.datafilter.valid_to = {
                certain: (date.name === 'validTo' && date.dateType === 'certain') && date.data.from,
                from: (date.name === 'validTo' && date.dateType === 'range') && date.data.from,
                to: (date.name === 'validTo' && date.dateType === 'range') && date.data.to
              }
            } else {
              this.datafilter.valid_to = ''
            }
            this.search()
          }
        },
        resetFilter(){
          this.clearFilter(this.$route.name, this.datafilter);
          $(".subtitusi-one").html('<input type="text" v-model="datafilter.sales_org_name" class="form-control form-control-md subtitusi_subtitusiVal" >')
          $(".subtitusi_oneVal").val(this.datafilter.sales_org_name)
          this.search();
        }
    },
}
</script>

<style lang="css">

</style>
