<template lang="html">
<div>
    <div class="row">
      <div class="col-md-12">
        <div class="pull-right">
         <button v-if="access.C === true" type="button" class="btn btn-primary square" @click="openForm"> <i class="fa fa-plus"> </i>
            {{ $ml.get("subtitutionPage.titleAdd") }}
          </button>
          <button  type="button" class="btn btn-primary square" @click="download" :disabled="loadBtnDownload" > <i class="fa fa-download"></i>
            {{ $ml.get("subtitutionPage.download") }}
          </button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <table id="salesAreaTable" class="table table-xs table-bordered table-striped display nowrap">
          <thead>
            <subtitution-filter :reset="resetStatus" ref="filterComponent" @search-filter="searchTable"> </subtitution-filter>
            <tr>
              <th>
                <fieldset>
                  <label class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input check_all" value="all">
                    <span class="custom-control-indicator"></span>
                  </label>
                </fieldset>
              </th>
              <th>{{ $ml.get("subtitutionPage.table.one") }}</th>
              <th>{{ $ml.get("subtitutionPage.table.two") }}</th>
              <th>{{ $ml.get("subtitutionPage.table.three") }}</th>
              <th>{{ $ml.get("subtitutionPage.table.four") }}</th>
              <th>{{ $ml.get("subtitutionPage.table.five") }}</th>
              <th>{{ $ml.get("subtitutionPage.table.six") }}</th>
              <th>{{ $ml.get("subtitutionPage.table.seven") }}</th>
              <th>{{ $ml.get("subtitutionPage.table.eight") }}</th>
              <th>{{ $ml.get("subtitutionPage.table.nine") }}</th>
              <th>{{ $ml.get("subtitutionPage.table.ten") }}</th>
              <th> Action </th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
    <div class="scroll-top" v-if="access.A === true">
      <div class="col-md-12">
        <div class="btn-group mr-1 mb-1 pull-right dropup">
          <button type="button" :disabled="loading.changeStatus" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i v-if="loading.changeStatus" class="fa fa-spin fa-refresh"></i>
            Aksi
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" @click="action('y')" href="#">Active</a>
            <a class="dropdown-item" @click="action('n')" href="#">Inactive</a>
          </div>
        </div>
      </div>
    </div>
    <form-addmodal v-if="modalForm" :access="access" :datauuid="uuid" @trigger-modal="triggerModal"> </form-addmodal>
</div>


</template>

<script>
import SubtitutionFilter from './SubtitutionFilter';
import FormAddmodal from './SubtitutionAddModal';
export default {
    data : function (){
        return {
          loadBtnDownload: false,
          datafilter :{
                sales_org_name:'',
                valid_from : '',
                valid_to : '',
                plant_name : '',
                material_no : '',
                material_name : '',
                material_no_subtitution : '',
                uom : '',
                reason : '',
                status : ''
          },
          newdata:'',
          load:false,
          modalForm:false,
          resetStatus:false,
          uuid: null,
          table: '',
          access: {},
          loading:{
            changeStatus: false
          },
          check: [],
        }
    },
    components :{
        SubtitutionFilter,
        FormAddmodal
    },
    created() {
      const encodeAccess = decodeURIComponent(this.$route.params.access);
      const decodeAccess = this.toText(this.decrypt(encodeAccess));
      const arrAccess = decodeAccess.split(",");
      if(arrAccess) {
        arrAccess.map((data) => {
          if(data === 'C' || data === 'R' || data === 'U' || data === 'D' || data === 'A') {
            this.access[data] = true
          } else {
            this.$router.push({path: '/home'});
            toastr.error('Permission can not open this page', 'Error');
          }
        })
      } else {
        this.$router.push({path: '/home'});
        toastr.error('Permission can not open this page', 'Error');
      }
    },
    mounted() {
      var app=this;
      var cek=this.$route.params;
      var url;
        if(cek.id===undefined){
          // console.log('yes');
          url='api/salesarea';
        }else{
          // console.log(cek.id);
          app.datafilter.customer_id=cek.id;
        }

        $(document).ready(function(){
            app.table=$('#salesAreaTable').DataTable({
                destroy: true,
                processing: true,
                serverSide: true,
                searching: false,
                "scrollX": "true",
                "scrollY": "50vh",
                "scrollCollapse":true,
                lengthMenu: [
                    [ 20, 50, 100, -1 ],
                    [ '20 baris', '50 baris', '100 baris', 'Lihat Semua' ]
                ],
                "dom": 'Bltrip',
                "buttons": [
                    {
                        extend: 'excel',
                        className: 'btn-primary square mb-1 downloadFarmergroupExcel',
                        text: "Download Subtitusi ke Excel",
                        title:"",
                        filename:"Download Subtitusi ke Excel",
                    }
                ],
                ajax:{
                    'url': 'api/subtitution',
                    'type': 'GET',
                    'data':function(d){
                        d.sales_org_name=app.datafilter.sales_org_name,
                        d.valid_from=app.datafilter.valid_from,
                        d.valid_to=app.datafilter.valid_to,
                        d.plant_name=app.datafilter.plant_name,
                        d.material_no=app.datafilter.material_no,
                        d.material_name=app.datafilter.material_name,
                        d.product_name=app.datafilter.product_name,
                        d.material_no_subtitution=app.datafilter.material_no_subtitution,
                        d.material_name_subtitusi=app.datafilter.material_name_subtitusi,
                        d.uom=app.datafilter.uom,
                        d.reason=app.datafilter.reason,
                        d.status=app.datafilter.status
                    },
                    'beforeSend': function (request) {
                        var token = localStorage.getItem("default_auth_token");
                        request.setRequestHeader("Authorization", "Bearer "+token);
                        request.setRequestHeader("lang",  localStorage.getItem('app-lang'));
                    },
                },
                "columnDefs": [
                  { "orderable": false, "targets": 0 }
                ],
                columns :[
                    {
                      data: 'uuid',
                      render:function(data,t,f) {
                        const check = '<fieldset>'+
                                        '<label class="custom-control custom-checkbox">'+
                                          '<input type="checkbox" id="check" class="custom-control-input check_box_table" value="'+data+'">'+
                                          '<span class="custom-control-indicator"></span>'+
                                        '</label>'+
                                      '</fieldset>';
                        return check;
                      }
                    },
                    {data: 'sales_org_name', name:'sales_org_name'},
                    {
                      data: 'valid_from', name: 'valid_from',
                      render:function(data,type,full) {
                        return app.convertDate(data);
                      }
                    },
                    {
                      data: 'valid_to', name: 'valid_to',
                      render:function(data,type,full) {
                        return app.convertDate(data);
                      }
                    },
                    {data: 'plant_name', name:'plant_name'},
                    {data: 'material_name', name:'material_name'},
                    {data: 'product_name', name:'product_name'},
                    {data: 'material_name_subtitusi', name:'material_name_subtitusi'},
                    {data: 'uom', name:'uom'},
                    {data: 'reason', name:'reason'},
                    {data: 'status', name:'status'},
                    {data: 'uuid',
                      render:function(d,t,f){
                          if(!app.access.U){
                            var edit='';
                          }else{
                            if(f.status === "Active"){
                              var edit='<button class="btn btn-sm btn-primary squere" id="editSubtitusi" data-id="'+d+'"><i class="fa fa-pencil"> Edit</i></button>';
                            } else {
                              var edit = '-';
                            }
                          }
                          return edit;
                    }}
                ]
            });
           new $.fn.dataTable.FixedColumns(app.table, {
              leftColumns: 1,
              heightMatch: 'auto'
          });
           $("#downloadFarmergroupExcel").on("click", function(e){
                e.preventDefault();
                $(".downloadFarmergroupExcel").trigger('click');
          });

          $("div.dataTables_length").append(' <button id="resetFilterSubtitusi" class="btn btn-sm btn-danger square"><i class="fa fa-times"></i> Reset Filter</button>');
    
          $(document).on("click", "#resetFilterSubtitusi", function(e){
            e.preventDefault()
            app.resetStatus = true;
            $('#resetFilterSubtitusi').prop('disabled', true);
            setTimeout(() => {
              app.resetStatus = false;
              $('#resetFilterSubtitusi').prop('disabled', false);
            }, 1000)
          })

          $(document).on('click','#editSubtitusi',function(e){
              e.preventDefault();
              var id = $(this).data('id');
              app.modalForm = !app.modalForm;
              app.uuid=id;
          });


          $(document).on("click", ".check_all", function(e){
            $('.check_box_table').not(this).prop('checked', this.checked);
            $('.check_box_table').not(this).each(function(index, el) {
              var value = {id: $(this).val()};
              if(this.checked){
                if(value != 'all' && !app.check.includes(value)){
                  app.check.push(value);
                }
              } else {
                app.check = [];
              }
            });
          })

          $(document).on("click", "#check", function(e){
            var value = {id: $(this).val()};
            if(this.checked){
              app.check.push(value);
            } else {
              app.removeA(app.check, value.id);
            }
          })

        });
    },
    methods: {
      openForm(){
        this.modalForm = !this.modalForm;
      },
      action(type) {
        event.preventDefault();
        if(this.check.length != 0) {
          this.loading.changeStatus = true;
          this.check = this.check.map(data => {
            return {id: data.id, status: type}
          })
          this.saveAction();
        } else {
          toastr.warning("Silahakan Pilih Data terlebih dahulu", "Warning") 
        }
      },
      saveAction(){
        this.axios.post('subtitution/bulk', this.check)
        .then((resp) => {
          toastr.success("Status berhasil di ubah", "Sukses")
          this.table.draw();
        })
        .catch((resp) => {
          toastr.warning("Status gagal di ubah", "Gagal")
          toastr.error(resp.message, "Pesan")
        })
        .then((resp) => {
          this.loading.changeStatus = false;
          this.check = [];
          $(".check_all").prop('checked', false);
        })
      },
      removeA(array, id) {
        var index = array.map(x => {
          return x.id;
        }).indexOf(id);
        array.splice(index, 1);
      },
      searchTable(obj){
        this.datafilter=obj;
        this.table.draw();
        this.validFrom(obj);
        this.validTo(obj);
      },
      addmodal(){
        this.newdata='i';
        this.load='h';
        this.uuid= null;
        $('#AddModal').modal('show');
      },
      triggerModal(params = false){
        if(params === 'RefreshTable'){
          this.table.draw();
        }
        // this.modalUpload = false
        this.infoumumForm = true;
        this.modalForm = false;
        this.uuid = null;
      },
      validFrom(obj) {
        if(obj.valid_from && obj.valid_from.from && obj.valid_from.to) {
          this.datafilter.valid_from = obj.valid_from.from+';'+obj.valid_from.to;
        } else if (obj.valid_from && obj.valid_from.certain) {
          this.datafilter.valid_from = obj.valid_from.certain;
        } else {
          this.datafilter.valid_from = '';
        }
      },
      validTo(obj) {
        if(obj.valid_to && obj.valid_to.from && obj.valid_to.to) {
          this.datafilter.valid_to = obj.valid_to.from+';'+obj.valid_to.to;
        } else if (obj.valid_to && obj.valid_to.certain) {
          this.datafilter.valid_to = obj.valid_to.certain;
        } else {
          this.datafilter.valid_to = '';
        }
      },
      download(){
        this.loadBtnDownload = true;
        this.axios({
          url: 'subtitution/download',
          params: {
              sales_org_name: this.datafilter.sales_org_name,
              valid_from: this.datafilter.valid_from,
              valid_to: this.datafilter.valid_to,
              plant_name: this.datafilter.plant_name,
              material_no: this.datafilter.material_no,
              material_name: this.datafilter.material_name,
              product_name: this.datafilter.product_name,
              material_no_subtitution: this.datafilter.material_no_subtitution,
              material_name_subtitusi: this.datafilter.material_name_subtitusi,
              uom: this.datafilter.uom,
              reason: this.datafilter.reason,
              status: this.datafilter.status
          },
          method: 'GET',
          responseType: 'blob', // important
        }).then((response) => {
          const url = window.URL.createObjectURL(new Blob([response.data]));
          const link = document.createElement('a');
          link.href = url;
          link.setAttribute('download', 'Download Pengecer.xls'); //or any other extension
          document.body.appendChild(link);
          link.click();
          this.loadBtnDownload = false;
        })
        .catch((resp) => {
          toastr.error("Gagal Download File", "Gagal") ;
          this.loadBtnDownload = false;      
        })
      }
    },
}
</script>


<style lang="css">
    .card-header {
        padding: 1rem 1rem;
    }
    .no-padding {
        padding-right: 0;
        padding-left: 0;
    }
     div.dt-buttons {
        float: right !important;
        display: none;
    }
    .scroll-top {
      position: fixed;
      right: 30px;
      bottom: 20px;
      z-index: 999;
      font-size: 22px;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
      cursor: pointer;
      border-radius: 30px;
    }
</style>
