<template>
    <transition name="custom-classes-transition" enter-active-class="animated fadeIn">
      <div class="content-wrapper">
        <div class="content-header row">
          <div class="content-header-left col-md-6 col-12 mb-1">
            <h3 class="content-header-title">{{ $ml.get("subtitutionPage.pageTitle") }}</h3>
          </div>
          <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-12">
            <div class="breadcrumb-wrapper col-12">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">{{ $ml.get("subtitutionPage.breadcrumbFirst") }}</a>
                </li>
                <li class="breadcrumb-item active">{{ $ml.get("subtitutionPage.breadcrumbSec") }}
                </li>
              </ol>
            </div>
          </div>
        </div>
        <div class="content-body">
         <section class="row">
            <div class="col-sm-12">
              <div id="kick-start" class="card">
                <div class="card-content collapse show">
                 <div class="card-body">
                      <subtitution-component>
                      </subtitution-component>
                  </div>
                  </div>
              </div>
            </div>
          </section>
        </div>
       </div>
    </transition>
</template>

<script>
import SubtitutionComponent from './SubtitutionComponent';
export default {
    components:{
      SubtitutionComponent
    }
}
</script>


<style lang="">
    
</style>