<template >
  <div>
    <form-loader :view="loadingComponent"></form-loader>
    <div v-if="!loadingComponent">
      <div v-if="dataDetailF6.header" class="row">
        <div class="col-md-12">
          <div class="box">
            <div class="row">
              <div class="col-md-9">
                <div class="pull-left">
                    <h3>Penyaluran Initial Stok F6 - {{ dataDetailF6.header.number }}</h3>
                </div>
              </div>
              <div class="col-md-3">
                <div class="pull-right badge" :class="(dataDetailF6.header.status === 'd') ? 'badge-danger' : 'badge-primary'">
    							<h4> {{ dataDetailF6.header.status_name }} </h4>
    						</div>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-5">
                <dl class="row">
                    <dt class="col-sm-4">Produsen</dt>
                    <dd class="col-sm-8"> {{ dataDetailF6.header.sales_org_name }} </dd>
                </dl>
                <dl class="row">
                    <dt class="col-sm-4">Distributor</dt>
                    <dd class="col-sm-8">{{ dataDetailF6.header.customer_id }} -  {{ dataDetailF6.header.customer_name }} </dd>
                </dl>
              </div>
              <div class="col-md-6">
                <dl class="row">
                    <dt class="col-sm-4">Tujuan</dt>
                    <dd class="col-sm-8"> {{ dataDetailF6.header.sales_group_id+ ' - ' + dataDetailF6.header.sales_group_name }} </dd>
                </dl>
                <dl class="row">
                    <dt class="col-sm-4">Periode Pelaporan</dt>
                    <dd class="col-sm-8"> {{ getMonthName(dataDetailF6.header.month)+ ' ' + dataDetailF6.header.year }} </dd>
                </dl>
                <dl class="row">
                    <dt class="col-sm-4">Tanggal Penyaluran</dt>
                    <dd class="col-sm-8"> {{ dataDetailF6.header.distribution_date }} </dd>
                </dl>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div v-if="dataDetailF6.data" class="row">
        <div class="col-md-12">
          <div class="table-responsive">
            <table id="tableHirarkiDetailInitialF6" class="table table-xss table-bordered display nowrap">
              <thead>
                <tr>
                  <th></th>
                  <th>Nama</th>
                  <th v-for="(header, i) in dataDetailF6.data.header"> {{ header.name }} (TON) </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td></td>
                  <td></td>
                  <td v-for="(dataHeader, i) in dataDetailF6.data.header">
                    <small>Intial Stok:
                      <span class="pull-right"> {{ parseFloat(dataHeader.qty).toFixed(3) }} </span>
                    </small>
                    <br>
                    <small>Penyaluran:
                      <span class="pull-right"> {{ parseFloat(dataHeader.distrib).toFixed(3) }} </span>
                    </small>
                    <br>
                    <small>Tersedia:
                      <span class="pull-right" :style="(dataHeader.qty_sisa < 0) && 'color: red'"> {{ parseFloat(dataHeader.qty_sisa).toFixed(3) }} </span>
                    </small>
                    <br>
                  </td>
                </tr>
                <template v-for="(kecamatan, i) in dataDetailF6.data.data">
                  <row-kecamatan
                  :status="dataDetailF6.header.status"
                  :kecamatan="kecamatan"
                  @toggle-collapse-kecamatan="toggleCollapseKecamatan"
                  :icon="(collapse.kecamatan.includes(kecamatan.id)) ? true : false">
                </row-kecamatan>
                <template v-if="collapse.kecamatan.includes(kecamatan.id)"
                v-for="(pengecer, i) in kecamatan.data"
                >
                  <row-pengecer
                    :pengecer="pengecer"
                    :status="dataDetailF6.header.status"
                    @toggle-collapse-pengecer="toggleCollapsePengecer"
                    @when-change="whenChange"
                  >
                  </row-pengecer>
                </template>
                </template>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div v-if="dataDetailF6.header" class="row">
        <div class="col-md-12">
          <div class="form-actions pull-left">
            <button type="button" @click="back()" class="btn btn-secondary square">Kembali</button>
          </div>
          <div v-if="access.C" class="form-actions pull-right">
            <button type="button" v-if="dataDetailF6.header.status != 's'" class="btn btn-success btn-square" @click="action('d')" :disabled="loadingButton">
              <i :class="(loadingButton) ? 'fa fa-spin fa-refresh' : '' "></i>
              {{ (loadingButton) ? 'Menyimpan' : 'Simpan' }}
             </button>
             <button type="button" v-if="dataDetailF6.header.status != 's'" class="btn btn-primary btn-square" @click="action('s')" :disabled="loadingButton">
               <i :class="(loadingButton) ? 'fa fa-spin fa-refresh' : '' "></i>
               {{ (loadingButton) ? 'Menyimpan' : 'Submit' }}
              </button>
             <button type="button" v-if="dataDetailF6.header.status === 's'" class="btn btn-primary btn-square" @click="action('d')" :disabled="loadingButton">
               <i :class="(loadingButton) ? 'fa fa-spin fa-refresh' : '' "></i>
               {{ (loadingButton) ? 'Menyimpan' : 'Unsubmit' }}
              </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import FormLoader from '../../../main/FormLoader';
import RowKecamatan from './table/RowKecamatan';
import RowPengecer from './table/RowPengecer';
export default {
  props: ['access'],
  data: function() {
    return {
      loadingComponent: false,
      loadingButton: false,
      dataDetailF6: {},
      collapse:{
        kecamatan : [],
        pengecer: []
      },
    }
  },
  components: {
    FormLoader, RowKecamatan, RowPengecer
  },
  created() {
    this.getDataDetail()
  },
  mounted() {

  },
  methods: {

    getDataDetail() {
      this.loadingComponent = true;
      let uuid = this.$route.params.uuid;
      this.axios.get('penyaluraninitialstockf6/item/'+uuid)
      .then((resp) => {
        this.dataDetailF6 = resp.data.data;
        this.loadingComponent = false;
        this.setCollapseShow();
      })
      .catch((resp) => {
        this.loadingComponent = false;
        toastr.error(resp.response.data.message);
        toastr.error(resp.response.data.error);
      })
    },

    getMonthName(month) {
      switch (month) {
        case '01': return 'Januari'; break;
        case '02': return 'Februari'; break;
        case '03': return 'Maret'; break;
        case '04': return 'April'; break;
        case '05': return 'Mei'; break;
        case '06': return 'Juni'; break;
        case '07': return 'Juli'; break;
        case '08': return 'Agustus'; break;
        case '09': return 'September'; break;
        case '10': return 'Oktober'; break;
        case '11': return 'November'; break;
        case '12': return 'Desember'; break;
        default:
      }
    },

    setCollapseShow(){
      this.dataDetailF6.data.data.map((kecamatan) => {
        this.collapse.kecamatan.push(kecamatan.id)
        kecamatan.data.map((pengecer) => {
          this.collapse.pengecer.push(pengecer.uuid)
        })
      })
    },

    toggleCollapseKecamatan(id) {
      const index = this.collapse.kecamatan.indexOf(id);
      if (index > -1) {
      	this.collapse.kecamatan.splice(index, 1)
      } else {
      	this.collapse.kecamatan.push(id)
      }
    },

    toggleCollapsePengecer(uuid) {
      const index = this.collapse.pengecer.indexOf(uuid);
      if (index > -1) {
      	this.collapse.pengecer.splice(index, 1)
      } else {
      	this.collapse.pengecer.push(uuid)
      }
    },

    whenChange(value, sales_unit_id, product_id) {
      value = (value === '' || value === null) ? 0 : value;
      var newValue = 0;
      this.dataDetailF6.data.data.map(kecamatan => {
        if(kecamatan.id === sales_unit_id) {
          kecamatan.total.map(totalKecamatan => {
            if(totalKecamatan.id === product_id) {
              if(!isNaN(value)) {
                let totalQtyKecamatan = 0;
                kecamatan.data.map(pengecer => {
                  pengecer.data.map(totalPengecer => {
                    if(totalPengecer.id === product_id) {
                      totalQtyKecamatan += (totalPengecer.qty === '' || totalPengecer.qty === null) ? 0 : parseFloat(totalPengecer.qty)
                    }
                  })
                })
                totalKecamatan.qty = totalQtyKecamatan;
              }
            }
          })
        }
      })
      this.dataDetailF6.data.header.map(product => {
        if(product.id === product_id) {
          let totalQtyProduct = 0
          this.dataDetailF6.data.data.map(kecamatan => {
            kecamatan.total.map(totalKecamatan => {
              if(totalKecamatan.id === product_id) {
                totalQtyProduct += totalKecamatan.qty
              }
            })
          })
          if(!isNaN(totalQtyProduct)) {
            product.distrib = totalQtyProduct
            product.qty_sisa = (parseFloat(product.qty) - parseFloat(product.distrib))
          }
        }
      })
    },

    action(type) {
      this.loadingButton = true;
      let check = true;
      this.dataDetailF6.data.header.map((product) => {
        if(product.qty_sisa < 0) {
          check = false;
          return;
        }
      });
      if(check) {
        let sendData = []
        this.dataDetailF6.data.data.map(kecamatan => {
          kecamatan.data.map(pengecer => {
            pengecer.data.map(totalPengecer => {
              sendData.push({
                distrib_report_id: this.dataDetailF6.header.id,
                product_id: totalPengecer.id,
                report_f5_id: this.dataDetailF6.header.report_f5_id,
                retail_id: pengecer.id,
                qty: totalPengecer.qty,
                status: type
              })
            })
          })
        })
        this.axios.post('penyaluraninitialstockf6/item', sendData)
        .then((resp) => {
          this.getDataDetail()
          toastr.success(resp.data.message)
          this.loadingButton = false;
        })
        .catch((resp) => {
          toastr.errpr(resp.response.data.message)
          this.loadingButton = false;
        })
      } else {
        toastr.warning("Data ketersediaan masih minus, sesuaikan kembali");
        this.loadingButton = false;
      }
    },

    back() {
      window.history.back();
    }

  }
}
</script>

<style lang="css" scoped>
  .badge-primary {
      background-color: #1980F0 !important;
  }
  .box {
    border: 1px solid rgba(0, 0, 0, 0.1);
    flex: 1 1 auto;
    padding: 0.5rem;
    margin-bottom: 1rem;
  }

  .red {
    background-color: red;
  }

  .blue {
    background-color: #2983e7;
  }

  ol, ul, dl {
    margin-bottom: 0px !important;
  }
</style>
