<template>
  <tr class="filter">
    <th class="log-order-number">
      <input type="text" class="form-control form-control-md log_order_numberVal" >
    </th>
    <th>
      <input type="text" class="form-control form-control-md" v-model="logOrder.customer_name" v-on:keyup="search()">
    </th>
    <th>
      <input type="text" class="form-control form-control-md" v-model="logOrder.status" v-on:keyup="search()">
    </th>
    <th>
      <input type="text" class="form-control form-control-md" v-model="logOrder.message" v-on:keyup="search()">
    </th>
    <th>
      <date-filter :reset="reset" @get-date="searchDateLog" :type="'DateLog'"></date-filter>
    </th>
    <th><input type="text" class="form-control form-control-md" v-model="logOrder.so_number" v-on:keyup="search()"></th>
    <th><input type="text" class="form-control form-control-md" v-model="logOrder.sap_booking_code" v-on:keyup="search()"></th>
    <th><input type="text" class="form-control form-control-md" v-model="logOrder.sap_billing_dp_doc" v-on:keyup="search()"></th>
    <th><input type="text" class="form-control form-control-md" v-model="logOrder.sap_clearing_doc" v-on:keyup="search()"></th>
    <th><input type="text" class="form-control form-control-md" v-model="logOrder.bank_payment" v-on:keyup="search()"></th>
    <th></th>
  </tr>
</template>

<script>
import Date from '../../filter/Date';
export default {
  props: ['reset'],
  data: function() {
    return {
      uriName: this.$auth.user().id+'_'+'search_'+this.$route.name,
      logOrder : {
        order_number: null,
        customer_name: null,
        status: null,
        message: null,
        created_at: null
      }
    }
  },
  components: {
    dateFilter: Date
  },
  watch: {
		reset: function(val){
			if(val === true) {
				this.resetFilter();
			}
		}
	},
  created() {

  },
  mounted() {
    var app = this;
    const getLocalSearch = JSON.parse(localStorage.getItem(app.uriName));
    setTimeout(() => {
      if (getLocalSearch !== null) {
          app.logOrder = getLocalSearch;
          $(".log_order_numberVal").val(app.logOrder.order_number);
          app.$emit("search-table", app.logOrder);
      }
    },1000)

    $(document).ready(function() {
      $(document).on('keyup','.log_order_numberVal',function(){
          app.logOrder.order_number=$(this).val();
          app.search();
      });
    });
  },
  methods: {
    searchDateLog(date = '') {
      if (date != '') {
        if (date != '') {
          this.logOrder.created_at = {
            certain: (date.name === 'DateLog' && date.dateType === 'certain') && date.data.from,
            from: (date.name === 'DateLog' && date.dateType === 'range') && date.data.from,
            to: (date.name === 'DateLog' && date.dateType === 'range') && date.data.to
          }
        } else {
          this.logOrder.created_at = ''
        }
        this.search()
      }
    },
    search() {
      event.preventDefault();
      localStorage.setItem(this.uriName, JSON.stringify(this.logOrder));
      this.$emit("search-table", this.logOrder);
    },
    resetFilter(){
      this.clearFilter(this.$route.name, this.logOrder);
      $( ".log-order-number" ).html( '<input type="text" class="form-control form-control-md log_order_numberVal" />' );
      $(".log_order_numberVal").val(this.logOrder.order_number);
      this.search();
    }
  }
}
</script>

<style lang="css" scoped>
</style>
