<template>
  <transition name="custom-classes-transition" enter-active-class="animated fadeInDown" leave-active-class="animated fadeOutUp">
    <tr>
      <td></td>
      <td class="pinned head" nowrap>
        {{ pengecer.name }}
      </td>
      <template v-for="(total, i) in pengecer.data" >
        <td v-if="isDisabled" class="text-right">{{ parseFloat(total.qty).toFixed(3) }}</td>
        <td v-else class="text-right">
          <input type="text" v-restrict.number.decimal
          class="input form-control form-control-sm"
          v-model="total.qty"
          v-on:keyup="onChange(total.id, total.sales_unit_id)"
          v-on:change="validateNumber(i, total.id, total.sales_unit_id)"
          >
        </td>
      </template>
    </tr>
  </transition>
</template>

<script>
import Vue from 'vue';
export default {
  props: ['pengecer', 'icon', 'status'],
  data: function() {
    return {
      isDisabled: (this.status != 'd') ? true : false
    }
  },
  components: {

  },
  created() {

  },
  mounted() {

  },
  methods: {
    onChange(product_id, sales_unit_id) {
      let val = event.target.value;
      this.$emit('when-change', val, sales_unit_id, product_id);
    },
    validateNumber(i, id, sales_unit_id) {
      let val = this.pengecer.data[i].qty;
      let arrNumber = val.split('.');
      if(arrNumber.length > 2 || val === '') {
        this.pengecer.data[i].qty = 0;
        this.$emit('when-change', this.pengecer.data[i].qty, sales_unit_id, id);
      }
    }
  }
}
Vue.directive('restrict', {
  bind (el, binding) {
    el.addEventListener('keydown', (e) => {
      // delete, backpsace, tab, escape, enter,
      let special = [46, 8, 9, 27, 13]
      if (binding.modifiers['decimal']) {
        // decimal(numpad), period
        special.push(110, 190)
      }
      // special from above
      if (special.indexOf(e.keyCode) !== -1 ||
        // Ctrl+A
        (e.keyCode === 65 && e.ctrlKey === true) ||
        // Ctrl+C
        (e.keyCode === 67 && e.ctrlKey === true) ||
        // Ctrl+X
        (e.keyCode === 88 && e.ctrlKey === true) ||
        // home, end, left, right
        (e.keyCode >= 35 && e.keyCode <= 39)) {
        return // allow
      }
      if ((binding.modifiers['alpha']) &&
        // a-z/A-Z
        (e.keyCode >= 65 && e.keyCode <= 90)) {
        return // allow
      }
      if ((binding.modifiers['number']) &&
        // number keys without shift
        ((!e.shiftKey && (e.keyCode >= 48 && e.keyCode <= 57)) ||
        // numpad number keys
        (e.keyCode >= 96 && e.keyCode <= 105))) {
        return // allow
      }
      // otherwise stop the keystroke
      e.preventDefault() // prevent
    }) // end addEventListener
  } // end bind
}) // end directive
</script>

<style lang="css" scoped>
  td.head {
    padding-left: 4rem !important;
  }

  .buttonCollapse{
    cursor: pointer;
  }

  input {
    text-align: right;
  }
</style>
