<template>
  <tr class="filter">
    <th class="bulananRetail-sales-org-name">
      <input type="text" class="form-control form-control-md bulananRetail_sales_org_nameVal" >
    </th>
    <th class="bulananRetail-number">
      <input type="text" class="form-control form-control-md bulananRetail_numberVal" >
    </th>
    <th>
      <input type="text" class="form-control form-control-md" v-model="searchFilter.customer_name" v-on:keyup="search()">
    </th>
    <th>
      <year :reset="reset" @get-year="searchYear" :type="type"></year>
    </th>
    <th>
      <month :reset="reset" :checkedMonth="searchFilter.month" @get-month="searchMonth"></month>
    </th>
    <th>
      <provinsi :reset="reset" ref="filterProvComponent" @get-selected-prov="searchProv" />
    </th>
    <th>
      <kabupaten :sales_office="searchFilter.sales_office_id" :reset="reset" ref="filterKabComponent" @get-selected-kab="searchKab" />
    </th>
    <th>
      <search-status :reset="reset" :checkedStatus="searchFilter.status_name" @get-check="searchStatus" :label="'Cari Status'" :list="statusList"></search-status>
    </th>
    <th></th>
  </tr>
</template>

<script>
import Checklist from '../../filter/Checklist';
import Year from '../../filter/Year';
import Month from '../../filter/Month';
import Provinsi from '../../filter/Provinsi';
import Kabupaten from '../../filter/Kabupaten';
export default {
  props: ['reset'],
  data: function() {
    return {
      uriName: this.$auth.user().id+'_'+'search_'+this.$route.name,
      type: 'validYear',
      statusList : [
        {name: 'Approve / Active', value: 'y'},
        {name: 'Submited', value: 's'},
        {name: 'Draft', value: 'd'}
      ],
      searchFilter: {
        sales_org_name: null,
        number: null,
        customer_name: null,
        year: null,
        month: null,
        sales_office_name: null,
        sales_group_name: null,
        sales_office_id: null,
        sales_group_id: null,
        status_name: null
      }
    }
  },
  components: {
    SearchStatus: Checklist,
    Provinsi,
    Kabupaten, Year, Month
  },
  created() {

  },
  watch: {
		reset: function(val){
			if(val === true) {
				this.resetFilter();
			}
		}
	},
  mounted() {
    var app = this;

    const getLocalSearch = JSON.parse(localStorage.getItem(app.uriName));
    setTimeout(() => {
        if (getLocalSearch !== null) {
            app.searchFilter = getLocalSearch;
            $(".bulananRetail_sales_org_nameVal").val(app.searchFilter.sales_org_name);
            $(".bulananRetail_numberVal").val(app.searchFilter.number);
            app.$emit("search-table", app.searchFilter);
        }
    },1000)

    $(document).on("keyup", ".bulananRetail_sales_org_nameVal", function(){
      app.searchFilter.sales_org_name = $(this).val();
      app.search();
    })
    $(document).on("keyup", ".bulananRetail_numberVal", function(){
      app.searchFilter.number = $(this).val();
      app.search();
    })
  },
  methods: {
    searchYear(date = '') {
      if (date != '') {
        if (date != '') {
          this.searchFilter.year = {
            certain: (date.name === 'validYear' && date.dateType === 'certain') && date.data.from,
            from: (date.name === 'validYear' && date.dateType === 'range') && date.data.from,
            to: (date.name === 'validYear' && date.dateType === 'range') && date.data.to
          }
        } else {
          this.searchFilter.year = ''
        }
        this.search()
      }
    },

    searchMonth(obj) {
      var month = obj.join(';')
      this.searchFilter.month = month
      this.search()
    },
    searchProv(dataProv) {
      var arr = dataProv.map(data => {
        return data.id;
      })
      var sales_office = arr.join(";");
      this.searchFilter.sales_office_id = sales_office;
      this.search();
    },
    searchKab(dataKab) {
      var arr = dataKab.map(data => {
        return data.id;
      })
      var sales_group = arr.join(";");
      this.searchFilter.sales_group_id = sales_group;
      this.search();
    },
    searchStatus(obj) {
      var status = obj.join(';');
      this.searchFilter.status_name = status;
      this.search();
    },
    search() {
      event.preventDefault();
      localStorage.setItem(this.uriName, JSON.stringify(this.searchFilter));
      this.$emit("search-table", this.searchFilter);
    },
    resetFilter(){
      this.clearFilter(this.$route.name, this.searchFilter);
      
      $( ".bulananRetail-sales-org-name" ).html( '<input type="text" class="form-control form-control-md bulananRetail_sales_org_nameVal" />' );
      $( ".bulananRetail-number" ).html( '<input type="text" class="form-control form-control-md bulananRetail_numberVal" />' );
      $(".bulananRetail_sales_org_nameVal").val(this.searchFilter.sales_org_name);
      $(".bulananRetail_numberVal").val(this.searchFilter.number);
      this.search();
    }
  }
}
</script>

<style lang="css" scoped>
</style>
