<template>
  <div>
    <div class="row">
      <div class="col-md-12">
        <div class="pull-right">
          <button type="button" :disabled="loadingButton" @click="download()" class="btn btn-primary square" name="button">
            <i class="fa fa-download"></i> {{ loadingButton ? 'Memuat..' : 'Download' }}
          </button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <table style="margin-top:10px;" id="tableF6" class="table table-xs table-bordered table-striped display nowrap">
          <thead>
            <filter-laporan-bulanan-pengecer :reset="resetStatus" @search-table="searchTable"></filter-laporan-bulanan-pengecer>
            <tr>
              <th>Produsen</th>
              <th>No. F6</th>
              <th>Distributor</th>
              <th>Tahun</th>
              <th>Bulan</th>
              <th>Provinsi</th>
              <th>Kabupaten</th>
              <th>Status</th>
              <th>Aksi</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
    <modal-confirm v-if="confirm.show" :uuid="confirm.data" :text="confirm.text" @trigger-modal="triggerModal()" @is-delete="downloadPdf"></modal-confirm>
    <modal-confirm-bast v-if="confirmBast.show" :uuid="confirmBast.data" :text="confirmBast.text" @trigger-modal="triggerModal()" @is-delete="downloadBast"></modal-confirm-bast>
    <modal-confirm-f6 v-if="confirmRekapF6.show" :uuid="confirmRekapF6.data" :text="confirmRekapF6.text" @trigger-modal="triggerModal()" @is-delete="downloadListRekapF6"></modal-confirm-f6>
  </div>
</template>

<script>
import ModalConfirm from '../../global/ModalConfirm';
import FilterLaporanBulananPengecer from './FilterLaporanBulananPengecer.vue';
export default {
  props: [],
  data: function() {
    return {
      dt: null,
      loadingButton: false,
      resetStatus: false,
      dtFilter: {},
      downloadFilter: {},
      confirm: {
        show: false,
        data: {
          uuid: null,
          number: null
        },
        text: null
      },
      confirmBast: {
        show: false,
        data: {
          uuid: null,
          number: null
        },
        text: null
      },
      confirmRekapF6: {
        show: false,
        data: {
          uuid: null,
          number: null
        },
        text: null
      },
    }
  },
  components: {
    FilterLaporanBulananPengecer, ModalConfirm, ModalConfirmBast: ModalConfirm, ModalConfirmF6: ModalConfirm
  },
  created() {

  },
  mounted() {
    this.getDataF6();
    var app = this;
    $("div.dataTables_length").append(' <button id="resetFilterBulananPengecer" class="btn btn-sm btn-danger square"><i class="fa fa-times"></i> Reset Filter</button>');

    $(document).on("click", "#resetFilterBulananPengecer", function(e){
      e.preventDefault()
      app.resetStatus = true;
      $('#resetFilterBulananPengecer').prop('disabled', true);

      setTimeout(() => {
        app.resetStatus = false;
        $('#resetFilterBulananPengecer').prop('disabled', false);
      }, 1000)
    })
    $(document).on("click", "#downloadListF6", function(e){
      e.preventDefault();
      const uuid = $(this).data("uuid");
      const number = $(this).data("number");
      const data = {uuid, number}
      app.openModal(data);
    });
    $(document).on("click", "#downloadBeritaAcaraF6", function(e){
      e.preventDefault();
      const uuid = $(this).data("uuid");
      const number = $(this).data("number");
      const data = {uuid, number}
      app.openModalBast(data);
    });
    $(document).on("click", "#toFormHirarki", function(e) {
      e.preventDefault()
      e.preventDefault();
      let uuid = $(this).data("uuid");
      let access = encodeURIComponent(app.$route.params.access);
      app.$router.push({path: '/'+access+'/laporan/laporan-bulanan-pengecer/detail/'+uuid});
    });
    $(document).on("click", "#downloadRekapF6", function(e){
      e.preventDefault();
      const uuid = $(this).data("uuid");
      const number = $(this).data("number");
      const data = {uuid, number}
      app.openModalRekapF6(data);
    });
  },
  methods: {
    yearFrom(obj) {
      if(obj.year && obj.year.from && obj.year.to) {
        this.dtFilter.year = obj.year.from+';'+obj.year.to;
      } else if (obj.year && obj.year.certain) {
        this.dtFilter.year = obj.year.certain;
      } else {
        this.dtFilter.year = '';
      }
    },
    getDataF6() {
      let app = this;
      app.dt = $("#tableF6").DataTable({
        processing: true,
        serverSide: true,
        searching: false,
        scrollX: "99.99%",
        scrollY : "50vh",
        "scrollCollapse":true,
        "order": [[ 1, 'desc' ]],
        lengthMenu: [
          [ 20, 50, 100, -1 ],
          [ '20 baris', '50 baris', '100 baris', 'Lihat Semua' ]
        ],
        "dom": 'Bltrip',
        "buttons": [
          {
            extend: 'excel',
            className: 'btn-danger square mb-1 DownloadF6',
            text: "Download",
            title: '',
            filename: 'List-Master-Laporan-F6'
          }
        ],
        ajax: {
          'url': '/api/reportf6',
          'type': 'GET',
          'data': function(d) {
            d.sales_org_name = app.dtFilter.sales_org_name,
            d.number = app.dtFilter.number,
            d.customer_name = app.dtFilter.customer_name,
            d.year = app.dtFilter.year,
            d.month = app.dtFilter.month,
            d.sales_office_name = app.dtFilter.sales_office_name,
            d.sales_office_id = app.dtFilter.sales_office_id,
            d.sales_group_name = app.dtFilter.sales_group_name,
            d.sales_group_id = app.dtFilter.sales_group_id,
            d.status = app.dtFilter.status_name
          },
          'beforeSend': function (request) {
              var token = localStorage.getItem("default_auth_token");
              request.setRequestHeader("Authorization", "Bearer "+token);
              request.setRequestHeader("lang",  localStorage.getItem('app-lang'));
          }
        },
        columns: [
          {data: 'sales_org_name', name: 'sales_org_name'},
          {data: 'number', name: 'number', render: function (data, type, full) {
            const access = encodeURIComponent(app.$route.params.access);
            const link = `<a href="/#/${access}/laporan/laporan-bulanan-pengecer/detail/${full.uuid}">${data}</a>`;
            return link;
          }},
          {data: 'customer_name', name: 'customer_name'},
          {data: 'year', name: 'year'},
          {data: 'month_name', name: 'month'},
          {data: 'sales_office_name', name: 'sales_office_name'},
          {data: 'sales_group_name', name: 'sales_group_name'},
          {data: 'status_name', name: 'status_name'},
          {data: 'uuid', name: 'uuid', render: function(data, type, full){
            return '<a href="#" id="downloadRekapF6" data-number="'+full.number+'" data-uuid="'+data+'">Rekap F6</a>' + ' | '+
                   '<a href="#" id="downloadListF6" data-number="'+full.number+'" data-uuid="'+data+'">Download F6</a>' + ' | '+
                   '<a href="#" id="downloadBeritaAcaraF6" data-number="'+full.number+'" data-uuid="'+data+'">Berita Acara F6</a>';
          }}
        ]
      })
      new $.fn.dataTable.FixedColumns(app.dt, {
          leftColumns: 2
      })
      app.dt.on( 'xhr', function () {
          app.downloadFilter = app.dt.ajax.params();
      });
    },
    searchTable(obj) {
      this.dtFilter = obj;
      this.yearFrom(obj);
      this.dt.draw();
    },
    openModal(data) {
      this.confirm.show = true;
      this.confirm.data.uuid = data.uuid;
      this.confirm.data.number = data.number;
      this.confirm.text = 'Download PDF';
    },
    openModalBast(data) {
      this.confirmBast.show = true;
      this.confirmBast.data.uuid = data.uuid;
      this.confirmBast.data.number = data.number;
      this.confirmBast.text = 'Download BAST PDF';
    },
    openModalRekapF6(data) {
      this.confirmRekapF6.show = true;
      this.confirmRekapF6.data.uuid = data.uuid;
      this.confirmRekapF6.data.number = data.number;
      this.confirmRekapF6.text = 'Download Rekap F6 PDF';
    },
    triggerModal() {
      this.confirm.show = false,
      this.confirm.uuid = null,
      this.confirm.text = null,
      this.confirmBast.show = false,
      this.confirmBast.uuid = null,
      this.confirmBast.text = null,
      this.confirmRekapF6.show = false,
      this.confirmRekapF6.uuid = null,
      this.confirmRekapF6.text = null
    },
    download() {
      event.preventDefault();
      // $('.DownloadF6').trigger('click');
      this.loadingButton = true;
      this.axios({
        url: 'reportf6/rekap/all/xls',
        params: {
          sales_org_name : this.dtFilter.sales_org_name,
          number : this.dtFilter.number,
          customer_name : this.dtFilter.customer_name,
          year : this.dtFilter.year,
          month : this.dtFilter.month,
          sales_office_name : this.dtFilter.sales_office_name,
          sales_office_id : this.dtFilter.sales_office_id,
          sales_group_name : this.dtFilter.sales_group_name,
          sales_group_id : this.dtFilter.sales_group_id,
          status : this.dtFilter.status_name
        },
        method: 'GET',
        responseType: 'blob', // important
      }).then((response) => {
         const url = window.URL.createObjectURL(new Blob([response.data]));
         const link = document.createElement('a');
         link.href = url;
         link.setAttribute('download', 'REKAPITULASI LAPORAN BULANAN PENGECER.xls'); //or any other extension
         document.body.appendChild(link);
         link.click();
         this.loadingButton = false;
      })
      .catch((resp) => {
        toastr.error("Koneksi Putus, Ulangi lagi" ,"Error");
        this.loadingButton = false;
      })
    },
    downloadPdf(data){
      const {uuid, number} = data
      this.axios({
        url: 'reportf6/download/'+uuid,
        method: 'GET',
        responseType: 'blob', // important
      }).then((response) => {
         const url = window.URL.createObjectURL(new Blob([response.data]));
         const link = document.createElement('a');
         link.href = url;
         link.setAttribute('download', number+'.pdf'); //or any other extension
         document.body.appendChild(link);
         link.click();
      })
      .catch((resp) => {
        toastr.error("Data tidak ditemukan" ,"File rusak");
      })
    },
    downloadBast(data){
      const {uuid, number} = data
      this.axios({
        url: 'reportf6/bast/'+uuid+'',
        method: 'GET',
        responseType: 'blob', // important
      }).then((response) => {
         const url = window.URL.createObjectURL(new Blob([response.data]));
         const link = document.createElement('a');
         link.href = url;
         link.setAttribute('download', 'BAST-'+number+'.pdf'); //or any other extension
         document.body.appendChild(link);
         link.click();
      })
      .catch((resp) => {
        toastr.error("Data tidak ditemukan" ,"File rusak");
      })
    },
    downloadListRekapF6(data){
      const {uuid, number} = data
      this.axios({
        url: 'reportf6/rekap/'+uuid+'/pdf',
        method: 'GET',
        responseType: 'blob', // important
      }).then((response) => {
         const url = window.URL.createObjectURL(new Blob([response.data]));
         const link = document.createElement('a');
         link.href = url;
         link.setAttribute('download', 'REKAP-F6-'+number+'.pdf'); //or any other extension
         document.body.appendChild(link);
         link.click();
      })
      .catch((resp) => {
        toastr.error("Data tidak ditemukan" ,"File rusak");
      })
    },
  }

}
</script>

<style media="screen">
  .DownloadF6 {
    display: none !important;
  }
</style>
