<template>
  <tr class="filter">
    <th class="do-number">
      <input type="text" class="form-control form-control-md do_numberVal" >
    </th>
    <th class="do-sales-org-name">
      <input type="text" class="form-control form-control-md do_sales_org_nameVal" >
    </th>
    <th>
      <input type="text" class="form-control form-control-md"
      v-model="monitoringDo.customer_name" v-on:keyup="search()">
    </th>
    <th>
      <input type="text" class="form-control form-control-md"
      v-model="monitoringDo.customer_id" v-on:keyup="search()">
    </th>
    <th>
      <input type="text" class="form-control form-control-md"
      v-model="monitoringDo.code_so" v-on:keyup="search()">
    </th>
    <th>
      <date-filter :reset="reset" @get-date="searchDateOrder" :type="type1"></date-filter>
    </th>
    <th>
      <input type="text" class="form-control form-control-md"
      v-model="monitoringDo.delivery_qty" v-on:keyup="search()">
    </th>
    <th>
      <input type="text" class="form-control form-control-md"
      v-model="monitoringDo.no_doc" v-on:keyup="search()">
    </th>
    <th>
      <input type="text" class="form-control form-control-md"
      v-model="monitoringDo.product_name" v-on:keyup="search()">
    </th>
    <th>
      <input type="text" class="form-control form-control-md"
      v-model="monitoringDo.delivery_qty" v-on:keyup="search()">
    </th>
    <th>
      <date-filter :reset="reset" @get-date="searchDateDo" :type="type2"></date-filter>
    </th>
    <th>
      <input type="text" class="form-control form-control-md"
      v-model="monitoringDo.created_by" v-on:keyup="search()">
    </th>
    <th>
      <date-filter :reset="reset" @get-date="searchDateCreate" :type="type3"></date-filter>
    </th>
  </tr>
</template>

<script>
import Date from '../../filter/Date';

export default {
  props: ['reset'],
  data: function() {
    return {
      uriName: this.$auth.user().id+'_'+'search_'+this.$route.name,
      type1: 'tglOrder',
      type2: 'tglDo',
      type3: 'tglBuat',
      monitoringDo : {
        number : null,
        sales_org_name : null,
        customer_name : null,
        customer_id : null,
        code_so : null,
        order_date : null,
        delivery_qty : null,
        no_doc : null,
        product_name : null,
        delivery_qty : null,
        delivery_date : null,
        created_by : null,
        created_at : null
      }
    }
  },
  components: {
    dateFilter: Date,
  },
  created() {

  },
  watch: {
		reset: function(val){
			if(val === true) {
				this.resetFilter();
			}
		}
	},
  mounted() {
    var app = this;
    const getLocalSearch = JSON.parse(localStorage.getItem(app.uriName));
    setTimeout(() => {
        if (getLocalSearch !== null) {
            app.monitoringDo = getLocalSearch;
            $(".do_numberVal").val(app.monitoringDo.number);
            $(".do_sales_org_nameVal").val(app.monitoringDo.sales_org_name);
            app.$emit("search-table", app.monitoringDo);
        }
    },1000)
    $(document).on("keyup",".do_numberVal", function(e){
      app.monitoringDo.number = $(this).val();
      app.search()
    })
    $(document).on("keyup", ".do_sales_org_nameVal", function(e){
      app.monitoringDo.sales_org_name = $(this).val()
      app.search()
    })
  },
  methods: {
    // date
    searchDateOrder(date = '') {
      if (date != '') {
        if (date != '') {
          this.monitoringDo.order_date = {
            certain: (date.name === 'tglOrder' && date.dateType === 'certain') && date.data.from,
            from: (date.name === 'tglOrder' && date.dateType === 'range') && date.data.from,
            to: (date.name === 'tglOrder' && date.dateType === 'range') && date.data.to
          }
        } else {
          this.monitoringDo.order_date = ''
        }
        this.search()
      }
    },
    searchDateDo(date = '') {
      if (date != '') {
        if (date != '') {
          this.monitoringDo.delivery_date = {
            certain: (date.name === 'tglDo' && date.dateType === 'certain') && date.data.from,
            from: (date.name === 'tglDo' && date.dateType === 'range') && date.data.from,
            to: (date.name === 'tglDo' && date.dateType === 'range') && date.data.to
          }
        } else {
          this.monitoringDo.delivery_date = ''
        }
        this.search()
      }
    },
    searchDateCreate(date = '') {
      if (date != '') {
        if (date != '') {
          this.monitoringDo.created_at = {
            certain: (date.name === 'tglBuat' && date.dateType === 'certain') && date.data.from,
            from: (date.name === 'tglBuat' && date.dateType === 'range') && date.data.from,
            to: (date.name === 'tglBuat' && date.dateType === 'range') && date.data.to
          }
        } else {
          this.monitoringDo.created_at = ''
        }
        this.search()
      }
    },
    // end date
    search() {
      event.preventDefault();
      localStorage.setItem(this.uriName, JSON.stringify(this.monitoringDo));
      this.$emit("search-table", this.monitoringDo);
    },
    resetFilter(){
      this.clearFilter(this.$route.name, this.monitoringDo);
      
      $( ".do-number" ).html( '<input type="text" class="form-control form-control-md do_numberVal" />' );
      $( ".do-sales-org-name" ).html( '<input type="text" class="form-control form-control-md do_sales_org_nameVal" />' );
      $(".do_numberVal").val(this.monitoringDo.number);
      $(".do_sales_org_nameVal").val(this.monitoringDo.sales_org_name);
      this.search();
    }
  }
}
</script>

<style lang="css" scoped>
</style>
