<template>
  <tr class="filter">
    <th class="suratJalan-number">
      <input type="text" class="form-control form-control-md suratJalan_numberVal" >
    </th>
		<th>
      <input type="text" class="form-control form-control-md" v-model="searchFilter.customer_id" v-on:keyup="search()">
    </th>
		<th>
      <input type="text" class="form-control form-control-md" v-model="searchFilter.customer_name" v-on:keyup="search()">
    </th>
		<th>
      <kabupaten :sales_office="searchFilter.sales_office_id" :reset="reset" ref="filterKabComponent" @get-selected-kab="searchKab" />
    </th>
		<th>
      <input type="text" class="form-control form-control-md" v-model="searchFilter.sales_org_id" v-on:keyup="search()">
    </th>
		<th>
      <input type="text" class="form-control form-control-md" v-model="searchFilter.sales_org_name" v-on:keyup="search()">
    </th>
		<th>
      <filter-status :reset="reset" :checkedStatus="searchFilter.status" @get-check="searchTable" :label="btnStatus" :list="statusSearch"></filter-status>
    </th>
		<th>
      <date-filter :reset="reset" @get-date="searchDateValidFrom" :type="type1"></date-filter>
    </th>
		<th>
      <date-filter :reset="reset" @get-date="searchDateValidUpdated" :type="type2"></date-filter>
    </th>
		<th></th>
  </tr>
</template>

<script>
import Provinsi from '../../filter/Provinsi';
import Kabupaten from '../../filter/Kabupaten';
import Checklist from '../../filter/Checklist';
import Date from '../../filter/Date';
import Year from '../../filter/Year';

export default {
  props: ['reset'],
  data: function() {
    return {
      uriName: this.$auth.user().id+'_'+'search_'+this.$route.name,
			btnStatus: 'Filter Status',
      type: 'validYear',
      statusSearch: [
        {name: 'Submited', value: 's'},
      ],
			type1: 'validFrom',
      type2: 'validUpdated',
      searchFilter : {
        created_at: null,
				created_by: null,
				customer_id: null,
				customer_name: null,
				id: null,
				number: null,
				sales_group_id: null,
				sales_group_name: null,
				sales_org_id: null,
				sales_org_name: null,
				status: "",
				updated_at: null,
				updated_by: null,
				uuid: null,
      }
    }
  },
  components: {
    Provinsi,
    Kabupaten,
		FilterStatus: Checklist,
    dateFilter: Date,
    Year
  },
  created() {

  },
  watch: {
		reset: function(val){
			if(val === true) {
				this.resetFilter();
			}
		}
	},
  mounted() {
    var app = this;
    const getLocalSearch = JSON.parse(localStorage.getItem(app.uriName));
    setTimeout(() => {
        if (getLocalSearch !== null) {
            app.searchFilter = getLocalSearch;
            $(".suratJalan_numberVal").val(app.searchFilter.number);
            app.$emit("search-table", app.searchFilter);
        }
    },1000)
    $(document).on("keyup", ".suratJalan_numberVal", function() {
      app.searchFilter.sales_org_name = $(this).val();
      app.search();
    })
    $(document).on("keyup", ".suratJalan_so_numberVal", function() {
      app.searchFilter.so_number = $(this).val();
      app.search();
    })
  },
  methods: {
    searchProv(dataProv) {
      var arr = dataProv.map(data => {
        return data.id;
      })
      var sales_office = arr.join(";");
      this.searchFilter.sales_office_id = sales_office;
      this.search();
    },
    searchKab(dataKab) {
      var arr = dataKab.map(data => {
        return data.id;
      })
      var sales_group = arr.join(";");
      this.searchFilter.sales_group_id = sales_group;
      this.search();
    },
		searchDateValidFrom(date = '') {
      if (date != '') {
        if (date != '') {
          this.searchFilter.created_at = {
            certain: (date.name === 'validFrom' && date.dateType === 'certain') && date.data.from,
            from: (date.name === 'validFrom' && date.dateType === 'range') && date.data.from,
            to: (date.name === 'validFrom' && date.dateType === 'range') && date.data.to
          }
        } else {
          this.searchFilter.created_at = ''
        }
        this.search()
      }
    },
    searchDateValidUpdated(date = '') {
      if (date != '') {
        if (date != '') {
          this.searchFilter.updated_at = {
            certain: (date.name === 'validUpdated' && date.dateType === 'certain') && date.data.from,
            from: (date.name === 'validUpdated' && date.dateType === 'range') && date.data.from,
            to: (date.name === 'validUpdated' && date.dateType === 'range') && date.data.to
          }
        } else {
          this.searchFilter.updated_at = ''
        }
        this.search()
      }
    },
		searchTable(obj) {
      var status = obj.join(';');
      this.searchFilter.status = status;
      this.search();
    },
    search() {
      event.preventDefault();
      localStorage.setItem(this.uriName, JSON.stringify(this.searchFilter));
      this.$emit("search-table", this.searchFilter);
    },
    resetFilter(){
      this.clearFilter(this.$route.name, this.searchFilter);
      
      $( ".suratJalan-number" ).html( '<input type="text" class="form-control form-control-md suratJalan_numberVal" />' );
      $(".suratJalan_numberVal").val(this.searchFilter.number);
      this.search();
    }
  }
}
</script>

<style lang="css" scoped>
</style>
