<template>
  <div>
    <div class="row">
      <div class="col-md-12">
        <div class="pull-right">
          <button type="button" :disabled="loadingButton" @click="create()" class="btn btn-primary square" name="button">
            <i class="fa fa-plus"></i> Entry Baru
          </button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <table id="DataTableSuratJalan" class="table table-xs table-bordered table-striped display nowrap">
          <thead>
            <surat-jalan-filter :reset="resetStatus" @search-table="searchTable"></surat-jalan-filter>
            <tr>
              <th>No. Surat Jalan</th>
              <th>Kode Distributor</th>
              <th>Nama Distributor</th>
              <th>Kabupaten</th>
              <th>Kode Produsen</th>
              <th>Nama Produsen</th>
              <th>Status</th>
              <th>Tgl. Dibuat</th>
              <th>Tgl. Diubah</th>
              <th>Aksi</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
    <surat-jalan-modal-form v-if="modalForm" :uuid="uuid" @trigger-modal="triggerModal"></surat-jalan-modal-form>
  </div>
</template>

<script>
import SuratJalanFilter from './SuratJalanFilter';
import SuratJalanModalForm from './modal/Form';
export default {
  props: ['access'],
  data: function() {
    return {
			uuid: null,
      distribution_date: '',
      dt: null,
      suratJalanFilter: {},
      modalForm: false,
      resetStatus: false,
      loadingButton: false,
      number: null
    }
  },
  components: {
    SuratJalanFilter, SuratJalanModalForm
  },
  created() {

  },
  mounted() {
    var app = this;
    app.DataTableSuratJalan();
    $("div.dataTables_length").append(' <button id="resetFilterSuratJalan" class="btn btn-sm btn-danger square"><i class="fa fa-times"></i> Reset Filter</button>');

    $(document).on("click", "#resetFilterSuratJalan", function(e){
      e.preventDefault()
      app.resetStatus = true;
      $('#resetFilterSuratJalan').prop('disabled', true);

      setTimeout(() => {
        app.resetStatus = false;
        $('#resetFilterSuratJalan').prop('disabled', false);
      }, 1000)
    })
    $(document).on("click", "#create", function(e){
      e.preventDefault();
      // let number = $(this).data("number");
      // app.number = number;
      app.modalForm = true;
    })
    $(document).on("click", "#detailList", function(e) {
      e.preventDefault();
      let uuid = $(this).data("uuid");
      let access = encodeURIComponent(app.$route.params.access);
      app.$router.push({path: '/'+access+'/laporan/surat-jalan/detail/'+uuid});
    })
  },
  methods: {
    DataTableSuratJalan() {
      var app = this;
      app.dt = $("#DataTableSuratJalan").DataTable({
        processing: true,
        serverSide: true,
        searching: false,
        scrollX: "99.99%",
        scrollY : "50vh",
        scrollCollapse: true,
        "order": [[ 0, 'desc' ]],
				"columnDefs": [
					{ 
							"targets": [ 9 ], //first column / numbering column
							"orderable": false, //set not orderable
					},
        ],
        lengthMenu: [
          [ 20, 50, 100, -1 ],
          [ '20 baris', '50 baris', '100 baris', 'Lihat Semua' ]
        ],
        ajax: {
          'url': '/api/certificate_release',
          'type': 'GET',
          'data': function(d) {
            d.created_at = app.suratJalanFilter.created_at,
						d.created_by = app.suratJalanFilter.created_by,
						d.customer_id = app.suratJalanFilter.customer_id,
						d.customer_name = app.suratJalanFilter.customer_name,
						d.id = app.suratJalanFilter.id,
						d.number = app.suratJalanFilter.number,
						d.sales_group_id = app.suratJalanFilter.sales_group_id,
						d.sales_group_name = app.suratJalanFilter.sales_group_name,
						d.sales_org_id = app.suratJalanFilter.sales_org_id,
						d.sales_org_name = app.suratJalanFilter.sales_org_name,
						d.status = app.suratJalanFilter.status,
						d.updated_at = app.suratJalanFilter.updated_at,
						d.updated_by = app.suratJalanFilter.updated_by,
						d.uuid = app.suratJalanFilter.uuid
          },
          'beforeSend': function (request) {
              var token = localStorage.getItem("default_auth_token");
              request.setRequestHeader("Authorization", "Bearer "+token);
              request.setRequestHeader("lang",  localStorage.getItem('app-lang'));
          }
        },
        columns: [
          {data: 'number', name: 'number'},
          {data: 'customer_id', name: 'customer_id'},
          {data: 'customer_name', name: 'customer_name'},
          {data: 'sales_group_name', name: 'sales_group_name'},
          {data: 'sales_org_id', name: 'sales_org_id'},
          {data: 'sales_org_name', name: 'sales_org_name'},
          {
            data: 'status',
            name: 'status',
            render: function(data, type, full) {
              const status = (data === 's') ? 'Submited' : '-';
              return status;
            }
          },
					{data: 'created_at', name: 'created_at', render: function(data, type, full){
              return app.convertDate(data)
					}},
					{data: 'updated_at', name: 'updated_at', render: function(data, type, full){
              return app.convertDate(data)
					}},
					{
            data: 'uuid',
            name: 'uuid',
            render: function(data, type, full) {
              const button = `<button type="button" id="detailList" data-uuid="${full.uuid}" class="btn btn-primary btn-sm">Detail</button>`;
              return button;
            }
          },
        ]
      })
      new $.fn.dataTable.FixedColumns(app.dt, {
          leftColumns: 1,
          rightColumns:1
      })
    },

    searchTable(obj) {
      this.suratJalanFilter = obj;
      this.dt.draw();
    },

		create(){
			this.modalForm = true;
		},

    triggerModal(params = false) {
      if(params === 'RefreshTable'){
        this.dt.draw();
      }
      this.modalForm = false;
      this.number = null;
    }

  }
}
</script>

<style media="screen">
  .DownloadSuratJalan {
    display: none !important;
  }
</style>
