<template lang="html">
  <div class="">
    <div class="modal fade" id="modalTableDetailPermentan" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Table Detail Permentan</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-12">
                <div class="pull-right">
                  <button :disabled="loading.changeStatus" type="button" class="btn btn-primary square" @click="action('n')" >
                    <i v-if="loading.changeStatus" class="fa fa-spin fa-refresh"></i>
                    Deaktif
                  </button>
                  <button :disabled="loading.changeStatus" type="button" class="btn btn-primary square" @click="action('y')" >
                    <i v-if="loading.changeStatus" class="fa fa-spin fa-refresh"></i>
                    Aktif
                  </button>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12  table-responsive">
                <table id="tableDetailPermentan" class="table table-xs table-bordered table-striped display nowrap">
                  <thead>
                    <tr>
                      <th>
                        <fieldset>
                          <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input check_all_permentan" value="all">
                            <span class="custom-control-indicator"></span>
                          </label>
                        </fieldset>
                      </th>
                      <th>Sales Org</th>
                      <th>No Permentan</th>
                      <th>Tahun</th>
                      <th>Provinsi</th>
                      <th>Produk</th>
                      <th>Januari</th>
                      <th>Februari</th>
                      <th>Maret</th>
                      <th>April</th>
                      <th>Mei</th>
                      <th>Juni</th>
                      <th>Juli</th>
                      <th>Agustus</th>
                      <th>September</th>
                      <th>Oktober</th>
                      <th>Nobember</th>
                      <th>Desember</th>
                      <th>Total</th>
                    </tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="modal-footer">
          </div>
        </div>
      </div>
    </div>
    <form-permentan v-if="formModal" :contractGovId="contractGovId" :uuid="uuid" :dataProvinsi="dataProvinsi" @trigger-modal="triggerModal"></form-permentan>
  </div>
</template>

<script>
import FormPermentan from './FormPermentan';
export default {
  data: function(){
    return {
      dt: null,
      loading: {
        changeStatus: false
      },
      dataProvinsi: {},
      check: [],
      uuid: null,
      contractGovId: null,
      formModal: false,
      formData: {
        uuid : '',
        sales_office_id : '',
        product_id : '',
        month : '',
        initial_qty : '',
        oldval : '',
      }
    }
  },
  components: {
    FormPermentan
  },
  mounted() {
    var app = this;
    $("#modalTableDetailPermentan").modal("show");
    $("#modalTableDetailPermentan").on("hidden.bs.modal", function(){
      app.closeModal();
    });
    $(document).on("click", ".check_all_permentan", function(e){
      $('.check_box_permentan').not(this).prop('checked', this.checked);
      $('.check_box_permentan').not(this).each(function(index, el) {
        var value = {id: $(this).val()};
        if(this.checked){
          if(value != 'all' && !app.check.includes(value)){
            app.check.push(value);
          }
        } else {
          app.check = [];
        }
      });
    })
    $(document).on("click", "#check_permentant", function(e){
      var value = {id: $(this).val()};
      if(this.checked){
        app.check.push(value);
      } else {
        app.removeA(app.check, value.id);
      }
    })
    $(document).on("click", "form", function(e){
      let form = $(this);
      app.formData.uuid = form.data("uuid");
      app.formData.sales_office_id = form.data("sales_office_id");
      app.formData.month = form.data("month");
      app.formData.product_id = form.data("product_id");
      app.formData.year = form.data("year");
      app.formData.oldval = form.data("oldval");
      form.find("input").show(() => {
        form.find("span").hide();
      })
    })
    $(document).on("submit", "form", function(e){
      e.preventDefault();
      const form = $(this);
      app.updateTable(form)
    })
    app.tableDetailPermentan();
  },
  methods: {
    numberFormat(value) {
      value = value.toString();
      return this.numberEngine(value)
    },
    numberEngine(n, c, d, t) {
      var c = isNaN(c = Math.abs(c)) ? 2 : c,
        d = d == undefined ? "," : d,
        t = t == undefined ? "." : t,
        s = n < 0 ? "-" : "",
        i = String(parseInt(n = Math.abs(Number(n) || 0).toFixed(c))),
        j = (j = i.length) > 3 ? j % 3 : 0;

      return s + (j ? i.substr(0, j) + t : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : "");
    },
    closeModal() {
      this.$emit("trigger-modal", true);
    },
    triggerModal() {
      this.formModal = false
      this.dt.draw();
      $("body").addClass('modal-open')
    },
    tableDetailPermentan() {
      var app = this;
      app.dt = $("#tableDetailPermentan").DataTable({
        processing: true,
        serverSide: true,
        searching: false,
        lengthMenu: [
          [ 20, 50, 100, -1 ],
          [ '20 baris', '50 baris', '100 baris', 'Lihat Semua' ]
        ],
        ajax : {
          'url': '/api/changeRequest/permentan/detail/'+app.$route.params.uuid,
          'type': 'GET',
          'beforeSend': function (request) {
              var token = localStorage.getItem("default_auth_token");
              request.setRequestHeader("Authorization", "Bearer "+token);
              request.setRequestHeader("lang",  localStorage.getItem('app-lang'));
          },
          data: function(d){}
        },
        "columnDefs": [
          { "orderable": false, "targets": 0 }
        ],
        columns :[
          {
            data: 'uuid_item',
            render: function(data, type, full) {
              const check = '<fieldset>'+
                              '<label class="custom-control custom-checkbox">'+
                                '<input type="checkbox" id="check_permentant" class="custom-control-input check_box_permentan" value="'+data+'">'+
                                '<span class="custom-control-indicator"></span>'+
                              '</label>'+
                            '</fieldset>';
              return check;
            }
          },
          {data: 'sales_org_id',name: 'sales_org_id'},
          {data: 'number',name: 'number'},
          {data: 'year', name: 'year'},
          {data: 'sales_office_name', name: 'sales_office_name'},
          {data: 'product_name', name: 'product_name'},
          {data: '1', name: '1', render: function(data, type, full){
            const dataId = 'data-uuid="'+full.uuid+'" data-year="'+full.year+'" data-oldval="'+data+'" data-sales_office_id="'+full.sales_office_id+'" data-product_id="'+full.product_id+'" data-month="1"';
            const html = '<form '+dataId+'>'+
                            '<div class="loading-form" style="display:none">Please Wait .. <i class="fa fa-spinner fa-spin"></i></div>'+
                            '<span>'+app.numberFormat(data)+'</span>'+
                            '<input type="number" style="display:none;" value="'+data+'" />'+
                         '</form>';
            return html
          }},
          {data: '2', name: '2', render: function(data, type, full){
            const html = '<form data-uuid="'+full.uuid+'" data-year="'+full.year+'" data-oldval="'+data+'" data-sales_office_id="'+full.sales_office_id+'" data-product_id="'+full.product_id+'" data-month="2">'+
                            '<div class="loading-form" style="display:none">Please Wait .. <i class="fa fa-spinner fa-spin"></i></div>'+
                            '<span>'+app.numberFormat(data)+'</span>'+
                            '<input type="number" style="display:none;" value="'+data+'" />'+
                         '</form>';
            return html
          }},
          {data: '3', name: '3', render: function(data, type, full){
            const html = '<form data-uuid="'+full.uuid+'" data-year="'+full.year+'" data-oldval="'+data+'" data-sales_office_id="'+full.sales_office_id+'" data-product_id="'+full.product_id+'" data-month="3">'+
                            '<div class="loading-form" style="display:none">Please Wait .. <i class="fa fa-spinner fa-spin"></i></div>'+
                            '<span>'+app.numberFormat(data)+'</span>'+
                            '<input type="number" style="display:none;" value="'+data+'" />'+
                         '</form>';
            return html
          }},
          {data: '4', name: '4', render: function(data, type, full){
            const html = '<form data-uuid="'+full.uuid+'" data-year="'+full.year+'" data-oldval="'+data+'" data-sales_office_id="'+full.sales_office_id+'" data-product_id="'+full.product_id+'" data-month="4">'+
                            '<div class="loading-form" style="display:none">Please Wait .. <i class="fa fa-spinner fa-spin"></i></div>'+
                            '<span>'+app.numberFormat(data)+'</span>'+
                            '<input type="number" style="display:none;" value="'+data+'" />'+
                         '</form>';
            return html
          }},
          {data: '5', name: '5', render: function(data, type, full){
            const html = '<form data-uuid="'+full.uuid+'" data-year="'+full.year+'" data-oldval="'+data+'" data-sales_office_id="'+full.sales_office_id+'" data-product_id="'+full.product_id+'" data-month="5">'+
                            '<div class="loading-form" style="display:none">Please Wait .. <i class="fa fa-spinner fa-spin"></i></div>'+
                            '<span>'+app.numberFormat(data)+'</span>'+
                            '<input type="number" style="display:none;" value="'+data+'" />'+
                         '</form>';
            return html
          }},
          {data: '6', name: '6', render: function(data, type, full){
            const html = '<form data-uuid="'+full.uuid+'" data-year="'+full.year+'" data-oldval="'+data+'" data-sales_office_id="'+full.sales_office_id+'" data-product_id="'+full.product_id+'" data-month="6">'+
                            '<div class="loading-form" style="display:none">Please Wait .. <i class="fa fa-spinner fa-spin"></i></div>'+
                            '<span>'+app.numberFormat(data)+'</span>'+
                            '<input type="number" style="display:none;" value="'+data+'" />'+
                         '</form>';
            return html
          }},
          {data: '7', name: '7', render: function(data, type, full){
            const html = '<form data-uuid="'+full.uuid+'" data-year="'+full.year+'" data-oldval="'+data+'" data-sales_office_id="'+full.sales_office_id+'" data-product_id="'+full.product_id+'" data-month="7">'+
                            '<div class="loading-form" style="display:none">Please Wait .. <i class="fa fa-spinner fa-spin"></i></div>'+
                            '<span>'+app.numberFormat(data)+'</span>'+
                            '<input type="number" style="display:none;" value="'+data+'" />'+
                         '</form>';
            return html
          }},
          {data: '8', name: '8', render: function(data, type, full){
            const html = '<form data-uuid="'+full.uuid+'" data-year="'+full.year+'" data-oldval="'+data+'" data-sales_office_id="'+full.sales_office_id+'" data-product_id="'+full.product_id+'" data-month="8">'+
                            '<div class="loading-form" style="display:none">Please Wait .. <i class="fa fa-spinner fa-spin"></i></div>'+
                            '<span>'+app.numberFormat(data)+'</span>'+
                            '<input type="number" style="display:none;" value="'+data+'" />'+
                         '</form>';
            return html
          }},
          {data: '9', name: '9', render: function(data, type, full){
            const html = '<form data-uuid="'+full.uuid+'" data-year="'+full.year+'" data-oldval="'+data+'" data-sales_office_id="'+full.sales_office_id+'" data-product_id="'+full.product_id+'" data-month="9">'+
                            '<div class="loading-form" style="display:none">Please Wait .. <i class="fa fa-spinner fa-spin"></i></div>'+
                            '<span>'+app.numberFormat(data)+'</span>'+
                            '<input type="number" style="display:none;" value="'+data+'" />'+
                         '</form>';
            return html
          }},
          {data: '10', name: '10', render: function(data, type, full){
            const html = '<form data-uuid="'+full.uuid+'" data-year="'+full.year+'" data-oldval="'+data+'" data-sales_office_id="'+full.sales_office_id+'" data-product_id="'+full.product_id+'" data-month="10">'+
                            '<div class="loading-form" style="display:none">Please Wait .. <i class="fa fa-spinner fa-spin"></i></div>'+
                            '<span>'+app.numberFormat(data)+'</span>'+
                            '<input type="number" style="display:none;" value="'+data+'" />'+
                         '</form>';
            return html
          }},
          {data: '11', name: '11', render: function(data, type, full){
            const html = '<form data-uuid="'+full.uuid+'" data-year="'+full.year+'" data-oldval="'+data+'" data-sales_office_id="'+full.sales_office_id+'" data-product_id="'+full.product_id+'" data-month="11">'+
                            '<div class="loading-form" style="display:none">Please Wait .. <i class="fa fa-spinner fa-spin"></i></div>'+
                            '<span>'+app.numberFormat(data)+'</span>'+
                            '<input type="number" style="display:none;" value="'+data+'" />'+
                         '</form>';
            return html
          }},
          {data: '12', name: '12', render: function(data, type, full){
            const html = '<form data-uuid="'+full.uuid+'" data-year="'+full.year+'" data-oldval="'+data+'" data-sales_office_id="'+full.sales_office_id+'" data-product_id="'+full.product_id+'" data-month="12">'+
                            '<div class="loading-form" style="display:none">Please Wait .. <i class="fa fa-spinner fa-spin"></i></div>'+
                            '<span>'+app.numberFormat(data)+'</span>'+
                            '<input type="number" style="display:none;" value="'+data+'" />'+
                         '</form>';
            return html
          }},
          {data: 'total', name: 'total'},
        ]
      })
      new $.fn.dataTable.FixedColumns(app.dt, {
          leftColumns: 2
      });
    },
    removeA(array, id) {
      var index = array.map(x => {
        return x.id;
      }).indexOf(id);
      array.splice(index, 1);
    },
    action(type) {
      event.preventDefault();
      this.loading.changeStatus = true;
      this.check = this.check.map(data => {
        return {id: data.id, status: type}
      })
      this.saveAction();
    },
    saveAction() {
      this.axios.post('permentan/update/bulk', this.check)
      .then((resp) => {
        toastr.success("Status berhasil di ubah", "Sukses")
        this.loading.changeStatus = false;
        this.dt.draw();
        this.check = [];
        $(".check_all_permentan").prop('checked', false);
      })
      .catch((resp) => {
        toastr.warning("Status gagal di ubah", "Gagal")
        toastr.error(resp.response.data.message, "Pesan")
        this.loading.changeStatus = false;
        this.check = [];
        $(".check_all_permentan").prop('checked', false);
      })
    },
    updateTable(form){
      var app = this
      form.find("input").hide(() => {
        form.find("div.loading-form").show();
      });
      let newVal = form.find("input").val();
      app.formData.initial_qty = newVal
      if (parseFloat(newVal) !== parseFloat(app.formData.oldval)) {
        app.axios.put('changeRequest/permentan/detail/'+app.formData.uuid, {
          sales_office_id : app.formData.sales_office_id,
          product_id : app.formData.product_id,
          month : app.formData.month,
          initial_qty : app.formData.initial_qty,
          year : app.formData.year,
        })
        .then((resp) => {
          toastr.success("Data di simpan", "Sukses");
          form.find("div.loading-form").hide(() => {
            form.find("span").show();
          });
          form.find("span").html(newVal);
        })
        .catch((resp) => {
          let msg = resp.response.data.message;
          const uuid = (msg.uuid) ? '<li>'+msg.uuid[0]+'</li>' : '';
          const sales_office_id = (msg.sales_office_id) ? '<li>'+msg.sales_office_id[0]+'</li>' : '';
          const product_id = (msg.product_id) ? '<li>'+msg.product_id[0]+'</li>' : '';
          const month = (msg.month) ? '<li>'+msg.month[0]+'</li>' : '';
          const initial_qty = (msg.initial_qty) ? '<li>'+msg.initial_qty[0]+'</li>' : '';
          const year = (msg.year) ? '<li>'+msg.year[0]+'</li>' : '';
          const result = '<ul>'+uuid+product_id+sales_office_id+month+initial_qty+year+'</ul>';
          toastr.error(result, "Gagal mengubah data");
          app.dt.draw()
        })
        app.resetForm()
      } else {
        setTimeout(function(){
          form.find("div.loading-form").hide(() => {
            form.find("span").show();
          });
        }, 1000)
        form.find("span").html(newVal);
      }
    },
    resetForm(){
      this.formData.uuid = ''
      this.formData.sales_office_id = ''
      this.formData.month = ''
      this.formData.product_id = ''
      this.formData.year = ''
      this.formData.oldval = ''
    }
  }
}
</script>

<style lang="css" scoped>
</style>
