<template lang="html">
  <div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group pull-right">
          <button v-if="access.C === true" type="button"  @click="showFormUpload = !showFormUpload" class="btn btn-primary square" name="button">
            <i class="fa fa-upload"></i> Upload
          </button>
          <a href="/template-excel/spjb-asal/Template_SPJB_Asal.xls" target="_blank" class="btn btn-primary square" name="button">
            <i class="fa fa-download"></i> Download Template
          </a>
          <button type="button" @click="downloadExcel()" class="btn btn-primary square" name="button">
            <i class="fa fa-download"></i> Download
          </button>
          <!-- <button type="button" @click="pocDownloadExcel()" class="btn btn-danger square" name="button">
            <i class="fa fa-download"></i> Mas Khafit
          </button> -->
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 table-responsive">
        <table id="tableSpjbAsal" class="table table-xs table-bordered table-striped display nowrap">
          <thead>
            <spjb-asal-filter @search-table="searchTable"></spjb-asal-filter>
            <tr>
              <th>NO. SPJB</th>
              <th>Tahun</th>
              <th>Distributor</th>
              <th>Produsen</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
    <spjb-asal-upload v-if="showFormUpload" @trigger-modal="triggerModal()"></spjb-asal-upload>
  </div>
</template>

<script>
import SpjbAsalUpload from './SpjbAsalUpload';
import SpjbAsalFilter from './SpjbAsalFilter';
export default {
  props: ['access'],
  data: function() {
    return {
      showFormUpload: false,
      dt: null,
      spjbAsal: {}
    }
  },
  components: {
    SpjbAsalUpload, SpjbAsalFilter
  },
  mounted() {
    var app = this;
    app.getData();
    $(document).on("click", "#toDetail", function(e){
      e.preventDefault()
      const uuid = encodeURIComponent($(this).data("uuid"))
      const id = encodeURIComponent($(this).data("id"))
      var access = app.$route.params.access;
      app.$router.push({path: '/'+encodeURIComponent(access)+'/alokasi/spjb/asal/detail/'+uuid+'/'+id});
    })
  },
  methods: {
    triggerModal() {
      this.showFormUpload = false;
      this.dt.draw();
    },
    downloadExcel(){
      $(".downloadSpjbAsal").trigger('click');
    },
    // pocDownloadExcel() {
    //   this.axios({
    //     url: 'spjbopr/download/E15B3520-E3D7-485D-8328-2F056A8D2F69',
    //     method: 'GET',
    //     responseType: 'blob', // important
    //   }).then((response) => {
    //      const url = window.URL.createObjectURL(new Blob([response.data]));
    //      const link = document.createElement('a');
    //      link.href = url;
    //      link.setAttribute('download', 'masKhafit.xlsx'); //or any other extension
    //      document.body.appendChild(link);
    //      link.click();
    //   })
    // },
    getData() {
      var app = this;
      // return true;
      this.dt = $("#tableSpjbAsal").DataTable({
        processing: true,
        serverSide: true,
        searching: false,
        "order": [[ 1, 'desc' ]],
        lengthMenu: [
          [ 20, 50, 100, -1 ],
          [ '20 baris', '50 baris', '100 baris', 'Lihat Semua' ]
        ],
        "dom": 'Bltrip',
        "buttons": [
          {
            extend: 'excel',
            className: 'btn-danger square mb-1 downloadSpjbAsal',
            text: "Download SPJB Asal",
            title:"",
            filename:"SPJB-ASAL"
          }
        ],
        ajax : {
          'url': '/api/spjb',
          'type': 'GET',
          'beforeSend': function (request) {
              var token = localStorage.getItem("default_auth_token");
              request.setRequestHeader("Authorization", "Bearer "+token);
              request.setRequestHeader("lang",  localStorage.getItem('app-lang'));
          },
          data: function(d){
            d.no_doc = app.spjbAsal.number
            d.year = app.spjbAsal.year
            d.customer_name = app.spjbAsal.customer_name
            d.sales_org_name = app.spjbAsal.sales_org_name
            d.status = app.spjbAsal.status_name
          }
        },
        columns :[
          {
            data: 'no_doc',
            render: function(data, type, full) {
              var access = encodeURIComponent(app.$route.params.access);
              const link = `<a href="/#/${access}/alokasi/spjb/asal/detail/${full.uuid}/${full.id}">${data}</a>`
              return link;
            }
          },
          {data: 'year', name: 'year'},
          {data: 'customer_name', name: 'customer_name'},
          {data: 'sales_org_name', name: 'sales_org_name'},
          {data: 'status_name', name: 'status_name'}
        ]
      })
    },
    searchTable(obj) {
      this.spjbAsal = obj;
      this.dt.draw();
    }
  }
}
</script>

<style media="screen">
  div.dt-buttons {
    float: right !important;
    display: none;
  }
</style>
