<template>
  <footer class="footer footer-static footer-light navbar-border">
    <p class="clearfix blue-grey lighten-2 text-sm-center mb-0 px-2">
      <span class="float-md-left d-block d-md-inline-block">
        Copyright  &copy; 2018
         <a href="#" target="_blank" class="text-bold-800 grey darken-2">
           SISI - PIHC
         </a>, All rights reserved.
       </span>
     </p>
  </footer>
</template>
<script>
  export default {

  }
</script>
<style media="screen">
  body footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
</style>
