<template>
  <div class="modal fade" id="formLintasAlur" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form @submit="save">
          <div class="modal-header">
            <h4 class="modal-title">Form Lintas Alur</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body">
            <div v-if="!loading.edit" class="row">
              <div class="col-md-12">
                <div class="form-group row">
                  <label class="col-md-3 label-control" >Produsen </label>
                  <div class="col-md-9">
                    <multiselect
                      v-model="temp.produsen"
                      :options="get.produsen"
                      track-by="id"
                      :custom-label="nameWithId"
                      :searchable="true" :close-on-select="true"
                      :show-labels="false"
                      :placeholder="(loading.produsen === false) ? 'Pilih Produsen..' : 'Memuat ..'"
                      :disabled="true"
                      >
                    </multiselect>
                    <p v-if="error && errors.sales_org_id" class="text-danger">{{ errors.sales_org_id[0] }}</p>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group row">
                  <label class="col-md-3 label-control" >Status Config </label>
                   <div class="col-md-9">
                    <multiselect
                      v-model="temp.config_lintas_alur"
                      :options="get.status_alur"
                      track-by="id"
                      label="name"                  
                      :searchable="true" :close-on-select="true"
                      :show-labels="false"                      
                      >
                    </multiselect>
                    <p v-if="error && errors.config_lintas_alur" class="text-danger">{{ errors.config_lintas_alur[0] }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary square" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary square" :disabled="loading.button">
              <i v-if="loading.button" class="fa fa-spin fa-refresh"></i>
              Simpan
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>
<script>
import Vue from 'vue';
import Multiselect from 'vue-multiselect';
import FormLoader from '../../../main/FormLoader';
export default {
    props: ['uuid','orgname','orgid','orgstatus','orgstatusname'],
    data: function() {
        return {
        error: false,
        errors: {},
        loading: {
            produsen: false,
            button: false,
            edit: false
        },
        temp: {
            produsen:[{id:this.orgid,name:this.orgname}],
            config_lintas_alur:[{id:this.orgstatus,name:this.orgstatusname}]
        },
        get: {
            status_alur: [ { id: '1', name: 'True' },{ id: '0', name: 'False' }],
            produsen:[{id:this.orgid,name:this.orgname}]
        },
        input: {
           config_lintas_alur:''
        }
        }
    },
    components: {
      Multiselect,
      FormLoader
    },
    created() {
        // this.getDataProdusen()
    },
     mounted() {
      let app = this;
      $("#formLintasAlur").modal("show")
      $("#formLintasAlur").on("hidden.bs.modal", function(){
        app.closeModal()
      })
     
    },
    methods: {

        prepareData() {
          this.input.config_lintas_alur = (this.temp.config_lintas_alur != null) ? this.temp.config_lintas_alur.id : '';
        },

        save() {
          event.preventDefault()
          this.prepareData()
          this.loading.button = true
          this.axios.put('configlintasalur/'+this.uuid, this.input)
          .then((resp) => {
            toastr.success(resp.data.message)
            $("#formLintasAlur").modal("hide")
            this.loading.button = false
          })
          .catch((resp) => {
            toastr.error(resp.response.data.message)
            this.error = true
            this.errors = resp.response.data.message
            this.loading.button = false
          })
        },
        nameWithId ({ id,  name}) {
          return `${id} — ${name}`
        },
        closeModal() {
          this.$emit('trigger-modal');
        }
    }
}
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style lang="css" scoped>
</style>