<template>
    <div>
        <div class="row">
            <div class="col-md-12">
                <div class="pull-right">
                <button type="button" @click="download" :disabled="loadBtnDownload" class="btn btn-primary square"><i class="fa fa-download"></i> Download </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table id="pengecerProdusenTable" style="width: 100%;" class="table table-xs table-bordered table-striped nowrap">
                        <thead>
                            <tr>
                                <th>Kode Produsen</th>
                                <th>Nama Produsen</th>
                                <th>Status</th>
                                <th>Aksi</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
        <modal-edit v-if="showModal" :paramsEdit="paramsEdit" @trigger-modal="closeModal"></modal-edit>
    </div>
</template>

<script>
import ModalEdit from './ModalEdit'
export default {
    props: ['access'],
    data: () => {
        return {
            dt: null,
            loadBtnDownload: false,
            showModal: false,
            salesorg: {},
            paramsEdit: {
                id: null,
                name: null,
                status: null
            }
        }
    },
    components: {
        ModalEdit
    },
    mounted() {
        const app = this;
        app.pengecerProdusenTable();
        $(document).on("click", ".ubahStatus", function(e) {
            e.preventDefault();
            const id = $(this).data("id")
            const name = $(this).data("name")
            const status = $(this).data("status")
            app.showModal = true
            app.paramsEdit.id = id
            app.paramsEdit.name = name
            app.paramsEdit.status = status
        })
    },
    methods: {
        download() {
            // $(".DownloadPeriodeTanam").trigger("click")
            this.loadBtnDownload = true;
            this.axios({
                url: 'salesorg/download',
                params: {
                    id: this.salesorg.id,
                    name: this.salesorg.name,
                    status: this.salesorg.status
                },
                method: 'GET',
                responseType: 'blob', // important
            }).then((response) => {
                const url = window.URL.createObjectURL(new Blob([response.data]));
                const link = document.createElement('a');
                link.href = url;
                link.setAttribute('download', 'Download Pengecer Produsen.xls'); //or any other extension
                document.body.appendChild(link);
                link.click();
                this.loadBtnDownload = false;
            })
            .catch((resp) => {
                toastr.error("Gagal Download File", "Gagal") ;
                this.loadBtnDownload = false;      
            })
        },
        closeModal() {
            this.showModal = false
            this.paramsEdit = { id: null, name: null, status: null}
            this.dt.draw();
        },
        pengecerProdusenTable() {
            const app = this;
            this.dt = $("#pengecerProdusenTable").DataTable({
                processing: true,
                serverSide: true,
                searching: true,
                scrollX: "99.99%",
                "order": [[ 0, 'asc' ]],
                lengthMenu: [
                    [ 20, 50, 100, -1 ],
                    [ '20 baris', '50 baris', '100 baris', 'Lihat Semua' ]
                ],
                ajax: {
                    'url': 'api/salesorg',
                    'type': 'GET',
                    'beforeSend': function (request) {
                        var token = localStorage.getItem("default_auth_token");
                        request.setRequestHeader("Authorization", "Bearer "+token);
                        request.setRequestHeader("lang",  localStorage.getItem('app-lang'));
                    },
                },
                columns: [
                    {data: 'id', name: 'id'},
                    {data: 'name', name: 'name'},
                    {data: 'status', name: 'status'},
                    {data: 'id', name: 'id', render: (d,t,f) => {
                        let button = ''
                        if(app.access.U === true) {
                            button = '<button class="ubahStatus btn btn-primary btn-sm square edit" data-id="'+d+'" data-name="'+f.name+'" data-status="'+f.status+'"><i class="fa fa-pencil"></i>  Edit</button>';
                             // '<a href="#" id="ubahStatus" data-id="${f.id}" data-name="${f.name}" data-status="${f.status}" >Ubah</a>';
                        }
                        return button;
                    }},
                ]
            })
        }
    }
}
</script>

<style>

</style>
