<template lang="html">
  <div>
    <form-loader :view="loaderAnimate"></form-loader>
    <div v-if="loaderAnimate === false">
      <div class="row">
          <div class="col-2">
            No <br>
            Produsen <br>
            Periode Tahun
          </div>
          <div class="col-4">
            {{ dataDetailPerbup.perbup_no }} <br>
            {{ dataDetailPerbup.sales_org_name }} <br>
            {{ dataDetailPerbup.year }} <br>
          </div>
          <div class="col-md-6">
          <div class="form-group pull-right">
            <button type="button" class="btn btn-danger square" @click="goBack()" ><i class="fa fa-chevron-circle-left"></i> Kembali</button>
            <button v-if="access.U === true" type="button" @click="showEdit" class="btn btn-primary square">
              <i class="fa fa-pencil"></i>
              Edit SK Dinas Kab
            </button>
            <button type="button"class="btn btn-primary square" @click="renderExcel()" name="button"> <i class="fa fa-download"></i> Download</button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="table-responsive">
            <table id="perbupDetailTable" class="table table-xs table-bordered display nowrap">
              <thead>
                <tr>
                  <th></th>
                  <th class="pinned">Provinsi/Kabupaten/Kecamatan/Produk</th>
                  <th v-for="(data, i) in dateYear"> {{ data }} </th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody>
                <template v-for="(prov, i) in dataDetailPerbup.provinsi">
                  <prov-row :prov="prov" @toggle-collapse-kab="toggleCollapseKab" :icon="(collapse.kab.includes(prov.id)) ? true : false"></prov-row>
                  <template v-if="collapse.kab.includes(prov.id)" v-for="(kab, i) in prov.kabupaten">
                    <kab-row :kab="kab" @toggle-collapse-kec="toggleCollapseKec" :icon="(collapse.kec.includes(kab.id)) ? true : false"></kab-row>
                    <template v-if="collapse.kec.includes(kab.id)" v-for="(kec, i) in kab.kecamatan">
                      <kec-row :kec="kec" @toggle-collapse-prod="toggleCollapseProd" :icon="(collapse.prod.includes(kec.id)) ? true : false"></kec-row>
                      <template v-if="collapse.prod.includes(kec.id)" v-for="(prod, i) in kec.product">
                        <prod-row :prod="prod"></prod-row>
                      </template>
                    </template>
                  </template>
                  <tr>
                    <th>
                      <i @click="toggleCollapseTot(prov.id)" class="buttonCollapse fa" :class="(collapse.tot.includes(prov.id)) ? 'fa-minus' : 'fa-plus'"></i>
                    </th>
                    <th colspan="15" style="padding-left: 4rem">TOTAL PRODUK</th>
                  </tr>
                  <template  v-if="collapse.tot.includes(prov.id)" v-for="(tot, i) in prov.totals">
                    <tot-row :tot="tot"></tot-row>
                  </template>
                </template>

              </tbody>
            </table>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-6">
          <div class="mr-1 mb-1 pull-left">
            <b>Legend : &nbsp; </b> 
            <div class="badge round" style="background-color:black;"> &nbsp;&nbsp; </div> Active &nbsp;
            <div class="badge round" style="background-color:red"> &nbsp;&nbsp; </div> Not Active &nbsp;
          </div>
        </div>
      </div>
      <form-perbup v-if="showModalForm" @trigger-modal="triggerModal" :dataProvinsi="dataProvinsi" :dataKabupaten="dataKabupaten" :id="dataDetailPerbup.provinsi[0].perbup_id"></form-perbup>
      <table-perbup :access="access" v-if="showModalTable" @trigger-modal="triggerModal"></table-perbup>
    </div>
  </div>
</template>

<script>
import Form from './modal/Form';
import Table from './modal/Table';
import ProvRow from '../table-setting/ProvRow';
import KabRow from '../table-setting/KabRow';
import KecRow from '../table-setting/KecRow';
import ProdRow from '../table-setting/ProdRow';
import TotRow from '../table-setting/TotRow';
import FormLoader from '../../../main/FormLoader';

export default {
  props: ['access'],
  data: function() {
    return {
        loaderAnimate: false,
        showModalForm: false,
        showModalTable: false,
        dateYear: ['Januari', 'Februari', 'Maret', 'April', 'Mei', 'Juni', 'Juli', 'Agustus', 'September', 'Oktober', 'November', 'Desember'],
        dataDetailPerbup: {},
        dataProvinsi: {},
        dataKabupaten: {},
        collapse:{
          kab : [],
          kec: [],
          prod : [],
          tot: []
        }
    }
  },
  components: {
    formPerbup : Form,
    tablePerbup : Table,
    ProvRow, KabRow, KecRow, ProdRow, TotRow, FormLoader
  },
  created() {
    this.getData();
  },
  mounted() {
    var app = this;
    $(document).ready(function() {
      app.setFixed()
    });
  },
  methods: {
    showEdit(){
      var app = this
      var access = app.$route.params.access;
      app.$router.push({path: '/'+encodeURIComponent(access)+'/alokasi/alokasi-kecamatan/detail/edit-table/'+app.$route.params.uuid+'/'+app.$route.params.year});
    },
    renderExcel() {
      event.preventDefault();
      this.axios({
        url: 'perbup/export?uuid='+this.$route.params.uuid,
        method: 'GET',
        responseType: 'blob'
      })
      .then((response) => {
         const url = window.URL.createObjectURL(new Blob([response.data]));
         const link = document.createElement('a');
         link.href = url;
         link.setAttribute('download', 'PERBUP-ITEM-.xls');
         document.body.appendChild(link);
         link.click();
      })
      .catch((resp) => {
        toastr.error('Data Permentan Items not Found');
      })
    },
    numberFormat(value) {
      value = value.toString();
      return this.numberEngine(value)
    },
    numberEngine(n, c, d, t) {
      var c = isNaN(c = Math.abs(c)) ? 2 : c,
        d = d == undefined ? "," : d,
        t = t == undefined ? "." : t,
        s = n < 0 ? "-" : "",
        i = String(parseInt(n = Math.abs(Number(n) || 0).toFixed(c))),
        j = (j = i.length) > 3 ? j % 3 : 0;

      return s + (j ? i.substr(0, j) + t : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : "");
    },
    triggerModal(refresh = false) {
      this.showModalForm = false
      this.showModalTable = false
      if(refresh === true){
        this.getData()
      }
    },
    getData() {
      this.loaderAnimate = true;
      axios.get('perbup/detail/'+this.$route.params.uuid)
      .then((resp) => {
        this.dataDetailPerbup = resp.data.data
        this.dataProvinsi = {
          id: resp.data.data.provinsi[0].id,
          name: resp.data.data.provinsi[0].name,
        }
        this.dataKabupaten = {
          id: resp.data.data.provinsi[0].kabupaten[0].id,
          name: resp.data.data.provinsi[0].kabupaten[0].name
        }
        this.setCollapseShow();
        this.loaderAnimate = false;
      })
      .catch((resp) => {
        toastr.error(resp.response, 'error');
        this.loaderAnimate = false;
      })
    },
    setCollapseShow(){
      this.dataDetailPerbup.provinsi.map((prov) => {
        this.collapse.kab.push(prov.id)
        prov.kabupaten.map((kab) => {
          this.collapse.kec.push(kab.id)
          kab.kecamatan.map((kec) => {
            this.collapse.prod.push(kec.id)
          })
          // kab.product.map((prod) => {
          //   this.collapse.tot.push(prod.id)
          // })
        })
        this.collapse.tot.push(prov.id)
      })

      // this.collapse.tot.push(1)

    },
    toggleCollapseKab(id) {
      const index = this.collapse.kab.indexOf(id);
      if (index > -1) {
      	this.collapse.kab.splice(index, 1)
      } else {
      	this.collapse.kab.push(id)
      }
    },
    toggleCollapseKec(id) {
      const index = this.collapse.kec.indexOf(id);
      if (index > -1) {
      	this.collapse.kec.splice(index, 1)
      } else {
      	this.collapse.kec.push(id)
      }
    },
    toggleCollapseProd(id) {
      const index = this.collapse.prod.indexOf(id);
      if (index > -1) {
      	this.collapse.prod.splice(index, 1)
      } else {
      	this.collapse.prod.push(id)
      }
    },
    toggleCollapseTot(id) {
      const index = this.collapse.tot.indexOf(id);
      if (index > -1) {
      	this.collapse.tot.splice(index, 1)
      } else {
      	this.collapse.tot.push(id)
      }
    },
    setFixed() {
      // var $table = $('#perbupDetailTable');
      // var $fixedColumn = $table.clone().insertBefore($table).addClass('fixed-column');
      //
      // $fixedColumn.find('th,td').not('.pinned').remove();
      //
      // $fixedColumn.find('tr').each(function (i, elem) {
      //   $(this).height($table.find('tr:eq(' + i + ')').height());
      // });
    },
    tableToExcel(table, name, filename) {
      // alert('cuk'); return;
      let uri = 'data:application/vnd.ms-excel;base64,',
      template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><title></title><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--><meta http-equiv="content-type" content="text/plain; charset=UTF-8"/></head><body><table>{table}</table></body></html>',
      base64 = function(s) { return window.btoa(decodeURIComponent(encodeURIComponent(s))) },         format = function(s, c) { return s.replace(/{(\w+)}/g, function(m, p) { return c[p]; })}

      if (!table.nodeType) table = document.getElementById(table)
      var ctx = {worksheet: name || 'Worksheet', table: table.innerHTML}

      var link = document.createElement('a');
      link.download = filename;
      link.href = uri + base64(format(template, ctx));
      link.click();
    },
    goBack(){
      var access = this.$route.params.access;
      this.$router.push({path: '/'+encodeURIComponent(access)+'/alokasi/alokasi-kecamatan'});
    }
  }
}
</script>

<style lang="css" scoped>
  /* .table-responsive>.fixed-column {
    position: absolute;
    display: inline-block;
    width: auto;
    border-right: 1px solid #ddd;
  } */
  /* @media(min-width:768px) {
    .table-responsive>.fixed-column {
        display: none;
    }
  } */
  .buttonCollapse{
    cursor: pointer;
  }
</style>
