<template lang="html">
  <transition name="custom-classes-transition" enter-active-class="animated fadeIn">
    <div class="content-wrapper">
      <div class="content-header row">
        <div class="content-header-left col-md-6 col-12 mb-1">
          <h3 class="content-header-title">Permintaan Penebusan</h3>
        </div>
        <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-12">
          <div class="breadcrumb-wrapper col-12">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Transaksi</a>
              </li>
              <li class="breadcrumb-item active">Permintaan Penebusan
              </li>
            </ol>
          </div>
        </div>
      </div>
      <div class="content-body">
        <section class="row">
          <div class="col-sm-12">
            <div class="card">
              <div class="card-content collapse show">
                <div class="card-body">
                  <div class="card-header" >
                    <div class="row" >
                      <div class="col-sm-12">
                        <!-- <router-link :to="{name:'penebusan_baru'}" class="nav-link"></router-link> -->
                          <ul class="nav nav-pills nav-pill-toolbar">
                            <li class="nav-item">
                              <div class="card-title">
                                <div v-if="urlPage === 'permintaan_penebusan' || urlPage === 'penebusan_baru'" >
                                  <b>1. PENEBUSAN </b>
                                  <small class="text-muted"> >> &nbsp;&nbsp;&nbsp; </small>
                                </div>
                                <div v-else>
                                  <small>1. PENEBUSAN </small>
                                  <small class="text-muted"> >> &nbsp;&nbsp;&nbsp; </small>
                                </div>
                              </div>
                            </li>
                            <li class="nav-item">
                              <div class="card-title">
                                <div v-if="urlPage === 'item_penebusan'">
                                  <b>2. ITEM PENEBUSAN </b>
                                  <small class="text-muted"> >> &nbsp;&nbsp;&nbsp; </small>
                                </div>
                                <div v-else>
                                  <small>2. ITEM PENEBUSAN </small>
                                  <small class="text-muted"> >> &nbsp;&nbsp;&nbsp; </small>
                                </div>
                              </div>
                            </li>
                            <li class="nav-item">
                              <div class="card-title">
                                <div v-if="urlPage === 'checkout_penebusan'">
                                  <b>3. CHECKOUT </b>
                                </div>
                                <div v-else>
                                  <small>3. CHECKOUT </small>
                                </div>
                              </div>
                            </li>
                          </ul>
                          <hr>
                      </div>
                    </div>
                  </div>
                  <penebusan></penebusan>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
     </div>
  </transition>
</template>

<script>
import Penebusan from '../order/step-1/Penebusan';
export default {
  data: function() {
    return {
      access: {},
      urlPage: this.$route.name,
    }
  },
  components: {
    Penebusan
  },
}
</script>

<style lang="css">
</style>
