<template>
  <div class="modal fade" id="bankDfForm" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="">Form Bank DF </h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group row">
                <label class="col-md-3">Distributor</label>
                <div class="col-md-9">
                  <input type="text" class="form-control" readonly v-model="bank.full_name">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3">Produsen</label>
                <div class="col-md-9">
                  <multiselect
                    v-model="bankTemp.sales_org_id"
                    :options="produsen"
                    track-by="id"
                    :custom-label="produsenWithId"
                    :searchable="true" :close-on-select="true"
                    :show-labels="false"
                    :disabled="isDisabled"
                  >
                  </multiselect>
                  <p class="text-danger" v-if="error && errors.sales_org_id">{{errors.sales_org_id[0]}}</p>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3">Bank</label>
                <div class="col-md-9">
                  <fieldset v-for="(data, i) in bankMaster">
                    <label class="custom-control custom-radio">
                      <input :disabled="isDisabled" type="radio" class="custom-control-input" v-model="bank.bank_id" :value="data.id">
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description">{{ data.name }}</span>
                    </label>
                  </fieldset>
                  <p class="text-danger" v-if="error && errors.bank_id">{{errors.bank_id[0]}}</p>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3">Tanggal Mulai</label>
                <div class="col-md-9">
                  <input type="date" :disabled="isDisabled" class="form-control" v-model="bank.start_date"
                  :class="{'is-invalid' : error && errors.start_date}"
                  >
                  <p class="text-danger" v-if="error && errors.start_date">{{errors.start_date[0]}}</p>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3">Tanggal Akhir</label>
                <div class="col-md-9">
                  <input type="date" :disabled="isDisabled" class="form-control" v-model="bank.end_date"
                  :class="{'is-invalid' : error && errors.end_date}"
                  >
                  <p class="text-danger" v-if="error && errors.end_date">{{errors.end_date[0]}}</p>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3">Status</label>
                <div class="col-md-9">
                  <select class="form-control" :disabled="isDisabled" :class="{'is-invalid' : error && errors.status}" v-model="bank.status">
                    <option value="">Pilih Status</option>
                    <option  v-for="(data, i) in status" :value="data.id">{{ data.name }}</option>
                  </select>
                  <p class="text-danger" v-if="error && errors.status">{{errors.status[0]}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
          <button  v-if="!isDisabled" type="button" @click="saveForm()" class="btn btn-primary" :disabled="loading">
            <i :class="(loading) ? 'fa fa-spin fa-refresh' : '' "></i>
            {{ (loading) ? 'Menyimpan..' : 'Submit '}}
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Multiselect from 'vue-multiselect';

export default {
  props:['getid'],
  data: function() {
    return {
      isDisabled: false,
      errors: {},
      error: false,
      loading: false,
      id_distributor: this.$route.params.id,
      bank:{
        full_name: null,
        customer_id: null,
        sales_org_id: null,
        bank_id: null,
        start_date: null,
        end_date: null,
        status: ''
      },
      bankTemp:{
        sales_org_id: null
      },
      bankMaster: [
        {name: 'Mandiri', id: 'BMRI'},
        {name: 'BRI ', id: 'BBRI'},
        {name: 'BNI ', id: 'BBNI'}
      ],
      status: [
        {id: 'y', name: 'active'},
        {id: 'n', name: 'inactive'},
      ],
      produsen: []
    }
  },
  created() {
    this.getDistributorByUuid();
  },
  components: {
    Multiselect
  },
  mounted() {
    var app = this;
    $("#bankDfForm").modal("show");
    $("#bankDfForm").on("hidden.bs.modal", function(){
      app.closeModal();
    })
    if(app.getid != null){
      app.getBankDfByUuid();
    }
  },
  methods: {
    closeModal() {
      this.$emit("trigger-modal");
    },
    getDistributorByUuid() {
      this.axios.get('distributor/id/'+this.$route.params.id)
      .then((resp) => {
        this.bank.customer_id = resp.data.data.id;
        this.bank.full_name = resp.data.data.full_name;
        this.getProdusen();
      })
      .catch((resp) => {
        toastr.error(resp.response.exception, 'error');
      })
    },
    produsenWithId ({ id,  name}) {
      return `${id} — ${name}`
    },
    getProdusen() {
      this.axios.get('company/produsen', {
        params:{
          // customer_id: this.bank.customer_id
        }
      })
      .then((resp) => {
        this.produsen = resp.data.data;
      })
      .catch((resp) => {
        toastr.error(resp.response.exception, 'error');
      })
    },
    getBankDfByUuid() {
      this.axios.get('bankdf/id/'+this.getid)
      .then((resp) => {
        this.bank.customer_id = resp.data.data[0].customer_id
        this.bank.sales_org_id = resp.data.data[0].sales_org_id
        this.bank.bank_id = resp.data.data[0].bank_id
        this.bank.start_date = resp.data.data[0].start_date.split('-').reverse().join('-')
        this.bank.end_date = resp.data.data[0].end_date.split('-').reverse().join('-')
        this.bank.status = resp.data.data[0].status
        this.bankTemp.sales_org_id = {id: resp.data.data[0].sales_org_id, name: resp.data.data[0].sales_org_name}
        if (this.bank.status === 'y') {
          this.isDisabled = true
        } else {
          this.isDisabled = false
        }
      })
      .catch((resp) => {
        toastr.error(resp.response.data.exception, 'error');
      })
    },
    saveForm() {
      // console.log(this.getid);
      this.loading = true;
      this.bank.sales_org_id = (this.bankTemp.sales_org_id != null) ? this.bankTemp.sales_org_id.id : null;
      if(this.getid !== null) {
        this.axios.put('bankdf/'+this.getid, this.bank)
        .then((resp) => {
          toastr.success('Data tersimpan', 'Sukses')
          $("#bankDfForm").modal("hide");
        })
        .catch((resp) => {
          toastr.error(resp.response.data.exception, 'error');
          toastr.error(resp.response.data.message, 'error');
          this.error = true;
          this.errors = resp.response.data.message;
        })
        .then((resp) => {
          this.loading = false;
        })
      } else {
        this.axios.post('bankdf', this.bank)
        .then((resp) => {
          toastr.success('Data tersimpan', 'Sukses')
          $("#bankDfForm").modal("hide");
        })
        .catch((resp) => {
          toastr.error(resp.response.data.exception, 'error');
          toastr.error(resp.response.data.message, 'error');
          this.error = true;
          this.errors = resp.response.data.message;
        })
        .then((resp) => {
          this.loading = false;
        })
      }
    }
  }
}
</script>

<style lang="css">
</style>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
