<template>
    <tr class="filter">
        <th class="headerSo-nomor-sales-order">
            <input type="text" v-on:keyup="search()" v-model="paramsFilter.nomor_sales_order" class="form-control form-control-sm headerSo_nomor_sales_orderVal" >
        </th>
        <th></th>
        <th>
            <input type="text" v-on:keyup="search()" v-model="paramsFilter.sales_organization" class="form-control form-control-sm" >
        </th>
        <th></th>
        <th></th>
        <th></th>
        <th>
            <input type="text" v-on:keyup="search()" v-model="paramsFilter.deskripsi_sales_office" class="form-control form-control-sm" >
        </th>
        <th></th>
        <th>
            <input type="text" v-on:keyup="search()" v-model="paramsFilter.deskripsi_sales_group" class="form-control form-control-sm" >
        </th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th>
            <input type="text" v-on:keyup="search()" v-model="paramsFilter.distributor" class="form-control form-control-sm" >
        </th>
        <th>
            <input type="text" v-on:keyup="search()" v-model="paramsFilter.nama_distributor" class="form-control form-control-sm" >
        </th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th>
            <input type="text" v-on:keyup="search()" v-model="paramsFilter.tanggal_so_dibuat" class="form-control form-control-sm" >
        </th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th>
            <input type="text" v-on:keyup="search()" v-model="paramsFilter.incoterm_1" class="form-control form-control-sm" >
        </th>
        <th>
            <input type="text" v-on:keyup="search()" v-model="paramsFilter.incoterm_2" class="form-control form-control-sm" >
        </th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
</template>

<script>
export default {
    props: ['reset', 'userId'],
    data: () => {
        return {
            uriName: '',
            paramsFilter: {
                nomor_sales_order: null,
                sales_organization: null,
                deskripsi_sales_office: null,
                deskripsi_sales_group: null,
                distributor: null,
                nama_distributor: null,
                tanggal_so_dibuat: null,
                incoterm_1: null,
                incoterm_2: null
            }
        }
    },
    watch: {
		reset: function(val){
			if(val === true) {
				this.resetFilter();
			}
		}
    },
    mounted() {
        var app = this;
        this.uriName = this.userId+'_'+'search_'+this.$route.name;
        // console.log("--"+this.userId);
        $(document).ready(function() {
            const getLocalSearch = JSON.parse(localStorage.getItem(app.uriName));
            setTimeout(() => {
                if (getLocalSearch !== null) {
                    app.paramsFilter = getLocalSearch;
                    $(".headerSo_nomor_sales_orderVal").val(app.paramsFilter.nomor_sales_order)
                    app.$emit("search-table", app.paramsFilter);
                }
            },1000)
        });
        $(document).on("keyup", ".headerSo_nomor_sales_orderVal", function(){
            app.paramsFilter.nomor_sales_order = $(this).val();
            app.search();
        })
    },
    methods: {
        search() {
            event.preventDefault();
            localStorage.setItem(this.uriName, JSON.stringify(this.paramsFilter));
            this.$emit('search-table', this.paramsFilter)
        },
        resetFilter(){
            this.clearFilter(this.$route.name, this.paramsFilter);
            $( ".headerSo-nomor-sales-order" ).html( '<input type="text" class="form-control form-control-sm headerSo_nomor_sales_orderVal" />' );
            $(".headerSo_nomor_sales_orderVal").val(this.paramsFilter.nomor_sales_order)
            this.search();
        }
    }
}
</script>

<style>

</style>
