<template>
  <div>
    <div class="row">
      <div class="col-md-12">
        <index-filter :type="'header'" @search-form="searchForm"></index-filter>
      </div>
    </div>
    <div :style="isHide ? 'display:none;' : ''" class="row">
      <div class="col-md-12">
        <div class="pull-right">
          <button class="btn btn-primary square" @click="download" :disabled="loadBtnDownload" > <i class="fa fa-download"></i> Download</button>
        </div>
      </div>
    </div>
    <div :style="isHide ? 'display:none;' : ''" class="row">
      <div class="col-md-12">
        <div class="table-responsive">
          <table
            id="headerLaporanSo"
            class="table table-xs table-bordered table-striped display nowrap"
            style="width:100%;"
          >
            <thead>
                <header-laporan-so-filter :userId="$auth.user().id" :reset="resetStatus" @search-table="searchTable"></header-laporan-so-filter>
                <columns-component></columns-component>
            </thead>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {columns} from './columns';
// import {search} from './searchFunction';
import ColumnsComponent from './ColumnsComponent'
import IndexFilter from '../global-filter/IndexFilter'
import HeaderLaporanSoFilter from './HeaderLaporanSoFilter'
export default {
  props: [],
  data: function() {
    return {
      dt: null,
      isHide: true,
      resetStatus: false,
      params: {},
      loadBtnDownload:false
    };
  },
  components: { ColumnsComponent, IndexFilter, HeaderLaporanSoFilter },
  created() {},
  mounted() {
    var app = this;
    console.log(this.$auth.user().id);
    this.headerLaporanSo();
    $("div.dataTables_length").append(' <button id="resetFilterHeaderSo" class="btn btn-sm btn-danger square"><i class="fa fa-times"></i> Reset Filter</button>');

    $(document).on("click", "#resetFilterHeaderSo", function(e){
      e.preventDefault()
      app.resetStatus = true;
      $('#resetFilterHeaderSo').prop('disabled', true);

      setTimeout(() => {
        app.resetStatus = false;
        $('#resetFilterHeaderSo').prop('disabled', false);
      }, 1000)
    })
  },
  methods: {
    // download() {
    //     $(".downloadHeaderLaporanSo").trigger('click')
    // },

    download() {
      // $(".downloadF5").trigger('click');
       this.loadBtnDownload = true;
        this.axios({
          url: 'reportso/header/export',
          params: {
            sales_organization : this.params.sales_organization,
            nomor_sales_order : this.params.nomor_sales_order,
            distributor : this.params.distributor,
            nama_distributor : this.params.nama_distributor,
            tanggal_so_dibuat : this.params.tanggal_so_dibuat,
            tanggal_pgi : this.params.tanggal_pgi,
            kode_gudang : this.params.kode_gudang,
            sales_group : this.params.sales_group,
            deskripsi_sales_group : this.params.deskripsi_sales_group,
            sales_office : this.params.sales_office,
            deskripsi_sales_office : this.params.deskripsi_sales_office,
            material_id : this.params.material_id,
            incoterm_1 : this.params.incoterm_1,
            incoterm_2 : this.params.incoterm_2,
          },
          method: 'GET',
          responseType: 'blob', // important
        }).then((response) => {
           const url = window.URL.createObjectURL(new Blob([response.data]));
           const link = document.createElement('a');
           link.href = url;
           link.setAttribute('download', 'Download Header Laporan SO.xls'); //or any other extension
           document.body.appendChild(link);
           link.click();
           this.loadBtnDownload = false;
        })
        .catch((resp) => {
          toastr.error("Gagal Download File", "Gagal") ;
          this.loadBtnDownload = false;      
        })
    },

    searchTable(params) {
      console.log(params);
      Object.assign(this.params, {
          nomor_sales_order: params.nomor_sales_order,
          sales_organization: params.sales_organization,
          deskripsi_sales_office: params.deskripsi_sales_office,
          deskripsi_sales_group: params.deskripsi_sales_group,
          distributor: params.distributor,
          nama_distributor: params.nama_distributor,
          tanggal_so_dibuat: params.tanggal_so_dibuat,
          incoterm_1: params.incoterm_1,
          incoterm_2: params.incoterm_2
      });
      this.dt.draw();
    },
    searchForm(params) {
      this.params = {
        sales_organization: params.transaksi.produsen,
        nomor_sales_order: params.transaksi.no_so,
        distributor: params.transaksi.customer,
        tanggal_so_dibuat: params.transaksi.tanggal_so,
        tanggal_pgi: params.transaksi.tanggal_pgi,
        kode_gudang: params.transaksi.kode_plant,
        sales_group: params.wilayah.kabupaten,
        sales_office: params.wilayah.provinsi,
        material_id: params.produk.produk
      };
      this.isHide = false
      this.dt.draw();
    },
    headerLaporanSo() {
      const app = this;
      app.dt = $("#headerLaporanSo").DataTable({
        processing: true,
        serverSide: true,
        searching: false,
        scrollX: "99.99%",
        lengthMenu: [
          [ 20, 50, 100, -1 ],
          [ '20 baris', '50 baris', '100 baris', 'Lihat Semua' ]
        ],
        "dom": 'Bltrip',
        "buttons": [
          {
            extend: 'excel',
            className: 'btn-danger square mb-1 downloadHeaderLaporanSo',
            text: "Download",
            title:"",
            filename:"Download-header-laporan-so"
          }
        ],
        ajax: {
            url: 'api/reportso/header',
            type: 'POST',
            data: function(d) {
              d.sales_organization = app.params.sales_organization
              d.nomor_sales_order = app.params.nomor_sales_order
              d.distributor = app.params.distributor
              d.nama_distributor = app.params.nama_distributor
              d.tanggal_so_dibuat = app.params.tanggal_so_dibuat
              d.tanggal_pgi = app.params.tanggal_pgi
              d.kode_gudang = app.params.kode_gudang
              d.sales_group = app.params.sales_group
              d.deskripsi_sales_group = app.params.deskripsi_sales_group
              d.sales_office = app.params.sales_office
              d.deskripsi_sales_office = app.params.deskripsi_sales_office
              d.material_id = app.params.material_id
              d.incoterm_1 = app.params.incoterm_1
              d.incoterm_2 = app.params.incoterm_2
            },
            beforeSend: function (request) {
                var token = localStorage.getItem("default_auth_token");
                request.setRequestHeader("Authorization", "Bearer "+token);
                request.setRequestHeader("lang",  localStorage.getItem('app-lang'));
            }
        },
        columns: columns
      });
      new $.fn.dataTable.FixedColumns(app.dt, {
          leftColumns: 1
      });
    }
  }
};
</script>

<style lang="css">
    .downloadHeaderLaporanSo{
        display: none !important;
    }
    .colomn-hide {
      display: none;
    }
</style>
