<template lang="html">
  <transition name="custom-classes-transition" enter-active-class="animated fadeIn">
    <div class="content-wrapper">
      <div class="content-header row">
        <div class="content-header-left col-md-6 col-12 mb-1">
          <h3 class="content-header-title">Level Header Laporan SO</h3>
        </div>
        <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-12">
          <div class="breadcrumb-wrapper col-12">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Laporan</a>
              </li>
              <li class="breadcrumb-item active">Level Header Laporan SO
              </li>
            </ol>
          </div>
        </div>
      </div>
      <div class="content-body">
        <section class="row">
            <div class="col-sm-12">
                <div id="kick-start" class="card">
                    <div class="card-content collapse show">
                        <div class="card-body">
                            <header-laporan-so-component :access="access"></header-laporan-so-component>
                        </div>
                    </div>
                </div>
            </div>
        </section>   
      </div>
     </div>
  </transition>
</template>

<script>
import HeaderLaporanSoComponent from './HeaderLaporanSoComponent.vue';
export default {
  data: function() {
    return {
      access: {}
    }
  },
  components: {
    HeaderLaporanSoComponent
  },
  created() {
    const encodeAccess = decodeURIComponent(this.$route.params.access);
    const decodeAccess = this.toText(this.decrypt(encodeAccess));
    const arrAccess = decodeAccess.split(",");
    if(arrAccess) {
      arrAccess.map((data) => {
        if(data === 'C' || data === 'R' || data === 'U' || data === 'D' || data === 'A') {
          this.access[data] = true
        } else {
          this.$router.push({path: '/home'});
          toastr.error('Permission can not open this page', 'Error');
        }
      })
    } else {
      this.$router.push({path: '/home'});
      toastr.error('Permission can not open this page', 'Error');
    }
  },
}
</script>
<style media="screen">

</style>
