<template>
  <transition name="custom-classes-transition" enter-active-class="animated fadeInDown" leave-active-class="animated fadeOutUp">
    <tr @click="setCollapse(kecamatan.id)" style="background-color: #eee;" >

      <td class="head side-left" nowrap>{{kecamatan.name}}</td>
      <template v-for="(totalKec, i) in kecamatan.total.awal">
        <td></td>
      </template>
      <template v-for="(totalKec, i) in kecamatan.total.penebusan">
        <td></td>
      </template>
      <template v-for="(totalKec, i) in kecamatan.total.penyaluran">
        <template v-for="(prod, i) in product">
          <td v-if="totalKec.id === prod.id" class="blue">{{ numberFormat(totalKec.qty) }}</td>
        </template>
      </template>
      <template v-for="(totalKec, i) in kecamatan.total.akhir">
        <td></td>
      </template>
    </tr>
  </transition>
</template>

<script>
export default {
  props: ['kecamatan', 'icon', 'status', 'product'],
  data: function() {
    return {

    }
  },
  methods: {
    setCollapse(id) {
      this.$emit('toggle-collapse-kecamatan', id);
    },
    numberFormat(value) {
      value = parseFloat(value).toFixed(3).toString();
      return this.numberEngine(value)
    },
    numberEngine(angka, prefix){
			var number_string = angka.replace(/[^,\d]/g, ','),
			split   		= number_string.split(','),
			sisa     		= split[0].length % 3,
			numb     	  = split[0].substr(0, sisa),
			ribuan     	= split[0].substr(sisa).match(/\d{3}/gi);
 
			// tambahkan titik jika yang di input sudah menjadi angka ribuan
			if(ribuan){
				var separator = sisa ? '.' : '';
				numb += separator + ribuan.join('.');
			}
 
			numb = split[1] != undefined ? numb + ',' + split[1] : numb;
			return prefix == undefined ? numb : (numb ? 'Rp. ' + numb : '');
		}
  }
}
</script>

<style lang="css" scoped>
.buttonCollapse{
  cursor: pointer;
}

.blue {
  background-color: #d9edf7;
  color: #777 !important;
}

tr {
  cursor: pointer;
}
td {
  background-color: #f7f7f7 !important;
  font-weight: bold !important;
}
.fix1.empty {
  color: #eee;
}
</style>
