<template lang="html">
  <transition name="custom-classes-transition" enter-active-class="animated fadeInDown" leave-active-class="animated fadeOutUp">
    <tr>
      <td class="head side-left" nowrap>
        <span data-toggle="tooltip" data-placement="top" title="" :data-original-title="pengecer.retail_code+' - '+pengecer.name">{{ pengecer.name }}</span>
      </td>
      <template v-for="(totalPengecer, i) in pengecer.data.awal">
        <td></td>
      </template>
      <template v-for="(totalPengecer, i) in pengecer.data.penebusan">
        <td></td>
      </template>
      <template v-for="(totalPengecer, i) in pengecer.data.penyaluran">
        <template v-for="(prod, i) in product">
          <td v-if="totalPengecer.id === prod.id" class="blue">{{ numberFormat(totalPengecer.qty) }}</td>
        </template>
      </template>
      <template v-for="(totalPengecer, i) in pengecer.data.akhir">
        <td></td>
      </template>
    </tr>
  </transition>
</template>

<script>
export default {
  props: ['pengecer', 'status', 'product'],
  data: function() {
    return {}
  },
  components: {

  },
  created() {

  },
  mounted() {
    $('[data-toggle="tooltip"]').tooltip();
  },
  methods: {
    setCollapse(id) {
      this.$emit('toggle-collapse-pengecer', id);
    },
    numberFormat(value) {
      value = parseFloat(value).toFixed(3).toString();
      return this.numberEngine(value)
    },
    numberEngine(angka, prefix){
			var number_string = angka.replace(/[^,\d]/g, ','),
			split   		= number_string.split(','),
			sisa     		= split[0].length % 3,
			numb     	  = split[0].substr(0, sisa),
			ribuan     	= split[0].substr(sisa).match(/\d{3}/gi);
 
			// tambahkan titik jika yang di input sudah menjadi angka ribuan
			if(ribuan){
				var separator = sisa ? '.' : '';
				numb += separator + ribuan.join('.');
			}
 
			numb = split[1] != undefined ? numb + ',' + split[1] : numb;
			return prefix == undefined ? numb : (numb ? 'Rp. ' + numb : '');
		}
  }

}
</script>

<style lang="css" scoped>
.blue {
  background-color: #d9edf7;
  color: #777 !important;
}
.fix1.empty {
  color: #eee;
}
</style>
