<template>
  <div class="modal fade" id="createSoManual" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Create Clearing Manual</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group row">
                <label class="col-md-3 label-control" >Kode Booking </label>
                <div class="col-md-9">
                  <input type="text" class="form-control" v-model="sendData.booking_code">
                  <p v-if="error && errors.booking_code" class="text-danger">{{ errors.booking_code[0] }}</p>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 label-control" >Pengirim </label>
                <div class="col-md-9">
                  <input type="text" class="form-control" v-model="sendData.sender">
                  <p v-if="error && errors.sender" class="text-danger">{{ errors.sender[0] }}</p>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 label-control" >Bank </label>
                <div class="col-md-9">
                  <multiselect
                    :disabled="isDisabled"
                    v-model="tempData.bank"
                    :options="getData.bank"
                    track-by="id"
                    :custom-label="bankWithNameId"
                    :searchable="true" :close-on-select="true"
                    :show-labels="false"
                    :placeholder="(loading.bank === false) ? 'Pilih Bank..' : 'Memuat ..'"
                    >
                  </multiselect>
                  <p v-if="error && errors.bank_id" class="text-danger">{{ errors.bank_id[0] }}</p>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 label-control" >Tanggal Pembayaran </label>
                <div class="col-md-9">
                  <input type="date" class="form-control" v-model="sendData.payment_date">
                  <p v-if="error && errors.payment_date" class="text-danger">{{ errors.payment_date[0] }}</p>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 label-control" >Amount </label>
                <div class="col-md-9">
                  <input type="text" @keyup="moneyFormat" v-model="tempData.amount" class="form-control">
                  <p v-if="error && errors.amount" class="text-danger">{{ errors.amount[0] }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary square" data-dismiss="modal">Tutup</button>
          <button type="button" @click="save" class="btn btn-primary square" :disabled="loading.button">
             <i v-if="loading.button" class="fa fa-spin fa-refresh"></i> Submit
           </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import Vue from 'vue';
  import Multiselect from 'vue-multiselect';
  export default {
    props: [],
    data: function() {
      return {
        isDisabled: false,
        error: false,
        errors: {},
        sendData: {
          booking_code: null,
          sender: null,
          bank_id: null,
          payment_date: null,
          amount: null,
        },
        tempData: {
          bank: null,
          amount: null
        },
        getData: {
          bank: []
        },
        loading: {
          bank: false,
          button: false
        }
      }
    },
    components: {
      Multiselect
    },
    created() {
      this.getDataBank()
    },
    mounted() {
      let app = this
      $("#createSoManual").modal("show");
      $("#createSoManual").on("hidden.bs.modal", function(){
        app.closeModal()
      })
    },
    methods: {

      save() {
        this.loading.button = true
        this.sendData.bank_id = (this.tempData.bank != null) ? this.tempData.bank.id : '';
        this.axios.post('manualso', this.sendData)
        .then((resp) => {
          let data = resp.data;
          toastr.success(data.message)
          $("#createSoManual").modal("hide")
          this.loading.button = false
          if(data.hasOwnProperty('amount')) {
            toastr.warning(data.amount)
          }
        })
        .catch((resp) => {
          let data = resp.response.data;

          const msg = resp.response.data.message;
          const amount = (msg.amount) ? '<li>'+msg.amount[0]+'</li>' : '';
          const bank_id = (msg.bank_id) ? '<li>'+msg.bank_id[0]+'</li>' : '';
          const booking_code = (msg.booking_code) ? '<li>'+msg.booking_code[0]+'</li>' : '';
          const payment_date = (msg.payment_date) ? '<li>'+msg.payment_date[0]+'</li>' : '';
          const sender = (msg.sender) ? '<li>'+msg.sender[0]+'</li>' : '';

          var html = amount+amount+bank_id+booking_code+payment_date+sender+booking_code;
          toastr.error('<ul>'+html+'</ul>', 'Create SO Manual gagal ');

          this.error = true
          this.errors = data.message
          this.loading.button = false
        })
      },

      bankWithNameId({ id,  name}) {
        return `${id} — ${name}`
      },
      getDataBank() {
        this.loading.bank = true
        this.axios.get('bank')
        .then((resp) => {
          this.getData.bank = resp.data.data
          this.loading.bank = false
        })
        .catch((resp) => {
          toastr.error(resp.response.data.message)
          this.loading.bank = false
        })
      },

      moneyFormat() {
        this.sendData.amount = event.target.value.replace(/\D/g, "")
        this.tempData.amount = this.formatRupiah(this.tempData.amount, "Rp. ")
      },

      formatRupiah(angka, prefix) {

        var separator;
      	var number_string = angka.replace(/[^,\d]/g, '').toString(),
      	split   		= number_string.split(','),
      	sisa     		= split[0].length % 3,
      	rupiah     		= split[0].substr(0, sisa),
      	ribuan     		= split[0].substr(sisa).match(/\d{3}/gi);
      	if(ribuan){
      		separator = sisa ? '.' : '';
      		rupiah += separator + ribuan.join('.');
      	}
      	rupiah = split[1] != undefined ? rupiah + ',' + split[1] : rupiah;
      	return prefix == undefined ? rupiah : (rupiah ? 'Rp. ' + rupiah : '');
      },

      closeModal() {
        this.$emit("trigger-modal");
      }
    }
  }

  Vue.directive('restrict', {
    bind (el, binding) {
      el.addEventListener('keydown', (e) => {
        // delete, backpsace, tab, escape, enter,
        let special = [46, 8, 9, 27, 13]
        if (binding.modifiers['decimal']) {
          // decimal(numpad), period
          special.push(110, 190)
        }
        // special from above
        if (special.indexOf(e.keyCode) !== -1 ||
          // Ctrl+A
          (e.keyCode === 65 && e.ctrlKey === true) ||
          // Ctrl+C
          (e.keyCode === 67 && e.ctrlKey === true) ||
          // Ctrl+X
          (e.keyCode === 88 && e.ctrlKey === true) ||
          // home, end, left, right
          (e.keyCode >= 35 && e.keyCode <= 39)) {
          return // allow
        }
        if ((binding.modifiers['alpha']) &&
          // a-z/A-Z
          (e.keyCode >= 65 && e.keyCode <= 90)) {
          return // allow
        }
        if ((binding.modifiers['number']) &&
          // number keys without shift
          ((!e.shiftKey && (e.keyCode >= 48 && e.keyCode <= 57)) ||
          // numpad number keys
          (e.keyCode >= 96 && e.keyCode <= 105))) {
          return // allow
        }
        // otherwise stop the keystroke
        e.preventDefault() // prevent
      }) // end addEventListener
    } // end bind
  }) // end directive

</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style lang="css" scoped>
</style>
