<template>
  <div>
    <div class="modal fade" id="uploadExcelModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Upload data</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="">Upload Data {{title}}</label>
              <input type="file" ref="file" class="form-control" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" @change="handleFileUpload()">
              <p class="help-block">File harus berformat xlsx</p>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
            <button type="button" v-if="checktype == true" class="btn btn-primary" :disabled="loading" @click="uploadSave()">
              <i v-if="loading" class="fa fa-spin fa-refresh"></i>
              Start Upload
            </button>
           </div>
         </div>
       </div>
     </div>
  </div>
</template>

<script>
import axiosx from 'axios';
// import dummyJson from '../../../../../../../public/fakes/example.json'
export default {
  props: ['title'],
  data: function(){
    return {
      showFormUpload: false,
      excelFile: '',
      file: '',
      loading: false,
      checktype: true,
      dataUpload: [],
      error: false,
      errors: {},
      modalType: null
    }
  },
  created() {
    axios.interceptors.request.use((config) => {
      this.loading = true;
      return config;
    }, (error) => {
      this.loading = false;
      return Promise.reject(error);
    });

    axios.interceptors.response.use((response) => {
      this.loading = false;
      return response;
    }, (error) => {
      this.loading = false;
      return Promise.reject(error);
    });
  },
  mounted(){
    var app = this;
    $("#uploadExcelModal").modal("show");
    $('#uploadExcelModal').on('hidden.bs.modal', function () {
      app.closeModal();
    })
  },
  components:{
    // formUpload
  },
  methods:{
    closeModal() {
      this.$emit("trigger-modal-upload", 'RefreshTable');
    },
    uploadSave() {
      event.preventDefault();
      let app = this;
      let formData = new FormData();
      formData.append('file', app.excelFile);
      // console.log(dummyJson.data);

      // const err = dummyJson.data;
      // let baris = 0;
      // err.map((dtx, key) => {
      //   let data = dtx;
      //   console.log(dtx);
      //   if(data){
      //     let msg = data.messages;
      //     baris = key+1;
      //     const kode_kecamatan = (msg.kode_kecamatan) ? '<li>'+msg.kode_kecamatan[0]+'</li>' : '';
      //     const kode_kotakabupaten = (msg.kode_kotakabupaten) ? '<li>'+msg.kode_kotakabupaten[0]+'</li>' : '';
      //     const kode_provinsi = (msg.kode_provinsi) ? '<li>'+msg.kode_provinsi[0]+'</li>' : '';
      //     const no_order = (msg.no_order) ? '<li>'+msg.no_order[0]+'</li>' : '';
      //     const no_so = (msg.no_so) ? '<li>'+msg.no_so[0]+'</li>' : '';
      //     const total_harga = (msg.total_harga) ? '<li>'+msg.total_harga[0]+'</li>' : '';
      //     const status_so = (msg.status_so) ? '<li>'+msg.status_so[0]+'</li>' : '';
      //     toastr.error(
      //       '<ul>'+
      //         kode_kecamatan+
      //         kode_kotakabupaten+
      //         kode_provinsi+
      //         no_order+
      //         no_so+
      //         total_harga+
      //         status_so+
      //       '</ul>',
      //       'Mohon Periksa Baris Ke : '+baris
      //     )
      //   }
      // })

      axios.post('order/upload', formData, {headers : {'Content-Type' : 'multipart/form-data'}})
      .then((resp) => {
        toastr.success('Succes Uploaded', 'Import excel');
        $("#uploadExcelModal").modal("hide");
        app.error = false;
      })
      .catch((resp) => {
        toastr.error(resp.response.data.message, "Erorr");
        if(resp.response.data.message.file){
          toastr.error(resp.response.data.message.file[0], "Erorr");
        }
        let err = (typeof resp.response.data.data !== 'undefined') ? resp.response.data.data : [];
        let baris = 0;
        if(err.length > 0){
          err.map((datax, key) => {
            if(datax.messages)
            {
              const kode_kecamatan = (datax.messages.kode_kecamatan) ? '<li>'+datax.messages.kode_kecamatan[0]+'</li>' : '';
              const kode_kotakabupaten = (datax.messages.kode_kotakabupaten) ? '<li>'+datax.messages.kode_kotakabupaten[0]+'</li>' : '';
              const kode_provinsi = (datax.messages.kode_provinsi) ? '<li>'+datax.messages.kode_provinsi[0]+'</li>' : '';
              const no_order = (datax.messages.no_order) ? '<li>'+datax.messages.no_order[0]+'</li>' : '';
              const no_so = (datax.messages.no_so) ? '<li>'+datax.messages.no_so[0]+'</li>' : '';
              const total_harga = (datax.messages.total_harga) ? '<li>'+datax.messages.total_harga[0]+'</li>' : '';
              const status_so = (datax.messages.status_so) ? '<li>'+datax.messages.status_so[0]+'</li>' : '';
              const pembeli = (datax.messages.pembeli) ? '<li>'+datax.messages.pembeli[0]+'</li>' : '';
              const items = (datax.messages.items) ? '<li>'+datax.messages.items[0]+'</li>' : '';
              const no_spjb = (datax.messages.no_spjb) ? '<li>'+datax.messages.no_spjb[0]+'</li>' : '';
                    toastr.error(
                      '<ul>'+
                        kode_kecamatan+
                        kode_kotakabupaten+
                        kode_provinsi+
                        no_order+
                        no_so+
                        total_harga+
                        status_so+
                        pembeli+
                        items+
                        no_spjb+
                      '</ul>',
                      'Mohon Periksa Baris Ke : '+(key+1)
                    )
            }
          })
        }
      })
    },
    triggerModal() {
      this.showFormUpload = false;
      $("#uploadExcelModal").modal("hide");
    },
    handleFileUpload(){
      if (this.$refs.file.files[0] != '') {
        this.checkfile(this.$refs.file.files[0]);
        // console.log(this.$refs.file.files[0]);
        this.excelFile = this.$refs.file.files[0];
        this.file = this;
      }
    },
    checkfile(sender) {
        var validExts = new Array(".xlsx", ".xls");
        var fileExt = sender.name;
        fileExt = fileExt.substring(fileExt.lastIndexOf('.'));
        if (validExts.indexOf(fileExt) < 0) {
          alert("Invalid file selected, valid files are of " +
                   validExts.toString() + " types.");
          this.checktype = false;
        }
        else this.checktype = true;
    }
  }
}
</script>

<style lang="css">
</style>
