<template >
  <tr class="filter">
    <th class="stokf6-sales-org-name">
      <input type="text" class="form-control form-control-md stokf6_sales_org_nameVal">
    </th>
    <th class="stokf6-customer-name">
      <input type="text" class="form-control form-control-md stokf6_customer_nameVal">
    </th>
    <th></th>
    <!-- <th></th> -->
    <th>
      <provinsi :reset="reset" ref="filterProvComponent" @get-selected-prov="searchProv" />
    </th>
    <th>
      <kabupaten :sales_office="f6Filter.sales_office_id" :reset="reset" ref="filterKabComponent" @get-selected-kab="searchKab" />
    </th>
    <th>
      <input type="text" v-on:keyup="search()" v-model="f6Filter.retail_code" class="form-control form-control-md">
    </th>
    <th>
      <input type="text" v-on:keyup="search()" v-model="f6Filter.retail_name" class="form-control form-control-md">
    </th>
    <th>
      <month :reset="reset" :checkedMonth="f6Filter.month" @get-month="searchMonth"></month>
    </th>
    <th>
      <year :reset="reset" @get-year="searchYear" :type="type"></year>
    </th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <!-- <th colspan="3"></th> -->
  </tr>
</template>

<script>
import Provinsi from '../../filter/Provinsi';
import Kabupaten from '../../filter/Kabupaten';
import Year from '../../filter/Year';
import Month from '../../filter/Month';

export default {
  props: ['reset'],
  data: function() {
    return {
      type: 'validYear', 
      uriName: this.$auth.user().id+'_'+'search_'+this.$route.name,
      f6Filter: {
        sales_org_name: null,
        customer_name: null,
        sales_office_name: null,
        sales_office_id: null,
        sales_group_name: null,
        sales_group_id: null,
        retail_code: null,
        retail_name: null,
        month: null,
        year: null
      }
    }
  },
  components: {
    Provinsi, Kabupaten, Year, Month
  },
  created() {

  },
  watch: {
		reset: function(val){
			if(val === true) {
				this.resetFilter();
			}
		}
	},
  mounted() {
    var app = this;
    const getLocalSearch = JSON.parse(localStorage.getItem(app.uriName));
    setTimeout(() => {
        if (getLocalSearch !== null) {
            app.f6Filter = getLocalSearch;
            $(".stokf6_sales_org_nameVal").val(app.f6Filter.sales_org_name);
            $(".stokf6_customer_nameVal").val(app.f6Filter.customer_name);
            app.$emit("search-table", app.f6Filter);
        }
    },1000)
    $(document).on("keyup", ".stokf6_sales_org_nameVal", function(){
      app.f6Filter.sales_org_name = $(this).val();
      app.search();
    })
    $(document).on("keyup", ".stokf6_customer_nameVal", function(){
      app.f6Filter.customer_name = $(this).val();
      app.search();
    })
  },
  methods: {
    searchYear(date = '') {
      if (date != '') {
        if (date != '') {
          this.f6Filter.year = {
            certain: (date.name === 'validYear' && date.dateType === 'certain') && date.data.from,
            from: (date.name === 'validYear' && date.dateType === 'range') && date.data.from,
            to: (date.name === 'validYear' && date.dateType === 'range') && date.data.to
          }
        } else {
          this.f6Filter.year = ''
        }
        this.search()
      }
    },
    searchMonth(obj) {
      var month = obj.join(';')
      this.f6Filter.month = month
      this.search()
    },
    searchProv(dataProv) {
      var arr = dataProv.map(data => {
        return data.id;
      })
      var sales_office = arr.join(";");
      this.f6Filter.sales_office_id = sales_office;
      this.search();
    },
    searchKab(dataKab) {
      var arr = dataKab.map(data => {
        return data.id;
      })
      var sales_group = arr.join(";");
      this.f6Filter.sales_group_id = sales_group;
      this.search();
    },
    search() {
      event.preventDefault()
      localStorage.setItem(this.uriName, JSON.stringify(this.f6Filter));
      this.$emit("search-table", this.f6Filter)
    },
    resetFilter(){
      this.clearFilter(this.$route.name, this.f6Filter);
      $( ".stokf6-sales-org-name" ).html( '<input type="text" class="form-control form-control-md stokf6_sales_org_nameVal" />' );
      $( ".stokf6-customer-name" ).html( '<input type="text" class="form-control form-control-md stokf6_customer_nameVal" />' );
      $(".stokf6_sales_org_nameVal").val(this.f6Filter.sales_org_name);
      $(".stokf6_customer_nameVal").val(this.f6Filter.customer_name);
      this.search();
    }
  }

}
</script>

<style lang="css" scoped>
</style>
