<template lang="html">
  <div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group pull-right">
          <button v-if="access.C === true" type="button" @click="showFormUpload = !showFormUpload" class="btn btn-primary square" name="button">
            <i class="fa fa-upload"></i> Upload
          </button>
          <button type="button" @click="download()" :disabled="loadBtnDownload" class="btn btn-primary square" name="button">
            <i class="fa fa-download"></i> Download
          </button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 table-responsive">
        <table id="tableSpjbOp" class="table table-xs table-bordered table-striped display nowrap" width="100%">
          <thead>
            <spjb-op-filter :reset="resetStatus" @search-table="searchTable"></spjb-op-filter>
            <tr>
              <th>
                <fieldset>
                  <label class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input check_all" value="all">
                    <span class="custom-control-indicator"></span>
                  </label>
                </fieldset>
              </th>
              <th>NO. SPJB</th>
              <th>Tahun</th>
              <th>Distributor</th>
              <th>Produsen</th>
              <th>Tanggal Buat</th>
              <th>Tanggal Ganti</th>
              <th>Status</th>
              <th>Aksi</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
    <div  v-if="accessComponent.A" class="row scroll-top">
         <div class="col-md-12">
          <div class="btn-group mr-1 mb-1 pull-right dropup">
            <button type="button" :disabled="loading.changeStatus" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i v-if="loading.changeStatus" class="fa fa-spin fa-refresh"></i>
              Aksi
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" @click="action('n')" href="#">Inactived</a>
            </div>
          </div>
        </div>
    </div>
    <spjb-op-upload v-if="showFormUpload" @trigger-modal="triggerModal()"></spjb-op-upload>
    <modal-confirm v-if="confirm.show" :uuid="confirm.uuid" :text="confirm.text" @trigger-modal="triggerModal()" @is-delete="downloadPdf"></modal-confirm>
  </div>
</template>

<script>
import ModalConfirm from '../../../global/ModalConfirm';
import SpjbOpUpload from './SpjbOpUpload';
import SpjbOpFilter from './SpjbOpFilter';
export default {
  props: ['access'],
  data: function() {
    return {
      showFormUpload: false,
      resetStatus: false,
      dt: null,
      spjbOp: {},
      check: [],
      loading:{
        changeStatus: false
      },
      loadBtnDownload:false,
      accessComponent: (this.access != undefined) ? this.access : {},
      confirm: {
        show: false,
        uuid: null,
        text: null,
        no_doc: null
      }
    }
  },
  components: {
    SpjbOpUpload, SpjbOpFilter, ModalConfirm
  },
  created() {
    if(this.access === undefined) {
      const encodeAccess = decodeURIComponent(this.$route.params.access);
      const decodeAccess = this.toText(this.decrypt(encodeAccess));
      const arrAccess = decodeAccess.split(",");
      console.log(this.access);
      if(arrAccess) {
        arrAccess.map((data) => {
          if(data === 'C' || data === 'R' || data === 'U' || data === 'D' || data === 'A') {
            this.accessComponent[data] = true
          } else {
            this.$router.push({path: '/home'});
            toastr.error('Tidak mempunyai akses halaman ini', 'Error');
          }
        })
      } else {
        this.$router.push({path: '/home'});
        toastr.error('Tidak mempunyai akses halaman ini', 'Error');
      }
    }
  },
  mounted() {
    var app = this;
    app.getData();
    $("div.dataTables_length").append(' <button id="resetFilterSpjbOpr" class="btn btn-sm btn-danger square"><i class="fa fa-times"></i> Reset Filter</button>');

    $(document).on("click", "#resetFilterSpjbOpr", function(e){
      e.preventDefault()
      app.resetStatus = true;
      $('#resetFilterSpjbOpr').prop('disabled', true);

      setTimeout(() => {
        app.resetStatus = false;
        $('#resetFilterSpjbOpr').prop('disabled', false);
      }, 1000)
    })
    $(document).on("click", "#downloadSpjbOpr", function(e){
      e.preventDefault();
      let uuid = $(this).data("uuid");
      app.openModal(uuid);
      app.confirm.no_doc = $(this).data("no_doc")
    });

    $(document).on("click", "#toDetail", function(e){
      e.preventDefault();
      let id = $(this).data("id")
      let uuid = $(this).data("uuid")
      var access = app.$route.params.access;
      app.$router.push({path: '/'+encodeURIComponent(access)+'/alokasi/spjb/operasional/detail/'+uuid+'/'+id});
    })

    $(document).on("click", ".check_all", function(e){
        $('.check_box_table').not(this).prop('checked', this.checked);
        $('.check_box_table').not(this).each(function(index, el) {
          var value = {id: $(this).val()};
          if(this.checked){
            if(value != 'all' && !app.check.includes(value)){
              app.check.push(value);
            }
          } else {
            app.check = [];
          }
        });
      })

    $(document).on("click", "#check", function(e){
      var value = {id: $(this).val()};
      if(this.checked){
        app.check.push(value);
      } else {
        app.removeA(app.check, value.id);
      }
    })

  },
  methods: {
    validDateCreate(obj) {
      if(obj.created_at && obj.created_at.from && obj.created_at.to) {
        this.spjbOp.created_at = obj.created_at.from+';'+obj.created_at.to;
      } else if (obj.created_at && obj.created_at.certain) {
        this.spjbOp.created_at = obj.created_at.certain;
      } else {
        this.spjbOp.created_at = '';
      }
    },
    validDateUpdated(obj) {
      if(obj.updated_at && obj.updated_at.from && obj.updated_at.to) {
        this.spjbOp.updated_at = obj.updated_at.from+';'+obj.updated_at.to;
      } else if (obj.updated_at && obj.updated_at.certain) {
        this.spjbOp.updated_at = obj.updated_at.certain;
      } else {
        this.spjbOp.updated_at = '';
      }
    },
    action(type) {
      event.preventDefault();
      if(this.check.length != 0) {
        this.loading.changeStatus = true;
        this.check = this.check.map(data => {
          return {uuid: data.id, status: type}
        })
        this.saveAction();
      } else {
        toastr.warning("Silahakan Pilih Data terlebih dahulu", "Warning")
      }
    },
    actionExist(){
      this.check.map((dt, ind) => {
        var exist = this.check[ind].id.includes(dt.id);
        if(exist){
          this.removeA(this.check, dt.id);
        }
      })
    },
    saveAction(){
      // this.actionExist();
      this.axios.put('spjbopr/statusbulk', this.check)
      .then((resp) => {
        toastr.success("Status berhasil di ubah", "Sukses")
        this.dt.draw();
      })
      .catch((resp) => {
        toastr.warning("Status gagal di ubah", "Gagal");
        $.each(resp.response.data.errors, function( index, value ) {
          toastr.error(value, index)
        });
      })
      .then((resp) => {
        this.loading.changeStatus = false;
        this.check = [];
        $(".check_all").prop('checked', false);
        this.dt.draw();
      })
    },
    removeA(array, id) {
      var index = array.map(x => {
        return x.id;
      }).indexOf(id);
      array.splice(index, 1);
    },
    yearFrom(obj) {
      if(obj.year && obj.year.from && obj.year.to) {
        this.spjbOp.year = obj.year.from+';'+obj.year.to;
      } else if (obj.year && obj.year.certain) {
        this.spjbOp.year = obj.year.certain;
      } else {
        this.spjbOp.year = '';
      }
    },
    downloadDt() {
      $(".downloadSpjbOprExcel").trigger('click')
    },
    triggerModal() {
      this.showFormUpload = false;
      this.confirm.show = false;
      this.confirm.uuid = null;
      this.confirm.text = null;
    },
    openModal(uuid) {
      this.confirm.show = true;
      this.confirm.uuid = uuid;
      this.confirm.text = 'Download Excel';
    },
    downloadPdf(uuid){
      const {no_doc} = this.confirm;
      this.axios({
        url: 'spjbopr/download/'+uuid,
        method: 'GET',
        responseType: 'blob', // important
      }).then((response) => {
         const url = window.URL.createObjectURL(new Blob([response.data]));
         const link = document.createElement('a');
         link.href = url;
         link.setAttribute('download', 'SPJB-'+no_doc+'.xlsx'); //or any other extension
         document.body.appendChild(link);
         link.click();
         this.confirm.no_doc = null;
      })
      // this.confirm.show = false;
      // this.confirm.uuid = null;
      // this.confirm.text = null;
    },
    download(){
      this.loadBtnDownload = true;
      this.axios({
        url: 'spjboprational/download',
        params: {
          no_doc : this.spjbOp.number,
          year : this.spjbOp.year,
          customer_name : this.spjbOp.customer_name,
          sales_org_name : this.spjbOp.sales_org_name,
          status : this.spjbOp.status_name,
        },
        method: 'GET',
        responseType: 'blob', // important
      }).then((response) => {
         const url = window.URL.createObjectURL(new Blob([response.data]));
         const link = document.createElement('a');
         link.href = url;
         link.setAttribute('download', 'Download SPJB Operasional.xls'); //or any other extension
         document.body.appendChild(link);
         link.click();
         this.loadBtnDownload = false;
      })
      .catch((resp) => {
        toastr.error("Gagal Download File", "Gagal") ;
        this.loadBtnDownload = false;      
      })
    },
    getData() {
      var app = this;
      this.dt = $("#tableSpjbOp").DataTable({
        processing: true,
        serverSide: true,
        searching: false,
        "scrollCollapse": true,
        "scrollY":   "50vh",
        "scrollX": true,
        "columnDefs": [
          { "orderable": false, "targets": 0 }
        ],
        // order: [[ 1, 'desc' ]],
        lengthMenu: [
          [ 20, 50, 100, -1 ],
          [ '20 baris', '50 baris', '100 baris', 'Lihat Semua' ]
        ],
        "dom": 'Bltrip',
        "buttons": [
          {
            extend: 'excel',
            className: 'btn-danger square mb-1 downloadSpjbOprExcel',
            text: "Download SOJB Operasional",
            title:"",
            filename:"SPJB Operasional",
            exportOptions: {
                columns: 'th:not(:first-child)'
            }
          }
        ],
        ajax : {
          'url': 'api/spjboperational/datatable',
          'type': 'GET',
          'beforeSend': function (request) {
              var token = localStorage.getItem("default_auth_token");
              request.setRequestHeader("Authorization", "Bearer "+token);
              request.setRequestHeader("lang",  localStorage.getItem('app-lang'));
          },
          data: function(d){
            d.no_doc = app.spjbOp.number
            d.year = app.spjbOp.year
            d.customer_name = app.spjbOp.customer_name
            d.sales_org_name = app.spjbOp.sales_org_name
            d.status = app.spjbOp.status_name
            d.created_at = app.spjbOp.created_at
            d.updated_at = app.spjbOp.updated_at
          }
        },
        columns :[
          {
            data: 'uuid',
            render:function(data,t,f) {
              const check = '<fieldset>'+
                              '<label class="custom-control custom-checkbox">'+
                                '<input type="checkbox" id="check" class="custom-control-input check_box_table" value="'+data+'">'+
                                '<span class="custom-control-indicator"></span>'+
                              '</label>'+
                            '</fieldset>';
              return check;
            }
          },
          {
            data: 'no_doc',name:'no_doc',
            render: function(data, type, full) {
              var access = encodeURIComponent(app.$route.params.access);
              const link = `<a href="/#/${access}/alokasi/spjb/operasional/detail/${full.uuid}/${full.id}">${data}</a>`
              return link;
            }
          },
          {data: 'year', name: 'year'},
          {data: 'customer_name', name: 'customer_name'},
          {data: 'sales_org_name', name: 'sales_org_name'},
          {data: 'created_at', name: 'created_at'},
          {data: 'updated_at', name: 'updated_at'},
          {data: 'status_name', name: 'status_name'},
          {
            data: 'uuid',
            render: function(data, type, full) {
              const link = '<a href="#" id="downloadSpjbOpr" data-no_doc="'+full.no_doc+'" data-uuid="'+data+'">Download</a>'
              return link;
            }
          },
        ]
      })
      app.dt.order( [ 1, 'desc' ] ).draw();
    },
    searchTable(obj) {
      this.spjbOp = obj;
      this.yearFrom(obj)
      this.validDateCreate(obj)
      this.validDateUpdated(obj)
      this.dt.draw();
    }
  }
}
</script>

<style media="screen">
  .downloadSpjbOprExcel {
    display: none !important;
  }
  .scroll-top {
    position: fixed;
    right: 30px;
    bottom: 20px;
    z-index: 999;
    font-size: 22px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 30px;
  }
</style>
