<template>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table id="LevelLaporanSo" class="table table-xs table-bordered table-striped display nowrap">
                    <thead>
                        <column></column>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
import Column from './table/Column';
import {columns} from './table/columns';
export default {
    data: () => {
        return {
            dt: null
        }
    },
    components: {
        Column
    },
    mounted() {
        const app = this;
        app.tableLevelLaporanSo();
    },
    methods: {
        tableLevelLaporanSo() {
            this.dt = $("#LevelLaporanSo").DataTable({
                processing: true,
                serverSide: true,
                searching: false,
                lengthMenu: [
                    [ 20, 50, 100, -1 ],
                    [ '20 baris', '50 baris', '100 baris', 'Lihat Semua' ]
                ],
                "dom": 'Bltrip',
                "buttons": [
                    {
                        extend: 'excel',
                        className: 'btn-danger square mb-1 downloadLevelItemLaporanSo',
                        text: "Download",
                        title:"",
                        filename:"Download-level-item-laporan-so"
                    }
                ],
                ajax: {
                    url: 'api/reportso/detail',
                    type: 'POST',
                    data: function(d){

                    },
                    beforeSend: function (request) {
                        var token = localStorage.getItem("default_auth_token");
                        request.setRequestHeader("Authorization", "Bearer "+token);
                        request.setRequestHeader("lang",  localStorage.getItem('app-lang'));
                    }
                },
                columns: columns
            })
        }
    }
}
</script>

<style>
    .downloadLevelItemLaporanSo {
        display: none !important;
    }
</style>
