<template>
    <tr class="filter">
        <th class="itemSo-nomor-do"> 
            <input type="text" v-model="paramsFilter.nomor_do" v-on:keyup="search()" class="form-control form-control-sm itemSo_nomor_doVal" >
        </th>
        <th class="itemSo-nomor-sales-order"> 
            <input type="text" v-model="paramsFilter.nomor_sales_order" v-on:keyup="search()" class="form-control form-control-sm itemSo_nomor_sales_orderVal" >
        </th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th> 
            <input type="text" v-model="paramsFilter.sales_organization" v-on:keyup="search()" class="form-control form-control-sm" >
        </th>
        <th></th>
        <th></th>
        <th></th>
        <th> 
            <input type="text" v-model="paramsFilter.deskripsi_sales_office" v-on:keyup="search()" class="form-control form-control-sm" >
        </th>
        <th></th>
        <th> 
            <input type="text" v-model="paramsFilter.deskripsi_sales_group" v-on:keyup="search()" class="form-control form-control-sm" >
        </th>
        <th></th>
        <th></th>
        <th></th>
        <th> 
            <input type="text" v-model="paramsFilter.distributor" v-on:keyup="search()" class="form-control form-control-sm" >
        </th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th> 
            <input type="text" v-model="paramsFilter.tanggal_dokumen" v-on:keyup="search()" class="form-control form-control-sm" >
        </th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th> 
            <input type="text" v-model="paramsFilter.incoterm1" v-on:keyup="search()" class="form-control form-control-sm" >
        </th>
        <th> 
            <input type="text" v-model="paramsFilter.incoterm1" v-on:keyup="search()" class="form-control form-control-sm" >
        </th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
</template>

<script>
export default {
    props: ['reset'],
    data: () => {
        return {
            uriName: '',
            paramsFilter: {
                nomor_do : null,
                nomor_sales_order : null,
                sales_organization : null,
                deskripsi_sales_office : null,
                deskripsi_sales_group : null,
                distributor : null,
                tanggal_dokumen : null,
                incoterm1 : null,
                incoterm1 : null
            }
        }
    },
    watch: {
		reset: function(val){
			if(val === true) {
				this.resetFilter();
			}
		}
    },
    mounted() {
        var app = this;
        app.uriName = app.$auth.user().id+'_'+'search_'+app.$route.name;
        $(document).ready(function() {
            const getLocalSearch = JSON.parse(localStorage.getItem(app.uriName));
            setTimeout(() => {
                if (getLocalSearch !== null) {
                    app.paramsFilter = getLocalSearch;
                    $(".itemSo_nomor_doVal").val(app.paramsFilter.nomor_do)
                    $(".itemSo_nomor_sales_orderVal").val(app.paramsFilter.nomor_sales_order)
                    app.$emit("search-table", app.paramsFilter);
                }
            },1000)
        });

        $(document).on("keyup", ".itemSo_nomor_doVal", function(){
            app.paramsFilter.nomor_do = $(this).val();
            app.search();
        })
        $(document).on("keyup", ".itemSo_nomor_sales_orderVal", function(){
            app.paramsFilter.nomor_sales_order = $(this).val();
            app.search();
        })
    },
    methods: {
        search() {
            localStorage.setItem(this.uriName, JSON.stringify(this.paramsFilter));
            this.$emit('search-table', this.paramsFilter);
        },
        resetFilter(){
            this.clearFilter(this.$route.name, this.paramsFilter);
            $( ".itemSo-nomor-do" ).html( '<input type="text" class="form-control form-control-sm itemSo_nomor_doVal" />' );
            $( ".itemSo-nomor-sales-order" ).html( '<input type="text" class="form-control form-control-sm itemSo_nomor_sales_orderVal" />' );
            $(".itemSo_nomor_doVal").val(this.paramsFilter.nomor_do)
            $(".itemSo_nomor_sales_orderVal").val(this.paramsFilter.nomor_sales_order)
            this.search();
        }
    }
}
</script>

<style>

</style>
