<template>
  <div class="col-md-12">
      <div class="pull-right">
          <button @click="downloadTable" class="btn btn-primary square">
              <i class="fa fa-download"></i> Download
          </button>
      </div>
  </div>
</template>

<script>
export default {
    data: () => {
        return {}
    },
    methods: {
        downloadTable() {
            this.$emit("download-table");
        }
    }
}
</script>

<style>

</style>
