<template lang="html">
  <tr class="filter">
    <th></th>
    <th class="pergub-no">
      <input type="text"
      v-model="pergub.pergub"
      class="form-control form-control-md pergub_noVal">
    </th>
    <th>
      <provinsi :reset="reset" ref="filterProvComponent" @get-selected-prov="searchProv" />
    </th>
    <th>
      <input type="text"
      v-model="pergub.produsen_name"
      v-on:keyup="search()"
      class="form-control form-control-md">
    </th>
    <th>
      <year :reset="reset" @get-year="searchYear" :type="type"></year>
    </th>
    <th>
      <date-filter :reset="reset" @get-date="searchDateValidFrom" :type="type1"></date-filter>
    </th>
    <th>
      <date-filter :reset="reset" @get-date="searchDateValidUpdated" :type="type2"></date-filter>
    </th>
    <th>
      <filter-status :reset="reset" :checkedStatus="pergub.status_name" @get-check="searchTable" :label="btnStatus" :list="statusSearch"></filter-status>
    </th>
  </tr>
</template>
<script>
import Checklist from '../../filter/Checklist';
import Date from '../../filter/Date';
import Provinsi from '../../filter/Provinsi';
import Year from '../../filter/Year';

export default {
  props: ['reset'],
  data: function() {
    return {
      uriName: this.$auth.user().id+'_'+'search_'+this.$route.name,
      btnStatus: 'Filter Status',
      type: 'validYear',
      statusSearch: [
        {name: 'Actived', value: 'y'},
        {name: 'Inactived', value: 'n'},
        {name: 'Partial Actived', value: 'z'},
      ],
      type1: 'validFrom',
      type2: 'validUpdated',
      pergub: {
        created_at: "",
        updated_at: "",
        pergub: "",
        produsen_id: "",
        produsen_name: "",
        provinsi_id: "",
        provinsi_name: "",
        status_name: "",
        year: "",
      }
    }
  },
  watch: {
		reset: function(val){
			if(val === true) {
				this.resetFilter();
			}
		}
	},
  mounted() {
    var app = this;
    $(document).ready(function() {
      const getLocalSearch = JSON.parse(localStorage.getItem(app.uriName));
      setTimeout(() => {
          if (getLocalSearch !== null) {
              app.pergub = getLocalSearch;
              $(".pergub_noVal").val(app.pergub.pergub);
              app.$emit("search-table", app.pergub);
          }
      },1000)
    });
    $(document).on("keyup", ".pergub_noVal", function(){
      app.pergub.pergub = $(this).val();
      app.search();
    })
  },
  components: {
    Provinsi,
    FilterStatus: Checklist,
    dateFilter: Date,
    Year
  },
  methods: {
    searchTable(obj) {
      var status = obj.join(';');
      this.pergub.status = status;
      this.search();
    },
    search() {
      event.preventDefault();
      localStorage.setItem(this.uriName, JSON.stringify(this.pergub));
      this.$emit("search-table", this.pergub);
    },
    searchProv(dataProv) {
      var arr = dataProv.map(data => {
        return data.id;
      })
      var sales_office = arr.join(";");
      this.pergub.provinsi_id = sales_office;
      this.search();
    },
    searchDateValidFrom(date = '') {
      if (date != '') {
        if (date != '') {
          this.pergub.created_at = {
            certain: (date.name === 'validFrom' && date.dateType === 'certain') && date.data.from,
            from: (date.name === 'validFrom' && date.dateType === 'range') && date.data.from,
            to: (date.name === 'validFrom' && date.dateType === 'range') && date.data.to
          }
        } else {
          this.pergub.created_at = ''
        }
        this.search()
      }
    },
    searchDateValidUpdated(date = '') {
      if (date != '') {
        if (date != '') {
          this.pergub.updated_at = {
            certain: (date.name === 'validUpdated' && date.dateType === 'certain') && date.data.from,
            from: (date.name === 'validUpdated' && date.dateType === 'range') && date.data.from,
            to: (date.name === 'validUpdated' && date.dateType === 'range') && date.data.to
          }
        } else {
          this.pergub.updated_at = ''
        }
        this.search()
      }
    },
    resetFilter(){
      this.clearFilter(this.$route.name, this.pergub);
      
      $( ".pergub-no" ).html( '<input type="text" class="form-control form-control-md pergub_noVal" />' );
      $(".pergub_noVal").val(this.pergub.pergub);
      this.search();
    },
    searchYear(date = '') {
      if (date != '') {
        if (date != '') {
          this.pergub.year = {
            certain: (date.name === 'validYear' && date.dateType === 'certain') && date.data.from,
            from: (date.name === 'validYear' && date.dateType === 'range') && date.data.from,
            to: (date.name === 'validYear' && date.dateType === 'range') && date.data.to
          }
        } else {
          this.pergub.year = ''
        }
        this.search()
      }
    },
  }
}
</script>

<style lang="css">
  .button-filter {
    margin-bottom: 20px;
  }
</style>
