<template lang="html">
  <div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group pull-right">
          <button v-if="access.C === true" type="button" @click="upload()" class="btn btn-primary square">
            <i class="fa fa-upload"></i>
            Upload
          </button>
          <a href="template-excel/permentan/Template_Permentan.xls" class="btn btn-primary square" target="_blank" ><i class="fa fa-download"></i> Download Template</a>
          <button type="button"class="btn btn-primary square" @click="download()" id="downloadPermentanExcel" name="button"> <i class="fa fa-download"></i> Download</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 table-responsive">
        <table id="tablePermentan" class="table table-xs table-bordered table-striped display nowrap">
          <thead>
            <permentan-filter @search-table="searchTable"></permentan-filter>
            <tr>
              <th>No Permentan</th>
              <th>Produsen</th>
              <th>Tahun</th>
              <th>Tanggal</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
    <permentan-uploadform v-if="showFormUpload" @trigger-modal="triggerModal"></permentan-uploadform>
  </div>
</template>

<script>
import PermentanUploadform from './PermentanUploadform';
import PermentanFilter from './PermentanFilter';
export default {
  props: ['access'],
  data: function() {
    return {
      dt: '',
      showFormUpload: false,
      permentan: {}
    }
  },
   components: {
     PermentanFilter, PermentanUploadform
   },
   mounted() {
     this.getDataTable();
     var app = this;
     $(document).on("click", "#toDetail", function(e) {
       e.preventDefault();
       const uuid = encodeURIComponent($(this).data("uuid"))
       const year = encodeURIComponent($(this).data("year"))
       var access = app.$route.params.access;
       app.$router.push({path: '/'+encodeURIComponent(access)+'/alokasi/permentan/detail/'+uuid+'/'+year});
     })
   },
   methods: {
     getDataTable() {
       var app = this;
       app.dt = $("#tablePermentan").DataTable({
         processing: true,
         serverSide: true,
         searching: false,
         "order": [[ 3, 'desc' ]],
         lengthMenu: [
           [ 20, 50, 100, -1 ],
           [ '20 baris', '50 baris', '100 baris', 'Lihat Semua' ]
         ],
         "dom": 'Bltrip',
         "buttons": [
           {
             extend: 'excel',
             className: 'btn-danger square mb-1 DownloadPermentan',
             text: "Download"
           }
         ],
         ajax : {
           'url': '/api/permentan',
           'type': 'GET',
           'beforeSend': function (request) {
               var token = localStorage.getItem("default_auth_token");
               request.setRequestHeader("Authorization", "Bearer "+token);
               request.setRequestHeader("lang",  localStorage.getItem('app-lang'));
           },
           data: function(d){
             d.number = app.permentan.number
             d.produsen = app.permentan.produsen
             d.year = app.permentan.year
             d.created_at = app.permentan.created_at
             d.status = app.permentan.status
           }
         },
         columns :[
           {
             data: 'number',
             render: function(data, type, full) {
               const access = encodeURIComponent(app.$route.params.access);
               const link = `<a href="/#/${access}/alokasi/permentan/detail/${full.uuid}/${full.year}">${data}</a>`
               return link;
             }
           },
           {data: 'sales_name', name: 'sales_name'},
           {data: 'year', name: 'year'},
           {data: 'created_at', name: 'created_at', render: function(data, type, full){
             return app.convertDate(data)
           }},
           {data: 'status_name', name: 'status_name'}
         ]
       })
     },
     searchTable(obj) {
       this.permentan = obj;
       this.validDateCreate(obj);
       this.dt.draw();
     },
     validDateCreate(obj) {
       if(obj.created_at && obj.created_at.from && obj.created_at.to) {
         this.permentan.created_at = obj.created_at.from+';'+obj.created_at.to;
       } else if (obj.created_at && obj.created_at.certain) {
         this.permentan.created_at = obj.created_at.certain;
       } else {
         this.permentan.created_at = '';
       }
     },
     upload() {
       this.showFormUpload = true;
     },
     download() {
       $(".DownloadPermentan").trigger('click');
     },
     triggerModal() {
       this.showFormUpload = false
       this.dt.draw()
     }
   }
}
</script>

<style media="screen">
  .DownloadPermentan {
    display: none !important;
  }
</style>
