<template>
  <tr class="filter">
    <th>
      <input type="text" v-model="permentan.number" v-on:keyup="search()" class="form-control form-control-sm" >
    </th>
    <th>
      <input type="text" v-model="permentan.produsen" v-on:keyup="search()" class="form-control form-control-sm" >
    </th>
    <th>
      <input type="text" v-model="permentan.year" v-on:keyup="search()" class="form-control form-control-sm" >
    </th>
    <th>
      <date-filter :reset="reset" @get-date="getDatePermentan" :type="type1"></date-filter>
    </th>
    <th>
      <status-filter :reset="reset" :checkedStatus="permentan.status" @get-check="searchTable" :label="btnStatus" :list="statusSearch"></status-filter>
    </th>
  </tr>
</template>

<script>
import Date from '../../filter/Date';
import Checklist from '../../filter/Checklist';

export default {
  data : function() {
    return {
      type1: 'date_permentan',
      btnStatus: 'cari status',
      statusSearch: [
        {name: 'Active', value: 'y'},
        {name: 'Inactive ', value: 'n'},
        {name: 'Suspend', value: 'p'},
        {name: 'Draft', value: 'd'},
        {name: 'Submitted', value: 's'},
        {name: 'Partial Active', value: 'z'},
      ],
      permentan: {
        number: null,
        produsen: null,
        year: null,
        created_at: null,
        status: null
      }
    }
  },

  components: {
    DateFilter: Date,
    StatusFilter: Checklist
  },

  methods: {
    getDatePermentan(date = '') {
      if (date != '') {
        if(date != '') {
          this.permentan.created_at = {
            certain: (date.name === 'date_permentan' && date.dateType === 'certain') && date.data.from,
            from: (date.name === 'date_permentan' && date.dateType === 'range') && date.data.from,
            to: (date.name === 'date_permentan' && date.dateType === 'range') && date.data.to
          }
        } else {
          this.permentan.created_at = ''
        }
        this.search()
      }
    },
    searchTable(obj) {
      var status = obj.join(';')
      this.permentan.status = status
      this.search()
    },
    search() {
      event.preventDefault();
      this.$emit("search-table", this.permentan);
    }
  }

}
</script>
