<template lang="html">
  <div class="">
    <div class="row">
      <div class="col-md-12">
        <button type="button" class="btn btn-danger square" @click="goBack()" ><i class="fa fa-chevron-circle-left"></i> Kembali</button>
        <div class="form-group pull-right">
          <button v-if="access.C === true" :disabled="loading.changeStatus" type="button" @click="showModalForm = true" class="btn btn-primary square">
            <i class="fa fa-plus"></i>
            Entri Baru
          </button>
          <button type="button" :disabled="loading.changeStatus" @click="saveAll()" class="btn btn-primary square">
            <i v-if="loading.changeStatus" class="fa fa-spin fa-refresh"></i>
            <i v-else class="fa fa-save"></i>
            Simpan
          </button>
          <button v-if="access.A === true"  :disabled="loading.changeStatus" type="button" class="btn btn-primary square" @click="action('n')" >
            <i v-if="loading.changeStatus" class="fa fa-spin fa-refresh"></i>
            Inactived
          </button>
          <button v-if="access.A === true"  :disabled="loading.changeStatus" type="button" class="btn btn-primary square" @click="action('y')" >
            <i v-if="loading.changeStatus" class="fa fa-spin fa-refresh"></i>
            Aktif
          </button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <table-component></table-component>
      </div>
    </div>
    <form-permentan v-if="showModalForm" :dataModal="dataModal" :contractGovId="dataDetailPermentan.permentan_id" @trigger-modal="triggerModal" :dataProvinsi="dataProvinsi"></form-permentan>
  </div>
</template>

<script>
import FormPermentan from '../modal/FormPermentan';
import TableComponent from './TableComponent';

export default {
  props: ['access'],
  data: function(){
    return {
      dt: null,
      showModalForm: false,
      dataProvinsi: {},
      loading: {
        changeStatus: false
      },
      dataProvinsi: {},
      dataDetailPermentan: {},
      check: [],
      checkSelected: {},
      uuid: null,
      contractGovId: null,
      dataModal : {
        sales_org_id: null,
        sales_org_name: null,
        permentan_no: null,
      },
      formModal: false,
      formArr: [],
      formObj: {},
      formArrSend: [],
      formSend: {
        sales_office_id : '',
        product_id : '',
        month : '',
        initial_qty : '',
      },
      formData: {
        uuid : '',
        sales_office_id : '',
        product_id : '',
        month : '',
        initial_qty : '',
        oldval : '',
      }
    }
  },
  components: {
     FormPermentan,
     TableComponent
  },
  created(){
    this.getData()
  },
  mounted() {
    var app = this;

    $("#tableDetailPermentanEdit").on("click", "form", function(e){
      let form = $(this);
      app.formData.uuid = form.data("uuid");
      app.formData.sales_office_id = form.data("sales_office_id");
      app.formData.month = form.data("month");
      app.formData.product_id = form.data("product_id");
      app.formData.year = form.data("year");
      app.formData.oldval = form.data("oldval");
      form.find("input").show(() => {
        form.find("input").addClass("open-input");
        form.find("span").hide();
      })
      // form.find("input").val(parseFloat(app.formData.oldval))
    })

    $("#tableDetailPermentanEdit").on("input", "input:text", function (e) {
       var elm = $(this);
       var isi = elm.val().replace(/[^\d.]|\.(?=.*\.)/g, '');
       elm.val(isi);
    });

    $("#tableDetailPermentanEdit").on("submit", "form", function(e){
      e.preventDefault();
      const form = $(this);
      app.updateTable(form)
    })

    $(document).on("keyup", function(e){
      e.preventDefault();
      var form = $('form')
      const oldVal = form.data("oldval");
      if (e.keyCode === 13) {  }     // enter
      if (e.keyCode === 27) { app.escInput(form, oldVal) }   // esc
    })

    $(document).on("click", "#check_all", function(e){ 
      var isChecked = null;
      let form = $(this);
      let value = {};
      let i;
      let arr = [];
      for (i = 0; i < 12; i++) {
        let month = i+1;
        app.checkSelected.uuid = form.data("uuid");
        app.checkSelected.product_id = form.data("product_id");
        app.checkSelected.sales_office_id = form.data("sales_office_id");
        app.checkSelected.sales_group_id = form.data("sales_group_id");
        app.checkSelected.year = form.data("year");
        app.checkSelected.month = month;
        let param = app.checkSelected.product_id+app.checkSelected.year+app.checkSelected.sales_group_id+app.checkSelected.sales_office_id;
        if(this.checked){
          $('.check-all-'+param).prop('checked', true);
          delete value[NaN];
          app.checkSelected = {}
        } else {
          $('.check-all-'+param).prop('checked', false);
        }
      }
    })
    $(document).on("click", "#check_status", function(e){
      let form = $(this);
      // app.checkSelected.uuid = form.data("uuid");
      app.checkSelected.product_id = form.data("product_id");
      app.checkSelected.sales_office_id = form.data("sales_office_id");
      app.checkSelected.sales_group_id = form.data("sales_group_id");
      app.checkSelected.year = form.data("year");
      let param = app.checkSelected.product_id+app.checkSelected.year+app.checkSelected.sales_group_id+app.checkSelected.sales_office_id;
      $('.check-box-table-'+param).prop('checked', false);
    })

    app.tableDetailPermentanEdit();
  },
  methods: {
    triggerModal(refresh = false) {
      this.showModalForm = false
      if(refresh === true){
        this.getData()
        this.dt.draw()
      }
    },
    numberFormat(value) {
      value = value.toString();
      return this.numberEngine(value)
    },
    numberEngine(n, c, d, t) {
      var c = isNaN(c = Math.abs(c)) ? 2 : c,
        d = d == undefined ? "," : d,
        t = t == undefined ? "." : t,
        s = n < 0 ? "-" : "",
        i = String(parseInt(n = Math.abs(Number(n) || 0).toFixed(c))),
        j = (j = i.length) > 3 ? j % 3 : 0;

      return s + (j ? i.substr(0, j) + t : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : "");
    },
    tableDetailPermentanEdit() {
      var app = this;
      app.dt = $("#tableDetailPermentanEdit").DataTable({
        processing: true,
        serverSide: true,
        searching: false,
        paging: false,
        scrollX: "99.99%",
        scrollY: '50vh',
        "scrollCollapse" : "350px",
        order: [[ 4, 'asc' ]],
        lengthMenu: [
          [ 20, 50, 100, -1 ],
          [ '20 baris', '50 baris', '100 baris', 'Lihat Semua' ]
        ],
        ajax : {
          'url': '/api/changeRequest/permentan/detail/'+app.$route.params.uuid,
          'type': 'GET',
          'beforeSend': function (request) {
              var token = localStorage.getItem("default_auth_token");
              request.setRequestHeader("Authorization", "Bearer "+token);
              request.setRequestHeader("lang",  localStorage.getItem('app-lang'));
          },
          data: function(d){}
        },
        "columnDefs": [
          { "orderable": false, "targets": 0 }
        ],
        columns :[
          {
            data: 'uuid',
            render:function(data,type,full) {
              const dataId = 'data-uuid="'+full.uuid+'" data-year="'+full.year+'" data-oldval="'+data+'" data-sales_office_id="'+full.sales_office_id+'" data-sales_group_id="'+full.sales_group_id+'" data-product_id="'+full.product_id+'" ';

              let classUUID = "check-box-table-"+full.product_id+full.year+full.sales_group_id+full.sales_office_id;
              const check = '<fieldset>'+
                              '<label class="custom-control custom-checkbox">'+
                                '<input type="checkbox" '+dataId+' id="check_all" class="custom-control-input '+classUUID+'" value="'+data+'">'+
                                '<span class="custom-control-indicator"></span>'+
                              '</label>'+
                            '</fieldset>';
              return check;
            }
          },
          {data: 'sales_org_id',name: 'sales_org_id'},
          {data: 'number',name: 'number'},
          {data: 'year', name: 'year'},
          {data: 'sales_office_name', name: 'sales_office_name'},
          {data: 'product_name', name: 'product_name'},
          {data: '1', name: '1', render: function(data, type, full){
            app.dataModal.sales_org_id = full.sales_org_id;
            app.dataModal.sales_org_name = full.sales_org_name;
            app.dataModal.permentan_no = full.number;
            const dataId = 'data-uuid="'+full.uuid+'" data-year="'+full.year+'" data-oldval="'+data+'" data-sales_office_id="'+full.sales_office_id+'" data-product_id="'+full.product_id+'" data-month="1"';
            
            if (full.status_1 === 'n') {
              return '<span style="font-weight: bold;color: red;">'+app.numberFormat(data)+'</span>';
            } else {
              let params = full.product_id+';1;'+full.year+';'+full.sales_office_id;
              return '<form '+dataId+'>'+
                        '<div class="loading-form" style="display:none">Please Wait .. <i class="fa fa-spinner fa-spin"></i></div>'+
                        '<span>'+app.numberFormat(data)+'</span>'+
                        '<input type="text" name="'+params+'" style="display:none;" value="'+parseFloat(data)+'" />'+
                     '</form>';
            }
          }},
          {data: '1', name: '1', render: function(data, type, full){
            const dataId = full.uuid+';'+full.sales_group_id+';'+full.sales_office_id+';'+full.product_id+';'+1+';'+full.year;
            let classUUID = "check-all-"+full.product_id+full.year+full.sales_group_id+full.sales_office_id;
            const getDATAID = 'data-uuid="'+full.uuid+'" data-year="'+full.year+'" data-oldval="'+data+'" data-sales_office_id="'+full.sales_office_id+'" data-product_id="'+full.product_id+'" data-sales_group_id="'+full.sales_group_id+'" data-month="1"';
            
            const check = '<label class="custom-control custom-checkbox">'+
                              '<input type="checkbox" id="check_status" '+getDATAID+' class="'+classUUID+' custom-control-input" value="'+dataId+'">'+
                              '<span class="custom-control-indicator"></span>'+
                          '</label>';
            return check;
          }},
          {data: '2', name: '2', render: function(data, type, full){
            const dataId = 'data-uuid="'+full.uuid+'" data-year="'+full.year+'" data-oldval="'+data+'" data-sales_office_id="'+full.sales_office_id+'" data-sales_group_id="'+full.sales_group_id+'" data-sales_unit_id="'+full.sales_unit_id+'" data-product_id="'+full.product_id+'" data-month="2"';

            if (full.status_2 === 'n') {
              return '<span style="font-weight: bold;color: red;">'+app.numberFormat(data)+'</span>';
            } else {
              let params = full.product_id+';2;'+full.year+';'+full.sales_office_id;
              return '<form '+dataId+'>'+
                        '<div class="loading-form" style="display:none">Please Wait .. <i class="fa fa-spinner fa-spin"></i></div>'+
                        '<span>'+app.numberFormat(data)+'</span>'+
                        '<input type="text" name="'+params+'" style="display:none;" value="'+parseFloat(data)+'" />'+
                     '</form>';
            }
          }},
          {data: '2', name: '2', render: function(data, type, full){
            const dataId = full.uuid+';'+full.sales_group_id+';'+full.sales_office_id+';'+full.product_id+';'+2+';'+full.year;
            let classUUID = "check-all-"+full.product_id+full.year+full.sales_group_id+full.sales_office_id;
            const getDATAID = 'data-uuid="'+full.uuid+'" data-year="'+full.year+'" data-oldval="'+data+'" data-sales_office_id="'+full.sales_office_id+'" data-product_id="'+full.product_id+'" data-sales_group_id="'+full.sales_group_id+'" data-month="2"';
            
            const check = '<label class="custom-control custom-checkbox">'+
                              '<input type="checkbox" id="check_status" '+getDATAID+' class="'+classUUID+' custom-control-input" value="'+dataId+'">'+
                              '<span class="custom-control-indicator"></span>'+
                          '</label>';
            return check;
          }},
          {data: '3', name: '3', render: function(data, type, full){
            const dataId = 'data-uuid="'+full.uuid+'" data-year="'+full.year+'" data-oldval="'+data+'" data-sales_office_id="'+full.sales_office_id+'" data-sales_group_id="'+full.sales_group_id+'" data-sales_unit_id="'+full.sales_unit_id+'" data-product_id="'+full.product_id+'" data-month="3"';

            if (full.status_3 === 'n') {
              return '<span style="font-weight: bold;color: red;">'+app.numberFormat(data)+'</span>';
            } else {
              let params = full.product_id+';3;'+full.year+';'+full.sales_office_id;
              return '<form '+dataId+'>'+
                        '<div class="loading-form" style="display:none">Please Wait .. <i class="fa fa-spinner fa-spin"></i></div>'+
                        '<span>'+app.numberFormat(data)+'</span>'+
                        '<input type="text" name="'+params+'" style="display:none;" value="'+parseFloat(data)+'" />'+
                     '</form>';
            }
          }},
          {data: '3', name: '3', render: function(data, type, full){
            const dataId = full.uuid+';'+full.sales_group_id+';'+full.sales_office_id+';'+full.product_id+';'+3+';'+full.year;
            let classUUID = "check-all-"+full.product_id+full.year+full.sales_group_id+full.sales_office_id;
            const getDATAID = 'data-uuid="'+full.uuid+'" data-year="'+full.year+'" data-oldval="'+data+'" data-sales_office_id="'+full.sales_office_id+'" data-product_id="'+full.product_id+'" data-sales_group_id="'+full.sales_group_id+'" data-month="3"';
            
            const check = '<label class="custom-control custom-checkbox">'+
                              '<input type="checkbox" id="check_status" '+getDATAID+' class="'+classUUID+' custom-control-input" value="'+dataId+'">'+
                              '<span class="custom-control-indicator"></span>'+
                          '</label>';
            return check;
          }},
          {data: '4', name: '4', render: function(data, type, full){
            const dataId = 'data-uuid="'+full.uuid+'" data-year="'+full.year+'" data-oldval="'+data+'" data-sales_office_id="'+full.sales_office_id+'" data-sales_group_id="'+full.sales_group_id+'" data-sales_unit_id="'+full.sales_unit_id+'" data-product_id="'+full.product_id+'" data-month="4"';

            if (full.status_4 === 'n') {
              return '<span style="font-weight: bold;color: red;">'+app.numberFormat(data)+'</span>';
            } else {
              let params = full.product_id+';4;'+full.year+';'+full.sales_office_id;
              return '<form '+dataId+'>'+
                        '<div class="loading-form" style="display:none">Please Wait .. <i class="fa fa-spinner fa-spin"></i></div>'+
                        '<span>'+app.numberFormat(data)+'</span>'+
                        '<input type="text" name="'+params+'" style="display:none;" value="'+parseFloat(data)+'" />'+
                     '</form>';
            }
          }},
          {data: '4', name: '4', render: function(data, type, full){
            const dataId = full.uuid+';'+full.sales_group_id+';'+full.sales_office_id+';'+full.product_id+';'+4+';'+full.year;
            let classUUID = "check-all-"+full.product_id+full.year+full.sales_group_id+full.sales_office_id;
            const getDATAID = 'data-uuid="'+full.uuid+'" data-year="'+full.year+'" data-oldval="'+data+'" data-sales_office_id="'+full.sales_office_id+'" data-product_id="'+full.product_id+'" data-sales_group_id="'+full.sales_group_id+'" data-month="4"';
            
            const check = '<label class="custom-control custom-checkbox">'+
                              '<input type="checkbox" id="check_status" '+getDATAID+' class="'+classUUID+' custom-control-input" value="'+dataId+'">'+
                              '<span class="custom-control-indicator"></span>'+
                          '</label>';
            return check;
          }},
          {data: '5', name: '5', render: function(data, type, full){
            const dataId = 'data-uuid="'+full.uuid+'" data-year="'+full.year+'" data-oldval="'+data+'" data-sales_office_id="'+full.sales_office_id+'" data-sales_group_id="'+full.sales_group_id+'" data-sales_unit_id="'+full.sales_unit_id+'" data-product_id="'+full.product_id+'" data-month="5"';

            if (full.status_5 === 'n') {
              return '<span style="font-weight: bold;color: red;">'+app.numberFormat(data)+'</span>';
            } else {
              let params = full.product_id+';5;'+full.year+';'+full.sales_office_id;
              return '<form '+dataId+'>'+
                        '<div class="loading-form" style="display:none">Please Wait .. <i class="fa fa-spinner fa-spin"></i></div>'+
                        '<span>'+app.numberFormat(data)+'</span>'+
                        '<input type="text" name="'+params+'" style="display:none;" value="'+parseFloat(data)+'" />'+
                     '</form>';
            }
          }},
          {data: '5', name: '5', render: function(data, type, full){
            const dataId = full.uuid+';'+full.sales_group_id+';'+full.sales_office_id+';'+full.product_id+';'+5+';'+full.year;
            let classUUID = "check-all-"+full.product_id+full.year+full.sales_group_id+full.sales_office_id;
            const getDATAID = 'data-uuid="'+full.uuid+'" data-year="'+full.year+'" data-oldval="'+data+'" data-sales_office_id="'+full.sales_office_id+'" data-product_id="'+full.product_id+'" data-sales_group_id="'+full.sales_group_id+'" data-month="5"';
            
            const check = '<label class="custom-control custom-checkbox">'+
                              '<input type="checkbox" id="check_status" '+getDATAID+' class="'+classUUID+' custom-control-input" value="'+dataId+'">'+
                              '<span class="custom-control-indicator"></span>'+
                          '</label>';
            return check;
          }},
          {data: '6', name: '6', render: function(data, type, full){
            const dataId = 'data-uuid="'+full.uuid+'" data-year="'+full.year+'" data-oldval="'+data+'" data-sales_office_id="'+full.sales_office_id+'" data-sales_group_id="'+full.sales_group_id+'" data-sales_unit_id="'+full.sales_unit_id+'" data-product_id="'+full.product_id+'" data-month="6"';

            if (full.status_6 === 'n') {
              return '<span style="font-weight: bold;color: red;">'+app.numberFormat(data)+'</span>';
            } else {
              let params = full.product_id+';6;'+full.year+';'+full.sales_office_id;
              return '<form '+dataId+'>'+
                        '<div class="loading-form" style="display:none">Please Wait .. <i class="fa fa-spinner fa-spin"></i></div>'+
                        '<span>'+app.numberFormat(data)+'</span>'+
                        '<input type="text" name="'+params+'" style="display:none;" value="'+parseFloat(data)+'" />'+
                     '</form>';
            }
          }},
          {data: '6', name: '6', render: function(data, type, full){
            const dataId = full.uuid+';'+full.sales_group_id+';'+full.sales_office_id+';'+full.product_id+';'+6+';'+full.year;
            let classUUID = "check-all-"+full.product_id+full.year+full.sales_group_id+full.sales_office_id;
            const getDATAID = 'data-uuid="'+full.uuid+'" data-year="'+full.year+'" data-oldval="'+data+'" data-sales_office_id="'+full.sales_office_id+'" data-product_id="'+full.product_id+'" data-sales_group_id="'+full.sales_group_id+'" data-month="6"';
            
            const check = '<label class="custom-control custom-checkbox">'+
                              '<input type="checkbox" id="check_status" '+getDATAID+' class="'+classUUID+' custom-control-input" value="'+dataId+'">'+
                              '<span class="custom-control-indicator"></span>'+
                          '</label>';
            return check;
          }},
          {data: '7', name: '7', render: function(data, type, full){
            const dataId = 'data-uuid="'+full.uuid+'" data-year="'+full.year+'" data-oldval="'+data+'" data-sales_office_id="'+full.sales_office_id+'" data-sales_group_id="'+full.sales_group_id+'" data-sales_unit_id="'+full.sales_unit_id+'" data-product_id="'+full.product_id+'" data-month="7"';

            if (full.status_7 === 'n') {
              return '<span style="font-weight: bold;color: red;">'+app.numberFormat(data)+'</span>';
            } else {
              let params = full.product_id+';7;'+full.year+';'+full.sales_office_id;
              return '<form '+dataId+'>'+
                        '<div class="loading-form" style="display:none">Please Wait .. <i class="fa fa-spinner fa-spin"></i></div>'+
                        '<span>'+app.numberFormat(data)+'</span>'+
                        '<input type="text" name="'+params+'" style="display:none;" value="'+parseFloat(data)+'" />'+
                     '</form>';
            }
          }},
          {data: '7', name: '7', render: function(data, type, full){
            const dataId = full.uuid+';'+full.sales_group_id+';'+full.sales_office_id+';'+full.product_id+';'+7+';'+full.year;
            let classUUID = "check-all-"+full.product_id+full.year+full.sales_group_id+full.sales_office_id;
            const getDATAID = 'data-uuid="'+full.uuid+'" data-year="'+full.year+'" data-oldval="'+data+'" data-sales_office_id="'+full.sales_office_id+'" data-product_id="'+full.product_id+'" data-sales_group_id="'+full.sales_group_id+'" data-month="7"';
            
            const check = '<label class="custom-control custom-checkbox">'+
                              '<input type="checkbox" id="check_status" '+getDATAID+' class="'+classUUID+' custom-control-input" value="'+dataId+'">'+
                              '<span class="custom-control-indicator"></span>'+
                          '</label>';
            return check;
          }},
          {data: '8', name: '8', render: function(data, type, full){
            const dataId = 'data-uuid="'+full.uuid+'" data-year="'+full.year+'" data-oldval="'+data+'" data-sales_office_id="'+full.sales_office_id+'" data-sales_group_id="'+full.sales_group_id+'" data-sales_unit_id="'+full.sales_unit_id+'" data-product_id="'+full.product_id+'" data-month="8"';

            if (full.status_8 === 'n') {
              return '<span style="font-weight: bold;color: red;">'+app.numberFormat(data)+'</span>';
            } else {
              let params = full.product_id+';8;'+full.year+';'+full.sales_office_id;
              return '<form '+dataId+'>'+
                        '<div class="loading-form" style="display:none">Please Wait .. <i class="fa fa-spinner fa-spin"></i></div>'+
                        '<span>'+app.numberFormat(data)+'</span>'+
                        '<input type="text" name="'+params+'" style="display:none;" value="'+parseFloat(data)+'" />'+
                     '</form>';
            }
          }},
          {data: '8', name: '8', render: function(data, type, full){
            const dataId = full.uuid+';'+full.sales_group_id+';'+full.sales_office_id+';'+full.product_id+';'+8+';'+full.year;
            let classUUID = "check-all-"+full.product_id+full.year+full.sales_group_id+full.sales_office_id;
            const getDATAID = 'data-uuid="'+full.uuid+'" data-year="'+full.year+'" data-oldval="'+data+'" data-sales_office_id="'+full.sales_office_id+'" data-product_id="'+full.product_id+'" data-sales_group_id="'+full.sales_group_id+'" data-month="8"';
            
            const check = '<label class="custom-control custom-checkbox">'+
                              '<input type="checkbox" id="check_status" '+getDATAID+' class="'+classUUID+' custom-control-input" value="'+dataId+'">'+
                              '<span class="custom-control-indicator"></span>'+
                          '</label>';
            return check;
          }},
          {data: '9', name: '9', render: function(data, type, full){
            const dataId = 'data-uuid="'+full.uuid+'" data-year="'+full.year+'" data-oldval="'+data+'" data-sales_office_id="'+full.sales_office_id+'" data-sales_group_id="'+full.sales_group_id+'" data-sales_unit_id="'+full.sales_unit_id+'" data-product_id="'+full.product_id+'" data-month="9"';

            if (full.status_9 === 'n') {
              return '<span style="font-weight: bold;color: red;">'+app.numberFormat(data)+'</span>';
            } else {
              let params = full.product_id+';9;'+full.year+';'+full.sales_office_id;
              return '<form '+dataId+'>'+
                        '<div class="loading-form" style="display:none">Please Wait .. <i class="fa fa-spinner fa-spin"></i></div>'+
                        '<span>'+app.numberFormat(data)+'</span>'+
                        '<input type="text" name="'+params+'" style="display:none;" value="'+parseFloat(data)+'" />'+
                     '</form>';
            }
          }},
          {data: '9', name: '9', render: function(data, type, full){
            const dataId = full.uuid+';'+full.sales_group_id+';'+full.sales_office_id+';'+full.product_id+';'+9+';'+full.year;
            let classUUID = "check-all-"+full.product_id+full.year+full.sales_group_id+full.sales_office_id;
            const getDATAID = 'data-uuid="'+full.uuid+'" data-year="'+full.year+'" data-oldval="'+data+'" data-sales_office_id="'+full.sales_office_id+'" data-product_id="'+full.product_id+'" data-sales_group_id="'+full.sales_group_id+'" data-month="9"';
            
            const check = '<label class="custom-control custom-checkbox">'+
                              '<input type="checkbox" id="check_status" '+getDATAID+' class="'+classUUID+' custom-control-input" value="'+dataId+'">'+
                              '<span class="custom-control-indicator"></span>'+
                          '</label>';
            return check;
          }},
          {data: '10', name: '10', render: function(data, type, full){
            const dataId = 'data-uuid="'+full.uuid+'" data-year="'+full.year+'" data-oldval="'+data+'" data-sales_office_id="'+full.sales_office_id+'" data-sales_group_id="'+full.sales_group_id+'" data-sales_unit_id="'+full.sales_unit_id+'" data-product_id="'+full.product_id+'" data-month="10"';

            if (full.status_10 === 'n') {
              return '<span style="font-weight: bold;color: red;">'+app.numberFormat(data)+'</span>';
            } else {
              let params = full.product_id+';10;'+full.year+';'+full.sales_office_id;
              return '<form '+dataId+'>'+
                        '<div class="loading-form" style="display:none">Please Wait .. <i class="fa fa-spinner fa-spin"></i></div>'+
                        '<span>'+app.numberFormat(data)+'</span>'+
                        '<input type="text" name="'+params+'" style="display:none;" value="'+parseFloat(data)+'" />'+
                     '</form>';
            }
          }},
          {data: '10', name: '10', render: function(data, type, full){
            const dataId = full.uuid+';'+full.sales_group_id+';'+full.sales_office_id+';'+full.product_id+';'+10+';'+full.year;
            let classUUID = "check-all-"+full.product_id+full.year+full.sales_group_id+full.sales_office_id;
            const getDATAID = 'data-uuid="'+full.uuid+'" data-year="'+full.year+'" data-oldval="'+data+'" data-sales_office_id="'+full.sales_office_id+'" data-product_id="'+full.product_id+'" data-sales_group_id="'+full.sales_group_id+'" data-month="10"';
            
            const check = '<label class="custom-control custom-checkbox">'+
                              '<input type="checkbox" id="check_status" '+getDATAID+' class="'+classUUID+' custom-control-input" value="'+dataId+'">'+
                              '<span class="custom-control-indicator"></span>'+
                          '</label>';
            return check;
          }},
          {data: '11', name: '11', render: function(data, type, full){
            const dataId = 'data-uuid="'+full.uuid+'" data-year="'+full.year+'" data-oldval="'+data+'" data-sales_office_id="'+full.sales_office_id+'" data-sales_group_id="'+full.sales_group_id+'" data-sales_unit_id="'+full.sales_unit_id+'" data-product_id="'+full.product_id+'" data-month="11"';

            if (full.status_11 === 'n') {
              return '<span style="font-weight: bold;color: red;">'+app.numberFormat(data)+'</span>';
            } else {
              let params = full.product_id+';11;'+full.year+';'+full.sales_office_id;
              return '<form '+dataId+'>'+
                        '<div class="loading-form" style="display:none">Please Wait .. <i class="fa fa-spinner fa-spin"></i></div>'+
                        '<span>'+app.numberFormat(data)+'</span>'+
                        '<input type="text" name="'+params+'" style="display:none;" value="'+parseFloat(data)+'" />'+
                     '</form>';
            }
          }},
          {data: '11', name: '11', render: function(data, type, full){
            const dataId = full.uuid+';'+full.sales_group_id+';'+full.sales_office_id+';'+full.product_id+';'+11+';'+full.year;
            let classUUID = "check-all-"+full.product_id+full.year+full.sales_group_id+full.sales_office_id;
            const getDATAID = 'data-uuid="'+full.uuid+'" data-year="'+full.year+'" data-oldval="'+data+'" data-sales_office_id="'+full.sales_office_id+'" data-product_id="'+full.product_id+'" data-sales_group_id="'+full.sales_group_id+'" data-month="11"';
            
            const check = '<label class="custom-control custom-checkbox">'+
                              '<input type="checkbox" id="check_status" '+getDATAID+' class="'+classUUID+' custom-control-input" value="'+dataId+'">'+
                              '<span class="custom-control-indicator"></span>'+
                          '</label>';
            return check;
          }},
          {data: '12', name: '12', render: function(data, type, full){
            const dataId = 'data-uuid="'+full.uuid+'" data-year="'+full.year+'" data-oldval="'+data+'" data-sales_office_id="'+full.sales_office_id+'" data-sales_group_id="'+full.sales_group_id+'" data-sales_unit_id="'+full.sales_unit_id+'" data-product_id="'+full.product_id+'" data-month="12"';

            if (full.status_12 === 'n') {
              return '<span style="font-weight: bold;color: red;">'+app.numberFormat(data)+'</span>';
            } else {
              let params = full.product_id+';12;'+full.year+';'+full.sales_office_id;
              return '<form '+dataId+'>'+
                        '<div class="loading-form" style="display:none">Please Wait .. <i class="fa fa-spinner fa-spin"></i></div>'+
                        '<span>'+app.numberFormat(data)+'</span>'+
                        '<input type="text" name="'+params+'" style="display:none;" value="'+parseFloat(data)+'" />'+
                     '</form>';
            }
          }},
          {data: '12', name: '12', render: function(data, type, full){
            const dataId = full.uuid+';'+full.sales_group_id+';'+full.sales_office_id+';'+full.product_id+';'+12+';'+full.year;
            let classUUID = "check-all-"+full.product_id+full.year+full.sales_group_id+full.sales_office_id;
            const getDATAID = 'data-uuid="'+full.uuid+'" data-year="'+full.year+'" data-oldval="'+data+'" data-sales_office_id="'+full.sales_office_id+'" data-product_id="'+full.product_id+'" data-sales_group_id="'+full.sales_group_id+'" data-month="12"';
            
            const check = '<label class="custom-control custom-checkbox">'+
                              '<input type="checkbox" id="check_status" '+getDATAID+' class="'+classUUID+' custom-control-input" value="'+dataId+'">'+
                              '<span class="custom-control-indicator"></span>'+
                          '</label>';
            return check;
          }},
          {data: 'total', name: 'total', render: function(data, type, full){
            return parseFloat(data).toFixed(2);
          }},
        ]
      })
      new $.fn.dataTable.FixedColumns(app.dt, {
          leftColumns: 2,
          rightColumns: 1,
          heightMatch: 'auto'
      });
    },
    removeA(array, id) {
      // console.log(array);
      var index = array.map((x, i) => {
        return x[id];
      })
      array.splice(index, 1);
    },
    action(type) {
      event.preventDefault();
      this.loading.changeStatus = true;
      var app = this;
      var allObj = {};
      app.check = [];
      $('#tableDetailPermentanEdit :checked').each(function() {
        var data = $(this).val();
        let uuid = data.split(";")[0];
        let sales_group_id = data.split(";")[1];
        let sales_office_id = data.split(";")[2];
        let product_id = data.split(";")[3];
        let month = data.split(";")[4];
        let year = data.split(";")[5];
        allObj = {
          sales_group_id : sales_group_id,
          sales_office_id : sales_office_id,
          product_id : product_id,
          month : parseInt(month),
          year : parseInt(year),
          status : type
        }
        app.check.push(allObj);
      });
      this.saveAction();
    },
    saveAction() {
      this.axios.put('changeRequest/permentan/detail/'+this.$route.params.uuid+'/status', this.check)
      .then((resp) => {
        toastr.success("Status berhasil di ubah", "Sukses")
        this.loading.changeStatus = false;
        this.dt.draw();
        this.check = [];
        this.checkSelected = {};
        $(".custom-control-input").prop('checked', false);
      })
      .catch((resp) => {
        toastr.warning("Status gagal di ubah", "Gagal")
        var warning="<ul>"; var flag_error=false;
        $.each(resp.response.data.message,function(index,value){
            flag_error=true;
            warning+="<li>"+value[0]+"</li>";
        });
        warning+="</ul>";
        if(flag_error)
        {
          toastr.error(warning, 'Update Status Gagal');
        }
        this.loading.changeStatus = false;
        this.check = [];
        this.checkSelected = {};
        $(".custom-control-input").prop('checked', false);
      })
    },
    updateTable(form){
      event.preventDefault();
      var app = this
      form.find("input").hide(() => {
        form.find("div.loading-form").show();
      });
      let newVal = form.find("input").val()
      app.formData.initial_qty = parseFloat(newVal)
      newVal = app.numberFormat(form.find("input").val());
      if (parseFloat(newVal) !== parseFloat(app.formData.oldval)) {
        app.formSend.initial_qty = app.formData.initial_qty;
        app.formSend.product_id = app.formData.product_id;
        app.formSend.sales_office_id = app.formData.sales_office_id;
        app.formSend.month = app.formData.month;
        app.formSend.year = app.formData.year;
        app.formArrSend.push(app.formSend);
        app.axios.put('changeRequest/permentan/detail/'+app.$route.params.uuid, app.formArrSend)
        .then((resp) => {
          toastr.success("Data di simpan", "Sukses");
          setTimeout(function(){
            form.find("div.loading-form").hide(() => {
              form.find("span").show();
              app.resetForm()
            });
          }, 1500)
          form.find("span").html(newVal);
          app.dt.draw()
        })
        .catch((resp) => {
          let msg = resp.response.data.message;
          const uuid = (msg.uuid) ? '<li>'+msg.uuid[0]+'</li>' : '';
          const sales_office_id = (msg.sales_office_id) ? '<li>'+msg.sales_office_id[0]+'</li>' : '';
          const product_id = (msg.product_id) ? '<li>'+msg.product_id[0]+'</li>' : '';
          const month = (msg.month) ? '<li>'+msg.month[0]+'</li>' : '';
          const initial_qty = (msg.initial_qty) ? '<li>'+msg.initial_qty[0]+'</li>' : '';
          const year = (msg.year) ? '<li>'+msg.year[0]+'</li>' : '';
          const result = '<ul>'+uuid+product_id+sales_office_id+month+initial_qty+year+'</ul>';
          toastr.error(result, "Gagal mengubah data");
          app.resetForm()
          app.dt.draw()
        })
      } else {
        setTimeout(function(){
          form.find("div.loading-form").hide(() => {
            form.find("span").show();
            app.resetForm()
          });
        }, 1500)
        form.find("span").html(newVal);
      }
    },
    getData() {
      this.axios.get('permentan/detail/'+this.$route.params.uuid)
      .then((resp) => {
        this.dataDetailPermentan = resp.data.data
        this.dataProvinsi = {
          id: resp.data.data.provinsi[0].id,
          name: resp.data.data.provinsi[0].name
        }
      })
      .catch((resp) => {
        toastr.error(resp.response.data, 'error');
      })
    },
    resetForm(){
      this.formData.uuid = ''
      this.formData.sales_office_id = ''
      this.formData.month = ''
      this.formData.product_id = ''
      this.formData.year = ''
      this.formData.oldval = ''
      this.formData.initial_qty = ''
      this.formArrSend = [];
      this.formSend.sales_office_id = ''
      this.formSend.month = ''
      this.formSend.product_id = ''
      this.formSend.year = ''
      this.formSend.initial_qty = ''
      this.formArr = [];
      this.formObj = {};
    },
    saveAll(){
      var app = this;
      app.loading.changeStatus = true;
      document.querySelectorAll("form").forEach(f => {
        f.querySelectorAll("input.open-input").forEach(ele => {
          // console.log(ele.name);
          var getParams = ele.name.split(";");
          app.formObj = {
            product_id : getParams[0],
            month : getParams[1],
            year : getParams[2],
            sales_office_id : getParams[3],
            initial_qty : ele.value,
          }
          app.formArr.push(app.formObj)
        });
      })
      app.axios.put('changeRequest/permentan/detail/'+app.$route.params.uuid, app.formArr)
      .then((resp) => {
        toastr.success("Data di simpan", "Sukses");
        app.loading.changeStatus = false;
        app.resetForm()
        app.dt.draw()
      })
      .catch((resp) => {
        let msg = resp.response.data.message;
        const uuid = (msg.uuid) ? '<li>'+msg.uuid[0]+'</li>' : '';
        const sales_office_id = (msg.sales_office_id) ? '<li>'+msg.sales_office_id[0]+'</li>' : '';
        const product_id = (msg.product_id) ? '<li>'+msg.product_id[0]+'</li>' : '';
        const month = (msg.month) ? '<li>'+msg.month[0]+'</li>' : '';
        const initial_qty = (msg.initial_qty) ? '<li>'+msg.initial_qty[0]+'</li>' : '';
        const year = (msg.year) ? '<li>'+msg.year[0]+'</li>' : '';
        const result = '<ul>'+uuid+product_id+sales_office_id+month+initial_qty+year+'</ul>';
        toastr.error(result, "Gagal mengubah data");
        app.resetForm()
        app.loading.changeStatus = false;
        app.dt.draw()
      })
    },
    escInput(form, oldVal){
      form.find("input").hide(() => {
        form.find("input").removeClass("open-input");
        form.find("span").show();
      });
      form.find("input").val(parseFloat(oldVal))
      this.resetForm();
    },
    goBack(){
      var access = this.$route.params.access;
      var id = this.$route.params.uuid;
      var year = this.$route.params.year;

      this.$router.push({path: '/'+encodeURIComponent(access)+'/alokasi/alokasi-provinsi/detail/'+id+'/'+year});
    },
  }
}
</script>

<style lang="css" scoped>

</style>
