<template>
  <tr class="filter">
		<th class="suratJalan-aksi">
			<center>
				<input type="checkbox" id="checkAll-sj">
			</center>
		</th>
    <th class="suratJalan-number">
      <input type="text" class="form-control form-control-md suratJalan_numberVal">
    </th>
    <th>
      <input type="text" class="form-control form-control-md" v-model="searchFilter.so_number" v-on:keyup="search()">
    </th>
    <th>
      <input type="text" class="form-control form-control-md" v-model="searchFilter.order_date" v-on:keyup="search()">
    </th>
    <th>
      <input type="text" class="form-control form-control-md" v-model="searchFilter.distribution_date" v-on:keyup="search()">
    </th>
    <th>
      <input type="text" class="form-control form-control-md" v-model="searchFilter.customer_id" v-on:keyup="search()">
    </th>
    <th>
      <input type="text" class="form-control form-control-md" v-model="searchFilter.customer_name" v-on:keyup="search()">
    </th>
    <th>
      <input type="text" class="form-control form-control-md" v-model="searchFilter.sales_group_id" v-on:keyup="search()">
    </th>
    <th>
      <input type="text" class="form-control form-control-md" v-model="searchFilter.sales_group_name" v-on:keyup="search()">
    </th>
    <th>
      <input type="text" class="form-control form-control-md" v-model="searchFilter.sales_org_id" v-on:keyup="search()">
    </th>
    <th>
      <input type="text" class="form-control form-control-md" v-model="searchFilter.sales_org_name" v-on:keyup="search()">
    </th>
    <th>
      <input type="text" class="form-control form-control-md" v-model="searchFilter.month" v-on:keyup="search()">
    </th>
    <th>
      <input type="text" class="form-control form-control-md" v-model="searchFilter.year" v-on:keyup="search()">
    </th>
  </tr>
</template>

<script>
import Kabupaten from '../../../filter/Kabupaten';
export default {
  props: ['reset', 'checked_all'],
  data: function() {
    return {
      uriName: this.$auth.user().id+'_'+'search_'+this.$route.name,
			isCheckedAll: false,
      searchFilter : {
        number: null,
				so_number: null,
				order_date: null,
				distribution_date: null,
				customer_id: null,
				customer_name: null,
				sales_group_id: null,
				sales_group_name: null,
				sales_org_id: null,
				sales_org_name: null,
				month: null,
				year: null,
      }
    }
  },
  components: {
		Kabupaten
  },
  created() {

  },
  watch: {
		reset: function(val){
			if(val === true) {
				this.resetFilter();
			}
		}
	},
  mounted() {
    var app = this;
    $(document).on("keyup", ".suratJalan_numberVal", function() {
      app.searchFilter.number = $(this).val();
      app.search();
    })
		$(document).on("click", "#checkAll-sj", function () {
				$('input:checkbox').not(this).prop('checked', this.checked);
		});
  },
  methods: {
    searchProv(dataProv) {
      var arr = dataProv.map(data => {
        return data.id;
      })
      var sales_office = arr.join(";");
      this.searchFilter.sales_office_id = sales_office;
      this.search();
    },
    searchKab(dataKab) {
      var arr = dataKab.map(data => {
        return data.id;
      })
      var sales_group = arr.join(";");
      this.searchFilter.sales_group_id = sales_group;
      this.search();
    },
    search() {
      event.preventDefault();
      // localStorage.setItem(this.uriName, JSON.stringify(this.searchFilter));
      this.$emit("search-table", this.searchFilter);
    },
		handleChecklistAll(){
			this.$emit("checklist-all");
		},
    resetFilter(){
      this.clearFilter(this.$route.name, this.searchFilter);
      $( ".suratJalan-number" ).html( '<input type="text" class="form-control form-control-md suratJalan_numberVal" />' );
      $(".suratJalan_numberVal").val(this.searchFilter.number);
      this.search();
    }
  }
}
</script>

<style lang="css" scoped>
</style>
