<template>
  <div class="modal fade" id="suratJalanForm" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <form @submit="save()">
          <div class="modal-header">
            <h4 class="modal-title">Tambah Surat Jalan</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" :disabled="loadingButton">&times;</button>
          </div>
          <div class="modal-body">
            <form-loader :view="loadingForm"></form-loader>
            <div v-if="!loadingForm" class="row">
              <div class="col-md-12">
								<div v-if="uuid === null" class="form-group">
									<label for="">Tanggal Dibuat</label>
									<input type="date" class="form-control " v-model="created_at" :disabled="loadingButton" />
								</div>
                <table id="suratJalanFormTable" class="table table-xs table-bordered table-striped display nowrap">
									<thead>
										<filter-form :checked_all="checklistAll" @search-table="searchTable" @checklist-all="handleChecklistAll"></filter-form>
										<tr>
											<th>Aksi</th>
											<th>No PKP</th>
											<th>No SO</th>
											<th>Tanggal Order</th>
											<th>Tanggal Distribusi</th>
											<th>Kode Distributor</th>
											<th>Distributor</th>
											<th>Kode Kabupaten</th>
											<th>Kabupaten</th>
											<th>Kode Produsen</th>
											<th>Produsen</th>
											<th>Bulan</th>
											<th>Tahun</th>
										</tr>
									</thead>
									<tbody>
									</tbody>
								</table>
								<p class="text-info">Gunakan separator Titik koma (;) apabila menggunakan pencarian melebihi 1 data.</p>
								<p class="text-info">Contoh : PKP01;PKP02</p>
              </div>
            </div>
          </div>
          <div class="modal-footer">
						<div class="pull-left">
            	<button type="button" class="btn btn-secondary mr-1" data-dismiss="modal" :disabled="loadingButton">Batal</button>
						</div>
						<div class="pull-right">
							<button type="submit" class="btn btn-primary" :disabled="loadingButton">
								<i :class="(loadingButton) ? 'fa fa-spin fa-refresh' : '' "></i>
								{{ (loadingButton) ? 'Menyimpan' : 'Submit' }}
							</button>
						</div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import FormLoader from '../../../main/FormLoader';
import FilterForm from './FilterForm'
export default {
  props: ['uuid'],
  data: function() {
    return {
			checklistAll: false,
      dataForm: {},
      loadingForm: false,
      loadingButton: false,
      error: false,
      errors: {},
      suratJalanFormFilter: {},
			created_at: '',
    }
  },
  components: {
    FormLoader,
		FilterForm
  },
  created() {

  },
  mounted() {
    var app = this;
    $("#suratJalanForm").modal("show");
    $('#suratJalanForm').on('hidden.bs.modal', function () {
      app.closeModal();
    })
		this.suratJalanFormTable()
  },
  methods: {

    closeModal(){
      this.$emit("trigger-modal", 'RefreshTable');
    },

		suratJalanFormTable() {
      var app = this;
      app.dt = $("#suratJalanFormTable").DataTable({
        processing: true,
        serverSide: true,
        searching: false,
        scrollX: "99.99%",
        scrollY : "50vh",
        scrollCollapse: true,
        "order": [[ 0, 'desc' ]],
				"columnDefs": [
					{ 
							"targets": [ 0 ], //first column / numbering column
							"orderable": false, //set not orderable
					},
        ],
        lengthMenu: [
          [ 20, 50, 100, -1 ],
          [ '20 baris', '50 baris', '100 baris', 'Lihat Semua' ]
        ],
        ajax: {
          'url': '/api/list_create_certificate_release',
          'type': 'GET',
          'data': function(d) {
						d.uuid = app.suratJalanFormFilter.uuid,
						d.number = app.suratJalanFormFilter.number,
						d.so_number = app.suratJalanFormFilter.so_number,
						d.order_date = app.suratJalanFormFilter.order_date,
						d.distribution_date = app.suratJalanFormFilter.distribution_date,
						d.customer_id = app.suratJalanFormFilter.customer_id,
						d.customer_name = app.suratJalanFormFilter.customer_name,
						d.sales_group_id = app.suratJalanFormFilter.sales_group_id,
						d.sales_group_name = app.suratJalanFormFilter.sales_group_name,
						d.sales_org_id = app.suratJalanFormFilter.sales_org_id,
						d.sales_org_name = app.suratJalanFormFilter.sales_org_name,
						d.month = app.suratJalanFormFilter.month,
						d.year = app.suratJalanFormFilter.year
          },
          'beforeSend': function (request) {
              var token = localStorage.getItem("default_auth_token");
              request.setRequestHeader("Authorization", "Bearer "+token);
              request.setRequestHeader("lang",  localStorage.getItem('app-lang'));
          }
        },
        columns: [
          {
            data: 'uuid',
            name: 'uuid',
            render: function(data, type, full) {
              const input = `<input type="checkbox" id="form-check-input" value="${full.uuid}">`;
              return input;
            }
          },
					{ data: 'number', name: 'number' },
					{ data: 'so_number', name: 'so_number' },
					{ data: 'order_date', name: 'order_date' },
					{ data: 'distribution_date', name: 'distribution_date' },
					{ data: 'customer_id', name: 'customer_id' },
					{ data: 'customer_name', name: 'customer_name' },
					{ data: 'sales_group_id', name: 'sales_group_id' },
					{ data: 'sales_group_name', name: 'sales_group_name' },
					{ data: 'sales_org_id', name: 'sales_org_id' },
					{ data: 'sales_org_name', name: 'sales_org_name' },
					{ data: 'month', name: 'month' },
					{ data: 'year', name: 'year' },
        ]
      })
      new $.fn.dataTable.FixedColumns(app.dt, {
          leftColumns: 2
      })
			app.dt.on('page.dt', function(){
				setTimeout(() => {
					$("#checkAll-sj").attr("checked", false);
					$("#checkAll-sj").prop("checked", false);
				}, 1000)
			});

    },

    searchTable(obj) {
      this.suratJalanFormFilter = obj;
      this.dt.draw();
    },

		handleChecklistAll(){
			this.checklistAll = !this.checklistAll;
		},

		store(sendData){
			this.axios.post('certificate_release', sendData)
      .then((resp) => {
        this.loadingButton = false;
        toastr.success(resp.data.message);
        // let access = encodeURIComponent(this.$route.params.access);
        $("#suratJalanForm").modal("hide");
        // this.$router.push({path: '/'+access+'/laporan/surat-jalan/detail/'+resp.data.data.uuid});
        // this.$router.push({path: '/'+access+'/laporan/surat-jalan'});
      })
      .catch((resp) => {
        this.error = true;
        if(typeof resp.response.data.message === 'object') {
          this.errors = resp.response.data.message;
					const err_items = (resp.response.data.message.data !== undefined) ? `<li>${resp.response.data.message.data[0]}</li>` : '';
					const err_created = (resp.response.data.message.created_at !== undefined) ? `<li>${resp.response.data.message.created_at[0]}</li>` : '';
					const msg = `<ul>${err_created}${err_items}</ul>`
          toastr.error(msg);
        } else {
          toastr.error("Gagal Mengubah Data")
				}
        this.loadingButton = false;
      })
		},

		update(sendData){
			delete sendData.created_at;
			this.axios.put(`certificate_release/${this.uuid}`, sendData)
      .then((resp) => {
        this.loadingButton = false;
        toastr.success(resp.data.message);
        let access = encodeURIComponent(this.$route.params.access);
        $("#suratJalanForm").modal("hide");
        // this.$router.push({path: '/'+access+'/laporan/surat-jalan/detail/'+resp.data.data.uuid});
        this.$router.push({path: '/'+access+'/laporan/surat-jalan/detail/'+this.uuid});
      })
      .catch((resp) => {
        this.error = true;
        if(typeof resp.response.data.message === 'object') {
          this.errors = resp.response.data.message;
					const err_items = (resp.response.data.message.data !== undefined) ? `${resp.response.data.message.data}` : '';
					const err_created = (resp.response.data.message.created_at !== undefined) ? `<li>${resp.response.data.message.created_at[0]}</li>` : '';
          toastr.error(err_items);
        } else {
          toastr.error("Gagal Mengubah Data")
				}
        this.loadingButton = false;
      })
		},

    save() {
      event.preventDefault();
      this.loadingButton = true;
			this.error = false;
      this.errors = {};
			const sendData = {
				created_at: this.created_at,
				data: []
			}
			$('#form-check-input:checked').map(function() { sendData.data.push(this.value); })
			if(this.uuid !== null){
				this.update(sendData)
			} else {
				this.store(sendData)
			}
      
    }

  }
}
</script>

<style lang="css" scoped>
</style>
