<template>
  <!-- <tfoot> -->
    <tr v-if="distributor_id === undefined" class="filter">
      <th> </th>
      <th class="pengecer-code"><!-- kode -->
        <input type="text" class="form-control form-control-md pengecer_codeVal" >
      </th>
      <th><!-- name -->
        <input type="text" class="form-control form-control-md" v-model="retails.name" v-on:keyup="search()">
      </th>
      <th><!-- owner -->
        <input type="text" class="form-control form-control-md" v-model="retails.owner" v-on:keyup="search()">
      </th>
      <th><!-- status -->
        <status-filter :reset="reset" :checkedStatus="retails.status" @get-check="searchTable" :label="btnStatus" :list="statusSearch"></status-filter>
      </th>
      <th><!-- provinsi -->
        <provinsi :reset="reset" ref="filterProvComponent" @get-selected-prov="searchProv" />
      </th>
      <th><!-- kabupaten -->
        <kabupaten :sales_office="retails.sales_office_id" :reset="reset" ref="filterKabComponent" @get-selected-kab="searchKab" />
      </th>
      <th><!-- kecamatan -->
        <input type="text" class="form-control form-control-md" v-model="retails.sales_unit_name" v-on:keyup="search()">
      </th>
      <th><!-- kode kecamatan -->
        <input type="text" class="form-control form-control-md" v-model="retails.sales_unit_id" v-on:keyup="search()">
      </th>
      <th><!-- Kelurahan -->
        <input type="text" class="form-control form-control-md" v-model="retails.village" v-on:keyup="search()">
      </th>
      <th><!-- address -->
        <input type="text" class="form-control form-control-md" v-model="retails.address" v-on:keyup="search()">
      </th>
      <th></th>
      <th></th>
      <th></th>
      <th><!-- kode Email -->
        <input type="text" class="form-control form-control-md" v-model="retails.email" v-on:keyup="search()">
      </th>
      <th><!-- kode No Npwp -->
        <input type="text" class="form-control form-control-md" v-model="retails.npwp_no" v-on:keyup="search()">
      </th>
      <th><!-- kode Date Npwp -->
        <date-filter :reset="reset" @get-date="getDateNpwp" :type="type1"></date-filter>
      </th>
      <th><!-- kode Siup -->
        <input type="text" class="form-control form-control-md" v-model="retails.siup_no" v-on:keyup="search()">
      </th>
      <th><!-- kode Date Siup -->
        <date-filter :reset="reset" @get-date="getDateSiup" :type="type2"></date-filter>
      </th>
      <th><!-- kode Situ -->
        <input type="text" class="form-control form-control-md" v-model="retails.situ_no" v-on:keyup="search()">
      </th>
      <th><!-- kode Date Situ -->
        <date-filter :reset="reset" @get-date="getDateSitu" :type="type3"></date-filter>
      </th>
      <th><!-- kode TDP -->
        <input type="text" class="form-control form-control-md" v-model="retails.tdp_no" v-on:keyup="search()">
      </th>
      <th><!-- kode Date TDP -->
        <date-filter :reset="reset" @get-date="getDateTdp" :type="type4"></date-filter>
      </th>
      <th><!-- kode Date Created -->
        <date-filter :reset="reset" @get-date="getDateCreate" :type="type5"></date-filter>
      </th>
      <th><!-- kode Date TDP -->
        <date-filter :reset="reset" @get-date="getDateUpdate" :type="type6"></date-filter>
      </th>
    </tr>
    <tr v-else class="filter">
      <th>
        
      </th>
      <th class="pengecer-customer-id">
        <input type="text" class="form-control form-control-md pengecer_customer_idVal" >
      </th>
      <th>
        <input type="text" class="form-control form-control-md" v-model="retails.customer_name" v-on:keyup="search()">
      </th>
      <th>
        <input type="text" class="form-control form-control-md" v-model="retails.sales_org_name" v-on:keyup="search()">
      </th>
      <th><!-- provinsi -->
        <provinsi :reset="reset" ref="filterProvComponent" @get-selected-prov="searchProv" />
      </th>
      <th><!-- kabupaten -->
        <kabupaten :sales_office="retails.sales_office_id" :reset="reset" ref="filterKabComponent" @get-selected-kab="searchKab" />
      </th>
      <th><!-- kecamatan -->
        <input type="text" class="form-control form-control-md" v-model="retails.sales_unit_name" v-on:keyup="search()">
      </th>
      <th><!-- address -->
        <input type="text" class="form-control form-control-md" v-model="retails.address" v-on:keyup="search()">
      </th>
      <th>
        <input type="text" class="form-control form-control-md" v-model="retails.code" v-on:keyup="search()">
      </th>
      <th>
        <input type="text" class="form-control form-control-md" v-model="retails.name" v-on:keyup="search()">
      </th>
      <th></th>
    </tr>
  <!-- </tfoot> -->
</template>

<script>
import Checklist from '../../filter/Checklist';
import Date from '../../filter/Date';
import Provinsi from '../../filter/Provinsi';
import Kabupaten from '../../filter/Kabupaten';
export default {
  props: ['distributor_id', 'reset'],
  data: function(){
    return {
      uriName: this.$auth.user().id+'_'+'search_'+this.$route.name,
      type1: 'npwp',
      type2: 'siup',
      type3: 'situ',
      type4: 'tdp',
      type5: 'create',
      type6: 'update',
      btnStatus: 'Cari Status',
      statusSearch: [
        {name: 'Active', value: 'y'},
        {name: 'Inactive ', value: 'n'},
        {name: 'Suspend', value: 'p'},
        {name: 'Draft', value: 'd'},
        {name: 'Submitted', value: 's'}
      ],
      retails: {
        customer_id: '',
        customer_name: '',
        sales_org_name: '',
        code: '',
        name: '',
        owner: '',
        status: '',
        sales_office_id: '',
        sales_group_id: '',
        sales_office_name: '',
        sales_group_name: '',
        sales_unit_name: '',
        address: '',
        sales_unit_id: '',
        village: '',
        tlp_no: '',
        no_hp: '',
        fax_no: '',
        no_hp: '',
        email: '',
        npwp_no: '',
        npwp_register: {},
        siup_no: '',
        valid_date_siup: {},
        situ_no: '',
        valid_date_situ: {},
        tdp_no: '',
        valid_date_tdp: {},
        created_at: {},
        updated_at: {}
      }
    }
  },
  components: {
    dateFilter: Date,
    StatusFilter: Checklist,
    Provinsi,
    Kabupaten
  },
  mounted() {
    var app = this;
    const getLocalSearch = JSON.parse(localStorage.getItem(app.uriName));
    setTimeout(() => {
        if (getLocalSearch !== null) {
            app.retails = getLocalSearch;
            $(".pengecer_codeVal").val(app.retails.code);
            $(".pengecer_customer_idVal").val(app.retails.customer_id);
            app.$emit("search-table", app.retails);
        }
    },1000)
    $(document).on("keyup", ".pengecer_codeVal", function() {
      app.retails.code = $(this).val();
      app.search();
    })
    $(document).on("keyup", ".pengecer_customer_idVal", function() {
      app.retails.customer_id = $(this).val();
      app.search();
    })
  },
  watch: {
		reset: function(val){
			if(val === true) {
				this.resetFilter();
			}
		}
	},
  methods: {
    searchProv(dataProv) {
      var arr = dataProv.map(data => {
        return data.id;
      })
      var sales_office = arr.join(";");
      this.retails.sales_office_id = sales_office;
      this.$refs.filterKabComponent.getKabupaten(sales_office);
      this.search();
    },
    searchKab(dataKab) {
      var arr = dataKab.map(data => {
        return data.id;
      })
      var sales_group = arr.join(";");
      this.retails.sales_group_id = sales_group;
      // this.$refs.filterKabComponent.getKabupaten(sales_group);
      this.search();
    },
    getDateNpwp(date = ''){
      if (date != '') {
        this.retails.npwp_register = {
          certain: (date.name === 'npwp' && date.dateType === 'certain') && date.data.from,
          from: (date.name === 'npwp' && date.dateType === 'range') && date.data.from,
          to: (date.name === 'npwp' && date.dateType === 'range') && date.data.to
        }
      } else {
        this.retails.npwp_register = ''
      }
      this.search()
    },
    getDateSiup(date = '') {
      if (date != '') {
        // valid_date_siup
        if (date != '') {
          this.retails.valid_date_siup = {
            certain: (date.name === 'siup' && date.dateType === 'certain') && date.data.from,
            from: (date.name === 'siup' && date.dateType === 'range') && date.data.from,
            to: (date.name === 'siup' && date.dateType === 'range') && date.data.to
          }
        } else {
          this.retails.valid_date_siup = ''
        }
        this.search()
      }
    },
    getDateSitu(date = '') {
      if (date != '') {
        // valid_date_situ
        if (date != '') {
          this.retails.valid_date_situ = {
            certain: (date.name === 'situ' && date.dateType === 'certain') && date.data.from,
            from: (date.name === 'situ' && date.dateType === 'range') && date.data.from,
            to: (date.name === 'situ' && date.dateType === 'range') && date.data.to
          }
        } else {
          this.retails.valid_date_situ = ''
        }
        this.search()
      }
    },
    getDateTdp(date = '') {
      if (date != '') {
        // valid_date_tdp
        if (date != '') {
          this.retails.valid_date_tdp = {
            certain: (date.name === 'tdp' && date.dateType === 'certain') && date.data.from,
            from: (date.name === 'tdp' && date.dateType === 'range') && date.data.from,
            to: (date.name === 'tdp' && date.dateType === 'range') && date.data.to
          }
        } else {
          this.retails.valid_date_tdp = ''
        }
        this.search()
      }
    },
    getDateCreate(date = '') {
      if (date != '') {
        // created_at
        if (date != '') {
          this.retails.created_at = {
            certain: (date.name === 'create' && date.dateType === 'certain') && date.data.from,
            from: (date.name === 'create' && date.dateType === 'range') && date.data.from,
            to: (date.name === 'create' && date.dateType === 'range') && date.data.to
          }
        } else {
          this.retails.created_at = ''
        }
        this.search()
      }
    },
    getDateUpdate(date = '') {
      if (date != '') {
        // updated_at
        if (date != '') {
          this.retails.updated_at = {
            certain: (date.name === 'update' && date.dateType === 'certain') && date.data.from,
            from: (date.name === 'update' && date.dateType === 'range') && date.data.from,
            to: (date.name === 'update' && date.dateType === 'range') && date.data.to
          }
        } else {
          this.retails.updated_at = ''
        }
        this.search()
      }
    },
    searchTable(obj) {
      var status = obj.join(';');
      this.retails.status = status;
      this.search();
    },
    search() {
      event.preventDefault();
      localStorage.setItem(this.uriName, JSON.stringify(this.retails));
      this.$emit("search-table", this.retails);
    },
    resetFilter(){
      this.clearFilter(this.$route.name, this.retails);
      
      $( ".pengecer-code" ).html( '<input type="text" class="form-control form-control-md pengecer_codeVal" />' );
      $(".pengecer_codeVal").val(this.retails.code);
      $( ".pengecer-customer-id" ).html( '<input type="text" class="form-control form-control-md pengecer_customer_idVal" />' );
      $(".pengecer_customer_idVal").val(this.retails.customer_id);
      this.search();
    }
  }
}
</script>

<style lang="css">
</style>
