<template lang="html">
  <div>
    <div class="row justify-content-start">
      <div class="col-2">
        No <br>
        Distributor <br>
        Produsen <br>
        Periode Tahun
      </div>
      <div class="col-4">
        {{ dataSpjb.no_spjb }} <br>
        {{ dataSpjb.customer_id }} - {{ dataSpjb.customer_name }} <br>
        {{ dataSpjb.sales_org_name }} <br>
        {{ dataSpjb.year }} <br>
      </div>
      <div class="col-6">

        <div class="pull-right">
          <button type="button" class="btn btn-danger square" @click="goBack()" ><i class="fa fa-chevron-circle-left"></i> Kembali</button>
          <button v-if="access.U === true" type="button" @click="editTable" class="btn btn-primary square"  name="button"> <i class="fa fa-pencil"></i> Edit SPJB</button>
          <button type="button"class="btn btn-primary square" @click="renderExcel()" name="button"> <i class="fa fa-download"></i> Download</button>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive">
          <table id="spjbAsalDetail" class="table table-xs table-bordered display nowrap">
            <thead>
              <tr>
                <th>#</th>
                <th>Prov/Kab/Kec/Prod</th>
                <th v-for="(month, i) in dateYear">{{ month }}</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              <template v-for="(prov, i) in dataSpjb.province">
                <prov-row :prov="prov" @toggle-collapse-kab="toggleCollapseKab" @toggle-collapse-tot-kab-top="toggleCollapseTotKabTop" :icon="(collapse.kab.includes(prov.id)) ? true : false"></prov-row>
                <template v-if="collapse.kab.includes(prov.id)" v-for="(kab, i) in prov.kabupaten">
                  <kab-row :kab="kab" @toggle-collapse-kec="toggleCollapseKec" :icon="(collapse.kec.includes(kab.id)) ? true : false"></kab-row>

                  <template v-if="collapse.kec.includes(kab.id)" v-for="(kec, i) in kab.kecamatan">
                    <kec-row :kec="kec" @toggle-collapse-prod="toggleCollapseProd" :icon="(collapse.prod.includes(kec.id)) ? true : false"></kec-row>
                    <template v-if="collapse.prod.includes(kec.id)" v-for="(prod, i) in kec.data">
                      <prod-row :prod="prod"></prod-row>
                    </template>
                  </template>
                </template>
                <template v-if="collapse.totKabTop.includes(prov.id)">
                  <tr>
                    <th>
                      <i @click="toggleCollapseTotKab(1)" class="buttonCollapse fa " :class="(collapse.totKab.includes(1)) ? 'fa-minus' : 'fa-plus'"></i>
                    </th>
                    <th colspan="15" class="pinned head totKab"> Total Produk /Kabupaten </th>
                  </tr>
                  <template  v-if="collapse.totKab.includes(1)" v-for="(totKab, i) in prov.total">
                    <tot-kab-row :totKab="totKab"></tot-kab-row>
                  </template>
                </template>
              </template>
              <tr>
                <th>
                  <i @click="toggleCollapseTot(1)" class="buttonCollapse fa" :class="(collapse.tot.includes(1)) ? 'fa-minus' : 'fa-plus'"></i>
                </th>
                <th colspan="15" class="pinned head tot">Total Produk / Provinsi</th>
              </tr>
              <template  v-if="collapse.tot.includes(1)" v-for="(tot, i) in dataSpjb.total">
                <tot-row :tot="tot"></tot-row>
              </template>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-6">
        <div class="mr-1 mb-1 pull-left">
          <b>Legend : &nbsp; </b> 
          <div class="badge round" style="background-color:black;"> &nbsp;&nbsp; </div> Active &nbsp;
          <div class="badge round" style="background-color:red"> &nbsp;&nbsp; </div> Not Active &nbsp;
        </div>
      </div>
    </div>
    <hr>
    <table-spjb-asal :access="access" v-if="showModalTable" :toTable="sendAsProps"  @trigger-modal="triggerModal"></table-spjb-asal>
  </div>
</template>

<script>
import Table from './modal/Table';
import ProvRow from '../table-setting/ProvRow';
import KabRow from '../table-setting/KabRow';
import KecRow from '../table-setting/KecRow';
import ProdRow from '../table-setting/ProdRow';
import TotKabRow from '../table-setting/TotKabRow';
import TotRow from '../table-setting/TotRow';
export default {
  props: ['access'],
  data: function() {
    return {
      showModalTable: false,
      dateYear: ['Januari', 'Februari', 'Maret', 'April', 'Mei', 'Juni', 'Juli', 'Agustus', 'September', 'Oktober', 'November', 'Desember'],
      dataSpjb: {},
      dataProvinsi: {},
      dataKabupaten: {},
      collapse:{
        kab : [],
        kec: [],
        prod : [],
        totKab: [],
        totKabTop: [],
        tot: []
      },
      sendAsProps: {
        id: this.$route.params.id,
        no_spjb : null,
        distributor : {},
        produsen : {},
        year : null,
        provinsi: {}
      }
    }
  },
  components: {
    tableSpjbAsal: Table,
    ProvRow, KabRow, KecRow, ProdRow, TotKabRow, TotRow
  },
  created() {
    this.getData();
  },
  mounted() {

  },
  methods: {
    editTable(){
      var app = this
      var access = app.$route.params.access;
      app.$router.push({path: '/'+encodeURIComponent(access)+'/alokasi/spjb/asal/detail/edit-table/'+app.$route.params.uuid+'/'+app.$route.params.id});
    },
    renderExcel() {
      event.preventDefault();
      this.axios({
        url: 'spjb/export?uuid='+this.$route.params.uuid,
        method: 'GET',
        responseType: 'blob'
      })
      .then((response) => {
         const url = window.URL.createObjectURL(new Blob([response.data]));
         const link = document.createElement('a');
         link.href = url;
         link.setAttribute('download', 'SPJB-ASAL-ITEM-.xls');
         document.body.appendChild(link);
         link.click();
      })
      .catch((resp) => {
        toastr.error('Data Permentan Items not Found');
      })
    },
    triggerModal(refresh = false) {
      this.showModalTable = false
      if(refresh === true){
        this.getData()
      }
    },
    getData() {
      axios.get('spjb/detail/'+this.$route.params.uuid)
      .then((resp) => {
        this.dataSpjb = resp.data
        this.sendAsProps.no_spjb = resp.data.no_spjb
        this.sendAsProps.distributor = { id: resp.data.customer_id, name: resp.data.customer_name }
        this.sendAsProps.produsen = { id: resp.data.sales_org_id, name: resp.data.sales_org_name }
        this.sendAsProps.year = resp.data.year
        this.sendAsProps.provinsi = { id: resp.data.province[0].id, name: resp.data.province[0].name }
        this.setCollapseShow();
      })
      .catch((resp) => {
        toastr.error(resp.response, 'error');
      })
    },
    setCollapseShow(){
      this.collapse.tot.push(1);
      this.dataSpjb.province.map((prov) => {
        this.collapse.kab.push(prov.id)
        this.collapse.totKabTop.push(prov.id)
        this.collapse.totKab.push(1)
        prov.kabupaten.map((kab) => {
          this.collapse.kec.push(kab.id)
          kab.kecamatan.map((kec) => {
            this.collapse.prod.push(kec.id)
          })
          // kab.product.map((prod) => {
          //   this.collapse.tot.push(prod.id)
          // })
        })
        this.collapse.tot.push(prov.id)
      })

      // this.collapse.tot.push(1)

    },
    toggleCollapseTot(id) {
      const index = this.collapse.tot.indexOf(id);
      if (index > -1) {
      	this.collapse.tot.splice(index, 1)
      } else {
      	this.collapse.tot.push(id)
      }
    },
    toggleCollapseTotKabTop(id) {
      const index = this.collapse.totKabTop.indexOf(id);
      if (index > -1) {
      	this.collapse.totKabTop.splice(index, 1)
      } else {
      	this.collapse.totKabTop.push(id)
      }
    },
    toggleCollapseTotKab(id) {
      const index = this.collapse.totKab.indexOf(id);
      if (index > -1) {
      	this.collapse.totKab.splice(index, 1)
      } else {
      	this.collapse.totKab.push(id)
      }
    },
    toggleCollapseKab(id) {
      const index = this.collapse.kab.indexOf(id);
      if (index > -1) {
      	this.collapse.kab.splice(index, 1)
      } else {
      	this.collapse.kab.push(id)
      }
    },
    toggleCollapseKec(id) {
      const index = this.collapse.kec.indexOf(id);
      if (index > -1) {
      	this.collapse.kec.splice(index, 1)
      } else {
      	this.collapse.kec.push(id)
      }
    },
    toggleCollapseProd(id) {
      const index = this.collapse.prod.indexOf(id);
      if (index > -1) {
      	this.collapse.prod.splice(index, 1)
      } else {
      	this.collapse.prod.push(id)
      }
    },
    goBack(){
      var access = this.$route.params.access;
      this.$router.push({path: '/'+encodeURIComponent(access)+'/alokasi/spjb/asal'});
    }
  }
}
</script>

<style lang="css" scoped>
  th.head.totKab {
    padding-left: 4rem !important;
  }
  th.head.tot {
    padding-left: 2rem !important;
  }

  .buttonCollapse{
    cursor: pointer;
  }
</style>
