<template lang="html">
  <transition name="custom-classes-transition" enter-active-class="animated fadeIn">
    <div class="content-wrapper">
      <div class="content-header row">
        <div class="content-header-left col-md-6 col-12 mb-1">
          <h3 class="content-header-title">{{ $ml.get("privilegeMenu.cardtTitle") }}</h3>
        </div>
        <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-12">
          <div class="breadcrumb-wrapper col-12">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">{{ $ml.get("privilegeMenu.breadcrumbFirst") }}</a>
              </li>
              <li class="breadcrumb-item active">{{ $ml.get("privilegeMenu.breadcrumbSec") }}
              </li>
            </ol>
          </div>
        </div>
      </div>
      <div class="content-body">
        <section class="row">
          <div class="col-sm-12">
            <div id="kick-start" class="card">
              <div class="card-content collapse show">
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-xs table-bordered table-striped display nowrap" id="tableMenuPrivilege">
                      <thead>
                        <tr>
                          <th>{{ $ml.get("privilegeMenu.table.one") }}</th>
                          <th>#</th>
                        </tr>
                      </thead>
                      <tbody>
                      </tbody>
                    </table>
                    <modal-assign v-if="showModal" :access="access" @trigger="trigger" :roleId="roleId"></modal-assign>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </transition>
</template>

<script>
import modalAssign from '../modalAssign';
export default {
  data: function() {
    return {
      dt: '',
      roleId: null,
      showModal: false,
      access: {},
      isAccess: null,
    }
  },
  components: {
    modalAssign
  },
  created() {
    const encodeAccess = decodeURIComponent(this.$route.params.access);
    const decodeAccess = this.toText(this.decrypt(encodeAccess));
    const arrAccess = decodeAccess.split(",");
    if(arrAccess) {
      arrAccess.map((data) => {
        console.log(data);
        if(data === 'C' || data === 'R' || data === 'U' || data === 'D' || data === 'A') {
          this.access[data] = true
          this.isAccess = true;
        } else {
          // this.$router.push({path: '/home'});
          toastr.error('Permission can not open this page', 'Error');
        }
      })
    } else {
      // this.$router.push({path: '/home'});
      toastr.error('Permission can not open this page', 'Error');
    }
  },
  mounted() {
    var app = this;
    $(document).ready(function() {
      app.dt = $("#tableMenuPrivilege").DataTable({
        processing: true,
        serverSide: true,
        searching: false,
        ajax: {
          'url': 'api/role',
          'type': 'GET',
          'data': function(d){

            },
            'beforeSend': function (request) {
                var token = localStorage.getItem("default_auth_token");
                request.setRequestHeader("Authorization", "Bearer "+token);
                request.setRequestHeader("lang",  localStorage.getItem('app-lang'));
            },
        },
        columns: [
          {data: 'name', name: 'name'},
          {
            data: 'id',
            render: function(data, type, full){
              const buttonEditOrCreate = '<button class="btn btn-icon btn-primary btn-sm" id="managePrivelege" data-id="'+data+'"> <i class="fa fa-pencil"></i></button>';
              return '<div class="btn-group" role="group" aria-label="Basic example">'+buttonEditOrCreate+'</div>';
            }
          }
        ]
      })
    });

    $(document).on("click", "#managePrivelege", function(e){
      e.preventDefault();
      var id = $(this).data("id");
      app.showModal = true;
      app.roleId = id;
    })
  },
  methods: {
    trigger() {
      var app = this;
      app.showModal = false;
    }
  }
}
</script>

<style lang="css">
</style>