<template lang="html">
  <transition name="custum-classes-transition" enter-active-class="animated fadeIn">
    <div class="content-wrapper">
      <div class="content-header row">
        <div class="content-header-left col-md-6 col-12 mb-1">
          <h3 class="content-header-title">RDKK FORM</h3>
        </div>
        <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-12">
          <div class="breadcrumb-wrapper col-12">

          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h4 v-if="paramId === null" class="card-title">RDKK Baru</h4>
              <h4 v-else class="card-title">Lihat RDKK   <b>{{rdkkTemp.number}}</b></h4>
            </div>
            <form-loader :view="loaderAnimate"></form-loader>
            <div v-if="pageloder" class="card-content">
              <div class="card-body">
                <div class="row">
                  <div class="col-lg-6 col-md-12">
                    <div class="card">
                      <div class="card-header">
                        <label class="card-title" for="Large">Informasi Umum</label>
                      </div>
                      <div class="card-content">
                        <div class="card-body">
                          <div class="form-group row">
                              <label class="text-right col-md-4 label-control" >Distributor </label>
                              <div class="col-md-8">
                                <multiselect
                                  @input="getProdusen"
                                  v-model="rdkkTemp.distributor"
                                  :options="m_distributor"
                                  track-by="id" :custom-label="distributorNameWithId"
                                  :allow-empty="false"
                                  :searchable="true" :close-on-select="true"
                                  :show-labels="false" :placeholder="(loadingElement.distributor === false) ? 'Pilih ..' : 'Memuat ..'"
                                  :disabled="isDisabled" :required="isRequired" >
                                </multiselect>
                                <p class="text-danger" v-if="error && errors.customer_id">{{errors.customer_id[0]}}</p>
                              </div>
                          </div>
                          <div class="form-group row">
                            <label class="text-right col-md-4 label-control" >Provinsi</label>
                            <div class="col-md-8">
                              <multiselect
                                @input="getKabupaten"
                                v-model="rdkkTemp.provinsi"
                                :options="m_provinces"
                                track-by="id" :custom-label="provinsiNameWithId"
                                :searchable="true" :close-on-select="true"
                                :show-labels="false" :placeholder="(loadingElement.provinsi === false) ? 'Pilih ..' : 'Memuat ..'"
                                :disabled="isDisabled" :required="isRequired" >
                              </multiselect>
                              <p class="text-danger" v-if="error && errors.sales_office_id">{{errors.sales_office_id[0]}}</p>
                            </div>
                          </div>
                          <div class="form-group row">
                            <label class="text-right col-md-4 label-control" >Kota/Kabupaten</label>
                            <div class="col-md-8">
                              <multiselect
                                @input="getKecamatan"
                                v-model="rdkkTemp.kabupaten"
                                :options="m_kabupaten"
                                track-by="id" :custom-label="kabupatenNameWithId"
                                :searchable="true" :close-on-select="true"
                                :show-labels="false" :placeholder="(loadingElement.kabupaten === false) ? 'Pilih ..' : 'Memuat ..'"
                                :disabled="isDisabled" :required="isRequired" >
                              </multiselect>
                              <p class="text-danger" v-if="error && errors.sales_group_id">{{errors.sales_group_id[0]}}</p>
                            </div>
                          </div>
                          <div class="form-group row">
                            <label class="text-right col-md-4 label-control" >Kecamatan</label>
                            <div class="col-md-8">
                              <multiselect
                                @input="getPengecer"
                                :class="{'is-invalid' : error && errors.kecamatan}"
                                v-model="rdkkTemp.kecamatan"
                                :options="m_kecamatan"
                                track-by="id" :custom-label="kecamatanNameWithId"
                                :searchable="true" :close-on-select="true"
                                :show-labels="false" :placeholder="(loadingElement.kecamatan === false) ? 'Pilih ..' : 'Memuat ..'"
                                :disabled="isDisabled" :required="isRequired" >
                              </multiselect>
                              <p class="text-danger" v-if="error && errors.sales_unit_id">{{errors.sales_unit_id[0]}}</p>
                            </div>
                          </div>
                          <div class="form-group row">
                              <label class="text-right col-md-4 label-control" >Pengecer</label>
                              <div class="col-md-8">
                                <multiselect
                                  @input="getFarmergroup"
                                  v-model="rdkkTemp.pengecer"
                                  :options="m_pengecer"
                                  track-by="code" :custom-label="pengecerNameWithId"
                                  :searchable="true" :close-on-select="true"
                                  :show-labels="false" :placeholder="(loadingElement.pengecer === false) ? 'Pilih ..' : 'Memuat ..'"
                                  :disabled="isDisabled" :required="isRequired" >
                                </multiselect>
                                <p class="text-danger" v-if="error && errors.retail_id">{{errors.retail_id[0]}}</p>
                              </div>
                          </div>
                          <!-- <div class="form-group row">
                              <label class="text-right col-md-4 label-control" >Kelompok Tani</label>
                              <div class="col-md-8">
                                <multiselect
                                  @input="getFarmergroupData"
                                  v-model="rdkkTemp.keltani"
                                  :options="m_farmergroup"
                                  track-by="uuid" :custom-label="farmergroupNameWithId"
                                  :searchable="true" :close-on-select="true"
                                  :show-labels="false" :placeholder="(loadingElement.keltani === false) ? 'Pilih ..' : 'Memuat ..'"
                                  :disabled="isDisabled" :required="isRequired" >
                                </multiselect>
                                <p class="text-danger" v-if="error && errors.farmer_group_id">{{errors.farmer_group_id[0]}}</p>
                              </div>
                          </div>
                          <div class="form-group row">
                              <label class="text-right col-md-4 label-control"> Jumlah Petani </label>
                              <div class="col-md-8">
                                  <input v-model="rdkkform.total_farmer" type="text" class="form-control" placeholder="Jumlah Petani" :disabled="isDisabled" readonly >
                              </div>
                          </div> -->
                          <div class="form-group row">
                              <label class="text-right col-md-4 label-control"> Luas Lahan (Ha) </label>
                              <div class="col-md-8">
                                  <input v-model="rdkkform.land_area" v-restrict.number.decimal type="text" class="form-control" placeholder="Luas Lahan" :disabled="(rdkkform.status)=='d' ?false:isDisabled" @keyup="validateLuasLahan" >
                                  <p class="text-danger" v-if="error && errors.land_area">{{errors.land_area[0]}}</p>
                              </div>
                          </div>
                          <div class="form-group row">
                              <label class="text-right col-md-4 label-control"> Indeks Pertanaman </label>
                              <div class="col-md-8">
                                  <input v-model="rdkkform.indeks_pertanaman" v-restrict.number.decimal type="text" class="form-control" placeholder="Indeks Pertanaman" :disabled="(rdkkform.status)=='d' ?false:isDisabled" @keyup="validatePertanaman" >
                                  <p class="text-danger" v-if="error && errors.indeks_pertanaman">{{errors.indeks_pertanaman[0]}}</p>
                              </div>
                          </div>
                          <div class="form-group row">
                              <label class="text-right col-md-4 label-control"> Luas Tanam (Ha) </label>
                              <div class="col-md-8">
                                  <input v-restrict.number.decimal v-model="rdkkform.planting_area" type="text" class="form-control" placeholder="Luas Tanam" disabled :required="isRequired" >
                                  <p class="text-danger" v-if="error && errors.planting_area">{{errors.planting_area[0]}}</p>
                              </div>
                          </div>
                          <div class="form-group row">
                              <label class="text-right col-md-4 label-control" >Periode Tanam</label>
                              <div class="col-md-8">
                                <multiselect
                                  v-model="rdkkTemp.periode_tanam"
                                  :options="m_plant_period"
                                  track-by="id" label="desc"
                                  :searchable="true" :close-on-select="true"
                                  :show-labels="false" placeholder="Pilih .."
                                  :disabled="isDisabled" :required="isRequired" >
                                </multiselect>
                                <p class="text-danger" v-if="error && errors.planting_period_id">{{errors.planting_period_id[0]}}</p>
                              </div>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-12">
                    <div class="card">
                      <div class="card-header">
                        <label class="card-title" for="Large"></label>
                      </div>
                      <div class="card-content">
                        <div class="card-body">
                          <div class="row">
                            <div class="col-md-12">
                              <fieldset v-for="(komoditi, i) in commodityName" :key="i" class="col-md-4" >
                                <span class="custom-control-indicator custom-indicator"></span>
                                <span class="custom-control-description"> {{ komoditi }} </span>
                              </fieldset>
                            </div>   
                          </div>
                          <div  class="row col-md-12">
                              <fieldset v-for="(komoditi, index) in m_komoditas" :key="index" class="col-md-4">
                              </fieldset>
                              <p class="text-danger" v-if="error && errors.commodity">{{errors.commodity[0]}}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6 col-md-12">
                    <div class="card">
                      <div class="card-header">
                        <label class="card-title" for="Large">Kuantum Pengajuan (Dalam Kg)</label>
                      </div>
                      <div class="card-content">
                        <div class="card-body">
                          <div class="form-group row" v-for="(dtprod, index) in m_product" :key="index">
                              <label class="text-left col-md-4 label-control" v-if="dtprod.id === 'P51'" >{{ dtprod.name }} <small class="text-danger">(* Liter)</small> </label>
                              <label class="text-left col-md-4 label-control" v-else >{{ dtprod.name }}  </label>
                              <div class="col-md-8" v-if="paramId" >
                                <input :disabled="isDisabledKebutuhan[dtprod.id]" v-restrict.number.decimal v-model="rdkkTemp.rdkk_item_required_qty[dtprod.id]" type="text" class="form-control" :required="isRequired" >
                              </div>
                              <div class="col-md-8" v-else>
                                <input type="text" v-restrict.number.decimal v-model="rdkkTemp.rdkk_item_required_qty[dtprod.id]" class="form-control" >
                              </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-12">
                    <div class="card">
                      <div class="card-header">
                        <label class="card-title" for="Large">Kuantum Persetujuan (Dalam Kg)</label>
                      </div>
                      <div class="card-content">
                        <div class="card-body">
                          <div class="form-group row" v-for="(dtprod, index) in m_product" :key="index">
                              <label class="text-left col-md-4 label-control" v-if="dtprod.id === 'P51'" >{{ dtprod.name }} <small class="text-danger">(* Liter)</small> </label>
                              <label class="text-left col-md-4 label-control" v-else >{{ dtprod.name }}  </label>
                              <div class="col-md-8">
                                <input type="text" v-restrict.number.decimal v-model="rdkkTemp.rdkk_item_approved_qty[dtprod.id]" class="form-control" disabled>
                              </div>
                              <!-- <div class="col-md-8" v-else>
                                <input :disabled="isDisabled" v-restrict.number.decimal v-model="rdkkTemp.rdkk_item_approved_qty[dtprod.id]" type="text" class="form-control" :required="isRequired" >
                              </div> -->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12 col-md-12">
                    <div class="card">
                      <div class="card-header">

                      </div>
                      <div class="card-content">
                        <div class="card-body">
                          <div class="form-actions pull-right">
                            <button :disabled="btnLoad" type="button" class="btn btn-secondary mr-1" @click="goBack" >
                              <i class="ft-x"></i> Cancel
                            </button>
                            <button :disabled="btnLoad" v-if="!isDisabledBtn && access.C" type="button" class="btn btn-primary"  @click="toSubmit">
                              <i class="fa fa-check-square-o"></i> Submit
                            </button>
                            <button :disabled="btnLoad" v-if="!isDisabledBtn && access.C" type="button" class="btn btn-success" @click="toDraft">
                              <i class="fa fa-check-square-o" ></i> Save
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </transition>
</template>

<script>
import Multiselect from 'vue-multiselect';
import FormLoader from '../../../main/FormLoader';
import Vue from 'vue';

export default {
  data: function(){
    return {
      access: {},
      error: false,
      errors: {},
      isDisabled: false,
      isDisabledBtn: false,
      isDisabledKebutuhan: [],
      isRequired: true,
      btnLoad: false,
      loaderAnimate: false,
      pageloder:true,
      paramId: (this.$route.params.id === 'null') ? null : this.$route.params.id,
      m_komoditas : [],
      m_distributor: [],
      m_produsen: [],
      m_pengecer: [],
      m_provinces: [],
      m_kabupaten: [],
      m_kecamatan: [],
      m_farmergroup: [],
      m_product: [],
      m_plant_period: [],
      loadingElement: {
        distributor: false,
        produsen: false,
        provinsi: false,
        kabupaten: false,
        kecamatan: false,
        pengecer: false,
        keltani: false,
      },
      rdkkform: {
        uuid: null,
        type: '',
        planting_period_id: '',
        customer_id: null,
        retail_id: null,
        // farmer_group_id: null,
        sales_org_id: null,
        sales_unit_id: null,
        planting_area: '',
        land_area: '',
        indeks_pertanaman: '',
        planting_from_date: '',
        planting_thru_date: '',
        commodity: '',
        rdkk_item_required_id: '',
        rdkk_item_required_qty: '',
        rdkk_item_approved_id: '',
        rdkk_item_approved_qty: '',
        rdkk_item_required_status: '',
        rdkk_item_approved_status: '',
        status: '',
        total_farmer: '',
        sales_office_id: null,
        sales_group_id: null,
        reference_rdkk: null
      },
      rdkkTemp: {
        distributor: null,
        produsen: null,
        pengecer: null,
        provinsi: null,
        kabupaten: null,
        kecamatan: null,
        keltani: null,
        periode_tanam: null,
        prodId: [],
        commodity: [],
        rdkk_item: [],
        rdkk_item_required_qty: {},
        rdkk_item_approved_qty: {},
        rdkk_item_required_status: {},
        rdkk_item_approved_status: {},
        number:'',
      },
      commodityName: []
    }
  },
  components: {
    Multiselect,
    FormLoader
  },
  created() {
    const encodeAccess = decodeURIComponent(this.$route.params.access);
    const decodeAccess = this.toText(this.decrypt(encodeAccess));
    const arrAccess = decodeAccess.split(",");
    if(arrAccess) {
      arrAccess.map((data) => {
        if(data === 'C' || data === 'R' || data === 'U' || data === 'D' || data === 'A') {
          this.access[data] = true
        } else {
          this.$router.push({path: '/home'});
          toastr.error('Permission can not open this page', 'Error');
        }
      })
    } else {
      this.$router.push({path: '/home'});
      toastr.error('Permission can not open this page', 'Error');
    }
  },
  mounted(){
    var app = this;
    
    app.subKomoditas();
    app.getPlantingPeriod();
    // app.getProvinsi();
    app.getDistributor();
    app.getProduct();
    if (app.paramId !== null) {
      // console.log(app.paramId);
      app.getDatabyuuid(app.paramId);
    }
    app.getAccessControl();
  },
  methods: {
    produsenNameWithId ({id, name}) {
      return `${id} — ${name}`
    },
    distributorNameWithId ({id, full_name}) {
      return `${id} — ${full_name}`
    },
    pengecerNameWithId ({code, name}) {
      return `${code} — ${name}`
    },
    provinsiNameWithId ({id, name}) {
      return `${id} — ${name}`
    },
    kabupatenNameWithId ({id, name}) {
      return `${id} — ${name}`
    },
    kecamatanNameWithId ({id, name}) {
      return `${id} — ${name}`
    },
    farmergroupNameWithId ({code, name}) {
      return `${code} — ${name}`
    },
    getPlantingPeriod(){
      axios.get("rdkk/planting/list")
      .then((resp)=>{
         this.m_plant_period=resp.data.data;
      })
      .catch((resp)=>{
        console.log(resp);
      })
    },
    subKomoditas(){
      axios.get("commodity")
      .then((resp)=>{
         this.m_komoditas=resp.data.data;
      })
      .catch((resp)=>{
        console.log(resp);
      })
    },
    getDistributor(){
      this.loadingElement.distributor = true;
      axios.get("company/distributor")
      .then((resp)=>{
         this.m_distributor=resp.data.data;
         this.loadingElement.distributor = false;
      })
      .catch((resp)=>{
        toastr.error("Failed Load Data", "Load data");
        this.loadingElement.distributor = false;
      })
    },
    getProdusen(id_distributor){
      // produsen
      this.loadingElement.produsen = true;
      this.rdkkTemp.produsen = '';
      this.rdkkTemp.provinsi = '';
      this.rdkkTemp.kabupaten = '';
      this.rdkkTemp.kecamatan = '';
      this.rdkkTemp.pengecer = '';
      this.rdkkTemp.keltani = '';
      this.m_provinces = [];
      this.axios.get('company/produsen', {
        params: {
          customer_id: id_distributor.id
        }
      })
      .then((resp) => {
        this.getProvinsi(id_distributor.id)
        this.m_produsen = resp.data.data;
        this.loadingElement.produsen = false;
      })
      .catch((resp) => {
        toastr.error("Failed Load Data", "Load data");
      })
      .then((resp) => {this.loadingElement.produsen = false})
    },
    getProvinsi(id_distributor){
      // this.rdkkTemp.provinsi = ''
      // this.m_provinsi = []
      this.loadingElement.provinsi = true;
      this.axios.get('region/provinsi', {
        params: {
          type: 'rdkk',
          customer_id: id_distributor
        }
      })
      .then((resp) => {
        this.m_provinces = resp.data.data;
        this.loadingElement.provinsi = false;
      })
      .catch((resp) => {
        toastr.error("Failed Load Data", "Load data");
        this.loadingElement.provinsi = false;
      })
    },
    getKabupaten(provinsi){
      this.m_kabupaten = [];
      this.rdkkTemp.kabupaten = ''
      this.loadingElement.kabupaten = true;
      this.rdkkform.sales_office_id = provinsi.id;
      this.axios.get('region/kabupaten', {
        params: {
          type: 'rdkk',
          customer_id: this.rdkkTemp.distributor.id,
          provinsi: provinsi.id
        }
      })
      .then((resp) => {
        this.m_kabupaten = resp.data.data;
        this.loadingElement.kabupaten = false;
      })
      .catch((resp) => {
        toastr.error("Failed Load Data", "Load data");
      })
      .then((resp) => {this.loadingElement.kabupaten = false})
    },
    getKecamatan(kabupaten){
      this.rdkkTemp.kecamatan = ''
      this.m_kecamatan = []
      this.loadingElement.kecamatan = true;
      this.rdkkform.sales_group_id = kabupaten.id;
      this.axios.get('region/kecamatan', {
        params: {
          type: 'rdkk',
          customer_id: this.rdkkTemp.distributor.id,
          kabupaten: kabupaten.id
        }
      })
      .then((resp) => {
        this.m_kecamatan = resp.data.data;
        this.loadingElement.kecamatan = false;
      })
      .catch((resp) => {
        toastr.error("Failed Load Data", "Load data");
      })
      .then((resp) => {this.loadingElement.kecamatan = false})
    },
    setSelectOpt(){
      this.rdkkform.customer_id = (this.rdkkTemp.distributor === null) ? null : this.rdkkTemp.distributor.id;
      this.rdkkform.sales_org_id = (this.rdkkTemp.produsen === null) ? null : this.rdkkTemp.produsen.id;
      this.rdkkform.sales_office_id = (this.rdkkTemp.provinsi === null) ? null : this.rdkkTemp.provinsi.id;
      this.rdkkform.sales_group_id = (this.rdkkTemp.kabupaten === null) ? null : this.rdkkTemp.kabupaten.id;
      this.rdkkform.sales_unit_id = (this.rdkkTemp.kecamatan === null) ? null : this.rdkkTemp.kecamatan.id;
      this.rdkkform.retail_id = (this.rdkkTemp.pengecer === null) ? null : this.rdkkTemp.pengecer.id;
      this.rdkkform.planting_period_id = (this.rdkkTemp.periode_tanam === null) ? null : this.rdkkTemp.periode_tanam.id;
    },
    getPengecer(kecamatan){
      // pengecer
      this.rdkkTemp.pengecer = ''
      this.m_pengecer = []
      this.loadingElement.pengecer = true;
      this.axios.get('retail', {
        params: {
          customer_id: this.rdkkTemp.distributor.id,
          sales_unit_id: kecamatan.id,
          form : 'rdkkform',
        }
      })
      .then((resp) => {
        this.m_pengecer = resp.data.data;
        this.loadingElement.pengecer = false;
      })
      .catch((resp) => {
        toastr.error("Failed Load Data", "Load data");
      })
      .then((resp) => {this.loadingElement.pengecer = false})
    },
    getFarmergroup(id_retail){
      this.loadingElement.keltani = true;
      this.axios.get('farmergroup', {
        params: {
          retail_id: id_retail.id
        }
      })
      .then((resp) => {
        this.m_farmergroup = resp.data.data;
        this.loadingElement.keltani = false;
      })
      .catch((resp) => {
        toastr.error("Failed Load Data", "Load data");
      })
      .then((resp) => {this.loadingElement.keltani = false})
    },
    getFarmergroupData(id_farmergroup){
      this.axios.get('farmergroup/id/'+id_farmergroup.uuid)
      .then((resp) => {
        this.rdkkform.total_farmer = resp.data.data[0].qty_group;
        this.rdkkform.land_area = parseFloat(resp.data.data[0].land_area);
        this.rdkkform.farmer_group_id = resp.data.data[0].id;
        const {commodity_name} = resp.data.data[0]
        this.commodityName = (commodity_name != null || commodity_name != '') ? commodity_name.split(',') : []
      })
      .catch((resp) => {
        toastr.error("Failed Load Data Farmer Group", "Load data");
      })
      .then((resp) => { console.log("gagal"); })
    },
    getProduct(){
      this.axios.get('rdkk/product/list')
      .then((resp) => {
        this.m_product = resp.data.data;
      })
      .catch((resp) => {
        toastr.error("Failed Load Data", "Load data");
      })
      .then((resp) => {this.loadingElement.kabupaten = false})
    },
    getSalesunit(kecamatan){
      this.rdkkdt.sales_unit_id = kecamatan.id;
    },
    setProduct(){
      var key_val = Object.keys(this.rdkkTemp.rdkk_item_required_qty);
      var key_app = Object.keys(this.rdkkTemp.rdkk_item_approved_qty);
      this.rdkkform.rdkk_item_required_id = key_val.join(";");
      this.rdkkform.rdkk_item_approved_id = key_app.join(";");
      
      var reqVal = Object.values(this.rdkkTemp.rdkk_item_required_qty);
      reqVal = reqVal.map((val) => {
        return val === "" ? 0 : val;
      })
      var appVal = Object.values(this.rdkkTemp.rdkk_item_approved_qty);
      appVal = appVal.map((val) => {
        return val === "" ? 0 : val;
      })
      this.rdkkform.rdkk_item_required_qty = reqVal.join(";");
      this.rdkkform.rdkk_item_approved_qty = appVal.join(";");
    },
    toSubmit() {
      var app = this;
      var rdkkdt_data = app.rdkkform;
      rdkkdt_data.status = 's';
      app.setProduct();
      app.setSelectOpt();
      if (app.rdkkTemp.commodity.length > 0) {
        app.rdkkform.commodity = app.rdkkTemp.commodity.join(";");
      }
      app.setSelectOpt();
      // console.log(rdkkdt_data);
      if (app.paramId === null) {
        app.insert();
      } else {
        app.update();
      }
    },
    toDraft() {
      var app = this;
      var rdkkdt_data = app.rdkkform;
      rdkkdt_data.status = 'd';
      app.setProduct();
      app.setSelectOpt();
      if (app.rdkkTemp.commodity.length > 0) {
        app.rdkkform.commodity = app.rdkkTemp.commodity.join(";");
      }
      app.setSelectOpt();
      // console.log(rdkkdt_data);
      if (app.paramId === null) {
        app.insert();
      } else {
        app.update();
      }
    },
    insert(){
      event.preventDefault();
      this.btnLoad = true;
      this.loaderAnimate = true;
      this.pageloder = false;
      this.axios.post('rdkk', this.rdkkform)
      .then((resp) => {
        this.btnLoad = false;
        this.loaderAnimate = false;
        this.pageloder = true;
        toastr.success("Entry data RDKK berhasil", "Sukses");
        this.goBack();
      })
      .catch((resp) => {
        this.btnLoad = false;
        this.loaderAnimate = false;
        this.pageloder = true;
        toastr.error("Entry data RDKK gagal", "Gagal");
        this.error = true;
        this.errors = resp.response.data.message;
      })
    },
    update() {
      event.preventDefault();
      this.btnLoad = true;
      this.loaderAnimate = true;
      this.pageloder = false;
      this.axios.put("rdkk/"+this.paramId, this.rdkkform)
      .then((resp) => {
        this.btnLoad = false;
        this.loaderAnimate = false;
        this.pageloder = true;
        toastr.success("Update data RDKK berhasil", "Sukses");
        this.goBack();
      })
      .catch((resp) => {
        this.btnLoad = false;
        this.loaderAnimate = false;
        this.pageloder = true;
        toastr.error("Update data RDKK gagal", "Gagal");
        this.error = true;
        this.errors = resp.response.data.message;
        $.each(resp.response.data.errors, function(key, value) {
           toastr.error(value, key+" Error");
        });
      })
    },
    getDatabyuuid(id){
      this.loaderAnimate = true;
      this.pageloder = false;
      axios.get("rdkk/"+id)
      .then((resp)=>{
        this.rdkkTemp.distributor = {id: resp.data.data[0].customer_id, full_name: resp.data.data[0].customer_name};
        this.getProdusen(this.rdkkTemp.distributor);
        this.rdkkTemp.produsen = {id: resp.data.data[0].sales_org_id, name: resp.data.data[0].sales_org_name};
        this.rdkkTemp.provinsi = {id: resp.data.data[0].sales_office_id, name: resp.data.data[0].sales_office_name};
        this.getKabupaten(this.rdkkTemp.provinsi);
        this.rdkkTemp.kabupaten = {id: resp.data.data[0].sales_group_id, name: resp.data.data[0].sales_group_name};
        this.getKecamatan(this.rdkkTemp.kabupaten);
        this.rdkkTemp.kecamatan = {id: resp.data.data[0].sales_unit_id, name: resp.data.data[0].sales_unit_name};
        this.getPengecer(this.rdkkTemp.kecamatan);
        this.rdkkTemp.pengecer = {code: resp.data.data[0].retail_code, name: resp.data.data[0].retail_name, id: resp.data.data[0].retail_id};
        // this.getFarmergroup(this.rdkkTemp.pengecer);
        // this.rdkkTemp.keltani = {code: resp.data.data[0].farmer_group_id, name: resp.data.data[0].farmer_group_name, uuid: resp.data.data[0].farmer_group_uuid};
        // this.getFarmergroupData(this.rdkkTemp.keltani);
        this.rdkkform.land_area = parseFloat(resp.data.data[0].land_area).toFixed(2);
        this.rdkkform.indeks_pertanaman = parseFloat(resp.data.data[0].indeks_pertanaman).toFixed(2);
        this.rdkkform.uuid = resp.data.data[0].uuid;
        this.rdkkform.planting_area = parseFloat(resp.data.data[0].planting_area).toFixed(2);
        this.rdkkTemp.periode_tanam = {id: resp.data.data[0].farmer_period_id, desc: resp.data.data[0].farmer_period_name};
        const {commodity} = resp.data.data[0];
        this.rdkkTemp.commodity = commodity != null ? commodity.split(";") : []
        // this.rdkkTemp.commodity = resp.data.data[0].commodity.split(";");
        this.rdkkTemp.number=resp.data.data[0].number;
        this.rdkkform.status = resp.data.data[0].status;
        this.setKeantum(resp.data.data.product);
      })
      .catch((resp) => {console.log(resp)})
      .then((resp) => {
        if (!this.access.U) {
          this.isDisabled = true;
        } else {
          this.isDisabled = true;
          if(this.rdkkform.status === 'y' || this.rdkkform.status === 's'){
            this.isDisabledBtn = true;
          } else {
            this.isDisabledBtn = false;
          }
        }
        this.loaderAnimate = false;
        this.pageloder = true;
      })
      this.getAccessControl();
    },
    setKeantum(objdt){
      var obj = {}
      var obc = {}
      var obd = {}
      var stts = {}
      objdt.map((data) => {
        const required_qty = (data.required_qty !== null) ? data.required_qty : 0;
        var objOf = Object.assign(obj, {[data.product_id]: parseFloat(required_qty)});
        const approved_qty = (data.approved_qty !== null) ? data.approved_qty : 0;
        var objOn = Object.assign(obc, {[data.product_id]: parseFloat(approved_qty)});
        // const status = (data.status !== null) ? data.status : '';
        var objOk = Object.assign(obd, {[data.product_id]: (data.status === 'd') ? false : true });
        var reqapp = Object.assign(stts, {[data.product_id]: data.status });
      })
      var value_stts = Object.values(stts);
      this.rdkkTemp.rdkk_item_required_qty = obj;
      this.rdkkTemp.rdkk_item_approved_qty = obc;
      this.rdkkform.rdkk_item_required_status = value_stts.join(';');
      // this.rdkkform.rdkk_item_approved_status = value_stts.join(';');
      this.isDisabledKebutuhan = obd;
    },
    goBack(){
      // this.$router.go(-1);
      var access = this.$route.params.access;
      this.$router.push({path: '/'+encodeURIComponent(access)+'/alokasi/rdkk'});
    },
    checkPlantingArea(){
      this.rdkkform.planting_area = this.rdkkform.land_area * this.rdkkform.indeks_pertanaman;
    },
    validatePertanaman(){
      let val = this.rdkkform.indeks_pertanaman;
      let arrNumber = val.split('.');
      if(arrNumber.length > 2 || val === '') {
        this.rdkkform.indeks_pertanaman = 0;
      } else {
        if(this.rdkkform.indeks_pertanaman > 3){
          this.rdkkform.indeks_pertanaman = 0;
          toastr.warning("Indeks Pertanaman Tidak Valid!")
        }
      }
      this.rdkkform.planting_area = this.rdkkform.land_area * this.rdkkform.indeks_pertanaman;
    },
    validateLuasLahan(){
      let val = this.rdkkform.land_area;
      let arrNumber = val.split('.');
      if(arrNumber.length > 2 || val === '') {
        this.rdkkform.land_area = 0;
      }
      this.rdkkform.planting_area = this.rdkkform.land_area * this.rdkkform.indeks_pertanaman;
    },
    getAccessControl(){
      const getLocalSearch = localStorage.getItem('access-control');
      const encodeAccess = decodeURIComponent(getLocalSearch);
      const decodeAccess = this.toText(this.decrypt(encodeAccess));
      const accessControl = decodeAccess.split(";")[0];
      console.log(accessControl)
      if(accessControl == 4){
        this.rdkkform.type = 'required';
      } 
      if (accessControl == 2 || accessControl == 3 ){
        this.rdkkform.type = 'approved';
      }
    }
  }
}
Vue.directive('restrict', {
  bind (el, binding) {
    el.addEventListener('keydown', (e) => {
      // delete, backpsace, tab, escape, enter,
      let special = [46, 8, 9, 27, 13]
      if (binding.modifiers['decimal']) {
        // decimal(numpad), period
        special.push(110, 190)
      }
      // special from above
      if (special.indexOf(e.keyCode) !== -1 ||
        // Ctrl+A
        (e.keyCode === 65 && e.ctrlKey === true) ||
        // Ctrl+C
        (e.keyCode === 67 && e.ctrlKey === true) ||
        // Ctrl+X
        (e.keyCode === 88 && e.ctrlKey === true) ||
        // home, end, left, right
        (e.keyCode >= 35 && e.keyCode <= 39)) {
        return // allow
      }
      if ((binding.modifiers['alpha']) &&
        // a-z/A-Z
        (e.keyCode >= 65 && e.keyCode <= 90)) {
        return // allow
      }
      if ((binding.modifiers['number']) &&
        // number keys without shift
        ((!e.shiftKey && (e.keyCode >= 48 && e.keyCode <= 57)) ||
        // numpad number keys
        (e.keyCode >= 96 && e.keyCode <= 105))) {
        return // allow
      }
      // otherwise stop the keystroke
      e.preventDefault() // prevent
    }) // end addEventListener
  } // end bind
}) // end directive
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style lang="css">
  .custom-indicator {
      background-color: #1980ef !important;
      border-radius: 50%;
  }
</style>
