<template>
  <tr class="filter">
    <th>
      <input type="text" v-model="spjbOp.number" v-on:keyup="search()" class="form-control form-control-sm" >
    </th>
    <th>
      <input type="text" v-model="spjbOp.year" v-on:keyup="search()" class="form-control form-control-sm" >
    </th>
    <th>
      <input type="text" v-model="spjbOp.customer_name" v-on:keyup="search()" class="form-control form-control-sm" >
    </th>
    <th>
      <input type="text" v-model="spjbOp.sales_org_name" v-on:keyup="search()" class="form-control form-control-sm" >
    </th>
    <th>
      <status-filter :reset="reset" :checkedStatus="spjbOp.status_name" @get-check="searchTable" :label="btnStatus" :list="statusSearch"></status-filter>
    </th>
    <th></th>
  </tr>
</template>

<script>
import Checklist from '../../../filter/Checklist';
export default {
  data: function() {
    return {
      btnStatus : 'Cari Status',
      statusSearch: [
        {name: 'Partial-active', value: 'z'},
        {name: 'Active', value: 'y'},
        {name: 'Inactive ', value: 'n'},
        {name: 'Suspend', value: 'p'},
        {name: 'Draft', value: 'd'},
        {name: 'Submitted', value: 's'}
      ],
      spjbOp: {
        number: null,
        year: null,
        customer_name: null,
        sales_org_name: null,
        status_name: null
      }
    }
  },
  components: {
    StatusFilter: Checklist
  },
  methods: {
    searchTable(obj) {
      var status = obj.join(';')
      this.spjbOp.status_name = status
      this.search()
    },
    search() {
      event.preventDefault();
      this.$emit("search-table", this.spjbOp);
    }
  }
}
</script>

<style lang="css" scoped>
</style>
