<template lang="html">
  <div class="modal fade" id="formPerbup" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form @submit="submitPerbup()">
          <div class="modal-header">
            <h4 class="modal-title">Form Alokasi Kecamatan</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body">
            <div class="form-group row">
              <label class="col-md-4 label-control">Provinsi</label>
              <div class="col-md-8">
                <multiselect
                  v-model="temp.provinsi"
                  :options="get.provinsi"
                  track-by="uuid" :custom-label="provinsiNameWithId"
                  :searchable="true" :close-on-select="true"
                  :show-labels="false"
                  :placeholder="(loadingElement.provinsi === false) ? 'Pilih Provinsi..' : 'Memuat ..'"
                  :disabled="true"
                >
                </multiselect>
                <p class="text-danger" v-if="error && errors.sales_office_id">{{errors.sales_office_id[0]}}</p>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 label-control">Kabupaten</label>
              <div class="col-md-8">
                <multiselect
                  @input="getKecamatan"
                  v-model="temp.kabupaten"
                  :options="get.kabupaten"
                  track-by="uuid" :custom-label="kabupatenNameWithId"
                  :searchable="true" :close-on-select="true"
                  :show-labels="false"
                  :placeholder="(loadingElement.kabupaten === false) ? 'Pilih Kabupaten..' : 'Memuat ..'"
                  :disabled="true"
                >
                </multiselect>
                <p class="text-danger" v-if="error && errors.sales_group_id">{{errors.sales_group_id[0]}}</p>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 label-control">Kecamatan</label>
              <div class="col-md-8">
                <multiselect
                  v-model="temp.kecamatan"
                  :options="get.kecamatan"
                  track-by="uuid" :custom-label="kecamatanNameWithId"
                  :searchable="true" :close-on-select="true"
                  :show-labels="false"
                  :placeholder="(loadingElement.kecamatan === false) ? 'Pilih Kecamatan..' : 'Memuat ..'"
                >
                </multiselect>
                <p class="text-danger" v-if="error && errors.sales_unit_id">{{errors.sales_unit_id[0]}}</p>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 label-control">Produk</label>
              <div class="col-md-8">
                <multiselect
                  v-model="temp.product"
                  :options="get.product"
                  track-by="uuid" :custom-label="productNameWithId"
                  :searchable="true" :close-on-select="true"
                  :show-labels="false"
                  :placeholder="(loadingElement.product === false) ? 'Pilih Produk..' : 'Memuat ..'"
                >
                </multiselect>
                <p class="text-danger" v-if="error && errors.product_id">{{errors.product_id[0]}}</p>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 label-control">QTY</label>
              <div class="col-md-8">
                <input type="number" v-model="send.initial_qty" class="form-control"
                :class="{'is-invalid' : error && errors.initial_qty}"
                >
                <p class="text-danger" v-if="error && errors.initial_qty">{{errors.initial_qty[0]}}</p>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 label-control">Bulan</label>
              <div class="col-md-8">
                <select class="form-control" v-model="send.month"
                :class="{'is-invalid' : error && errors.month}"
                >
                  <option value=null>Pilih Bulan</option>
                  <option v-for="(data, i) in months" :value="data.val">{{ data.val }} - {{ data.name }}</option>
                </select>
                <p class="text-danger" v-if="error && errors.month">{{errors.month[0]}}</p>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 label-control">Tahun</label>
              <div class="col-md-8">
                <input type="number" v-model="send.year" class="form-control" :disabled="true"
                :class="{'is-invalid' : error && errors.year}"
                >
                <p class="text-danger" v-if="error && errors.year">{{errors.year[0]}}</p>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
            <button type="submit" class="btn btn-primary">Simpan</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import Multiselect from 'vue-multiselect';
import listMonth from '../../../../../helpers/listMonth';
export default {
  props: ['id', 'uuid', 'dataProvinsi', 'dataKabupaten'],
  data: function(){
    return {
      get: {
        provinsi: [],
        kabupaten: [],
        kecamatan: [],
        product: []
      },
      send: {
        sales_office_id: null,
        sales_group_id: null,
        sales_unit_id: null,
        product_id: null,
        month: null,
        year: this.$route.params.year,
        initial_qty: null,
        contract_gov_id: this.id
      },
      temp:{
        provinsi: this.dataProvinsi,
        kabupaten: this.dataKabupaten,
        kecamatan: null,
        product: null
      },
      loadingElement: {
        provinsi: false,
        kabupaten: false,
        kecamatan: false,
        product: false,
      },
      error: false,
      errors: {},
      months: listMonth
    }
  },
  components: {
    Multiselect
  },
  created(){
    if(this.uuid != null){
      this.getDetailPerbup();
    }
    this.getProvinsi()
    this.getKecamatan(this.dataKabupaten)
    this.getProduct()
    // this.getMonth();
    // this.getKabupaten(this.dataProvinsi)
  },
  mounted() {
    var app = this;
    $("#formPerbup").modal("show");
    $("#formPerbup").on("hidden.bs.modal", function(){
      app.closeModal();
    });
  },
  methods: {
    closeModal() {
      this.$emit("trigger-modal", true);
    },
    getDetailPerbup() {
      this.axios.get("perbup/item/"+this.uuid)
      .then((resp) => {
        this.send = resp.data.data[0]
        this.temp.product = { id: resp.data.data[0].product_id, name: resp.data.data[0].product_name }
        this.temp.kecamatan = { id: resp.data.data[0].sales_unit_id, name: resp.data.data[0].sales_unit_name }
      })
      .catch((resp) => {
        toastr.error(resp.response.data.exception, "Error");
        toastr.error(resp.response.data.message, "Error");
      })
    },
    // provinsi
    provinsiNameWithId ({id, name}) {
      return `${id} — ${name}`
    },
    getProvinsi(){
      this.loadingElement.provinsi = true;
      this.axios.get('region/provinsi')
      .then((resp) => {
        this.get.provinsi = resp.data.data;
      })
      .catch((resp) => {
        toastr.error(resp.data.message);
        console.log(resp);
      })
      .then((resp) => {
        this.loadingElement.provinsi = false;
      })
    },
    //kabupaten
    kabupatenNameWithId ({id, name}) {
      return `${id} — ${name}`
    },
    getKabupaten(provinsi){
      this.temp.kabupaten = null;
      this.temp.kecamatan = null;
      this.send.sales_unit_id = null;
      this.get.kabupaten = [];
      this.get.kecamatan = [];
      this.loadingElement.kabupaten = true
      this.axios.get('region/kabupaten', {
        params: {
          provinsi: provinsi.id
        }
      })
      .then((resp) => {
        this.get.kabupaten = resp.data.data;
      })
      .catch((resp) => {
        toastr.error("Failed Load Kabupaten", "Load data");
      })
      .then((resp) => {this.loadingElement.kabupaten = false})
    },
    //kecamatan
    kecamatanNameWithId ({id, name}) {
      return `${id} — ${name}`
    },
    getKecamatan(kabupaten){
      this.temp.kecamatan = null;
      this.get.kecamatan = [];
      this.loadingElement.kecamatan = true
      this.axios.get('region/kecamatan', {
        params: {
          kabupaten: kabupaten.id
        }
      })
      .then((resp) => {
        this.get.kecamatan = resp.data.data;
      })
      .catch((resp) => {
        toastr.error("Failed Load Kecamatan", "Load data");
      })
      .then((resp) => {this.loadingElement.kecamatan = false})
    },
    // product
    productNameWithId ({id, name}) {
      return `${id} — ${name}`
    },
    getProduct(){
      this.loadingElement.product = true;
      this.axios.get('product')
      .then((resp) => {
        this.get.product = resp.data.data;
      })
      .catch((resp) => {
        toastr.error(resp.data.message);
        console.log(resp);
      })
      .then((resp) => {
        this.loadingElement.product = false;
      })
    },
    // getMonth() {
    //   this.axios.get('../json/month.json')
    //   .then((resp) => {
    //     this.months = resp.data;
    //   })
    //   .catch((resp) => {
    //     toastr.error("Gagal load data bulan", "Error");
    //   })
    // },
    setSelectOption(){
      this.send.sales_office_id = (this.temp.provinsi === null) ? null : this.temp.provinsi.id;
      this.send.sales_group_id = (this.temp.kabupaten === null) ? null : this.temp.kabupaten.id;
      this.send.sales_unit_id = (this.temp.kecamatan === null) ? null : this.temp.kecamatan.id;
      this.send.product_id = (this.temp.product === null) ? null : this.temp.product.id;
    },
    submitPerbup() {
      event.preventDefault()
      if(this.uuid != null) {
        this.updatePerbup();
      } else {
        this.savePerbup();
      }
    },
    updatePerbup() {
      this.setSelectOption()
      this.axios.put('perbup/item/'+this.uuid, this.send)
      .then((resp) => {
        $("#formPerbup").modal("hide");
        toastr.success("Data di simpan", "Sukses");
      })
      .catch((resp) => {
        this.error = true;
        this.errors = resp.response.data.message;
        toastr.error(this.errors, "Gagal");
      })
    },
    savePerbup(){
      this.setSelectOption()
      this.axios.post('perbup', this.send)
      .then((resp) => {
        $("#formPerbup").modal("hide");
        toastr.success("Data di simpan", "Sukses");
      })
      .catch((resp) => {
        this.error = true;
        this.errors = resp.response.data.message;
        toastr.error(this.errors, "Gagal");
      })
    }
  }
}
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style lang="css" scoped>
  div.invalid .multiselect__tags {
    border: 1px solid #ff8080;
  }
</style>
