<template>
  <tr class="filter">
    <th>
      <input type="text" v-model="itemFilter.sales_org_name" v-on:keyup="search()" class="form-control form-control-md">
    </th>
    <th>
      <input type="text" v-model="itemFilter.number" v-on:keyup="search()" class="form-control form-control-md">
    </th>
    <th>
      <input type="text" v-model="itemFilter.customer_name" v-on:keyup="search()" class="form-control form-control-md">
    </th>
    <th>
      <month :reset="reset" :checkedMonth="itemFilter.month" @get-month="searchMonth"></month>
    </th>
    <th>
      <year :reset="reset" @get-year="searchYear" :type="type"></year>
    </th>
    <th>
      <checklist :reset="reset" :checkedStatus="itemFilter.status_name" @get-check="searchStatus" :label="'Cari Status'" :list="statusItem"></checklist>
    </th>
    <th></th>
    <th></th>
  </tr>
</template>

<script>
import Checklist from '../../../filter/Checklist';
import Year from '../../../filter/Year';
import Month from '../../../filter/Month';
export default {
  props: ['reset'],
  data: function() {
    return {
      type: 'validYear', 
      uriName: this.$auth.user().id+'_'+'search_'+this.$route.name,
      statusItem : [
        {name: 'Approve / Active', value: 'y'},
        {name: 'Submited', value: 's'},
        {name: 'Draft', value: 'd'}
      ],
      itemFilter: {
        sales_org_name: null,
        number: null,
        customer_name: null,
        month: null,
        year: null,
        status_name: null,
      }
    }
  },
  components: {
    Checklist, Year, Month
  },
  created() {

  },
  mounted() {
    var app = this;
    const getLocalSearch = JSON.parse(localStorage.getItem(app.uriName));
    setTimeout(() => {
        if (getLocalSearch !== null) {
            app.itemFilter = getLocalSearch;
            app.$emit("search-table", app.itemFilter);
        }
    },1000)
  },
  watch: {
		reset: function(val){
			if(val === true) {
				this.resetFilter();
			}
		}
	},
  methods: {
    searchYear(date = '') {
      if (date != '') {
        if (date != '') {
          this.itemFilter.year = {
            certain: (date.name === 'validYear' && date.dateType === 'certain') && date.data.from,
            from: (date.name === 'validYear' && date.dateType === 'range') && date.data.from,
            to: (date.name === 'validYear' && date.dateType === 'range') && date.data.to
          }
        } else {
          this.itemFilter.year = ''
        }
        this.search()
      }
    },
    searchMonth(obj) {
      var month = obj.join(';')
      this.itemFilter.month = month
      this.search()
    },
    searchStatus(obj) {
      var status = obj.join(';');
      this.itemFilter.status_name = status;
      this.search();
    },
    search() {
      event.preventDefault();
      localStorage.setItem(this.uriName, JSON.stringify(this.itemFilter));
      this.$emit("search-table", this.itemFilter);
    },
    resetFilter(){
      this.clearFilter(this.$route.name, this.itemFilter);
      this.search();
    }
  }
}
</script>

<style lang="css" scoped>
</style>
