<template>
    <!-- Modal On Vue  -->
    <div class="modal fade" id="AddModal" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <!-- content -->
                 <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel" >Form SK Dinas Prov</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- <loading :view="loaderAnimate" v-if="loads=='s'"></loading> -->
                    <!-- <h4 class="form-section"><i class="ft-user"></i> Form Material Subtitusi  </h4> -->
                    <input type="hidden" v-model="datauuid">
                    <hr>
                    <div class="row" >
                        <div class="col-md-12">
                            <div class="form-group row">
                              <label class="col-md-4 label-control text-right">Sales Org</label>
                              <div class="col-md-8">
                                <input type="text" class="form-control" :value="this.dataModal.sales_org_id+' — '+this.dataModal.sales_org_name" :disabled="true" />
                              </div>
                            </div>
                            <div class="form-group row">
                              <label class="col-md-4 label-control text-right">No Pergub</label>
                              <div class="col-md-8">
                                <input type="text" class="form-control" :value="this.dataModal.pergub_no" :disabled="true" />
                              </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-4 label-control text-right" >Tahun </label>
                                <div class="col-md-8">
                                    <input type="number" min="1900" max="2099" step="1" v-model="form.year" class="form-control" :disabled="true">
                                    <p class="text-danger" v-if="error && errors.year">{{errors.year[0]}}</p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-4 label-control text-right" >Provinsi </label>
                                <div class="col-md-8 " >
                                    <multiselect
                                      @input="getKabupaten"
                                      v-model="temp.sales_office_id"
                                      :options="m_provinsi"
                                      track-by="id" :custom-label="provinsiNameWithId"
                                      :searchable="true" :close-on-select="true"
                                      :show-labels="false" placeholder="Pilih .."
                                      :disabled="isDisabled"
                                    >
                                    </multiselect>
                                    <p class="text-danger" v-if="error && errors.sales_office_id">{{errors.sales_office_id[0]}}</p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-4 label-control text-right" >Kabupaten </label>
                                <div class="col-md-8 " >
                                    <multiselect
                                      v-model="temp.sales_group_id"
                                      :options="m_kabupaten"
                                      track-by="id" :custom-label="kabupatenNameWithId"
                                      :searchable="true" :close-on-select="true"
                                      :show-labels="false" :placeholder="(loadingElement.kabupaten === false) ? 'Pilih ..' : 'Memuat ..'"
                                      :disabled="isDisabled"
                                    >
                                    </multiselect>
                                    <p class="text-danger" v-if="error && errors.sales_group_id">{{errors.sales_group_id[0]}}</p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-4 label-control text-right" >Produk </label>
                                <div class="col-md-8 " >
                                    <multiselect
                                      v-model="temp.product_id"
                                      :options="m_produk"
                                      track-by="id" :custom-label="productNameWithId"
                                      :searchable="true" :close-on-select="true"
                                      :show-labels="false" placeholder="Pilih .." >
                                    </multiselect>
                                    <p class="text-danger" v-if="error && errors.product_id">{{errors.product_id[0]}}</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                        <button type="button" class="btn btn-secondary square" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary square" @click="toSubmit"> <i class="fa fa-save"> </i>Submit</button>
                </div>
                <!-- End Content -->
            </div>
        </div>
    </div>
    <!-- End Modal  -->
</template>

<script>
import Multiselect from 'vue-multiselect';
import Loading from '../../../main/FormLoader';
import Vue from 'vue';

export default {
    props:['adddata','loads','datauuid', 'govId', 'provID','dataModal'],
    data:function(){
        return {
            m_month: [
              {name: 'Jan', value: '1'},
              {name: 'Feb ', value: '2'},
              {name: 'Mar', value: '3'},
              {name: 'Apr', value: '4'},
              {name: 'Mei', value: '5'},
              {name: 'Jun', value: '6'},
              {name: 'Jul', value: '7'},
              {name: 'Agu', value: '8'},
              {name: 'Sep', value: '9'},
              {name: 'Okt', value: '10'},
              {name: 'Nov', value: '11'},
              {name: 'Des', value: '12'},
            ],
            modal: {
                formupdate:false,
                modalhide:false
            },
            loadingElement: {
              kabupaten: false,
              kecamatan: false
            },
            form: {
              contract_gov_id : '',
              sales_office_id : '',
              sales_group_id : '',
              product_id : '',
              initial_qty : 0,
              month : 1,
              year : this.dataModal.year,
            },
            temp: {
              sales_office_id : null,
              sales_group_id : null,
              product_id : null,
            },
            error:false,
            errors:[],
            m_provinsi:[],
            m_kabupaten:[],
            m_produk:[],
            findByUUID: null,
            isDisabled: false,
            loaderAnimate: false,
            pageloder:true,
        }
    },
    components:{
        Loading,
        Multiselect
    },
    mounted(){
        var app=this;
        $("#AddModal").modal("show");
        $('#AddModal').on('hidden.bs.modal', function () {
            app.closeModal();
        });
        this.findByUUID = this.datauuid;
        if (this.findByUUID !== null && typeof this.findByUUID !== 'undefined') {
          this.getEditData();
        }
        this.getProvinsi();
        this.getProduct();
    },
    methods: {
        closeModal(){
            this.$emit("trigger-modal", true);
        },
        onlyNumber(evt){
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if (charCode != 46 && charCode > 31 && (charCode < 48 || charCode > 57)){
                evt.preventDefault();
                toastr.warning("Only Number or Decimal with (.)", "Type Input False");
            }else{
                return true;
            }
        },
        // provinsi
        getProvinsi(){
          this.axios.get('region/provinsi')
          .then((resp) => {
            this.m_provinsi = resp.data.data;
            if (this.provID.id != null) {
              this.temp.sales_office_id = {id: this.provID.id, name: this.provID.name};
              this.getKabupaten(this.provID);
            }
          })
          .catch((resp) => {
            toastr.error("Failed Load Province", "Load data");
          })
        },
        provinsiNameWithId ({id, name}) {
          return `${id} — ${name}`
        },
        // kabupaten
        getKabupaten(provinsi){
          this.m_kabupaten = [];
          this.loadingElement.kabupaten = true
          this.axios.get('region/kabupaten', {
            params: {
              provinsi: provinsi.id
            }
          })
          .then((resp) => {
            this.m_kabupaten = resp.data.data;
          })
          .catch((resp) => {
            toastr.error("Failed Load Kabupaten", "Load data");
          })
          .then((resp) => {this.loadingElement.kabupaten = false})
        },
        kabupatenNameWithId ({id, name}) {
          return `${id} — ${name}`
        },
        // producr
        getProduct(){
             this.axios.get("product")
            .then((resp)=>{
               this.m_produk=resp.data.data;
            })
            .catch((resp)=>{
              toastr.error("Failed Load Product", "Load data");
            })
        },
        // product
        productNameWithId ({id, name}) {
          return `${id} — ${name}`
        },
        convertDate(){
            alert($(this).val());
        },
        getEditData(){
          console.log("edit");
            this.axios.get("pergub/item/id/"+this.findByUUID)
            .then((resp)=>{
               this.error = false;
               this.errors = [];
               this.form.contract_gov_id = resp.data.data[0].contract_gov_id;
               this.temp.sales_office_id = {id: resp.data.data[0].sales_office_id, name: resp.data.data[0].provinsi};
               this.getKabupaten(this.form.sales_office_id);
               this.temp.sales_group_id = {id: resp.data.data[0].sales_group_id, name: resp.data.data[0].kabupaten};
               this.temp.product_id = {id: resp.data.data[0].product_id, name: resp.data.data[0].product_name};
               this.form.initial_qty = resp.data.data[0].initial_qty;
               this.form.month = resp.data.data[0].month;
               this.form.year = resp.data.data[0].year;
            })
            .catch((resp)=>{

            })
            .then((resp)=>{

            });
        },
        toSubmit(){
          var app = this;
          app.loaderAnimate = true;
          app.pageloder = false;
          console.log(this.govId);
          if (app.findByUUID === null || typeof this.findByUUID === 'undefined') {
            app.insert();
          } else {
            app.update();
          }
        },
        setSelectOption(){
          this.form.product_id = (this.temp.product_id === null) ? null : this.temp.product_id.id;
          this.form.sales_office_id = (this.temp.sales_office_id === null) ? null : this.temp.sales_office_id.id;
          this.form.sales_group_id = (this.temp.sales_group_id === null) ? null : this.temp.sales_group_id.id;
        },
        insert(){
          event.preventDefault();
          this.setSelectOption();
          this.form.contract_gov_id = this.govId;
          this.form.month = this.form.month;
          this.axios.post('pergub', this.form)
          .then((resp) => {
            toastr.success("Entry data berhasil", "Sukses");
            $("#AddModal").modal("hide");
          })
          .catch((resp) => {
            toastr.error("Entry data gagal", "Gagal");
            this.error = true;
            this.errors = resp.response.data.message;
            var warning="<ul>"; var flag_warning=false;
            $.each(resp.data.warning,function(index,value){
                flag_warning=true;
                warning+="<li>"+value[0]+"</li>";
            });
            warning+="</ul>";
            if(flag_warning)
            {
              toastr.warning(warning, 'Warning Jumlah Ammount Melebihi Permentan');
            }

            if(this.error)
            {
              var errString="<ul>";
              $.each(resp.data.message,function(index,value){
                  errString+="<li><b>"+index+"</b> : "+value[0]+"</li>";
              });
              errString+="</ul>";
              toastr.error(errors, 'Error Validation Data');
            }

          })
          .then((resp) => {
            this.loaderAnimate = false;
            this.pageloder = true;
          })
        },
        update() {
          event.preventDefault();
          this.setSelectOption();

          this.form.contract_gov_id = this.govId;
          this.form.month = this.form.month;

          this.axios.put("pergub/"+this.findByUUID, this.form)
          .then((resp) => {
            toastr.success("Update data berhasil", "Sukses");
            $("#AddModal").modal("hide");
          })
          .catch((resp) => {
            toastr.error("Update data gagal", "Gagal");
            this.error = true;
            this.errors = resp.response.data.message;
          })
          .then((resp) => {
            this.loaderAnimate = false;
            this.pageloder = true;
          })
        },
        getYear(){
          this.form.year = this.form.month.split('-')[0];
          console.log(this.form.month);
        }
    },
}
Vue.directive('restrict', {
  bind (el, binding) {
    el.addEventListener('keydown', (e) => {
      // delete, backpsace, tab, escape, enter,
      let special = [46, 8, 9, 27, 13]
      if (binding.modifiers['decimal']) {
        // decimal(numpad), period
        special.push(110, 190)
      }
      // special from above
      if (special.indexOf(e.keyCode) !== -1 ||
        // Ctrl+A
        (e.keyCode === 65 && e.ctrlKey === true) ||
        // Ctrl+C
        (e.keyCode === 67 && e.ctrlKey === true) ||
        // Ctrl+X
        (e.keyCode === 88 && e.ctrlKey === true) ||
        // home, end, left, right
        (e.keyCode >= 35 && e.keyCode <= 39)) {
        return // allow
      }
      if ((binding.modifiers['alpha']) &&
        // a-z/A-Z
        (e.keyCode >= 65 && e.keyCode <= 90)) {
        return // allow
      }
      if ((binding.modifiers['number']) &&
        // number keys without shift
        ((!e.shiftKey && (e.keyCode >= 48 && e.keyCode <= 57)) ||
        // numpad number keys
        (e.keyCode >= 96 && e.keyCode <= 105))) {
        return // allow
      }
      // otherwise stop the keystroke
      e.preventDefault() // prevent
    }) // end addEventListener
  } // end bind
}) // end directive
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style lang="css">

</style>
