<template lang="html">
  <transition name="custom-classes-transition" enter-active-class="animated fadeIn">
    <div class="content-wrapper">
      <div class="content-header row">
        <div class="content-header-left col-md-6 col-12 mb-1">
          <h3 class="content-header-title">SK Dinas Prov >> {{ pergub_no }}</h3>
        </div>
      </div>
      <div class="content-body">
        <section class="row">
          <div class="col-sm-12">
            <div id="kick-start" class="card">
              <div class="card-content collapse show">
                <div class="card-body">
                  <div class="row">
                    <div class="col-2">
                      No <br>
                      Produsen <br>
                      Periode Tahun
                    </div>
                    <div class="col-4">
                      {{ pergubProv.pergub_no }} <br>
                      {{ pergubProv.sales_org_name }} <br>
                      {{ pergubProv.year }} <br>
                    </div>
                    <div class="col-md-6">
                      <div class="pull-right">
                        <button type="button" class="btn btn-danger square" @click="goBack()" ><i class="fa fa-chevron-circle-left"></i> Kembali</button>
                        <button v-if="access.U === true" type="button" class="btn btn-primary square" v-on:click="editData"> <i class="fa fa-download"></i>
                          Edit SK Dinas Prov
                        </button>
                        <button v-if="access.Z === true" type="button" class="btn btn-primary square" v-on:click="addData"> <i class="fa fa-download"></i>
                          Entry Baru
                        </button>
                        <button  type="button" class="btn btn-primary square" id="downloadTableExcel" @click="fnExcelReport" :disabled="loadingSpin">
                          <i v-if="loadingSpin" class="fa fa-spin fa-refresh"></i>
                          <i v-else class="fa fa-download"> </i>
                          Download
                        </button>
                      </div>
                    </div>
                  </div>
                  <br>
                  <br>
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="table-responsive">
                        <table id="pergubdetailTable" class="table table-bordered mb-0 table-xs">
                          <thead>
                            <tr>
                              <th></th>
                              <th>Provinsi/Kabupaten/Produk</th>
                              <th>Jan</th>
                              <th>Feb</th>
                              <th>Mar</th>
                              <th>Apr</th>
                              <th>Mei</th>
                              <th>Jun</th>
                              <th>Jul</th>
                              <th>Ags</th>
                              <th>Sep</th>
                              <th>Okt</th>
                              <th>Nov</th>
                              <th>Des</th>
                              <!-- <th>Tahun</th>
                              <th>Tanggal</th>
                              <th>Status</th> -->
                              <th>Total</th>
                            </tr>
                          </thead>
                          <tbody id="databody">
                            <template v-if = "pergubProv!=null" v-for="(data, index) in pergubProv.provinsi">
                              <tr>
                                <td @click="toggle(data.id)" :class="{ opened: opened.includes(data.id) }">
                                  <span v-if="opened.includes(data.id)" class="fa fa-minus"></span>
                                  <span v-else class="fa fa-plus"></span>
                                </td>
                                <td colspan="16" class="pinned head"><b>{{ data.name }}</b></td>
                              </tr>
                                <template v-if="opened.includes(data.id)" v-for="(data_sub, indexx) in data.kabupaten">
                                  <tr>
                                    <td @click="toggle(data_sub.id)" :class="{ opened: opened.includes(data_sub.id) }">
                                      <span v-if="opened.includes(data_sub.id)" class="fa fa-minus"></span>
                                      <span v-else class="fa fa-plus"></span>
                                    </td>
                                    <td colspan="16" class="pinned head">&nbsp;&nbsp;&nbsp;
                                      <b>{{ data_sub.name }}</b>
                                    </td>
                                  </tr>
                                  <template v-if="opened.includes(data_sub.id)" v-for="(prod, index) in data_sub.product">
                                    <transition name="custom-classes-transition" enter-active-class="animated fadeInDown" leave-active-class="animated fadeOutUp">
                                    <tr>
                                      <td></td>
                                      <td class="pinned head">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        {{ prod.name }}
                                      </td>
                                      <td :class="(prod.status_qty[0] === 'n') ? 'inactive' : ''">{{ numberEngine(prod.month[0] )}} </td>
                                      <td :class="(prod.status_qty[1] === 'n') ? 'inactive' : ''">{{ numberEngine(prod.month[1] )}} </td>
                                      <td :class="(prod.status_qty[2] === 'n') ? 'inactive' : ''">{{ numberEngine(prod.month[2] )}} </td>
                                      <td :class="(prod.status_qty[3] === 'n') ? 'inactive' : ''">{{ numberEngine(prod.month[3] )}} </td>
                                      <td :class="(prod.status_qty[4] === 'n') ? 'inactive' : ''">{{ numberEngine(prod.month[4] )}} </td>
                                      <td :class="(prod.status_qty[5] === 'n') ? 'inactive' : ''">{{ numberEngine(prod.month[5] )}} </td>
                                      <td :class="(prod.status_qty[6] === 'n') ? 'inactive' : ''">{{ numberEngine(prod.month[6] )}} </td>
                                      <td :class="(prod.status_qty[7] === 'n') ? 'inactive' : ''">{{ numberEngine(prod.month[7] )}} </td>
                                      <td :class="(prod.status_qty[8] === 'n') ? 'inactive' : ''">{{ numberEngine(prod.month[8] )}} </td>
                                      <td :class="(prod.status_qty[9] === 'n') ? 'inactive' : ''">{{ numberEngine(prod.month[9] )}} </td>
                                      <td :class="(prod.status_qty[10] === 'n') ? 'inactive' : ''">{{ numberEngine(prod.month[10]) }} </td>
                                      <td :class="(prod.status_qty[11] === 'n') ? 'inactive' : ''">{{ numberEngine(prod.month[11]) }} </td>
                                      <!-- <td>{{ prod.year }} </td>
                                      <td>{{ convertDate(prod.date) }} </td>
                                      <td>{{ prod.status }} </td> -->
                                      <td>{{ parseFloat(prod.total).toFixed(2) }} </td>
                                    </tr>
                                    </transition>
                                  </template>
                                </template>
                            </template>
                            <tr>
                              <td @click="toggleTot(1)"> <i class="buttonCollapse fa" :class="(collapse.tot.includes(1)) ? 'fa-minus' : 'fa-plus'"></i> </td>
                              <td colspan="16" class="pinned head"><b>TOTAL</b></td>
                            </tr>
                            <template v-if="collapse.tot.includes(1)" v-for="(data_total, index) in pergubProv.totals">
                              <transition name="custom-classes-transition" enter-active-class="animated fadeInDown" leave-active-class="animated fadeOutUp">
                                <tr>
                                  <td></td>
                                  <td class="pinned head">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    {{ data_total.name }}
                                  </td>
                                  <td>{{ numberEngine(data_total.month[1]  )}} </td>
                                  <td>{{ numberEngine(data_total.month[2]  )}} </td>
                                  <td>{{ numberEngine(data_total.month[3]  )}} </td>
                                  <td>{{ numberEngine(data_total.month[4]  )}} </td>
                                  <td>{{ numberEngine(data_total.month[5]  )}} </td>
                                  <td>{{ numberEngine(data_total.month[6]  )}} </td>
                                  <td>{{ numberEngine(data_total.month[7]  )}} </td>
                                  <td>{{ numberEngine(data_total.month[8]  )}} </td>
                                  <td>{{ numberEngine(data_total.month[9]  )}} </td>
                                  <td>{{ numberEngine(data_total.month[10] ) }} </td>
                                  <td>{{ numberEngine(data_total.month[11] ) }} </td>
                                  <td>{{ numberEngine(data_total.month[12] ) }} </td>
                                  <!-- <td>{{ data_total.year }} </td>
                                  <td>{{ data_total.date }} </td>
                                  <td>{{ data_total.status }} </td> -->
                                  <td>{{ parseFloat(data_total.total).toFixed(2) }} </td>
                                </tr>
                              </transition>
                            </template>

                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="mr-1 mb-1 pull-left">
                        <b>Legend : &nbsp; </b> 
                        <div class="badge round" style="background-color:black;"> &nbsp;&nbsp; </div> Active &nbsp;
                        <div class="badge round" style="background-color:red"> &nbsp;&nbsp; </div> Not Active &nbsp;
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <form-modal v-if="openmodalform" :dataModal="dtModal" :provID="provinsi_id" @trigger-modal="triggerModal" :govId="contract_gov_id" :datauuid="dataid" ></form-modal>
          <table-edit :access="access" v-if="openmodaltbl" @trigger-modal-tbl="triggerModalTbl" @open-modal-form="openModalForm" ></table-edit>
        </section>
      </div>
    </div>
  </transition>

</template>

<script>
import FormModal from './Modal';
import TableEdit from './Table';

export default {
  data: function(){
    return {
      paramId: this.$route.params.id,
      idx: null,
      access: {},
      dtModal: {},
      paramAccess: encodeURIComponent(this.$route.params.access),
      pergubProv: [],
      pergubKab: [],
      pergub_no: '',
      contract_gov_id: null,
      dataid: null,
      provinsi_id: null,
      opened: [],
      openmodaltbl: false,
      openmodalform: false,
      loadingSpin: false,
      collapse:{
        tot: []
      }
    }
  },
  components: {
    FormModal,
    TableEdit
  },
  created() {
    const encodeAccess = decodeURIComponent(this.$route.params.access);
    const decodeAccess = this.toText(this.decrypt(encodeAccess));
    const arrAccess = decodeAccess.split(",");
    if(arrAccess) {
      arrAccess.map((data) => {
        if(data === 'C' || data === 'R' || data === 'U' || data === 'D' || data === 'A') {
          this.access[data] = true
          this.getPergubDetail()
        } else {
          this.$router.push({path: '/home'});
          toastr.error('Permission can not open this page', 'Error');
        }
      })
    } else {
      this.$router.push({path: '/home'});
      toastr.error('Permission can not open this page', 'Error');
    }
  },
  mounted() {
    this.getPergubNo();
    $(document).on('show.bs.modal', '.modal', function (event) {
      var zIndex = 1040 + (10 * $('.modal:visible').length);
      $(this).css('z-index', zIndex);
      setTimeout(function() {
          $('.modal-backdrop').not('.modal-stack').css('z-index', zIndex - 1).addClass('modal-stack');
      }, 0);
    });
  },
  methods: {
    getPergubNo(){
      this.axios.get('pergub/id/'+this.paramId)
      .then((resp) => {
        this.pergubProv = resp.data.data;
        this.pergub_no = resp.data.data.pergub_no;
        this.contract_gov_id = resp.data.data.pergub_id;
        this.provinsi_id = resp.data.data.provinsi[0];
        this.setCollapseShow();
      })
      .catch((resp) => {
        toastr.error('Failed load detail Pergub', 'Error');
        this.$router.go(-1);
      });
    },
    getPergubDetail(){
      this.axios.get('changeRequest/pergub/detail/'+this.paramId)
      .then((resp) => {
        this.dtModal.sales_org_id =  resp.data.data[0].sales_org_id;
        this.dtModal.sales_org_name = resp.data.data[0].sales_org_name;
        this.dtModal.pergub_no =  resp.data.data[0].number;
        this.dtModal.year =  resp.data.data[0].year;
      })
      .catch((resp) => {
        // toastr.error('Failed load detail Pergub', 'Error');
        // this.$router.go(-1);
      });
    },
    addData(){
      // $("#AddModal").modal("show")
      this.openmodalform = true;
    },
    editData(){
      // $("#AddModal").modal("show")
      // this.openmodaltbl = true;
      var app = this
      var access = app.$route.params.access;
      app.$router.push({path: '/'+encodeURIComponent(access)+'/alokasi/alokasi-kabupaten/detail/edit-table/'+app.paramId+''});
    },
    fnExcelReport(){
      event.preventDefault();
      this.loadingSpin = true;
      this.axios({
        url: 'pergub/export?uuid='+this.paramId,
        method: 'GET',
        responseType: 'blob'
      })
      .then((response) => {
         this.loadingSpin = false;
         const url = window.URL.createObjectURL(new Blob([response.data]));
         const link = document.createElement('a');
         link.href = url;
         link.setAttribute('download', 'PERGUB-ITEM.xls');
         document.body.appendChild(link);
         link.click();
      })
      .catch((resp) => {
        this.loadingSpin = false;
        toastr.error('Data Permentan Items not Found');
      })
    },
    setCollapseShow(){
      this.pergubProv.provinsi.map((prov) => {
        this.opened.push(prov.id)
         prov.kabupaten.map((kab) => {
          this.opened.push(kab.id)
          kab.product.map((prod) => {
            this.opened.push(prod.id)
          })
        })
      })
      this.collapse.tot.push(1)
    },
    toggle(id) {
    	const index = this.opened.indexOf(id);
      if (index > -1) {
      	this.opened.splice(index, 1)
      } else {
      	this.opened.push(id)
      }
    },
    toggleTot(id) {
    	const index = this.collapse.tot.indexOf(id);
      if (index > -1) {
      	this.collapse.tot.splice(index, 1)
      } else {
      	this.collapse.tot.push(id)
      }
    },
    triggerModal(){
      this.getPergubNo();
      this.openmodalform = false;
      this.dataid = null;
    },
    triggerModalTbl(){
      this.openmodaltbl = false;
      this.dataid = null;
    },
    openModalForm(params = false){
      this.openmodalform = true;
      this.dataid = params;
    },
    numberEngine(n, c, d, t) {
      var c = isNaN(c = Math.abs(c)) ? 2 : c,
        d = d == undefined ? "," : d,
        t = t == undefined ? "." : t,
        s = n < 0 ? "-" : "",
        i = String(parseInt(n = Math.abs(Number(n) || 0).toFixed(c))),
        j = (j = i.length) > 3 ? j % 3 : 0;

      return s + (j ? i.substr(0, j) + t : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : "");
    },
    goBack(){
      var access = this.$route.params.access;
      this.$router.push({path: '/'+encodeURIComponent(access)+'/alokasi/alokasi-kabupaten'});
    }
  }
}
</script>

<style lang="css">
div.dt-buttons {
  float: right !important;
  display: none;
}

.buttonCollapse{
  cursor: pointer;
}

.inactive {
  font-weight: bold;
  color: red;
}
</style>
