<template lang="html">
  <div class="modal fade" id="modalTableDetailPergub" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Table Detail SK Dinas Prov</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body table-responsive">
          <div class="row">
            <div class="col-md-12">
              <div class="pull-right">
                <button v-if="access.A === true" type="button" class="btn btn-primary square" @click="action('n')" >
                  Deaktif
                </button>
                <button v-if="access.A === true" type="button" class="btn btn-primary square" @click="action('y')" >
                  Aktif
                </button>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="table-responsive">
                <table id="tableDetailPergub" class="table table-xs table-bordered table-striped display nowrap" style="width:100%">
                  <thead>
                    <tr>
                      <th>
                        <fieldset>
                          <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input check_all" value="all">
                            <span class="custom-control-indicator"></span>
                          </label>
                        </fieldset>
                      </th>
                      <th>Provinsi</th>
                      <th>Kota/Kabupaten</th>
                      <th>Produk</th>
                      <th>Januari</th>
                      <th>Februari</th>
                      <th>Maret</th>
                      <th>April</th>
                      <th>Mei</th>
                      <th>Juni</th>
                      <th>Juli</th>
                      <th>Agustus</th>
                      <th>September</th>
                      <th>Oktober</th>
                      <th>November</th>
                      <th>Desember</th>
                      <th>Tahun</th>
                      <!-- <th>Tanggal</th>
                      <th>Status</th>
                      <th>Aksi</th> -->
                    </tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['openValue', 'access'],
  data: function(){
    return {
      pergub: {},
      check: [],
      dataidx: [],
      dt: '',
      loading:{
        changeStatus: false
      },
    }
  },
  mounted() {
    var app = this;
    var idx = (app.$route.params.id != undefined) ? '/detail/id/'+app.$route.params.id : '';

    $("#modalTableDetailPergub").modal("show");
    $("#modalTableDetailPergub").on("hidden.bs.modal", function(){
      app.closeModalTbl();
    });

    $(document).ready(function() {
      app.dt = $('#tableDetailPergub').DataTable({
        processing: true,
        serverSide: true,
        searching: false,
        scrollX: "99.99%",
        lengthMenu: [
          [ 20, 50, 100, -1 ],
          [ '20 baris', '50 baris', '100 baris', 'Lihat Semua' ]
        ],
        ajax:{
          'url': '/api/changeRequest/contract/detail/'+app.$route.params.id,
          'type': 'GET',
          'data': function(d){
            d.id = app.pergub.id,
            d.uuid = app.pergub.uuid,
            d.contract_gov_id = app.pergub.contract_gov_id,
            d.pergubno = app.pergub.pergubno,
            d.sales_office_id = app.pergub.sales_office_id,
            d.provinsi = app.pergub.provinsi,
            d.sales_group_id = app.pergub.sales_group_id,
            d.kabupaten = app.pergub.kabupaten,
            d.product_id = app.pergub.product_id,
            d.product_name = app.pergub.product_name,
            d.month = app.pergub.month,
            d.initial_qty = app.pergub.initial_qty,
            d.year = app.pergub.year,
            d.status = app.pergub.status,
            d.created_at = app.pergub.created_at
          },
          'beforeSend': function (request) {
              var token = localStorage.getItem("default_auth_token");
              request.setRequestHeader("Authorization", "Bearer "+token);
              request.setRequestHeader("lang",  localStorage.getItem('app-lang'));
          }
        },
        "columnDefs": [
           // { "orderable": false, "targets": 0 }
        ],
        columns: [
            {
              data: 'uuid',
              render:function(data,t,f) {
                const checkDt = '<fieldset>'+
                                '<label class="custom-control custom-checkbox">'+
                                  '<input type="checkbox" id="check" class="custom-control-input check_box_table" value="'+data+'">'+
                                  '<span class="custom-control-indicator"></span>'+
                                '</label>'+
                              '</fieldset>';
                return checkDt;
              }
            },
            {data: 'sales_office_name', name: 'sales_office_name'},
            {data: 'sales_group_name', name: 'sales_group_name'},
            {data: 'product_name', name: 'product_name'},
            // {data: 'initial_qty', name: 'initial_qty'},
            // { data: 'initial_qty', render : function(data, type, full){ return app.numberFormat(data); } },
            // {data: 'month', name: 'month'},
            // { data: 'month', render : function(data, type, full){ return app.formatMonth(data); } },
            {data: '1', name: '1', render: function(data, type, full){
              const html = '<form>'+
                              '<div class="loading-form" style="display:none">Please Wait..</div>'+
                              '<span>'+app.numberFormat(data)+'</span>'+
                              '<input type="text" style="display:none;" value="'+data+'" />'+
                           '</form>';
              return html
            }},
            {data: '2', name: '2', render: function(data, type, full){
              const html = '<form>'+
                              '<div class="loading-form" style="display:none">Please Wait..</div>'+
                              '<span>'+app.numberFormat(data)+'</span>'+
                              '<input type="text" style="display:none;" value="'+data+'" />'+
                           '</form>';
              return html
            }},
            {data: '3', name: '3', render: function(data, type, full){
              const html = '<form>'+
                              '<div class="loading-form" style="display:none">Please Wait..</div>'+
                              '<span>'+app.numberFormat(data)+'</span>'+
                              '<input type="text" style="display:none;" value="'+data+'" />'+
                           '</form>';
              return html
            }},
            {data: '4', name: '4', render: function(data, type, full){
              const html = '<form>'+
                              '<div class="loading-form" style="display:none">Please Wait..</div>'+
                              '<span>'+app.numberFormat(data)+'</span>'+
                              '<input type="text" style="display:none;" value="'+data+'" />'+
                           '</form>';
              return html
            }},
            {data: '5', name: '5', render: function(data, type, full){
              const html = '<form>'+
                              '<div class="loading-form" style="display:none">Please Wait..</div>'+
                              '<span>'+app.numberFormat(data)+'</span>'+
                              '<input type="text" style="display:none;" value="'+data+'" />'+
                           '</form>';
              return html
            }},
            {data: '6', name: '6', render: function(data, type, full){
              const html = '<form>'+
                              '<div class="loading-form" style="display:none">Please Wait..</div>'+
                              '<span>'+app.numberFormat(data)+'</span>'+
                              '<input type="text" style="display:none;" value="'+data+'" />'+
                           '</form>';
              return html
            }},
            {data: '7', name: '7', render: function(data, type, full){
              const html = '<form>'+
                              '<div class="loading-form" style="display:none">Please Wait..</div>'+
                              '<span>'+app.numberFormat(data)+'</span>'+
                              '<input type="text" style="display:none;" value="'+data+'" />'+
                           '</form>';
              return html
            }},
            {data: '8', name: '8', render: function(data, type, full){
              const html = '<form>'+
                              '<div class="loading-form" style="display:none">Please Wait..</div>'+
                              '<span>'+app.numberFormat(data)+'</span>'+
                              '<input type="text" style="display:none;" value="'+data+'" />'+
                           '</form>';
              return html
            }},
            {data: '9', name: '9', render: function(data, type, full){
              const html = '<form>'+
                              '<div class="loading-form" style="display:none">Please Wait..</div>'+
                              '<span>'+app.numberFormat(data)+'</span>'+
                              '<input type="text" style="display:none;" value="'+data+'" />'+
                           '</form>';
              return html
            }},
            {data: '10', name: '10', render: function(data, type, full){
              const html = '<form>'+
                              '<div class="loading-form" style="display:none">Please Wait..</div>'+
                              '<span>'+app.numberFormat(data)+'</span>'+
                              '<input type="text" style="display:none;" value="'+data+'" />'+
                           '</form>';
              return html
            }},
            {data: '11', name: '11', render: function(data, type, full){
              const html = '<form>'+
                              '<div class="loading-form" style="display:none">Please Wait..</div>'+
                              '<span>'+app.numberFormat(data)+'</span>'+
                              '<input type="text" style="display:none;" value="'+data+'" />'+
                           '</form>';
              return html
            }},
            {data: '12', name: '12', render: function(data, type, full){
              const html = '<form>'+
                              '<div class="loading-form" style="display:none">Please Wait..</div>'+
                              '<span>'+app.numberFormat(data)+'</span>'+
                              '<input type="text" style="display:none;" value="'+data+'" />'+
                           '</form>';
              return html
            }},
            {data: 'year', name: 'year'},
            // {data: 'created_at', name: 'created_at'},
            // {data: 'status_name', name: 'status_name'},
            // {
            //   data: 'uuid',
            //   render : function(data, type, full){
            //     if (full.status === 'y') {
            //       var aksi = 'Ubah';
            //     } else {
            //       var aksi = '<a href="#" id="openformModal" data-id="'+data+'">Ubah</a>';
            //     }
            //     return aksi;
            //   }
            // },
        ]
      });
      new $.fn.dataTable.FixedColumns(app.dt, {
          leftColumns: 2,
          heightMatch: 'auto'
      });
      $(document).on('change','.checks',function(){
          if($('.checks').is( ":checked" )===true){
              $('.check').prop('checked',true);
          }else{
              $('.check').prop('checked',false);
          }
      });
      $(document).on('change','.check',function(){
           $('.checks').prop('checked',false);
      });


      $(document).on("click", ".check_all", function(e){
        $('.check_box_table').not(this).prop('checked', this.checked);
        $('.check_box_table').not(this).each(function(index, el) {
          var value = {id: $(this).val()};
          if(this.checked){
            if(value != 'all' && !app.check.includes(value)){
              app.check.push(value);
            }
          } else {
            app.check = [];
          }
        });
      })

      $(document).on("click", "#check", function(e){
        var value = {id: $(this).val()};
        if(this.checked){
          app.check.push(value);
        } else {
          app.removeA(app.check, value.id);
        }
      })

      $(document).on("click", "#openformModal", function(e){
        e.preventDefault()
        var id = $(this).data("id");
        app.dataidx = id;
        // console.log(app.dataidx);
        $("#modalTableDetailPergub").modal("hide");
        app.openModalForm();
      })

    })
  },
  methods: {
    action(type) {
      event.preventDefault();
      this.loading.changeStatus = true;
      this.check = this.check.map(data => {
        return {id: data.id, status: type}
      })
      this.saveAction();
    },
    saveAction(){
      this.axios.put('pergub/update/bulk', this.check)
      .then((resp) => {
        toastr.success("Status berhasil di ubah", "Sukses")
        this.dt.draw();
      })
      .catch((resp) => {
        toastr.warning("Status gagal di ubah", "Gagal")
        toastr.error(resp.message, "Pesan")
      })
      .then((resp) => {
        this.loading.changeStatus = false;
        this.check = [];
        $(".check_all").prop('checked', false);
      })
    },
    removeA(array, id) {
      var index = array.map(x => {
        return x.id;
      }).indexOf(id);
      array.splice(index, 1);
    },
    closeModalTbl() {
      this.$emit("trigger-modal-tbl");
    },
    openModalForm() {
      this.$emit("open-modal-form", this.dataidx);
    },
    formatMonth(month){
      var arr = [
        'Undefined Month', 'Jan', 'Feb', 'Mar', 'Apr', 'Mei', 'Jun', 'Jul', 'Ags', 'Sep', 'Okt', 'Nov', 'Des'
      ];
      var intval = parseInt(month);
      return arr[intval];
    },
    numberFormat(value) {
      value = value.toString();
      return this.numberEngine(value)
    },
    numberEngine(n, c, d, t) {
      var c = isNaN(c = Math.abs(c)) ? 2 : c,
        d = d == undefined ? "," : d,
        t = t == undefined ? "." : t,
        s = n < 0 ? "-" : "",
        i = String(parseInt(n = Math.abs(Number(n) || 0).toFixed(c))),
        j = (j = i.length) > 3 ? j % 3 : 0;

      return s + (j ? i.substr(0, j) + t : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : "");
    },
  }
}
</script>

<style lang="css" scoped>
</style>
