<template lang="html">
  <div class="content-body">
    <section class="row">
      <div class="col-sm-12">
        <div id="kick-start" class="card">
          <div class="card-content collapse show">
            <div class="card-body">
              <div class="row">
                <div class="col-md-12">
                  <div class="pull-right">
                      <button v-if="access.A" type="button" @click="showConfirm('y', 'Apakah yakin untuk mengapprove data?')" class="btn btn-primary square"><i class="fa fa-check"></i> Approved</button>
                      <!-- <button type="button" @click="showConfirm('r', 'Apakah yakin untuk meriview data?')" class="btn btn-danger square"><i class="fa fa-times"></i> Reviewed</button> -->
                      <button v-if="access.U" type="button" @click="toSetting" class="btn btn-primary square"><i class="fa fa-gear"></i> Approval Setting</button>
                      <button type="button" class="btn btn-primary square" @click="download()" :disabled="loadBtnDownload"><i class="fa fa-download"></i> Download</button>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <table id="dataTable" class="table table-xs table-bordered table-striped display nowrap">
                    <thead>
                      <manual-approved-filter :reset="resetStatus" @search-table="searchTable"> </manual-approved-filter>
                      <tr>
                        <th>
                          <fieldset>
                            <fieldset>
                              <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input check_all" value="all">
                                <span class="custom-control-indicator"></span>
                              </label>
                            </fieldset>
                          </fieldset>
                        </th>
                        <th>No Order</th>
                        <th>Status</th>
                        <th>Payment Method</th>
                        <th>Kode Distributor</th>
                        <th>Document Date</th>
                        <th>Nama Distributor</th>
                        <th>Kode Prov</th>
                        <th>Provinsi</th>
                        <th>Kode Kab</th>
                        <th>Kabupaten</th>
                        <th>Kode Kec</th>
                        <th>Kecamatan</th>
                        <th>No SPJB</th>
                        <th>Material</th>
                        <th>Material Description</th>
                        <th>Gudang</th>
                        <th>Quantity</th>
                      </tr>
                    </thead>
                    <tbody>
                    </tbody>
                  </table>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <modal-confirm v-if="confirmList.confirm" :uuid="confirmList.type" :text="textConfirm" @is-delete="isConfirm" @trigger-modal="triggerModal"></modal-confirm>
    </section>
  </div>
</template>


<script>
import ManualApprovedFilter from './ManualApprovedFilter';
import ModalConfirm from '../../global/ModalConfirm';

export default {
  props: ['access'],
  data: function(){
    return {
      dt: '',
      resetStatus: false,
      loading:{
        changeStatus: false
      },
      textConfirm: 'Apakah yakin ?',
      confirmList: {
        confirm: false,
        type: null
      },
      check: [],
      manual_approval: {},
      loadBtnDownload:false,
    }
  },
  components: {
    ManualApprovedFilter, ModalConfirm
  },
  created() {

  },
  mounted(){
    var app = this;

    $(document).ready(function() {
      app.dt = $('#dataTable').DataTable({
        processing: true,
        serverSide: true,
        searching: false,
        "scrollX": true,
        "scrollCollapse": true,
        "scrollY":   "50vh",
        order: [[ 5, 'desc' ]],
        lengthMenu: [
          [ 20, 50, 100, -1 ],
          [ '20 baris', '50 baris', '100 baris', 'Lihat Semua' ]
        ],
        "dom": 'Bltrip',
        "buttons": [
          {
            extend: 'excel',
            className: 'btn-danger square mb-1 downloaddataTableExcel',
            text: "Download Pengecer ke Excel"
          }
        ],
        ajax:{
          'url': 'api/manualapproval',
          'type': 'GET',
          'data': function(d){
            d.number = app.manual_approval.number,
            d.approve_status = app.manual_approval.approve_status,
            d.payment_method = app.manual_approval.payment_method,
            d.customer_id = app.manual_approval.customer_id,
            d.created_at = app.manual_approval.created_at,
            d.customer_name = app.manual_approval.customer_name,
            d.sales_office_id = app.manual_approval.sales_office_id,
            d.sales_office_name = app.manual_approval.sales_office_name,
            d.sales_group_id = app.manual_approval.sales_group_id,
            d.sales_group_name = app.manual_approval.sales_group_name,
            d.retail_id = app.manual_approval.retail_id,
            d.retail_name = app.manual_approval.retail_name,
            d.spjb = app.manual_approval.spjb,
            d.material_no = app.manual_approval.material_no,
            d.mat_desc = app.manual_approval.mat_desc,
            d.plant_name = app.manual_approval.plant_name,
            d.qty = app.manual_approval.qty
          },
          'beforeSend': function (request) {
              var token = localStorage.getItem("default_auth_token");
              request.setRequestHeader("Authorization", "Bearer "+token);
              request.setRequestHeader("lang",  localStorage.getItem('app-lang'));
          }
        },
        "columnDefs": [
           { "orderable": false, "targets": 0 }
        ],
        columns: [
            {
              data: 'order_uuid', name: 'order_uuid',
              render:function(data,t,f) {
                const check = '<fieldset>'+
                                '<label class="custom-control custom-checkbox">'+
                                  '<input type="checkbox" id="check" class="custom-control-input check_box_table" value="'+data+'">'+
                                  '<span class="custom-control-indicator"></span>'+
                                '</label>'+
                              '</fieldset>';
                return check;
              }
            },
            {data: 'number', name: 'number', render: function(data, type, full){
              if (app.access.R) {
                const access = encodeURIComponent(app.$route.params.access);
                const uuid = full.order_uuid;
                const url = '#/'+access+'/transaksi/order/detail/'+uuid+'/step-3';
                return '<a href="'+url+'">'+data+'</a>';
              } else {
                return data
              }
            }},
            {
              data: 'approve_status', name: 'approve_status',
              render : function(data, type, full){
                return full.status;
              }
            },
            {data: 'payment_method', name: 'payment_method'},
            {data: 'customer_id', name: 'customer_id'},
            {
              data: 'created_at', name: 'created_at',
              render : function(data, type, full){
                return app.convertDate(data);
              }
            },
            {data: 'customer_name', name: 'customer_name'},
            {data: 'sales_office_id', name: 'sales_office_id'},
            {data: 'sales_office_name', name: 'sales_office_name'},
            {data: 'sales_group_id', name: 'sales_group_id'},
            {data: 'sales_group_name', name: 'sales_group_name'},
            {data: 'sales_unit_id', name: 'sales_unit_id'},
            {data: 'sales_unit_name', name: 'sales_unit_name'},
            {data: 'spjb', name: 'spjb'},
            {data: 'material_no', name: 'material_no'},
            {data: 'mat_desc', name: 'mat_desc'},
            {data: 'plant_name', name: 'plant_name'},
            {data: 'qty', name: 'qty', render: function(data, type, full){
                return parseFloat(data).toFixed(2)
            }},
        ]
      });
      new $.fn.dataTable.FixedColumns(app.dt, {
          leftColumns: 2,
          heightMatch: 'auto'
      });
      $("div.dataTables_length").append(' <button id="resetFilterManualApprv" class="btn btn-sm btn-danger square"><i class="fa fa-times"></i> Reset Filter</button>');

      $(document).on("click", "#resetFilterManualApprv", function(e){
        e.preventDefault()
        app.resetStatus = true;
        $('#resetFilterManualApprv').prop('disabled', true);

        setTimeout(() => {
          app.resetStatus = false;
          $('#resetFilterManualApprv').prop('disabled', false);
        }, 1000)
      })
      $(document).on('change','.checks',function(){
          if($('.checks').is( ":checked" )===true){
              $('.check').prop('checked',true);
          }else{
              $('.check').prop('checked',false);
          }
      });
      $(document).on('change','.check',function(){
           $('.checks').prop('checked',false);
      });

      $("#downloaddataTableExcel").on("click", function(e){
        e.preventDefault();
        $(".downloaddataTableExcel").trigger('click');
      })


      $(document).on("click", ".check_all", function(e){
        $('.check_box_table').not(this).prop('checked', this.checked);
        $('.check_box_table').not(this).each(function(index, el) {
          var value = {id: $(this).val()};
          if(this.checked){
            if(value != 'all' && !app.check.includes(value)){
              app.check.push(value);
            }
          } else {
            app.check = [];
          }
        });
      })

      $(document).on("click", "#check", function(e){
        var value = {id: $(this).val()};
        if(this.checked){
          app.check.push(value);
        } else {
          app.removeA(app.check, value.id);
        }
      })

    })
  },
  methods: {
    toSetting(){
      var access = this.$route.params.access;
      this.$router.push({path: '/'+encodeURIComponent(access)+'/transaksi/manual-approved/setting/'});
    },
    action(type) {
      event.preventDefault();
      this.loading.changeStatus = true;
      this.check = this.check.map(data => {
        return {uuid: data.id, status: type}
      })
      this.saveAction();
    },
    saveAction(){
      this.axios.post('manualapproval/status', this.check)
      .then((resp) => {
        toastr.success("Status berhasil di ubah", "Sukses")
        this.dt.draw();
      })
      .catch((resp) => {
        toastr.warning("Status gagal di ubah", "Gagal")
        toastr.error(resp.message, "Pesan")
      })
      .then((resp) => {
        this.loading.changeStatus = false;
        this.check = [];
        $(".check_all").prop('checked', false);
      })
    },
    download() {
      // $(".downloadMonitoringDf").trigger('click')
      this.loadBtnDownload = true;
      this.axios({
        url: 'manualapproval/download',
        params: {
            contract_id : this.manual_approval.contract_id,
            status : this.manual_approval.status,
            created_at : this.manual_approval.created_at,
            customer_id : this.manual_approval.customer_id,
            customer_name : this.manual_approval.customer_name,
            mat_desc : this.manual_approval.mat_desc,
            material_no : this.manual_approval.material_no,
            number : this.manual_approval.number,
            order_id : this.manual_approval.order_id,
            order_item_id : this.manual_approval.order_item_id,
            order_item_uuid : this.manual_approval.order_item_uuid,
            order_uuid : this.manual_approval.order_uuid,
            payment_method : this.manual_approval.payment_method,
            qty : this.manual_approval.qty,
            retail_id : this.manual_approval.retail_id,
            retail_name : this.manual_approval.retail_name,
            sales_group_id : this.manual_approval.sales_group_id,
            sales_group_name : this.manual_approval.sales_group_name,
            sales_office_id : this.manual_approval.sales_office_id,
            sales_office_name : this.manual_approval.sales_office_name,
            sales_unit_id : this.manual_approval.sales_unit_id,
            sales_unit_name : this.manual_approval.sales_unit_name,
            so_number : this.manual_approval.so_number,
            spjb : this.manual_approval.spjb,
            updated_at : this.manual_approval.updated_at,
            approve_status : this.manual_approval.approve_status,
            created_by : this.manual_approval.created_by
        },
        method: 'GET',
        responseType: 'blob', // important
      }).then((response) => {
         const url = window.URL.createObjectURL(new Blob([response.data]));
         const link = document.createElement('a');
         link.href = url;
         link.setAttribute('download', 'Download Manual Approval.xls'); //or any other extension
         document.body.appendChild(link);
         link.click();
         this.loadBtnDownload = false;
      })
      .catch((resp) => {
        toastr.error("Gagal Download File", "Gagal") ;
        this.loadBtnDownload = false;      
      })
    },
    removeA(array, id) {
      var index = array.map(x => {
        return x.id;
      }).indexOf(id);
      array.splice(index, 1);
    },
    triggerModal() {
      this.confirmList.confirm = false;
      this.confirmList.type = null;
    },
    searchTable(obj){
      this.manual_approval = obj;
      this.dt.draw();
    },
    showConfirm(type, text) {
      this.confirmList.confirm = true;
      this.confirmList.type = type;
      this.textConfirm = text;
    },
    isConfirm(type) {
      this.action(type)
    },
  }
}
</script>

<style lang="css">
div.dt-buttons {
  float: right !important;
  display: none;
}
</style>
