<template lang="html">
  <tr class="filter">
    <th></th>
    <th class="ma-noOrder">
      <input type="text" class="form-control form-control-md ma_noOrderVal" >
    </th>
    <th>
      <input type="text"
      v-model="filter.approve_status"
      v-on:keyup="search()"
      class="form-control form-control-md">
    </th>
    <th>
      <input type="text"
      v-model="filter.payment_method"
      v-on:keyup="search()"
      class="form-control form-control-md">
    </th>
    <th>
      <input type="text"
      v-model="filter.customer_id"
      v-on:keyup="search()"
      class="form-control form-control-md">
    </th>
    <th>
      <input type="text"
      v-model="filter.created_at"
      v-on:keyup="search()"
      class="form-control form-control-md">
    </th>
    <th>
      <input type="text"
      v-model="filter.customer_name"
      v-on:keyup="search()"
      class="form-control form-control-md">
    </th>
    <th>
      <input type="text"
      v-model="filter.sales_office_id"
      v-on:keyup="search()"
      class="form-control form-control-md">
    </th>
    <th>
      <!-- <input type="text"
      v-model="filter.sales_office_name"
      v-on:keyup="search()"
      class="form-control form-control-md"> -->
      <provinsi :reset="reset" ref="filterProvComponent" @get-selected-prov="searchProv" />
    </th>
    <th>
      <input type="text"
      v-model="filter.sales_group_id"
      v-on:keyup="search()"
      class="form-control form-control-md">
    </th>
    <th>
      <!-- <input type="text"
      v-model="filter.sales_group_name"
      v-on:keyup="search()"
      class="form-control form-control-md"> -->
      <kabupaten :sales_office="filter.sales_office_id" :reset="reset" ref="filterKabComponent" @get-selected-kab="searchKab" />
    </th>
    <th>
      <input type="text"
      v-model="filter.retail_id"
      v-on:keyup="search()"
      class="form-control form-control-md">
    </th>
    <th>
      <input type="text"
      v-model="filter.retail_name"
      v-on:keyup="search()"
      class="form-control form-control-md">
    </th>
    <th>
      <input type="text"
      v-model="filter.spjb"
      v-on:keyup="search()"
      class="form-control form-control-md">
    </th>
    <th>
      <input type="text"
      v-model="filter.material_no"
      v-on:keyup="search()"
      class="form-control form-control-md">
    </th>
    <th>
      <input type="text"
      v-model="filter.mat_desc"
      v-on:keyup="search()"
      class="form-control form-control-md">
    </th>
    <th>
      <input type="text"
      v-model="filter.plant_name"
      v-on:keyup="search()"
      class="form-control form-control-md">
    </th>
    <th>
      <input type="text"
      v-model="filter.qty"
      v-on:keyup="search()"
      class="form-control form-control-md">
    </th>
  </tr>
</template>
<script>
import Checklist from '../../filter/Checklist';
import Provinsi from '../../filter/Provinsi';
import Kabupaten from '../../filter/Kabupaten';

export default {
  props: ['reset'],
  data: function() {
    return {
      uriName: this.$auth.user().id+'_'+'search_'+this.$route.name,
      btnStatus: 'Filter Status',
      statusSearch: [
        {name: 'Manual Approval', value: 'd'},
        {name: 'Reviewed ', value: 'r'},
      ],
      filter: {
        number: '',
        approve_status: '',
        payment_method: '',
        customer_id: '',
        created_at: '',
        customer_name: '',
        sales_office_id: '',
        sales_office_name: '',
        sales_group_id: '',
        sales_group_name: '',
        retail_id: '',
        retail_name: '',
        spjb: '',
        material_no: '',
        mat_desc: '',
        plant_name: '',
        qty: '',
      }
    }
  },
  watch: {
		reset: function(val){
			if(val === true) {
				this.resetFilter();
			}
		}
	},
  mounted() {
    var app = this;
    const getLocalSearch = JSON.parse(localStorage.getItem(app.uriName));
      setTimeout(() => {
        if (getLocalSearch !== null) {
            app.filter = getLocalSearch;
            $(".ma_noOrderVal").val(app.filter.number);
            app.$emit("search-table", app.filter);
        }
    },1000)
    $(document).on("keyup", ".ma_noOrderVal", function(){
      app.filter.number = $(this).val();
      app.search();
    })
  },
  components: {
    Provinsi, Kabupaten,
    FilterStatus: Checklist
  },
  methods: {
    searchProv(dataProv) {
      var arr = dataProv.map(data => {
        return data.id;
      })
      var sales_office = arr.join(";");
      this.filter.sales_office_id = sales_office;
      this.search();
    },
    searchKab(dataKab) {
      var arr = dataKab.map(data => {
        return data.id;
      })
      var sales_group = arr.join(";");
      this.filter.sales_group_id = sales_group;
      this.search();
    },
    search() {
      event.preventDefault();
      localStorage.setItem(this.uriName, JSON.stringify(this.filter));
      this.$emit("search-table", this.filter);
    },
    searchStatus(obj){
      var status = obj.join(';');
      this.filter.approve_status = status;
      this.search();
    },
    resetFilter(){
      this.clearFilter(this.$route.name, this.filter);
      $( ".ma-noOrder" ).html( '<input type="text" class="form-control form-control-md ma_noOrderVal" />' );
      $(".ma_noOrderVal").val(this.filter.number);
      this.search();
    }
  }
}
</script>

<style lang="css">
  .button-filter {
    margin-bottom: 20px;
  }
  #check_list {
    margin-left: 35px;
  }
</style>
