<template>
  <div class="modal fade" id="rangeValue" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <form @submit="searchRangeValue">
          <div class="modal-header">
            <h4 class="modal-title" id="">{{$ml.get("global.filter.modal.value.titleOne")}}</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="">{{$ml.get("global.filter.modal.form.labelFrom")}}</label>
                  <input type="number" class="form-control" v-model="from">
                </div>
                <div class="form-group">
                  <label for="">{{$ml.get("global.filter.modal.form.labelTo")}}</label>
                  <input type="number" class="form-control" v-model="to">
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">{{$ml.get("global.filter.modal.form.labelClose")}}</button>
            <button type="submit" class="btn btn-outline-primary">{{$ml.get("global.filter.modal.form.labelSearch")}}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    data: function(){
      return {
        from: '',
        to: ''
      }
    },
    mounted() {
      var app = this;
      $("#rangeValue").modal("show");
      $('#rangeValue').on('hidden.bs.modal', function () {
        app.closeModal();
      })
    },
    methods: {
      searchRangeValue() {
        event.preventDefault();
        $("#rangeValue").modal("hide");
        const send = {
          valueType: 'range',
          data: {
            from: this.from,
            to: this.to
          }
        }
        this.$emit("search", send);
      },
      closeModal() {
        this.$emit("trigger");
      }
    }
  }
</script>
