<template lang="html">
  <div class="content-body">
    <section class="row">
      <div class="col-sm-12">
        <div id="kick-start" class="card">
          <div class="card-content collapse show">
            <div class="card-body">
              <div class="row">
                <div class="col-md-12">
                  <div class="pull-right">
                    <button v-if="access.C === true" type="button" class="btn btn-primary square" v-on:click="uploadFile"> <i class="fa fa-upload"></i>
                      Upload Data
                    </button>
                    <button v-if="access.C === true" @click="openformModal" type="button" class="btn btn-primary square" > <i class="fa fa-plus"></i>
                      Entry Baru
                    </button>
                    <a href="template-excel/matrix-rdkk/Template_Upload_Matrix_RDKK.xlsx" class="btn btn-primary square" target="_blank" ><i class="fa fa-download"></i>
                      Download Template
                    </a>
                    <button type="button" class="btn btn-primary square" @click="download" :disabled="loadBtnDownload" > <i class="fa fa-download"></i>
                      Download
                    </button>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <table id="matrixrdkkTable" class="table table-xs table-bordered table-striped display nowrap" style="width:100%">
                    <thead>
                      <matrix-rdkk-filter :reset="resetStatus" ref="filterComponent" @search-table="searchTable"> </matrix-rdkk-filter>
                      <tr>
                        <th>Kode Produsen</th>
                        <th>Nama Produsen</th>
                        <th>Kode Provinsi</th>
                        <th>Nama Provinsi</th>
                        <th>Kode Kabupaten</th>
                        <th>Nama Kabupaten</th>
                        <th>Produk</th>
                        <th>Aksi</th>
                      </tr>
                    </thead>
                    <tbody>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <matrix-rdkk-form :access="access" :getid="dataid" @trigger-modal="triggerModal" :getdata="array_matrixrdkk" ></matrix-rdkk-form>
      <matrix-rdkk-upload v-if="modalUpload" @trigger-modal="triggerModal"></matrix-rdkk-upload>
      <modal-confirm v-if="modalRdkk.showConfirm" @trigger-modal="triggerModalConfirm" :uuid="modalRdkk.uuid" @is-delete="hapusData" :text="modalRdkk.text"></modal-confirm>
    </section>
  </div>
</template>

<script>
import MatrixRdkkFilter from './MatrixRdkkFilter.vue';
import MatrixRdkkForm from './modal/Form.vue';
import MatrixRdkkUpload from './modal/Upload.vue';
import ModalConfirm from '../../global/ModalConfirm';

export default {
  data: function(){
    return {
      modalForm : false,
      resetStatus : false,
      modalUpload : false,
      dt: '',
      dataid: null,
      dataarr: '',
      access: {},
      loading:{
        changeStatus: false
      },
      modalRdkk: {
        showConfirm: false,
        text: 'Anda akan menghapus Matrix Rdkk ini, apakah anda yakin ?',
        uuid: null
      },
      check: [],
      matrixrdkk: {},
      array_matrixrdkk: {},
      datafilter: {},
      loadBtnDownload:false
    }
  },
  components:{
    MatrixRdkkFilter,
    MatrixRdkkForm,
    MatrixRdkkUpload,
    ModalConfirm
  },
  created() {
    const encodeAccess = decodeURIComponent(this.$route.params.access);
    const decodeAccess = this.toText(this.decrypt(encodeAccess));
    const arrAccess = decodeAccess.split(",");
    if(arrAccess) {
      arrAccess.map((data) => {
        if(data === 'C' || data === 'R' || data === 'U' || data === 'D' || data === 'A') {
          this.access[data] = true
        } else {
          this.$router.push({path: '/home'});
          toastr.error('Permission can not open this page', 'Error');
        }
      })
    } else {
      this.$router.push({path: '/home'});
      toastr.error('Permission can not open this page', 'Error');
    }
  },
  mounted(){
    var app = this;
    $("#downloadTableExcel").on("click", function(e){
      e.preventDefault();
      $(".downloadTableExcel").trigger('click');
    })
    $(document).on("click", ".detailData", function(e){
      e.preventDefault();
      var idx = $(this).data("id");
      app.detailData(idx);
    })
    $(document).off("click", ".hapusData").on("click", ".hapusData", function(e){
      e.preventDefault();
      app.modalRdkk.uuid = $(this).data("id");
      app.modalRdkk.showConfirm = true;
      // if (confirm("Yakin Hapus data Matrix Rdkk ?") == true) {
      //   var idx = $(this).data("id");
      //   app.hapusData(idx);
      // }
    })
    app.matrixrdkkTable()
    $("div.dataTables_length").append(' <button id="resetFilterMatrix" class="btn btn-sm btn-danger square"><i class="fa fa-times"></i> Reset Filter</button>');
    
    $(document).on("click", "#resetFilterMatrix", function(e){
      e.preventDefault()
      app.resetStatus = true;
      $('#resetFilterMatrix').prop('disabled', true);
      setTimeout(() => {
        app.resetStatus = false;
        $('#resetFilterMatrix').prop('disabled', false);
      }, 1000)
    })
  },
  methods: {
    matrixrdkkTable(){
      var app = this
      app.dt = $('#matrixrdkkTable').DataTable({
        processing: true,
        serverSide: true,
        searching: false,
        scrollX: "99.99%",
        "scrollY" : "50vh",
        "scrollCollapse": true,
        lengthMenu: [
          [ 20, 50, 100, -1 ],
          [ '20 baris', '50 baris', '100 baris', 'Lihat Semua' ]
        ],
        "dom": 'Bltrip',
        "buttons": [
          {
            extend: 'excel',
            className: 'btn-primary square mb-1 downloadTableExcel',
            text: "Download Matrix RDKK ke Excel",
            title:"",
            filename:"Download Matrix RDKK ke Excel",
          }
        ],
        ajax:{
          'url': 'api/matrix-rdkk',
          'type': 'GET',
          'data': function(d){
            d.created_at = app.matrixrdkk.created_at,
            d.created_by = app.matrixrdkk.created_by,
            d.id = app.matrixrdkk.id,
            d.product_id = app.matrixrdkk.product_id,
            d.product_name = app.matrixrdkk.product_name,
            d.sales_group_id = app.matrixrdkk.sales_group_id,
            d.sales_group_name = app.matrixrdkk.sales_group_name,
            d.sales_office_id = app.matrixrdkk.sales_office_id,
            d.sales_office_name = app.matrixrdkk.sales_office_name,
            d.sales_org_id = app.matrixrdkk.sales_org_id,
            d.sales_org_name = app.matrixrdkk.sales_org_name,
            d.updated_at = app.matrixrdkk.updated_at,
            d.updated_by = app.matrixrdkk.updated_by
          },
          'beforeSend': function (request) {
              var token = localStorage.getItem("default_auth_token");
              request.setRequestHeader("Authorization", "Bearer "+token);
              request.setRequestHeader("lang",  localStorage.getItem('app-lang'));
          }
        },
        "columnDefs": [
           { "orderable": false, "targets": 0 }
        ],
        columns: [
            {data: 'sales_org_id', name: 'sales_org_id', render:function(d,t,f){
              if (app.access.U) {
              return '<a href="#" class="detailData"  data-id="'+f.id+'">'+d+'</a>';
            }else{
              return d;
            }
            }},
            {data: 'sales_org_name', name: 'sales_org_name'},
            {data: 'sales_office_id', name: 'sales_office_id'},
            {data: 'sales_office_name', name: 'sales_office_name'},
            {data: 'sales_group_id', name: 'sales_group_id'},
            {data: 'sales_group_name', name: 'sales_group_name'},
            {data: 'product_name', name: 'product_name'},
            {
              data: 'id',
              render : function(data, type, full){
                if (!app.access.D) {
                  var aksi = '-';
                } else {
                  var aksi = '<button class="'+data+' hapusData btn btn-danger btn-sm square edit" data-id="'+data+'"><i class="fa fa-trash"></i>  Hapus</button>';
                }
                return aksi;
              }
            },
        ]
      });
      new $.fn.dataTable.FixedColumns(app.dt, {
          leftColumns: 2,
          heightMatch: 'auto'
      });
    },
    openformModal(){
      $("#openformModal").modal("show");
      this.dataid = null;
    },
    searchTable(obj){
      this.matrixrdkk = obj;
      this.dt.draw();
    },
    addModal(){
      var app = this;
    },
    uploadFile (){
      this.modalUpload = true;
      // $('#uploadExcelModal').modal('show');
    },
    hapusData(matrixrdkk_id){
      var getId = matrixrdkk_id
      $("."+getId).attr("disabled", true);
      $("."+getId+' i').removeClass('fa-send-o').addClass('fa-refresh fa-spin');
      this.axios.delete("matrix-rdkk/"+this.modalRdkk.uuid)
      .then((resp) => {
        $("."+getId).attr("disabled", false);
        toastr.success("Delete data berhasil", "Sukses");
        this.dt.draw();
      })
      .catch((resp) => {
        $("."+getId).attr("disabled", false);
        toastr.error("Delete data gagal", "Gagal");
        this.error = true;
        this.errors = resp.response.data.message;
      })
    },
    detailData(id){
      this.dataid = id;
      $("#openformModal").modal("show");
    },
    triggerModal(params = false){
      if(params === 'RefreshTable'){
        this.dt.draw();
      }
      this.modalUpload = false;
      this.modalForm = false
      this.dataid = null;
    },
    triggerModalConfirm(params = false){
      this.modalRdkk.uuid = null;
      this.modalRdkk.showConfirm = false;
    },
    download(){
      this.loadBtnDownload = true;
      this.axios({
        url: 'matrix-rdkk/download',
        params: {
            created_at: this.matrixrdkk.created_at,
            created_by: this.matrixrdkk.created_by,
            id: this.matrixrdkk.id,
            product_id: this.matrixrdkk.product_id,
            product_name: this.matrixrdkk.product_name,
            sales_group_id: this.matrixrdkk.sales_group_id,
            sales_group_name: this.matrixrdkk.sales_group_name,
            sales_office_id: this.matrixrdkk.sales_office_id,
            sales_office_name: this.matrixrdkk.sales_office_name,
            sales_org_id: this.matrixrdkk.sales_org_id,
            sales_org_name: this.matrixrdkk.sales_org_name,
            updated_at: this.matrixrdkk.updated_at,
            updated_by: this.matrixrdkk.updated_by
        },
        method: 'POST',
        responseType: 'blob', // important
      }).then((response) => {
         const url = window.URL.createObjectURL(new Blob([response.data]));
         const link = document.createElement('a');
         link.href = url;
         link.setAttribute('download', 'Download Matrix RDKK.xls'); //or any other extension
         document.body.appendChild(link);
         link.click();
         this.loadBtnDownload = false;
      })
      .catch((resp) => {
        toastr.error("Gagal Download File", "Gagal") ;
        this.loadBtnDownload = false;      
      })
    }

  }
}
</script>

<style lang="css">
div.dt-buttons {
  float: right !important;
  display: none;
}
</style>
