<template>
  <tr class="filter">
    <th>
      <input type="text" class="form-control form-control-md" v-model="lintasAlur.sales_org_id" v-on:keyup="search()">
    </th>
    <th>
      <input type="text" class="form-control form-control-md" v-model="lintasAlur.sales_org_name" v-on:keyup="search()">
    </th>
    <th>
      <!-- <input type="text" class="form-control form-control-md" placeholder="True : 1, False : 0" v-model="lintasAlur.status" v-on:keyup="search()"> -->
    </th>
    <th>
    </th>
  </tr>
</template>

<script>
export default {
  props: ['reset'],
  data: function() {
    return {
      uriName: this.$auth.user().id+'_'+'search_'+this.$route.name,
      lintasAlur: {
        sales_org_id: '',
        sales_org_name: '',
        status: '',
      }
    }
  },
  watch: {
		reset: function(val){
			if(val === true) {
				this.resetFilter();
			}
		}
	},
  components: {

  },
  created() {

  },
  mounted() {
    var app = this;
    const getLocalSearch = JSON.parse(localStorage.getItem(app.uriName));
    setTimeout(() => {
      if (getLocalSearch !== null) {
          app.lintasAlur = getLocalSearch;
          app.$emit("search-table", app.lintasAlur);
      }
    },1000)
  },
  methods: {
    search() {
      event.preventDefault();
      localStorage.setItem(this.uriName, JSON.stringify(this.lintasAlur));
      this.$emit("search-table", this.lintasAlur);
    },
    resetFilter(){
      this.clearFilter(this.$route.name, this.lintasAlur);
      this.search();
    }
  }
}
</script>

<style lang="css" scoped>
</style>
