<template>
  <div>
    <div class="row">
      <div class="col-md-12">
        <div class="pull-right">
          <button type="button" @click="download" class="btn btn-primary square"><i class="fa fa-download"></i> Download</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive">
          <table id="LintasAlur" class="table table-xs table-bordered table-striped" width="100%">
            <thead>
              <filter-lintas-alur :reset="resetStatus" @search-table="searchTable"></filter-lintas-alur>
              <tr>
                <th>Kode Produsen</th>
                <th>Nama Produsen</th>
                <th>Status</th>
                <th>Aksi</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <form-lintas-alur v-if="modalForm.show" :uuid="modalForm.uuid" :orgname="modalForm.org_name" :orgid="modalForm.org_id" :orgstatus="modalForm.org_status" :orgstatusname="modalForm.org_status_name" @trigger-modal="triggerModal"></form-lintas-alur>
  </div>
</template>

<script>
import FormLintasAlur from './modal/Form';
import FilterLintasAlur from './LintasAlurFilter';
export default {
  props: ['access'],
  data: function() {
    return {
      resetStatus: false,
      dt: null,
      lintasAlur: {},
      modalForm: {
        show: false,
        uuid: null,
        org_name:'',
        org_id:'',
        org_status:'',
        org_status_name:''
      }
    }
  },
  components: {
    FormLintasAlur,
    FilterLintasAlur
  },
  created() {

  },
  mounted() {
    let app = this
    this.LintasAlur()
    $("div.dataTables_length").append(' <button id="resetFilterLintas" class="btn btn-sm btn-danger square"><i class="fa fa-times"></i> Reset Filter</button>');
    
    $(document).on("click", "#resetFilterLintas", function(e){
      e.preventDefault()
      app.resetStatus = true;
      $('#resetFilterLintas').prop('disabled', true);
      setTimeout(() => {
        app.resetStatus = false;
        $('#resetFilterLintas').prop('disabled', false);
      }, 1000)
    })
    $(document).on("click", ".edit", function(e){
      e.preventDefault()
      let uuid = $(this).data("uuid")
      let org_nama = $(this).data("org")
      let org_id = $(this).data('id')
      let org_status = $(this).data('status')
      let org_status_name = $(this).data('status_name')
      app.modalForm.show = true
      app.modalForm.uuid = uuid
      app.modalForm.org_name=org_nama
      app.modalForm.org_id=org_id
      app.modalForm.org_status=org_status
      app.modalForm.org_status_name=org_status_name
    })
  },
  methods: {
    LintasAlur() {
      let app = this;
      app.dt = $("#LintasAlur").DataTable({
        processing: true,
        serverSide: true,
        searching: false,
        "order": [[ 0, 'desc' ]],
        "dom": 'Bltrip',
        lengthMenu: [
          [ 20, 50, 100, -1 ],
          [ '20 baris', '50 baris', '100 baris', 'Lihat Semua' ]
        ],
        "buttons": [
          {
            extend: 'excel',
            className: 'btn-danger square mb-1 DownloadLintasAlur',
            text: "Download Lintas Alur",
            title:"",
            filename:"lintas-alur",
            exportOptions: {
                columns: 'th:not(:last-child)'
            }
          }
        ],
        ajax:{
          'url': 'api/configlintasalur',
          'type': 'GET',
          'data': function(d){
            d.id = app.lintasAlur.sales_org_id,
            d.name = app.lintasAlur.sales_org_name,
            d.config_lintas_alur = app.lintasAlur.status
          },
          'beforeSend': function (request) {
              var token = localStorage.getItem("default_auth_token");
              request.setRequestHeader("Authorization", "Bearer "+token);
              request.setRequestHeader("lang",  localStorage.getItem('app-lang'));
          }
        },
        columns: [
          {data: 'id' , name:'sales_org_name'},
          {data: 'name', name : 'name'},
          {data: 'config_lintas_alur',name:'config_lintas_alur',
           render : function(data, type, full)
            {   if(data==1) {
                    return 'True';
                }else{
                    return "False";
                } } 
          },
          {data: 'uuid' , name:'uuid', render: function(d,t,f){
            let link = '';
            if(app.access.U) {
              let def_status_name='';
              if(f.config_lintas_alur==1){
                def_status_name='True';
              }else{
                def_status_name='False';
              }
              link = '<a href="#" class="edit btn btn-sm btn-primary square" data-uuid="'+d+'" data-org="'+f.name+'" data-id="'+f.id+'" data-status="'+f.config_lintas_alur+'" data-status_name="'+def_status_name+'"> <i class="fa fa-pencil"></i> Edit</a>';
            }
            return link
          }}
        ]
      })
    },

    searchTable(obj) {
      this.lintasAlur = obj
      this.dt.draw()
    },

    triggerModal() {
      this.modalForm.show = false
      this.modalForm.uuid = null
      this.dt.draw()
    },

    download() {
      event.preventDefault()
      $(".DownloadLintasAlur").trigger('click')
    }
  }
}
</script>

<style media="screen">
  .DownloadLintasAlur {
    display: none !important;
  }
</style>
