@media only screen and (max-width: 768px) {
  .table-wrapper {
    overflow-x: scroll;
    margin: 0 auto;
    padding-left: 0em;
  }
  .fix1 {
    position: relative;
    width: 0;
    margin-left: 0;
    background-color: #eee;
  }
  .fix2 {
    position: relative;
    width: 0;
    margin-left: 0;
    padding: 0;
    background-color: #eee;
  }

  .sub-logo {
    height: auto;
    width: 222px;
  }

  .mb-1, .my-1 {
    margin-bottom: 0rem !important; */
  }

  .breadcrumb-wrapper {
    padding-left: 0px;
  }

  .breadcrumbs-right .breadcrumb {
    float: left;
    margin-bottom: 10px;
  }

  .box-detail-distributor dl dt {
    text-align: left !important;
  }

  .card-header .heading-elements, .card-header .heading-elements-toggle {
    display: none !important;
  }

  .card-body div.pull-right .btn {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 1366px) {
  .sub-logo {
    height: auto;
    width: 222px;
  }
}
