<template>
    <tr class="filter">
        <th></th>
        <th>
            <input type="text" class="form-control form-control-md" v-model="form.code" @keyup="search()">
        </th>
        <th>
            <input type="text" class="form-control form-control-md" v-model="form.desc" @keyup="search()">
        </th>
        <th>
            <checklist :reset="reset" :checkedStatus="form.status" @get-check="searchTable" :label="'Cari Status'" :list="statusSearch"> </checklist>
        </th>
        <th>
            <form-date :reset="reset" @get-date="searchDateForm" :type="'FormDate'">  </form-date>
        </th>
        <th>
            <thru-date :reset="reset" @get-date="searchDateThrue" :type="'ThruDate'">  </thru-date>
        </th>        
    </tr>
</template>

<script>
import Checklist from '../../filter/Checklist';
import Date from '../../filter/Date';
export default {
    props: ['reset'],
    data: function() {
        return {
            uriName: this.$auth.user().id+'_'+'search_'+this.$route.name,
            statusSearch: [
                {name: 'Active', value: 'y'},
                {name: 'Inactive ', value: 'n'}
            ],
            form: {
                code: '',
                desc: '',
                status: '',
                from_date: '',
                thru_date: ''
            }
        }
    },
    components: {
        Checklist, FormDate: Date, ThruDate: Date
    },
    mounted() {
        var app = this;
        const getLocalSearch = JSON.parse(localStorage.getItem(app.uriName));
        setTimeout(() => {
        if (getLocalSearch !== null) {
            app.form = getLocalSearch;
            app.$emit("search-table", app.form);
        }
        },1000)
    },
    watch: {
		reset: function(val){
			if(val === true) {
				this.resetFilter();
			}
		}
	},
    methods: {
        searchTable(obj) {
            var status = obj.join(';');
            this.form.status = status;
            this.search();
        },
        searchDateForm(date = '') {
            if (date != '') {
                if (date != '') {
                    this.form.from_date = {
                        certain: (date.name === 'FormDate' && date.dateType === 'certain') && date.data.from,
                        from: (date.name === 'FormDate' && date.dateType === 'range') && date.data.from,
                        to: (date.name === 'FormDate' && date.dateType === 'range') && date.data.to
                    }
                } else {
                    this.form.created_at = ''
                }
                this.search()
            }
        },
        searchDateThrue(date = '') {
            if (date != '') {
                if (date != '') {
                    this.form.thru_date = {
                        certain: (date.name === 'ThruDate' && date.dateType === 'certain') && date.data.from,
                        from: (date.name === 'ThruDate' && date.dateType === 'range') && date.data.from,
                        to: (date.name === 'ThruDate' && date.dateType === 'range') && date.data.to
                    }
                } else {
                    this.form.created_at = ''
                }
                this.search()
            }
        },
        search() {
            event.preventDefault();
            localStorage.setItem(this.uriName, JSON.stringify(this.form));
            this.$emit("search-table", this.form);
        },
        resetFilter(){
            this.clearFilter(this.$route.name, this.form);
            this.search();
        }
    }


}
</script>

<style>

</style>
