<template lang="html">
  <div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group pull-right">
          <button v-if="showBtn === true || (isDistribuor != undefined && accessComponent.C)" type="button" @click="openFormRetailAdm" data-status="administratif" class="btn btn-primary square"><i class="fa fa-plus"></i> Pengecer Administratif</button>
          <button type="button" v-if="(role_id!=4 || role_id == 4) && accessComponent.C" @click="modalUpload = !modalUpload" class="btn btn-primary square"><i class="fa fa-upload"></i> Upload</button>
          <button v-if=" accessComponent.C === true" type="button" @click="form_retail_distributor_relation" class="btn btn-primary square"><i class="fa fa-plus"></i> Relasi Distributor</button>
          <button v-if="(role_id!=4 || role_id == 4) && accessComponent.C === true && $route.params.id === undefined" type="button" @click="openForm" class="btn btn-primary square"><i class="fa fa-plus"></i> Entry Baru Pengecer</button>
          <a v-if="(role_id!=4 || role_id == 4)" href="template-excel/pengecer/Template_Pengecer.xlsx" class="btn btn-primary square" target="_blank" ><i class="fa fa-download"></i> Download Template</a>
          <a v-if="(role_id!=4 || role_id == 4)" href="template-excel/Daftar_Kode_Wilayah.xlsx" class="btn btn-primary square" target="_blank" ><i class="fa fa-download"></i> Download Kode Wilayah</a>
          <button  v-if="(role_id!=4 || role_id == 4)" type="button"class="btn btn-primary square" @click="download" name="button" :disabled="loadBtnDownload"> <i class="fa fa-download"></i> Download </button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <table id="tableRelasi" class="table table-xs table-bordered table-striped display nowrap">
          <thead>
            <filter-relasi :reset="resetStatus" ref="filterComponent" @search-table="searchTable"></filter-relasi>
            <tr>
              <th>
                <fieldset>
                  <label class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input check_all_relasi" value="all">
                    <span class="custom-control-indicator"></span>
                  </label>
                </fieldset>
              </th>
              <th>Kode Distributor</th>
              <th>Distributor</th>
              <th>Nama Pemilik Distributor</th>
              <th>Produsen</th>
              <th>Provinsi</th>
              <th>Kota/Kabupaten</th>
              <th>Kecamatan</th>
              <th>Alamat</th>
              <th>Kode Pengecer</th>
              <th>Nama Pengecer</th>
              <th>Nama Pemilik Pengecer</th>
              <th>Status Relasi</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>

      </div>
    </div>
    <div class="row scroll-top" v-if="accessComponent.A">
      <div class="col-md-12">
        <div class="btn-group mr-1 mb-1 pull-right dropup">
          <button type="button" :disabled="loading.changeStatus" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i v-if="loading.changeStatus" class="fa fa-spin fa-refresh"></i>
            Aksi
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" @click="action('s')" href="#">Submit</a>
            <a class="dropdown-item" @click="action('d')" href="#">Unsubmit</a>
            <a v-if="role_id !== 4" class="dropdown-item" @click="action('y')" href="#">Approve</a>
            <a v-if="role_id !== 4" class="dropdown-item" @click="action('n')" href="#">Unapprove</a>
            <a v-if="role_id !== 4" class="dropdown-item" @click="action('p')" href="#">Suspend</a>
            <a v-if="role_id !== 4" class="dropdown-item" @click="action('y')" href="#">Unsuspend</a>
          </div>
        </div>
      </div>
    </div>
    <upload v-if="modalUpload" @trigger-modal="triggerModal"></upload>
    <form-retail v-if="modalForm" :id="null" :customer_uuid="$route.params.id" :isSubDistributor="true" :isRetailAdm="isRetailAdm" @trigger-modal="triggerModal"></form-retail>
  </div>
</template>

<script>
import Form from '../retail/modal/Form';
import FilterRelasi from './FilterRelasi';
import Upload from '../retail/modal/Upload';

export default {
  props: ['access'],
  data: function(){
    return {
      showBtn: 'hehe',
      loadBtnDownload: false,
      role_id: null,
      isDistribuor: this.$route.params.id,
      isRetailAdm: false,
      dt: '',
      accessParams: encodeURIComponent(this.$route.params.access),
      modalUpload: false,
      resetStatus: false,
      modalForm:false,
      modalUpload:false,
      check: [],
      relasi: {},
      loading:{
        changeStatus: false
      },
      accessComponent: (this.access != undefined) ? this.access : {},
    }
  },
  created() {
      if(this.access === undefined) {
        const encodeAccess = decodeURIComponent(this.$route.params.access);
        const decodeAccess = this.toText(this.decrypt(encodeAccess));
        const arrAccess = decodeAccess.split(",");
        console.log(this.access);
        if(arrAccess) {
          arrAccess.map((data) => {
            if(data === 'C' || data === 'R' || data === 'U' || data === 'D' || data === 'A') {
              this.accessComponent[data] = true
            } else {
              this.$router.push({path: '/home'});
              toastr.error('Tidak mempunyai akses halaman ini', 'Error');
            }
          })
        } else {
          this.$router.push({path: '/home'});
          toastr.error('Tidak mempunyai akses halaman ini', 'Error');
        }
      }
  },
  components: {
    formRetail: Form,
    FilterRelasi, Upload
  },
  mounted() {
    var app = this;
    const id = (app.$route.params.id != undefined) ? '/cust_id/'+app.$route.params.id : '';
    app.getAccessControl();
    app.userProfile();

    $(document).ready(function() {
      app.dt = $("#tableRelasi").DataTable({
        processing: true,
        serverSide: true,
        searching: false,
        "scrollX": true,
        "scrollCollapse": true,
        "scrollY":   "50vh",
        "order": [[ 9, 'desc' ]],
        lengthMenu: [
          [ 20, 50, 100, -1 ],
          [ '20 baris', '50 baris', '100 baris', 'Lihat Semua' ]
        ],
        "dom": 'Bltrip',
        "buttons": [
          {
            extend: 'excel',
            className: 'btn-danger square mb-1 downloadRelasiExcel',
            text: "Download Pengecer ke Excel"
          }
        ],
        ajax: {
          'url': 'api/retail_assg',
          'type': 'GET',
          'data': function(d){
            if(app.$route.params.id != undefined) {
              d.customer_uuid  = app.$route.params.id
            }
            d.customer_id  = app.relasi.customer_id
            d.customer_name = app.relasi.customer_name
            d.customer_owner = app.relasi.customer_owner
            d.sales_org_name = app.relasi.sales_org_name
            d.sales_office_name = app.relasi.sales_office_name
            d.sales_office_id = app.relasi.sales_office_id
            d.sales_group_id = app.relasi.sales_group_id
            d.sales_group_name = app.relasi.sales_group_name
            d.sales_unit_name = app.relasi.sales_unit_name
            d.address = app.relasi.address
            d.retail_code = app.relasi.retail_id
            d.retail_name = app.relasi.retail_name
            d.retail_owner = app.relasi.retail_owner
            d.status = app.relasi.status
          },
          beforeSend: function (request) {
              var token = localStorage.getItem("default_auth_token");
              request.setRequestHeader("Authorization", "Bearer "+token);
              request.setRequestHeader("lang",  localStorage.getItem('app-lang'));
          }
        },
        "columnDefs": [
          { "orderable": false, "targets": 0 }
        ],
        columns :[
          {
            data: 'uuid',
            render: function(data, type, full) {
              const check = '<fieldset>'+
                              '<label class="custom-control custom-checkbox">'+
                                '<input type="checkbox" id="checkRelasi" class="custom-control-input check_box_relasi" value="'+data+'">'+
                                '<span class="custom-control-indicator"></span>'+
                              '</label>'+
                            '</fieldset>';
              return check;
            }
          },
          {data: 'customer_id', name: 'customer_id'},
          {data: 'customer_name', name: 'customer_name'},
          {data: 'customer_owner', name: 'customer_owner'},
          {data: 'sales_org_name', name: 'sales_org_name'},
          {data: 'sales_office_name', name: 'sales_office_name'},
          {data: 'sales_group_name', name: 'sales_group_name'},
          {data: 'sales_unit_name', name: 'sales_unit_name'},
          {data: 'address', name: 'address'},
          {data: 'retail_code', name: 'retail_code'},
          {data: 'retail_name', name: 'retail_name'},
          {data: 'retail_owner', name: 'retail_owner'},
          {data: 'status_name', name: 'status'}
        ]
      })
      new $.fn.dataTable.FixedColumns(app.dt, {
          leftColumns: 3
      });
      $("div.dataTables_length").append(' <button id="resetFilterRelasi" class="btn btn-sm btn-danger square"><i class="fa fa-times"></i> Reset Filter</button>');

      $(document).on("click", "#resetFilterRelasi", function(e){
        e.preventDefault()
        app.resetStatus = true;
        $('#resetFilterRelasi').prop('disabled', true);
        setTimeout(() => {
          app.resetStatus = false;
          $('#resetFilterRelasi').prop('disabled', false);
        }, 1000)
      })

      $(document).on("click", ".check_all_relasi", function(e){
        $('.check_box_relasi').not(this).prop('checked', this.checked);
        $('.check_box_relasi').not(this).each(function(index, el) {
          var value = {id: $(this).val()};
          if(this.checked){
            if(value != 'all' && !app.check.includes(value)){
              app.check.push(value);
            }
          } else {
            app.check = [];
          }
        });
      })
      $(document).on("click", "#checkRelasi", function(e){
        var value = {id: $(this).val()};
        if(this.checked){
          app.check.push(value);
        } else {
          app.removeA(app.check, value.id);
        }
      })
      $("#downloadRelasiExcel").on("click", function(e){
        e.preventDefault();
        $(".downloadRelasiExcel").trigger('click');
      });
    });

  },
  methods: {
    getAccessControl(){
      const getLocalSearch = localStorage.getItem('access-control');
      const encodeAccess = decodeURIComponent(getLocalSearch);
      const decodeAccess = this.toText(this.decrypt(encodeAccess));
      const accessControl = decodeAccess.split(";")[0];
      this.role_id = accessControl;
    },

    userProfile(){
      this.axios.get('user/profile')
      .then((resp) => {
        this.role_id = resp.data.data.role.role_id;
      })
      .catch((resp) => {
        console.log(resp);
      })
      .then((resp) => {
        console.log(resp);
      })
    },
    openFormRetailAdm(){
      this.isRetailAdm = true;
      this.modalForm = !this.modalForm;
    },
    openForm(){
      this.isRetailAdm = false;
      this.modalForm = !this.modalForm;
    },
    triggerModal(){
      this.dt.draw();
      this.modalForm = false
      this.modalUpload = false
    },
    action(type) {
      event.preventDefault();
      if(this.check.length != 0) {
        this.loading.changeStatus = true;
        this.check = this.check.map(data => {
          return {id: data.id, status: type}
        })
        this.saveAction();
      } else {
        toastr.warning("Silahakan Pilih Data terlebih dahulu", "Warning")
      }
    },
    saveAction(){
      const send = this.getUnique(this.check, 'id');
      this.axios.post('retail_assg/update/bulk', send)
      .then((resp) => {
        toastr.success("Status berhasil di ubah", "Sukses")
        this.loading.changeStatus = false;
        this.dt.draw();
        this.check = [];
        $(".check_all_relasi").prop('checked', false);
      })
      .catch((resp) => {
        toastr.warning("Status gagal di ubah", "Gagal")
        toastr.error(resp.response.data.message, "Pesan")
        this.loading.changeStatus = false;
        // this.check = [];
        // $(".check_all_relasi").prop('checked', false);
      })
    },
    getUnique(arr, comp) {
      const unique = arr.map(e => e[comp]).map((e, i, final) => final.indexOf(e) === i && i).filter(e => arr[e]).map(e => arr[e]);
      return unique;
    },
    removeA(array, id) {
      var index = array.map(x => {
        return x.id;
      }).indexOf(id);
      array.splice(index, 1);
    },
    searchTable(obj) {
      this.relasi = obj
      this.dt.draw();
    },
    form_retail_distributor_relation() {
      var access = this.$route.params.access;
      const id = (this.$route.params.id != undefined) ? this.$route.params.id : null;

      this.$router.push({path: '/'+encodeURIComponent(access)+'/retail-distributor-relation/form/'+id});
    },
    download(){
      this.loadBtnDownload = true;
      var customer_uuid = '';
      if(this.$route.params.id != undefined) {
        customer_uuid  = this.$route.params.id
      }
      this.axios({
        url: 'retail_assg/download',
        params: {
            customer_uuid : customer_uuid,
            customer_id  : this.relasi.customer_id,
            customer_name : this.relasi.customer_name,
            customer_owner : this.relasi.customer_owner,
            sales_org_name : this.relasi.sales_org_name,
            sales_office_name : this.relasi.sales_office_name,
            sales_office_id : this.relasi.sales_office_id,
            sales_group_id : this.relasi.sales_group_id,
            sales_group_name : this.relasi.sales_group_name,
            sales_unit_name : this.relasi.sales_unit_name,
            address : this.relasi.address,
            retail_code : this.relasi.retail_id,
            retail_name : this.relasi.retail_name,
            retail_owner : this.relasi.retail_owner,
            status : this.relasi.status
        },
        method: 'GET',
        responseType: 'blob', // important
      }).then((response) => {
         const url = window.URL.createObjectURL(new Blob([response.data]));
         const link = document.createElement('a');
         link.href = url;
         link.setAttribute('download', 'Download Relasi Distributor Pengecer.xls'); //or any other extension
         document.body.appendChild(link);
         link.click();
         this.loadBtnDownload = false;
      })
      .catch((resp) => {
        toastr.error("Gagal Download File", "Gagal") ;
        this.loadBtnDownload = false;      
      })
    }
  }
}
</script>

<style lang="css">
  .downloadRelasiExcel {
    float: right !important;
    display: none;
  }
  .scroll-top {
    position: fixed;
    right: 30px;
    bottom: 20px;
    z-index: 999;
    font-size: 22px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 30px;
  }
</style>
