<template>
  <transition name="custom-classes-transition" enter-active-class="animated fadeInDown" leave-active-class="animated fadeOutUp">
    <tr class="lastChild">
      <td></td>
      <td class="pinned head"> {{ prod.name }} </td>
      <td> <span :class="(prod.status[0] === 'n') ? 'inactive' : ''"> {{ numberFormat(prod.month[0]) }} </span> </td>
      <td> <span :class="(prod.status[1] === 'n') ? 'inactive' : ''"> {{ numberFormat(prod.month[1]) }} </span> </td>
      <td> <span :class="(prod.status[2] === 'n') ? 'inactive' : ''"> {{ numberFormat(prod.month[2]) }} </span> </td>
      <td> <span :class="(prod.status[3] === 'n') ? 'inactive' : ''"> {{ numberFormat(prod.month[3]) }} </span> </td>
      <td> <span :class="(prod.status[4] === 'n') ? 'inactive' : ''"> {{ numberFormat(prod.month[4]) }} </span> </td>
      <td> <span :class="(prod.status[5] === 'n') ? 'inactive' : ''"> {{ numberFormat(prod.month[5]) }} </span> </td>
      <td> <span :class="(prod.status[6] === 'n') ? 'inactive' : ''"> {{ numberFormat(prod.month[6]) }} </span> </td>
      <td> <span :class="(prod.status[7] === 'n') ? 'inactive' : ''"> {{ numberFormat(prod.month[7]) }} </span> </td>
      <td> <span :class="(prod.status[8] === 'n') ? 'inactive' : ''"> {{ numberFormat(prod.month[8]) }} </span> </td>
      <td> <span :class="(prod.status[9] === 'n') ? 'inactive' : ''"> {{ numberFormat(prod.month[9]) }} </span> </td>
      <td> <span :class="(prod.status[10] === 'n') ? 'inactive' : ''"> {{ numberFormat(prod.month[10]) }} </span> </td>
      <td> <span :class="(prod.status[11] === 'n') ? 'inactive' : ''"> {{ numberFormat(prod.month[11]) }} </span> </td>
      <td> {{ numberFormat(prod.total) }} </td>
    </tr>
  </transition>
</template>

<script>
export default {
  props: ['prod'],
  data: function() {
    return {

    }
  },
  methods: {
    numberFormat(value) {
      value = value.toString();
      return this.numberEngine(value)
    },
    numberEngine(n, c, d, t) {
      var c = isNaN(c = Math.abs(c)) ? 2 : c,
        d = d == undefined ? "," : d,
        t = t == undefined ? "." : t,
        s = n < 0 ? "-" : "",
        i = String(parseInt(n = Math.abs(Number(n) || 0).toFixed(c))),
        j = (j = i.length) > 3 ? j % 3 : 0;

      return s + (j ? i.substr(0, j) + t : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : "");
    },
  }

}
</script>

<style lang="css" scoped>
  td.head {
    padding-left: 8rem !important;
  }
  tr.lastChild {
    background-color: #eee;
  }
  tr.lastChild td:not(:nth-child(2)) {
    text-align: right;
  }
  .inactive {
    font-weight: bold;
    color: red;
  }
</style>
