<template>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group row">
        <label class="col-md-3 label-control">Distributor</label>
        <div class="col-md-9">
          <div :class="{'invalid' : error && errors.distributor}">
            <multiselect
              @input="getProdusen"
              v-model="searchDataSend.distributor"
              :options="get.distributor"
              track-by="uuid" :custom-label="nameWithId"
              :searchable="true" :close-on-select="true"
              :show-labels="false"
              :placeholder="(loadingElement.distributor === false) ? 'Pilih Distributor..' : 'Memuat ..'"
              :disabled="isDisabledDistributor"
              >
            </multiselect>
            <p class="text-danger" v-if="error && errors.distributor">{{errors.distributor}}</p>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 label-control">Produsen</label>
        <div class="col-md-9">
          <div :class="{'invalid' : error && errors.produsen}">
            <multiselect
              v-model="searchDataSend.produsen"
              @input="getProvinsi"
              :options="get.produsen"
              track-by="uuid" :custom-label="produsenNameWithId"
              :searchable="true" :close-on-select="true"
              :show-labels="false"
              :placeholder="(loadingElement.produsen === false) ? 'Pilih Produsen..' : 'Memuat ..'"
            >
            </multiselect>
            <p class="text-danger" v-if="error && errors.produsen">{{errors.produsen}}</p>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 label-control">Provinsi</label>
        <div class="col-md-9">
          <div :class="{'invalid' : error && errors.provinsi}">
          <multiselect
            @input="getKabupaten"
            v-model="searchDataSend.provinsi"
            :options="get.provinsi"
            track-by="id" :custom-label="provinsiNameWithId"
            :searchable="true" :close-on-select="true"
            :show-labels="false" :placeholder="(loadingElement.provinsi === false) ? 'Pilih Provinsi..' : 'Memuat ..'"
          >
          </multiselect>
          <p class="text-danger" v-if="error && errors.provinsi">{{errors.provinsi}}</p>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 label-control">Kabupaten</label>
        <div class="col-md-9">
          <div :class="{'invalid' : error && errors.kabupaten}">
          <multiselect
            @input="getKecamatan"
            v-model="searchDataSend.kabupaten"
            :options="get.kabupaten"
            track-by="id" :custom-label="kabupatenNameWithId"
            :searchable="true" :close-on-select="true"
            :show-labels="false"
            :placeholder="(loadingElement.kabupaten === false) ? 'Pilih Kabupaten..' : 'Memuat ..'"
          >
          </multiselect>
          <p class="text-danger" v-if="error && errors.kabupaten">{{errors.kabupaten}}</p>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 label-control">Kecamatan</label>
        <div class="col-md-9">
          <multiselect
            v-model="searchDataSend.kecamatan"
            :options="get.kecamatan"
            track-by="id" :custom-label="kecamatanNameWithId"
            :searchable="true" :close-on-select="true"
            :show-labels="false"
            :placeholder="(loadingElement.kecamatan === false) ? 'Pilih Kecamatan..' : 'Memuat ..'"
          >
          </multiselect>
        </div>
      </div>
      <button type="button" class="btn btn-danger square" @click="$router.go(-1)" ><i class="fa fa-chevron-circle-left"></i> Kembali</button>
      <div class="form-actions pull-right">
        <button type="button" @click="reset" class="btn btn-secondary"> <i class="fa fa-trash"></i>  Reset </button>
        <button type="button" @click="search" class="btn btn-primary"> <i class="fa fa-search"></i> Cari </button>
      </div>
    </div>
  </div>
</template>

<script>
import Multiselect from 'vue-multiselect';
export default {
  data: function() {
    return {
      isDisabledDistributor: false,
      loadingElement:{
        distributor: false,
        produsen: false,
        kabupaten: false,
        provinsi: false,
        kecamatan: false
      },
      get: {
        distributor: [],
        produsen: [],
        provinsi: [],
        kabupaten: [],
        kecamatan: [],
      },
      searchDataSend : {
        distributor: null,
        produsen: null,
        provinsi: null,
        kabupaten: null,
        kecamatan: null,
      },
      refresh: false,
      error: false,
      errors:{},
    }
  },
  components: {
    Multiselect
  },
  mounted() {
    this.getDataDistributor();
    // this.getProvinsi();
  },
  methods: {
    nameWithId ({ id,  full_name}) {
      return `${id} — ${full_name}`
    },
    produsenNameWithId ({id, name}) {
      return `${id} — ${name}`
    },
    provinsiNameWithId ({sales_office_id, sales_office_name}) {
      return `${sales_office_id} — ${sales_office_name}`
    },
    kabupatenNameWithId ({id, name}) {
      return `${id} — ${name}`
    },
    kecamatanNameWithId ({id, name}) {
      return `${id} — ${name}`
    },
    getDataDistributor() {
      const customer_uuid = this.$route.params.id
      this.loadingElement.distributor = true;
      const params = (customer_uuid == 'null' || customer_uuid === undefined) ? {length: -1, relasi: 'relasi'} : {length: -1, uuid: customer_uuid, relasi: 'relasi'}
      this.axios.get('company/distributor', {
        params: params
      })
      .then((resp) => {
        this.loadingElement.distributor = false;
        this.get.distributor = resp.data.data;
        if (customer_uuid == 'null' || customer_uuid === undefined) {
          this.isDisabledDistributor = false
        } else {
          this.searchDataSend.distributor = {id: resp.data.data[0].id, full_name: resp.data.data[0].full_name}
          this.isDisabledDistributor = true
          this.getProdusen()
        }
      })
      .catch((resp) => {

        toastr.error('fail load distributor');
        console.log(resp);
      })
    },
    getProdusen() {
      this.loadingElement.produsen = true
      this.searchDataSend.produsen = null;
      this.axios.get('company/produsen', {
        params: {
          customer_id: this.searchDataSend.distributor.id,
        }
      })
      .then((resp) => {
        this.get.produsen = resp.data.data;
      })
      .catch((resp) => {
        toastr.error(resp.data.message);
        console.log(resp);
      })
      .then((resp) => { this.loadingElement.produsen = false })
    },
    getProvinsi() {
      this.loadingElement.provinsi = true
      this.axios.get('assgprov', {
        params: {
          sales_org_id: this.searchDataSend.produsen.id,
          customer_id: this.searchDataSend.distributor.id,
        }
      })
      .then((resp) => {
        this.get.provinsi = resp.data.data;
        this.loadingElement.provinsi = false
      })
      .catch((resp) => {
        toastr.error(resp.data.message);
        console.log(resp);
        this.loadingElement.provinsi = false
      })
    },
    getKabupaten() {
      this.loadingElement.kabupaten = true;
      this.searchDataSend.kabupaten = null;
      this.searchDataSend.kecamatan = null;
      this.axios.get('region/kabupaten', {
        params: {
          provinsi: this.searchDataSend.provinsi.sales_office_id,
          type : 'relasi',
          customer_id: this.searchDataSend.distributor.id,
          sales_org_id : this.searchDataSend.produsen.id
        }
      })
      .then((resp) => {
        this.get.kabupaten = resp.data.data;
      })
      .catch((resp) => {
        toastr.error(resp.data.message);
        console.log(resp);
      })
      .then((resp) => { this.loadingElement.kabupaten = false; })
    },
    getKecamatan() {
      this.loadingElement.kecamatan = true;
      this.searchDataSend.kecamatan = null;
      this.axios.get('region/kecamatan', {
        params: {
          kabupaten: this.searchDataSend.kabupaten.id,
          type : 'relasi',
          customer_id: this.searchDataSend.distributor.id,
          sales_org_id : this.searchDataSend.produsen.id,
        }
      })
      .then((resp) => {
        this.get.kecamatan = [{'id' : '','name': 'Pilih Semua Kecamatan'}].concat(resp.data.data);
      })
      .catch((resp) => {
        toastr.error(resp.data.message);
        console.log(resp);
      })
      .then((resp) => { this.loadingElement.kecamatan = false; })
    },
    reset() {
      this.searchDataSend.distributor = null;
      this.searchDataSend.produsen = null;
      this.searchDataSend.provinsi = null;
      this.searchDataSend.kabupaten = null;
      this.searchDataSend.kecamatan = null;
      this.$emit("reset-data")
    },
    search() {
      if (this.searchDataSend.distributor === null || this.searchDataSend.produsen === null || this.searchDataSend.provinsi === null || this.searchDataSend.kabupaten === null) {
        if (this.searchDataSend.distributor === null) {
          this.error = true;
          this.errors.distributor = 'Lengkapi isian kolom distributor';
        }
        if (this.searchDataSend.produsen === null) {
          this.error = true;
          this.errors.produsen = 'Lengkapi isian kolom produsen';
        }
        if(this.searchDataSend.provinsi === null){
          this.error = true;
          this.errors.provinsi = 'Lengkapi isian kolom provinsi';
        }
        if(this.searchDataSend.kabupaten === null){
          this.error = true;
          this.errors.kabupaten = 'Lengkapi isian kolom kabupaten';
        }
      } else {
        this.$emit("search-data", this.searchDataSend);
        this.error = false;
        this.errors.distributor = '';
        this.errors.produsen = '';
        this.errors.provinsi = '';
        this.errors.kabupaten = '';
      }
    },
    goBack(){
      var access = this.$route.params.access;
      this.$router.push({path: '/'+encodeURIComponent(access)+'/retail-distributor-relation'});
    }
  }
}
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style>
  div.invalid .multiselect__tags {
    border: 1px solid #ff8080;
  }
  html body .content.app-content {
    overflow: unset;
  }
</style>
