<template lang="html">
  <transition name="custom-classes-transition" enter-active-class="animated fadeIn">
    <div class="">
      <form-relasi-component @search-data="searchData" @reset-data="resetData"></form-relasi-component>
      <br>
      <br>
      <div class="row">
        <div class="col-md-12">
          <table id="tableRetailDistributor" class="table table-xs table-bordered table-striped display nowrap">
            <thead>
              <tr>
                <th>
                  <fieldset>
                    <label class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input check_all_relasi_p_d" value="all">
                      <span class="custom-control-indicator"></span>
                    </label>
                  </fieldset>
                </th>
                <th>Kode</th>
                <th>Nama</th>
                <th>Pemilik</th>
                <th>Status</th>
                <th>Provinsi</th>
                <th>Kota/Kabupaten</th>
                <th>Kecamatan</th>
                <th>Kode Kecamatan</th>
                <th>Kelurahan</th>
                <th>No. Telp</th>
                <th>No. Handphone</th>
                <th>No. Fax Kantor</th>
                <th>No. Telp Genggam</th>
                <th>Email</th>
                <th>NPWP</th>
                <th>Tanggal Terdaftar NPWP</th>
                <th>SIUP</th>
                <th>SIUP Berlaku Hingga</th>
                <th>SITU</th>
                <th>SITU Berlaku Hingga</th>
                <th>TDP</th>
                <th>TDP Berlaku Hingga</th>
                <th>Dibuat pada</th>
                <th>Diperbarui pada</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
          <!-- {{check}} -->
          <div class="form-actions pull-right" v-if="showButton">
            <button type="button" @click="saveAssign" class="btn btn-primary">
               <i :class="(loading.buttonSave) ? 'fa fa-spin fa-refresh' : 'fa fa-save' "></i>
               {{ (loading.buttonSave) ? 'Memuat..' : 'Simpan Relasi '}}
             </button>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
import FormRelasiComponent from './FormRelasiComponent';
export default {
  props: ['params', 'refresh'],
  data: function() {
    return {
      dt: '',
      check: [],
      retails:{
        customer_id : '-',
        sales_org_id : '-',
        sales_group_id : '-',
        sales_unit_id : '-',
        except : true
      },
      showButton: false,
      loading: {
        buttonSave: false
      }
    }
  },
  components: {
    FormRelasiComponent
  },
  mounted() {
    var app = this;
    $(document).ready(function() {
      app.getDatatableRetail();
      // $('#tableRetailDistributor').parents('div.dataTables_wrapper').first().hide();
      $(document).on("click", ".check_all_relasi_p_d", function(e){
        $('.check_box_relasi_p_d').not(this).prop('checked', this.checked);
        $('.check_box_relasi_p_d').not(this).each(function(index, el) {
          var value = {id: $(this).val()};
          if(this.checked){
            if(value != 'all' && !app.check.includes(value)){
              app.check.push(value);
            }
          } else {
            app.check = [];
          }
        });
      })
      $(document).on("click", "#check_box_relasi_p_d", function(e){
        var value = {id: $(this).val()};
        if(this.checked){
          app.check.push(value);
        } else {
          app.removeA(app.check, value.id);
        }
      })
    });
  },
  methods: {
    removeA(array, id) {
      var index = array.map(x => {
        return x.id;
      }).indexOf(id);
      array.splice(index, 1);
    },
    getDatatableRetail() {
      var app = this;
      app.dt = $("#tableRetailDistributor").DataTable({
        processing: true,
        serverSide: true,
        searching: false,
        "scrollX": true,
        "scrollCollapse": true,
        "scrollY": "350px",
        lengthMenu: [
          [ 20, 50, 100, -1 ],
          [ '20 baris', '50 baris', '100 baris', 'Lihat Semua' ]
        ],
        ajax: {
          'url': 'api/retail?status=y',
          'type': 'GET',
          'data': function(d){
            d.customer_uuid = app.retails.customer_id;
            d.sales_org_uuid = app.retails.sales_org_id;
            d.sales_group_id = app.retails.sales_group_id;
            d.sales_unit_id = app.retails.sales_unit_id;
            d.except = app.retails.except;
            // d.length = 0;
          },
          'beforeSend': function (request) {
              var token = localStorage.getItem("default_auth_token");
              request.setRequestHeader("Authorization", "Bearer "+token);
              request.setRequestHeader("lang",  localStorage.getItem('app-lang'));
          }
        },
        "columnDefs": [
          { "orderable": false, "targets": 0 }
        ],
        columns :[
            {
              data: 'uuid',
              render: function(data, type, full) {
                const check = '<fieldset>'+
                                '<label class="custom-control custom-checkbox">'+
                                  '<input type="checkbox" id="check_box_relasi_p_d" class="custom-control-input check_box_relasi_p_d" value="'+data+'">'+
                                  '<span class="custom-control-indicator"></span>'+
                                '</label>'+
                              '</fieldset>';
                return check;
              }
            },
            {data: 'code', name: 'code'},
            {data: 'name', name: 'name'},
            {data: 'owner', name: 'owner'},
            {data: 'status', name: 'status'},
            {data: 'sales_office_name', name: 'sales_office_name'},
            {data: 'sales_group_name' , name:'sales_group_name'},
            {data: 'sales_unit_name' , name:'sales_unit_name'},
            {data: 'sales_unit_id' , name:'sales_unit_id'},
            {data: 'village' , name:'village'},
            {data: 'tlp_no' , name:'tlp_no'},
            {data: 'tlp_no' , name:'tlp_no'},
            {data: 'fax_no' , name:'fax_no'},
            {data: 'tlp_no' , name:'tlp_no'},
            {data: 'email' , name:'email'},
            {data: 'npwp_no' , name:'npwp_no'},
            {data: 'npwp_register' , name:'npwp_register'},
            {data: 'siup_no' , name:'siup_no'},
            {data: 'valid_date_siup' , name:'valid_date_siup'},
            {data: 'situ_no' , name:'situ_no'},
            {data: 'valid_date_situ' , name:'valid_date_situ'},
            {data: 'tdp_no' , name:'tdp_no'},
            {data: 'valid_date_tdp' , name:'valid_date_tdp'},
            {data: 'created_at' , name:'created_at'},
            {data: 'updated_at' , name:'updated_at'}
        ]
      })
      new $.fn.dataTable.FixedColumns(app.dt, {
          leftColumns: 2
      });
    },
    searchData(dataSearch) {
      this.showButton = true;
      // $('#tableRetailDistributor').parents('div.dataTables_wrapper').first().show();
      // console.log(dataSearch);

      this.retails.customer_id = (dataSearch.distributor === null) ? null : dataSearch.distributor.id ;
      this.retails.sales_org_id = (dataSearch.produsen === null) ? null : dataSearch.produsen.id ;
      this.retails.sales_group_id = (dataSearch.kabupaten === null) ? null : dataSearch.kabupaten.id ;
      this.retails.sales_unit_id = (dataSearch.kecamatan === null) ? null : dataSearch.kecamatan.id ;
      this.dt.draw();
    },
    resetData(){
      // $('#tableRetailDistributor').parents('div.dataTables_wrapper').first().hide();
      this.retails.customer_id = '-';
      this.retails.sales_org_id = '-';
      this.retails.sales_group_id = '-';
      this.retails.sales_unit_id = '-';
      this.retails.except = true;
      this.showButton = false;
      this.check = [];
      this.dt.draw();
    },
    getUnique(arr, comp) {
      const unique = arr.map(e => e[comp]).map((e, i, final) => final.indexOf(e) === i && i).filter(e => arr[e]).map(e => arr[e]);
      return unique;
    },
    saveAssign() {
      event.preventDefault();
      this.loading.buttonSave = true;
      if(this.check.length != 0) {
        this.check = this.check.map(data => {
        return {
            retail_id: data.id,
            customer_id: this.retails.customer_id,
            sales_org_id: this.retails.sales_org_id
          }
        });
        let send = this.getUnique(this.check, 'retail_id');
        this.axios.post('retail_assg/assg/bulk', send)
        .then((resp) => {
          toastr.success("Data Tersimpan", "Berhasil");
          this.loading.buttonSave = false
          this.resetData()
        })
        .catch((resp) => {
          const msg = resp.response.data.message;
          const sales_office_id = (msg.sales_office_id) ? '<li>'+msg.sales_office_id[0]+'</li>' : '';
          const html = '<ul>'+sales_office_id+'</ul>'
          toastr.error(html, "Gagal");
          this.loading.buttonSave = false
          this.resetData()
        })
      } else {
        toastr.warning("Silahakan Pilih Data terlebih dahulu", "Warning")
        this.loading.buttonSave = false
      }
      // alert(this.retails.customer_id+' & '+this.retails.sales_org_id);

    }
  }
}
</script>

<style lang="css">

</style>
