<template>
  <div class="modal fade" id="formBatasAmbil" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <form @submit="save">
          <div class="modal-header">
            <h4 class="modal-title">{{ (uuid !== null ? 'Ubah Data' : 'Entry Baru' ) }}</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body">
            <form-loader :view="loading.edit"></form-loader>
              <div v-if="!loading.edit" class="form-body">
                  <h4 class="form-section"> Form Batas Ambil</h4>
                  <div  class="row">
                  <div class="col-md-12">
                    <div class="form-group row">
                      <label class="col-md-3 label-control" >Produsen </label>
                      <div class="col-md-9">
                        <multiselect
                          v-model="temp.produsen"
                          :options="get.produsen"
                          track-by="id"
                          :custom-label="nameWithId"
                          :searchable="true" :close-on-select="true"
                          :show-labels="false"
                          :placeholder="(loading.produsen === false) ? 'Pilih Produsen..' : 'Memuat ..'"
                          :disabled="loading.produsen"
                          >
                        </multiselect>
                        <p v-if="error && errors.sales_org_id" class="text-danger">{{ errors.sales_org_id[0] }}</p>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-3 label-control" >Provinsi </label>
                      <div class="col-md-9">
                        <multiselect
                          v-model="temp.provinsi"
                          :options="get.provinsi"
                          track-by="id"
                          :custom-label="provNameWithId"
                          :searchable="true" :close-on-select="true"
                          :show-labels="false"
                          :placeholder="(loading.provinsi === false) ? 'Pilih provinsi..' : 'Memuat ..'"
                          :disabled="loading.provinsi"
                          >
                        </multiselect>
                        <p v-if="error && errors.sales_org_id" class="text-danger">{{ errors.sales_org_id[0] }}</p>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-3 label-control" >Incoterm </label>
                      <div class="col-md-9">
                        <multiselect
                          v-model="temp.incoterm"
                          :options="get.incoterm"
                          track-by="ident_name"
                          :custom-label="incotermNameWithId"
                          :searchable="true" :close-on-select="true"
                          :show-labels="false"
                          :placeholder="(loading.incoterm === false) ? 'Pilih incoterm..' : 'Memuat ..'"
                          :disabled="loading.incoterm"
                          >
                        </multiselect>
                        <p v-if="error && errors.sales_org_id" class="text-danger">{{ errors.sales_org_id[0] }}</p>
                      </div>
                    </div>
                    <div v-if="!hide" class="form-group row">
                      <label class="col-md-3 label-control" >Produk </label>
                      <div class="col-md-9">
                        <multiselect
                          v-model="temp.product"
                          :options="get.product"
                          track-by="id"
                          :custom-label="productNameWithId"
                          :searchable="true" :close-on-select="true"
                          :show-labels="false"
                          :placeholder="(loading.product === false) ? 'Pilih product..' : 'Memuat ..'"
                          :disabled="loading.product"
                          >
                        </multiselect>
                        <p v-if="error && errors.product_id" class="text-danger">{{ errors.product_id[0] }}</p>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-3 label-control">Minimum Order</label>
                      <div class="col-md-9">
                        <input type="text" class="form-control" v-restrict.number.decimal v-model="input.min_qty">
                        <p v-if="error && errors.min_qty" class="text-danger">{{ errors.min_qty[0] }}</p>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-3 label-control">Maksimum Order</label>
                      <div class="col-md-9">
                        <input type="text" class="form-control" v-restrict.number.decimal v-model="input.max_qty">
                        <p v-if="error && errors.max_qty" class="text-danger">{{ errors.max_qty[0] }}</p>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-3 label-control">Jumlah Hari</label>
                      <div class="col-md-9">
                        <input type="text" class="form-control" v-restrict.number.decimal v-model="input.duration_date">
                        <p v-if="error && errors.duration_date" class="text-danger">{{ errors.duration_date[0] }}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary square" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary square" :disabled="loading.button">
              <i v-if="loading.button" class="fa fa-spin fa-refresh"></i>
              Simpan
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from 'vue';
import Multiselect from 'vue-multiselect';
import FormLoader from '../../../main/FormLoader';
export default {
  props: ['uuid'],
  data: function() {
    return {
      hide: true,
      error: false,
      errors: {},
      allProduct: {id: '', name: 'Pilih Semua'},
      loading: {
        produsen: false,
        provinsi: false,
        incoterm: false,
        product: false,
        button: false,
        edit: false
      },
      temp: {
        produsen: null,
        provinsi: null,
        incoterm: null,
        product: null,
      },
      get: {
        produsen: [],
        provinsi: [],
        incoterm: [],
        product: [],
      },
      input: {
        sales_org_id: null,
        sales_office_id: null,
        product_id: null,
        incoterm: null,
        min_qty: null,
        max_qty: null,
        duration_date: null
      }
    }
  },
  components: {
    Multiselect, FormLoader
  },
  created() {
    this.getDataProdusen()
    this.getProvinsi();
    this.getIncoterm();
    this.getProduct();
  },
  mounted() {
    let app = this;
    $("#formBatasAmbil").modal("show")
    $("#formBatasAmbil").on("hidden.bs.modal", function(){
      app.closeModal()
    })
    if(app.uuid != null) {
      app.getBatasAmbilEdit();
    }
  },
  methods: {
    getBatasAmbilEdit() {
      this.loading.edit = true;
      this.axios.get('limit/'+this.uuid)
      .then((resp) => {
        this.input.sales_org_id = resp.data.data[0].sales_org_id;
        this.input.min_qty = parseFloat(resp.data.data[0].min_qty).toFixed(1);
        this.input.max_qty = parseFloat(resp.data.data[0].max_qty).toFixed(1);
        this.input.duration_date = resp.data.data[0].duration_date;
        this.temp.produsen = { id: resp.data.data[0].sales_org_id, name: resp.data.data[0].sales_org_name };
        this.temp.provinsi = { id: resp.data.data[0].sales_office_id, name: resp.data.data[0].sales_office_name };
        this.temp.incoterm = { ident_name: resp.data.data[0].incoterm };
        this.loading.edit = false;
      })
      .catch((err) => {
        this.loading.edit = false;
        toastr.error("Failed Load Detail", "Load data");
      })
    },

    getDataProdusen() {
      this.loading.produsen = true
      this.axios.get('company/produsen',{
        params: {length: -1}
      })
      .then((resp) => {
        this.get.produsen = resp.data.data
        this.loading.produsen = false
      })
      .catch((resp) => {
        this.loading.produsen = false
        toastr.error("Failed Load Sales Org", "Load data");
      })
    },

    getProvinsi(){
      this.loading.provinsi = true;
      this.axios.get('region/provinsi')
      .then((resp) => {
        this.get.provinsi = resp.data.data;
        this.loading.provinsi = false;
      })
      .catch((resp) => {
        toastr.error("Failed Load Province", "Load data");
        this.loading.provinsi = false;
      })
    },

    getIncoterm(){
      this.loading.incoterm = true;
        this.axios.get('deliverymethod')
        .then((resp) => {
          this.get.incoterm = resp.data.data;
          this.loading.incoterm = false;
        })
        .catch((resp) => {
          // toastr.error(resp.response.exception, 'error');
          toastr.error('Failed To Get Data deliverymethod', 'Please Refresh The Page');
        })
    },

    getProduct(){
      this.loading.product = true;
        this.axios.get('product')
        .then((resp) => {
          this.get.product = resp.data.data;
          this.get.product.unshift(this.allProduct);
          this.loading.product = false;
        })
        .catch((resp) => {
          // toastr.error(resp.response.exception, 'error');
          toastr.error('Failed To Get Data Product', 'Please Refresh The Page');
        })
    },

    nameWithId ({ id,  name}) {
      return `${id} — ${name}`
    },
    productNameWithId ({ id,  name}) {
      return `${id} — ${name}`
    },
    provNameWithId ({ id,  name}) {
      return `${id} — ${name}`
    },
    incotermNameWithId ({ ident_name }) {
      return `${ident_name}`
    },

    prepareData() {
      this.input.sales_org_id = (this.temp.produsen != null) ? this.temp.produsen.id : '';
      this.input.sales_office_id = (this.temp.provinsi != null) ? this.temp.provinsi.id : '';
      this.input.incoterm = (this.temp.incoterm != null) ? this.temp.incoterm.ident_name : '';
      this.input.product_id = (this.temp.product != null) ? this.temp.product.id : '';
    },

    save() {
      event.preventDefault()
      this.prepareData()
      if(parseFloat(this.input.min_qty) > parseFloat(this.input.max_qty)) {
        toastr.warning('Minimum Order harus lebih kecil dari maksimal order')
      } else {
        if(this.uuid === null) {
          this.insert();
        } else {
          this.update();
        }
      }
    },

    insert() {
      this.loading.button = true
      this.axios.post('limit', this.input)
      .then((resp) => {
        toastr.success(resp.data.message)
        $("#formBatasAmbil").modal("hide")
        this.loading.button = false
      })
      .catch((resp) => {
        toastr.error(resp.response.data.message)
        this.error = true
        this.errors = resp.response.data.message
        this.loading.button = false
      })
    },

    update() {
      this.loading.button = true
      this.axios.put('limit/'+this.uuid, this.input)
      .then((resp) => {
        toastr.success(resp.data.message)
        $("#formBatasAmbil").modal("hide")
        this.loading.button = false
      })
      .catch((resp) => {
        toastr.error(resp.response.data.message)
        this.error = true
        this.errors = resp.response.data.message
        this.loading.button = false
      })
    },

    closeModal() {
      this.$emit('trigger-modal', 'RefreshTable');
    }
  }
}

Vue.directive('restrict', {
  bind (el, binding) {
    el.addEventListener('keydown', (e) => {
      // delete, backpsace, tab, escape, enter,
      let special = [46, 8, 9, 27, 13]
      if (binding.modifiers['decimal']) {
        // decimal(numpad), period
        special.push(110, 190)
      }
      // special from above
      if (special.indexOf(e.keyCode) !== -1 ||
        // Ctrl+A
        (e.keyCode === 65 && e.ctrlKey === true) ||
        // Ctrl+C
        (e.keyCode === 67 && e.ctrlKey === true) ||
        // Ctrl+X
        (e.keyCode === 88 && e.ctrlKey === true) ||
        // home, end, left, right
        (e.keyCode >= 35 && e.keyCode <= 39)) {
        return // allow
      }
      if ((binding.modifiers['alpha']) &&
        // a-z/A-Z
        (e.keyCode >= 65 && e.keyCode <= 90)) {
        return // allow
      }
      if ((binding.modifiers['number']) &&
        // number keys without shift
        ((!e.shiftKey && (e.keyCode >= 48 && e.keyCode <= 57)) ||
        // numpad number keys
        (e.keyCode >= 96 && e.keyCode <= 105))) {
        return // allow
      }
      // otherwise stop the keystroke
      e.preventDefault() // prevent
    }) // end addEventListener
  } // end bind
}) // end directive

</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
