<template lang="html">
  <div class="content-body">
    <section class="row">
      <div class="col-sm-12">
        <div id="kick-start" class="card">
          <div class="card-content collapse show">
            <div class="card-body">
              <div class="row">
                <div class="col-md-12">
                  <div class="pull-right">
                    <button v-if="access.C === true" type="button" class="btn btn-primary square" @click="toAdd"> <i class="fa fa-plus"></i>
                      Permintaan Penebusan
                    </button>
                    <button v-if="access.C === true" @click="cekPlafon" type="button" class="btn btn-primary square">
                      <i class="fa fa-search"></i> Cek Plafon
                    </button>
                    <button type="button" class="btn btn-primary square" @click="download()" :disabled="loadBtnDownload" > <i class="fa fa-download"></i>
                      Download
                    </button>

                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="table-responsive">
                    <table id="permintaanTable" class="table table-xs table-bordered table-striped display nowrap" style="width:100%">
                      <thead>
                        <permintaan-filter :reset="resetStatus" @search-table="searchTable"> </permintaan-filter>
                        <tr>
                          <th>No. Penebusan</th>
                          <th>Kode Referensi</th>
                          <th>Nama Distributor</th>
                          <th>Nama Produsen</th>
                          <th>Tgl. Order</th>
                          <th>Status</th>
                          <th>Incoterm</th>
                          <th>Provinsi</th>
                          <th>Kabupaten</th>
                          <th>Tipe Pembayaran</th>
                          <th>Tipe Kredit</th>
                          <th>Total Harga</th>
                          <th>PPN</th>
                          <th>Jumlah Setelah Pajak</th>
                          <th>Uang Muka</th>
                          <th>Batas Akhir Pengambilan Barang</th>
                          <th>Dibuat oleh</th>
                          <th>Dibuat pada</th>
                          <th>Aksi</th>
                        </tr>
                      </thead>
                      <tbody>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <modal-confirm v-if="deleteList.confirm" :uuid="deleteList.uuid" :text="textConfirm" @is-delete="isDelete" @trigger-modal="triggerModal"></modal-confirm>
      <check-plafon v-if="modalPlafon" @trigger-modal="triggerModalPlafon"></check-plafon>
    </section>
  </div>
</template>

<script>
import PermintaanFilter from './PermintaanFilter.vue';
import Modal from './plafon/Modal.vue';
import ModalConfirm from '../../global/ModalConfirm';

export default {
  props: ['access'],
  data: function(){
    return {
      modalUpload : false,
      modalPlafon : false,
      resetStatus : false,
      dt: '',
      textConfirm: 'Apakah yakin membatalkan data order ?',
      loading:{
        changeStatus: false
      },
      penebusan: {},
      deleteList: {
        confirm: false,
        uuid: null
      },
      loadBtnDownload:false,
    }
  },
  components:{
    PermintaanFilter, ModalConfirm, CheckPlafon: Modal
  },
  mounted(){
    var app = this;
    $(document).ready(function() {
      app.dt = $('#permintaanTable').DataTable({
        processing: true,
        serverSide: true,
        searching: false,
        "scrollX": true,
        "scrollCollapse": true,
        "scrollY":   "50vh",
        order: [[ 0, 'desc' ]],
        lengthMenu: [
          [ 20, 50, 100, -1 ],
          [ '20 baris', '50 baris', '100 baris', 'Lihat Semua' ]
        ],
        "dom": 'Bltrip',
        "buttons": [
          {
            extend: 'excel',
            className: 'btn-danger square mb-1 downloadTableExcel',
            text: "Download Pengecer ke Excel"
          }
        ],
        ajax:{
          'url': 'api/order?status=d',
          'type': 'GET',
          'data': function(d){
            d.uuid = app.penebusan.uuid,
            d.number = app.penebusan.number,
            d.sales_org_id = app.penebusan.sales_org_id,
            d.sales_org_name = app.penebusan.sales_org_name,
            d.contract_id = app.penebusan.contract_id,
            d.customer_id = app.penebusan.customer_id,
            d.customer_name = app.penebusan.customer_name,
            d.sales_office_id = app.penebusan.sales_office_id,
            d.sales_office_name = app.penebusan.sales_office_name,
            d.sales_group_id = app.penebusan.sales_group_id,
            d.sales_group_name = app.penebusan.sales_group_name,
            d.delivery_method_id = app.penebusan.delivery_method_id,
            d.delivery_method_name = app.penebusan.delivery_method_name,
            d.order_date = app.penebusan.order_date,
            d.payment_method_id = app.penebusan.payment_method_id,
            d.payment_method = app.penebusan.payment_method,
            d.desc = app.penebusan.desc,
            d.booking_code = app.penebusan.booking_code,
            d.total_price = app.penebusan.total_price,
            d.total_price_before_ppn = app.penebusan.total_price_before_ppn,
            d.upfront_payment = app.penebusan.upfront_payment,
            d.ppn = app.penebusan.ppn,
            d.pph22 = app.penebusan.pph22,
            d.billing_date = app.penebusan.billing_date,
            d.payment_due_date = app.penebusan.payment_due_date,
            d.bank_id = app.penebusan.bank_id,
            d.good_redemption_due_date = app.penebusan.good_redemption_due_date,
            d.df_due_date = app.penebusan.df_due_date,
            d.df_due_date_plan = app.penebusan.df_due_date_plan,
            d.pickup_due_date = app.penebusan.pickup_due_date,
            d.delivery_location = app.penebusan.delivery_location,
            d.so_number = app.penebusan.so_number,
            d.sap_status = app.penebusan.sap_status,
            d.billing_fulldate = app.penebusan.billing_fulldate,
            d.sap_product_desc = app.penebusan.sap_product_desc,
            d.sap_miscs = app.penebusan.sap_miscs,
            d.reference_code = app.penebusan.reference_code,
            d.flag = app.penebusan.flag,
            d.seq = app.penebusan.seq,
            d.approve_date = app.penebusan.approve_date,
            d.approve_type = app.penebusan.approve_type,
            d.status = app.penebusan.status,
            d.status_name = app.penebusan.status_name,
            d.created_by = app.penebusan.created_by,
            d.updated_by = app.penebusan.updated_by,
            d.updated_at = app.penebusan.updated_at,
            d.created_at = app.penebusan.created_at,
            d.created_name = app.penebusan.created_name
          },
          'beforeSend': function (request) {
              var token = localStorage.getItem("default_auth_token");
              request.setRequestHeader("Authorization", "Bearer "+token);
              request.setRequestHeader("lang",  localStorage.getItem('app-lang'));
          }
        },
        columns: [
            {
              data: 'number', name: 'number',
              render : function(data, type, full){
                if (!app.access.C) {
                   return '<a href="#" id="detailData" data-id="'+full.uuid+'">'+data+'</a>';
                } else {               
                  const access = encodeURIComponent(app.$route.params.access);
                  const url = '#/'+access+'/transaksi/order/detail/'+full.uuid+'';
                  return '<a href="'+url+'">'+data+'</a>';               
                }
              }
            },
            {data: 'reference_code', name: 'reference_code'},
            {data: 'customer_name', name: 'customer_name'},
            {data: 'sales_org_name', name: 'sales_org_name'},
            {data: 'order_date', name: 'order_date', render: function(data, type, full){
              return app.convertDate(data)
            }},
            {data: 'status_name', name: 'status_name'},
            {data: 'delivery_method_name', name: 'delivery_method_name'},
            {data: 'sales_office_name', name: 'sales_office_name'},
            {data: 'sales_group_name', name: 'sales_group_name'},
            {data: 'payment_method', name: 'payment_method'},
            {data: 'payment_method', name: 'payment_method'},
            {data:'total_price_before_ppn', name:'total_price_before_ppn', render: function(d,t,f){
                const uang = (d != null && d != '') ? d.split('.')[0] : '';
                return app.moneyFormat(uang);
            }},
            {data:'ppn', name:'ppn', render: function(d,t,f){
              const uang = (d != null && d != '') ? d.split('.')[0] : '';
                return app.moneyFormat(uang);
            }},
            {data:'total_price', name:'total_price', render: function(d,t,f){
                const uang = (d != null && d != '') ? d.split('.')[0] : '';
                return app.moneyFormat(uang);
            }},
            {data:'upfront_payment', name:'upfront_payment', render: function(d,t,f){
                const uang = (d != null && d != '') ? d.split('.')[0] : '';
                return app.moneyFormat(uang);
            }},
            {data: 'pickup_due_date', name: 'pickup_due_date', render: function(data, type, full){
              return app.convertDate(data)
            }},
            {data: 'created_name', name: 'created_name'},
            {data: 'created_at', name: 'created_at', render: function(data, type, full){
              return app.convertDate(data)
            }},
            {
              data: 'uuid',
              render : function(data, type, full){
                if (!app.access.D) {
                  var aksi = '';
                } else {
                  if (full.status === 'y' || full.status === 's') {
                    // var aksi = 'Batal';
                    var aksi ='<button  class="btn btn-sm btn-danger square"><i class="fa fa-times" disabled></i> Batal</button>'
                  } else {
                    var aksi ='<button  data-uuid="'+data+'" class="batal btn btn-sm btn-danger square"><i class="fa fa-times"></i> Batal</button>';
                    // var aksi = '<a href="#" id="batal" data-uuid="'+data+'">Batal</a>';
                  }
                }

                return aksi;
              }
            },
        ]
      });
      new $.fn.dataTable.FixedColumns(app.dt, {
          leftColumns: 2,
          heightMatch: 'auto'
      });
      $("div.dataTables_length").append(' <button id="resetFilterPenebusan" class="btn btn-sm btn-danger square"><i class="fa fa-times"></i> Reset Filter</button>');

      $(document).on("click", "#resetFilterPenebusan", function(e){
        e.preventDefault()
        app.resetStatus = true;
        $('#resetFilterPenebusan').prop('disabled', true);

        setTimeout(() => {
          app.resetStatus = false;
          $('#resetFilterPenebusan').prop('disabled', false);
        }, 1000)
      })
      $("#downloadTableExcel").on("click", function(e){
        e.preventDefault();
        $(".downloadTableExcel").trigger('click');
      })

      $(document).on("click", "#detailData", function(e){
        e.preventDefault()
        var id = $(this).data("id");
        var access = app.$route.params.access;
        app.$router.push({path: '/'+encodeURIComponent(access)+'/transaksi/order/detail/'+id});
      })

      $(document).on("click", ".batal", function(e){
        e.preventDefault();
        let uuid = $(this).data('uuid');
        app.confirm = true;
        app.deleteList.uuid = uuid;
        app.deleteList.confirm = true;
      })
    })
  },
  methods: {
    triggerModal() {
      this.deleteList.confirm = false;
      this.deleteList.uuid = null;
    },
    triggerModalPlafon() {
      this.modalPlafon = false;
    },
    isDelete(uuid) {
      var app = this;
      app.axios.put('order/status/'+uuid, {
        status: 'n'
      })
      .then((resp) => {
        toastr.success("Data Order berhasil dibatalkan", "Sukses");
        app.dt.draw();
      })
      .catch((resp) => {
        toastr.error("Data Order gagal dibatalkan", "Error");
        toastr.error(resp.response.data.message)
        // toastr.error(resp.response.data.error)
      })
    },
    searchTable(obj){
      this.penebusan = obj;
      this.validFrom(obj)
      this.validTo(obj)
      this.dt.draw();
    },
    toAdd(){
      var id = 'null';
      var access = this.$route.params.access;
      this.$router.push({path: '/'+encodeURIComponent(access)+'/transaksi/order/detail/'+id+'/step-1'});
    },
    cekPlafon(){
      this.modalPlafon = true;
    },
    moneyFormat(value) {
      return this.formatRupiah(value, "Rp. ")
    },
    formatRupiah(angka, prefix) {
      var separator;
      var number_string = angka.replace(/[^,\d]/g, '').toString(),
      split   		= number_string.split(','),
      sisa     		= split[0].length % 3,
      rupiah     		= split[0].substr(0, sisa),
      ribuan     		= split[0].substr(sisa).match(/\d{3}/gi);
      if(ribuan){
        separator = sisa ? '.' : '';
        rupiah += separator + ribuan.join('.');
      }
      rupiah = split[1] != undefined ? rupiah + ',' + split[1] : rupiah;
      return prefix == undefined ? rupiah : (rupiah ? 'Rp. ' + rupiah : '');
    },
    validFrom(obj) {
      if(obj.order_date && obj.order_date.from && obj.order_date.to) {
        this.penebusan.order_date = obj.order_date.from+';'+obj.order_date.to;
      } else if (obj.order_date && obj.order_date.certain) {
        this.penebusan.order_date = obj.order_date.certain;
      } else {
        this.penebusan.order_date = '';
      }
    },
    validTo(obj) {
      if(obj.created_at && obj.created_at.from && obj.created_at.to) {
        this.penebusan.created_at = obj.created_at.from+';'+obj.created_at.to;
      } else if (obj.created_at && obj.created_at.certain) {
        this.penebusan.created_at = obj.created_at.certain;
      } else {
        this.penebusan.created_at = '';
      }
    },
    download()
    {
      this.loadBtnDownload = true;
      this.axios({
        url: 'order/download',
        params: {
          uuid : this.penebusan.uuid,
          number : this.penebusan.number,
          sales_org_id : this.penebusan.sales_org_id,
          sales_org_name : this.penebusan.sales_org_name,
          contract_id : this.penebusan.contract_id,
          customer_id : this.penebusan.customer_id,
          customer_name : this.penebusan.customer_name,
          sales_office_id : this.penebusan.sales_office_id,
          sales_office_name : this.penebusan.sales_office_name,
          sales_group_id : this.penebusan.sales_group_id,
          sales_group_name : this.penebusan.sales_group_name,
          delivery_method_id : this.penebusan.delivery_method_id,
          delivery_method_name : this.penebusan.delivery_method_name,
          order_date : this.penebusan.order_date,
          payment_method_id : this.penebusan.payment_method_id,
          payment_method : this.penebusan.payment_method,
          desc : this.penebusan.desc,
          booking_code : this.penebusan.booking_code,
          total_price : this.penebusan.total_price,
          total_price_before_ppn : this.penebusan.total_price_before_ppn,
          upfront_payment : this.penebusan.upfront_payment,
          ppn : this.penebusan.ppn,
          pph22 : this.penebusan.pph22,
          billing_date : this.penebusan.billing_date,
          payment_due_date : this.penebusan.payment_due_date,
          bank_id : this.penebusan.bank_id,
          good_redemption_due_date : this.penebusan.good_redemption_due_date,
          df_due_date : this.penebusan.df_due_date,
          df_due_date_plan : this.penebusan.df_due_date_plan,
          pickup_due_date : this.penebusan.pickup_due_date,
          delivery_location : this.penebusan.delivery_location,
          so_number : this.penebusan.so_number,
          sap_status : this.penebusan.sap_status,
          billing_fulldate : this.penebusan.billing_fulldate,
          sap_product_desc : this.penebusan.sap_product_desc,
          sap_miscs : this.penebusan.sap_miscs,
          reference_code : this.penebusan.reference_code,
          flag : this.penebusan.flag,
          seq : this.penebusan.seq,
          approve_date : this.penebusan.approve_date,
          approve_type : this.penebusan.approve_type,
          status : this.penebusan.status,
          status_name : this.penebusan.status_name,
          created_by : this.penebusan.created_by,
          updated_by : this.penebusan.updated_by,
          updated_at : this.penebusan.updated_at,
          created_at : this.penebusan.created_at,
          created_name : this.penebusan.created_name
        },
        method: 'GET',
        responseType: 'blob', // important
      }).then((response) => {
         const url = window.URL.createObjectURL(new Blob([response.data]));
         const link = document.createElement('a');
         link.href = url;
         link.setAttribute('download', 'Download Monitoring Order.xls'); //or any other extension
         document.body.appendChild(link);
         link.click();
         this.loadBtnDownload = false;
      })
      .catch((resp) => {
        toastr.error("Gagal Download File", "Gagal") ;
        this.loadBtnDownload = false;      
      })
    }

  }
}
</script>

<style lang="css">
div.dt-buttons {
  float: right !important;
  display: none;
}
</style>
