<template lang="html">
  <div class="modal fade" id="formSpjbOperasional" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form @submit="submitSpjbOpr()">
          <div class="modal-header">
            <h4 class="modal-title">Form SPJB Operasional</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body">
            <div class="form-group row">
              <label class="col-md-4 label-control">No. SPJB</label>
              <div class="col-md-8">
                <input type="text" readonly class="form-control" v-model="temp.no_doc">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 label-control">Produsen</label>
              <div class="col-md-8">
                <multiselect
                  v-model="temp.produsen"
                  :options="get.produsen"
                  track-by="uuid" :custom-label="produsenNameWithId"
                  :searchable="true" :close-on-select="true"
                  :show-labels="false"
                  :placeholder="(loadingElement.produsen === false) ? 'Pilih Produsen..' : 'Memuat ..'"
                  :disabled="true"
                >
                </multiselect>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 label-control">Distributor</label>
              <div class="col-md-8">
                <multiselect
                  v-model="temp.distributor"
                  :options="get.distributor"
                  track-by="uuid" :custom-label="distributorWithName"
                  :searchable="true" :close-on-select="true"
                  :show-labels="false"
                  :placeholder="(loadingElement.distributor === false) ? 'Pilih Distributor..' : 'Memuat ..'"
                  :disabled="true"
                >
                </multiselect>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 label-control">Provinsi</label>
              <div class="col-md-8">
                <multiselect
                  v-model="temp.provinsi"
                  :options="get.provinsi"
                  track-by="uuid" :custom-label="provinsiNameWithId"
                  :searchable="true" :close-on-select="true"
                  :show-labels="false"
                  :placeholder="(loadingElement.provinsi === false) ? 'Pilih Provinsi..' : 'Memuat ..'"
                  :disabled="true"
                >
                </multiselect>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 label-control">Kabupaten</label>
              <div class="col-md-8">
                <multiselect
                  @input="getKecamatan"
                  v-model="temp.kabupaten"
                  :options="get.kabupaten"
                  track-by="uuid" :custom-label="kabupatenNameWithId"
                  :searchable="true" :close-on-select="true"
                  :show-labels="false"
                  :placeholder="(loadingElement.kabupaten === false) ? 'Pilih Kabupaten..' : 'Memuat ..'"
                >
                </multiselect>
                <p class="text-danger" v-if="error && errors.sales_group_id">{{errors.sales_group_id[0]}}</p>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 label-control">Kecamatan</label>
              <div class="col-md-8">
                <multiselect
                  v-model="temp.kecamatan"
                  :options="get.kecamatan"
                  track-by="uuid" :custom-label="kecamatanNameWithId"
                  :searchable="true" :close-on-select="true"
                  :show-labels="false"
                  :placeholder="(loadingElement.kecamatan === false) ? 'Pilih Kecamatan..' : 'Memuat ..'"
                >
                </multiselect>
                <p class="text-danger" v-if="error && errors.sales_unit_id">{{errors.sales_unit_id[0]}}</p>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 label-control">Tahun</label>
              <div class="col-md-8">
                <input type="number" min="1900" max="2099" step="1" v-model="send.year" class="form-control"
                :class="{'is-invalid' : error && errors.year}"
                >
                <p class="text-danger" v-if="error && errors.year">{{errors.year[0]}}</p>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 label-control">Bulan</label>
              <div class="col-md-8">
                <select class="form-control" v-model="send.month"
                :class="{'is-invalid' : error && errors.month}"
                >
                  <option value=null>Pilih Bulan</option>
                  <option v-for="(data, i) in months" :value="data.val">{{ data.val }} - {{ data.name }}</option>
                </select>
                <p class="text-danger" v-if="error && errors.month">{{errors.month[0]}}</p>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 label-control">Produk</label>
              <div class="col-md-8">
                <multiselect
                  v-model="temp.product"
                  :options="get.product"
                  track-by="uuid" :custom-label="productNameWithId"
                  :searchable="true" :close-on-select="true"
                  :show-labels="false"
                  :placeholder="(loadingElement.product === false) ? 'Pilih Produk..' : 'Memuat ..'"
                >
                </multiselect>
                <p class="text-danger" v-if="error && errors.product_id">{{errors.product_id[0]}}</p>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 label-control">QTY</label>
              <div class="col-md-8">
                <input type="number" v-model="send.initial_qty" class="form-control"
                :class="{'is-invalid' : error && errors.initial_qty}"
                >
                <p class="text-danger" v-if="error && errors.initial_qty">{{errors.initial_qty[0]}}</p>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
            <button type="submit" class="btn btn-primary">Simpan</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import Multiselect from 'vue-multiselect';
export default {
  props: ['sendAsProps'],
  data: function() {
    return {
      get: {
        produsen: [],
        distributor: [],
        provinsi: [],
        kabupaten: [],
        kecamatan: [],
        product: []
      },
      send: {
        contract_id: this.sendAsProps.id,
        sales_office_id: null,
        sales_group_id: null,
        sales_unit_id: null,
        product_id: null,
        month: null,
        year: null,
        initial_qty: null
      },
      temp:{
        no_doc: this.sendAsProps.no_doc,
        produsen: { id: this.sendAsProps.sales_org_id, name: this.sendAsProps.sales_org_name },
        distributor: { id: this.sendAsProps.customer_id, name: this.sendAsProps.sales_org_name },
        provinsi: { id: this.sendAsProps.sales_office_id, name: this.sendAsProps.sales_office_name },
        kabupaten: { id: this.sendAsProps.sales_group_id, name: this.sendAsProps.sales_group_name },
        kecamatan: { id: this.sendAsProps.sales_unit_id, name: this.sendAsProps.sales_unit_name },
        product: { id: this.sendAsProps.product_id, name: this.sendAsProps.product_name }
      },
      loadingElement: {
        produsen: false,
        distributor: false,
        provinsi: false,
        kabupaten: false,
        kecamatan: false,
        product: false,
      },
      error: false,
      errors: {},
      months: []
    }
  },
  components: {
    Multiselect
  },
  created() {
    this.getSpjbData();
    this.getProduct();
    this.getMonth();
    this.getKabupaten(this.temp.provinsi);

  },
  mounted() {
    var app = this;
    $("#formSpjbOperasional").modal("show");
    $("#formSpjbOperasional").on("hidden.bs.modal", function(){
      app.closeModal();
    });
  },
  methods: {
    closeModal() {
      this.$emit("trigger-modal", true);
    },

    // data spjb form
    getSpjbData() {
      this.axios.get('spjbopr/item/detail/'+this.sendAsProps.uuid)
      .then((resp) => {
        this.send = resp.data.data[0]
        this.send.month = parseInt(resp.data.data[0].month);
        this.temp.product = { id: this.sendAsProps.product_id, name: this.sendAsProps.product_name }
        this.temp.kabupaten = { id: this.sendAsProps.sales_group_id, name: this.sendAsProps.sales_group_name }
        this.getKecamatan(this.temp.kabupaten);
        this.temp.kecamatan = { id: this.sendAsProps.sales_unit_id, name: this.sendAsProps.sales_unit_name }
      })
      .catch((resp) => {
        toastr.error(resp.response.message, "Gagal")
        toastr.error(resp.response.errors, "Gagal")
      })
    },
    // end data spjb form

    // produsen
    produsenNameWithId ({id, name}) {
      return `${id} — ${name}`
    },
    // end produsen

    //distributor
    distributorWithName ({id, name}) {
      return `${id} — ${name}`
    },
    //end distributor

    // provinsi
    provinsiNameWithId ({id, name}) {
      return `${id} — ${name}`
    },
    // end provinsi

    // kabupaten
    kabupatenNameWithId ({id, name}) {
      return `${id} — ${name}`
    },
    getKabupaten(provinsi){
      this.temp.kabupaten = null;
      this.temp.kecamatan = null;
      this.send.sales_unit_id = null;
      this.get.kabupaten = [];
      this.get.kecamatan = [];
      this.loadingElement.kabupaten = true
      this.axios.get('region/kabupaten', {
        params: {
          provinsi: provinsi.id
        }
      })
      .then((resp) => {
        this.get.kabupaten = resp.data.data;
      })
      .catch((resp) => {
        toastr.error("Failed Load Kabupaten", "Load data");
      })
      .then((resp) => {this.loadingElement.kabupaten = false})
    },
    // end kabupaten

    //kecamatan
    kecamatanNameWithId ({id, name}) {
      return `${id} — ${name}`
    },
    getKecamatan(kabupaten){
      this.temp.kecamatan = null;
      this.get.kecamatan = [];
      this.loadingElement.kecamatan = true
      this.axios.get('region/kecamatan', {
        params: {
          kabupaten: kabupaten.id
        }
      })
      .then((resp) => {
        this.get.kecamatan = resp.data.data;
      })
      .catch((resp) => {
        toastr.error("Failed Load Kecamatan", "Load data");
      })
      .then((resp) => {this.loadingElement.kecamatan = false})
    },
    // end kecamatan

    // Bulan
    getMonth() {
      this.axios.get('../json/month.json')
      .then((resp) => {
        this.months = resp.data;
      })
      .catch((resp) => {
        toastr.error("Gagal load data bulan", "Error");
      })
    },
    // end bulan

    // product
    productNameWithId ({id, name}) {
      return `${id} — ${name}`
    },
    getProduct(){
      this.loadingElement.product = true;
      this.axios.get('product')
      .then((resp) => {
        this.get.product = resp.data.data;
      })
      .catch((resp) => {
        toastr.error(resp.data.message);
        console.log(resp);
      })
      .then((resp) => {
        this.loadingElement.product = false;
      })
    },
    // end product

    // set select option
    setSelectOption(){
      this.send.sales_office_id = (this.temp.provinsi === null) ? null : this.temp.provinsi.id;
      this.send.sales_group_id = (this.temp.kabupaten === null) ? null : this.temp.kabupaten.id;
      this.send.sales_unit_id = (this.temp.kecamatan === null) ? null : this.temp.kecamatan.id;
      this.send.product_id = (this.temp.product === null) ? null : this.temp.product.id;
    },
    // end set select option

    // submit
    submitSpjbOpr() {
      event.preventDefault();
      this.setSelectOption()
      this.axios.put('spjbopr/item/update/'+this.sendAsProps.uuid, this.send)
      .then((resp) => {
        $("#formSpjbOperasional").modal("hide");
        toastr.success("Data di simpan", "Sukses");
      })
      .catch((resp) => {
        this.error = true;
        this.errors = resp.response.data.message;
        if(resp.response.data.errors){
          toastr.error(resp.response.data.errors);  
        }
        toastr.error("Gagal", "Error");
      })
    }
    // end submit
  }
}
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style lang="css" scoped>
</style>
