<template lang="html">
  <div>
    <div class="modal fade" id="modalTableDetailSpjbOperasional" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Table Detail SPJB Operasional</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-12">
                <div class="pull-right">
                  <button v-if="access.A === true" :disabled="loading.changeStatus" type="button" class="btn btn-primary square" @click="action('n')">
                    <i v-if="loading.changeStatus" class="fa fa-spin fa-refresh"></i>
                    Deaktif
                  </button>
                  <!-- <button v-if="access.A === true" :disabled="loading.changeStatus" type="button" class="btn btn-primary square" @click="action('y')">
                    <i v-if="loading.changeStatus" class="fa fa-spin fa-refresh"></i>
                    Aktif
                  </button> -->
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <table id="tableDetailSpjbOperasional" class="table table-xs table-bordered table-striped display nowrap">
                  <thead>
                    <tr>
                      <th>
                        <fieldset>
                          <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input check_all_spjb_operasional" value="all">
                            <span class="custom-control-indicator"></span>
                          </label>
                        </fieldset>
                      </th>
                      <th>Produsen</th>
                      <th>Distributor</th>
                      <th>Provinsi</th>
                      <th>Kabupaten</th>
                      <th>Kecamatan</th>
                      <th>Tahun</th>
                      <th>Bulan</th>
                      <th>Produk</th>
                      <th>Alokasi</th>
                      <th>Status</th>
                      <th>Aksi</th>
                    </tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            
          </div>
        </div>
      </div>
    </div>
    <form-spjb-operasional
      v-if="formModal"
      @trigger-modal="triggerModal"
      :sendAsProps="sendAsProps"
    >
    </form-spjb-operasional>
  </div>
</template>

<script>
import Form from './Form';
export default {
  props: ['toTable', 'access'],
  data: function() {
    return {
      dt : null,
      sendAsProps: {},
      loading: {
        changeStatus: false
      },
      check: [],
      formModal: false,
      uuid: null
    }
  },
  components: {
    formSpjbOperasional: Form
  },
  mounted() {
    var app = this
    $("#modalTableDetailSpjbOperasional").modal("show");
    $("#modalTableDetailSpjbOperasional").on("hidden.bs.modal", function(){
      app.closeModal();
    });

    $(document).on("click", ".check_all_spjb_operasional", function(e){
      $('.check_list_spjb_operasional').not(this).prop('checked', this.checked);
      $('.check_list_spjb_operasional').not(this).each(function(index, el) {
        var value = {id: $(this).val()};
        if(this.checked){
          if(value != 'all' && !app.check.includes(value)){
            app.check.push(value);
          }
        } else {
          app.check = [];
        }
      });
    })

    $(document).on("click", "#check_spjb_operasional", function(e){
      var value = {id: $(this).val()};
      if(this.checked){
        app.check.push(value);
      } else {
        app.removeA(app.check, value.id);
      }
    })

    $(document).on("click", "#editDetailSpjbOperasional", function(e) {
      e.preventDefault();
      let id = $(this).data('id');
      let uuid = $(this).data('uuid');
      let no_doc = $(this).data('no_doc');
      let sales_office_name = $(this).data('sales_office_name');
      let sales_office_id = $(this).data('sales_office_id');
      let customer_name = $(this).data('customer_name');
      let customer_id = $(this).data('customer_id');
      let sales_org_name = $(this).data('sales_org_name');
      let sales_org_id = $(this).data('sales_org_id');
      let sales_group_id = $(this).data('sales_group_id');
      let sales_group_name = $(this).data('sales_group_name');
      let sales_unit_id = $(this).data('sales_unit_id');
      let sales_unit_name = $(this).data('sales_unit_name');
      let product_id = $(this).data('product_id');
      let product_name = $(this).data('product_name');
      app.sendAsProps = {
        id : id,
        uuid : uuid,
        no_doc : no_doc,
        sales_office_name : sales_office_name,
        sales_office_id : sales_office_id,
        customer_name : customer_name,
        customer_id : customer_id,
        sales_org_name : sales_org_name,
        sales_org_id : sales_org_id,
        sales_group_id: sales_group_id,
        sales_group_name: sales_group_name,
        sales_unit_id: sales_unit_id,
        sales_unit_name: sales_unit_name,
        product_id: product_id,
        product_name: product_name
      }
      app.formModal = true;
    })
    app.tableDetailSpjbOperasional();
  },
  methods: {
    numberFormat(value) {
      value = value.toString();
      return this.numberEngine(value)
    },
    numberEngine(n, c, d, t) {
      var c = isNaN(c = Math.abs(c)) ? 2 : c,
        d = d == undefined ? "," : d,
        t = t == undefined ? "." : t,
        s = n < 0 ? "-" : "",
        i = String(parseInt(n = Math.abs(Number(n) || 0).toFixed(c))),
        j = (j = i.length) > 3 ? j % 3 : 0;

      return s + (j ? i.substr(0, j) + t : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : "");
    },
    closeModal() {
      this.$emit("trigger-modal");
    },
    triggerModal() {
      this.formModal = false
      this.dt.draw();
      this.uuid = null;
      $("body").addClass('modal-open')
    },
    removeA(array, id) {
      var index = array.map(x => {
        return x.id;
      }).indexOf(id);
      array.splice(index, 1);
    },
    tableDetailSpjbOperasional() {
      var app = this;
      app.dt = $("#tableDetailSpjbOperasional").DataTable({
        processing: true,
        serverSide: true,
        searching: false,
        scrollX: "99.99%",
        lengthMenu: [
          [ 20, 50, 100, -1 ],
          [ '20 baris', '50 baris', '100 baris', 'Lihat Semua' ]
        ],
        ajax : {
          'url': '/api/spjbopr/item/'+app.$route.params.uuid,
          'type': 'GET',
          'beforeSend': function (request) {
              var token = localStorage.getItem("default_auth_token");
              request.setRequestHeader("Authorization", "Bearer "+token);
              request.setRequestHeader("lang",  localStorage.getItem('app-lang'));
          },
          data: function(d){}
        },
        "columnDefs": [
          { "orderable": false, "targets": 0 }
        ],
        columns :[
          {
            data: 'uuid',
            render: function(data, type, full) {
              const check = '<fieldset>'+
                              '<label class="custom-control custom-checkbox">'+
                                '<input type="checkbox" id="check_spjb_operasional" class="custom-control-input check_list_spjb_operasional" value="'+data+'">'+
                                '<span class="custom-control-indicator"></span>'+
                              '</label>'+
                            '</fieldset>';
              return check;
            }
          },
          {data: 'sales_org_name',name: 'sales_org_name'},
          {data: 'customer_name', name: 'customer_name'},
          {data: 'sales_office_name', name: 'sales_office_name'},
          {data: 'sales_group_name', name: 'sales_group_name'},
          {data: 'sales_unit_name', name: 'sales_unit_name'},
          {data: 'year', name: 'year'},
          {data: 'month', name: 'month'},
          {data: 'product_name', name: 'product_name'},
          {data: 'initial_qty', name: 'initial_qty', render: function(d,t,f){
            return app.numberFormat(d)
          }},
          {data: 'status_name', name: 'status_name'},
          {
            data: 'status_name',
            render: function(data, type, full) {
              let buttonEdit = '';
              if(data == 'Inactive'){
                buttonEdit = 'Edit';
              } else {
                buttonEdit = '<a href="#" data-uuid="'+full.uuid+'" '+
                             ' data-id="'+full.id+'" '+
                             ' data-no_doc="'+full.no_doc+'"'+
                             ' data-sales_office_name="'+full.sales_office_name+'" '+
                             ' data-sales_office_id="'+full.sales_office_id+'" '+
                             ' data-customer_name="'+full.customer_name+'" '+
                             ' data-customer_id="'+full.customer_id+'" '+
                             ' data-sales_org_name="'+full.sales_org_name+'" '+
                             ' data-sales_org_id="'+full.sales_org_id+'" '+
                             ' data-sales_unit_id="'+full.sales_unit_id+'" '+
                             ' data-sales_unit_name="'+full.sales_unit_name+'" '+
                             ' data-sales_group_id="'+full.sales_group_id+'" '+
                             ' data-sales_group_name="'+full.sales_group_name+'" '+
                             ' data-product_id="'+full.product_id+'" '+
                             ' data-product_name="'+full.product_name+'" '+
                             ' id="editDetailSpjbOperasional">Edit</a>';
              }
              return buttonEdit;
            }
          },
        ]
      });
      new $.fn.dataTable.FixedColumns(app.dt, {
          leftColumns: 1
      });
    },
    action(type) {
      event.preventDefault();
      this.loading.changeStatus = true;
      this.check = this.check.map(data => {
        return {id: data.id, status: type}
      })
      this.saveAction();
    },
    saveAction() {
      this.axios.post('spjbopr/item/update/bulk', this.check)
      .then((resp) => {
        toastr.success("Status berhasil di ubah", "Sukses")
        this.loading.changeStatus = false;
        this.dt.draw();
        this.check = [];
        $(".check_all_spjb_operasional").prop('checked', false);
      })
      .catch((resp) => {
        toastr.warning("Status gagal di ubah", "Gagal")
        toastr.error(resp.response.data.message, "Pesan")
        this.loading.changeStatus = false;
        this.dt.draw();
        this.check = [];
        $(".check_all_spjb_operasional").prop('checked', false);
      })
    },
  }
}
</script>

<style lang="css" scoped>
</style>
