<template>
    <tr class="filter">
        <th>

        </th>
        <th class="keltani-one">
            <input type="text" @keyup="search()" v-model="formSearch.sales_org_name" class="form-control form-control-md keltani_oneVal" v-bind:placeholder="$ml.get('farmerGroupPage.table.one')">
        </th>
        <th class="keltani-two">
            <input type="text" @keyup="search()" v-model="formSearch.sales_org_id" class="form-control form-control-md keltani_twoVal" v-bind:placeholder="$ml.get('farmerGroupPage.table.two')">
        </th>
        <th class="keltani-three">
            <input type="text" @keyup="search()" v-model="formSearch.name" class="form-control form-control-md keltani_threeVal" v-bind:placeholder="$ml.get('farmerGroupPage.table.three')">
        </th>
        <th>
            <input type="text" @keyup="search()" v-model="formSearch.retail_id" class="form-control form-control-md" v-bind:placeholder="$ml.get('farmerGroupPage.table.four')">
        </th>
        <th>
            <input type="text" @keyup="search()" v-model="formSearch.retail_name" class="form-control form-control-md" v-bind:placeholder="$ml.get('farmerGroupPage.table.five')">
        </th>
        <th>
            <filter-status :reset="reset" :checkedStatus="formSearch.status" @get-check="searchTable" :label="btnStatus" :list="statusSearch"></filter-status>
        </th>
        <th>
            <input type="text" @keyup="search()" v-model="formSearch.address" class="form-control form-control-md" v-bind:placeholder="$ml.get('farmerGroupPage.table.seven')">
        </th>
        <th>
            <provinsi :reset="reset" ref="filterProvComponent" @get-selected-prov="searchProv" />
        </th>
        <th>
            <kabupaten :sales_office="formSearch.sales_office_id" :reset="reset" ref="filterKabComponent" @get-selected-kab="searchKab" />
        </th>
        <th>
            <input type="text" @keyup="search()" v-model="formSearch.sales_unit_name" class="form-control form-control-md" v-bind:placeholder="$ml.get('farmerGroupPage.table.ten')">
        </th>
        <th>
            <input type="text" @keyup="search()" v-model="formSearch.village" class="form-control form-control-md" v-bind:placeholder="$ml.get('farmerGroupPage.table.eleven')">
        </th>
        <th>
            
        </th>
        <th>
            
        </th>
        <th>
            <input type="text" @keyup="search()" v-model="formSearch.qty_group" class="form-control form-control-md" v-bind:placeholder="$ml.get('farmerGroupPage.table.fourteen')">
        </th>
        <th>
            <input type="text" @keyup="search()" v-model="formSearch.longitude" class="form-control form-control-md" v-bind:placeholder="$ml.get('farmerGroupPage.table.fiveteen')">
        </th>
        <th>
            <di-buat :reset="reset" @get-date="getDateDibuat" :type="'di-buat'"></di-buat>
        </th>
        <th>
            <di-perbarui :reset="reset" @get-date="getDateDiperbarui" :type="'di-perbarui'"></di-perbarui>
        </th>
    </tr>
</template>

<script>
import Provinsi from '../../filter/Provinsi';
import Kabupaten from '../../filter/Kabupaten';
import Checklist from '../../filter/Checklist';
import Date from '../../filter/Date';

export default {
    props: ['reset'],
    data: function (){
        return {
             uriName: this.$auth.user().id+'_'+'search_'+this.$route.name,
             btnStatus: 'Search Status',
             statusSearch: [
                {name: 'Active', value: 'y'},
                {name: 'Inactive ', value: 'n'},
                {name: 'Suspend', value: 'p'},
                {name: 'Draft', value: 'd'},
                {name: 'Submitted', value: 's'}
             ],
             formSearch :{
                sales_org_name:'',
                sales_org_id:'',
                name:'',
                retail_id:'',
                retail_name:'',
                status:'',
                address:'',
                sales_office_name:'',
                sales_group_name:'',
                sales_office_id:'',
                sales_group_id:'',
                sales_unit_name:'',
                village:'',
                qty_group:'',
                longitude:'',
                created_at:'',
                updated_at:''
            }

        }
    },
    mounted() {
        var app = this;
        const getLocalSearch = JSON.parse(localStorage.getItem(app.uriName));

        setTimeout(() => {
            if (getLocalSearch !== null) {
                app.formSearch = getLocalSearch;
                $(".keltani_oneVal").val(app.formSearch.sales_org_name);
                $(".keltani_twoVal").val(app.formSearch.sales_org_id);
                $(".keltani_threeVal").val(app.formSearch.name);
                app.$emit("filter-table", app.formSearch);
            }
        },1000)
        $(document).ready(function() {
            $(document).on('keyup','.keltani_oneVal',function(){
                app.formSearch.sales_org_name=$(this).val();
                app.search();
            });

            $(document).on('keyup','.keltani_twoVal',function(){
                app.formSearch.sales_org_id=$(this).val();
                app.search();
            });

            $(document).on('keyup','.keltani_threeVal',function(){
                app.formSearch.name=$(this).val();
                app.search();
            });

        });
    },
    components:{
        Provinsi,
        Kabupaten,
        FilterStatus:Checklist,
        DiBuat: Date,
        DiPerbarui: Date,
    },
    watch: {
		reset: function(val){
			if(val === true) {
				this.resetFilter();
			}
		}
	},
    methods: {
        getDateDibuat(date = '') {
            if (date != '') {
                this.formSearch.created_at = {
                certain: (date.name === 'di-buat' && date.dateType === 'certain') && date.data.from,
                from: (date.name === 'di-buat' && date.dateType === 'range') && date.data.from,
                to: (date.name === 'di-buat' && date.dateType === 'range') && date.data.to
                }
            } else {
                this.search.created_at = ''
            }
            this.search();
        },
        getDateDiperbarui(date = '') {
            if (date != '') {
                this.formSearch.updated_at = {
                certain: (date.name === 'di-perbarui' && date.dateType === 'certain') && date.data.from,
                from: (date.name === 'di-perbarui' && date.dateType === 'range') && date.data.from,
                to: (date.name === 'di-perbarui' && date.dateType === 'range') && date.data.to
                }
            } else {
                this.search.updated_at = ''
            }
            this.search();
        },
        searchTable(obj) {
            var status = obj.join(';');
            this.formSearch.status = status;
            this.search();
        },
        search() {
            event.preventDefault();
            localStorage.setItem(this.uriName, JSON.stringify(this.formSearch));
            this.$emit("filter-table", this.formSearch);
        },
        searchProv(dataProv) {
            var arr = dataProv.map(data => {
                return data.id;
            })
            var sales_office = arr.join(";");
            this.formSearch.sales_office_id = sales_office;
            // this.$refs.filterKabComponent.getKabupaten(sales_office);
            this.search();
        },
        searchKab(dataKab) {
            var arr = dataKab.map(data => {
                return data.id;
            })
            var sales_group = arr.join(";");
            this.formSearch.sales_group_id = sales_group;
            // this.$refs.filterKabComponent.getKabupaten(sales_group);
            this.search();
        },
        resetFilter(){
            this.clearFilter(this.$route.name, this.formSearch);
            
            $( ".keltani-one" ).html( '<input type="text" class="form-control form-control-md keltani_oneVal" />' );
            $( ".keltani-two" ).html( '<input type="text" class="form-control form-control-md keltani_twoVal" />' );
            $( ".keltani-three" ).html( '<input type="text" class="form-control form-control-md keltani_threeVal" />' );
            $(".keltani_oneVal").val(this.formSearch.sales_org_name);
            $(".keltani_twoVal").val(this.formSearch.sales_org_id);
            $(".keltani_threeVal").val(this.formSearch.name);
            this.search();
        }
    },
}
</script>

<style lang="css">

</style>
