<template>
  <div>
    <div class="modal fade" id="retailUpload" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Upload data</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="">Upload Data Pengecer</label>
              <input type="file" ref="file" class="form-control" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" @change="handleFileUpload()">
              <p class="help-block">File harus berformat xlsx</p>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Tutup</button>
            <button type="button" class="btn btn-outline-primary" :disabled="loading" @click="upload()">
              <i v-if="loading" class="fa fa-spin fa-refresh"></i>
              Upload
            </button>
           </div>
         </div>
       </div>
     </div>
     <form-upload v-if="showFormUpload" @trigger-modal="triggerModal" :type="modalType" :retails="dataUpload"></form-upload>
  </div>
</template>

<script>
import formUpload from './formUpload';
export default {
  data: function(){
    return {
      showFormUpload: false,
      excelFile: '',
      file: '',
      loading: false,
      dataUpload: [],
      error: false,
      modalType: null
    }
  },
  created() {
    axios.interceptors.request.use((config) => {
      this.loading = true;
      return config;
    }, (error) => {
      this.loading = false;
      return Promise.reject(error);
    });

    axios.interceptors.response.use((response) => {
      this.loading = false;
      return response;
    }, (error) => {
      this.loading = false;
      return Promise.reject(error);
    });
  },
  mounted(){
    var app = this;
    $("#retailUpload").modal("show");
    $('#retailUpload').on('hidden.bs.modal', function () {
      app.closeModal();
    })
  },
  components:{
    formUpload
  },
  methods:{
    closeModal() {
      this.$emit("trigger-modal", "RefreshTable");
    },
    uploadSave() {
      event.preventDefault();
      let app = this;
      let formData = new FormData();
      formData.append('file', this.excelFile);
      axios.post("retail/bulk", formData, {headers : {'Content-Type' : 'multipart/form-data'}})
      .then((resp) => {
        toastr.success('Succes Uploaded', 'Import excel');
        $("#retailUpload").modal("hide");
        this.error = false;
      })
      .catch((resp) => {
        toastr.error('Error Uploaded', 'Import excel');
        console.log(resp);
        this.dataUpload = resp.response.data.data;
        this.showFormUpload = true;
        this.error = true;
      })
      .then((resp) => { this.modalType = 'validate'})
    },
    upload() {
      event.preventDefault();
      let app = this;
      let formData = new FormData();
      formData.append('file', this.excelFile);
      axios.post("retail/upload", formData, {headers : {'Content-Type' : 'multipart/form-data'}})
      .then((resp) => {
        toastr.success('Succes Uploaded', 'Import excel');
        this.dataUpload = resp.data.data;
        this.showFormUpload = true;
      })
      .catch((resp) => {
        toastr.error('Error Uploaded', 'Import excel');
        console.log(resp);
      })
      .then((resp) => { this.modalType = 'form'})
    },
    triggerModal() {
      this.showFormUpload = false;
      $("#retailUpload").modal("hide");
    },
    handleFileUpload(){
      this.excelFile = this.$refs.file.files[0];
      this.file = this;
    },
    checkfile(sender) {
        var validExts = new Array(".xlsx", ".xls");
        var fileExt = sender.value;
        fileExt = fileExt.substring(fileExt.lastIndexOf('.'));
        if (validExts.indexOf(fileExt) < 0) {
          alert("Invalid file selected, valid files are of " +
                   validExts.toString() + " types.");
          return false;
        }
        else return true;
    }
  }
}
</script>

<style lang="css">
</style>
