<template>
  <div class="modal fade" id="rangeCreated" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <form @submit="searchRange">
          <div class="modal-header">
            <h4 class="modal-title" id="">{{$ml.get("global.filter.modal.date.titleOne")}}</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="">{{$ml.get("global.filter.modal.form.labelFrom")}}</label>
                  <input type="text" class="form-control datepicker-range-from" readonly />
                </div>
                <div class="form-group">
                  <label for="">{{$ml.get("global.filter.modal.form.labelTo")}}</label>
                  <input type="text" class="form-control datepicker-range-to" readonly />
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">{{$ml.get("global.filter.modal.form.labelClose")}}</button>
            <button type="submit" class="btn btn-outline-primary">{{$ml.get("global.filter.modal.form.labelSearch")}}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data: function(){
    return {
      from: '',
      to: ''
    }
  },
  mounted() {
    var app = this;
		$("#rangeCreated").modal("show");
		$(".datepicker-range-from").datepicker({
				format: "yyyy",
				viewMode: "years", 
				minViewMode: "years",
				autoclose: true,
				orientation: "auto bottom",
		})
		.on("change", function() {
				app.from = this.value;
		});

		$(".datepicker-range-to").datepicker({
				format: "yyyy",
				viewMode: "years", 
				minViewMode: "years",
				autoclose: true,
				orientation: "auto bottom",
		})
		.on("change", function() {
				app.to = this.value;
		});

    $('#rangeCreated').on('hidden.bs.modal', function () {
      app.closeModal();
    })
  },
  methods: {
    searchRange() {
      event.preventDefault();
      $("#rangeCreated").modal("hide");
      const send = {
        dateType: 'range',
        data: {
          from: this.from,
          to: this.to
        }
      }
      this.$emit("search", send);
    },
    closeModal() {
      this.$emit("trigger");
    }
  }
}
</script>

<style lang="css">
</style>
