<template>
  <div>
    <div class="modal fade" id="farmerUpload" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Upload data</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="">Upload Data Petani</label>
              <input type="file" ref="file" class="form-control" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" @change="handleFileUpload()">
              <p class="help-block">File harus berformat xlsx</p>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Tutup</button>
            <button type="button" class="btn btn-outline-primary" :disabled="loading" @click="upload()">
              <i v-if="loading" class="fa fa-spin fa-refresh"></i>
              Upload
            </button>
           </div>
         </div>
       </div>
     </div>
     <form-upload v-if="showFormUpload" @trigger-modal="triggerModal" :petani="dataUpload"></form-upload>
  </div>
</template>

<script>
import formUpload from './PetaniUploadForm';
export default {
  data: function(){
    return {
      showFormUpload: false,
      excelFile: '',
      file: '',
      loading: false,
      dataUpload: [],
      error: false,
      modalType: null
    }
  },
  created() {
    axios.interceptors.request.use((config) => {
      this.loading = true;
      return config;
    }, (error) => {
      this.loading = false;
      return Promise.reject(error);
    });

    axios.interceptors.response.use((response) => {
      this.loading = false;
      return response;
    }, (error) => {
      this.loading = false;
      return Promise.reject(error);
    });
  },
  mounted(){
    var app = this;
    $("#farmerUpload").modal("show");
    $('#farmerUpload').on('hidden.bs.modal', function () {
      app.closeModal();
    })
  },
  components:{
    formUpload
  },
  methods:{
    closeModal() {
      this.$emit("trigger-modal");
    },
    triggerModal() {
      this.showFormUpload = false;
      $("#farmerUpload").modal("hide");
    },
    handleFileUpload(){
      this.excelFile = this.$refs.file.files[0];
      this.file = this;
    },
    upload() {
      event.preventDefault();
      let app = this;
      let formData = new FormData();
      formData.append('file', this.excelFile);
      axios.post("farmer/upload", formData, {headers : {'Content-Type' : 'multipart/form-data'}})
      .then((resp) => {
        toastr.success('Succes Uploaded', 'Import excel');
        this.dataUpload = resp.data.data;
        this.showFormUpload = true;
      })
      .catch((resp) => {
        toastr.error('Error Uploaded', 'Import excel');
        let msg = resp.response.data.message;
        if (msg) {
          const sales_unit_id = (msg.sales_unit_id[0]) ? '<li>'+msg.sales_unit_id[0]+'</li>' : '';
          toastr.error(
            '<ul>'+
              sales_unit_id+
            '</ul>',
            'Gagal'
          )
        }
      })
      .then((resp) => {

      })
    },
  }
}
</script>

<style lang="css">
</style>
