<template lang="html">
  <tr class="filter">
    <th></th>
    <th class="petani-id">
      <input type="text"
      v-model="petani.sales_org_name"
      class="form-control form-control-md petani_idVal">
    </th>
    <th class="petani-full-name">
      <input type="text"
      v-model="petani.code"
      class="form-control form-control-md petani_full_nameVal">
    </th>
    <th>
      <input type="text"
      v-model="petani.name"
      v-on:keyup="search()"
      class="form-control form-control-md">
    </th>
    <th>
      <filter-status :reset="reset" :checkedStatus="petani.status" @get-check="searchTable" :label="btnStatus" :list="statusSearch"></filter-status>
    </th>
    <th>
      <input type="text"
      v-model="petani.address"
      v-on:keyup="search()"
      class="form-control form-control-md">
    </th>
    <th>
      <provinsi :reset="reset" ref="filterProvComponent" @get-selected-prov="searchProv" />
    </th>
    <th>
      <kabupaten :sales_office="petani.sales_office_id" :reset="reset" ref="filterKabComponent" @get-selected-kab="searchKab" />
    </th>
    <th>
      <input type="text"
      v-model="petani.sales_unit_name"
      v-on:keyup="search()"
      class="form-control form-control-md">
    </th>
    <th>
      <input type="text"
      v-model="petani.village"
      v-on:keyup="search()"
      class="form-control form-control-md">
    </th>
    <th>
      <input type="text"
      v-model="petani.telp_no"
      v-on:keyup="search()"
      class="form-control form-control-md">
    </th>

    <th>
      <input type="text"
      v-model="petani.hp_no"
      v-on:keyup="search()"
      class="form-control form-control-md">
    </th>
    <th>
      <input type="text"
      v-model="petani.land_area"
      v-on:keyup="search()"
      class="form-control form-control-md">
    </th>
    <th>
      <input type="text"
      v-model="petani.commodity_id"
      v-on:keyup="search()"
      class="form-control form-control-md">
    </th>
    <th>
      <input type="text"
      v-model="petani.ktp_no"
      v-on:keyup="search()"
      class="form-control form-control-md">
    </th>
    <th>
      <di-buat :reset="reset" @get-date="getDateDibuat" :type="'di-buat'"></di-buat>
    </th>
    <th>
      <di-perbarui :reset="reset" @get-date="getDateDiperbarui" :type="'di-perbarui'"></di-perbarui>
    </th>
  </tr>
</template>
<script>
import Checklist from '../../filter/Checklist';
import Provinsi from '../../filter/Provinsi';
import Kabupaten from '../../filter/Kabupaten';
import Date from '../../filter/Date';

export default {
  props: ['reset'],
  data: function() {
    return {
      uriName: this.$auth.user().id+'_'+'search_'+this.$route.name,
      btnStatus: 'Filter Status',
      statusSearch: [
        {name: 'Active', value: 'y'},
        {name: 'Inactive ', value: 'n'},
        {name: 'Suspend', value: 'p'},
        {name: 'Draft', value: 'd'},
        {name: 'Submitted', value: 's'}
      ],
      petani: {
        uuid: '',
        sales_org_name: '',
        code: '',
        name: '',
        status: '',
        address: '',
        sales_office_name: '',
        sales_office_id: '',
        sales_group_name: '',
        sales_group_id: '',
        sales_unit_name: '',
        village: '',
        telp_no: '',
        hp_no: '',
        land_area: '',
        commodity_id: '',
        ktp_no: '',
        created_at: '',
        updated_at: '',
      }
    }
  },
  watch: {
		reset: function(val){
			if(val === true) {
				this.resetFilter();
			}
		}
	},
  mounted() {
    var app = this;
    const getLocalSearch = JSON.parse(localStorage.getItem(app.uriName));

    setTimeout(() => {
        if (getLocalSearch !== null) {
            app.petani = getLocalSearch;
            $(".petani_idVal").val(app.petani.sales_org_name);
            $(".petani_full_nameVal").val(app.petani.code);
            app.$emit("search-table", app.petani);
        }
    },1000)
    $(document).ready(function() {

    });
    $(document).on("keyup", ".petani_idVal", function(){
      app.petani.sales_org_name = $(this).val();
      app.search();
    })
    $(document).on("keyup", ".petani_full_nameVal", function(){
      app.petani.code = $(this).val();
      app.search();
    })
  },
  components: {
    FilterStatus: Checklist,
    Provinsi, Kabupaten, 
    DiBuat: Date,
    DiPerbarui: Date,
  },
  methods: {
    getDateDibuat(date = '') {
        if (date != '') {
            this.petani.created_at = {
            certain: (date.name === 'di-buat' && date.dateType === 'certain') && date.data.from,
            from: (date.name === 'di-buat' && date.dateType === 'range') && date.data.from,
            to: (date.name === 'di-buat' && date.dateType === 'range') && date.data.to
            }
        } else {
            this.petani.created_at = ''
        }
        this.search();
    },
    getDateDiperbarui(date = '') {
        if (date != '') {
            this.petani.updated_at = {
            certain: (date.name === 'di-perbarui' && date.dateType === 'certain') && date.data.from,
            from: (date.name === 'di-perbarui' && date.dateType === 'range') && date.data.from,
            to: (date.name === 'di-perbarui' && date.dateType === 'range') && date.data.to
            }
        } else {
            this.petani.updated_at = ''
        }
        this.search();
    },
    searchTable(obj) {
      var status = obj.join(';');
      this.petani.status = status;
      this.search();
    },
    search() {
      event.preventDefault();
      localStorage.setItem(this.uriName, JSON.stringify(this.petani));
      this.$emit("search-table", this.petani);
    },
    searchProv(dataProv) {
        var arr = dataProv.map(data => {
            return data.id;
        })
        var sales_office = arr.join(";");
        this.petani.sales_office_id = sales_office;
        this.$refs.filterKabComponent.getKabupaten(sales_office);
        this.search();
    },
    searchKab(dataKab) {
        var arr = dataKab.map(data => {
            return data.id;
        })
        var sales_group = arr.join(";");
        this.petani.sales_group_id = sales_group;
        // this.$refs.filterKabComponent.getKabupaten(sales_group);
        this.search();
    },
    resetFilter(){
        this.clearFilter(this.$route.name, this.petani);

        $( ".petani-id" ).html( '<input type="text"  class="form-control form-control-md petani_idVal" />' );
        $( ".petani-full-name" ).html( '<input type="text" class="form-control form-control-md petani_full_nameVal" />' );
        $(".petani_idVal").val(this.petani.sales_org_name);
        $(".petani_full_nameVal").val(this.petani.code);
        this.search();
    }
  }
}
</script>

<style lang="css">
  .button-filter {
    margin-bottom: 20px;
  }
</style>
