<template lang="html">
  <div class="content-body">
    <section class="row">
      <div class="col-sm-12">
        <div id="kick-start" class="card">
          <div class="card-content collapse show">
            <div class="card-body">
              <div class="row">
                <div class="col-md-12">
                  <div class="pull-right">
                    <button v-if="access.C === true" type="button" class="btn btn-primary square" v-on:click="uploadFile"> <i class="fa fa-upload"></i>
                        {{ $ml.get("global.form.labelUpload") }}
                    </button>
                    <button v-if="access.C === true" @click="modalForm = !modalForm" type="button" class="btn btn-primary square" > <i class="fa fa-plus"></i>
                        {{ $ml.get("global.form.labelAdd") }}
                    </button>
                    <a href="template-excel/petani/Template_Petani_a.xlsx" class="btn btn-primary square" target="_blank" ><i class="fa fa-download"></i> Download Template</a>
                    <a href="template-excel/kode-wilayah.xlsx" class="btn btn-primary square" target="_blank" ><i class="fa fa-download"></i> Download Kode Wilayah</a>
                    <button  type="button" class="btn btn-primary square" :disabled="loadBtnDownload" v-on:click="handle"> <i class="fa fa-download"></i>
                        Download
                    </button>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <table id="petaniTable" class="table table-xs table-bordered table-striped display nowrap">
                    <thead>
                      <petani-filter :reset="resetStatus" ref="filterComponent" @search-table="searchTable"> </petani-filter>
                      <tr>
                        <th>
                          <fieldset>
                            <fieldset>
                              <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input check_all" value="all">
                                <span class="custom-control-indicator"></span>
                              </label>
                            </fieldset>
                          </fieldset>
                        </th>
                        <th>{{ $ml.get("petaniMasterPage.table.one") }}</th>
                        <th>{{ $ml.get("petaniMasterPage.table.two") }}</th>
                        <th>{{ $ml.get("petaniMasterPage.table.three") }}</th>
                        <th>{{ $ml.get("petaniMasterPage.table.four") }}</th>
                        <th>{{ $ml.get("petaniMasterPage.table.five") }}</th>
                        <th>{{ $ml.get("petaniMasterPage.table.six") }}</th>
                        <th>{{ $ml.get("petaniMasterPage.table.seven") }}</th>
                        <th>{{ $ml.get("petaniMasterPage.table.eight") }}</th>
                        <th>{{ $ml.get("petaniMasterPage.table.nine") }}</th>
                        <th>{{ $ml.get("petaniMasterPage.table.ten") }}</th>
                        <th>{{ $ml.get("petaniMasterPage.table.eleven") }}</th>
                        <th>{{ $ml.get("petaniMasterPage.table.twelve") }}</th>
                        <th>{{ $ml.get("petaniMasterPage.table.thirteen") }}</th>
                        <th>{{ $ml.get("petaniMasterPage.table.fourteen") }}</th>
                        <th>{{ $ml.get("petaniMasterPage.table.fiveteen") }}</th>
                        <th>{{ $ml.get("petaniMasterPage.table.sixteen") }}</th>
                      </tr>
                    </thead>
                    <tbody>
                    </tbody>
                  </table>
                </div>
              </div>

              <div class="scroll-top" v-if="access.A === true">
                <div class="col-md-12">
                  <div class="btn-group mr-1 mb-1 pull-right dropup">
                    <button type="button" :disabled="loading.changeStatus" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i v-if="loading.changeStatus" class="fa fa-spin fa-refresh"></i>
                      Aksi
                      <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" @click="action('s')" href="#">Submit</a>
                      <a class="dropdown-item" @click="action('d')" href="#">Unsubmit</a>
                      <a class="dropdown-item" @click="action('y')" href="#">Approve</a>
                      <a class="dropdown-item" @click="action('n')" href="#">Unapprove</a>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
        <petani-modal :access="access" v-if="modalForm" :statusinfoumum="infoumumForm" :getid="dataid" :getarr="dt" @trigger-modal="triggerModal"></petani-modal>
        <farmer-upload v-if="modalUpload" @trigger-modal="triggerModal">
        </farmer-upload>
    </section>
  </div>
</template>


<script>
import PetaniFilter from './PetaniFilter';
import PetaniModal from './PetaniModal';
import FarmerUpload from './FarmerUpload';
// import DateIndo from '../../../helpers/date';

export default {
  data: function(){
    return {
      modalForm : false,
      loadBtnDownload : false,
      modalUpload : false,
      infoumumForm : true,
      resetStatus : false,
      dt: '',
      dataid: null,
      dataarr: '',
      access: {},
      loading:{
        changeStatus: false
      },
      check: [],
      petani: {}
    }
  },
  components: {
    PetaniFilter,
    PetaniModal,
    FarmerUpload,
  },
  created() {
    const encodeAccess = decodeURIComponent(this.$route.params.access);
    const decodeAccess = this.toText(this.decrypt(encodeAccess));
    const arrAccess = decodeAccess.split(",");
    if(arrAccess) {
      arrAccess.map((data) => {
        if(data === 'C' || data === 'R' || data === 'U' || data === 'D' || data === 'A') {
          this.access[data] = true
        } else {
          this.$router.push({path: '/home'});
          toastr.error('Permission can not open this page', 'Error');
        }
      })
    } else {
      this.$router.push({path: '/home'});
      toastr.error('Permission can not open this page', 'Error');
    }
  },
  mounted(){
    // console.log(this.DateIndo('01-02-2019'));
    var app = this;
    var idx = (app.$route.params.id != undefined) ? '/cust_id/'+app.$route.params.id : '';
    $(document).ready(function() {
      app.dt = $('#petaniTable').DataTable({
        processing: true,
        serverSide: true,
        searching: false,
        "scrollX": true,
        "scrollCollapse": true,
        "scrollY":   "50vh",
        order: [[ 2, 'desc' ]],
        lengthMenu: [
          [ 20, 50, 100, -1 ],
          [ '20 baris', '50 baris', '100 baris', 'Lihat Semua' ]
        ],
        "dom": 'Bltrip',
        "buttons": [
          {
            extend: 'excel',
            className: 'btn-danger square mb-1 downloadPetaniExcel',
            text: "Download Pengecer ke Excel"
          }
        ],
        ajax:{
          'url': 'api/farmer'+idx,
          'type': 'GET',
          'data': function(d){
            d.id = app.petani.id,
            d.uuid = app.petani.uuid,
            d.name = app.petani.name,
            d.code = app.petani.code,
            d.farmer_group_id = app.petani.farmer_group_id,
            d.farmer_group_name = app.petani.farmer_group_name,
            d.address = app.petani.address,
            d.sales_unit_id = app.petani.sales_unit_id,
            d.telp_no = app.petani.telp_no,
            d.ktp_no = app.petani.ktp_no,
            d.ktp_valid_date = app.petani.ktp_valid_date,
            d.village = app.petani.village,
            d.sub_sector_id = app.petani.sub_sector_id,
            d.commodity_id = app.petani.commodity_id,
            d.land_area = app.petani.land_area,
            d.latitude = app.petani.latitude,
            d.longitude = app.petani.longitude,
            d.retail_name = app.petani.retail_name,
            d.sales_unit_name = app.petani.sales_unit_name,
            d.sales_org_id = app.petani.sales_org_id,
            d.sales_org_name = app.petani.sales_org_name,
            d.sales_group_id = app.petani.sales_group_id,
            d.sales_group_name = app.petani.sales_group_name,
            d.sales_office_id = app.petani.sales_office_id,
            d.sales_office_name = app.petani.sales_office_name,
            d.status = app.petani.status,
            d.status_name = app.petani.status_name,
            d.created_at = app.petani.created_at,
            d.updated_at = app.petani.updated_at
          },
          'beforeSend': function (request) {
              var token = localStorage.getItem("default_auth_token");
              request.setRequestHeader("Authorization", "Bearer "+token);
              request.setRequestHeader("lang",  localStorage.getItem('app-lang'));
          }
        },
        "columnDefs": [
           { "orderable": false, "targets": 0 }
        ],
        columns: [
            {
              data: 'uuid',
              render:function(data,t,f) {
                const check = '<fieldset>'+
                                '<label class="custom-control custom-checkbox">'+
                                  '<input type="checkbox" id="check" class="custom-control-input check_box_table" value="'+data+'">'+
                                  '<span class="custom-control-indicator"></span>'+
                                '</label>'+
                              '</fieldset>';
                return check;
              }
            },
            {data: 'sales_org_name', name: 'sales_org_name'},
            {data: 'code', name: 'code'},
            {
              data: 'name',
              render : function(data, type, full, meta){
                return '<a href="#" id="openformModal" data-id="'+full.uuid+'" data-infoumum="true" data-arr="'+full.uuid+'">'+data+'</a>';
              }
            },
            {data: 'status_name', name: 'status_name'},
            {data: 'address', name: 'address'},
            {data: 'sales_office_name', name: 'sales_office_name'},
            {data: 'sales_group_name', name: 'sales_group_name'},
            {data: 'sales_unit_name', name: 'sales_unit_name'},
            {data: 'village', name: 'village'},
            {data: 'telp_no', name: 'telp_no'},
            {data: 'telp_no', name: 'telp_no'},
            {
              data: 'land_area',
              render : function(data, type, full){
                return parseFloat(data);
              }
            },
            {
              data: 'commodity_id',
              render : function(data, type, full){
                return '<a href="#" id="openformModal" data-id="'+full.uuid+'" data-infoumum="false">Lihat</a>';
              }
            },
            {data: 'ktp_no', name: 'ktp_no'},
            {
              data: 'created_at',
              render : function(data, type, full){
                return app.convertDate(data);
              }
            },
            {
              data: 'updated_at',
              render : function(data, type, full){
                return app.convertDate(data);
              }
            },
            // {data: 'created_at', name: 'created_at'},
            // {data: 'updated_at', name: 'updated_at'},
        ]
      });
      new $.fn.dataTable.FixedColumns(app.dt, {
          leftColumns: 2,
          heightMatch: 'auto'
      });
      $("div.dataTables_length").append(' <button id="resetFilterPetani" class="btn btn-sm btn-danger square"><i class="fa fa-times"></i> Reset Filter</button>');
    
      $(document).on("click", "#resetFilterPetani", function(e){
        e.preventDefault()
        app.resetStatus = true;
        $('#resetFilterPetani').prop('disabled', true);
        setTimeout(() => {
          app.resetStatus = false;
          $('#resetFilterPetani').prop('disabled', false);
        }, 1000)
      })
      $(document).on('change','.checks',function(){
          if($('.checks').is( ":checked" )===true){
              $('.check').prop('checked',true);
          }else{
              $('.check').prop('checked',false);
          }
      });
      $(document).on('change','.check',function(){
           $('.checks').prop('checked',false);
      });

      $("#downloadPetaniExcel").on("click", function(e){
        e.preventDefault();
        $(".downloadPetaniExcel").trigger('click');
      })

      $(document).on("click", "#openformModal", function(e){
        e.preventDefault()
        var id = $(this).data("id");
        var infoumum = $(this).data("infoumum");
        var data_arr = $(this).data("arr");
        app.dataid = id;
        app.modalForm = !app.modalForm;
        app.infoumumForm = infoumum;
        // app.dataarr = data_arr;
        // var rows = app.dt.row( this ).data();;
        // console.log("rows");
        // console.log(rows);
        // app.dataarr = rows;
      })

      $(document).on("click", ".check_all", function(e){
        $('.check_box_table').not(this).prop('checked', this.checked);
        $('.check_box_table').not(this).each(function(index, el) {
          var value = {id: $(this).val()};
          if(this.checked){
            if(value != 'all' && !app.check.includes(value)){
              app.check.push(value);
            }
          } else {
            app.check = [];
          }
        });
      })

      $(document).on("click", "#check", function(e){
        var value = {id: $(this).val()};
        if(this.checked){
          app.check.push(value);
        } else {
          app.removeA(app.check, value.id);
        }
      })

    })

  },
  methods: {
    action(type) {
      event.preventDefault();
      if(this.check.length != 0) {
        this.loading.changeStatus = true;
        this.check = this.check.map(data => {
          return {uuid: data.id, status: type}
        })
        this.saveAction();
      } else {
        toastr.warning("Silahakan Pilih Data terlebih dahulu", "Warning")
      }
    },
    saveAction(){
      this.axios.post('farmer/update/bulk', this.check)
      .then((resp) => {
        toastr.success("Status berhasil di ubah", "Sukses")
        this.dt.draw();
      })
      .catch((resp) => {
        toastr.warning("Status gagal di ubah", "Gagal")
        toastr.error(resp.message, "Pesan")
      })
      .then((resp) => {
        this.loading.changeStatus = false;
        this.check = [];
        $(".check_all").prop('checked', false);
      })
    },
    removeA(array, id) {
      var index = array.map(x => {
        return x.id;
      }).indexOf(id);
      array.splice(index, 1);
    },
    searchTable(obj){
      this.petani = obj;
      this.validateDateDibuat(obj);
      this.validateDateDiperbarui(obj);
      this.dt.draw();
    },
    addModal(){
        var app = this;
        $("#addModalFarmer").modal("show");
    },
    uploadFile (){
      this.modalUpload = true;
      // $('#farmerUpload').modal('show');
    },
    handle(){
      this.loadBtnDownload = true;
      this.axios({
        url: 'farmer/download',
        params: {
          customer_uuid: (this.$route.params.id != undefined) ? this.$route.params.id : '',
          id: this.petani.id,
          uuid: this.petani.uuid,
          name: this.petani.name,
          code: this.petani.code,
          farmer_group_id: this.petani.farmer_group_id,
          farmer_group_name: this.petani.farmer_group_name,
          address: this.petani.address,
          sales_unit_id: this.petani.sales_unit_id,
          telp_no: this.petani.telp_no,
          ktp_no: this.petani.ktp_no,
          ktp_valid_date: this.petani.ktp_valid_date,
          village: this.petani.village,
          sub_sector_id: this.petani.sub_sector_id,
          commodity_id: this.petani.commodity_id,
          land_area: this.petani.land_area,
          latitude: this.petani.latitude,
          longitude: this.petani.longitude,
          retail_name: this.petani.retail_name,
          sales_unit_name: this.petani.sales_unit_name,
          sales_org_id: this.petani.sales_org_id,
          sales_org_name: this.petani.sales_org_name,
          sales_group_id: this.petani.sales_group_id,
          sales_group_name: this.petani.sales_group_name,
          sales_office_id: this.petani.sales_office_id,
          sales_office_name: this.petani.sales_office_name,
          status: this.petani.status,
          status_name: this.petani.status_name,
          created_at: this.petani.created_at,
          updated_at: this.petani.updated_at
        },
        method: 'GET',
        responseType: 'blob', // important
      }).then((response) => {
         const url = window.URL.createObjectURL(new Blob([response.data]));
         const link = document.createElement('a');
         link.href = url;
         link.setAttribute('download', 'Download Petani.xls'); //or any other extension
         document.body.appendChild(link);
         link.click();
         this.loadBtnDownload = false;
      })
      .catch((resp) => {
        toastr.error("Gagal Download File", "Gagal") ;
        this.loadBtnDownload = false;      
      })
    },
    triggerModal(params = false){
      this.dt.draw();
      this.modalUpload = false
      this.infoumumForm = true;
      this.modalForm = false
      this.dataid = null
    },

    validateDateDibuat(obj) {
      if(obj.created_at && obj.created_at.from && obj.created_at.to) {
        this.petani.created_at = obj.created_at.from+';'+obj.created_at.to;
      } else if (obj.created_at && obj.created_at.certain) {
        this.petani.created_at = obj.created_at.certain;
      } else {
        this.petani.created_at = '';
      }
    },

    validateDateDiperbarui(obj) {
      if(obj.updated_at && obj.updated_at.from && obj.updated_at.to) {
        this.petani.updated_at = obj.updated_at.from+';'+obj.updated_at.to;
      } else if (obj.updated_at && obj.updated_at.certain) {
        this.petani.updated_at = obj.updated_at.certain;
      } else {
        this.petani.updated_at = '';
      }
    },

  }
}
</script>

<style lang="css">
div.dt-buttons {
  float: right !important;
  display: none;
}
.scroll-top {
  position: fixed;
  right: 30px;
  bottom: 20px;
  z-index: 999;
  font-size: 22px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 30px;
}
</style>
