<template>
  <div class="modal fade" id="formUploadFarmer" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
         <form @submit="saveRetails()">
          <div class="modal-header">
            <h4 class="modal-title">Validasi data upload</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body table-responsive table-responsive">
            <table class="table table-xs table-bordered table-striped display nowrap">
              <thead>
                <tr>
                  <th>No</th>
                  <th>Kode Kelompok Tani</th>
                  <th>Produsen</th>
                  <th>Nama Petani</th>
                  <th>Alamat</th>
                  <th>Kode Kecamatan</th>
                  <th>Luas Lahan</th>
                  <th>KTP</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(data, i) in dataUpload" class="filter">
                  <td>{{ i+1 }}</td>
                  <td>
                    <input type="text" class="form-control form-control-sm form-upload" v-model="data.farmer_group_code"
                    :class="{'is-invalid' : (data.validate.status === 0) && (data.validate.message.farmer_group_code)}"
                    >
                    <p class="text-danger" v-if="(data.validate.status === 0) && (data.validate.message.farmer_group_code)">{{data.validate.message.farmer_group_code[0]}}</p>
                  </td>
                  <td>
                    <input type="text" class="form-control form-control-sm form-upload" v-model="data.sales_org_id"
                    :class="{'is-invalid' : (data.validate.status === 0) && (data.validate.message.sales_org_id)}"
                    >
                    <p class="text-danger" v-if="(data.validate.status === 0) && (data.validate.message.sales_org_id)">{{data.validate.message.sales_org_id[0]}}</p>
                  </td>
                  <td>
                    <input type="text" class="form-control form-control-sm form-upload" v-model="data.name"
                    :class="{'is-invalid' : (data.validate.status === 0) && (data.validate.message.name)}"
                    >
                    <p class="text-danger" v-if="(data.validate.status === 0) && (data.validate.message.name)">{{data.validate.message.name[0]}}</p>
                  </td>
                  <td>
                    <input type="text" class="form-control form-control-sm form-upload" v-model="data.address"
                    :class="{'is-invalid' : (data.validate.status === 0) && (data.validate.message.address)}"
                    >
                    <p class="text-danger" v-if="(data.validate.status === 0) && (data.validate.message.address)">{{data.validate.message.address[0]}}</p>
                  </td>
                  <td>
                    <input type="text" class="form-control form-control-sm form-upload" v-model="data.sales_unit_id"
                    :class="{'is-invalid' : (data.validate.status === 0) && (data.validate.message.sales_office_id)}"
                    >
                    <p class="text-danger" v-if="(data.validate.status === 0) && (data.validate.message.sales_office_id)">{{data.validate.message.sales_office_id[0]}}</p>
                  </td>
                  <td>
                    <input type="text" class="form-control form-control-sm form-upload" v-model="data.land_area"
                    :class="{'is-invalid' : (data.validate.status === 0) && (data.validate.message.land_area)}"
                    >
                    <p class="text-danger" v-if="(data.validate.status === 0) && (data.validate.message.land_area)">{{data.validate.message.land_area[0]}}</p>
                  </td>
                  <td>
                    <input type="text" class="form-control form-control-sm form-upload" v-model="data.ktp_no"
                    :class="{'is-invalid' : (data.validate.status === 0) && (data.validate.message.ktp_no)}"
                    >
                    <p class="text-danger" v-if="(data.validate.status === 0) && (data.validate.message.ktp_no)">{{data.validate.message.ktp_no[0]}}</p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
        </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['petani'],
  data: function(){
    return {
      dataUpload: this.petani
    }
  },
  created() {
    this.setState()
  },
  mounted() {
    var app = this;
    $("#formUploadFarmer").modal("show")
    $("#formUploadFarmer").on("hidden.bs.modal", function() {
      app.closeModal();
    })
  },
  methods: {
    closeModal() {
      this.$emit("trigger-modal");
    },
    setState() {
      this.petani.map((data, i) => {
        data['farmer_group_id'] = data.farmer_group_code
        data['status'] = 'y'
        data['ktp_valid_date'] = '12-12-2012'
        data['sub_sector_id'] = data.sub_sector.map(e => e.id).join(';');
        data['commodity_id'] = data.commodity.map(e => e.id).join(';');
      })
    },
    saveRetails() {
      event.preventDefault();
      this.axios.post('farmer/json/bulk', this.dataUpload)
      .then((resp) => {
        $("#formUploadFarmer").modal("hide");
        toastr.success('Data disimpan ke database');
      })
      .catch((resp) => {
        let msg = resp.response.data.message;
        let data = resp.response.data.data;
        let showErrorMessage = '';
        let showErrorList  = '';
        showErrorMessage += msg;
        if(data){
          // console.log(data[0].validate.message.distrib_channel_id[0]);
          const sales_office_id = (data[0].validate.message.hasOwnProperty('sales_office_id')) ? '<li>'+data[0].validate.message.sales_office_id[0]+'</li>' : '';
          const ktp_no = (data[0].validate.message.hasOwnProperty('ktp_no')) ? '<li>'+data[0].validate.message.ktp_no[0]+'</li>' : '';
          toastr.error(
            '<ul>'+
              sales_office_id+
              ktp_no+
            '</ul>',
            msg
          )
        }
        toastr.error(showErrorMessage, "Gagal");
      })
    }
  }
}
</script>

<style lang="css">
  .form-upload {
    width: 200px !important;
  }
</style>
