<template lang="html">
  <div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group pull-right">
          <button v-if="access.C === true" type="button" @click="upload()" class="btn btn-primary square">
            <i class="fa fa-upload"></i>
            Upload
          </button>
          <a href="template-excel/perbup/Template_Perbup.xls" class="btn btn-primary square" target="_blank" ><i class="fa fa-download"></i> Download Template</a>
          <button type="button"class="btn btn-primary square" @click="download()" id="downloadPerbupKeExcel" name="button"> <i class="fa fa-download"></i> Download</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive">
          <table id="tablePerbup" class="table table-xs table-bordered table-striped display nowrap">
            <thead>
              <perbup-filter @search-table="searchTable"></perbup-filter>
              <tr>
                <th>No Perbup</th>
                <th>Produsen</th>
                <th>Provinsi</th>
                <th>Kabupaten</th>
                <th>Tahun</th>
                <th>Tanggal</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <form-upload v-if="showFormUpload" @trigger-modal="triggerModal"></form-upload>
  </div>
</template>

<script>
import PerbupUploadForm from './PerbupUploadForm';
import PerbupFilter from './PerbupFilter';
export default {
  props: ['access'],
  data: function() {
    return {
        dt: '',
        showFormUpload : false,
        perbup: {}
      }
    },
    components: {
      formUpload: PerbupUploadForm,
      PerbupFilter
    },
    mounted() {
      var app = this;
      this.getDataTable();
      $(document).on("click", "#toDetail", function(e) {
        e.preventDefault();
        const uuid = encodeURIComponent($(this).data("uuid"))
        const year = encodeURIComponent($(this).data("year"))
        var access = app.$route.params.access;
        app.$router.push({path: '/'+encodeURIComponent(access)+'/alokasi/perbup/detail/'+uuid+'/'+year});
      })
    },
    methods: {
      upload() {
        this.showFormUpload = true
      },
      triggerModal() {
        this.showFormUpload = false
        this.dt.draw()
      },
      searchTable(obj) {
        this.perbup = obj;
        this.validDateCreate(obj);
        this.dt.draw();
      },
      validDateCreate(obj) {
        if(obj.created_at && obj.created_at.from && obj.created_at.to) {
          this.perbup.created_at = obj.created_at.from+';'+obj.created_at.to;
        } else if (obj.created_at && obj.created_at.certain) {
          this.perbup.created_at = obj.created_at.certain;
        } else {
          this.perbup.created_at = '';
        }
      },
      download() {
        $(".downloadPerbup").trigger('click');
      },
      getDataTable() {
        var app = this;
        app.dt = $("#tablePerbup").DataTable({
          processing: true,
          serverSide: true,
          searching: false,
          "order": [[ 4, 'desc' ]],
          lengthMenu: [
            [ 20, 50, 100, -1 ],
            [ '20 baris', '50 baris', '100 baris', 'Lihat Semua' ]
          ],
          "dom": 'Bltrip',
          "buttons": [
            {
              extend: 'excel',
              className: 'btn-danger square mb-1 downloadPerbup',
              text: "Download"
            }
          ],
          ajax : {
            'url': '/api/perbup',
            'type': 'GET',
            'beforeSend': function (request) {
                var token = localStorage.getItem("default_auth_token");
                request.setRequestHeader("Authorization", "Bearer "+token);
                request.setRequestHeader("lang",  localStorage.getItem('app-lang'));
            },
            data: function(d){
              d.number = app.perbup.number
              d.sales_org_name = app.perbup.sales_org_name
              d.sales_office_name = app.perbup.sales_office_name
              d.sales_group_name = app.perbup.sales_group_name
              d.year = app.perbup.year
              d.created_at = app.perbup.created_at
              d.status = app.perbup.status
            }
          },
          columns :[
            {
              data: 'number',
              render: function(data, type, full) {
                var access = encodeURIComponent(app.$route.params.access);
                const link = `<a href="/#/${access}/alokasi/perbup/detail/${full.uuid}/${full.year}">${data}</a>`;
                return link;
              }
            },
            {data: 'sales_org_name', name: 'sales_org_name'},
            {data: 'sales_office_name', name: 'sales_office_name'},
            {data: 'sales_group_name', name: 'sales_group_name'},
            {data: 'year', name: 'year'},
            {data: 'created_at', name: 'created_at', render: function(data, type, full){
              return app.convertDate(data)
            }},
            {data: 'status_name', name: 'status_name'}
          ]
        })
      }
  }
}
</script>

<style media="screen">
  .downloadPerbup {
    display: none !important;
  }
</style>
