<template>
  <tr class="filter">
    <th>
      <input type="text" v-model="perbup.number" v-on:keyup="search()" class="form-control form-control-sm" >
    </th>
    <th>
      <input type="text" v-model="perbup.sales_org_name" v-on:keyup="search()" class="form-control form-control-sm" >
    </th>
    <th>
      <input type="text" v-model="perbup.sales_office_name" v-on:keyup="search()" class="form-control form-control-sm" >
    </th>
    <th>
      <input type="text" v-model="perbup.sales_group_name" v-on:keyup="search()" class="form-control form-control-sm" >
    </th>
    <th>
      <input type="text" v-model="perbup.year" v-on:keyup="search()" class="form-control form-control-sm" >
    </th>
    <th>
      <date-filter :reset="reset" @get-date="getDatePerbup" :type="type1"></date-filter>
    </th>
    <th>
      <status-filter :reset="reset" :checkedStatus="perbup.status" @get-check="searchTable" :label="btnStatus" :list="statusSearch"></status-filter>
    </th>
  </tr>
</template>

<script>
import Date from '../../filter/Date';
import Checklist from '../../filter/Checklist';
export default {
  data: function() {
    return {
      type1: 'date_perbup',
      btnStatus: 'Cari Status',
      statusSearch: [
        {name: 'Active', value: 'y'},
        {name: 'Inactive ', value: 'n'},
        {name: 'Suspend', value: 'p'},
        {name: 'Draft', value: 'd'},
        {name: 'Submitted', value: 's'},
        {name: 'Partial Active', value: 'z'},
      ],
      perbup: {
        number: null,
        sales_office_name: null,
        sales_org_name: null,
        sales_group_name: null,
        year: null,
        created_at: null,
        status: null
      }
    }
  },
  components: {
    dateFilter: Date,
    StatusFilter: Checklist
  },
  mounted() {

  },
  methods: {
    getDatePerbup(date = '') {
      if (date != '') {
        if(date != '') {
          this.perbup.created_at = {
            certain: (date.name === 'date_perbup' && date.dateType === 'certain') && date.data.from,
            from: (date.name === 'date_perbup' && date.dateType === 'range') && date.data.from,
            to: (date.name === 'date_perbup' && date.dateType === 'range') && date.data.to
          }
        } else {
          this.perbup.created_at = ''
        }
        this.search()
      }
    },
    searchTable(obj) {
      var status = obj.join(';')
      this.perbup.status = status
      this.search()
    },
    search() {
      event.preventDefault();
      this.$emit("search-table", this.perbup);
    }
  }
}
</script>

<style lang="css" scoped>
</style>
