<template lang="html">
  <tr class="filter">
    <th class="stokf5-sales-org-name">
      <input type="text"
      v-model="filter.sales_org_name"
      class="form-control form-control-md stokf5_sales_org_nameVal">
    </th>
    <th class="stokf5-customer-name">
      <input type="text"
      v-model="filter.customer_name"
      class="form-control form-control-md stokf5_customer_nameVal">
    </th>
    <th></th>
    <th></th>
    <th>
      <provinsi :reset="reset" ref="filterProvComponent" @get-selected-prov="searchProv" />
    </th>
    <th>
      <kabupaten :sales_office="filter.sales_office_id" :reset="reset" ref="filterKabComponent" @get-selected-kab="searchKab" />
    </th>
    <th>
      <month :reset="reset" :checkedMonth="filter.month" @get-month="searchMonth"></month>
    </th>
    <th>
      <year :reset="reset" @get-year="searchYear" :type="type"></year>
    </th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</template>
<script>
import Checklist from '../../filter/Checklist';
import Provinsi from '../../filter/Provinsi';
import Kabupaten from '../../filter/Kabupaten';
import Year from '../../filter/Year';
import Month from '../../filter/Month';
export default {
  props: ['reset'],
  data: function() {
    return {
      btnStatus: 'Filter Status', uriName: this.$auth.user().id+'_'+'search_'+this.$route.name,
      type: 'validYear',
      statusSearch: [
        {name: 'Active', value: 'y'},
        {name: 'Inactive ', value: 'n'},
        {name: 'Suspend', value: 'p'},
        {name: 'Draft', value: 'd'},
        {name: 'Submitted', value: 's'}
      ],
      filter: {
        sales_org_name: '',
        customer_name: '',
        sales_office_name: '',
        sales_group_name: '',
        sales_office_id: '',
        sales_group_id: '',
        month: '',
        year: '',
      }
    }
  },
  watch: {
		reset: function(val){
			if(val === true) {
				this.resetFilter();
			}
		}
	},
  mounted() {
    var app = this;
    $(document).ready(function() {
      const getLocalSearch = JSON.parse(localStorage.getItem(app.uriName));
      setTimeout(() => {
          if (getLocalSearch !== null) {
              app.filter = getLocalSearch;
              $(".stokf5_sales_org_nameVal").val(app.filter.sales_org_name);
              $(".stokf5_customer_nameVal").val(app.filter.customer_name);
              app.$emit("search-table", app.filter);
          }
      },1000)
    });
    $(document).on("keyup", ".stokf5_sales_org_nameVal", function(){
      app.filter.sales_org_name = $(this).val();
      app.search();
    })
    $(document).on("keyup", ".stokf5_customer_nameVal", function(){
      app.filter.customer_name = $(this).val();
      app.search();
    })
  },
  components: {
    FilterStatus: Checklist,
    Provinsi, Kabupaten, Year, Month
  },
  methods: {
    searchProv(dataProv) {
      var arr = dataProv.map(data => {
        return data.id;
      })
      var sales_office = arr.join(";");
      this.filter.sales_office_id = sales_office;
      this.search();
    },
    searchKab(dataKab) {
      var arr = dataKab.map(data => {
        return data.id;
      })
      var sales_group = arr.join(";");
      this.filter.sales_group_id = sales_group;
      this.search();
    },
    searchTable(obj) {
      var status = obj.join(';');
      this.filter.status = status;
      this.search();
    },
    searchYear(date = '') {
      if (date != '') {
        if (date != '') {
          this.filter.year = {
            certain: (date.name === 'validYear' && date.dateType === 'certain') && date.data.from,
            from: (date.name === 'validYear' && date.dateType === 'range') && date.data.from,
            to: (date.name === 'validYear' && date.dateType === 'range') && date.data.to
          }
        } else {
          this.filter.year = ''
        }
        this.search()
      }
    },
    searchMonth(obj) {
      var month = obj.join(';')
      this.filter.month = month
      this.search()
    },
    search() {
      event.preventDefault();
      localStorage.setItem(this.uriName, JSON.stringify(this.filter));
      this.$emit("search-table", this.filter);
    },
    resetFilter(){
      this.clearFilter(this.$route.name, this.filter);
      
      $( ".stokf5-sales-org-name" ).html( '<input type="text" class="form-control form-control-md stokf5_sales_org_nameVal" />' );
      $( ".stokf5-customer-name" ).html( '<input type="text" class="form-control form-control-md stokf5_customer_nameVal" />' );
      $(".stokf5_sales_org_nameVal").val(this.filter.sales_org_name);
      $(".stokf5_customer_nameVal").val(this.filter.customer_name);
      this.search();
    }
  }
}
</script>

<style lang="css">
  .button-filter {
    margin-bottom: 20px;
  }
</style>
