<template>
		<div>
		<div align="center">
			<button type="btn" :class="[classObject.btn, classObject.btnSm, classObject.btnStatus, classObject.selectKabupaten, classObject.in]" name="button">
				Pilih Kabupaten
			</button>
		</div>
    <!-- Modal On Vue  -->
    <div class="modal fade" tabindex="-1" role="dialog" :id="salesgroup" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <!-- content -->
                 <div class="modal-header">
                    <h5 class="modal-title" >Pilih Kabupaten</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <hr>
                    <div class="row" >
                        <div class="col-md-12">
                            <div class="form-group row">
                                <div class="col-md-12 ">
																	<fieldset>
                                    <multiselect
																			v-model="searchDt"
																			:options="m_kabupaten"
																			:multiple="true"
																			:close-on-select="false"
																			:taggable="false"
																			track-by="id" :custom-label="KabnameWithId"
																			:searchable="true" 
																			:show-labels="false" :placeholder="(loadingElement.kabupaten === false) ? 'Pilih ..' : 'Memuat ..'" >
																		</multiselect>
																	</fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
              		<button type="button" @click="resetFilter()" class="btn btn-danger">Reset</button>
									<button type="button" @click="send" data-dismiss="modal" class="btn btn-primary">Cari</button>
                </div>
                <!-- End Content -->
            </div>
        </div>
    </div>
    <!-- End Modal  -->
		</div>
</template>

<script>
import Vue from 'vue';
import Multiselect from 'vue-multiselect';

export default {
	props: ['reset', 'sales_office'],
	data: function() {
		return { 
			uriName: this.$auth.user().id+'_'+'scnd_kab_'+this.$route.name,
			m_kabupaten: [],
			label: 'Skabupaten',
			searchDt: [],
			renderId: '',
			uri: '',
			loadingElement: {
				kabupaten: false
			},
			classObject: {
        btn: 'btn',
        btnSm: 'btn-sm',
        btnStatus: 'btn-secondary',
				selectKabupaten: 'select-second-kabupaten',
				in: 'select-second-kab-'+this.$route.name
      }
		}
	},
	components: {
    Multiselect,
	},
	watch: {
		reset: function(val){
			if(val === true) {
				this.resetFilter();
			}
		},
		sales_office: function(val){
			this.uri = (val === '' || typeof(val) === 'undefined') ? '' : '?provinsi='+val;
			this.getKabupaten(this.uri)
		},
	},
	computed : {
    salesgroup : function () {
      return this.label.replace(/(?:^\w|[A-Z]|\b\w)/g, function(letter, index) {
        return index == 0 ? letter.toLowerCase() : letter.toUpperCase();
      }).replace(/\s+/g, '');
    }
  },
	mounted(){
		var app = this;
		const getLocalKabupaten = JSON.parse(localStorage.getItem(app.uriName));
		if(getLocalKabupaten){
			app.searchDt = getLocalKabupaten;
			if(app.searchDt.length > 0) {
				this.classObject.btnStatus = 'btn-success';
			} else {
				this.classObject.btnStatus = 'btn-secondary';
			}
		}
    $(document).ready(function() { 
			app.getKabupaten(this.uri)
		})
		$("#"+this.salesgroup).on('hidden.bs.modal', function () {
      app.send();
    })
		$(document).on('click','.'+app.classObject.selectKabupaten,function(e){
				e.preventDefault();
				app.openModal();
		});

	},
	methods: {
		openModal() {
      $("#"+this.salesgroup).modal("show")
    },
    KabnameWithId ({ id, name }){ return `${id} — ${name}` },
		getKabupaten (){
      this.loadingElement.kabupaten = true;
      this.axios.get('region/kabupaten'+this.uri)
      .then((resp) => {
        this.m_kabupaten = resp.data.data;
        this.loadingElement.kabupaten = false;
      })
      .catch((resp) => {
        toastr.error("Failed Load Province", "Load data");
      })
      .then((resp) => {this.loadingElement.kabupaten = false})
    },
		send(){
			event.preventDefault()
			var getClass = this.classObject.in;
			localStorage.setItem(this.uriName, JSON.stringify(this.searchDt));
			this.$emit("get-selected-kab", this.searchDt)
			const arr = this.searchDt.map(data => {
				return data.id
			})
			this.renderId = arr;
			if(this.renderId.length > 0) { 
				$('.'+getClass).removeClass("btn-secondary");
				$('.'+getClass).addClass("btn-success");
				this.classObject.btnStatus = 'btn-success';
			} else { 
				$('.'+getClass).removeClass("btn-success");
				$('.'+getClass).addClass("btn-secondary");
        this.classObject.btnStatus = 'btn-secondary';
			}
			
		},
		resetFilter(){
			var getClass = this.classObject.in;
			this.searchDt = [];
			this.classObject.btnStatus = 'btn-secondary';
			$('.'+getClass).removeClass("btn-success");
			$('.'+getClass).addClass("btn-secondary");
		}
	}
}
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style>
.multiselect__tags-wrap {
    display: inline-grid;
}
</style>