<template>
  <div class="">
    <select class="form-control form-control-sm" @change="showModal" name="">
      <option value="">{{ $ml.get("global.filter.all") }}</option>
      <option value="range">{{ $ml.get("global.filter.modal.value.titleOne") }}</option>
      <option value="certain">{{ $ml.get("global.filter.modal.value.titleTwo") }}</option>
    </select>
    <value-certain @trigger="trigger" @search="search" v-if="certain"></value-certain>
    <value-range @trigger="trigger" @search="search" v-if="range"></value-range>
  </div>
</template>

<script>
import valueCertain from './valuecomp/valueCertain';
import ValueRange from './valuecomp/ValueRange';

export default {
  props: ['type'],
  data: function(){
    return {
      range: false,
      certain: false
    }
  },
  components:{
    valueCertain,
    ValueRange
  },
  methods: {
    showModal(event) {
      const type = event.target.value;
      if(type != ""){
        switch (type) {
          case 'range': this.range = true; this.certain = false; break;
          case 'certain': this.range = false; this.certain = true; break;
          default: this.range = false; this.certain = false;
        }
      } else {
        this.range = false; this.certain = false;
      }
    },
    search(data) {
      data['name'] = this.type;
      this.$emit('get-value', data);
    },
    trigger(){
      this.range = false;
      this.certain = false;
    }
  }
}
</script>

<style lang="css">
</style>
