<template>
  <div>
    <select :style="styleObject" v-model="selected" class="form-control form-control-md" @change="showModal">
      <option value="">{{$ml.get("global.filter.all")}}</option>
      <option value="range">{{$ml.get("global.filter.modal.date.titleOne")}}</option>
      <option value="certain">{{$ml.get("global.filter.modal.date.titleTwo")}}</option>
    </select>
    <year-range @trigger="trigger" @search="search" v-if="range"></year-range>
    <year-certain @trigger="trigger" @search="search" v-if="certain "></year-certain>
  </div>
</template>

<script>
import YearRange from './yearcomp/YearRange';
import YearCertain from './yearcomp/YearCertain';
export default {
  props: ['type', 'reset'],
  data: function(){
    return {
      range: false,
      certain: false,
      selected: '',
      styleObject: {
        background: '',
      }
    }
  },
  components:{
    YearRange,
    YearCertain
  },
  watch: {
		reset: function(val){
			if(val === true) {
				this.resetFilter();
			}
		},
	},
  methods: {
    showModal(event) {
      const type = event.target.value;
      if(type != ""){
        this.styleObject.background = '#16d39a';
        switch (type) {
          case 'range': this.range = true; this.certain = false; break;
          case 'certain': this.range = false; this.certain = true; break;
          default: this.range = false; this.certain = false;
        }
      } else {
        this.styleObject.background = '';
        this.range = false; this.certain = false;
        this.search({});
      }
    },
    search(data) {
      data['name'] = this.type;
      this.$emit('get-year', data);
    },
    trigger(){
      this.range = false;
      this.certain = false;
    },
    resetFilter(){
      this.selected = '';
      this.styleObject.background = '';
		}
  }
}
</script>

<style lang="css">
</style>
