<template>
  <tr class="filter">
    <th></th>
    <th>
      <input type="text" @keyup="search()" v-model="formSearch.sales_org_id" class="form-control form-control-md">
    </th>
    <th>
      <input type="text" @keyup="search()" v-model="formSearch.bank_id" class="form-control form-control-md">
    </th>
    <th>
      <input type="text" @keyup="search()" v-model="formSearch.bank_account" class="form-control form-control-md">
    </th>
    <th>
      <input type="text" @keyup="search()" v-model="formSearch.bank_gl_account" class="form-control form-control-md">
    </th>
    <th>
      <input type="text" @keyup="search()" v-model="formSearch.bank_clearing_acct" class="form-control form-control-md">
    </th>
    <th>
      <filter-status :reset="reset" :checkedStatus="formSearch.status" @get-check="searchTable" :label="btnStatus" :list="statusSearch"></filter-status>
    </th>
    <th></th>
  </tr>
</template>

<script>
import Checklist from '../../filter/Checklist';
export default {
  props: ['reset'],
  data: function() {
    return {
      uriName: this.$auth.user().id+'_'+'search_'+this.$route.name,
      btnStatus: 'Search Status',
      statusSearch: [
         {name: 'Active', value: 'y'},
         {name: 'Inactive', value: 'd'}
      ],
      formSearch: {
        sales_org_id: '',
        bank_id: '',
        currency: '',
        bank_account: '',
        bank_gl_account: '',
        bank_clearing_acct: '',
        status: ''
      }
    }
  },
  components: {
    FilterStatus : Checklist
  },
  watch: {
		reset: function(val){
			if(val === true) {
				this.resetFilter();
			}
		}
	},
  created() {

  },
  mounted() {
    var app = this;
    const getLocalSearch = JSON.parse(localStorage.getItem(app.uriName));
    setTimeout(() => {
      if (getLocalSearch !== null) {
          app.formSearch = getLocalSearch;
          app.$emit("filter-table", app.formSearch);
      }
    },1000)
  },
  methods: {
    searchTable(obj) {
      var status = obj.join(';');
      this.formSearch.status = status;
      this.search();
    },
    search() {
        event.preventDefault();
        localStorage.setItem(this.uriName, JSON.stringify(this.formSearch));
        this.$emit("filter-table", this.formSearch);
    },
    resetFilter(){
      this.clearFilter(this.$route.name, this.formSearch);
      this.search();
    }
  }


}
</script>

<style lang="css" scoped>
</style>
