<template>
    <div class="col-md-7 col-centered">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Filter</h4>
            </div>
            <div class="card-content collpase show">
                <div class="card-body">
                    <form @submit="sendData" class="form form-horizontal">
                        <transaksi-filter v-if="isReset" :type="type" @data-manage="dataManage"></transaksi-filter>
                        <wilayah-filter v-if="isReset" @data-manage="dataManage"></wilayah-filter>
                        <produk-filter v-if="isReset" @data-manage="dataManage"></produk-filter>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6">
                                        <button type="button" @click="resetForm" class="btn btn-secondary square">Reset</button>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="pull-right">
                                            <button type="submit" class="btn btn-primary square">Cari</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import TransaksiFilter from './TransaksiFilter'
import WilayahFilter from './WilayahFilter'
import ProdukFilter from './ProdukFilter'
export default {
    props: ['type'],
    data: () => {
        return {
            isReset: true,
            input: {
                transaksi: {
                    customer: '',
                    produsen: '',
                    no_so: '',
                    tanggal_so: '',
                    tanggal_pgi: '',
                    kode_plant: ''
                },
                wilayah: {
                    provinsi: '',
                    kabupaten: ''
                },
                produk: {
                    produk: ''
                }
            }
        }
    },
    components: {
        TransaksiFilter, WilayahFilter, ProdukFilter
    },
    methods: {
        resetForm() {
            this.isReset = false;
            setTimeout(() => {
                this.isReset = true;
                this.input.transaksi = {
                    customer: '',
                    produsen: '',
                    no_so: '',
                    tanggal_so: '',
                    tanggal_pgi: '',
                    kode_plant: ''
                }
                this.input.wilayah = {
                    provinsi: '',
                    kabupaten: ''
                }
                this.input.produk = {
                    produk: ''
                }
                this.$emit('search-form', this.input)
            })
        },
        dataManage(type, action) {
            switch (type) {
                case 'TRANSAKSI':
                    const customerFrom = action.customerFrom != null ? action.customerFrom.id : ''
                    const customerTo = action.customerTo != null ? ";"+action.customerTo.id : ''
                    this.input.transaksi.customer = customerFrom+customerTo
                    const produsenFrom = action.produsenFrom != null ? action.produsenFrom.id : ''
                    const produsenTo = action.produsenTo != null ? ";"+action.produsenTo.id : ''
                    this.input.transaksi.produsen = produsenFrom+produsenTo
                    const kodePlantFrom = action.kodePlantFrom != null ? action.kodePlantFrom.code : ''
                    const kodePlantTo = action.kodePlantTo != null ? ";"+action.kodePlantTo.code : ''
                    this.input.transaksi.kode_plant = kodePlantFrom+kodePlantTo
                    const noSoFrom = action.noSoFrom != null ? action.noSoFrom : ''
                    const noSoTo = action.noSoTo != null ? ";"+action.noSoTo : ''
                    this.input.transaksi.no_so = noSoFrom+noSoTo
                    const tanggalSoFrom = action.tanggalSoFrom != null ? action.tanggalSoFrom : ''
                    const tanggalSoTo = action.tanggalSoTo != null ? ";"+action.tanggalSoTo : ''
                    this.input.transaksi.tanggal_so = tanggalSoFrom+tanggalSoTo
                    const tanggalPgiFrom = action.tanggalPgiFrom != null ? action.tanggalPgiFrom : ''
                    const tanggalPgiTo = action.tanggalPgiTo != null ? ";"+action.tanggalPgiTo : ''
                    this.input.transaksi.tanggal_pgi = tanggalPgiFrom+tanggalPgiTo
                break;
                case 'WILAYAH':
                    const provinsiFrom = action.provinsiFrom != null ? action.provinsiFrom.id : ''
                    const provinsiTo = action.provinsiTo != null ? ";"+action.provinsiTo.id : ''
                    this.input.wilayah.provinsi = provinsiFrom+provinsiTo
                    const kabupatenFrom = action.kabupatenFrom != null ? action.kabupatenFrom.id : ''
                    const kabupatenTo = action.kabupatenTo != null ? ";"+action.kabupatenTo.id : ''
                    this.input.wilayah.kabupaten = kabupatenFrom+kabupatenTo
                break;
                case 'PRODUK':
                    const produkFrom = action.produkFrom != null ? action.produkFrom.id : ''
                    const produkTo = action.produkTo != null ? ";"+action.produkTo.id : ''
                    this.input.produk.produk = produkFrom+produkTo
                break;
            }
        },

        sendData() {
            event.preventDefault();
            this.$emit('search-form', this.input)
        }
    }
};
</script>

<style>
    .range-group {
        margin-bottom: 20px;
    }
    .col-centered{
        float: none;
        margin: 0 auto;
    }
    .card .card {
        box-shadow: 0 10px 40px 0 rgba(62, 57, 107, 0.07), 0 2px 9px 0 rgba(62, 57, 107, 0.06) !important;
    }
</style>
