<template>
    <div class="row">
        <div class="col-md-12">
            <h4 class="form-section">Wilayah</h4>
            <div class="range-group row">
                <div class="col-md-3">
                    Provinsi
                </div>
                <div class="col-md-4">
                    <multiselect
                        @input="sendToParent"
                        v-model="temp.provinsiFrom"
                        :options="get.provinsi"
                        track-by="uuid" :custom-label="nameWithId"
                        :searchable="true" :close-on-select="true"
                        :show-labels="false"
                        :placeholder="(selectLoading.provinsi === false) ? 'Pilih Provinsi..' : 'Memuat ..'"
                    >
                    </multiselect>
                </div>
                <div class="col-md-1">
                    to
                </div>
                <div class="col-md-4">
                    <multiselect
                        @input="sendToParent"
                        v-model="temp.provinsiTo"
                        :options="get.provinsi"
                        track-by="uuid" :custom-label="nameWithId"
                        :searchable="true" :close-on-select="true"
                        :show-labels="false"
                        :placeholder="(selectLoading.provinsi === false) ? 'Pilih Provinsi..' : 'Memuat ..'"
                    >
                    </multiselect>
                </div>
            </div>
            <div class="range-group row">
                <div class="col-md-3">
                    Kabupaten
                </div>
                <div class="col-md-4">
                    <multiselect
                        @input="sendToParent"
                        v-model="temp.kabupatenFrom"
                        :options="get.kabupaten"
                        track-by="uuid" :custom-label="nameWithId"
                        :searchable="true" :close-on-select="true"
                        :show-labels="false"
                        :placeholder="(selectLoading.kabupaten === false) ? 'Pilih Kabupaten..' : 'Memuat ..'"
                    >
                    </multiselect>
                </div>
                <div class="col-md-1">
                    to
                </div>
                <div class="col-md-4">
                    <multiselect
                        @input="sendToParent"
                        v-model="temp.kabupatenTo"
                        :options="get.kabupaten"
                        track-by="uuid" :custom-label="nameWithId"
                        :searchable="true" :close-on-select="true"
                        :show-labels="false"
                        :placeholder="(selectLoading.kabupaten === false) ? 'Pilih Kabupaten..' : 'Memuat ..'"
                    >
                    </multiselect>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Multiselect from 'vue-multiselect';
export default {
    data: () => {
        return {
            get: {
                provinsi: [],
                kabupaten: []
            },
            temp: {
                provinsiFrom: null,
                provinsiTo: null,
                kabupatenFrom: null,
                kabupatenTo: null
            },
            selectLoading: {
                provinsi: false,
                kabupaten: false
            }
        }
    },
    components: {
        Multiselect
    },
    created() {
        this.getProvinsi()
        this.getKabupaten()
    },
    methods: {
        nameWithId ({ id,  name}) {
            return `${id} — ${name}`
        },
        getProvinsi() {
            this.selectLoading.provinsi = true
            this.axios.get('region/provinsi')
            .then(res => {
                this.get.provinsi = res.data.data
                this.selectLoading.provinsi = false
            })
            .catch(res => {
                toastr.error(res.response.data.message)
                this.selectLoading.provinsi = false
            })
        },
        getKabupaten() {
            this.selectLoading.kabupaten = true
            this.axios.get('region/kabupaten')
            .then(res => {
                this.get.kabupaten = res.data.data
                this.selectLoading.kabupaten = false
            })
            .catch(res => {
                toastr.error(res.response.data.message)
                this.selectLoading.kabupaten = false
            })
        },
        sendToParent() {
            this.$emit('data-manage', 'WILAYAH', this.temp)
        }
    }
}
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>

//new
