<template>
  <div class="modal fade" id="formLbd" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form @submit="save()">
          <div class="modal-header">
            <h4 class="modal-title">Form Laporan Bulanan Distributor</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group row">
                  <div class="col-md-3 label-control">
                    Distributor
                  </div>
                  <div class="col-md-9">
                    <multiselect
                      @input="getProdusen"
                      v-model="temp.customer_id"
                      :options="optionData.distributor"
                      track-by="id"
                      :custom-label="distributorWithNameId"
                      :searchable="true"
                      :close-on-select="true"
                      :show-labels="false"
                      :placeholder="(selectLoading.distributor === false) ? 'Pilih Distributor..' : 'Memuat ..'">
                    </multiselect>
                    <p class="text-danger" v-if="error && errors.customer_id">{{errors.customer_id[0]}}</p>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-3 label-control">
                    Produsen
                  </div>
                  <div class="col-md-9">
                    <multiselect
                      v-model="temp.sales_org_id"
                      :options="optionData.produsen"
                      track-by="id"
                      :custom-label="produsenNameWithId"
                      :searchable="true"
                      :close-on-select="true"
                      :show-labels="false"
                      :placeholder="(selectLoading.produsen === false) ? 'Pilih Produsen..' : 'Memuat ..'">
                    </multiselect>
                    <p class="text-danger" v-if="error && errors.sales_org_id">{{errors.sales_org_id[0]}}</p>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-3 label-control">
                    Provinsi
                  </div>
                  <div class="col-md-9">
                    <multiselect
                      @input="getKabupaten"
                      v-model="temp.sales_office_id"
                      :options="optionData.provinsi"
                      track-by="id"
                      :custom-label="provinsiNameWithId"
                      :searchable="true"
                      :close-on-select="true"
                      :show-labels="false"
                      :placeholder="(selectLoading.provinsi === false) ? 'Pilih Provinsi..' : 'Memuat ..'">
                    </multiselect>
                    <p class="text-danger" v-if="error && errors.sales_office_id">{{errors.sales_office_id[0]}}</p>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-3 label-control">
                    Kabupaten
                  </div>
                  <div class="col-md-9">
                    <multiselect
                      v-model="temp.sales_group_id"
                      :options="optionData.kabupaten"
                      track-by="id"
                      :custom-label="kabupatenNameWithId"
                      :searchable="true"
                      :close-on-select="true"
                      :show-labels="false"
                      :placeholder="(selectLoading.kabupaten === false) ? 'Pilih Kabupaten..' : 'Memuat ..'">
                    </multiselect>
                    <p class="text-danger" v-if="error && errors.sales_group_id">{{errors.sales_group_id[0]}}</p>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-3 label-control">
                    Periode Tahun
                  </div>
                  <div class="col-md-9">
                    <multiselect
                      v-model="insert.year"
                      :options="optionData.tahun"
                      :searchable="true"
                      :close-on-select="true"
                      :show-labels="false"
                      :placeholder="'Pilih tahun'">
                    </multiselect>
                    <p class="text-danger" v-if="error && errors.year">{{errors.year[0]}}</p>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-3 label-control">
                    Periode Bulan
                  </div>
                  <div class="col-md-9">
                    <select class="form-control" v-model="insert.month">
                      <option value="">Pilih bulan</option>
                      <option v-for="(bulan, i) in optionData.bulan" :value="bulan.number">{{ bulan.month }}</option>
                    </select>
                    <p class="text-danger" v-if="error && errors.month">{{errors.month[0]}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary square" data-dismiss="modal">Tutup</button>
            <button type="submit" class="btn btn-primary square" :disabled="loadingSave">
              <i class="fa fa-spin fa-refresh" v-if="loadingSave"></i>
              {{ (loadingSave) ? 'Memuat..' : 'Simpan' }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import Multiselect from 'vue-multiselect';
export default {
  props: [],
  data: function() {
    return {
      loadingSave: false,
      dtRefresh: false,
      error : false,
      errors: {},
      insert: {
        sales_org_id: null,
        sales_office_id: null,
        sales_group_id: null,
        customer_id: null,
        month: ('0' + ((new Date()).getMonth()+1)).slice(-2),
        year: (new Date()).getFullYear()
      },
      temp: {
        sales_org_id: null,
        sales_office_id: null,
        sales_group_id: null,
        customer_id: null
      },
      optionData: {
        produsen: [],
        provinsi: [],
        kabupaten: [],
        distributor: [],
        tahun: Array.from({length: 40}, (_, i) => ((new Date()).getFullYear()-20)+parseInt(i)),
        bulan: []
      },
      selectLoading: {
        produsen: false,
        provinsi: false,
        kabupaten: false,
        distributor: false
      }
    }
  },
  components: {
    Multiselect
  },
  created() {
    this.getBulan();
    this.getDistributor();
    this.getProvinsi();
  },
  mounted() {
    var app = this;
    $("#formLbd").modal('show');
    $("#formLbd").on("hidden.bs.modal", function(){
      app.closeModal();
    })
  },
  methods: {

    getMonthName(month) {
      switch (month) {
        case '01': return 'Januari'; break;
        case '02': return 'Februari'; break;
        case '03': return 'Maret'; break;
        case '04': return 'April'; break;
        case '05': return 'Mei'; break;
        case '06': return 'Juni'; break;
        case '07': return 'Juli'; break;
        case '08': return 'Agustus'; break;
        case '09': return 'September'; break;
        case '10': return 'Oktober'; break;
        case '11': return 'November'; break;
        case '12': return 'Desember'; break;
        default:
          return 'bulan tidak dikenal';
      }
    },

    getBulan() {
      let months = []
      months = Array.from({length: 12}, (x,i) => i);
      let app = this;
      months.map(month => {
        let monthReal = ('0' + (month+1)).slice(-2)
        app.optionData.bulan.push({
          number: monthReal,
          month: this.getMonthName(monthReal)
        })
      })
    },

    bulanWithNumber({number, month}) {
      return `${number} — ${month}`
    },

    // distributor
    distributorWithNameId({id, full_name}) {
      return `${id} — ${full_name}`
    },
    getDistributor() {
      this.selectLoading.distributor = true;
      this.axios.get("company/distributor")
      .then((resp) => {
        this.optionData.distributor = resp.data.data
        this.selectLoading.distributor = false
      })
      .catch((resp) => {
        toastr.error(resp.response.data.message);
        this.selectLoading.distributor = false
      })
    },
    //end distributor

    //produsen
    produsenNameWithId ({id, name}) {
      return `${id} — ${name}`
    },
    getProdusen() {
      this.temp.sales_org_id = null;
      this.optionData.produsen = [];
      if(this.temp.customer_id != null) {
        this.selectLoading.produsen = true;
        this.axios.get("company/produsen", {
          params: {
            customer_id: this.temp.customer_id.id
          }
        })
        .then((resp) => {
          this.optionData.produsen = resp.data.data
          this.selectLoading.produsen = false
        })
        .catch((resp) => {
          toastr.error(resp.response.data.message);
          this.selectLoading.produsen = false
        })
      }
    },
    //end produsen

    // provinsi
    provinsiNameWithId ({id, name}) {
      return `${id} — ${name}`
    },
    getProvinsi() {
      this.selectLoading.provinsi = true
      this.axios.get('region/provinsi')
      .then((resp) => {
        this.optionData.provinsi = resp.data.data;
        this.selectLoading.provinsi = false
      })
      .catch((resp) => {
        toastr.error(resp.response.data.message);
        this.selectLoading.provinsi = false
      })
    },
    // end provinsi

    //kabupaten
    kabupatenNameWithId ({id, name}) {
      return `${id} — ${name}`
    },
    getKabupaten() {
      this.temp.sales_group_id = null;
      this.optionData.kabupaten = [];
      if(this.temp.sales_office_id != null) {
        this.selectLoading.kabupaten = true
        this.axios.get("region/kabupaten", {
          params:{
            provinsi: this.temp.sales_office_id.id
          }
        })
        .then((resp) => {
          this.optionData.kabupaten = resp.data.data;
          this.selectLoading.kabupaten = false
        })
        .catch((resp) => {
          toastr.error(resp.response.data.message);
          this.selectLoading.kabupaten = false
        })
      }
    },
    // end kabupaten

    //save
    save() {
      this.loadingSave = true;
      event.preventDefault();
      this.insert.sales_org_id = (this.temp.sales_org_id === null) ? this.temp.sales_org_id : this.temp.sales_org_id.id;
      this.insert.sales_office_id = (this.temp.sales_office_id === null) ? this.temp.sales_office_id : this.temp.sales_office_id.id;
      this.insert.sales_group_id = (this.temp.sales_group_id === null) ? this.temp.sales_group_id : this.temp.sales_group_id.id;
      this.insert.customer_id = (this.temp.customer_id === null) ? this.temp.customer_id : this.temp.customer_id.id;
      this.axios.post('reportf5', this.insert)
      .then((resp) => {
        toastr.success(resp.data.message);
        this.dtRefresh = true;
        $("#formLbd").modal('hide');
        this.loadingSave = false;
      })
      .catch((resp) => {
        this.loadingSave = false;
        if(resp.response.status === 400) {
          toastr.error('lengkapi kolom isian');
          this.error = true;
          this.errors = resp.response.data.message;
        } else if (resp.response.status === 500) {
          toastr.error(resp.response.data.messages);
        }
      });
    },
    //end save

    closeModal() {
      this.$emit('trigger-modal', this.dtRefresh);
    }
  }

}
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style media="screen">
.error .multiselect__tags {
  border: 1px solid red !important;
}
.multiselect__tags {
  border: 1px solid #BABFC7 !important;
  border-radius: 0.25rem !important;
}

.multiselect__select:before {
  color: #4E5154;
}

.multiselect__placeholder {
  color: #4E5154;
}
</style>
