<template>
  <div>
    <div class="row">
      <div class="col-md-12">
        <div class="pull-right">
          <button v-if="access.C === true" type="button" class="btn btn-primary square" v-on:click="uploadFile"> <i class="fa fa-upload"></i>
              {{ $ml.get("global.form.labelUpload") }}
          </button>
          <a href="template-excel/batas-ambil/Template_Batas_Ambil.xlsx" class="btn btn-primary square" target="_blank" ><i class="fa fa-download"></i> Download Template</a>
          <button v-if="access.C" @click="modalForm.show = !modalForm.show" type="button" class="btn btn-primary square"><i class="fa fa-plus"></i> Tambah Limit</button>
          <button type="button" @click="download" class="btn btn-primary square" :disabled="loadBtnDownload"><i class="fa fa-download"></i> Download</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive">
          <table id="BatasAmbil" class="stripe row-border order-column table table-xs table-bordered table-striped display nowrap">
            <thead>
              <batas-ambil-filter :reset="resetStatus" ref="filterComponent" @search-table="searchTable"></batas-ambil-filter>
              <tr>
                <th>Produsen</th>
                <th>Provinsi</th>
                <th>Incoterm</th>
                <!-- <th>Produk</th> -->
                <th>Minimum Order</th>
                <th>Maksimum Order</th>
                <th>Jumlah Hari</th>
                <th>Aksi</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <form-batas-ambil v-if="modalForm.show" :uuid="modalForm.uuid" @trigger-modal="triggerModal"></form-batas-ambil>
    <batas-ambil-upload v-if="modalUpload" @trigger-modal="triggerModal"></batas-ambil-upload>
  </div>
</template>

<script>
import Form from './modal/Form';
import BatasAmbilFilter from './BatasAmbilFilter';
import BatasAmbilUpload from './modal/Upload';
export default {
  props: ['access'],
  data: function() {
    return {
      dt: null,
      modalUpload: false,
      loadBtnDownload: false,
      resetStatus: false,
      batasAmbil: {},
      modalForm: {
        show: false,
        uuid: null
      }
    }
  },
  components: {
    BatasAmbilFilter,
    FormBatasAmbil: Form,
    BatasAmbilUpload
  },
  created() {

  },
  mounted() {
    let app = this
    this.BatasAmbil()
    $("div.dataTables_length").append(' <button id="resetFilterBatas" class="btn btn-sm btn-danger square"><i class="fa fa-times"></i> Reset Filter</button>');
    
    $(document).on("click", "#resetFilterBatas", function(e){
      e.preventDefault()
      app.resetStatus = true;
      $('#resetFilterBatas').prop('disabled', true);
      setTimeout(() => {
        app.resetStatus = false;
        $('#resetFilterBatas').prop('disabled', false);
      }, 1000)
    })
    $(document).on("click", ".edit", function(e){
      e.preventDefault()
      console.log('a');
      let uuid = $(this).data("uuid")
      app.modalForm.show = true
      app.modalForm.uuid = uuid
    })

  },
  methods: {
    BatasAmbil() {
      let app = this;
      app.dt = $("#BatasAmbil").DataTable({
        processing: true,
        serverSide: true,
        searching: false,
        "order": [[ 0, 'desc' ]],
        "dom": 'Bltrip',
        "scrollX" : true,
        "scrollY" : "50vh",
        scrollCollapse: true,
        lengthMenu: [
          [ 20, 50, 100, -1 ],
          [ '20 baris', '50 baris', '100 baris', 'Lihat Semua' ]
        ],
        "buttons": [
          {
            extend: 'excel',
            className: 'btn-danger square mb-1 DownloadBatasAmbil',
            text: "Download Batas Ambil",
            title:"",
            filename:"batas-ambil",
            exportOptions: {
                columns: 'th:not(:last-child)'
            }
          }
        ],
        ajax:{
          'url': 'api/limit',
          'type': 'GET',
          'data': function(d){
            d.sales_org_name = app.batasAmbil.sales_org_name,
            d.sales_office_id = app.batasAmbil.sales_office_id,
            d.sales_office_name = app.batasAmbil.sales_office_name,
            d.incoterm = app.batasAmbil.incoterm,
            d.product_name = app.batasAmbil.product_name,
            d.product_id = app.batasAmbil.product_id,
            d.min_qty = app.batasAmbil.min_qty,
            d.max_qty = app.batasAmbil.max_qty,
            d.duration_date = app.batasAmbil.duration_date
          },
          'beforeSend': function (request) {
              var token = localStorage.getItem("default_auth_token");
              request.setRequestHeader("Authorization", "Bearer "+token);
              request.setRequestHeader("lang",  localStorage.getItem('app-lang'));
          }
        },
        columns: [
          {data: 'sales_org_name' , name:'sales_org_name'},
          {data: 'sales_office_name' , name:'sales_office_name'},
          {data: 'incoterm' , name:'incoterm'},
          // {data: 'product_name' , name:'product_name'},
          { data: 'min_qty', render : function(data, type, full){ return parseFloat(data); } },
          { data: 'max_qty', render : function(data, type, full){ return parseFloat(data); } },
          {data: 'duration_date' , name:'duration_date'},
          {data: 'uuid' , name:'uuid', render: function(d,t,f){
            let link = '';
            if(app.access.U) {
              link = '<button class="btn btn-primary btn-sm square edit" data-uuid="'+d+'"><i class="fa fa-pencil"></i>  Edit</button>';
            }
            return link
          }}
        ]
      });
      new $.fn.dataTable.FixedColumns(app.dt, {
          leftColumns: 1,
          rightColumns: 1,
      })
    },

    searchTable(obj) {
      this.batasAmbil = obj
      this.dt.draw()
    },

    triggerModal(params = false) {
      this.modalForm.show = false
      this.modalUpload = false
      this.modalForm.uuid = null
      if(params === 'RefreshTable'){
        this.dt.draw();
      }
    },

    download() {
      // event.preventDefault()
      // $(".DownloadBatasAmbil").trigger('click')
      this.loadBtnDownload = true;
      this.axios({
        url: 'limit/download',
        params: {
          sales_org_name: this.batasAmbil.sales_org_name,
          sales_office_id: this.batasAmbil.sales_office_id,
          sales_office_name: this.batasAmbil.sales_office_name,
          incoterm: this.batasAmbil.incoterm,
          product_name: this.batasAmbil.product_name,
          product_id: this.batasAmbil.product_id,
          min_qty: this.batasAmbil.min_qty,
          max_qty: this.batasAmbil.max_qty,
          duration_date: this.batasAmbil.duration_date
        },
        method: 'POST',
        responseType: 'blob', // important
      }).then((response) => {
         const url = window.URL.createObjectURL(new Blob([response.data]));
         const link = document.createElement('a');
         link.href = url;
         link.setAttribute('download', 'Download Batas Ambil.xls'); //or any other extension
         document.body.appendChild(link);
         link.click();
         this.loadBtnDownload = false;
      })
      .catch((resp) => {
        toastr.error("Gagal Download File", "Gagal") ;
        this.loadBtnDownload = false;      
      })
    },

    uploadFile (){
      this.modalUpload = true;
      // $('#uploadExcelModal').modal('show');
    },
    
  }
}
</script>

<style media="screen">
  .DownloadBatasAmbil {
    display: none !important;
  }
</style>
