<template lang="html">
    <div>
         <div class="row">
            <div class="col-md-12">
                <div class="pull-right">
                <button v-if="access.C === true" type="button" class="btn btn-primary square" v-on:click="uploadFile"> <i class="fa fa-download"></i>
                    {{ $ml.get("farmerGroupPage.uploadData") }}
                </button>
                <button v-if="access.C === true" type="button" class="btn btn-primary square" @click="addModal" data-id="null"> <i class="fa fa-download"></i>
                    {{ $ml.get("farmerGroupPage.addButton") }}
                </button>
                <a href="template-excel/farmergroup/template-farmergroup.xlsx" class="btn btn-primary square" target="_blank" ><i class="fa fa-download"></i> Download Template</a>
                <a href="template-excel/kode-wilayah.xlsx" class="btn btn-primary square" target="_blank" ><i class="fa fa-download"></i> Download Kode Wilayah</a>
                <button  type="button" class="btn btn-primary square" id="downloadFarmergroupExcel" > <i class="fa fa-download"></i>
                    {{ $ml.get("farmerGroupPage.download") }}
                </button>
                </div>
            </div>
            </div>
            <div class="row">
            <div class="col-lg-12">
                <table id="farmerGroupTable" class="table table-xs table-bordered table-striped display nowrap">
                    <thead>
                        <farmergroup-filter @filter-table ="searchTable"></farmergroup-filter>
                        <tr>
                        <th>
                            <fieldset>
                                <div class="custom-control custom-checkbox">
                                    <label class="custom-control custom-checkbox">
                                    <input type="checkbox"  class="checks check custom-control-input check_box_retail">
                                    <span class="custom-control-indicator"></span>
                                    </label>
                                </div>
                            </fieldset>
                        </th>
                        <th>{{ $ml.get("farmerGroupPage.table.one") }}</th>
                        <th>{{ $ml.get("farmerGroupPage.table.two") }}</th>
                        <th>{{ $ml.get("farmerGroupPage.table.three") }}</th>
                        <th>{{ $ml.get("farmerGroupPage.table.four") }}</th>
                        <th>{{ $ml.get("farmerGroupPage.table.five") }}</th>
                        <th>{{ $ml.get("farmerGroupPage.table.six") }}</th>
                        <th>{{ $ml.get("farmerGroupPage.table.seven") }}</th>
                        <th>{{ $ml.get("farmerGroupPage.table.eight") }}</th>
                        <th>{{ $ml.get("farmerGroupPage.table.nine") }}</th>
                        <th>{{ $ml.get("farmerGroupPage.table.ten") }}</th>
                        <th>{{ $ml.get("farmerGroupPage.table.eleven") }}</th>
                        <th>{{ $ml.get("farmerGroupPage.table.twelve") }}</th>
                        <th>{{ $ml.get("farmerGroupPage.table.thirteen") }}</th>
                        <th>{{ $ml.get("farmerGroupPage.table.fourteen") }}</th>
                        <th>{{ $ml.get("farmerGroupPage.table.fiveteen") }}</th>
                        <th>{{ $ml.get("farmerGroupPage.table.sixteen") }}</th>
                        <th>{{ $ml.get("farmerGroupPage.table.seventeen") }}</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>

            </div>
             <div class="row scroll-top">
                <div class="col-md-12">
                    <hr>
                    <div class="btn-group mr-1 mb-1 pull-right" v-if="access.U === true">
                    <button type="button" :disabled="loading.changeStatus" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i v-if="loading.changeStatus" class="fa fa-spin fa-refresh"></i>
                        Aksi
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" @click="action('s')" href="#">Submit</a>
                        <a class="dropdown-item" @click="action('d')" href="#">Unsubmit</a>
                        <a class="dropdown-item" @click="action('y')" href="#">Approve</a>
                        <a class="dropdown-item" @click="action('n')" href="#">Unapprove</a>
                        <a class="dropdown-item" @click="action('p')" href="#">Suspend</a>
                        <a class="dropdown-item" @click="action('y')" href="#">Unsuspend</a>
                    </div>
                    </div>
                </div>
            </div>

            <farmergroup-modal  :id="uuid" :editable="update" :auth="access" :tipedetail="titledetail" :listdata="lists" @load-table="dataRefresh">
            </farmergroup-modal>

            <farmergroup-upload v-if="showModalUpload" @trigger-modal="triggerModal">
            </farmergroup-upload>


    </div>
</template>


<script>
import FarmergroupUpload from './FarmergroupUpload';
import FarmergroupFilter from './FarmergroupFilter';
import FarmergroupModal from './FarmergroupModal'
export default {
    data(){
        return {
            uuid:null,
            titledetail:'',
            modaldata:false,
            modaldetail:false,
            update:false,
            checked:true,
            showModalUpload: false,
            loading:{
                changeStatus: false
            },
            lists:[],
            formSearch :{
                sales_org_name:'',
                sales_org_id:'',
                name:'',
                retail_id:'',
                retail_name:'',
                status:'',
                address:'',
                sales_office_name:'',
                sales_group_name:'',
                sales_unit_name:'',
                village:'',
                sub_sector_id:'',
                commodity_id:'',
                qty_group:'',
                longitude:'',
                created_at:'',
                updated_at:''
            },
            checkeds:[],
            access:[]
        }
    },
    created() {
        const encodeAccess = decodeURIComponent(this.$route.params.access);
        const decodeAccess = this.toText(this.decrypt(encodeAccess));
        const arrAccess = decodeAccess.split(",");
        if(arrAccess) {
        arrAccess.map((data) => {
            if(data === 'C' || data === 'R' || data === 'U' || data === 'D' || data === 'A') {
            this.access[data] = true
            }
        })

        } else {
        this.$router.push({path: '/home'});
        toastr.error('Permission can not open this page', 'Error');
        }
    },
    mounted() {
        var app=this;
        var idx = (app.$route.params.id != undefined) ? '/cust_id/'+app.$route.params.id : '';
        $(document).ready(function(){
            app.table=$('#farmerGroupTable').DataTable({
                processing:true,
                serverSide:true,
                searching:false,
                "scrollX": "99.99%",
                lengthMenu: [
                    [ 20, 50, 100, -1 ],
                    [ '20 baris', '50 baris', '100 baris', 'Lihat Semua' ]
                ],
                "dom": 'Bltrip',
                "buttons": [
                    {
                        extend: 'excel',
                        className: 'btn-danger square mb-1 downloadFarmergroupExcel',
                        text: "Download Pengecer ke Excel",
                        filename: 'Data Kelompok Tani',
                        title: ''
                    }
                ],
                ajax:{
                    'url': 'api/farmergroup'+idx,
                    'type': 'GET',
                    'data': function(d){
                        d.sales_org_name=app.formSearch.sales_org_name,
                        d.sales_org_id=app.formSearch.sales_org_id,
                        d.name=app.formSearch.name,
                        d.retail_id=app.formSearch.retail_id,
                        d.retail_name=app.formSearch.retail_name,
                        d.status=app.formSearch.status,
                        d.address=app.formSearch.address,
                        d.sales_office_name=app.formSearch.sales_office_name,
                        d.sales_group_name=app.formSearch.sales_group_name,
                        d.sales_unit_name=app.formSearch.sales_unit_name,
                        d.village=app.formSearch.village,
                        d.sub_sector_id=app.formSearch.sub_sector_id,
                        d.commodity_id=app.formSearch.commodity_id,
                        d.qty_group=app.formSearch.qty_group,
                        d.longitude=app.formSearch.longitude,
                        d.created_at=app.formSearch.created_at,
                        d.updated_at=app.formSearch.updated_at
                    },
                    'beforeSend': function (request) {
                        var token = localStorage.getItem("default_auth_token");
                        request.setRequestHeader("Authorization", "Bearer "+token);
                        request.setRequestHeader("lang",  localStorage.getItem('app-lang'));
                    },
                },
                 "columnDefs": [
                    { "orderable": false, "targets": 0 }
                 ],
                columns :[

                    {
                        data: 'uuid',
                        render:function(data,t,f) {
                           const check =    '<fieldset>'+
                                                '<label class="custom-control custom-checkbox">'+
                                                '<input type="checkbox"  class="checkselect check custom-control-input check_box_retail" value="'+data+'"  >'+
                                                '<span class="custom-control-indicator" style="margin-left: 1.5rem;"></span>'+
                                                '</label>'+
                                            '</fieldset>';
                            return check;
                        }
                    },
                    {data: 'sales_org_name' , name:'sales_org_name'},
                    {data: 'sales_org_id' , name:'sales_org_id'},
                    {   data: 'name',
                        name: 'name',
                        render:function(d,t,f){
                            return '<a href="#" class="openformModal" data-id="'+f.uuid+'">'+d+'</a>'
                        }
                    },
                    {data: 'retail_id' , name:'retail_id'},
                    {data: 'retail_name' , name:'retail_name'},
                    {data: 'status' , name:'status'},
                    {data: 'address' , name:'address'},
                    {data: 'sales_office_name' , name:'sales_office_name'},
                    {data: 'sales_group_name' , name:'sales_group_name'},
                    {data: 'sales_unit_name' , name:'sales_unit_name'},
                    {data: 'village' , name:'village'},
                    {   data: 'sub_sector_id' ,
                        render:function(data,t,f){
                            return '<a href="#" class="detail" data-id="'+data+'" data-names="Sub Sector">Lihat</a>'
                        }
                    },
                    {   data: 'commodity_id' ,
                        render:function(data,t,f){
                            return '<a href="#" class="detail" data-id="'+data+'" data-names="Komoditas">Lihat</a>'
                        }
                    },
                    {data: 'qty_group' , name:'qty_group'},
                    {data: 'longitude' , name:'longitude'},
                    {data: 'created_at' , name:'created_at'},
                    {data: 'updated_at' , name:'updated_at'}
                ]
            });
             new $.fn.dataTable.FixedColumns(app.table, {
                    leftColumns: 4,
                    heightMatch: 'auto'
                });
            $(document).on('change','.checks',function(){
                if($('.checks').is( ":checked" )===true){
                    $('.checkselect').prop('checked',true);
                    $('.checkselect:checkbox:checked').each(function(i){
                        app.checkeds.push($(this).val());
                    });
                }else{
                    $('.checkselect').prop('checked',false);
                    app.checkeds=[];
                }
            });

            $(document).on('change','.checkselect',function(){
                 $('.checks').prop('checked',false);
                 var uuids=$(this).val();
                 if($(this).is( ":checked" )===true){
                     app.checkeds.push(uuids);
                 }else{
                     app.removeA(app.checkeds, uuids);
                 }
            });

            $(document).on('click','.openformModal',function(e){
                e.preventDefault();
                app.update=true;
                app.uuid=$(this).data('id');
                 $("#addModalFarmergroup").modal("show");
            });

            $(document).on('click','.detail',function(e){
                e.preventDefault();
                app.lists=$(this).data('id').split(";");
                app.titledetail=$(this).data('names');
                console.log(app.lists);
                $('#checklistStatusList').modal('show');
                console.log('detail');
            });

             $("#downloadFarmergroupExcel").on("click", function(e){
                e.preventDefault();
                $(".downloadFarmergroupExcel").trigger('click');
            });

            $('#addModalFarmergroup').on('hidden.bs.modal', function () {
              console.log(app.update);
              if (app.update === false) {
                $('input[type=checkbox]').prop('checked',false);
              }
            })
        })
    },
    components:{
        FarmergroupFilter,
        FarmergroupModal,
        FarmergroupUpload
    },
    methods: {
        action(type){
            event.preventDefault();
            if(this.checkeds.length!=0){
                this.checkeds = this.checkeds.map(data => {
                    return {uuid: data, status: type}
                })
                this.saveAction();
            }else{
                toastr.warning("Silahakan Pilih Data terlebih dahulu", "Warning")
            }
        },
         removeA(array, id) {
            var index = array.indexOf(id);
            console.log(index);
            array.splice(index, 1);
        },
        saveAction(){
        this.axios.post('farmergroup/update/bulk', this.checkeds)
        .then((resp) => {
            toastr.success("Status berhasil di ubah", "Sukses")
            this.table.draw();
        })
        .catch((resp) => {
            toastr.warning("Status gagal di ubah", "Gagal")
        })
        .then((resp) => {
            this.checkeds = [];
            $(".check").prop('checked', false);
        });
        },
        addModal(){
            var app = this;
            app.update=false;
            app.uuid=null;
            $("#addModalFarmergroup").modal("show");
        },
        uploadFile (){
          //edit by syahril
          this.showModalUpload = true;
            // $('#uploadFarmergroupFile').modal('show');
        },
        triggerModal() {
          this.showModalUpload = false;
        },
        searchTable(obj) {
            this.formSearch = obj;
            this.table.draw();
        },
        dataRefresh(){
             this.table.draw();
             $("#addModalFarmergroup").modal("hide");
             this.uuid = null;
             this.update = false;
        },
        selectAll(){
            alert('a')
        }
    },
}
</script>


<style lang="css">
    .card-header {
        padding: 1rem 1rem;
    }
    .no-padding {
        padding-right: 0;
        padding-left: 0;
    }
     div.dt-buttons {
        float: right !important;
        display: none;
    }
   .scroll-top {
        position: fixed;
        right: 30px;
        bottom: 20px;
        z-index: 999;
        font-size: 22px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        border-radius: 30px;
    }
</style>
