<template lang="html">
  <div class="">
    <div class="modal fade" id="modalTableDetailPermentan" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Table Detail Alokasi Provinsi</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-12">
                <div class="pull-right">
                  <button :disabled="loading.changeStatus" type="button" class="btn btn-primary square" @click="action('n')" >
                    <i v-if="loading.changeStatus" class="fa fa-spin fa-refresh"></i>
                    Deaktif
                  </button>
                  <button :disabled="loading.changeStatus" type="button" class="btn btn-primary square" @click="action('y')" >
                    <i v-if="loading.changeStatus" class="fa fa-spin fa-refresh"></i>
                    Aktif
                  </button>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12  table-responsive">
                <table id="tableDetailPermentan" class="table table-xs table-bordered table-striped display nowrap">
                  <thead>
                    <tr>
                      <th>
                        <fieldset>
                          <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input check_all_permentan" value="all">
                            <span class="custom-control-indicator"></span>
                          </label>
                        </fieldset>
                      </th>
                      <th>Provinsi</th>
                      <th>Produk</th>
                      <th>Qty</th>
                      <th>Bulan</th>
                      <th>Tahun</th>
                      <th>Tanggal</th>
                      <th>Status</th>
                      <th>Aksi</th>
                    </tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="modal-footer">
          </div>
        </div>
      </div>
    </div>
    <form-permentan v-if="formModal" :contractGovId="contractGovId" :uuid="uuid" :dataProvinsi="dataProvinsi" @trigger-modal="triggerModal"></form-permentan>
  </div>
</template>

<script>
import FormPermentan from './FormPermentan';
export default {
  data: function(){
    return {
      dt: null,
      loading: {
        changeStatus: false
      },
      dataProvinsi: {},
      check: [],
      uuid: null,
      contractGovId: null,
      formModal: false
    }
  },
  components: {
    FormPermentan
  },
  mounted() {
    var app = this;
    $("#modalTableDetailPermentan").modal("show");
    $("#modalTableDetailPermentan").on("hidden.bs.modal", function(){
      app.closeModal();
    });
    $(document).on("click", ".check_all_permentan", function(e){
      $('.check_box_permentan').not(this).prop('checked', this.checked);
      $('.check_box_permentan').not(this).each(function(index, el) {
        var value = {id: $(this).val()};
        if(this.checked){
          if(value != 'all' && !app.check.includes(value)){
            app.check.push(value);
          }
        } else {
          app.check = [];
        }
      });
    })
    $(document).on("click", "#check_permentant", function(e){
      var value = {id: $(this).val()};
      if(this.checked){
        app.check.push(value);
      } else {
        app.removeA(app.check, value.id);
      }
    })
    $(document).on("click", "#editDetailPermentan", function(e) {
      e.preventDefault();
      let uuid = $(this).data("uuid");
      let contractGovId = $(this).data("contract_gov_id");
      app.uuid = uuid;
      app.contractGovId = contractGovId;
      app.dataProvinsi = {
        id: $(this).data("sales_office_id"),
        name: $(this).data("sales_office_name")
      }
      app.formModal = true;
    })
    $(document).on("click", "form", function(e){
      let form = $(this);
      form.find("input").show(() => {
        form.find("span").hide();
      })
    })
    $(document).on("submit", "form", function(e){
      e.preventDefault();
      const form = $(this);
      form.find("input").hide(() => {
        form.find("div.loading-form").show();
      });
      setTimeout(function(){
        form.find("div.loading-form").hide(() => {
          form.find("span").show();
        });
      }, 3000);
      let newVal = form.find("input").val();
      form.find("span").html(newVal);
    })
    app.tableDetailPermentan();
  },
  methods: {
    numberFormat(value) {
      value = value.toString();
      return this.numberEngine(value)
    },
    numberEngine(n, c, d, t) {
      var c = isNaN(c = Math.abs(c)) ? 2 : c,
        d = d == undefined ? "," : d,
        t = t == undefined ? "." : t,
        s = n < 0 ? "-" : "",
        i = String(parseInt(n = Math.abs(Number(n) || 0).toFixed(c))),
        j = (j = i.length) > 3 ? j % 3 : 0;

      return s + (j ? i.substr(0, j) + t : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : "");
    },
    closeModal() {
      this.$emit("trigger-modal", true);
    },
    triggerModal() {
      this.formModal = false
      this.dt.draw();
      $("body").addClass('modal-open')
    },
    tableDetailPermentan() {
      var app = this;
      app.dt = $("#tableDetailPermentan").DataTable({
        processing: true,
        serverSide: true,
        searching: false,
        lengthMenu: [
          [ 20, 50, 100, -1 ],
          [ '20 baris', '50 baris', '100 baris', 'Lihat Semua' ]
        ],
        ajax : {
          'url': '/api/permentan/item/list/'+app.$route.params.uuid,
          'type': 'GET',
          'beforeSend': function (request) {
              var token = localStorage.getItem("default_auth_token");
              request.setRequestHeader("Authorization", "Bearer "+token);
              request.setRequestHeader("lang",  localStorage.getItem('app-lang'));
          },
          data: function(d){}
        },
        "columnDefs": [
          { "orderable": false, "targets": 0 }
        ],
        columns :[
          {
            data: 'uuid_item',
            render: function(data, type, full) {
              const check = '<fieldset>'+
                              '<label class="custom-control custom-checkbox">'+
                                '<input type="checkbox" id="check_permentant" class="custom-control-input check_box_permentan" value="'+data+'">'+
                                '<span class="custom-control-indicator"></span>'+
                              '</label>'+
                            '</fieldset>';
              return check;
            }
          },
          {data: 'sales_office_name',name: 'sales_office_name'},
          {data: 'name_product', name: 'name_product'},
          {data: 'initial_qty', name: 'initial_qty', render: function(d,t,y){
            const html = '<form>'+
                            '<div class="loading-form" style="display:none">Please Wait..</div>'+
                            '<span>'+app.numberFormat(d)+'</span>'+
                            '<input type="text" style="display:none;" value="'+d+'" />'+
                         '</form>';
            return html
          }},
          {data: 'month', name: 'month', render: function(data, type, full){
            return ('0' + data).slice(-2)
          }},
          {data: 'year', name: 'year', render: (d,t,f) => {
            const html = '<form>'+
                            '<div class="loading-form" style="display:none">Please Wait..</div>'+
                            '<span>'+d+'</span>'+
                            '<input type="text" style="display:none;" value="'+d+'" />'+
                         '</form>';
            return html;
          }},
          {data: 'created_at', name: 'created_at'},
          {data: 'status_name', name: 'status_name'},
          {
            data: 'status_name',
            render: function(data, type, full) {
              let buttonEdit = '';
              if(data == 'Inactive'){
                buttonEdit = 'Edit';
              } else {
                buttonEdit = '<a href="#" data-contract_gov_id="'+full.header_id+'" data-uuid="'+full.uuid_item+'" data-sales_office_name="'+full.sales_office_name+'" data-sales_office_id="'+full.sales_office_id+'" id="editDetailPermentan">Edit</a>';
              }
              return buttonEdit;
            }
          },
        ]
      })
      new $.fn.dataTable.FixedColumns(app.dt, {
          leftColumns: 2
      });
    },
    removeA(array, id) {
      var index = array.map(x => {
        return x.id;
      }).indexOf(id);
      array.splice(index, 1);
    },
    action(type) {
      event.preventDefault();
      this.loading.changeStatus = true;
      this.check = this.check.map(data => {
        return {id: data.id, status: type}
      })
      this.saveAction();
    },
    saveAction() {
      this.axios.post('permentan/update/bulk', this.check)
      .then((resp) => {
        toastr.success("Status berhasil di ubah", "Sukses")
        this.loading.changeStatus = false;
        this.dt.draw();
        this.check = [];
        $(".check_all_permentan").prop('checked', false);
      })
      .catch((resp) => {
        toastr.warning("Status gagal di ubah", "Gagal")
        toastr.error(resp.response.data.message, "Pesan")
        this.loading.changeStatus = false;
        this.check = [];
        $(".check_all_permentan").prop('checked', false);
      })
    }
  }
}
</script>

<style lang="css" scoped>
</style>
