<template>
  <div>
    <div class="modal fade" id="perbupUpload" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Upload data</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="">Upload Alokasi Kecamatan</label>
              <input type="file" ref="file" class="form-control"
              accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
              @change="handleFileUpload()">
              <p class="help-block">File harus berformat xlsx/xls</p>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
            <button type="button" @click="sendXhr()" class="btn btn-primary" :disabled="loading">
              <i class="fa fa-spin fa-refresh" v-if="loading"></i>
              {{ (loading) ? 'Mengunggah..' : 'Unggah' }}
            </button>
           </div>
         </div>
       </div>
     </div>
  </div>
</template>

<script>
  export default {
    data: function() {
      return {
        excelFile: '',
        file: '',
        error: false,
        loading: false
      }
    },
    mounted() {
      var app = this;
      $("#perbupUpload").modal("show");
      $("#perbupUpload").on("hidden.bs.modal", function() {
        app.closeModal();
      })
    },
    methods:{
      closeModal() {
        this.$emit("trigger-modal");
      },
      handleFileUpload(){
        this.excelFile = this.$refs.file.files[0];
        this.file = this;
      },
      sendXhr() {
        event.preventDefault();
        this.loading = true;
        let app = this;
        let formData = new FormData();
        formData.append('file', this.excelFile);

        this.axios.post('perbup/upload', formData, { headers : {'Content-Type' : 'multipart/form-data'} })
        .then((resp) => {
          var warning="<ul>"; var flag_warning=false;
          $.each(resp.data.warning,function(index,value){
              flag_warning=true;
              warning+="<li>"+value[0]+"</li>";
          });
          warning+="</ul>";
          if(flag_warning)
          {
            toastr.warning(warning, 'Warning Jumlah Ammount Melebihi Permentan');
          }
          toastr.success('Succes Uploaded', 'Import excel');
          $("#perbupUpload").modal("hide");
          this.error = false;
        })
        .catch((resp) => {
          toastr.error("Import Excel", 'Gagal');
          if(typeof resp.response.data.message === 'object'){
            let pesan1 = (typeof resp.response.data.errors === 'string') ? resp.response.data.errors : 'Gagal';
            var errors_msg="<ul>"; var err_msg=false;
            $.each(resp.response.data.message,function(index,value){
                err_msg=true;
                errors_msg+="<li>"+value[0]+"</li>";
            });
            errors_msg+="</ul>";

            if(err_msg)
            {
              toastr.error(errors_msg, pesan1);
            }
          } else if(typeof resp.response.data.erros === 'object'){
            let pesan2 = (typeof resp.response.data.message === 'string') ? resp.response.data.message : 'Gagal';
            var errors="<ul>"; var err=false;
            $.each(resp.response.data.erros,function(index,value){
                err=true;
                errors+="<li>"+value[0]+"</li>";
            });
            errors+="</ul>";

            if(err)
            {
              toastr.error(errors, pesan2);
            }
          }
          
          this.error = true;
          this.loading = false;
        })
        .then((resp) => {
          this.loading = false;
        })
      }
    }
  }
</script>
