<template lang="html">
  <div>
    <div class="row">
      <div class="col-md-12">
        <div class="pull-right">
          <button type="button" @click="download()" :disabled="loadBtnDownload" class="btn btn-primary square"><i class="fa fa-download"></i> Download</button>
        </div>
      </div>
      <div class="col-md-12">
        <table id="tableMonitoringDf" class="table table-xs table-bordered table-striped display nowrap">
          <thead>
            <monitoring-df-filter :reset="resetStatus" @search-table="searchTable"></monitoring-df-filter>
            <tr>
              <th>No Penebusan</th>
              <th>Kode Referensi</th>
              <th>Distributor</th>
              <th>Produsen</th>
              <th>Bank</th>
              <th>Tgl. Pelunasan</th>
              <th>Tgl. Rencana</th>
              <th>Tgl. Order</th>
              <th>Status</th>
              <th>Status Disbursment</th>
              <th>Error Message</th>
              <th>Kode SO</th>
              <th>Provinsi</th>
              <th>Kabupaten</th>
              <th>Tipe Pembayaran</th>
              <th>Total Harga</th>
              <th>Status Send</th>
              <th>Error Message</th>
              <th>Jumlah Percobaan</th>
              <th>Aksi</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
    <modal-confirm v-if="kirimUlang.confirm" :uuid="kirimUlang.uuid" :text="'Apakah anda yakin ?'" @is-delete="kirimUlangInvoice" @trigger-modal="triggerModal"></modal-confirm>
		<status-order v-if="modalDf.showChangeStatus" :uuid="modalDf.uuid" :number="modalDf.number" :customer_name="modalDf.customer_name" :date="modalDf.date" :status="modalDf.status"  @trigger-modal="triggerModalChangeStatus"></status-order>
  </div>
</template>

<script>
import MonitoringDfFilter from './MonitoringDfFilter';
import ModalConfirm from '../../global/ModalConfirm';
import StatusOrder from './modal/StatusOrder';
import axiosh2h from 'axios';
import { wcmBaseUrl } from '../../../config/environment';
export default {
  props: ['access'],
  data: function() {
    return {
			role_id: null,
      dt: null,
      resetStatus: false,
      searchMonitoringDf: {},
      kirimUlang : {
        confirm: false,
        uuid: null
      },
			modalDf: {
        show: false,
        showConfirm: false,
        showChangeStatus: false,
        uuid: null,
        sonumber: null,
        number: null,
        date: null,
        status: null,
        text: 'Anda akan membatalkan SO ini, apakah anda yakin ?',
      },
      loadBtnDownload:false,
    }
  },
  components: {
    MonitoringDfFilter, ModalConfirm, StatusOrder
  },
  created() {

  },
  mounted() {
    const app = this;
		app.userProfile()
    $(document).on("click", "#resetFilterMonitoringDF", function(e){
      e.preventDefault()
      app.resetStatus = true;
      $('#resetFilterMonitoringDF').prop('disabled', true);

      setTimeout(() => {
        app.resetStatus = false;
        $('#resetFilterMonitoringDF').prop('disabled', false);
      }, 1000)
    })
   $(document).on("click", ".kirimInvoice", function(e){
      e.preventDefault()
      let id = $(this).data('id')
      var bank = $(this).data('bank');
      var uuid = $(this).data('uuid');
      let n = bank.includes(" ");
      if(n===true)
      {
        var res = bank.split(" ");
        bank = res[1];
      }
      let send = {bank, id, uuid}
      app.kirimUlang.confirm = true
      app.kirimUlang.uuid = send
    })
		$(document).on("click", "#changeStatusOrder", function(e){
        e.preventDefault()
        let uuid = $(this).data('uuid');
        let number = $(this).data('number');
        let customer_name = $(this).data('customer_name');
        let status_id = $(this).data('status-id');
        let status_name = $(this).data('status-name');
        let date = $(this).data('df_due_date');
        app.modalDf.showChangeStatus = true;
        app.modalDf.uuid = uuid;
        app.modalDf.status = {id: status_id, name: status_name};
        app.modalDf.date = (date) ? date.split("-").reverse().join("-") : '';
        app.modalDf.number = (number === null ? '-' : number);
        app.modalDf.customer_name = (customer_name === null ? '-' : customer_name);
      })
  },
  methods: {
		userProfile(){
      this.axios.get('user/profile')
      .then((resp) => {
        this.role_id = resp.data.data.role.role_id;
				this.tableMonitoringDf();
				$("div.dataTables_length").append(' <button id="resetFilterMonitoringDF" class="btn btn-sm btn-danger square"><i class="fa fa-times"></i> Reset Filter</button>');
      })
      .catch((resp) => {
        console.log(resp);
      })
      .then((resp) => {
        console.log(resp);
      })
    },
    tableMonitoringDf() {
      var app = this;
      app.dt = $("#tableMonitoringDf").DataTable({
        processing: true,
        serverSide: true,
        searching: false,
        "scrollX": true,
        "scrollCollapse": true,
        "scrollY":   "50vh",
        order: [[ 0, 'desc' ]],
        lengthMenu: [
          [ 20, 50, 100, -1 ],
          [ '20 baris', '50 baris', '100 baris', 'Lihat Semua' ]
        ],
        "dom": 'Bltrip',
        "buttons": [
          {
            extend: 'excel',
            className: 'btn-danger square mb-1 downloadMonitoringDf',
            text: "Download Monitoring DF ke Excel",
            title:"",
            filename:"Download Monitoring DF",
          }
        ],
        ajax: {
          'url': '/api/monitoringdf',
          'type': 'GET',
          'data': function(d) {
            d.no_penebusan = app.searchMonitoringDf.number,
            d.kode_referensi = app.searchMonitoringDf.reference_code,
            d.distributor = app.searchMonitoringDf.customer_name,
            d.produsen = app.searchMonitoringDf.sales_org_name,
            d.bank = app.searchMonitoringDf.bank_name,
            d.billing_fulldate = app.searchMonitoringDf.billing_fulldate,
            d.df_due_date = app.searchMonitoringDf.df_due_date,
            d.order_date = app.searchMonitoringDf.order_date,
            d.status_order = app.searchMonitoringDf.status_order,
            d.kode_so = app.searchMonitoringDf.so_number,
            d.provinsi = app.searchMonitoringDf.sales_office_name,
            d.sales_office_id = app.searchMonitoringDf.sales_office_id,
            d.kabupaten = app.searchMonitoringDf.sales_group_name,
            d.sales_group_id = app.searchMonitoringDf.sales_group_id,
            d.tipe_pembayaran = app.searchMonitoringDf.payment_method,
            d.status_sent = app.searchMonitoringDf.status_sent,
            d.disbursement_status_name = app.searchMonitoringDf.disbursement_status_name,
            d.total_price = app.searchMonitoringDf.total_price
           },
          'beforeSend': function (request) {
              var token = localStorage.getItem("default_auth_token");
              request.setRequestHeader("Authorization", "Bearer "+token);
              request.setRequestHeader("lang",  localStorage.getItem('app-lang'));
          }
        },
        columns: [
          { data: 'no_penebusan', name: 'no_penebusan', render : function(data, type, full){ return full.number; } },
          { data: 'kode_referensi', name: 'kode_referensi', render : function(data, type, full){ return full.reference_code; } },
          { data: 'distributor', name: 'distributor', render : function(data, type, full){ return full.customer_name; } },
          { data: 'produsen', name: 'produsen', render : function(data, type, full){ return full.sales_org_name; } },
          { data: 'bank', name: 'bank', render : function(data, type, full){ return full.bank_name; } },
          {data: 'billing_fulldate', name: 'billing_fulldate', render: function(data, type, full){
            return app.convertDate(data)
          }},
          {data: 'df_due_date', name: 'df_due_date', render: function(data, type, full){
            return app.convertDate(data)
          }},
          {data: 'order_date', name: 'order_date', render: function(data, type, full){
            return app.convertDate(data)
          }},
          {data: 'status_order', name: 'status_order'},
          {data: 'disbursement_status_name', name: 'disbursement_status_name'},
          {data: 'error_message_send_order', name: 'error_message_send_order'},
          { data: 'kode_so', name: 'kode_so', render : function(data, type, full){ return full.so_number; } },
          { data: 'provinsi', name: 'provinsi', render : function(data, type, full){ return full.sales_office_name; } },
          { data: 'kabupaten', name: 'kabupaten', render : function(data, type, full){ return full.sales_group_name; } },
          { data: 'tipe_pembayaran', name: 'tipe_pembayaran', render : function(data, type, full){ return full.payment_method; } },
          {data:'total_price_before_ppn', name:'total_price_before_ppn', render: function(d,t,f){
              const uang = (d != null && d != '') ? d.split('.')[0] : '';
              return app.moneyFormat(uang);
          }},
          {data: 'status_sent', name: 'status_sent'},
          {data: 'error_message_disbursement', name: 'error_message_disbursement'},
          {data: 'send_order_count', name: 'send_order_count'},
          {data: 'created_at', name: 'created_at', render: function(data, type, full){
              if(full.status_sent == 'Failed' && app.access.U){
								const bank_name = (full.bank_name != null) ? full.bank_name.toLowerCase() : null;
								const order_id = full.id;
								const buttonTrue = '<button data-id="'+order_id+'" data-bank="'+bank_name+'" data-uuid="'+full.uuid+'" class="'+full.uuid.split("-").join("_")+' btn btn-sm btn-warning square kirimInvoice"><i class="fa fa-send-o"></i> Kirim Ulang Invoice </button>';
								const buttonFalse = '';
								// let status_sent = (full.status_sent === 'Success') ? {id: 'y', name: 'Success'} : {id: 'n', name: 'Failed'};
								let status_sent_id = '';
								let status_sent_name = '';
								if(full.status_sent === 'Failed'){
									status_sent_id = 'n';
									status_sent_name = 'Failed';
								} else if (full.status_sent === 'Success'){
									status_sent_id = 'y';
									status_sent_name = 'Success';
								} 
								const changeStatusTrue = '<button id="changeStatusOrder" data-uuid="'+full.uuid+'" data-number="'+full.number+'" data-customer_name="'+full.customer_name+'" data-df_due_date="'+full.df_due_date+'" data-status-id="'+status_sent_id+'" data-status-name="'+status_sent_name+'" class="btn btn-sm btn-primary square"><i class="fa fa-edit"></i> Ubah Status</button>';
								const changeStatusFalse = '';
								let button = app.access.U ? buttonTrue : buttonFalse;
								let changeStatusOrder = app.role_id !== 4 ? changeStatusTrue : changeStatusFalse;
								return button+' '+changeStatusOrder;
              } else {
                return '-';
              }
          }},
        ]
      })
      new $.fn.dataTable.FixedColumns(app.dt, {
          leftColumns: 3
      });
    },

    kirimUlangInvoice(uuid) {
      const app = this;
      let bank = uuid.bank;
      let id = uuid.id;
      var getId = uuid.uuid.split("-").join("_")
      if(bank === null) {
        toastr.error('nama bank tidak di temukan')
        $("."+getId).attr("disabled", false);
        return
      }
      const baseUrl = wcmBaseUrl();
      $("."+getId).attr("disabled", true);
      $("."+getId+' i').removeClass('fa-send-o').addClass('fa-refresh fa-spin');
      // const uri = 'https://36.89.154.90:9903/api/payment_gateway/'+bank+'/invoice';
      const uri = `${baseUrl}/invoice/${bank}`;
      $.ajax({
          type: "POST", // define the type of HTTP verb we want to use (POST for our form)
          url: uri, // the url where we want to POST
          data: {order_id:id},
          beforeSend: function(request) {
            var token = localStorage.getItem("default_auth_token");
            request.setRequestHeader("Authorization", "Bearer "+token);
            request.setRequestHeader("lang",  localStorage.getItem('app-lang'));
          },
          dataType: 'json',
      }).done(function(data) {
        app.dt.draw()
        toastr.success(data.responseJSON.message)
        $("."+getId+' i').removeClass('fa-refresh fa-spin').addClass('fa-send-o');
        $("."+getId).attr("disabled", false);
      }).fail(function(data) {
        $("."+getId).attr("disabled", false);
        toastr.error(data.responseJSON.error_msg)
        app.dt.draw()
      });
    },

    triggerModal() {
      this.kirimUlang.confirm = false
      this.kirimUlang.uuid = null
    },

		triggerModalChangeStatus() {
      this.modalDf.showChangeStatus = false
      this.modalDf.uuid = null
      this.modalDf.number = null
      this.modalDf.customer_name = null
			this.dt.draw()
    },

    download() {
      // $(".downloadMonitoringDf").trigger('click')
      this.loadBtnDownload = true;
      this.axios({
        url: 'monitoringdf/download',
        params: {
            no_penebusan : this.searchMonitoringDf.number,
            kode_referensi : this.searchMonitoringDf.reference_code,
            distributor : this.searchMonitoringDf.customer_name,
            produsen : this.searchMonitoringDf.sales_org_name,
            bank : this.searchMonitoringDf.bank_name,
            billing_fulldate : this.searchMonitoringDf.billing_fulldate,
            df_due_date : this.searchMonitoringDf.df_due_date,
            order_date : this.searchMonitoringDf.order_date,
            status_order : this.searchMonitoringDf.status_order,
            kode_so : this.searchMonitoringDf.so_number,
            provinsi : this.searchMonitoringDf.sales_office_name,
            sales_office_id : this.searchMonitoringDf.sales_office_id,
            kabupaten : this.searchMonitoringDf.sales_group_name,
            sales_group_id : this.searchMonitoringDf.sales_group_id,
            tipe_pembayaran : this.searchMonitoringDf.payment_method,
            status_sent : this.searchMonitoringDf.status_sent,
            disbursement_status_name : this.searchMonitoringDf.disbursement_status_name,
            total_price : this.searchMonitoringDf.total_price
        },
        method: 'GET',
        responseType: 'blob', // important
      }).then((response) => {
         const url = window.URL.createObjectURL(new Blob([response.data]));
         const link = document.createElement('a');
         link.href = url;
         link.setAttribute('download', 'Download Monitoring DF.xls'); //or any other extension
         document.body.appendChild(link);
         link.click();
         this.loadBtnDownload = false;
      })
      .catch((resp) => {
        toastr.error("Gagal Download File", "Gagal") ;
        this.loadBtnDownload = false;      
      })
    },

    searchTable(obj) {
      this.searchMonitoringDf = obj;
      this.validateDatePelunasan(obj);
      this.validateDateRencana(obj);
      this.validateDateOrder(obj);
			if(this.dt !== null){
				this.dt.draw();
			}
    },

    validateDatePelunasan(obj) {
      if(obj.billing_fulldate && obj.billing_fulldate.from && obj.billing_fulldate.to) {
        this.searchMonitoringDf.billing_fulldate = obj.billing_fulldate.from+';'+obj.billing_fulldate.to;
      } else if (obj.billing_fulldate && obj.billing_fulldate.certain) {
        this.searchMonitoringDf.billing_fulldate = obj.billing_fulldate.certain;
      } else {
        this.searchMonitoringDf.billing_fulldate = '';
      }
    },

    validateDateRencana(obj) {
      if(obj.df_due_date && obj.df_due_date.from && obj.df_due_date.to) {
        this.searchMonitoringDf.df_due_date = obj.df_due_date.from+';'+obj.df_due_date.to;
      } else if (obj.df_due_date && obj.df_due_date.certain) {
        this.searchMonitoringDf.df_due_date = obj.df_due_date.certain;
      } else {
        this.searchMonitoringDf.df_due_date = '';
      }
    },

    validateDateOrder(obj) {
      if(obj.order_date && obj.order_date.from && obj.order_date.to) {
        this.searchMonitoringDf.order_date = obj.order_date.from+';'+obj.order_date.to;
      } else if (obj.order_date && obj.order_date.certain) {
        this.searchMonitoringDf.order_date = obj.order_date.certain;
      } else {
        this.searchMonitoringDf.order_date = '';
      }
    },

    moneyFormat(value) {
      return this.formatRupiah(value, "Rp. ")
    },

    formatRupiah(angka, prefix) {
      var separator;
      var number_string = angka.replace(/[^,\d]/g, '').toString(),
      split   		= number_string.split(','),
      sisa     		= split[0].length % 3,
      rupiah     		= split[0].substr(0, sisa),
      ribuan     		= split[0].substr(sisa).match(/\d{3}/gi);
      if(ribuan){
        separator = sisa ? '.' : '';
        rupiah += separator + ribuan.join('.');
      }
      rupiah = split[1] != undefined ? rupiah + ',' + split[1] : rupiah;
      return prefix == undefined ? rupiah : (rupiah ? 'Rp. ' + rupiah : '');
    },

  }
}
</script>

<style media="screen">
  .downloadMonitoringDf {
    display: none !important;
  }
</style>
