<template>
  <div>
    <div class="row">
      <div class="col-md-12">
        <div class="pull-right">
          <button type="button" :disabled="loadingButton" @click="download()" class="btn btn-primary square" name="button">
            <i class="fa fa-download"></i> {{ loadingButton ? 'Memuat..' : 'Download' }}
          </button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <table id="DataTablePenyaluranDo" class="table table-xs table-bordered table-striped display nowrap">
          <thead>
            <penyaluran-do-filter :reset="resetStatus" @search-table="searchTable"></penyaluran-do-filter>
            <tr>
              <th>Produsen</th>
              <th>Kode SO</th>
              <th nowrap>No. Penebusan</th>
              <th>dok</th>
              <th>#</th>
              <th>Distributor</th>
              <th>Total Kuantitas SO</th>
              <th>Total Kuantitas DO</th>
              <th>Total Penyaluran</th>
              <th>Sisa Kuantitas DO</th>
              <th>Incoterm</th>
              <th>Provinsi</th>
              <th>Kabupaten</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
    <penyaluran-do-modal-form v-if="modalForm" :number="number" :distribution_date="distribution_date" @trigger-modal="triggerModal"></penyaluran-do-modal-form>
  </div>
</template>

<script>
import PenyaluranDoFilter from './PenyaluranDoFilter';
import PenyaluranDoModalForm from './PenyaluranDoModalForm';
export default {
  props: ['access'],
  data: function() {
    return {
      distribution_date: '',
      dt: null,
      penyaluranDoFilter: {},
      modalForm: false,
      resetStatus: false,
      loadingButton: false,
      number: null
    }
  },
  components: {
    PenyaluranDoFilter, PenyaluranDoModalForm
  },
  created() {

  },
  mounted() {
    var app = this;
    app.DataTablePenyaluranDo();
    $("div.dataTables_length").append(' <button id="resetFilterPenyaluranDo" class="btn btn-sm btn-danger square"><i class="fa fa-times"></i> Reset Filter</button>');

    $(document).on("click", "#resetFilterPenyaluranDo", function(e){
      e.preventDefault()
      app.resetStatus = true;
      $('#resetFilterPenyaluranDo').prop('disabled', true);

      setTimeout(() => {
        app.resetStatus = false;
        $('#resetFilterPenyaluranDo').prop('disabled', false);
      }, 1000)
    })
    $(document).on("click", "#create", function(e){
      e.preventDefault();
      let number = $(this).data("number");
      app.number = number;
      app.modalForm = true;
    })
    $(document).on("click", "#detailList", function(e) {
      e.preventDefault();
      let uuid = $(this).data("uuid");
      let number_order = $(this).data("number_order");
      let access = encodeURIComponent(app.$route.params.access);
      app.$router.push({path: '/'+access+'/laporan/list-penyaluran-do/detail/'+uuid+'/'+number_order});
    })
  },
  methods: {
    DataTablePenyaluranDo() {
      var app = this;
      app.dt = $("#DataTablePenyaluranDo").DataTable({
        processing: true,
        serverSide: true,
        searching: false,
        scrollX: "99.99%",
        scrollY : "50vh",
        scrollCollapse: true,
        "order": [[ 1, 'desc' ]],
        lengthMenu: [
          [ 20, 50, 100, -1 ],
          [ '20 baris', '50 baris', '100 baris', 'Lihat Semua' ]
        ],
        "dom": 'Bltrip',
        "buttons": [
          {
            extend: 'excel',
            className: 'btn-danger square mb-1 DownloadPenyaluranDo',
            text: "Download Penyaluran DO",
            title:"",
            filename:"Download Penyaluran DO",
          }
        ],
        ajax: {
          'url': '/api/supplydo',
          'type': 'GET',
          'data': function(d) {
            d.sales_org_name = app.penyaluranDoFilter.sales_org_name,
            d.so_number = app.penyaluranDoFilter.so_number,
            d.number = app.penyaluranDoFilter.number,
            d.customer_name = app.penyaluranDoFilter.customer_name,
            d.so_qty = app.penyaluranDoFilter.so_qty,
            d.do_qty = app.penyaluranDoFilter.do_qty,
            d.totals = app.penyaluranDoFilter.totals,
            d.sisa_qty_do = app.penyaluranDoFilter.sisa_qty_do,
            d.delivery_method_name = app.penyaluranDoFilter.delivery_method_name,
            d.sales_office_name = app.penyaluranDoFilter.sales_office_name,
            d.sales_office_id = app.penyaluranDoFilter.sales_office_id,
            d.sales_group_name = app.penyaluranDoFilter.sales_group_name,
            d.sales_group_id = app.penyaluranDoFilter.sales_group_id
          },
          'beforeSend': function (request) {
              var token = localStorage.getItem("default_auth_token");
              request.setRequestHeader("Authorization", "Bearer "+token);
              request.setRequestHeader("lang",  localStorage.getItem('app-lang'));
          }
        },
        columns: [
          {data: 'sales_org_name', name: 'sales_org_name'},
          {data: 'so_number', name: 'so_number'},
          {data: 'number', name: 'number',},
          {
            data: 'number',
            name: 'number',
            render: function(data, type, full) {
              let totalDraft = '';
              let totalSubmit = '';

              if (full.qty_draft > 0) {
                totalDraft += '<span style="color:red;"> '+full.qty_draft+' Draft </span>';
              }

              if (full.qty_submit > 0) {
                totalSubmit += ' <span style="color:blue;"> '+full.qty_submit+' Submited </span>';
              }
              let access = encodeURIComponent(app.$route.params.access);
              const link = `<a href="/#/${access}/laporan/list-penyaluran-do/detail/${full.uuid}/${full.number_order}">Lihat Penyaluran ${totalDraft} ; ${totalSubmit} </a>`
              return link;
            }
          },
          {
            data: 'number',
            name: 'number',
            render: function(data, type, full) {
              let button = ''
              if(app.access.C) {
                if(parseFloat(full.sisa_final) === 0) {
                  button = '';
                } else {
                  button = '<button type="button" data-number="'+data+'" id="create" class="btn btn-primary btn-sm square">Buat Penyaluran</button>';
                }

              }
              return button;
            }
          },
          {data: 'customer_name', name: 'customer_name'},
          {data: 'so_qty', name: 'so_qty', render: function(d, t, f){
            return parseFloat(d).toFixed(3)
          }},
          {data: 'do_qty', name: 'do_qty', render: function(d, t, f){
            return parseFloat(d).toFixed(3)
          }},
          {data: 'totals', name: 'totals', render: function(d, t, f){
            return parseFloat(d).toFixed(3)
          }},
          {data: 'sisa_final', name: 'sisa_final', render: function(d, t, f){
            return parseFloat(d).toFixed(3)
          }},
          {data: 'delivery_method_name', name: 'delivery_method_name'},
          {data: 'sales_office_name', name: 'sales_office_name'},
          {data: 'sales_group_name', name: 'sales_group_name'},
        ]
      })
      new $.fn.dataTable.FixedColumns(app.dt, {
          leftColumns: 2
      })
    },

    searchTable(obj) {
      this.penyaluranDoFilter = obj;
      this.dt.draw();
    },

    download() {
      // $('.DownloadPenyaluranDo').trigger('click')
      this.loadingButton = true;
        this.axios({
          url: 'supply/download',
          params: {
            sales_org_name : this.penyaluranDoFilter.sales_org_name,
            so_number : this.penyaluranDoFilter.so_number,
            number : this.penyaluranDoFilter.number,
            customer_name : this.penyaluranDoFilter.customer_name,
            so_qty : this.penyaluranDoFilter.so_qty,
            do_qty : this.penyaluranDoFilter.do_qty,
            totals : this.penyaluranDoFilter.totals,
            sisa_qty_do : this.penyaluranDoFilter.sisa_qty_do,
            delivery_method_name : this.penyaluranDoFilter.delivery_method_name,
            sales_office_name : this.penyaluranDoFilter.sales_office_name,
            sales_office_id : this.penyaluranDoFilter.sales_office_id,
            sales_group_name : this.penyaluranDoFilter.sales_group_name,
            sales_group_id : this.penyaluranDoFilter.sales_group_id
          },
          method: 'GET',
          responseType: 'blob', // important
        }).then((response) => {
           const url = window.URL.createObjectURL(new Blob([response.data]));
           const link = document.createElement('a');
           link.href = url;
           link.setAttribute('download', 'Download Penyaluran DO.xls'); //or any other extension
           document.body.appendChild(link);
           link.click();
           this.loadingButton = false;
        })
        .catch((resp) => {
          toastr.error("Gagal Download File", "Gagal") ;
          this.loadingButton = false;      
        })
    },

    triggerModal(params = false) {
      if(params === 'RefreshTable'){
        this.dt.draw();
      }
      this.modalForm = false;
      this.number = null;
    }

  }
}
</script>

<style media="screen">
  .DownloadPenyaluranDo {
    display: none !important;
  }
</style>
