<template>
  <div class="modal fade" id="formMaterial" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Parameter Sinkron Material</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <div class="form-group">
                  <label>Produsen</label>
                  <select v-model="send.sales_org_id" class="form-control">
                    <option value="">Pilih..</option>
                    <option v-for="(dataProdusen, index) in produsen" :value="dataProdusen.id" >{{ dataProdusen.id }} - {{ dataProdusen.name }}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary square" data-dismiss="modal">Tutup</button>
          <button type="button" @click="resultYes" class="btn btn-primary square"> Start Sync &nbsp; <i class="fa fa-refresh"></i>  </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['type'],
  data: function() {
    return {
      result: false,
      produsen: [],
      product: [],
      send: {
        sales_org_id: ''
      }
    }
  },
  components: {

  },
  created() {
    this.getProdusen();
  },
  mounted() {
    var app = this;
    $('#formMaterial').modal({
        backdrop: 'static',
        keyboard: false
    });
    $("#formMaterial").modal('show');
    $("#formMaterial").on("hidden.bs.modal", function(){
      app.closeModal();
    })
  },
  methods: {
    resultYes() {
      $("#formMaterial").modal('hide');
      this.result = true;
    },
    getProdusen() {
      this.axios.get('company/produsen')
      .then((resp) => {
        this.produsen = resp.data.data
      })
      .catch((resp) => {
        toastr.error(resp.response.data.message)
      })
    },
    closeModal(){
      this.$emit('trigger-modal-form', this.result, this.type, this.send)
    }
  }
}
</script>

<style lang="css" scoped>
</style>
