<template lang="html">
  <div class="modal fade" id="syncConfirm" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Konfirmasi</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          <h5>Apakah anda yakin ingin men-sinkronisasi data ini ?</h5>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary square" data-dismiss="modal">Tutup</button>
          <button type="button" @click="resultYes" class="btn btn-primary square"> Start Sync &nbsp; <i class="fa fa-refresh"></i>  </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['type'],
  data: function() {
    return {
      result: false
    }
  },
  components: {

  },
  created() {

  },
  mounted() {
    var app = this;
    $('#syncConfirm').modal({
        backdrop: 'static',
        keyboard: false
    });
    $("#syncConfirm").modal('show');
    $("#syncConfirm").on("hidden.bs.modal", function(){
      app.closeModal();
    })
  },
  methods: {
    resultYes() {
      $("#syncConfirm").modal('hide');
      this.result = true;
    },
    closeModal(){
      this.$emit('trigger-modal', this.result, this.type)
    }
  }
}
</script>

<style lang="css" scoped>
</style>
