<template>
  <transition name="custom-classes-transition" enter-active-class="animated fadeInDown" leave-active-class="animated fadeOutUp">
    <tr style="background-color: #eee;" >
      <th class="fixed-one">
        <i @click="setCollapse(district.id)" class="buttonCollapse fa" :class="(icon) ? 'fa-minus' : 'fa-plus' "></i>
      </th>
      <th class="pinned head fixed-two" style="border-right: 1px solid black;" nowrap>
        {{ district.name }}
      </th>
      <template v-for="(total, i) in district.total">
        <th class="text-right">{{ numberFormat(total.so) }}</th>
        <th class="text-right">{{ (total.rdkk === 'undefined') ? 0 : numberFormat(total.rdkk) }}</th>
        <th class="text-right">{{ numberFormat(total.perbup) }}</th>
        <th v-if="status === 's'">{{ (total.sisa_rdkk === 'undefined') ? 0 : numberFormat(total.sisa_rdkk) }}</th>
        <th v-else class="text-right">{{ numberFormat(((total.sisa_rdkk === 'undefined') ? 0 : parseFloat(total.sisa_rdkk))) }}</th>
        <th v-if="status === 's'">{{ numberFormat(total.sisa_perbub) }}</th>
        <th v-else :style="((total.sisa_perbub - total.do) < 0) && 'color: red'" class="text-right">{{ numberFormat(parseFloat(total.sisa_perbub) - parseFloat(total.do)) }}</th>
        <th class="text-right" :style="(parseFloat(total.do_lama.toFixed(3)) > parseFloat(total.so.toFixed(3))) && 'color: red'">{{ numberFormat(total.do_lama) }}</th>
        <th style="border-right: 1px solid black;" class="text-right">{{ numberFormat(total.do) }}</th>
      </template>
    </tr>
  </transition>
</template>

<script>
export default {
  props: ['district', 'icon', 'status', 'header'],
  data: function() {
    return {

    }
  },
  methods: {
    setCollapse(id) {
      this.$emit('toggle-collapse-district', id);
    },
    numberFormat(value) {
      if(value < 0) {
        return value.toFixed(3).toString();
      } else {
        value = parseFloat(value).toFixed(3).toString();
        return this.numberEngine(value)
      }
    },
    numberEngine(angka, prefix){
			var number_string = angka.replace(/[^,\d]/g, ','),
			split   		= number_string.split(','),
			sisa     		= split[0].length % 3,
			numb     	  = split[0].substr(0, sisa),
			ribuan     	= split[0].substr(sisa).match(/\d{3}/gi);
 
			// tambahkan titik jika yang di input sudah menjadi angka ribuan
			if(ribuan){
				var separator = sisa ? '.' : '';
				numb += separator + ribuan.join('.');
			}
 
			numb = split[1] != undefined ? numb + ',' + split[1] : numb;
			return prefix == undefined ? numb : (numb ? 'Rp. ' + numb : '');
		}
  }
}
</script>

<style lang="css" scoped>
  th.head {
    padding-left: 2rem !important;
  }

  .buttonCollapse{
    cursor: pointer;
  }
  .fixed-one {
    position: sticky;
    position: -webkit-sticky;
    left: -1px;
    z-index: 3;
    padding: 5px;
    background-color: #f3f3f3;
  }
  .fixed-two {
    position: sticky;
    position: -webkit-sticky;
    left: 63px;
    z-index: 3;
    padding: 5px;
    background-color: #f3f3f3;
  }
</style>
