<template>
  <transition name="custom-classes-transition" enter-active-class="animated fadeInDown" leave-active-class="animated fadeOutUp">
    <tr >
      <td class="fixed-one"></td>
      <td class="pinned head fixed-two" style="border-right: 1px solid black;" nowrap>
        <span data-toggle="tooltip" data-placement="top" title="" :data-original-title="retail.code+' - '+retail.owner">{{ retail.name }}</span>
      </td>
      <template v-for="(total, i) in retail.data">
        <td class="text-right">{{ numberFormat(total.so) }}</td>
        <td class="text-right"></td>
        <td class="text-right"></td>
        <td class="text-right"></td>
        <td class="text-right"></td>
        <td class="text-right"></td>
        <td v-if="isDisabled" class="text-right" style="border-right: 1px solid black;">{{ numberFormat(total.do) }}</td>
        <td style="border-right: 1px solid black;" v-else class="text-right">
          <input type="text" v-restrict.number.decimal
          class="input form-control form-control-sm"
          v-model="total.do"
          v-on:keyup="onChange(total.id, total.sales_unit_id)"
          v-on:change="validateNumber(i, total.id, total.sales_unit_id)"
          >
        </td>
      </template>
    </tr>
  </transition>
</template>

<script>
import Vue from 'vue';
export default {
  props: ['retail', 'icon', 'status', 'header'],
  data: function() {
    return {
      isDisabled: (this.status != 'd' || this.retail.isVirtual == "1") ? true : false
    }
  },
  mounted() {
    // console.log(this.header.config_lintas_alur);
    $('[data-toggle="tooltip"]').tooltip();
  },
  methods: {
    setCollapse(id) {
      this.$emit('toggle-collapse-retail', id);
    },
    onChange(product_id, sales_unit_id) {
      let val = event.target.value;
      this.$emit('when-change', val, sales_unit_id, product_id);
    },
    validateNumber(i, id, sales_unit_id) {
      let val = this.retail.data[i].do;
      let arrNumber = val.split('.');
      if(arrNumber.length > 2 || val === '') {
        this.retail.data[i].do = 0;
        this.$emit('when-change', this.retail.data[i].do, sales_unit_id, id);
      }
    },
    numberFormat(value) {
      if(value < 0) {
        return value.toFixed(3).toString();
      } else {
        value = parseFloat(value).toFixed(3).toString();
        return this.numberEngine(value)
      }
    },
    numberEngine(angka, prefix){
			var number_string = angka.replace(/[^,\d]/g, ','),
			split   		= number_string.split(','),
			sisa     		= split[0].length % 3,
			numb     	  = split[0].substr(0, sisa),
			ribuan     	= split[0].substr(sisa).match(/\d{3}/gi);
 
			// tambahkan titik jika yang di input sudah menjadi angka ribuan
			if(ribuan){
				var separator = sisa ? '.' : '';
				numb += separator + ribuan.join('.');
			}
 
			numb = split[1] != undefined ? numb + ',' + split[1] : numb;
			return prefix == undefined ? numb : (numb ? 'Rp. ' + numb : '');
		}
  }
}
Vue.directive('restrict', {
  bind (el, binding) {
    el.addEventListener('keydown', (e) => {
      // delete, backpsace, tab, escape, enter,
      let special = [46, 8, 9, 27, 13]
      if (binding.modifiers['decimal']) {
        // decimal(numpad), period
        special.push(110, 190)
      }
      // special from above
      if (special.indexOf(e.keyCode) !== -1 ||
        // Ctrl+A
        (e.keyCode === 65 && e.ctrlKey === true) ||
        // Ctrl+C
        (e.keyCode === 67 && e.ctrlKey === true) ||
        // Ctrl+X
        (e.keyCode === 88 && e.ctrlKey === true) ||
        // home, end, left, right
        (e.keyCode >= 35 && e.keyCode <= 39)) {
        return // allow
      }
      if ((binding.modifiers['alpha']) &&
        // a-z/A-Z
        (e.keyCode >= 65 && e.keyCode <= 90)) {
        return // allow
      }
      if ((binding.modifiers['number']) &&
        // number keys without shift
        ((!e.shiftKey && (e.keyCode >= 48 && e.keyCode <= 57)) ||
        // numpad number keys
        (e.keyCode >= 96 && e.keyCode <= 105))) {
        return // allow
      }
      // otherwise stop the keystroke
      e.preventDefault() // prevent
    }) // end addEventListener
  } // end bind
}) // end directive
</script>

<style lang="css" scoped>
  td.head {
    padding-left: 4rem !important;
  }

  .buttonCollapse{
    cursor: pointer;
  }

  input {
    text-align: right;
  }

  .fixed-one {
    position: sticky;
    position: -webkit-sticky;
    left: -1px;
    z-index: 3;
    padding: 5px;
    background-color: #f3f3f3;
  }
  .fixed-two {
    position: sticky;
    position: -webkit-sticky;
    left: 63px;
    z-index: 3;
    padding: 5px;
    background-color: #f3f3f3;
  }
</style>
