<template lang="html">
  <tr class="filter">
    <th>
      <input type="text"
      id="no"
      v-model="pergub.pergub"
      class="form-control form-control-sm">
    </th>
    <th>
      <input type="text"
      id="provinsi_name"
      v-model="pergub.provinsi_name"
      class="form-control form-control-sm">
    </th>
    <th>
      <input type="text"
      v-model="pergub.produsen_name"
      v-on:keyup="search()"
      class="form-control form-control-sm">
    </th>
    <th>
      <input type="text"
      v-model="pergub.year"
      v-on:keyup="search()"
      class="form-control form-control-sm">
    </th>
    <th>
      <input type="text"
      v-model="pergub.created_at"
      v-on:keyup="search()"
      class="form-control form-control-sm">
      <!-- <date-filter @get-date="searchDateValidFrom" :type="type1"></date-filter> -->
    </th>
    <th>
      <filter-status :reset="reset" :checkedStatus="pergub.status_name" @get-check="searchTable" :label="btnStatus" :list="statusSearch"></filter-status>
    </th>
  </tr>
</template>
<script>
import Checklist from '../../filter/Checklist';
import Date from '../../filter/Date';

export default {
  data: function() {
    return {
      btnStatus: 'Filter Status',
      statusSearch: [
        {name: 'Active', value: 'y'},
        {name: 'Inactive ', value: 'n'},
        {name: 'Suspend', value: 'p'},
        {name: 'Draft', value: 'd'},
        {name: 'Submitted', value: 's'},
        {name: 'Partial Active', value: 'z'},
      ],
      type1: 'validFrom',
      pergub: {
        created_at: "",
        pergub: "",
        produsen_id: "",
        produsen_name: "",
        provinsi_id: "",
        provinsi_name: "",
        status_name: "",
        year: "",
      }
    }
  },
  mounted() {
    var app = this;
    $(document).ready(function() {

    });
    $(document).on("keyup", "#no", function(){
      app.pergub.pergub = $(this).val();
      app.search();
    })
    $(document).on("keyup", "#provinsi_name", function(){
      app.pergub.provinsi_name = $(this).val();
      app.search();
    })
  },
  components: {
    FilterStatus: Checklist,
    dateFilter: Date,
  },
  methods: {
    searchTable(obj) {
      var status = obj.join(';');
      this.pergub.status = status;
      this.search();
    },
    search() {
      event.preventDefault();
      this.$emit("search-table", this.pergub);
    },
    searchDateValidFrom(date = '') {
      if (date != '') {
        if (date != '') {
          this.pergub.created_at = {
            certain: (date.name === 'validFrom' && date.dateType === 'certain') && date.data.from,
            from: (date.name === 'validFrom' && date.dateType === 'range') && date.data.from,
            to: (date.name === 'validFrom' && date.dateType === 'range') && date.data.to
          }
        } else {
          this.pergub.created_at = ''
        }
        this.search()
      }
      // console.log(this.pergub.created_at);
    },
  }
}
</script>

<style lang="css">
  .button-filter {
    margin-bottom: 20px;
  }
</style>
