<template lang="html">
  <div class="content-body">
    <section class="row">
      <div class="col-sm-12">
        <div id="kick-start" class="card">
          <div class="card-content collapse show">
            <div class="card-body">
              <div class="row">
                <div class="col-md-12">
                  <div class="pull-right">
                    <button v-if="access.C === true" type="button" class="btn btn-primary square" v-on:click="uploadFile"> <i class="fa fa-upload"></i>
                      Upload Data
                    </button>
                    <a href="template-excel/pergub/Template_Pergub.xls" class="btn btn-primary square" target="_blank" ><i class="fa fa-download"></i> Download Template</a>
                    <button  type="button" class="btn btn-primary square" id="downloadTableExcel" > <i class="fa fa-download"></i>
                      Download
                    </button>

                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="table-responsive">
                    <table id="pergubTable" class="table table-xs table-bordered table-striped display nowrap" style="width:100%">
                      <thead>
                        <pergub-filter @search-table="searchTable"> </pergub-filter>
                        <tr>
                          <th>No. PERGUB</th>
                          <th>Provinsi</th>
                          <th>Produsen</th>
                          <th>Tahun</th>
                          <th>Date Time</th>
                          <th>Status</th>
                        </tr>
                      </thead>
                      <tbody>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <pergub-upload v-if="modalUpload" @trigger-modal="triggerModal"></pergub-upload>
    </section>
  </div>
</template>

<script>
import PergubFilter from './PergubFilter.vue';
import PergubUpload from './PergubForm.vue';

export default {
  props: ['access'],
  data: function(){
    return {
      modalUpload : false,
      dt: '',
      loading:{
        changeStatus: false
      },
      pergubdt: {},
    }
  },
  components:{
    PergubUpload,
    PergubFilter,
    // PergubForm,
  },
  mounted(){
    var app = this;
    $(document).ready(function() {
      app.dt = $('#pergubTable').DataTable({
        processing: true,
        serverSide: true,
        searching: false,
        scrollX: "99.99%",
        order: [[ 4, 'desc' ]],
        lengthMenu: [
          [ 20, 50, 100, -1 ],
          [ '20 baris', '50 baris', '100 baris', 'Lihat Semua' ]
        ],
        "dom": 'Bltrip',
        "buttons": [
          {
            extend: 'excel',
            className: 'btn-primary square mb-1 downloadTableExcel',
            text: "Download Pergub ke Excel",
            title:"",
            filename:"Download Pergub ke Excel",
          }
        ],
        ajax:{
          'url': 'api/pergub',
          'type': 'GET',
          'data': function(d){
            d.pergub = app.pergubdt.pergub,
            d.provinsi_name = app.pergubdt.provinsi_name,
            d.produsen_name = app.pergubdt.produsen_name,
            d.year = app.pergubdt.year,
            d.created_at = app.pergubdt.created_at,
            d.status = app.pergubdt.status
          },
          'beforeSend': function (request) {
              var token = localStorage.getItem("default_auth_token");
              request.setRequestHeader("Authorization", "Bearer "+token);
              request.setRequestHeader("lang",  localStorage.getItem('app-lang'));
          }
        },
        "columnDefs": [
           // { "orderable": false, "targets": 0 }
        ],
        columns: [
            {
              data: 'pergub',
              render : function(data, type, full){
                const access = encodeURIComponent(app.$route.params.access);
                const link = `<a href="/#/${access}/alokasi/pergub/${full.uuid}">${data}</a>`
                return link
              }
            },
            {data: 'provinsi_name', name: 'provinsi_name'},
            {data: 'produsen_name', name: 'produsen_name'},
            {data: 'year', name: 'year'},
            {data: 'created_at', name: 'created_at', render: function(data, type, full){
              return app.convertDate(data)
            }},
            {data: 'status_name', name: 'status_name'},
        ]
      });
      new $.fn.dataTable.FixedColumns(app.dt, {
          leftColumns: 2,
          heightMatch: 'auto'
      });
      $("#downloadTableExcel").on("click", function(e){
        e.preventDefault();
        $(".downloadTableExcel").trigger('click');
      })

      $(document).on("click", "#detailData", function(e){
        e.preventDefault()
        var id = $(this).data("id");
        var no_pergub = $(this).data("no");
        var access = app.$route.params.access;
        app.$router.push({path: '/'+encodeURIComponent(access)+'/alokasi/pergub/'+id});
      })

    })
  },
  methods: {
    searchTable(obj){
      this.pergubdt = obj;
      this.dt.draw();
      // this.validFrom(obj);
    },
    uploadFile (){
        this.modalUpload = !this.modalUpload;
    },
    triggerModal(params = false){
      if(params === 'RefreshTable'){
        this.dt.draw();
      }
      this.modalUpload = false;
    },
    validFrom(obj) {
      if(obj.created_at && obj.created_at.from && obj.created_at.to) {
        this.pergubdt.created_at = obj.created_at.from+';'+obj.created_at.to;
      } else if (obj.created_at && obj.created_at.certain) {
        this.pergubdt.created_at = obj.created_at.certain;
      } else {
        this.pergubdt.created_at = '';
      }
    },
  }
}
</script>

<style lang="css">
div.dt-buttons {
  float: right !important;
  display: none;
}
</style>
