<template lang="html">
  <div>
    <form-loader :view="loadingComponent"></form-loader>
    <div v-if="!loadingComponent">
      <div class="row">
        <div class="col-md-12">
          <div class="box">
            <div class="row">
              <div class="col-md-9">
                <div class="pull-left">
                  <h3>Penyaluran Initial Stok F5 - {{ dataInitf5.header.number }}</h3>
                </div>
              </div>
              <div class="col-md-3">
                <div class="pull-right badge" :class="(dataInitf5.header.status === 'd') ? 'badge-danger' : 'badge-primary'">
    							<h4> {{ dataInitf5.header.status_name }} </h4>
    						</div>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-5">
                <dl class="row">
                    <dt class="col-sm-4">Produsen</dt>
                    <dd class="col-sm-8"> {{ dataInitf5.header.sales_org_name }} </dd>
                </dl>
                <dl class="row">
                    <dt class="col-sm-4">Distributor</dt>
                    <dd class="col-sm-8">{{ dataInitf5.header.customer_id }} - {{ dataInitf5.header.customer_name }} </dd>
                </dl>
              </div>
              <div class="col-md-6">
                <dl class="row">
                    <dt class="col-sm-4">Tujuan</dt>
                    <dd class="col-sm-8"> {{ dataInitf5.header.sales_group_id }} - {{ dataInitf5.header.sales_group_name }} </dd>
                </dl>
                <dl class="row">
                    <dt class="col-sm-4">Periode Pelaporan</dt>
                    <dd class="col-sm-8">{{ dataInitf5.header.year }}-{{ dataInitf5.header.month }} </dd>
                </dl>
                <dl class="row">
                    <dt class="col-sm-4">Tanggal Penyaluran</dt>
                    <dd class="col-sm-8"> {{ dataInitf5.header.distribution_date }} </dd>
                </dl>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="table-responsive">
            <table id="tableHirarkiPenyaluranDo" class="table table-xss table-bordered display nowrap">
              <thead>
                <tr>
                  <th></th>
                  <th>Nama</th>
                  <th v-for="(header, i) in dataInitf5.data.header"> {{ header.name }} <span v-if="header.id === 'P51'">(LITER)</span><span v-else>(TON)</span> </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th></th>
                  <th></th>
                  <td v-for="(dataHeader, i) in dataInitf5.data.header">
                    <small>Initial Stok:
                      <span class="pull-right"> {{ parseFloat(dataHeader.qty).toFixed(3) }} </span>
                    </small>
                    <br>
                    <small>Penyaluran:
                      <span class="pull-right"> {{ parseFloat(dataHeader.reduce).toFixed(3) }} </span>
                    </small>
                    <br>
                    <small>Tersedia:
                      <span class="pull-right" :style="(parseFloat(dataHeader.balance) < 0) && 'color: red'"> {{ parseFloat(dataHeader.balance).toFixed(3) }} </span>
                    </small>
                    <br>
                  </td>
                </tr>
                <template v-for="(district, i) in dataInitf5.data.kecamatan">
                  <district-row
                  :status="dataInitf5.header.status"
                  :district="district"
                  @toggle-collapse-district="toggleCollapseDistrict"
                  :icon="(collapse.district.includes(district.id)) ? true : false">
                  </district-row>
                  <template
                  v-if="collapse.district.includes(district.id)"
                  v-for="(retail, i) in district.retail">
                    <retail-row
                    :retail="retail"
                    :status="dataInitf5.header.status"
                    @toggle-collapse-retail="toggleCollapseRetail"
                    @when-change="whenChange"
                    >
                    </retail-row>
                  </template>
                </template>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div v-if="access.C" class="form-actions clearfix">
            <div class="buttons-group float-left">
              <button @click="goBack" type="button" class="btn btn-light mr-1">
                <i class="ft-x"></i> Kembali
              </button>
            </div>
            <div v-if="access.C" class="form-actions pull-right">
              <button type="button" v-if="dataInitf5.header.status != 's'" class="btn btn-success btn-square" @click="action('d')" :disabled="loadingButton">
                <i :class="(loadingButton) ? 'fa fa-spin fa-refresh' : '' "></i>
                {{ (loadingButton) ? 'Menyimpan' : 'Simpan' }}
               </button>
               <button type="button" v-if="dataInitf5.header.status != 's'" class="btn btn-primary btn-square" @click="action('s')" :disabled="loadingButton">
                 <i :class="(loadingButton) ? 'fa fa-spin fa-refresh' : '' "></i>
                 {{ (loadingButton) ? 'Menyimpan' : 'Submit' }}
                </button>
               <button type="button" v-if="dataInitf5.header.status === 's'" class="btn btn-primary btn-square" @click="action('d', false)" :disabled="loadingButton">
                 <i :class="(loadingButton) ? 'fa fa-spin fa-refresh' : '' "></i>
                 {{ (loadingButton) ? 'Menyimpan' : 'Unsubmit' }}
                </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import FormLoader from '../../../main/FormLoader';
import DistrictRow from './table/DistrictRow';
import RetailRow from './table/RetailRow';
export default {
  props: ['access'],
  data: function() {
    return {
      isRed: false,
      loadingButton: false,
      available: {},
      dataInitf5 : {},
      dataInitf5headerTemp : {},
      dataInitf5Temp : {},
      dataInitf5header : {},
      loadingComponent: false,
      collapse:{
        district : [],
        retail: []
      },
      save: []
    }
  },
  components: {
    FormLoader, DistrictRow, RetailRow
  },
  created() {
    this.getDataDetail()
  },
  mounted() {

  },
  methods: {
    goBack(){
      this.$emit('go-back');
    },
    getDataDetail() {
      this.loadingComponent = true;
      let uuid = this.$route.params.id;
      this.axios.get('penyaluraninitialstockf5/item/'+uuid)
      .then((resp) => {
        this.dataInitf5 = resp.data.data;
        const header = resp.data.data.data.header;
        const kecamatan = resp.data.data.data.kecamatan;
        let arrCpy = [...resp.data.data.data.header];
        let getCpy = arrCpy.map((prod) => {
          let arr = {};
          arr = { initial: prod.qty, id: prod.id, penyaluran: prod.reduce, tersedia: prod.balance }
          return arr;
        })
        this.dataInitf5header = getCpy;
        let objHeader = {}
        let arrHeader = []
        let objData = {}
        let arrData = []
        if(header.length > 0){
          header.map((item, key) => {
            objHeader = {
                balance: item.balance,
                id: item.id,
                name: item.name,
                qty: item.qty,
                reduce: item.reduce,
                qty_static: item.reduce,
                reduce_static: item.reduce,
                balance_static: item.balance,
              }
            arrHeader.push(objHeader)
          })
        }

        if(kecamatan.length > 0){
          kecamatan.map(district => {
              district.retail.map(totalDistrict => {
                totalDistrict.product.map((item, key) => {
                  objData = {
                      id: item.id,
                      name: item.name,
                      qty: item.qty,
                      qty_static: item.qty,
                    }
                  arrData.push(objData)
              })
            })
          })
        }
        this.dataInitf5headerTemp = arrHeader;
        this.dataInitf5Temp = arrData;

        this.setCollapseShow();
        this.loadingComponent = false;
      })
      .catch((resp) => {
        this.loadingComponent = false;
        toastr.error(resp.response.message);
        toastr.error(resp.response.error);
        this.$emit('go-back');
      })
    },

    setCollapseShow(){
      // set tersedia di header
      var obj = {};
      this.dataInitf5.data.header.map((dataHeader) => {
        var total_tersedia = isNaN(dataHeader.qty) === false && isNaN(dataHeader.reduce) === false ? parseFloat(dataHeader.qty) - parseFloat(dataHeader.reduce) : 0;
        var objalokasi = Object.assign(obj, {[dataHeader.id]: total_tersedia });
        this.available = objalokasi;
      })

      this.dataInitf5.data.kecamatan.map((district) => {
        this.collapse.district.push(district.id)
        district.retail.map((retail) => {
          this.collapse.retail.push(retail.id)
        })
      })
    },

    toggleCollapseDistrict(id) {
      const index = this.collapse.district.indexOf(id);
      if (index > -1) {
      	this.collapse.district.splice(index, 1)
      } else {
      	this.collapse.district.push(id)
      }
    },

    toggleCollapseRetail(id) {
      const index = this.collapse.retail.indexOf(id);
      if (index > -1) {
      	this.collapse.retail.splice(index, 1)
      } else {
      	this.collapse.retail.push(id)
      }
    },

    whenChange(value, sales_unit_id, product_id) {
      value = (value === '' || value === null) ? 0 : value;
      var newValue = 0;
      var objLimit = {}
      let getLimit = this.dataInitf5.header.products_limit.map((limit) => {
        objLimit[limit.product_id] = limit.qty
        return objLimit;
      })
			
      let limit_product = getLimit[0][product_id];
      const uom_limit = (product_id === 'P51') ? 'LITER' : 'TON';
      const prod_limit = (product_id === 'P51') ? parseInt(limit_product) : limit_product;
      this.dataInitf5.data.kecamatan.map((district) => {
        if(district.id === sales_unit_id) {
          district.product.map((totalDistrict) => {
            if(totalDistrict.id === product_id){
              if(!isNaN(value)) {
                let totalDoDistrict = 0;
                district.retail.map(retail => {
                  retail.product.map(total => {
                    if(total.id === product_id) {
                      let tDO = parseFloat(total.qty);
                      let tLM = parseFloat(limit_product);
                      let modulus_limit = (tDO * 1000) % (tLM * 1000);
                      if(tDO !== 0 && modulus_limit !== 0) {
                        toastr.warning(`Kuantiti harus kelipatan ${prod_limit} ${uom_limit}`);
                        total.qty = 0;
                      }
                      totalDoDistrict += (total.qty === '' || total.qty === null) ? 0 : parseFloat(total.qty)
                    }
                  })
                })
                totalDistrict.qty = totalDoDistrict;
              }
            }
          })
        }
      })
      const dataHeader = this.dataInitf5headerTemp;
      const dataTemp = this.dataInitf5Temp;
      let setQty;
      this.dataInitf5.data.header.map((prod, key) => {
        const setReduce = dataHeader[key].reduce_static;
        const setBalance = dataHeader[key].balance_static;
        this.dataInitf5header.map((header) => {
          if(prod.id === product_id && header.id === product_id) {
            let totalDoProduct = 0
            this.dataInitf5.data.kecamatan.map(district => {
              district.product.map((totalDistrict, keyDistrict) => {
                setQty = dataTemp[keyDistrict].qty_static;
                if(totalDistrict.id === product_id) {
                  if(setQty === value) {
                    prod.reduce = setReduce;
                    prod.balance = setBalance;
                  } else {
                    totalDoProduct += totalDistrict.qty
                  }
                }
              })
            })
            console.log(value);
            if(!isNaN(totalDoProduct)) {
              if(prod.reduce > 0 || prod.reduce < 0){
                if(parseFloat(setQty) !== parseFloat(value)){
                  if(value === 0){
                    console.log("xx1");
                    prod.reduce = setReduce-setQty;
                    prod.balance = setBalance+setQty;
                  } else {
                    console.log("xx2");
                    prod.reduce = parseFloat(totalDoProduct) + parseFloat(setReduce);
                    prod.balance = parseFloat(setBalance - parseFloat(totalDoProduct));
                  }
                } else {
                  console.log("xx3");
                  prod.reduce = parseFloat(setReduce)-parseFloat(setQty);
                  prod.balance = parseFloat(setBalance)+parseFloat(setQty);
                }
              } else {
                if(totalDoProduct === 0){
                  console.log("xx4");
                  prod.reduce = setReduce;
                  prod.balance = setBalance;
                } else {
                  console.log("xx5");
                  prod.reduce = parseFloat(totalDoProduct);
                  prod.balance = parseFloat(prod.qty) - parseFloat(totalDoProduct);
                }
              }
            }
          }
        })
      })
    },

    action(type, checkType) {
      this.loadingButton = true;
      let check = true;
      if(checkType === false){
        check = true;
      } else {
        this.dataInitf5.data.header.map((prod) => {
          if(prod.balance < 0) {
            check = false;
            return;
          }
        });
      }
      if(check) {
        this.save = [];
        this.dataInitf5.data.kecamatan.map(district => {
          district.retail.map(retail => {
            retail.product.map(product => {
              product.status = type;
              product.qty = parseFloat(product.qty);
              product.product_id = product.id;
              product.distrib_report_id = this.dataInitf5.header.id;
              product.report_f5_id = this.dataInitf5.header.report_f5_id;
              product.retail_id = retail.id;
              delete product.name;
              delete product.id;
              delete product.sales_unit_id;
              this.save.push(product);
            })
          })
        });

        if (this.save.length > 0) {
          this.axios.post('penyaluraninitialstockf5/item', this.save)
          .then((resp) => {
            toastr.success(resp.data.message);
            this.getDataDetail()
            this.loadingButton = false;
            // let access = encodeURIComponent(this.$route.params.access);
            // this.$router.push({path: '/'+access+'/laporan/initial-stok-f5'});
          })
          .catch((resp) => {
            if(resp.response.status === 400) {
              console.log(resp.response.data.message);
              for (var key in resp.response.data.message) {
                toastr.error(resp.response.data.message[key][0]);
                this.loadingButton = false;
              }
            } else {
              toastr.error(resp.response.data.message ,resp.response.data.exception);
              this.loadingButton = false;
            }
          })
        } else {
          toastr.warning("Lengkapi data yang kosong, sesuaikan kembali");
          this.loadingButton = false;
        }

      } else {
        toastr.warning("Data ketersediaan masih minus, sesuaikan kembali");
        this.loadingButton = false;
      }
      // console.log(this.save);
    }

  }
}
</script>

<style lang="css" scoped>
  .badge-primary {
      background-color: #1980F0 !important;
  }
  .box {
    border: 1px solid rgba(0, 0, 0, 0.1);
    flex: 1 1 auto;
    padding: 0.5rem;
    margin-bottom: 1rem;
  }

  .red {
    background-color: red;
  }

  .blue {
    background-color: #2983e7;
  }

  ol, ul, dl {
    margin-bottom: 0px !important;
  }
</style>
