<template>
  <tr class="filter">
    <th></th>
    <th>
      <input type="text" v-model="permentan.number" v-on:keyup="search()" class="form-control form-control-md" >
    </th>
    <th>
      <input type="text" v-model="permentan.produsen" v-on:keyup="search()" class="form-control form-control-md" >
    </th>
    <th>
      <year :reset="reset" @get-year="searchYear" :type="type"></year>
    </th>
    <th>
      <date-filter :reset="reset" @get-date="getDatePermentan" :type="type1"></date-filter>
    </th>
    <th>
      <date-filter :reset="reset" @get-date="getDateUpdatedPermentan" :type="type2"></date-filter>
    </th>
    <th>
      <status-filter :reset="reset" :checkedStatus="permentan.status" @get-check="searchTable" :label="btnStatus" :list="statusSearch"></status-filter>
    </th>
  </tr>
</template>

<script>
import Date from '../../filter/Date';
import Checklist from '../../filter/Checklist';
import Year from '../../filter/Year';

export default {
  props: ['reset'],
  data : function() {
    return {
      uriName: this.$auth.user().id+'_'+'search_'+this.$route.name,
      type1: 'date_permentan',
      type2: 'dateUpdated_permentan',
      btnStatus: 'cari status',
      type: 'validYear',
      statusSearch: [
        {name: 'Actived', value: 'y'},
        {name: 'Inactived', value: 'n'},
        {name: 'Partial Actived', value: 'z'},
      ],
      permentan: {
        number: null,
        produsen: null,
        year: null,
        created_at: null,
        updated_at: null,
        status: null
      }
    }
  },

  components: {
    DateFilter: Date,
    StatusFilter: Checklist, Year
  },

  watch: {
		reset: function(val){
			if(val === true) {
				this.resetFilter();
			}
		}
  },

  mounted() {
    var app = this;
    
    $(document).ready(function() {
      const getLocalSearch = JSON.parse(localStorage.getItem(app.uriName));
      setTimeout(() => {
          if (getLocalSearch !== null) {
              app.permentan = getLocalSearch;
              app.$emit("search-table", app.permentan);
          }
      },1000)
    });
  },
  
  methods: {
    searchYear(date = '') {
      if (date != '') {
        if (date != '') {
          this.permentan.year = {
            certain: (date.name === 'validYear' && date.dateType === 'certain') && date.data.from,
            from: (date.name === 'validYear' && date.dateType === 'range') && date.data.from,
            to: (date.name === 'validYear' && date.dateType === 'range') && date.data.to
          }
        } else {
          this.permentan.year = ''
        }
        this.search()
      }
    },
    getDatePermentan(date = '') {
      if (date != '') {
        if(date != '') {
          this.permentan.created_at = {
            certain: (date.name === 'date_permentan' && date.dateType === 'certain') && date.data.from,
            from: (date.name === 'date_permentan' && date.dateType === 'range') && date.data.from,
            to: (date.name === 'date_permentan' && date.dateType === 'range') && date.data.to
          }
        } else {
          this.permentan.created_at = ''
        }
        this.search()
      }
    },
    getDateUpdatedPermentan(date = '') {
      if (date != '') {
        if(date != '') {
          this.permentan.updated_at = {
            certain: (date.name === 'dateUpdated_permentan' && date.dateType === 'certain') && date.data.from,
            from: (date.name === 'dateUpdated_permentan' && date.dateType === 'range') && date.data.from,
            to: (date.name === 'dateUpdated_permentan' && date.dateType === 'range') && date.data.to
          }
        } else {
          this.permentan.updated_at = ''
        }
        this.search()
      }
    },
    searchTable(obj) {
      var status = obj.join(';')
      this.permentan.status = status
      this.search()
    },
    search() {
      event.preventDefault();
      localStorage.setItem(this.uriName, JSON.stringify(this.permentan));
      this.$emit("search-table", this.permentan);
    },
    resetFilter(){
      this.clearFilter(this.$route.name, this.permentan);
      this.search();
    }
  }

}
</script>
