<template lang="html">
  <div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group pull-right">
          <button v-if="access.C === true" type="button" @click="upload()" class="btn btn-primary square">
            <i class="fa fa-upload"></i>
            Upload
          </button>
          <a href="template-excel/permentan/Template_Permentan.xlsx" class="btn btn-primary square" target="_blank" ><i class="fa fa-download"></i> Download Template</a>
          <button type="button"class="btn btn-primary square" @click="download()" :disabled="loadBtnDownload" name="button"> <i class="fa fa-download"></i> Download</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 table-responsive">
        <table id="tablePermentan" class="table table-xs table-bordered table-striped display nowrap">
          <thead>
            <permentan-filter :reset="resetStatus" @search-table="searchTable"></permentan-filter>
            <tr>
              <th>
                <fieldset>
                  <label class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input check_all" value="all">
                    <span class="custom-control-indicator"></span>
                  </label>
                </fieldset>
              </th>
              <th>No Permentan</th>
              <th>Produsen</th>
              <th>Tahun</th>
              <th>Tanggal Buat</th>
              <th>Tanggal Ganti</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
    <div  v-if="accessComponent.A" class="row scroll-top">
         <div class="col-md-12">
          <div class="btn-group mr-1 mb-1 pull-right dropup">
            <button type="button" :disabled="loading.changeStatus" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i v-if="loading.changeStatus" class="fa fa-spin fa-refresh"></i>
              Aksi
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" @click="action('y')" href="#">Actived</a>
              <a class="dropdown-item" @click="action('n')" href="#">Inactived</a>
            </div>
          </div>
        </div>
    </div>
    <permentan-uploadform v-if="showFormUpload" @trigger-modal="triggerModal"></permentan-uploadform>
  </div>
</template>

<script>
import PermentanUploadform from './PermentanUploadform';
import PermentanFilter from './PermentanFilter';
export default {
  props: ['access'],
  data: function() {
    return {
      dt: '',
      check: [],
      loading:{
        changeStatus: false
      },
      accessComponent: (this.access != undefined) ? this.access : {},
      resetStatus: false,
      showFormUpload: false,
      permentan: {},
      loadBtnDownload : false,
    }
  },
   components: {
     PermentanFilter, PermentanUploadform
   },
   created() {
    if(this.access === undefined) {
      const encodeAccess = decodeURIComponent(this.$route.params.access);
      const decodeAccess = this.toText(this.decrypt(encodeAccess));
      const arrAccess = decodeAccess.split(",");
      console.log(this.access);
      if(arrAccess) {
        arrAccess.map((data) => {
          if(data === 'C' || data === 'R' || data === 'U' || data === 'D' || data === 'A') {
            this.accessComponent[data] = true
          } else {
            this.$router.push({path: '/home'});
            toastr.error('Tidak mempunyai akses halaman ini', 'Error');
          }
        })
      } else {
        this.$router.push({path: '/home'});
        toastr.error('Tidak mempunyai akses halaman ini', 'Error');
      }
    }
  },
   mounted() {
     var app = this;
     app.getDataTable();

     $("div.dataTables_length").append(' <button id="resetFilterPermentan" class="btn btn-sm btn-danger square"><i class="fa fa-times"></i> Reset Filter</button>');
     $(document).on("click", "#resetFilterPermentan", function(e){
      e.preventDefault()
      app.resetStatus = true;
      $('#resetFilterPermentan').prop('disabled', true);

      setTimeout(() => {
        app.resetStatus = false;
        $('#resetFilterPermentan').prop('disabled', false);
      }, 1000)
    })

     $(document).on("click", "#toDetail", function(e) {
       e.preventDefault();
       const uuid = encodeURIComponent($(this).data("uuid"))
       const year = encodeURIComponent($(this).data("year"))
       var access = app.$route.params.access;
       app.$router.push({path: '/'+encodeURIComponent(access)+'/alokasi/alokasi-provinsi/detail/'+uuid+'/'+year});
     })

     $(document).on("click", ".check_all", function(e){
        $('.check_box_table').not(this).prop('checked', this.checked);
        $('.check_box_table').not(this).each(function(index, el) {
          var value = {id: $(this).val()};
          if(this.checked){
            if(value != 'all' && !app.check.includes(value)){
              app.check.push(value);
            }
          } else {
            app.check = [];
          }
        });
      })

    $(document).on("click", "#check", function(e){
      var value = {id: $(this).val()};
      if(this.checked){
        app.check.push(value);
      } else {
        app.removeA(app.check, value.id);
      }
    })
   },
   methods: {
     action(type) {
      event.preventDefault();
      if(this.check.length != 0) {
        this.loading.changeStatus = true;
        this.check = this.check.map(data => {
          return data.id
        })
        this.check = {'status': type,'uuid': this.check};
        this.saveAction();
      } else {
        toastr.warning("Silahakan Pilih Data terlebih dahulu", "Warning")
      }
    },
    actionExist(){
      this.check.map((dt, ind) => {
        var exist = this.check[ind].id.includes(dt.id);
        if(exist){
          this.removeA(this.check, dt.id);
        }
      })
    },
    saveAction(){
      // this.actionExist();
      this.axios.put('permentan/status/update', this.check)
      .then((resp) => {
        toastr.success("Status berhasil di ubah", "Sukses")
        this.dt.draw();
      })
      .catch((resp) => {
        this.loading.changeStatus = false;
        // toastr.warning("Status gagal di ubah", "Gagal")
        // toastr.error(resp.response.data.message,'error')
        var warning="<ul>"; var flag_warning=false;
        $.each(resp.response.data.message,function(index,value){
            flag_warning=true;
            warning+="<li>"+value[0]+"</li>";
        });
        warning+="</ul>";
        if(flag_warning)
        {
          toastr.error(warning, 'Gagal Ubah Status');
        }
      })
      .then((resp) => {
        this.loading.changeStatus = false;
        this.check = [];
        $(".check_all").prop('checked', false);
        this.dt.draw();
      })
    },
    removeA(array, id) {
      var index = array.map(x => {
        return x.id;
      }).indexOf(id);
      array.splice(index, 1);
    },
     yearFrom(obj) {
      if(obj.year && obj.year.from && obj.year.to) {
        this.permentan.year = obj.year.from+';'+obj.year.to;
      } else if (obj.year && obj.year.certain) {
        this.permentan.year = obj.year.certain;
      } else {
        this.permentan.year = '';
      }
    },
     getDataTable() {
       var app = this;
       app.dt = $("#tablePermentan").DataTable({
         processing: true,
         serverSide: true,
         searching: false,
         "scrollY" : "50vh",
         "scrollCollapse": true,
         "order": [[ 3, 'desc' ]],
         "columnDefs": [
            { "orderable": false, "targets": 0 }
         ],
         lengthMenu: [
           [ 20, 50, 100, -1 ],
           [ '20 baris', '50 baris', '100 baris', 'Lihat Semua' ]
         ],
         "dom": 'Bltrip',
         "buttons": [
           {
             extend: 'excel',
             className: 'btn-danger square mb-1 DownloadPermentan',
             text: "Download"
           }
         ],
         ajax : {
           'url': '/api/permentan',
           'type': 'GET',
           'beforeSend': function (request) {
               var token = localStorage.getItem("default_auth_token");
               request.setRequestHeader("Authorization", "Bearer "+token);
               request.setRequestHeader("lang",  localStorage.getItem('app-lang'));
           },
           data: function(d){
             d.number = app.permentan.number
             d.produsen = app.permentan.produsen
             d.year = app.permentan.year
             d.created_at = app.permentan.created_at
             d.updated_at = app.permentan.updated_at
             d.status = app.permentan.status
           }
         },
         columns :[
            {
              data: 'uuid',
              render:function(data,t,f) {
                const check = '<fieldset>'+
                                '<label class="custom-control custom-checkbox">'+
                                  '<input type="checkbox" id="check" class="custom-control-input check_box_table" value="'+data+'">'+
                                  '<span class="custom-control-indicator"></span>'+
                                '</label>'+
                              '</fieldset>';
                return check;
              }
            },
           {
             data: 'number',name:'number',
             render: function(data, type, full) {
               const access = encodeURIComponent(app.$route.params.access);
               const link = `<a href="/#/${access}/alokasi/alokasi-provinsi/detail/${full.uuid}/${full.year}">${data}</a>`;
               return link;
             }
           },
           {data: 'sales_name', name: 'sales_name'},
           {data: 'year', name: 'year'},
           {data: 'created_at', name: 'created_at', render: function(data, type, full){
             return app.convertDate(data)
           }},
           {data: 'updated_at', name: 'updated_at', render: function(data, type, full){
             return app.convertDate(data)
           }},
           {data: 'status_name', name: 'status_name'}
         ]
       })
     },
     searchTable(obj) {
       this.permentan = obj;
       this.validDateCreate(obj);
       this.validDateUpdated(obj);
       this.yearFrom(obj);
       this.dt.draw();
     },
     validDateCreate(obj) {
       if(obj.created_at && obj.created_at.from && obj.created_at.to) {
         this.permentan.created_at = obj.created_at.from+';'+obj.created_at.to;
       } else if (obj.created_at && obj.created_at.certain) {
         this.permentan.created_at = obj.created_at.certain;
       } else {
         this.permentan.created_at = '';
       }
     },
     validDateUpdated(obj) {
       if(obj.updated_at && obj.updated_at.from && obj.updated_at.to) {
         this.permentan.updated_at = obj.updated_at.from+';'+obj.updated_at.to;
       } else if (obj.updated_at && obj.updated_at.certain) {
         this.permentan.updated_at = obj.updated_at.certain;
       } else {
         this.permentan.updated_at = '';
       }
     },
     upload() {
       this.showFormUpload = true;
     },
     download() {
       // $(".DownloadPermentan").trigger('click');
        this.loadBtnDownload = true;
        this.axios({
          url: 'permentan/download',
          params: {
            number : this.permentan.number,
            produsen : this.permentan.produsen,
            year : this.permentan.year,
            created_at : this.permentan.created_at,
            status : this.permentan.status,
          },
          method: 'GET',
          responseType: 'blob', // important
        }).then((response) => {
           const url = window.URL.createObjectURL(new Blob([response.data]));
           const link = document.createElement('a');
           link.href = url;
           link.setAttribute('download', 'Download Permentan.xls'); //or any other extension
           document.body.appendChild(link);
           link.click();
           this.loadBtnDownload = false;
        })
        .catch((resp) => {
          toastr.error("Gagal Download File", "Gagal") ;
          this.loadBtnDownload = false;      
        })
     },
     triggerModal() {
       this.showFormUpload = false
       this.dt.draw()
     }
   }
}
</script>

<style media="screen">
  .DownloadPermentan {
    display: none !important;
  }
  .scroll-top {
    position: fixed;
    right: 30px;
    bottom: 20px;
    z-index: 999;
    font-size: 22px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 30px;
  }
</style>
