<template lang="html">
  <div>
    <div class="modal fade" id="modalTableDetailSpjbAsal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Table Detail SPJB asal</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-12">
                <div class="pull-right">
                  <button v-if="access.C === true" type="button" class="btn btn-primary square" @click="formModal = !formModal">
                    Tambah
                  </button>
                  <button v-if="access.A === true" :disabled="loading.changeStatus" type="button" class="btn btn-primary square" @click="action('n')">
                    <i v-if="loading.changeStatus" class="fa fa-spin fa-refresh"></i>
                    Deaktif
                  </button>
                  <button v-if="access.A === true" :disabled="loading.changeStatus" type="button" class="btn btn-primary square" @click="action('y')">
                    <i v-if="loading.changeStatus" class="fa fa-spin fa-refresh"></i>
                    Aktif
                  </button>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="table-responsive">
                  <table id="tableDetailSpjbAsal" class="table table-xs table-bordered table-striped display nowrap">
                    <thead>
                      <tr>
                        <th>
                          <fieldset>
                            <label class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input check_all_spjb_asal" value="all">
                              <span class="custom-control-indicator"></span>
                            </label>
                          </fieldset>
                        </th>
                        <th>Produsen</th>
                        <th>Distributor</th>
                        <th>Provinsi</th>
                        <th>Kota/Kabupaten</th>
                        <th>Kecamatan</th>
                        <th>Tahun</th>
                        <th>Bulan</th>
                        <th>Produk</th>
                        <th>Alokasi</th>
                        <th>Status</th>
                        <th>Aksi</th>
                      </tr>
                    </thead>
                    <tbody>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            
          </div>
        </div>
      </div>
    </div>
    <form-spjb-asal v-if="formModal" :id="toTable.id" :noSpjb="noSpjb" :dataProdusen="dataProdusen" :dataDistributor="dataDistributor" :dataProvinsi="dataProvinsi" :uuid="uuid" @trigger-modal="triggerModal"></form-spjb-asal>
  </div>
</template>

<script>
import Form from './Form';
export default {
  props: ['toTable', 'access'],
  data: function(){
    return {
      dt: null,
      loading: {
        changeStatus: false
      },
      check: [],
      uuid: null,
      formModal: false,
      dataProvinsi: this.toTable.provinsi,
      dataKabupaten: {},
      dataProdusen: this.toTable.produsen,
      dataDistributor: this.toTable.distributor,
      noSpjb: this.toTable.no_spjb
    }
  },
  components: {
    formSpjbAsal: Form
  },
  mounted() {
    var app = this;

    $("#modalTableDetailSpjbAsal").modal("show");
    $("#modalTableDetailSpjbAsal").on("hidden.bs.modal", function(){
      app.closeModal();
    });
    $(document).on("click", ".check_all_spjb_asal", function(e){
      $('.check_list_spjb_asal').not(this).prop('checked', this.checked);
      $('.check_list_spjb_asal').not(this).each(function(index, el) {
        var value = {id: $(this).val()};
        if(this.checked){
          if(value != 'all' && !app.check.includes(value)){
            app.check.push(value);
          }
        } else {
          app.check = [];
        }
      });
    })
    $(document).on("click", "#check_spjb_asal", function(e){
      var value = {id: $(this).val()};
      if(this.checked){
        app.check.push(value);
      } else {
        app.removeA(app.check, value.id);
      }
    })
    $(document).on("click", "#editDetailSpjbAsal", function(e) {
      e.preventDefault();
      let uuid = $(this).data("uuid");
      app.uuid = uuid;
      app.dataProvinsi = {
        id: $(this).data("sales_office_id"),
        name: $(this).data("sales_office_name")
      }
      app.dataDistributor = {
        id: $(this).data("customer_id"),
        name: $(this).data("customer_name")
      }
      app.dataProdusen = {
        id: $(this).data("sales_org_id"),
        name: $(this).data("sales_org_name")
      }
      app.formModal = true;
    })
    app.tableDetailSpjbAsal();
  },
  methods: {
    numberFormat(value) {
      value = value.toString();
      return this.numberEngine(value)
    },
    numberEngine(n, c, d, t) {
      var c = isNaN(c = Math.abs(c)) ? 2 : c,
        d = d == undefined ? "," : d,
        t = t == undefined ? "." : t,
        s = n < 0 ? "-" : "",
        i = String(parseInt(n = Math.abs(Number(n) || 0).toFixed(c))),
        j = (j = i.length) > 3 ? j % 3 : 0;

      return s + (j ? i.substr(0, j) + t : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : "");
    },
    closeModal() {
      this.$emit("trigger-modal", true);
    },
    triggerModal() {
      this.formModal = false
      $("body").addClass('modal-open');
      this.dt.draw();
      this.uuid = null;
    },
    action(type) {
      event.preventDefault();
      this.loading.changeStatus = true;
      this.check = this.check.map(data => {
        return {id: data.id, status: type}
      })
      this.saveAction();
    },
    saveAction() {
      this.axios.post('spjb/item/update/bulk', this.check)
      .then((resp) => {
        toastr.success("Status berhasil di ubah", "Sukses")
        this.loading.changeStatus = false;
        this.dt.draw();
        this.check = [];
        $(".check_all_spjb_asal").prop('checked', false);
      })
      .catch((resp) => {
        toastr.warning("Status gagal di ubah", "Gagal")
        toastr.error(resp.response.data.message, "Pesan")
        this.loading.changeStatus = false;
        this.dt.draw();
        this.check = [];
        $(".check_all_spjb_asal").prop('checked', false);
      })
    },
    removeA(array, id) {
      var index = array.map(x => {
        return x.id;
      }).indexOf(id);
      array.splice(index, 1);
    },
    tableDetailSpjbAsal() {
      var app = this;
      app.dt = $("#tableDetailSpjbAsal").DataTable({
        processing: true,
        serverSide: true,
        searching: false,
        lengthMenu: [
          [ 20, 50, 100, -1 ],
          [ '20 baris', '50 baris', '100 baris', 'Lihat Semua' ]
        ],
        ajax : {
          'url': '/api/spjb/item/'+app.$route.params.uuid,
          'type': 'GET',
          'beforeSend': function (request) {
              var token = localStorage.getItem("default_auth_token");
              request.setRequestHeader("Authorization", "Bearer "+token);
              request.setRequestHeader("lang",  localStorage.getItem('app-lang'));
          },
          data: function(d){}
        },
        "columnDefs": [
          { "orderable": false, "targets": 0 }
        ],
        columns :[
          {
            data: 'uuid',
            render: function(data, type, full) {
              const check = '<fieldset>'+
                              '<label class="custom-control custom-checkbox">'+
                                '<input type="checkbox" id="check_spjb_asal" class="custom-control-input check_list_spjb_asal" value="'+data+'">'+
                                '<span class="custom-control-indicator"></span>'+
                              '</label>'+
                            '</fieldset>';
              return check;
            }
          },
          {data: 'sales_org_name',name: 'sales_org_name'},
          {data: 'customer_name', name: 'customer_name'},
          {data: 'sales_office_name', name: 'sales_office_name'},
          {data: 'sales_group_name', name: 'sales_group_name'},
          {data: 'sales_unit_name', name: 'sales_unit_name'},
          {data: 'year', name: 'year'},
          {data: 'month', name: 'month'},
          {data: 'product_name', name: 'product_name'},
          // {data: 'initial_qty', name: 'initial_qty'},
          { data: 'initial_qty', render : function(data, type, full){ return app.numberFormat(data); } },
          {data: 'status_name', name: 'status_name'},
          {
            data: 'status_name',
            render: function(data, type, full) {
              let buttonEdit = '';
              if(data == 'Inactive'){
                buttonEdit = 'Edit';
              } else {
                buttonEdit = '<a href="#" data-uuid="'+full.uuid+'" '+
                             ' data-sales_office_name="'+full.sales_office_name+'" '+
                             ' data-sales_office_id="'+full.sales_office_id+'" '+
                             ' data-customer_name="'+full.customer_name+'" '+
                             ' data-customer_id="'+full.customer_id+'" '+
                             ' data-sales_org_name="'+full.sales_org_name+'" '+
                             ' data-sales_org_id="'+full.sales_org_id+'" '+
                             ' id="editDetailSpjbAsal">Edit</a>';
              }
              return buttonEdit;
            }
          },
        ]
      })
      new $.fn.dataTable.FixedColumns(app.dt, {
          leftColumns: 2
      });
    },
  }
}
</script>

<style lang="css" scoped>
</style>
