<template>
    <tr>
        <th> Nomor DO </th>
        <th>Nomor Sales Order</th>
        <th>Deliver Item</th>
        <th>Nomor Material</th>
        <th>Deskripsi Material</th>
        <th>Material Group</th>
        <th>Sales Organization</th>
        <th>Distribution Channel</th>
        <th>Division</th>
        <th>Sales Office</th>
        <th>Deskripsi Sales Office</th>
        <th>Sales Group</th>
        <th>Deskripsi Sales Group</th>
        <th>SO Legacy</th>
        <th>Kode Kecamatan SO</th>
        <th>Kecamatan SO</th>
        <th>Distributor</th>
        <th>Nama Distributor</th>
        <th>Provinsi Distributor</th>
        <th>Kabupaten Distributor</th>
        <th>Provinsi Tujuan</th>
        <th>Deskripsi Provinsi Tujuan</th>
        <th>Negara Tujuan</th>
        <th>Deskripsi Negara Tujuan</th>
        <th>Nomor Kontrak</th>
        <th>Tanggal Mulai Kontrak</th>
        <th>Tanggal Berakhir Kontrak</th>
        <th>Tanggal SO Dibuat</th>
        <th>Tanggal SO Released</th>
        <th>Payment Term</th>
        <th>Payment Term Day</th>
        <th>Payment Method</th>
        <th>Payment Method Desc</th>
        <th>Batas Akhir Pengambilan</th>
        <th>Quantity SO</th>
        <th>Unit Of Measure</th>
        <th>Kode Gudang</th>
        <th>Gudang Pengambilan</th>
        <th>Quantity DO</th>
        <th>Tanggal Doc. DO</th>
        <th>Tanggal PGI</th>
        <th>Goods Issue Status</th>
        <th>PGI Qty</th>
        <th>Sektor</th>
        <th>No. Billing</th>
        <th>Billing Date</th>
        <th>Status DO</th>
        <th>Status SO</th>
        <th>Alat Angkut</th>
        <th>Nomor Identitas Alat Angkut</th>
        <th>ETA</th>
        <th>Pengemudi</th>
        <th>Remarks</th>
        <th>B/L Number</th>
        <th>Nomor SPE</th>
        <th>Sisa SPE</th>
        <th>SO Type</th>
        <th>SO Type Desc</th>
        <th>DO Type</th>
        <th>DO Type Description</th>
        <th>Provinsi Gudang</th>
        <th>Kabupaten Gudang</th>
        <th>End User / Pengecer</th>
        <th>NO. PO</th>
        <th>Tanggal PO</th>
        <th>SO Created By</th>
        <th>DO Created By</th>
        <th>Penerima</th>
        <th>POD Status</th>
        <th>POD Desc</th>
        <th>Incoterm 1</th>
        <th>Incoterm 2</th>
        <th>Shipment Planing Status</th>
        <th>Shipment Planing Status desc</th>
        <th>POD Date</th>
        <th>Mata Uang</th>
        <th>Billing Quantity</th>
        <th>Billing Net </th>
        <th>Billing Tax</th>
        <th>Tanggal Last Chg DO</th>
        <th>Alokasi Opr SPJB</th>
    </tr>
</template>

<script>
export default {
    data: () => {
        return {}
    }
}
</script>

<style>

</style>
