<template>
  <div>
    <div class="modal fade" id="uploadExcelModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Upload data</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="">Upload Data {{title}}</label>
              <input type="file" ref="file" class="form-control" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" @change="handleFileUpload()">
              <p class="help-block">File harus berformat xlsx</p>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
            <button type="button" v-if="checktype == true" class="btn btn-primary" :disabled="loading" @click="uploadSave()">
              <i v-if="loading" class="fa fa-spin fa-refresh"></i>
              Start Upload
            </button>
           </div>
         </div>
       </div>
     </div>
  </div>
</template>

<script>
export default {
  props: ['title', 'type'],
  data: function(){
    return {
      showFormUpload: false,
      excelFile: '',
      file: '',
      loading: false,
      checktype: true,
      dataUpload: [],
      error: false,
      errors: {},
      modalType: null
    }
  },
  created() {
    axios.interceptors.request.use((config) => {
      this.loading = true;
      return config;
    }, (error) => {
      this.loading = false;
      return Promise.reject(error);
    });

    axios.interceptors.response.use((response) => {
      this.loading = false;
      return response;
    }, (error) => {
      this.loading = false;
      return Promise.reject(error);
    });
  },
  mounted(){
    var app = this;
    $("#uploadExcelModal").modal("show");
    $('#uploadExcelModal').on('hidden.bs.modal', function () {
      app.closeModal();
    })
  },
  components:{
    // formUpload
  },
  methods:{
    closeModal() {
      this.$emit("trigger-modal-upload", 'RefreshTable');
    },
    uploadSave() {
      event.preventDefault();
      let api_url = '';
      let app = this;
      let formData = new FormData();
      formData.append('file', this.excelFile);
      // console.log(formData);
      if (this.type == 'F5') {
        api_url = 'initialstockf5/upload';
      } else if (this.type == 'F6') {
        api_url = 'upload';
      }
      axios.post(api_url, formData, {headers : {'Content-Type' : 'multipart/form-data'}})
      .then((resp) => {
        toastr.success('Succes Uploaded', 'Import excel');
        $("#uploadExcelModal").modal("hide");
        this.error = false;
      })
      .catch((resp) => {
        let msg = resp.response.data.message;
        let data = resp.response.data.data;
        let showErrorMessage = '';
        let showErrorList  = '';
        showErrorMessage += msg;
        // console.log(msg.customer_id[0]);
        const baris = resp.response.data.errors;
        if(data){
          const customer_id = (data.customer_id) ? '<li>'+data.customer_id+'</li>' : '';
          const month = (data.month) ? '<li>'+data.month+'</li>' : '';
          const sales_group_id = (data.sales_group_id) ? '<li>'+data.sales_group_id+'</li>' : '';
          const sales_office_id = (data.sales_office_id) ? '<li>'+data.sales_office_id+'</li>' : '';
          const sales_org_id = (data.sales_org_id) ? '<li>'+data.sales_org_id+'</li>' : '';
          const type = (data.type) ? '<li>'+data.type+'</li>' : '';
          const file = (data.file) ? '<li>'+data.file+'</li>' : '';
          const report_f5 = (data.report_f5) ? '<li>'+data.report_f5+'</li>' : '';
          toastr.error(
            '<ul>'+
              customer_id+
              month+
              sales_group_id+
              sales_office_id+
              sales_org_id+
              file+
              type+
              report_f5+
            '</ul>',
            'Mohon Periksa Baris Ke : '+baris
          )
        }
        if (msg.file[0]) {
          toastr.error(msg.file[0], "Erorr");
        }
      })
      .then((resp) => { console.log(resp); })
    },
    triggerModal() {
      this.showFormUpload = false;
      $("#uploadExcelModal").modal("hide");
    },
    handleFileUpload(){
      if (this.$refs.file.files[0] != '') {
        this.checkfile(this.$refs.file.files[0]);
        // console.log(this.$refs.file.files[0]);
        this.excelFile = this.$refs.file.files[0];
        this.file = this;
      }
    },
    checkfile(sender) {
        var validExts = new Array(".xlsx", ".xls");
        var fileExt = sender.name;
        fileExt = fileExt.substring(fileExt.lastIndexOf('.'));
        if (validExts.indexOf(fileExt) < 0) {
          alert("Invalid file selected, valid files are of " +
                   validExts.toString() + " types.");
          this.checktype = false;
        }
        else this.checktype = true;
    }
  }
}
</script>

<style lang="css">
</style>
